<div class="manager">
  <div class="top-bar">
    <h2>{{"owners_managers.manager-button" | translate}}</h2>
    <div class="search-bar" style="display:none">
      <span class="search-icon"><img src="/assets/base/images/owners-managers/search.png" alt=""></span>
      <input type="text" value="" placeholder="{{'owners_managers.search_for_team' | translate}}">
    </div>
  </div>

  <div class="team-holder">
    <div class="team-item"  *ngFor="let tt of teams | sortmain: '!position'">         
        <div class="anim-helper">
          <div class="inner-holder" [ngClass]="'team' + tt?.id">
              <div class="joined" [ngClass]="tt.name" *ngIf="tt.me_waiting_as_manager === 'WAITING'">
                  <span>
                      <p> <strong>✓</strong> Currently waiting</p>
                  </span>
              </div>
              <div class="joined" [ngClass]="tt.name" *ngIf="tt.me_waiting_as_manager === 'APPROVED'">
                <span>
                    <p> <strong>✓</strong> Approved</p>
                </span>
            </div>
            <div class="joined" [ngClass]="tt.name" *ngIf="tt.me_waiting_as_manager === 'DECLINED'">
              <span>
                  <p> <strong>X</strong> Rejected</p>
              </span>
            </div>
              <div class="img-holder">
                  <img [src]="'/assets/base/images/teams/' + tt?.name + '-team.png'" alt="">
              </div>
              <p class="heading">Team {{tt?.name}}</p>
              <div class="item-holder">
                  <p class="desc">Total members</p>
                  <p class="value">{{tt?.active_members}}</p>
              </div>
              <div class="item-holder">
                  <p class="desc">Premium members</p>
                  <p class="value">{{tt?.premium_membership_count}}</p>
              </div>
              <div class="item-holder">
                  <p class="desc">Free members</p>
                  <p class="value">{{tt?.free_membership_count}}</p>
              </div>
              <div class="item-holder">
                <p class="desc">Owner</p>
                <p class="value" *ngIf="tt?.owners.length === 0">-</p>
                <p class="value" *ngIf="tt?.owners.length > 0">
                    <span class="arrow left" *ngIf="tt?.owners.length > 1 && ownerIndex !== 0" (click)="ownerIndex = ownerIndex - 1">&lt;</span> 
                    {{tt?.owners[ownerIndex].user_nickname}} 
                    <span class="arrow right" *ngIf="tt?.owners.length > 1 && ownerIndex !== tt?.owners.length" (click)="ownerIndex = ownerIndex + 1">&gt;</span>
                </p>
            </div>
            <div class="item-holder">
                <p class="desc">Manager</p>
                <p class="value" *ngIf="tt?.manager_user_nickname">{{tt?.manager_user_nickname}}</p>
                <p class="value" *ngIf="!tt?.manager_user_nickname">-</p>
            </div>
  
            <div class="reward-box" [ngClass]="tt.name">
                <div class="inner-box">
                  <p><i class="fa fa-trophy"></i> <span> {{tt.current_team_bonus | number:'1.2-2':'fr'}} IOI</span> actual reward</p>
                </div>
            </div>
        
            <a class="join-button" (click)="becomeManager(tt.id)" *ngIf="myDriverBalances.game_wallet_ioi >= 1000">
                  <span class="inner">{{'teams.join.apply' | translate}}</span>
              </a>

              <a class="join-button active" [routerLink]="['/other/wallet-control']" [queryParams]="{ controlType: 'deposit' }" *ngIf="myDriverBalances.game_wallet_ioi < 1000">
                  <span class="inner">{{'shared.deposit_btn' | translate}}</span>
              </a>
               
            </div>
        </div>
        
    </div>
    
  </div>

  
</div>
