<div class="manager">
  <div class="top-bar">
    <h2>{{"owners_managers.manager-button" | translate}}</h2>
    <div class="search-bar" style="display:none">
      <span class="search-icon"><img src="/assets/base/images/owners-managers/search.png" alt=""></span>
      <input type="text" value="" placeholder="{{'owners_managers.search_for_team' | translate}}">
    </div>
  </div>

<div class="team-holder">
    <div class="arrows">
      <div class="arrow-left">
        &lt;
      </div>
      <div class="arrow-right active-arrow">
        &gt;
      </div>
    </div>
    <div class="team-item ioi-team" *ngFor="let team of teams">
           
      <div class="joined" *ngIf="team.me_waiting_as_manager === 'WAITING'">
        <span>
            <p> <strong>&#x02713;</strong> {{'teams.join.waiting_approval' | translate}}</p>
        </span>
    </div> 
      <div class="joined" *ngIf="team.me_waiting_as_manager === 'APPROVED'">
        <span>
            <p> <strong>&#x02713;</strong> Approved</p>
        </span>
    </div>           
      <div class="rejected" *ngIf="team.me_waiting_as_manager === 'DECLINED'">
        <span>
            <p> <strong>&#x02713;</strong> Rejected</p>
        </span>
    </div>
        <div class="img-holder">
            <img [src]="'/assets/base/images/teams/' + team.name + '-team.png'" alt="">
            <!--<img [src]="'/assets/base/images/teams/' + tt?.name + '-team.png'" alt="">-->
        </div>
        <!--<p class="heading">Team {{tt?.name}}</p>-->
        <p class="heading">Team {{team.name}}</p>
        <div class="item-holder">
            <p class="desc">{{'teams.join.total_members' | translate}}</p>
            <!--<p class="value">{{tt?.active_members}}</p>-->
            <p class="value">{{team?.active_members}}</p>
        </div>
        <div class="item-holder">
            <p class="desc">{{'teams.join.premium_members' | translate}}</p>
            <p class="value">{{team?.premium_membership_count}}</p>
        </div>
        <div class="item-holder">
            <p class="desc">{{'teams.join.free_members' | translate}}</p>
            <p class="value">{{team?.free_membership_count}}</p>
        </div>
        <div class="apply-button">
          <button (click)="becomeManager(team.id)" [disabled]="team.me_waiting_as_manager !== 'NONE'">
            <span>
              {{'teams.join.apply' | translate}}
            </span>
          </button>
        </div>    
    </div>

    
    
</div>

  
</div>
