.button {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-size: 14px;
    padding: 0;
    outline: 0;
    border: 0;
    background-color: transparent;
    font-weight: 500;
}

.button:focus {
    outline: none;
}

.button.primary,
.button.secondary ,
.button.large{
    width: 150px;
    height: 50px;
    line-height: 50px;
}


.cta-button{
    min-width: 160px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    margin: 5px auto 7px;
    display: block;
    font-size: 20px;
    color: white;
    position: relative;
    z-index: 1;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.cta-button::before{
    content: '';
    width: 161px;
    height: 70px;
    background-position: center;
    position: absolute;
    top: -10px;
    left: -5px;
    z-index: -1;
}
.cta-button.hoverable{
    cursor: pointer;
}
.cta-button.hoverable::before{
    transition: 0.2s;
}

