.main-holder {
  background: url("/assets/base/images/binary-race/main-back.jpg") center
    no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.race-menu {
  width: 100%;
  height: 86px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 46px;
  position: relative;
  z-index: 100;
  .mobile-handler {
    height: 100%;
  }
  .menu-logo {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .beta-disclaim {
      margin: 0 0px -33px 10px;
      font-size: 15px;
      font-family: Earth Orbiter;
      line-height: 1;
      font-weight: 700;
      span {
        position: relative;
        right: -7px;
        font-family: Earth Orbiter;
        line-height: 1;
        font-weight: 700;
      }
    }
  }
  .overview {
    pointer-events: all;
    z-index: 1000002;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-right: 30px;
    .online-box {
      margin-right: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      border-radius: 15px;
      width: 160px;
      img {
        margin-right: 10px;
      }
      p {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        &.desc {
          margin-left: 20px;
        }
      }
    }
    .my-mobile-button {
      width: 33px;
      height: 24px;
      position: relative;
      margin: 0 10px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      display: none;
      span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
      }
      span:nth-child(1) {
        top: 0px;
      }
      span:nth-child(2),
      span:nth-child(3) {
        top: 10px;
      }
      span:nth-child(4) {
        top: 20px;
      }
      &.open {
        span:nth-child(1) {
          top: 10px;
          width: 0%;
          left: 50%;
        }
        span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        span:nth-child(4) {
          top: 10px;
          width: 0%;
          left: 50%;
        }
      }
    }
    .overview-item {
      width: 181px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      position: relative;
      z-index: 1;
      margin-right: 20px;
      &.profile-cont {
        margin-right: 0;
        .value-box {
          justify-content: center;
          p {
            &.value {
              width: 100%;
            }
          }
        }
      }
      .bubble-holder {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        background: linear-gradient(139.48deg, #8247e5 2.87%, #222222 56.79%);
        &.ioi {
          background: linear-gradient(139.48deg, #0098d9 2.87%, #222222 56.79%);
        }
        &.profile {
          background: linear-gradient(139.48deg, #8c1a2d 2.81%, #222222 72.36%);
          overflow: hidden;
          img {
            max-width: 100%;
          }
        }
        img {
          max-width: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .value-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 50px;
        height: 40px;
        padding: 0 20px 0 50px;
        width: 100%;
        position: absolute;
        left: 0;
        p {
          margin: 0;
          font-weight: bold;
          font-size: 16px;
          &.number {
            width: calc(100% - 23px);
            text-align: center;
            white-space: nowrap;
          }
          &.add {
            opacity: 0.4;
            font-weight: 400;
            padding-left: 12px;
          }
        }
      }
    }
    .switch-btn {
      margin-left: 50px;
      padding: 10px;
    }
  }
  .my-mobile-button {
    display: none;
  }
}

.modal-component {
  width: 95%;
  max-width: 1000px;
  height: 622px;
  background: rgba(17, 17, 17, 0.6);
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

:host {
  width: 100%;
  height: 100%;
}
.cont-holder {
  width: 100%;
  height: 100%;
  &.step1 {
    .heading-holder {
      width: 100%;
      max-width: 360px;
      margin: 46px auto 24px;
      p {
        margin: 0;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        span {
          color: #00D1FF;
          font-size: 36px;
          font-family: 'Earth Orbiter';
          line-height: 1;
          font-weight: 400;
          margin-left: 10px;
        }
      }
    }
    .race-desc {
      width: 100%;
      max-width: 620px;
      font-size: 16px;
      line-height: 1.3;
      margin: 0 auto 24px;
      text-align: center;
    }
    .items-holder {
      width: 100%;
      max-width: 710px;
      height: 229px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto 30px;
      .box-item {
        height: 100%;
        width: 32%;
        background: linear-gradient(
          to bottom right,
          #23ffff 0%,
          rgba(254, 24, 63, 0) 60%
        );
        padding: 1px;

        .inner {
          padding: 10px 22px;

          background: rgba(34, 34, 34, 0.7);
          width: 100%;
          height: 100%;
          .img-holder {
            width: 100%;
            height: 125px;
            position: relative;
            img {
              position: absolute;
              top: 48%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .desc {
            font-weight: 500;
            font-size: 16px;
            margin: 0;
            text-align: center;
          }
        }
      }
    }
    .play-btn {
      background: linear-gradient(236.12deg, #00f0ff 6%, #0098d9 102.68%);

      font-weight: 500;
      font-size: 16px;
      padding: 12px 45px;
      display: block;
      margin: 0 auto 30px;
      transition: 0.2s;
      &:hover {
        box-shadow: 0px 0px 50px rgba(254, 23, 63, 0.4);
      }
      img {
        margin-right: 10px;
      }
    }
    .disclaim {
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      margin: 0;
      color: #868686;
    }
  }
  &.step2,
  &.step3 {
    .heading-holder {
      text-align: center;
      margin: 47px 0 40px;
      h3 {
        font-weight: 800;
        font-size: 24px;
        margin: 0 0 4px 0;
      }
      p {
        font-weight: 500;
        font-size: 16px;
      }
    }
    .btns-holder {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 45px;
      margin: 36px 0 0 0;
      button {
        height: 100%;
        width: 190px;
        margin: 0 5px;

        font-size: 16px;
        transition: 0.15s;
        &.back {
          font-weight: 500;
          border: 1px solid #00D1FF;
          background: rgba(17, 17, 17, 0.6);
          &:hover {
            background: #2c5a65;
          }
        }
        &.continue {
          background: linear-gradient(
            236.12deg
            , #00F0FF 6%, #0098D9 102.68%, #0098D9 102.68%);
          &:hover {
            box-shadow: 0px 0px 50px rgba(0, 208, 255, 0.7);
          }
          &.loading {
            background: white;
            color: #222222;
            img {
              margin-right: 8px;
              animation-iteration-count: infinite;
              animation-fill-mode: both;
              animation-name: loadingRotate;
              animation-duration: 3s;
            }
          }
        }
        &.disabled {
          opacity: 0.6;
          cursor: default;
        }
      }
    }
  }
  &.step2 {
    .racers-holder {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;
      height: 358px;
      .racer-item {
        width: 30%;
        max-width: 229px;
        margin: 0 5px;
        background: #ffffff;

        height: 100%;
        position: relative;
        transition: 0.15s;
        &:hover {
          background: #bdf3ff;
        }
        &.active {
          background: #00D1FF;
          .racer-info {
            .name {
              .item-name {
                color: white;
              }
            }
            .choose-btn {
              color: #24e3fe;
              &::before {
                opacity: 0;
              }
            }
          }
        }
        &.locked {
          .img-holder {
            .racer-img {
              opacity: 0.3;
            }
            .locked-avatar {
              display: block;
            }
          }
        }
        .img-holder {
          position: relative;
          width: 100%;
          .racer-img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            max-width: unset;
            width: 131%;
            z-index: 1;
          }
          .locked-avatar {
            width: 100%;
            max-width: 165px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            text-align: center;
            display: none;
            p {
              color: #222222;
              font-weight: 600;
              font-size: 15px;
              margin: 13px 0 0;
            }
          }
        }
        .racer-info {
          width: 100%;
          padding: 0 13px 13px;
          position: absolute;
          bottom: 0;
          left: 0;
          .name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 5;
            .item-name {
              font-family: "Earth Orbiter";
              font-size: 22px;
              margin: 0;
              color: #00D1FF;
              transition: 0.15s;
              font-weight: 700;
            }
            .bet-box {
              display: none;
              width: 45px;
              height: 45px;
              background: #ebebeb;

              position: relative;
              p {
                color: #222222;
                font-weight: 500;
                font-size: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
                white-space: nowrap;
              }
            }
          }
          .choose-btn {
            background: white;
            height: 45px;
            font-weight: 500;
            font-size: 16px;
            width: 100%;
            margin-top: 4px;
            transition: 0.15s;
            position: relative;
            z-index: 1;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: linear-gradient(236.12deg, #00F0FF 6%, #0098D9 102.68%, #0098D9 102.68%);
              z-index: -1;
              opacity: 1;
              transition: 0.15s;
            }
          }
        }
      }
      .arrow {
        position: absolute;
        top: 50%;
        width: 4%;
        max-width: 50px;
        height: 80px;
        background: #111111;
        cursor: pointer;
        user-select: none;
        transform: translateY(-50%);
        z-index: 10;
        &.inactive {
          cursor: default;
          p {
            color: #222222;
          }
        }
        &.left {
          left: 0;
        }
        &.right {
          right: 0;
        }
        p {
          font-size: 25px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  &.step3 {
    .big-avatar {
      position: absolute;
      top: 50%;
      max-height: 110%;
      width: auto;
      &.mine {
        left: -10px;
        transform: translate(-80%, -50%);
      }
      &.rival {
        right: -10px;
        transform: translate(80%, -50%);
      }
    }
    .racers-holder {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;
      height: 358px;
      .racer-item {
        width: 30%;
        max-width: 229px;
        margin: 0 5px;
        background: #ffffff;

        height: 100%;
        position: relative;
        transition: 0.15s;
        &:hover {
          background: #bdf3ff;
        }
        &.mine {
          background: #00D1FF;
          .racer-info {
            .name {
              .item-name {
                color: white;
              }
            }
          }
        }
        &.hollow {
          .img-holder {
            .racer-img {
              opacity: 0.3;
            }
          }
          .racer-info {
            .name-sheet {
              background: #ebebeb;
            }
          }
          &.loading{
            .img-holder{
              .racer-img{
                opacity: .15;
              }
            }
          }
        }
        &.rival {
          background: #00d1ff;
          .racer-info {
            .name {
              .item-name {
                color: white;
              }
            }
          }
        }
        .status-img {
          position: absolute;
          top: 15px;
          right: 15px;
          z-index: 5;
        }
        .img-holder {
          position: relative;
          width: 100%;
          .racer-img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            max-width: unset;
            width: 131%;
            z-index: 1;
          }
          .locked-avatar {
            width: 100%;
            max-width: 165px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            text-align: center;
            display: none;
            p {
              color: #222222;
              font-weight: 600;
              font-size: 15px;
              margin: 13px 0 0;
            }
          }
        }
        .loading-text{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
          text-align: center;
          img{
            animation-iteration-count: infinite;
            animation-fill-mode: both;
            animation-name: loadingRotate;
            animation-duration: 3s;
          }
          p{
            margin: 0;
            &.heading{
              color: #4F4F4F;
              font-size: 20px;
              font-weight: 700;
              margin: 40px 0 20px;
            }
            &.text{
              color: #4F4F4F;
              opacity: 0.6;
              font-weight: 500;
              font-size: 16px;
            }
          }
        }
        .racer-info {
          width: 100%;
          padding: 0 13px 13px;
          position: absolute;
          bottom: 0;
          left: 0;
          .name {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 5;
            .item-name {
              font-family: "Earth Orbiter";
              font-size: 24px;
              margin: 0;
              color: #fe183f;
              transition: 0.15s;
              position: relative;
              z-index: 3;
            }
            .bet-box {
              width: 45px;
              height: 45px;
              background: #ebebeb;

              position: relative;
              p {
                color: #222222;
                font-weight: 500;
                font-size: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
                white-space: nowrap;
              }
            }
          }
          .name-sheet {
            background: white;

            height: 45px;
            font-weight: 500;
            font-size: 16px;
            width: 100%;
            margin-top: 4px;
            transition: 0.15s;
            color: #222222;
          }
        }
      }
    }
  }
}

@-webkit-keyframes loadingRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1700px) {
  .race-menu {
    height: 75px;
    padding: 0 0 0 40px;
    .menu-logo {
      width: 65px;
    }
    .center-items {
      .small-box {
        padding: 6px 17px;
        height: 44px;
        img {
          max-height: 18px;
        }
        p {
          margin: 0 0 0 11px;
          font-size: 15px;
        }
      }
    }
    .right-items {
      .name-holder {
        margin-right: 15px;
        .avatar {
          width: 60px;
          height: 60px;
        }
      }
      .switch-btn {
        width: 78px;
        img {
          height: 20px;
        }
      }
    }
  }
  .bottom-box {
    height: 90px;
  }
  .modal-component {
    height: 570px;
    top: 48%;
    width: 63%;
    .cont-holder {
      &.step1 {
        .heading-holder {
          margin: 40px auto 20px;
          max-width: 330px;
          p {
            font-size: 22px;
            span {
              font-size: 33px;
            }
          }
        }
        .race-desc {
          font-size: 15px;
          margin: 0 auto 20px;
          max-width: 591px;
        }
        .items-holder {
          height: 209px;
          margin: 0 auto 26px;
          max-width: 660px;
          .box-item {
            .inner {
              .img-holder {
                height: 109px;
                img {
                  max-height: 54px;
                  &.big-img {
                    max-height: 41px;
                  }
                }
              }
              .desc {
                font-size: 15px;
              }
            }
          }
        }
        .play-btn {
          font-size: 15px;
          img {
            width: 16px;
          }
        }
      }
      &.step2,
      &.step3 {
        .heading-holder {
          margin: 40px 0 35px;
          h3 {
            font-size: 22px;
          }
          p {
            font-size: 15px;
          }
        }
        .btns-holder {
          height: 42px;
          margin: 32px 0 0 0;
          button {
            font-size: 15px;
          }
        }
      }
      &.step2 {
        .racers-holder {
          height: 340px;
          .racer-item {
            max-width: 210px;
            .img-holder {
              .locked-avatar {
                max-width: 150px;
                img {
                  width: 22px;
                }
                p {
                  font-size: 14px;
                  margin: 9px 0 0;
                }
              }
            }
            .racer-info {
              padding: 0 12px 12px;
              .choose-btn {
                height: 42px;
                font-size: 15px;
              }
              .name{
                .item-name{
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
      &.step3 {
        .racers-holder {
          height: 340px;
          .racer-item {
            max-width: 210px;
            .loading-text{
              img{
                width: 33px;
              }
              p{
                &.heading{
                  font-size: 18px;
                  margin: 30px 0 15px;
                }
                &.text{
                  font-size: 15px;
                }
              }
            }
            .racer-info {
              .name-sheet {
                height: 42px;
                font-size: 15px;
              }
            }
          }
        }
        .big-avatar {
          &.rival {
            right: 0;
            transform: translate(77%, -50%);
          }
          &.mine {
            left: 0;
            transform: translate(-77%, -50%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .race-menu {
    height: 65px;
    padding: 0 0 0 30px;
    .menu-logo {
      width: 60px;
    }
    .center-items {
      .small-box {
        padding: 4px 15px;
        height: 40px;
        img {
          max-height: 17px;
        }
        p {
          margin: 0 0 0 10px;
          font-size: 14px;
        }
      }
    }
    .right-items {
      .name-holder {
        margin-right: 13px;
        .avatar {
          width: 53px;
          height: 53px;
          img {
            width: 17px;
          }
        }
      }
      .switch-btn {
        width: 70px;
        img {
          height: 18px;
        }
      }
    }
  }
  .bottom-box {
    height: 60px;
  }
  .modal-component {
    height: 490px;
    top: 49%;
    .cont-holder {
      &.step1 {
        .heading-holder {
          margin: 30px auto 17px;
          max-width: 297px;
          p {
            font-size: 20px;
            span {
              font-size: 30px;
            }
          }
        }
        .race-desc {
          font-size: 14px;
          margin: 0 auto 17px;
          max-width: 555px;
        }
        .items-holder {
          height: 180px;
          margin: 0 auto 21px;
          max-width: 620px;
          .box-item {
            .inner {
              .img-holder {
                height: 90px;
                img {
                  max-height: 48px;
                  &.big-img {
                    max-height: 37px;
                  }
                }
              }
              .desc {
                font-size: 14px;
              }
            }
          }
        }
        .play-btn {
          font-size: 14px;
          padding: 12px 35px;
          margin: 0 auto 20px;
          img {
            width: 14px;
          }
        }
        .disclaim {
          font-size: 13px;
        }
      }
      &.step2,
      &.step3 {
        .heading-holder {
          margin: 30px 0 25px;
          h3 {
            font-size: 20px;
          }
          p {
            font-size: 14px;
          }
        }
        .btns-holder {
          height: 40px;
          margin: 28px 0 0 0;
          button {
            font-size: 14px;
          }
        }
      }
      &.step2 {
        .racers-holder {
          height: 290px;
          .racer-item {
            max-width: 190px;
            .img-holder {
              .locked-avatar {
                max-width: 140px;
                img {
                  width: 18px;
                }
                p {
                  font-size: 13px;
                  margin: 7px 0 0;
                }
              }
            }
            .racer-info {
              padding: 0 10px 10px;
              .name {
                .bet-box {
                  width: 40px;
                  height: 40px;
                  p {
                    font-size: 14px;
                  }
                }
                .item-name{
                  font-size: 18px;
                }
              }
              .choose-btn {
                height: 35px;
                font-size: 14px;
              }
            }
          }
          .arrow {
            max-width: 35px;
            height: 65px;
            p {
              font-size: 23px;
            }
          }
        }
      }
      &.step3 {
        .racers-holder {
          height: 290px;
          .racer-item {
            max-width: 190px;
            .loading-text{
              img{
                width: 30px;
              }
              p{
                &.heading{
                  font-size: 16px;
                  margin: 23px 0 12px;
                  line-height: 1.3;
                }
                &.text{
                  font-size: 14px;
                  line-height: 1.3;
                }
              }
            }
            .racer-info {
              .name-sheet {
                height: 35px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .modal-component {
    .cont-holder {
      &.step3 {
        .big-avatar {
          max-height: 105%;
          &.rival {
            transform: translate(73%, -50%);
          }
          &.mine {
            transform: translate(-73%, -50%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .race-menu {
    .center-items {
      left: 46%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .modal-component {
    min-width: 670px;
    .cont-holder {
      &.step3 {
        .big-avatar {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) and (orientation: landscape){
  .race-menu{
    height: 35px;
    padding: 0 0 0 20px;
    .menu-logo{
      width: 33px;
      .beta-disclaim{
        margin: 0 0px -18px 5px;
        font-size: 8px;
      }
    }
  }
  .modal-component{
    position: relative;
    top: 0;
    transform: translateX(-50%);
    height: unset;
    padding: 10px;
    .cont-holder{
      &.step1{
        .heading-holder{
          margin: 5px auto 7px;
          p{
            font-size: 14px;
            span{
              font-size: 18px;
            }
          }
        }
        .race-desc{
          font-size: 10px;
          margin: 0 auto 7px;
          max-width: 445px;
        }
        .items-holder{
          margin: 0 auto 8px;
          max-width: 500px;
          height: 130px;
          .box-item{
            .inner{
              padding: 2px 6px;
              .img-holder{
                height: 60px;
                img{
                  max-height: 30px;
                  &.big-img{
                    max-height: 23px;
                  }
                }
              }
              .desc{
                font-size: 10px;
              }
            }
          }
        }
        .play-btn{
          font-size: 11px;
          padding: 9px 30px;
          margin: 0 auto 9px;
          img{
            width: 10px;
            margin-right: 5px;
          }
        }
        .disclaim{
          font-size: 10px;
        }
      }
      &.step2,
      &.step3{
        .heading-holder{
          margin: 5px 0 10px;
          h3{
            font-size: 14px;
          }
          p{
            font-size: 10px;
            margin-bottom: 7px;
          }
        }
        .btns-holder{
          height: 30px;
          margin: 15px 0 0 0;
          button{
            font-size: 11px;
            width: 150px;
          }
        }
        .racers-holder{
          height: 200px;
          .racer-item{
            height: 200px;
            max-width: 150px;
            .status-img{
              top: 9px;
              right: 9px;
              width: 18px;
            }
            .img-holder{
              .locked-avatar{
                max-width: 111px;
                top: 40%;
                img{
                  width: 14px;
                }
                p{
                  font-size: 11px;
                  margin: 5px 0 0;
                  line-height: 1.3;
                }
              }
            }
            .racer-info{
              padding: 0 5px 5px;
              z-index: 2;
              .name{
                .item-name{
                  font-size: 14px;
                }
                .bet-box{
                  width: 26px;
                  height: 26px;
                  p{
                    font-size: 10px;
                  }
                }
              }
              .choose-btn{
                height: 28px;
                font-size: 11px;
              }
              .name-sheet{
                height: 26px;
                font-size: 11px;
              }
            }
            .loading-text{
              img{
                width: 21px;
              }
              p{
                &.heading{
                  font-size: 12px;
                  margin: 13px 0 8px;
                }
                &.text{
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) and (orientation: portrait) {
  .modal-component {
    height: 435px;
    min-width: 630px;
    .cont-holder {
      &.step1 {
        .heading-holder {
          margin: 25px auto 15px;
          max-width: 290px;
          p {
            font-size: 18px;
            span {
              font-size: 25px;
            }
          }
        }
        .race-desc {
          font-size: 13px;
          margin: 0 auto 15px;
          max-width: 555px;
        }
        .items-holder {
          height: 150px;
          margin: 0 auto 18px;
          max-width: 590px;
          .box-item {
            .inner {
              .img-holder {
                height: 70px;
                img {
                  max-height: 39px;
                  &.big-img {
                    max-height: 29px;
                  }
                }
              }
              .desc {
                font-size: 13px;
              }
            }
          }
        }
        .play-btn {
          font-size: 14px;
          padding: 12px 35px;
          margin: 0 auto 20px;
          img {
            width: 14px;
          }
        }
        .disclaim {
          font-size: 13px;
        }
      }
      &.step2,
      &.step3 {
        .heading-holder {
          margin: 26px 0 21px;
          h3 {
            font-size: 17px;
          }
          p {
            font-size: 13px;
          }
        }
      }
      &.step2 {
        .racers-holder {
          height: 258px;
          .racer-item {
            max-width: 165px;
            .img-holder {
              .locked-avatar {
                max-width: 130px;
                img {
                  width: 15px;
                }
                p {
                  font-size: 12px;
                  line-height: 1.3;
                }
              }
            }
            .racer-info {
              padding: 0 10px 10px;
              .name {
                .item-name {
                  font-size: 16px;
                }
              }
              .choose-btn {
                height: 31px;
                font-size: 13px;
              }
            }
          }
          .arrow {
            width: 6%;
          }
        }
      }
      &.step3 {
        .racers-holder {
          height: 258px;
          .racer-item {
            .img-holder {
              .racer-img {
                width: 115%;
              }
            }
            .racer-info {
              .name {
                .item-name {
                  font-size: 20px;
                }
              }
              .name-sheet {
                height: 31px;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) and (orientation: landscape){
  .race-menu{
    height: 30px;
    padding: 0 0 0 15px;
    .menu-logo{
      width: 28px;
      .beta-disclaim{
        margin: 0 0px -12px 3px;
        font-size: 7px;
      }
    }
  }
  .modal-component{
    padding: 6px;
    min-width: unset;
    width: 95%;
    .cont-holder{
      &.step1{
        .heading-holder{
          margin: 4px auto 5px;
          p{
            font-size: 12px;
            span{
              font-size: 15px;
            }
          }
        }
        .race-desc{
          font-size: 8px;
          margin: 0 auto 5px;
          max-width: 330px;
        }
        .items-holder{
          margin: 0 auto 5px;
          max-width: 440px;
          height: 105px;
          .box-item{
            .inner{
              .img-holder{
                height: 50px;
                img{
                  max-height: 24px;
                  &.big-img{
                    max-height: 19px;
                  }
                }
              }
              .desc{
                font-size: 8px;
              }
            }
          }
        }
        .play-btn{
          font-size: 10px;
          padding: 8px 25px;
          margin: 0 auto 7px;
          img{
            width: 8px;
          }
        }
        .disclaim{
          font-size: 8px;
        }
      }
      &.step2,
      &.step3{
        .heading-holder{
          margin: 4px 0 8px;
          h3{
            font-size: 12px;
          }
          p{
            font-size: 8px;
            margin-bottom: 5px;
          }
        }
        .btns-holder{
          height: 26px;
          margin: 12px 0 0 0;
          button{
            font-size: 10px;
            width: 120px;
          }
        }
        .racers-holder{
          height: 170px;
          .racer-item{
            height: 170px;
            max-width: 120px;
            .status-img{
              top: 7px;
              right: 7px;
              width: 15px;
            }
            .img-holder{
              .locked-avatar{
                max-width: 105px;
                img{
                  width: 12px;
                }
                p{
                  font-size: 10px;
                }
              }
            }
            .racer-info{
              padding: 0 4px 4px;
              .name{
                .item-name{
                  font-size: 13px;
                }
                .bet-box{
                  width: 23px;
                  height: 23px;
                  p{
                    font-size: 9px;
                  }
                }
              }
              .choose-btn{
                height: 24px;
                font-size: 10px;
              }
              .name-sheet{
                height: 24px;
                font-size: 10px;
              }
            }
            .loading-text{
              img{
                width: 19px;
              }
              p{
                &.heading{
                  font-size: 11px;
                  margin: 10px 0 5px;
                }
                &.text{
                  font-size: 9px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .main-holder{
    height: unset;
    min-height: 100vh;
  }
  .bottom-box {
    display: none;
  }
  .modal-component {
    height: unset;
    min-width: unset;
    width: 95%;
    top: 0;
    transform: translateX(-50%);
    padding: 20px 0;
    margin: 15px 0;
    position: relative;
    .cont-holder {
      &.step1 {
        .items-holder {
          flex-wrap: wrap;
          height: unset;
          justify-content: center;
          .box-item {
            height: 130px;
            width: 60%;
            margin-bottom: 7px;
          }
        }
      }
      &.step2,
      &.step3 {
        .btns-holder {
          button {
            width: 40%;
          }
        }
      }
      &.step2 {
        .racers-holder {
          .racer-item {
            max-width: 40%;
            width: 40%;
            .img-holder {
              .racer-img {
                width: 114%;
              }
            }
            .name{
              .item-name{
                font-size: 12px;
              }
            }
          }
        }
      }
      &.step3 {
        .racers-holder {
          .racer-item {
            max-width: 40%;
            width: 40%;
            .loading-text{
              img{
                width: 22px;
              }
              p{
                &.heading{
                  font-size: 14px;
                  margin: 18px 0 10px;
                }
                &.text{
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) and (orientation: portrait) {
  .modal-component {
    .cont-holder {
      &.step1 {
        .race-desc {
          width: 90%;
        }
        .items-holder {
          .box-item {
            height: 110px;
            width: 240px;
            .inner {
              .img-holder {
                height: 50px;
                img {
                  max-height: 33px;
                  &.big-img {
                    max-height: 25px;
                  }
                }
              }
              .desc {
                font-size: 12px;
              }
            }
          }
        }
      }
      &.step2,
      &.step3 {
        .btns-holder {
          button {
            width: 40%;
            &.continue.loading {
              img {
                width: 18px;
              }
            }
          }
        }
        .racers-holder {
          .racer-item {
            .img-holder {
              .racer-img {
                width: 210px;
              }
            }
            .racer-info {
              .name {
                .item-name {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
