

.modal-holder{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000002;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .modal-back{
        background: rgba(17,17,17,.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .modal-cont{
        height: 85%;
        width: 90%;
        max-width: 1500px;
        max-height: 900px;
        position: relative;
        z-index: 2;
        padding: 1px;
        .inner-holder{
            width: 100%;
            height: 100%;
            background: url('/assets/base/images/modal/info-modal-back.png'), rgba(17,17,17,.8);
            .close-btn{
                position: absolute;
                top: 10px;
                right: 10px;
                padding: 0 7px;
                font-size: 50px;
                transform: rotate(-45deg);
                cursor: pointer;
                background: transparent;
                transition: .2s;
                &:hover{
                    transform: rotate(45deg);
                }
            }
            .switcher-holder{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 335px;
                height: 75px;
                button{
                    background: none;
                    border: none;
                    &.inactive{
                        svg{
                            path{
                                stroke: #585858;
                            }
                        }
                    }
                    &.left-arrow{
                        transform: rotate(180deg);
                    }
                }
                .dots-holder{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    margin: 0 20px;
                    .dot{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: #585858;
                        margin: 0 5px;
                    }
                    .slider{
                        position: absolute;
                        height: 10px;
                        width: 55px;
                        left: 0;
                        top: 0;
                        border-radius: 7px;
                        transition: .15s;
                        &.state1{
                            left: 0;
                        }
                        &.state2{
                            left: 22%;
                        }
                        &.state3{
                            left: 42%;
                        }
                    }
                }
            }
            .next-btn{
                font-size: 33px;
                font-family: 'Earth Orbiter';
                padding: 20px 5px;
                width: 395px;
                position: absolute;
                bottom: 0;
                right: 0;
            }
            .modal-step{
                .modal-img{
                    top: 50%;
                    transform: translateY(-50%);
                    width: 80%;
                    left: -110px;
                    position: absolute;
                }
                .text-holder{
                    position: absolute;
                    right: 20px;
                    transform: translateY(-50%);
                    top: 50%;
                    width: 45%;
                    h2{
                        font-family: 'Earth Orbiter';
                        font-weight: 800;
                        font-size: 90px;
                        line-height: 180%;
                        color: #FFFFFF;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                    p{
                        font-family: 'Earth Orbiter';
                        font-weight: 800;
                        font-size: 24px;
                        color: #FFFFFF;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                    span{
                        font-family: 'Earth Orbiter';
                        font-weight: 800;
                        font-size: 24px;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                    .buy-btn{
                        width: 540px;
                        padding: 24px 0;
                        font-family: 'Earth Orbiter';
                        font-style: normal;
                        font-weight: 800;
                        font-size: 28px;
                        line-height: 28px;
                        text-align: center;
                        color: #FFFFFF;
                    }
                }
            }
            .step2{
                .modal-img{
                    width: 50%;
                    top: 60%;
                    left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    .modal-holder{
        .modal-cont{
            .inner-holder{
                .next-btn{
                    font-size: 26px;
                    padding: 16px 5px;
                    width: 340px;
                }
                .switcher-holder{
                    width: 300px;
                    height: 65px;
                    button{
                        svg{
                            width: 17px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1550px) {
    .modal-holder{
        .modal-cont{
            .inner-holder{
                .next-btn{
                    font-size: 23px;
                    padding: 15px 5px;
                    width: 315px;
                }
                .switcher-holder{
                    width: 290px;
                    height: 60px;
                    .dots-holder{
                        margin: 0 12px;
                        .dot{
                            width: 8px;
                            height: 8px;
                        }
                        .slider{
                            height: 8px;
                            width: 52px;
                        }
                    }
                }
                .modal-step{
                    .modal-img{
                        width: 65%;
                    }
                    .text-holder{
                        h2{
                            font-size: 80px;
                        }
                        p{
                            font-size: 22px;
                        }
                        .buy-btn{
                            width: 450px;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1550px) {
    .modal-holder{
        .modal-cont{
            .inner-holder{
                .modal-step{
                    .modal-img{
                        left: -60px;
                        width: 65%;
                    }
                    .text-holder{
                        width: 50%;
                        h2{
                            font-size: 70px;
                        }
                        p{
                            font-size: 20px;
                        }
                        .buy-btn{
                            width: 400px;
                            font-size: 22px;
                        }
                    }
                }
                .step2{
                    .modal-img{
                        width: 43%;
                        left: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .modal-holder{
        .modal-cont{
            .inner-holder{
                .close-btn{
                    font-size: 40px;
                }
                .next-btn{
                    font-size: 21px;
                    padding: 14px 5px;
                    width: 300px;
                }
                .switcher-holder{
                    width: 215px;
                    height: 49px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px)  and (orientation: portrait){
    .modal-holder{
        .modal-cont{
            height: 90%;
            width: 95%;
            .inner-holder{
                .close-btn{
                    font-size: 33px;
                }
                .next-btn{
                    font-size: 20px;
                    padding: 12px 5px;
                    width: 250px;
                }
                .switcher-holder{
                    width: 200px;
                    height: 44px;
                }
            }
        }
    }
}

@media screen and (max-width: 800px)  and (orientation: portrait){
    .modal-holder{
        overflow: auto;
        justify-content: flex-start;
        padding: 30px 0;
        height: 100vh;
        .modal-back{
            display: none;
        }
        .modal-cont{
            height: unset;
            width: 95%;
            .inner-holder{
                .close-btn{
                    font-size: 28px;
                }
                .next-btn{
                    font-size: 17px;
                    padding: 10px 5px;
                    width: 200px;
                }
                .switcher-holder{
                    width: 160px;
                    height: 37px;
                    .dots-holder{
                        margin: 0 5px;
                        .dot{
                            width: 6px;
                            height: 6px;
                        }
                        .slider{
                            height: 6px;
                            width: 46px;
                        }
                    }
                    button{
                        svg{
                            width: 13px;
                        }
                    }
                }
                .modal-step{
                    .modal-img{
                        margin-left: 30px;
                        margin-top: -100px;
                        top: unset;
                        left: unset;
                        position: relative;
                        transform: none;
                        width: 100%;
                    }
                    .text-holder{
                        margin-top: -100px;
                        padding: 0 20px;
                        top: unset;
                        right: unset;
                        transform: none;
                        position: relative;
                        width: 100%;
                        text-align: center;
                        padding-bottom: 100px;
                        h2{
                            font-size: 70px;
                        }
                        .buy-btn{
                            width: 80%;
                            font-size: 20px;
                        }
                    }
                }
                .step2{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .modal-img{
                        margin: 100px 0;
                        width: 70%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px)  and (orientation: portrait){
    .modal-holder{
        .modal-cont{
            margin-bottom: 100px;
            .inner-holder{
                background-size: cover;
                .switcher-holder{
                    left: 0;
                    transform: none;
                    height: 35px;
                }
                .next-btn{
                    font-size: 15px;
                    width: 160px;
                }
                .modal-step{
                    min-height: 65vh;
                    .modal-img{
                        margin-left: 20px;
                        margin-top: -50px;
                        width: 100%;
                    }
                    .text-holder{
                        margin-top: -50px;
                        padding: 0 20px;
                        padding-bottom: 75px;
                        h2{
                            font-size: 35px;
                        }
                        p,span{
                            font-size: 16px;
                        }
                        .buy-btn{
                            width: 80%;
                            font-size: 16px;
                            padding: 10px 5px;
                        }
                    }
                }
                .step2{
                    .modal-img{
                        margin: 50px 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px)  and (orientation: portrait){
    .modal-holder{
        padding: 10px 0;
        .modal-cont{
            .inner-holder{
                .switcher-holder{
                    left: 0;
                    transform: none;
                    height: 30px;
                    width: 125px;
                    .dots-holder{
                        margin: 0 2px;
                        .dot{
                            width: 5px;
                            height: 5px;
                            margin: 0 3px;
                        }
                        .slider{
                            height: 5px;
                            width: 32px;
                            &.state2{
                                left: 21%;
                            }
                        }
                    }
                    button{
                        svg{
                            width: 10px;
                        }
                    }
                }
                .next-btn{
                    font-size: 14px;
                    width: 125px;
                    padding: 8px 5px;
                }
                .modal-step{
                    .text-holder{
                        h2{
                            font-size: 30px;
                            .buy-btn{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px)  and (orientation: landscape){
    .modal-holder{
        .modal-cont{
            height: 70%;
            .inner-holder{
                .next-btn{
                    font-size: 16px;
                    padding: 7px 5px;
                    width: 250px;
                }
                .switcher-holder{
                    width: 200px;
                    height: 44px;
                }
                .modal-step{
                    .text-holder{
                        width: 56%;
                        h2{
                            margin: 0;
                            font-size: 30px;
                        }
                        p{
                            margin-bottom: 0;
                            font-size: 14px;
                            span{
                                font-size: 14px;
                            }
                        }
                        .buy-btn{
                            width: 100%;
                            padding: 4px 0;
                        }
                    }
                }
                .step2{
                    .modal-img{
                        left: 0;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 800px)  and (orientation: landscape){
    .modal-holder{
        .modal-cont{
            .inner-holder{
                .switcher-holder{
                    left: 0;
                    transform: none;
                    height: 35px;
                }
                .next-btn{
                    font-size: 15px;
                    width: 160px;
                }
                .modal-step{
                    .text-holder{
                        width: 56%;
                        h2{
                            margin: 0;
                            font-size: 25px;
                        }
                        p{
                            font-size: 14px;
                            span{
                                font-size: 12px;
                            }
                        }
                        .buy-btn{
                            width: 100%;
                            padding: 4px 0;
                            font-size: 14px;
                        }
                    }
                }
                .step2{
                    .modal-img{
                        left: 0;
                    }
                }
            }
        }
    }
}