<div class="main-wrapper">
  <div class="rewards-box" [ngClass]="{ 'tutorial-high': tutorialStep === 3 }">
    <div class="top-wrapper">
      <p class="box-heading">{{ "start-race.dividends" | translate }}</p>
      <div class="info-icon">
        <img src="/assets/base/images/menu/info-icon.svg" alt="" />
        <div class="info-bubble">
          <div class="img-holder">
            <img src="/assets/base/images/icons/inner-info-icon.png" alt="" />
          </div>
          <p>{{ "start-race.complete_levels" | translate }}</p>
        </div>
      </div>

      <img src="/assets/base/images/start-race/big-token.png" alt="" class="token-img">
      <p class="rate-desc">1 IOI = 0.4&#36;</p>

      <button class="buy-btn my-cta-btn-back hoverable" [routerLink]="['/other/wallet-control']"
      [queryParams]="{ controlType: 'deposit' }">Buy / Trade</button>

    </div>

    <div class="leader-holder" [routerLink]="['/teams/leaderboard']">
      <p class="value">
        March {{ "start-race.top_leader" | translate }} <span>&gt;</span>
      </p>
      <div class="leader-cont my-border-grad">
        <div class="inner">
          <div class="img-holder">
            <img
              src="/assets/base/images/start-race/lead-trophy-red.svg"
              alt=""
              class="trophy-red"
            />
            <img
              src="/assets/base/images/start-race/lead-trophy-blue.svg"
              alt=""
              class="trophy-blue"
            />
          </div>
          <div class="text-holder">
            <p class="name">{{ bestRacer?.user_nickname }}</p>
            <p class="desc">
              {{ "leaderboard.team_leaderboard.turnover" | translate }} |
              {{ bestRacer?.total_bet_amount | number: "1.2-2":"fr" }} IOI
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="day-tip" (click)="recognizeOpenTips()">
      <p class="box-heading">{{ "teams.my_team.tip_of_day" | translate }}</p>
      <div
        class="tip-box my-border-grad"
        [ngClass]="{ clickable: meManager === true }"
        style="cursor: pointer"
      >
        <div class="border-maker"></div>
        <div class="inner-holder">
          <div class="img-holder">
            <img
              src="/assets/base/images/start-race/flame-red.svg"
              alt=""
              class="flame-red"
            />
            <img
              src="/assets/base/images/start-race/flame-blue.svg"
              alt=""
              class="flame-blue"
            />
          </div>
          <div
            class="text-holder"
            *ngIf="tips.length > 0 && isPremium === true"
          >
            <p class="value">
              {{ "start-race.best_racer_strategy" | translate }}
            </p>
            <div class="currs-holder">
              <div class="curr-item" *ngFor="let item of tips">
                <img
                  [src]="
                    '/assets/base/images/curr-logos/' +
                    item.symbol +
                    '-logo.png'
                  "
                  alt=""
                />
                <img
                  class="arrow-img"
                  src="/assets/base/images/start-race/long-box.svg"
                  alt=""
                  *ngIf="item.short === false"
                />
                <img
                  class="arrow-img"
                  src="/assets/base/images/start-race/short-box.svg"
                  alt=""
                  *ngIf="item.short === true"
                />
              </div>
            </div>
          </div>
          <div
            class="text-holder"
            *ngIf="tips.length === 0 && isPremium === true"
          >
            <p class="value smaller">No tips at the moment</p>
          </div>
          <div class="text-holder" *ngIf="isPremium === false">
            <p class="value smaller">Available only for premium members</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="main-center-box"
    [ngClass]="{ 'tutorial-high': tutorialStep === 4 }"
  >
    <div class="top-banner red-variant">
      <button class="arrow left" (click)="prevBanner()">&lt;</button>
      <button class="arrow right" (click)="nextBanner()">&gt;</button>
      <div class="dots-holder">
        <div
          class="dot my-low-gradient"
          (click)="manualBannerChange(1)"
          [ngClass]="{ inactive: topBannerIndex !== 1 }"
        ></div>
        <div
          class="dot my-low-gradient"
          (click)="manualBannerChange(2)"
          [ngClass]="{ inactive: topBannerIndex !== 2 }"
        ></div>
        <div
          class="dot my-low-gradient"
          (click)="manualBannerChange(3)"
          [ngClass]="{ inactive: topBannerIndex !== 3 }"
        ></div>
      </div>

      <div class="banner-item item1" *ngIf="topBannerIndex === 1">
        <div class="text-holder">
          <p class="race-name">
            <span>{{ "start-race.modal1_text1" | translate }}</span>
            {{ "start-race.modal1_text2" | translate }}
          </p>
        </div>
        <button
          class="register my-cta-btn-back hoverable"
          [routerLink]="['/teams/join-teams']"
        >
          {{ "start-race.join_now" | translate }}
        </button>
        <img
          src="/assets/base/images/start-race/helmet-img.png"
          alt=""
          class="banner-img crown"
        />
      </div>
      <div class="banner-item item2" *ngIf="topBannerIndex === 2">
        <div class="text-holder">
          <p class="race-name">
            <span>{{ "start-race.modal2_text1" | translate }}</span>
            {{ "start-race.modal2_text2" | translate }}
          </p>
        </div>
        <button
            class="register my-cta-btn-back hoverable"
            [routerLink]="['/other/tasks']"
          >
            {{ "start-race.show_tasks" | translate }}
          </button>
        <img
          src="/assets/base/images/start-race/tasks-img.png"
          alt=""
          class="banner-img tasks"
        />
      </div>

      <div class="banner-item item3 red" *ngIf="topBannerIndex === 3">
        <div class="text-holder">
          <p class="race-name">
            <span>{{ "start-race.modal3_text1" | translate }}</span>
            {{ "start-race.modal3_text2" | translate }}
          </p>
          <p *ngIf="display > 640" class="banner-text">
            {{ "start-race.modal3_text3" | translate }}
          </p>

        </div>
        <button
          class="register my-cta-btn-back hoverable"
          [routerLink]="['/car/nft-market']"
        >
          {{ "start-race.get_nfts" | translate }}
        </button>
      </div>
    </div>

    <div class="top-banner blue-variant">
      <button class="arrow left" (click)="prevBanner()">&lt;</button>
      <button class="arrow right" (click)="nextBanner()">&gt;</button>
      <div class="dots-holder">
        <div
          class="dot my-low-gradient"
          (click)="manualBannerChange(1)"
          [ngClass]="{ inactive: topBannerIndex !== 1 }"
        ></div>
        <div
          class="dot my-low-gradient"
          (click)="manualBannerChange(2)"
          [ngClass]="{ inactive: topBannerIndex !== 2 }"
        ></div>
        <div
          class="dot my-low-gradient"
          (click)="manualBannerChange(3)"
          [ngClass]="{ inactive: topBannerIndex !== 3 }"
        ></div>
      </div>

      <div class="banner-item item1" *ngIf="topBannerIndex === 1">
        <div class="text-holder">
          <p class="race-name">
            <span>{{ "start-race.buy_nft1" | translate }}</span>
            {{ "start-race.buy_nft2" | translate }}
          </p>
        </div>
        <button
          class="register my-cta-btn-back hoverable"
          [routerLink]="['/car/garage']"
        >
          {{ "start-race.buy" | translate }}
        </button>
        <img
          src="/assets/base/images/start-race/nft-img.png"
          alt=""
          class="banner-img nft"
        />
      </div>
      <div class="banner-item item2" *ngIf="topBannerIndex === 2">
        <div class="text-holder">
          <p class="race-name">
            <span>{{ "start-race.collect_nft1" | translate }}</span>
            {{ "start-race.collect_nft2" | translate }}
          </p>

        </div>
        <button
          class="register my-cta-btn-back hoverable"
          [routerLink]="['/car/garage']"
        >
          Collect
        </button>
        <img
          src="/assets/base/images/start-race/nft-collection.png"
          alt=""
          class="banner-img collection"
        />
      </div>

      <div class="banner-item item3" *ngIf="topBannerIndex === 3">
        <div class="text-holder">
          <p class="race-name">
            <span>{{ "start-race.modal4_text1" | translate }}</span>
            {{ "start-race.modal4_text2" | translate }}
          </p>
          <p *ngIf="display > 640" class="banner-text">
            {{ "start-race.modal4_text3" | translate }}
          </p>

        </div>
        <button
          class="register my-cta-btn-back hoverable"
          [routerLink]="['/car/nft-market']"
        >
          {{ "start-race.get_racer" | translate }}
        </button>
      </div>
    </div>

    <div class="categories-holder">
      <p class="box-heading w-padd">
        {{ "start-race.categories" | translate }}
      </p>
      <div class="cat-cont">
        <div
          class="cat-item cars my-cta-btn-back"
          [routerLink]="['/car/garage/my-cars']"
        >
          <img
            src="/assets/base/images/start-race/nft-back-red.png"
            alt=""
            class="back-img cars red"
          />
          <img
            src="/assets/base/images/start-race/nft-back-blue.png"
            alt=""
            class="back-img cars blue"
          />
          <div class="text-holder">
            <p class="value">{{ "start-race.nft_cars" | translate }}</p>
            <button class="arrow-btn">&gt;</button>
          </div>
        </div>

        <div
          class="cat-item teams my-cta-btn-back"
          [routerLink]="['/teams/join-teams']"
        >
          <img
            src="/assets/base/images/start-race/team-back.png"
            alt=""
            class="back-img teams"
          />
          <div class="text-holder">
            <p class="value">{{ "leaderboard.teams" | translate }}</p>
            <button class="arrow-btn">&gt;</button>
          </div>
        </div>

        <div
          class="cat-item races my-cta-btn-back"
          [routerLink]="['/race/all-races']"
          [queryParams]="{ raceType: 'trx' }"
        >
          <img
            src="/assets/base/images/start-race/races-back.png"
            alt=""
            class="back-img races"
          />
          <div class="text-holder">
            <p class="value">{{ "profile.races" | translate }}</p>
            <button class="arrow-btn">&gt;</button>
          </div>
        </div>
      </div>
    </div>
    <app-exp-bar></app-exp-bar>
  </div>


</div>

<!-- MODALS -->

<div
  class="modal fade"
  id="bet-free"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bet 1 000 TRX info"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered my-modal-dialog"
    role="document"
  >
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ "modals.heading.free" | translate }}</h5>
        <button
          type="button"
          class="close my-modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><img src="assets/rewards/X-modal.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ "modals.text.free" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="bet-10"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bet 1 000 TRX info"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered my-modal-dialog"
    role="document"
  >
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ "modals.heading.trx10" | translate }}</h5>
        <button
          type="button"
          class="close my-modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><img src="assets/rewards/X-modal.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ "modals.text.trx10" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="bet-50"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bet 1 000 TRX info"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered my-modal-dialog"
    role="document"
  >
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ "modals.heading.trx50" | translate }}</h5>
        <button
          type="button"
          class="close my-modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><img src="assets/rewards/X-modal.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ "modals.text.trx50" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="bet-100"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bet 1 000 TRX info"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered my-modal-dialog"
    role="document"
  >
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ "modals.heading.trx100" | translate }}</h5>
        <button
          type="button"
          class="close my-modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><img src="assets/rewards/X-modal.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ "modals.text.trx100" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="bet-500"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bet 1 000 TRX info"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered my-modal-dialog"
    role="document"
  >
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ "modals.heading.trx500" | translate }}</h5>
        <button
          type="button"
          class="close my-modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><img src="assets/rewards/X-modal.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ "modals.text.trx500" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="bet-1000"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bet 1 000 TRX info"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered my-modal-dialog"
    role="document"
  >
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ "modals.heading.trx1000" | translate }}</h5>
        <button
          type="button"
          class="close my-modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><img src="assets/rewards/X-modal.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ "modals.text.trx1000" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="summer-party-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bet 1 000 TRX info"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered my-modal-dialog"
    role="document"
  >
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ "modals.heading.wednesday_race" | translate }}
        </h5>
        <button
          type="button"
          class="close my-modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><img src="assets/rewards/X-modal.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bonus-race-text">
          <p>
            {{ "modals.text.wednesday_race" | translate }}
          </p>
          <p class="bonus-info-row mt-4">
            <span class="left-part"
              >100 - 999 <img src="/assets/base/images/blue-ioi.png" alt=""
            /></span>
            <span class="mid-part">{{ "modals.shared.get" | translate }}</span>
            <span class="right-part right-pad"
              >1 {{ "modals.shared.ticket" | translate }}</span
            >
          </p>
          <p class="bonus-info-row">
            <span class="left-part"
              >1 000 - 4 999 <img src="/assets/base/images/blue-ioi.png" alt=""
            /></span>
            <span class="mid-part">{{ "modals.shared.get" | translate }}</span>
            <span class="right-part"
              >2 {{ "modals.shared.tickets" | translate }}</span
            >
          </p>
          <p class="bonus-info-row">
            <span class="left-part"
              >5 000 - 9 999 <img src="/assets/base/images/blue-ioi.png" alt=""
            /></span>
            <span class="mid-part">{{ "modals.shared.get" | translate }}</span>
            <span class="right-part"
              >3 {{ "modals.shared.tickets" | translate }}</span
            >
          </p>
          <p class="bonus-info-row">
            <span class="left-part"
              >10 000+ <img src="/assets/base/images/blue-ioi.png" alt=""
            /></span>
            <span class="mid-part">{{ "modals.shared.get" | translate }}</span>
            <span class="right-part"
              >4 {{ "modals.shared.tickets" | translate }}</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="tournament-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bet 1 000 TRX info"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered my-modal-dialog"
    role="document"
  >
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ "modals.heading.tournament" | translate }}
        </h5>
        <button
          type="button"
          class="close my-modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><img src="assets/rewards/X-modal.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ "modals.text.tournament" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="ioi-1-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bet 1 000 TRX info"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered my-modal-dialog"
    role="document"
  >
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ "modals.heading.ioi1" | translate }}</h5>
        <button
          type="button"
          class="close my-modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><img src="assets/rewards/X-modal.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ "modals.text.ioi1_text" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="ioi-3-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bet 1 000 TRX info"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered my-modal-dialog"
    role="document"
  >
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ "modals.heading.ioi3" | translate }}</h5>
        <button
          type="button"
          class="close my-modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><img src="assets/rewards/X-modal.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ "modals.text.ioi3_text" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="ioi-5-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bet 1 000 TRX info"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered my-modal-dialog"
    role="document"
  >
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ "modals.heading.ioi5" | translate }}</h5>
        <button
          type="button"
          class="close my-modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><img src="assets/rewards/X-modal.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ "modals.text.ioi5_text" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="free-tournament-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bet 1 000 TRX info"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered my-modal-dialog"
    role="document"
  >
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ "modals.heading.free_tournament" | translate }}
        </h5>
        <button
          type="button"
          class="close my-modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><img src="assets/rewards/X-modal.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bonus-race-text">
          <p>
            {{ "modals.text.free_tournament" | translate }}
          </p>
          <p class="bonus-info-row mt-4">
            <span class="left-part"
              >100 - 999 <img src="/assets/base/images/blue-ioi.png" alt=""
            /></span>
            <span class="mid-part">{{ "modals.shared.get" | translate }}</span>
            <span class="right-part right-pad"
              >1 {{ "modals.shared.ticket" | translate }}</span
            >
          </p>
          <p class="bonus-info-row">
            <span class="left-part"
              >1 000 - 4 999 <img src="/assets/base/images/blue-ioi.png" alt=""
            /></span>
            <span class="mid-part">{{ "modals.shared.get" | translate }}</span>
            <span class="right-part"
              >2 {{ "modals.shared.tickets" | translate }}</span
            >
          </p>
          <p class="bonus-info-row">
            <span class="left-part"
              >5 000 - 9 999 <img src="/assets/base/images/blue-ioi.png" alt=""
            /></span>
            <span class="mid-part">{{ "modals.shared.get" | translate }}</span>
            <span class="right-part"
              >3 {{ "modals.shared.tickets" | translate }}</span
            >
          </p>
          <p class="bonus-info-row">
            <span class="left-part"
              >10 000+ <img src="/assets/base/images/blue-ioi.png" alt=""
            /></span>
            <span class="mid-part">{{ "modals.shared.get" | translate }}</span>
            <span class="right-part"
              >4 {{ "modals.shared.tickets" | translate }}</span
            >
          </p>
          <p class="mt-3">{{ "start-race.minimum_amount" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="golden-ticket-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bet 1 000 TRX info"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered my-modal-dialog"
    role="document"
  >
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ "modals.heading.golden_ticket" | translate }}
        </h5>
        <button
          type="button"
          class="close my-modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><img src="assets/rewards/X-modal.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ "modals.text.golden_ticket" | translate }}
        </p>
        <div class="bonus-race-text">
          <p class="bonus-info-row mt-4">
            <span class="left-part"
              >100 - 999 <img src="/assets/base/images/blue-ioi.png" alt=""
            /></span>
            <span class="mid-part">{{ "modals.shared.get" | translate }}</span>
            <span class="right-part right-pad"
              >1 {{ "modals.shared.ticket" | translate }}</span
            >
          </p>
          <p class="bonus-info-row">
            <span class="left-part"
              >1 000 - 4 999 <img src="/assets/base/images/blue-ioi.png" alt=""
            /></span>
            <span class="mid-part">{{ "modals.shared.get" | translate }}</span>
            <span class="right-part"
              >2 {{ "modals.shared.tickets" | translate }}</span
            >
          </p>
          <p class="bonus-info-row">
            <span class="left-part"
              >5 000 - 9 999 <img src="/assets/base/images/blue-ioi.png" alt=""
            /></span>
            <span class="mid-part">{{ "modals.shared.get" | translate }}</span>
            <span class="right-part"
              >3 {{ "modals.shared.tickets" | translate }}</span
            >
          </p>
          <p class="bonus-info-row">
            <span class="left-part"
              >10 000+ <img src="/assets/base/images/blue-ioi.png" alt=""
            /></span>
            <span class="mid-part">{{ "modals.shared.get" | translate }}</span>
            <span class="right-part"
              >4 {{ "modals.shared.tickets" | translate }}</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="golden-race-24"
  tabindex="-1"
  role="dialog"
  aria-labelledby="bet 1 000 TRX info"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered my-modal-dialog"
    role="document"
  >
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ "modals.heading.golden_race" | translate }}
        </h5>
        <button
          type="button"
          class="close my-modal-close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"
            ><img src="assets/rewards/X-modal.png" alt=""
          /></span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ "modals.text.golden_race" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<div
  class="tutorial-modal"
  [ngClass]="'step' + tutorialStep"
  *ngIf="introModal === true"
>
  <div class="box-content only-cta content0">
    <img
      src="/assets/base/images/modal/tutorial-racer.png"
      alt=""
      class="racer-boi big"
    />
    <div class="text-holder centered">
      <p class="heading">{{ "tutorial.skip_tutorial" | translate }}</p>
      <p class="text">{{ "tutorial.skip_desc" | translate }}</p>
    </div>
    <button class="my-cta-btn-back hoverable" (click)="skipModal()">
      {{ "tutorial.skip_tutorial" | translate }}
    </button>
  </div>

  <div class="box-content only-cta content1">
    <img
      src="/assets/base/images/modal/tutorial-racer.png"
      alt=""
      class="racer-boi big"
    />
    <div class="text-holder centered">
      <p class="heading">
        {{ "modals.welcome_btn" | translate }} {{ myDriverOld.nickname }}
      </p>
      <p class="text">{{ "tutorial.tutorial_msg1" | translate }}</p>
    </div>
    <button class="my-cta-btn-back hoverable" (click)="nextTutorialStep()">
      {{ "tutorial.lets_start" | translate }}
    </button>
  </div>

  <div class="box-content content2">
    <img
      src="/assets/base/images/modal/tutorial-racer.png"
      alt=""
      class="racer-boi"
    />
    <div class="text-holder">
      <p class="heading">{{ "tutorial.tutorial_msg2" | translate }}</p>
      <p class="text">{{ "tutorial.tutorial_msg3" | translate }}</p>
      <div class="pointing-line to-right"></div>
    </div>
    <div class="btns-holder">
      <button class="my-cta-btn-back hoverable" (click)="nextTutorialStep()">
        {{ "race.continue" | translate }}
      </button>
      <p class="skip-text my-cta-btn-back" (click)="tutorialStep = 0">
        {{ "tutorial.skip_the_tutorial" | translate }} &gt;
      </p>
    </div>
  </div>

  <div class="box-content content3">
    <img
      src="/assets/base/images/modal/tutorial-racer.png"
      alt=""
      class="racer-boi"
    />
    <div class="text-holder">
      <p class="heading">{{ "tutorial.tutorial_msg4" | translate }}</p>
      <p class="text">{{ "tutorial.tutorial_msg5" | translate }}</p>
      <div class="pointing-line to-left"></div>
    </div>
    <div class="btns-holder">
      <button class="my-cta-btn-back hoverable" (click)="nextTutorialStep()">
        {{ "race.continue" | translate }}
      </button>
      <p class="skip-text my-cta-btn-back" (click)="tutorialStep = 0">
        {{ "tutorial.skip_the_tutorial" | translate }} &gt;
      </p>
    </div>
  </div>

  <div class="box-content content4">
    <img
      src="/assets/base/images/modal/tutorial-racer.png"
      alt=""
      class="racer-boi"
    />
    <div class="text-holder">
      <p class="heading">{{ "tutorial.tutorial_msg6" | translate }}</p>
      <p class="text">{{ "tutorial.tutorial_msg7" | translate }}</p>
      <div class="pointing-line to-left"></div>
    </div>
    <div class="btns-holder">
      <button class="my-cta-btn-back hoverable" (click)="nextTutorialStep()">
        {{ "race.continue" | translate }}
      </button>
    </div>
  </div>

  <div
    class="skip-text absolute my-cta-btn-back"
    *ngIf="tutorialStep !== 2 && tutorialStep !== 3 && tutorialStep !== 0"
    (click)="tutorialStep = 0"
  >
    <p>{{ "tutorial.skip_the_tutorial" | translate }} &gt;</p>
  </div>
</div>

<app-daily-tip-modal
  (modalClose)="tipsSaved($event)"
  *ngIf="showDayTipModal === true"
  [meOwner]="meManager"
></app-daily-tip-modal>
