<div class="image-holder"></div>
<div class="image-holder-second"></div>
<div class="logo">
  <img src="/assets/base/images/new-logo.png" alt="IOI Game" />
</div>
<div class="dash-back"></div>
<div
  (window:resize)="width()"
  class="main-wrapper"
  [ngClass]="{ 'tutorial-high': introModal === true && tutorialStep !== 2 }"
>
  <div class="dashboard-content">
    <div
      class="upper-dashboard"
      [ngClass]="{ 'tutorial-high disabled': tutorialStep === 3 }"
    >
      <div class="boxes">
        <h2 class="news-title">What's new</h2>
        <div
          [ngClass]="{ first: tip === 1 || tip === 2, 'tip-three': tip === 3 }"
          [routerLink]="
            tip === 1 || tip === 2 || tip === 3 ? ['/teams/join-teams'] : null
          "
          class="box my-cta-btn-back"
        >
          <div
            [ngClass]="{ first: tip === 1 || tip === 2 }"
            class="box-content my-border-grad"
          >
            <div *ngIf="tip === 3" class="cont-back"></div>
            <div class="image">
              <img
                *ngIf="tip === 1 || tip === 2"
                src="assets/base/images/start-race/discount.png"
                alt="discount"
              />
              <img
                class="tesla"
                *ngIf="tip === 3"
                src="assets/base/images/start-race/tesla.png"
                alt="tesla"
              />
            </div>
            <div *ngIf="tip === 1" class="text">
              <h2>30% OFF</h2>
              <p>yearly premium membership</p>
            </div>
            <div *ngIf="tip === 2" class="text">
              <h2>10% OFF</h2>
              <p>quartal premium membership</p>
            </div>
            <div *ngIf="tip === 3" class="text">
              <h2 class="no-breaking">Win tesla</h2>
              <p>Join team and own NFT</p>
            </div>
          </div>
        </div>
        <div class="reward-switcher news">
          <div
            (click)="toggleTip(1)"
            [ngClass]="{ inactive: tip !== 1 }"
            class="left-line bar"
          ></div>
          <div
            (click)="toggleTip(2)"
            [ngClass]="{ inactive: tip !== 2 }"
            class="center-line bar"
          ></div>
          <div
            (click)="toggleTip(3)"
            [ngClass]="{ inactive: tip !== 3 }"
            class="right-line bar my-cta-btn-back"
          ></div>
        </div>
        <div
          [routerLink]="['/other/affilate']"
          class="box second my-cta-btn-back"
        >
          <div class="box-content static">
            <div class="image">
              <img
                class="smaller"
                src="assets/base/images/start-race/group.png"
                alt="Affiliate group"
              />
            </div>
            <div class="text">
              <h3>AFFILIATE</h3>
            </div>
          </div>
        </div>

        <div
          [routerLink]="['/teams/owners-managers']"
          class="box second my-cta-btn-back"
        >
          <div class="box-content static">
            <div class="image">
              <img
                class="smaller"
                src="assets/base/images/start-race/reward.png"
                alt="Coins"
              />
            </div>
            <div class="text">
              <h3>Owners & Managers</h3>
            </div>
          </div>
        </div>
        <div (click)="showModal()" class="box second my-cta-btn-back activity">
          <div class="box-content static">
            <div class="text activity">
              <div class="upper">
                <p>Current boost:</p>

                <h3 class="my-text-color">1.5X</h3>
              </div>
              <div class="lower">
                <p>Daily activity:</p>
                <div class="right">
                  <img
                    src="/assets/base/images/icons/checked.svg"
                    alt="checked icon"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lower-dashboard">
      <div
        [routerLink]="['/car/nft-market']"
        class="marketplace my-cta-btn-back"
        [ngClass]="{ 'tutorial-high disabled': tutorialStep === 3 }"
      >
        <img
          class="right"
          src="assets/base/images/start-race/nft-back-blue.png"
          alt="blue nft car"
        />
        <h2>MARKETPLACE</h2>
      </div>
      <div class="category-boxes">
        <h2 class="cat-title">Categories</h2>
        <div
          [routerLink]="['/profile/my-profile']"
          class="lower-box first background"
        >
          <img
            class="right"
            src="assets/base/images/start-race/nfts.png"
            alt="white car"
          />
          <h3>MY NFTs</h3>
        </div>
        <div
          [routerLink]="['/teams/join-teams']"
          class="lower-box my-cta-btn-back"
          *ngIf="accountInfo?.is_system_team === true"
        >
          <img
            class="right"
            src="assets/base/images/start-race/my-team.png"
            alt="team icon"
          />
          <h3 class="no-opacity">JOIN TEAM</h3>
        </div>
        <div
          [routerLink]="['/teams/my-team']"
          class="lower-box background"
          *ngIf="accountInfo?.is_system_team === false"
        >
          <img
            class="right"
            src="assets/base/images/start-race/my-team.png"
            alt="team icon"
          />
          <h3>MY TEAM</h3>
        </div>

        <div [routerLink]="['/teams/leaderboard']" class="lower-box background">
          <img
            class="right"
            src="assets/base/images/start-race/leaderboard.png"
            alt="leaderboard-icon"
          />
          <h3>LEADERBOARD</h3>
        </div>
      </div>
      <div
        [routerLink]="['/race/race-selection']"
        class="games my-cta-btn-back"
        [ngClass]="{ 'tutorial-high': tutorialStep === 4 }"
      >
        <img
          class="right"
          src="assets/base/images/start-race/games.png"
          alt="flag icon"
        />
        <h2>GAMES</h2>
      </div>
    </div>
    <div class="dashboard-avatars">
      <div [routerLink]="['/teams/best-racers']" class="square">
        <div class="bubble">
          <img
            class="red-star"
            src="/assets/base/images/start-race/upgrade-red.png"
            alt="bubble icon"
          />
          <img
            class="blue-star"
            src="/assets/base/images/start-race/upgrade-blue.png"
            alt="bubble icon"
          />
          <p class="upgrade-text">Your rings</p>
        </div>
      </div>
      <div [routerLink]="['/teams/best-racers']" class="square second">
        <div class="bubble trophy">
          <img
            class="red-star"
            src="/assets/base/images/start-race/upgrade-red.png"
            alt="bubble icon"
          />
          <img
            class="blue-star"
            src="/assets/base/images/start-race/upgrade-blue.png"
            alt="bubble icon"
          />
          <p class="upgrade-text">Your trophy</p>
        </div>
      </div>
      <div
        [routerLink]="['/teams/my-team']"
        class="team-img team"
        *ngIf="
          (accountInfo.is_system_team !== true && accountInfo.team === 'IOI') ||
          accountInfo.team === 'BTC' ||
          accountInfo.team === 'ALT'
        "
      >
        <img
          *ngIf="accountInfo.is_paid_membership === 'Free'"
          class="premium non-premium"
          src="/assets/base/images/menu/premium-icon.svg"
          alt="Non Premium icon"
        />
        <img
          *ngIf="accountInfo.is_paid_membership === 'Premium'"
          class="premium"
          src="/assets/base/images/menu/premium-icon-active.svg"
          alt="Premium icon"
        />
        <img
          *ngIf="accountInfo.is_system_team !== true"
          [src]="'/assets/base/images/teams/' + accountInfo.team + '-team.png'"
          alt=""
        />
        <div class="team-position">
          <img
            class="red-star"
            src="/assets/base/images/start-race/upgrade-red.png"
            alt="bubble icon"
          />
          <img
            class="blue-star"
            src="/assets/base/images/start-race/upgrade-blue.png"
            alt="bubble icon"
          />
          <p
            *ngIf="
              accountInfo.is_manager === true && accountInfo.is_owner === true
            "
            class="position-text"
          >
            Owner
          </p>
          <p
            *ngIf="
              accountInfo.is_manager === true && accountInfo.is_owner === false
            "
            class="position-text"
          >
            Manager
          </p>
          <p
            *ngIf="
              accountInfo.is_owner === true && accountInfo.is_manager === false
            "
            class="position-text"
          >
            Owner
          </p>
          <p
            *ngIf="
              accountInfo.is_manager === false && accountInfo.is_owner === false
            "
            class="position-text"
          >
            Racer
          </p>
        </div>
      </div>
      <div
        [routerLink]="['/teams/my-team']"
        class="team-img team"
        *ngIf="
          accountInfo.is_system_team !== true &&
          accountInfo.team !== 'IOI' &&
          accountInfo.team !== 'BTC' &&
          accountInfo.team !== 'ALT' &&
          accountInfo.is_system_team !== true
        "
      >
        <img
          class="premium"
          src="/assets/base/images/menu/premium-icon-active.svg"
          alt="Premium icon"
        />
        <img
          [src]="
            'assets/base/images/custom-teams/custom-team' +
            (myTeamAllData.avatar + 1) +
            '.png'
          "
          alt=""
        />
        <div class="team-position">
          <img
            class="red-star"
            src="/assets/base/images/start-race/upgrade-red.png"
            alt="bubble icon"
          />
          <img
            class="blue-star"
            src="/assets/base/images/start-race/upgrade-blue.png"
            alt="bubble icon"
          />
          <p
            *ngIf="
              accountInfo.is_manager === true && accountInfo.is_owner === true
            "
            class="position-text"
          >
            Owner
          </p>
          <p
            *ngIf="
              accountInfo.is_manager === true && accountInfo.is_owner === false
            "
            class="position-text"
          >
            Manager
          </p>
          <p
            *ngIf="
              accountInfo.is_owner === true && accountInfo.is_manager === false
            "
            class="position-text"
          >
            Owner
          </p>
          <p
            *ngIf="
              accountInfo.is_manager === false && accountInfo.is_owner === false
            "
            class="position-text"
          >
            Racer
          </p>
        </div>
        <div class="badge-name">
          <p class="name">{{ accountInfo.team }}</p>
          <p class="team">TEAM</p>
        </div>
      </div>
      <button
        *ngIf="ownedCars.length <= 0"
        [routerLink]="['/car/nft-market']"
        class="upgrade"
      >
        <p>UPGRADE</p>
        <img
          class="red-box-detail"
          src="assets/base/images/start-race/upgrade-red.png"
          alt="button red upgrade"
        />
        <img
          class="blue-box-detail"
          src="assets/base/images/start-race/upgrade-blue.png"
          alt="button blue upgrade"
        />
      </button>
      <img
        *ngIf="ownedCars.length <= 0"
        class="car"
        [src]="'assets/base/images/nft-cars/car0.png'"
        alt="nft car"
      />
      <img
        *ngIf="ownedCars.length > 0"
        class="car"
        [src]="
          'assets/base/images/nft-cars/' +
          ownedCars[ownedCars.length - 1]['image'] +
          '.png'
        "
        alt="nft car"
      />
      <img
        *ngIf="ownedRacers.length <= 0"
        class="racer"
        [src]="'assets/base/images/nft-racers/rookie-basic.png'"
        alt="nft racer"
      />
      <img
        *ngIf="ownedRacers.length > 0"
        class="racer"
        [src]="
          'assets/base/images/nft-racers/' +
          ownedRacers[ownedRacers.length - 1]['image'] +
          '.png'
        "
        alt="nft racer"
      />
    </div>
  </div>

  <div
    class="tutorial-modal"
    [ngClass]="'step' + tutorialStep"
    *ngIf="introModal === true"
  >
    <div class="box-content only-cta content0">
      <img
        src="/assets/base/images/modal/tutorial-racer.png"
        alt=""
        class="racer-boi big"
      />
      <div class="text-holder centered">
        <p class="heading">{{ "tutorial.skip_tutorial" | translate }}</p>
        <p class="text">{{ "tutorial.skip_desc" | translate }}</p>
      </div>
      <button class="my-cta-btn-back hoverable" (click)="skipModal()">
        {{ "tutorial.skip_tutorial" | translate }}
      </button>
    </div>

    <div class="box-content only-cta content1">
      <img
        src="/assets/base/images/modal/tutorial-racer.png"
        alt=""
        class="racer-boi big"
      />
      <div class="text-holder centered">
        <p class="heading">
          {{ "modals.welcome_btn" | translate }} {{ myDriverOld.nickname }}
        </p>
        <p class="text">{{ "tutorial.tutorial_msg1" | translate }}</p>
      </div>
      <button class="my-cta-btn-back hoverable" (click)="nextTutorialStep()">
        {{ "tutorial.lets_start" | translate }}
      </button>
    </div>

    <div class="box-content content2">
      <img
        src="/assets/base/images/modal/tutorial-racer.png"
        alt=""
        class="racer-boi"
      />
      <div class="text-holder">
        <p class="heading">{{ "tutorial.tutorial_msg2" | translate }}</p>
        <p class="text">{{ "tutorial.tutorial_msg3" | translate }}</p>
        <div class="pointing-line to-right"></div>
      </div>
      <div class="btns-holder">
        <button class="my-cta-btn-back hoverable" (click)="nextTutorialStep()">
          {{ "race.continue" | translate }}
        </button>
        <p class="skip-text my-cta-btn-back" (click)="tutorialStep = 0">
          {{ "tutorial.skip_the_tutorial" | translate }} &gt;
        </p>
      </div>
    </div>

    <div class="box-content content3">
      <img
        src="/assets/base/images/modal/tutorial-racer.png"
        alt=""
        class="racer-boi"
      />
      <div class="text-holder">
        <p class="heading">{{ "tutorial.tutorial_msg4" | translate }}</p>
        <p class="text">{{ "tutorial.tutorial_msg5" | translate }}</p>
        <div class="pointing-line to-left"></div>
      </div>
      <div class="btns-holder">
        <button class="my-cta-btn-back hoverable" (click)="nextTutorialStep()">
          {{ "race.continue" | translate }}
        </button>
        <p class="skip-text my-cta-btn-back" (click)="tutorialStep = 0">
          {{ "tutorial.skip_the_tutorial" | translate }} &gt;
        </p>
      </div>
    </div>

    <div class="box-content content4">
      <img
        src="/assets/base/images/modal/tutorial-racer.png"
        alt=""
        class="racer-boi"
      />
      <div class="text-holder">
        <p class="heading">{{ "tutorial.tutorial_msg6" | translate }}</p>
        <p class="text">{{ "tutorial.tutorial_msg7" | translate }}</p>
        <div class="pointing-line to-right"></div>
      </div>
      <div class="btns-holder">
        <button class="my-cta-btn-back hoverable" (click)="nextTutorialStep()">
          {{ "race.continue" | translate }}
        </button>
      </div>
    </div>

    <div
      class="skip-text absolute my-cta-btn-back"
      *ngIf="tutorialStep !== 2 && tutorialStep !== 3 && tutorialStep !== 0"
      (click)="tutorialStep = 0"
    >
      <p>{{ "tutorial.skip_the_tutorial" | translate }} &gt;</p>
    </div>
  </div>
</div>

<!-- MODALS -->
<div *ngIf="modalActive === true" class="activity-modal-back">
  <div class="modal-content my-border-grad">
    <div class="inner-modal">
      <button
        (click)="showModal()"
        class="continue button-text my-cta-btn-back"
      >
        Continue
      </button>
      <img
        (click)="showModal()"
        class="modal-close"
        src="/assets/base/images/icons/close-white.svg"
        alt="white close"
      />
      <div class="text-holder">
        <p class="category-title-first space">Activity boost explained</p>
        <div class="row space">
          <p class="category-title-second">
            Activity streak:
            {{ activityData?.activity_level }}
            <!-- <span class="my-text-color category-title-first"
              >{{ activityData?.activity_level }} days</span
            > -->
          </p>
          <p class="category-title-second">
            Daily race:
            <img
              *ngIf="
                activityData?.races[0].timestamp == date &&
                activityData?.races[0].race_count >= 10
              "
              class="checked"
              src="/assets/base/images/icons/checked.svg"
              alt="checked icon"
            />
            <img
              *ngIf="
                activityData?.races[0].timestamp != date ||
                activityData?.races[0].race_count < 10
              "
              class="checked"
              src="/assets/base/images/icons/unchecked.svg"
              alt="checked icon"
            />
          </p>
        </div>
        <div class="row space-small">
          <p class="category-title-third">1X</p>
          <p class="category-title-third">1.5X</p>
          <p class="category-title-third">2X</p>
          <p class="category-title-third">3X</p>
        </div>
        <div class="row">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="activity-progress">
          <div
            id="activity-bar"
            [ngStyle]="{ 'width.%': activityData?.activity_level }"
            class="inner-progress my-cta-btn-back"
          ></div>
        </div>
        <div class="row">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="row">
          <p class="classic-text">0 days</p>
          <p class="classic-text">10 days</p>
          <p class="classic-text">20 days</p>
          <p class="classic-text">30 days</p>
        </div>
        <div class="activity-table space-small">
          <div class="table-head">
            <p class="category-title-fourth">Activity boost</p>
          </div>
          <div class="table-row">
            <div class="table-item-small">
              <p class="classic-desc">10 Daily loggins</p>
            </div>
            <div class="table-item">
              <p class="category-title-fourth my-text-color">X1.5 BOOST</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item-small">
              <p class="classic-desc">20 Daily loggins</p>
            </div>
            <div class="table-item">
              <p class="category-title-fourth my-text-color">X2 BOOST</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item-small">
              <p class="classic-desc">30 Daily loggins</p>
            </div>
            <div class="table-item">
              <p class="category-title-fourth my-text-color">
                X3 BOOST
                <span class="golden-text category-title-fourth"
                  >&#43; Premium membership for 1 month for free</span
                >
              </p>
            </div>
          </div>
        </div>
        <p class="classic-text space-small">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>
      </div>
    </div>
  </div>
</div>
