.main-holder {
  position: relative;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background: url("/assets/base/images/register-back.jpg") no-repeat center;
  background-size: cover;
}

.logo-holder {
  width: 100%;
  position: absolute;
  top: 6%;
  left: 0;
  padding: 0 4%;
  z-index: 100;
  .logo {
    cursor: pointer;
  }
}

@media screen and (max-width: 1550px) {
  .logo-holder {
    .logo {
      width: 170px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .logo-holder {
    top: 4%;
    .logo {
      width: 140px;
    }
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .logo-holder {
    .logo {
      width: 100px;
    }
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .logo-holder {
    .logo {
      width: 120px;
    }
  }
}
