<div
  #outlet
  class="navoverlay"
  (click)="activateMenu()"
  [class.navoverlay-active]="isMenuActive"
  [class.nav-active]="isMenuActive"
></div>

<div class="navigation">
  <div [ngClass]="{ active: isMenuActive === true }" class="menu">
    <div
      [ngClass]="{
        'white-mode-back':
          isMenuActive === true && currentRoute === '/user/bundle-detail'
      }"
      class="hamburger"
      [class.open]="isMenuActive"
      (click)="activateMenu()"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div
      (click)="isMenuActive = false"
      data-aos="fade-down"
      class="logo"
      [routerLink]="['/user/home']"
    >
      <img src="/assets/base/images/new-logo.svg" alt="IOI Game" />
    </div>

    <div class="nav" [ngClass]="{ 'nav-active': isMenuActive === true }">
      <div>
        <p
          (click)="isMenuActive = false"
          [routerLink]="['/user/home']"
          [routerLinkActive]="'active'"
          class="p-small dynamic-color"
        >
          Home
        </p>
      </div>

      <div>
        <p
          (click)="isMenuActive = false"
          [routerLink]="['/user/how-to']"
          [routerLinkActive]="'active'"
          class="p-small dynamic-color"
        >
          How to
          <span class="index">NEW</span>
        </p>
      </div>
      <div>
        <p
          (click)="isMenuActive = false"
          [routerLink]="['/user/shop']"
          [routerLinkActive]="'active'"
          class="p-small dynamic-color"
        >
          Marketplace
        </p>
      </div>
      <div>
        <p
          (click)="isMenuActive = false"
          [routerLink]="['/user/affiliate']"
          [routerLinkActive]="'active'"
          class="p-small dynamic-color"
        >
          Affiliate
        </p>
      </div>

      <div>
        <p
          (click)="isMenuActive = false"
          [routerLink]="['/user/bundles']"
          [routerLinkActive]="'active'"
          class="p-small dynamic-color"
        >
          Bundles
        </p>
      </div>
      <button
        *ngIf="logged === false"
        class="my-cta"
        [routerLink]="['/user/sign-in']"
      >
        Play now
      </button>
      <button
        *ngIf="logged === true"
        class="my-cta"
        [routerLink]="['/race/start-race']"
      >
        Back to game
      </button>
    </div>
  </div>
</div>
<router-outlet (activate)="onActivate(outlet); updateRoute()"></router-outlet>
