* {
  margin: 0px;
}
.dissapear-right-animation {
  animation: dissapear-right 0.3s linear;
  -webkit-animation: dissapear-right 0.3s linear;
}
.dissapear-left-animation {
  animation: dissapear-left 0.3s linear;
  -webkit-animation: dissapear-left 0.3s linear;
}
.engage-right-animation {
  animation: engage-right 0.3s linear;
  -webkit-animation: engage-right 0.3s linear;
}
.engage-left-animation {
  animation: engage-left 0.3s linear;
  -webkit-animation: engage-left 0.3s linear;
}
.paging-img {
  width: 21px;
}
@keyframes dissapear-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes dissapear-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes engage-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes engage-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

.main-holder {
  width: calc(100% - 40px);
  height: calc(var(--vh, 1vh) * 100 - 80px);
  padding: 40px 0px 40px 40px;
  display: flex;
  position: relative;

  .detail-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .buy-content {
    width: 100%;
  }
}
.market-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .market-header {
    height: 7.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .filter-item {
      cursor: pointer;
      position: relative;
      transition: 0.3s;
      background: rgba(255, 255, 255, 0.05);
      border: 3px solid rgba(255, 255, 255, 0.4);
      width: 24%;
      display: flex;
      justify-content: center;
      align-items: center;
      .active-border {
        position: absolute;
        width: calc(100% + 6px);
        left: -3px;
        height: 0px;
        bottom: -3px;
      }
      p {
        margin-left: 10%;
        &.first {
          margin-left: 0px;
        }
      }
      &.active-item {
        background: rgba(255, 255, 255, 0.2);
        border: 3px solid rgba(255, 255, 255, 0.4);
        .active-border {
          height: 4px;
        }
      }
      .filter-icon {
        width: 30px;
        height: 30px;
      }
    }
    .filter-item:hover {
      background: rgba(255, 255, 255, 0.2);
      border: 3px solid rgba(255, 255, 255, 0.4);
    }
  }
  .market-center {
    margin-top: 2%;
    height: 85%;
    margin-left: -1%;
    width: 102%;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .box {
      cursor: pointer;
      overflow: hidden;
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      width: 23%;
      margin: 1%;
      height: 48%;
      .box-content {
        overflow: hidden;
        position: relative;
        padding: 2.5% 5%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: rgba(255, 255, 255, 0.05);
        img {
          transition: 0.3s;

          transform: translate(-50%, -50%);
          position: absolute;

          &.track {
            left: 50%;
            top: 40%;
            width: 60%;
          }
          &.special {
            left: 50%;
            top: 40%;
            height: 90%;
            width: auto;
          }
          &.racer {
            left: 50%;
            top: 60%;
            width: 65%;
          }
          &.car {
            left: 50%;
            top: 40%;
            width: 90%;
          }
          &.gif-racer {
            left: 50%;
            top: 50%;
            width: 65%;
            opacity: 0;
          }
          &.gif-car {
            top: 30%;
            opacity: 0;
            left: 50%;
            width: 90%;
          }
        }
      }
      .box-button {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-height: unset;
          max-width: unset;
          height: 60%;
          width: auto;
        }
        p {
          margin-left: 5%;
        }
      }
    }
    .box:hover {
      transform: scale(1.03);
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -ms-transform: scale(1.03);
      -o-transform: scale(1.03);
      .box-content {
        img {
          &.gif-hover {
            opacity: 0;
          }
          &.nogif-hover {
            opacity: 0;
          }
          &.gif-racer {
            opacity: 1;
          }
          &.gif-car {
            opacity: 1;
          }
        }
      }
    }
  }
  .engage-next-anim {
    animation: engage-boxes 0.4s;
    -webkit-animation: engage-boxes 0.4s;
  }
  .disengage-next-anim {
    animation: disengage-boxes 0.4s;
    -webkit-animation: disengage-boxes 0.4s;
  }
  .engage-prev-anim {
    animation: engage-boxes-left 0.4s;
    -webkit-animation: engage-boxes-left 0.4s;
  }
  .disengage-prev-anim {
    animation: disengage-boxes-left 0.4s;
    -webkit-animation: disengage-boxes-left 0.4s;
  }
  @keyframes engage-boxes-left {
    0% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      opacity: 1;
    }
  }
  @keyframes disengage-boxes-left {
    0% {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      opacity: 0;
    }
  }
  @keyframes engage-boxes {
    0% {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      opacity: 1;
    }
  }
  @keyframes disengage-boxes {
    0% {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      opacity: 0;
    }
  }
  .market-paging {
    margin-top: 3%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    .page-left {
      width: 25%;
      justify-content: center;
      display: flex;
    }
    .page-middle {
      display: flex;
      width: 20%;
      justify-content: center;
    }
    .page-right {
      width: 25%;
      justify-content: center;
      display: flex;
    }
    button {
      border: none;
      height: fit-content;
      width: fit-content;
      background: transparent;
    }
    .page-opacity {
      opacity: 0.4;
    }
    .arrow-animation {
      animation: arrow-animation 0.3s;
      -webkit-animation: arrow-animation 0.3s;
    }
    @keyframes arrow-animation {
      0% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
      }
      50% {
        transform: translateY(5px);
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
        -o-transform: translateY(5px);
      }
      100% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
      }
    }
  }
}
.category-title-first {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  font-family: "Earth Orbiter";
}
.category-title-second {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  font-family: "Earth Orbiter";
}
.category-title-third {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}
.races-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.6;
}
@media screen and(max-width: 1700px) {
  .main-holder {
    width: calc(100% - 30px);
    padding: 30px 0px 30px 30px;
  }
  .paging-img {
    width: 17px;
  }
}
@media screen and(max-width: 1550px) {
  .main-holder {
    width: calc(100% - 20px);
    height: calc(var(--vh, 1vh) * 100 - 65px);
    padding: 20px 0px 20px 20px;
  }
  .paging-img {
    width: 15px;
  }
  .market-content {
    .market-header {
      .filter-item {
        .filter-icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .category-title-first {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-second {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-third {
    font-size: 20px;
    line-height: 22px;
  }
  .races-desc {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and(max-width: 1400px) {
  .category-title-first {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-second {
    font-size: 18px;
    line-height: 20px;
  }
  .category-title-third {
    font-size: 18px;
    line-height: 20px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
  }
}
@media screen and(max-width: 1200px) {
  .main-holder {
    width: calc(100% - 13px);
    padding: 13px 0px 13px 13px;
  }
}
@media screen and(max-width: 1024px) {
  .content-holder {
    width: 100%;
  }
  .paging-img {
    width: 13px;
  }
  .main-holder {
    width: calc(100% - 10px);
    padding: 10px 0px 10px 10px;
  }
}

@media screen and (min-width: 2100px) and (min-height: 1081px) {
}
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .market-content {
    .market-header {
      .filter-item {
        border: 2px solid rgba(255, 255, 255, 0.4);
        .filter-icon {
          width: 17.5px;
          height: 17.5px;
        }
        .active-border {
          width: calc(100% + 4px);
          left: -2px;

          bottom: -2px;
        }
        &.active-item {
          border: 2px solid rgba(255, 255, 255, 0.4);
          .active-border {
            height: 3px;
          }
        }
      }
    }
  }
  .category-title-first {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-second {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-third {
    font-size: 14px;
    line-height: 16px;
  }
  .races-desc {
    font-size: 8px;
    line-height: 10px;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .main-holder {
    height: calc(var(--vh, 1vh) * 100 - 40px);
  }
  .market-content {
    .market-header {
      .filter-item {
        .filter-icon {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  .category-title-first {
    font-size: 8px;
    line-height: 10px;
  }
  .category-title-second {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-third {
    font-size: 10px;
    line-height: 12px;
  }
  .races-desc {
    font-size: 6px;
    line-height: 8px;
  }
}
@media screen and(max-width: 640px) and (orientation: landscape) {
  .paging-img {
    width: 8.5px;
  }
  .market-content {
    .market-header {
      .filter-item {
        .filter-icon {
          width: 12.5px;
          height: 12.5px;
        }
      }
    }
  }
  .category-title-first {
    font-size: 6px;
    line-height: 8px;
  }
  .category-title-second {
    font-size: 10px;
    line-height: 12px;
  }
  .category-title-third {
    font-size: 8px;
    line-height: 10px;
  }
  .races-desc {
    font-size: 4px;
    line-height: 6px;
  }
}
@media screen and(max-width: 1024px) and (orientation: portrait) {
  .main-holder {
    min-height: calc(var(--vh, 1vh) * 100);
    height: auto;
    .detail-content {
      height: auto;
      align-items: unset;
    }
  }
  .market-content {
    .market-header {
      width: 100%;
      overflow-x: scroll;
      justify-content: unset;
      .filter-item {
        width: 160px;
        min-width: 160px;
        height: 45px;

        margin-left: 15px;
        &.first {
          margin-left: 0px;
        }
      }
    }
    .market-center {
      .box {
        height: 225px;
        width: 48%;
        margin: 1%;
        .box-content {
          height: 85%;
          img {
            &.racer {
              top: 50%;
              width: 90%;
              max-width: 200px;
            }
            &.gif-racer {
              max-width: 200px;
              top: 45%;
              width: 90%;
            }
            &.car {
              max-width: 300px;
              width: 110%;
              top: 50%;
            }
            &.gif-car {
              max-width: 300px;
              top: 50%;
            }
            &.track {
              max-width: 300px;
              width: 85%;
            }
            &.special {
              max-width: 300px;
              width: 100%;
              height: auto;
            }
          }
        }
        .box-button {
          height: 15%;
        }
      }
    }
    .market-paging {
      .page-left {
        width: 25%;
      }
      .page-middle {
        width: 50%;
      }
      .page-right {
        width: 25%;
      }
    }
  }
  .paging-img {
    width: 15px;
  }
}

@media screen and(max-width: 640px) and (orientation: portrait) {
  .main-holder {
    min-height: calc(var(--vh, 1vh) * 100);
    height: auto;
  }

  .category-title-first {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-second {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-third {
    font-size: 12px;
    line-height: 14px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
    opacity: 0.6;
  }
}

//BACK BUTTON
.content-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 80px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  img {
    width: 21px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.09em;
    font-family: "Earth Orbiter";
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

@media screen and(max-width: 1700px) {
  .content-title {
    img {
      width: 17px;
    }
    p {
      font-size: 26px;
    }
  }
}
@media screen and(max-width: 1550px) {
  .content-title {
    height: 65px;
    img {
      width: 15px;
    }
    p {
      font-size: 22px;
    }
  }
}
@media screen and(max-width: 1024px) {
  .content-title {
    img {
      width: 13px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content-title {
    height: 40px;
  }
}
@media screen and(max-width: 640px) and (orientation: landscape) {
  .content-title {
    img {
      width: 8.5px;
    }
    p {
      font-size: 9px;
      margin-left: 5px;
    }
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .content-title {
    img {
      width: 10px;
    }
    p {
      font-size: 17px;
    }
  }
}
