<app-ioiloader *ngIf="assets.length <= 0"></app-ioiloader>
<div
  *ngIf="assets.length > 0"
  [ngClass]="{
    'dissapear-right-animation': animation === 1,
    'engage-right-animation': animation === 0
  }"
  class="main-holder"
  #myScroll2
>
  <div (click)="back()" class="content-title">
    <img
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>BACK</p>
  </div>

  <div *ngIf="marketState === 1" class="market-content">
    <div class="market-header">
      <div
        (click)="activateFilter('all')"
        [ngClass]="{ 'active-item': title === 'all' }"
        class="filter-item first"
      >
        <p class="category-title-first first">ALL NFTS</p>
        <div class="active-border my-cta-btn-back"></div>
      </div>
      <div
        (click)="activateFilter('car')"
        [ngClass]="{ 'active-item': title === 'car' }"
        class="filter-item"
      >
        <img
          class="filter-icon"
          src="assets/base/images/icons/car.svg"
          alt="car icon"
        />
        <p class="category-title-first">CARS</p>
        <div class="active-border my-cta-btn-back"></div>
      </div>
      <div
        (click)="activateFilter('racer')"
        [ngClass]="{ 'active-item': title === 'racer' }"
        class="filter-item"
      >
        <img
          class="filter-icon"
          src="assets/base/images/icons/helmet-icon.svg"
          alt="car icon"
        />
        <p class="category-title-first">RACERS</p>
        <div class="active-border my-cta-btn-back"></div>
      </div>

      <div
        (click)="activateFilter('bundle')"
        [ngClass]="{ 'active-item': title === 'bundle' }"
        class="filter-item"
      >
        <img
          class="filter-icon"
          src="assets/base/images/icons/crown-icon.svg"
          alt="crown icon"
        />
        <p class="category-title-first">BUNDLES</p>
        <div class="active-border my-cta-btn-back"></div>
      </div>
    </div>
    <div class="market-center" #myScroll>
      <div
        [ngClass]="{
          'engage-right-animation': animationPaging === 3,
          'disengage-right-animation': animationPaging === 4,
          'engage-left-animation': animationPaging === 1,
          'disengage-left-animation': animationPaging === 2
        }"
        class="items"
      >
        <div
          *ngFor="let item of filteredAssets | slice: sliceStart:sliceEnd"
          class="box"
        >
          <div
            (click)="chooseAsset(item.id, 2); scrollTop(myScroll2)"
            class="box-content"
          >
            <img
              [ngClass]="{ 'gif-hover': item['collection'] != 'Special' }"
              *ngIf="item['type'] === 'racer'"
              class="img racer"
              [src]="'/assets/base/images/nft-racers/' + item['image'] + '.png'"
              [alt]="item['alt']"
            />
            <img
              [ngClass]="{ 'gif-hover': item['collection'] != 'Special' }"
              *ngIf="item['type'] === 'racer'"
              class="img gif-racer"
              [src]="'/assets/base/images/nft-racers/' + item['gif'] + '.gif'"
              [alt]="item['alt']"
            />
            <img
              [ngClass]="{ 'gif-hover': item['collection'] != 'Special' }"
              *ngIf="item['type'] === 'car' && item['gif']"
              class="img car"
              [src]="'/assets/base/images/nft-cars/' + item['image'] + '.png'"
              [alt]="item['alt']"
            />
            <img
              [ngClass]="{ 'gif-hover': item['collection'] != 'Special' }"
              *ngIf="item['type'] === 'car' && item['gif']"
              class="img gif-car"
              [src]="'/assets/base/images/nft-cars/' + item['gif'] + '.gif'"
              [alt]="item['alt']"
            />
            <img
              *ngIf="item['type'] === 'car' && !item['gif']"
              class="img still car"
              [src]="'/assets/base/images/nft-cars/' + item['image'] + '.png'"
              [alt]="item['alt']"
            />
            <img
              *ngIf="item['type'] === 'bundle'"
              class="img special still"
              [src]="'/assets/base/images/bundles/' + item['image'] + '.png'"
              [alt]="item['alt']"
            />
            <p class="category-title-second">{{ item["name"] }}</p>
            <p class="races-desc">
              {{ item["collection"] }}
            </p>
          </div>
          <div
            *ngIf="item['rare'] != true"
            (click)="chooseAsset(item.id, 3); scrollTop(myScroll2)"
            class="box-button my-cta-btn-back"
          >
            <img
              src="assets/base/images/market/ioi-token.png"
              alt="ioi token icon"
            />
            <p class="category-title-third">{{ item["price"] }}</p>
          </div>
          <div *ngIf="item['rare'] === true" class="box-button my-cta-btn-back">
            <img
              src="assets/base/images/market/ioi-token.png"
              alt="ioi token icon"
            />
            <p class="category-title-third">{{ item["price"] }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="market-paging">
      <ng-container *ngIf="filteredAssets.length > assetsOnPage"
        ><div class="page-left">
          <button
            (click)="pagination('minus'); scrollTop(myScroll)"
            [disabled]="timeoutPage || sliceStart <= 0"
            class="pagebtn-l"
          >
            <img
              class="red-box-detail paging-img"
              [ngClass]="{
                'page-opacity': sliceStart === 0,
                'arrow-animation': animateArrowLeft === true
              }"
              src="/assets/base/images/icons/icon-back-red.svg"
              alt="red back icon"
            />
            <img
              class="blue-box-detail paging-img"
              [ngClass]="{
                'page-opacity': sliceStart === 0,
                'arrow-animation': animateArrowLeft === true
              }"
              src="/assets/base/images/icons/icon-back-blue.svg"
              alt="blue next icon"
            />
          </button>
        </div>
        <div class="page-middle">
          <p class="category-title-second">
            Page
            <span class="leftspan">{{ page }} / {{ lastPage }}</span>
          </p>
        </div>
        <div class="page-right">
          <button
            [ngClass]="{
              'arrow-animation': animateArrowRight === true
            }"
            (click)="pagination('plus'); scrollTop(myScroll)"
            [disabled]="timeoutPage || page === lastPage"
            class="pagebtn-r"
          >
            <img
              class="red-box-detail paging-img"
              [ngClass]="{
                'page-opacity': sliceEnd >= this.filteredAssets.length
              }"
              src="/assets/base/images/icons/icon-next-red.svg"
              alt="red next icon"
            />
            <img
              class="blue-box-detail paging-img"
              [ngClass]="{
                'page-opacity': sliceEnd >= this.filteredAssets.length,
                'arrow-animation': animateArrowRight === true
              }"
              src="/assets/base/images/icons/icon-next-blue.svg"
              alt="blue next icon"
            />
          </button></div
      ></ng-container>
    </div>
  </div>
  <app-nft-detail
    class="detail-content"
    *ngIf="marketState === 2"
    [assetInfo]="choosedAsset"
    (marketState)="showMarketState($event)"
  ></app-nft-detail>

  <app-buy-nft
    class="detail-content"
    *ngIf="marketState === 3"
    [assetInfo]="choosedAsset"
    (marketState)="showMarketState($event)"
  ></app-buy-nft>
</div>
