<div
  [ngClass]="{ 'filter-overlay-active': mobileFilter === true }"
  class="filter-overlay"
></div>

<div (window:resize)="width()" class="main-holder" #myScroll2>
  <div class="content-title">
    <img
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>MARKET</p>
  </div>

  <div class="market-content">
    <div class="market-header">
      <div (click)="filterAll()" class="filter-item">
        <p class="category-title-first first">ALL NFTS</p>
        <div class="active-border my-cta-btn-back"></div>
      </div>
      <div (click)="filterCars()" class="filter-item">
        <img
          class="filter-icon"
          src="assets/base/images/icons/car.svg"
          alt="car icon"
        />
        <p class="category-title-first">CARS</p>
        <div class="active-border my-cta-btn-back"></div>
      </div>
      <div (click)="filterRacers()" class="filter-item">
        <img
          class="filter-icon"
          src="assets/base/images/icons/helmet-icon.svg"
          alt="car icon"
        />
        <p class="category-title-first">RACERS</p>
        <div class="active-border my-cta-btn-back"></div>
      </div>
      <div (click)="filterTracks()" class="filter-item">
        <img
          class="filter-icon"
          src="assets/base/images/icons/track-icon.svg"
          alt="car icon"
        />
        <p class="category-title-first">TRACKS</p>
        <div class="active-border my-cta-btn-back"></div>
      </div>
      <div (click)="filterSpecial()" class="filter-item">
        <img
          class="filter-icon"
          src="assets/base/images/icons/crown-icon.svg"
          alt="crown icon"
        />
        <p class="category-title-first">SPECIALS</p>
        <div class="active-border my-cta-btn-back"></div>
      </div>
    </div>
    <div
      [ngClass]="{
        'engage-next-anim': animation === 0,
        'disengage-next-anim': animation === 1,
        'engage-prev-anim': animation === 2,
        'disengage-prev-anim': animation === 3
      }"
      class="market-center"
      #myScroll
    >
      <div
        *ngFor="let item of newProducts | slice: sliceStart:sliceMiddle"
        class="box"
      >
        <div
          (click)="showAsset(item['id'], item['type'], item['position'])"
          class="box-content"
        >
          <img
            *ngIf="item['type'] === 'racer'"
            class="img racer"
            [src]="'/assets/base/images/nft-racers/' + item['image'] + '.png'"
            [alt]="item['alt']"
          />
          <img
            *ngIf="item['type'] === 'racer'"
            class="img gif-racer"
            [src]="'/assets/base/images/nft-racers/' + item['gif'] + '.gif'"
            [alt]="item['alt']"
          />
          <img
            *ngIf="item['type'] === 'car' && item['gif']"
            class="img car"
            [src]="'/assets/base/images/nft-cars/' + item['image'] + '.png'"
            [alt]="item['alt']"
          />
          <img
            *ngIf="item['type'] === 'car' && item['gif']"
            class="img gif-car"
            [src]="'/assets/base/images/nft-cars/' + item['gif'] + '.gif'"
            [alt]="item['alt']"
          />
          <img
            *ngIf="item['type'] === 'car' && !item['gif']"
            class="img still car"
            [src]="'/assets/base/images/nft-cars/' + item['image'] + '.png'"
            [alt]="item['alt']"
          />

          <img
            *ngIf="item['type'] === 'track'"
            class="img still track"
            [src]="
              '/assets/base/images/home-page/' + item['image'] + '-small.png'
            "
            [alt]="item['alt']"
          />
          <img
            *ngIf="item['type'] === 'special'"
            class="img special still"
            [src]="'/assets/base/images/home-page/' + item['image'] + '.png'"
            [alt]="item['alt']"
          />
          <p class="category-title-second">{{ item["name"] }}</p>
          <p class="races-desc">
            {{ item["collection"] }}
          </p>
        </div>
        <div class="box-button my-cta-btn-back">
          <img
            src="assets/base/images/market/ioi-token.png"
            alt="ioi token icon"
          />
          <p class="category-title-third">{{ item["price"] }}</p>
        </div>
      </div>
    </div>
    <div class="market-paging">
      <ng-container *ngIf="newProducts.length > inRow"
        ><div class="page-left">
          <button
            (click)="prevPageCars()"
            [disabled]="timeoutPage || sliceStart <= 0"
            class="pagebtn-l"
          >
            <img
              class="red-box-detail"
              [ngClass]="{
                'page-opacity': sliceStart === 0,
                'arrow-animation': animateArrow === true
              }"
              src="/assets/base/images/icons/icon-back-red.svg"
              alt="red back icon"
            />
            <img
              class="blue-box-detail"
              [ngClass]="{
                'page-opacity': sliceStart === 0,
                'arrow-animation': animateArrow === true
              }"
              src="/assets/base/images/icons/icon-back-blue.svg"
              alt="blue next icon"
            />
          </button>
        </div>
        <div class="page-middle">
          <p>
            Page
            <span class="leftspan">{{ currentPage }} /</span>
            <span class="rightspan blue-box-detail">{{ lastPage }}</span>
            <span class="rightspan red-box-detail">{{ lastPage }}</span>
          </p>
        </div>
        <div class="page-right">
          <button
            [ngClass]="{
              'arrow-animation': animateArrowRight === true
            }"
            (click)="nextPageCars(); scrollTop(myScroll)"
            [disabled]="
              timeoutPage || currentPage >= newProducts.length / inRow
            "
            class="pagebtn-r"
          >
            <img
              class="red-box-detail"
              [ngClass]="{
                'page-opacity': sliceMiddle >= this.newProducts.length
              }"
              src="/assets/base/images/icons/icon-next-red.svg"
              alt="red next icon"
            />
            <img
              class="blue-box-detail"
              [ngClass]="{
                'page-opacity': sliceMiddle >= this.newProducts.length,
                'arrow-animation': animateArrowRight === true
              }"
              src="/assets/base/images/icons/icon-next-blue.svg"
              alt="blue next icon"
            />
          </button></div
      ></ng-container>
    </div>
  </div>
  <app-nft-detail
    *ngIf="marketState === 2"
    [assetId]="selectedId"
    [assetType]="selectedType"
    [assetPosition]="selectedPosition"
    (marketState)="showAssetBuy($event)"
    (modalActive)="showModal($event)"
  ></app-nft-detail>

  <app-buy-nft
    *ngIf="marketState === 3"
    [assetId]="selectedId"
    [assetType]="selectedType"
  ></app-buy-nft>
</div>
