.main-holder {
  width: calc(100% - 457px);
  padding-left: 40px;
  position: relative;
}

.top-info {
  margin: 30px 0 0;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
  }
  .back {
    cursor: pointer;
    transition: 0.2s;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    min-height: 132px;
    background: linear-gradient(0deg, #111111, #111111);
    box-shadow: 0px 0px 80px #000000;
    border-radius: 20px;
    p {
      line-height: 30px;
    }
  }
  .back:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  .text-info {
    max-width: 785px;
    margin: 0 20px;
  }
  .info-box {
    margin-left: auto;
    width: 482px;
    min-width: 482px;
    background: #111111;
    box-shadow: 0px 0px 80px #000000;
    border-radius: 20px;
    padding: 40px;
    .nums-holder {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;
      margin-bottom: 15px;
      .num-box {
        width: 51px;
        height: 50px;
        background: rgba(255, 255, 255, 0.03);
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding-top: 7px;
        margin: 0 5px;
        p {
          font-size: 24px;
          font-weight: 400;
          margin: 0;
          text-align: center;
        }
      }
      .desc {
        position: absolute;
        bottom: -10px;
        font-size: 16px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.6);
        left: 50%;
        transform: translate(-50%, 100%);
        margin: 0;
        -webkit-transform: translate(-50%, 100%);
        -moz-transform: translate(-50%, 100%);
        -ms-transform: translate(-50%, 100%);
        -o-transform: translate(-50%, 100%);
      }
    }
  }
}
.my-menu {
  width: 100%;
  .menu-desc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p {
      margin: 0;
      font-size: 18px;
      text-align: center;
      color: #ffffff;
      display: block;
      width: 50%;
      padding-bottom: 15px;
      cursor: pointer;
      text-transform: uppercase;
    }
    .active {
      font-weight: 600;
    }
  }
  .menu-line {
    width: 100%;
    background: #252525;
    border: 4px solid #111111;
    box-sizing: border-box;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
      10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    .inner-line {
      border-radius: 10px;
      width: 33.333%;
      height: 4px;
      position: relative;
      left: 66.6666%;
    }
  }
}

.hamburger {
  display: none;
}

//
.shop-section {
  margin-top: 40px;
  margin-bottom: 200px;
  .pages {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    > div {
      position: relative;
      p {
        color: white;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
      }
      span {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
      }
      .leftspan {
        color: white;
      }
    }
    button {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    }
    .clickPage {
    }
    .page-left {
      width: 10%;
    }
    .page-middle {
      width: 20%;
      position: relative;
      p {
        margin: 0;
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    }
    .page-right {
      width: 10%;
    }
    .page-opacity {
      opacity: 0.4;
    }
    @keyframes pageclick {
      0% {
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
      50% {
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
      100% {
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    }
  }

  .title {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 75%;
    margin-left: 12.5%;
    text-align: center;
    h1 {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 65px;
      /* identical to box height, or 164% */

      text-align: center;

      /* Gray 1 */

      color: #333333;
    }
  }
  .shop-header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .filter-featured {
      margin-bottom: 30px;
      width: 95%;
      display: flex;
      position: relative;
      .filter-title {
        position: relative;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 30px;
        color: #e0e0e0;
        p {
          margin: 7px 0 0 0;
        }
      }
      .filter-boxes {
        display: flex;
        width: 50%;
        > div {
          margin-left: 12.5%;
          cursor: pointer;
          .filter-box {
            background: rgb(120, 120, 120, 0);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            transition: 0.15s;
            border: 1.5px solid #e0e0e0;
            box-sizing: border-box;
            border-radius: 5px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            &.filter-active {
              background: rgb(120, 120, 120, 1);
            }
          }

          p {
            display: inline-block;
            margin: 5px 0 0 40%;
            width: 50px;
            width: 100px;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: #e0e0e0;
            line-height: 30px;
          }
        }
      }
    }
  }
  .shop-section-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .boxes {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .box {
        margin: 0.75%;
        cursor: default;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.8);
        background: transparent;
        width: 23.5%;
        height: 500px;
        margin-bottom: 1.5%;
        border-radius: 10px;
        padding: 2%;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        .txt {
          position: relative;
          height: 40%;
          //meno kolekcie
          .collection {
            top: -15%;
            position: absolute;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            /* identical to box height, or 24px */

            color: white;

            opacity: 0.6;
          }
          //meno
          .name-nof {
            position: absolute;
            font-family: True-Lies;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 150%;
            bottom: 47.5%;
            color: white;
          }
          .name {
            position: absolute;
            font-style: normal;
            font-weight: normal;
            bottom: 47.5%;
            font-family: True-Lies;
            font-size: 32px;
          }
          .racername {
            position: absolute;
            left: 120%;
            width: 100%;
            font-family: True-Lies;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 150%;
            color: white;
          }
          .prize {
            bottom: 30%;
            position: absolute;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            text-align: right;

            color: #30cece;
          }
          button {
            outline: none;
            cursor: pointer;
            position: absolute;
            border: 0;
            left: 7.5%;
            height: 32.5%;
            width: 85%;
            border-radius: 12px;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            color: white;
            bottom: 0%;
            transition: 0.2s;
          }
        }
        .boximage {
          position: relative;
          width: 100%;
          height: 60%;
          img {
            width: 95%;
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translate(-50%, -50%);
            transition: 0.2s;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
          }
        }
      }
      .box:hover {
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
        .boximage {
          img {
            transform: translate(-50%, -50%) scale(1.07);
            -webkit-transform: translate(-50%, -50%) scale(1.07);
            -moz-transform: translate(-50%, -50%) scale(1.07);
            -ms-transform: translate(-50%, -50%) scale(1.07);
            -o-transform: translate(-50%, -50%) scale(1.07);
          }
        }
        .txt {
          button {
            opacity: 1;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1800px) {
  .top-info {
    h1 {
      font-size: 30px;
    }
    .text-info {
      max-width: 575px;
    }
  }
}
@media screen and (max-width: 1700px) {
  .main-holder {
    width: calc(100% - 430px);
    padding-left: 30px;
  }
  .top-info {
    padding-bottom: 10px;
    .text-info {
      max-width: 535px;
      margin: 0 15px;
      h1 {
        font-size: 26px;
        line-height: unset;
        margin: 10px 0;
      }
      p {
        font-size: 15px;
      }
    }
    .info-box {
      width: 412px;
      min-width: 412px;
      padding: 27px 15px;
      .nums-holder {
        margin-bottom: 10px;
        .num-box {
          width: 44px;
          height: 42px;
          padding-top: 6px;
          p {
            font-size: 20px;
          }
        }
        .desc {
          bottom: -8px;
          font-size: 14px;
        }
      }
    }
  }
  .shop-section {
    .shop-section-center {
      .boxes {
        .box {
          height: 400px;
          .boximage {
            img {
              width: 100%;
            }
          }
          .txt {
            .name {
              font-size: 21px;
            }
            .collection {
              top: 0;
              font-size: 15px;
            }
            .racername {
              font-size: 26px;
            }
            .prize {
              font-size: 21px;
            }
            button {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1550px) {
  .main-holder {
    width: calc(100% - 380px);
    padding-left: 20px;
  }
  .my-menu {
    .menu-desc {
      p {
        font-size: 16px;
        padding-bottom: 7px;
      }
    }
  }
  .top-info {
    margin-top: 20px;
    .text-info {
      max-width: 475px;
      margin: 0 10px;
      h1 {
        font-size: 24px;
        margin: 5px 0 7px;
      }
      p {
        font-size: 13px;
      }
    }
    .back {
      min-height: 105px;
      padding: 0 14px;
      p {
        line-height: unset;
        font-size: 14px;
      }
    }
    .info-box {
      width: 352px;
      min-width: 352px;
      .nums-holder {
        margin-bottom: 8px;
        .num-box {
          width: 35px;
          height: 33px;
          padding-top: 5px;
          margin: 0 3px;
          p {
            font-size: 16px;
          }
        }
        .desc {
          bottom: -6px;
          font-size: 13px;
        }
      }
    }
  }
  .shop-section {
    margin-top: 30px;
    margin-bottom: 100px;
    .title {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .shop-header {
      .filter-featured {
        margin-bottom: 25px;
        .filter-title {
          font-size: 20px;
        }
        .filter-boxes {
          & > div {
            margin-left: 11.5%;
            .filter-box {
              width: 20px;
              height: 20px;
            }
            p {
              font-size: 17px;
              margin: 4px 0 0 40%;
            }
          }
        }
      }
    }
    .shop-section-center {
      .boxes {
        .box {
          height: 370px;
          .txt {
            .name {
              font-size: 19px;
            }
            .collection {
              font-size: 14px;
            }
            .racername {
              font-size: 23px;
            }
            .prize {
              font-size: 19px;
            }
            button {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .top-info {
    .text-info {
      max-width: 665px;
      h1 {
        font-size: 20px;
        margin: 3px 0 5px;
      }
      p {
        font-size: 12px;
        margin: 0;
      }
    }
    .info-box {
      width: 322px;
      min-width: 322px;
    }
  }
  .shop-section {
    .shop-section-center {
      .boxes {
        .box {
          width: 31%;
          margin: 1.16%;
          margin-bottom: 2.8%;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .main-holder {
    width: calc(100% - 340px);
    padding-left: 13px;
  }
  .my-menu {
    .menu-desc {
      p {
        font-size: 14px;
      }
    }
    .menu-line {
      border-width: 3px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-holder {
    width: 100%;
    padding: 0 13px 0px 10px;
    .shop-section {
      .filter-mobile {
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.8);
        background: transparent;

        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 25%;
        width: 50%;
        height: 50px;
        z-index: 1;
        .filter-tit {
          position: relative;
          width: 100%;
          height: 50px;

          .f {
            margin: 0;
            font-size: 22px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.7;
            color: white;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
          }
          .a {
            margin: 0;
            font-size: 22px;
            position: absolute;
            right: 5%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.7;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            i {
              color: white;
            }
          }
        }
        .filter-content {
          top: 50px;
          transition: 0.2s;
          overflow: hidden;
          position: absolute;
          background: black;
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 0px;
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.8);

          > div {
            padding: 5px;
            width: 100%;
            height: 25%;
            position: relative;
            position: relative;
            p {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              font-family: Poppins;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 150%;
              color: white;
              opacity: 0.6;
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
            }
          }
          > div:hover {
            background: rgba(0, 0, 0, 0.4);
          }
        }
        .filter-content-active {
          height: 200px;
        }
        .racers {
          left: 5%;
        }
        .cars {
          top: 17.5%;
          z-index: 1;
        }
        .tracks {
        }
      }

      .shop-section-center {
        margin-top: 25px;
        .boxes {
          .box {
            .txt {
              button {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .top-info {
    flex-wrap: wrap;
    .back {
      order: 1;
      p {
        font-size: 11px;
        margin-bottom: 7px;
      }
    }
    .info-box {
      width: calc(100% - 70px);
      order: 2;
      padding: 27px 18px;
      min-width: unset;
      .nums-holder {
        margin-bottom: 12px;
        .num-box {
          margin: 0 9px;
          width: 40px;
          height: 38px;
          p {
            font-size: 19px;
          }
        }
      }
    }
    .text-info {
      order: 3;
      margin: 15px auto;
      text-align: center;
    }
  }
}
@media screen and (max-width: 640px) {
  .main-holder {
    width: 100%;
    padding: 0 10px 0px 10px;
  }
  .top-info {
    padding-bottom: 0;
    .back {
      min-height: 80px;
      p {
        font-size: 10px;
        margin-bottom: 6px;
      }
    }
    .info-box {
      width: calc(100% - 60px);
      padding: 20px 18px;
      .nums-holder {
        .num-box {
          width: 35px;
          height: 33px;
          margin: 0 6px;
          padding-top: 6px;
          p {
            font-size: 15px;
          }
        }
        .desc {
          bottom: -3px;
          font-size: 12px;
        }
      }
    }
  }
  .my-menu {
    .menu-desc {
      p {
        font-size: 14px;
        padding-bottom: 6px;
      }
    }
  }
  .shop-section {
    .pages {
      .page-left {
        width: 20%;
      }
      .page-middle {
        width: 60%;
      }
      .page-right {
        width: 20%;
      }
    }
    .shop-section-center {
      .boxes {
        .box {
          padding: 20px;
          height: 500px;
          width: 80%;
          margin: 5% 10% 5% 10%;
          .txt {
            .racername {
              width: 200px;
              left: 150%;
              button {
              }
            }
          }
          .boximage {
            img {
              width: 350px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .top-info {
    .info-box {
      padding: 20px 10px;
      .nums-holder {
        .num-box {
          margin: 0 3px;
        }
      }
    }
  }
}
