* {
  margin: 0px;
}
.dissapear-right-animation {
  animation: dissapear-right 0.3s linear;
  -webkit-animation: dissapear-right 0.3s linear;
}
.dissapear-left-animation {
  animation: dissapear-left 0.3s linear;
  -webkit-animation: dissapear-left 0.3s linear;
}
.engage-right-animation {
  animation: engage-right 0.3s linear;
  -webkit-animation: engage-right 0.3s linear;
}
.engage-left-animation {
  animation: engage-left 0.3s linear;
  -webkit-animation: engage-left 0.3s linear;
}
@keyframes dissapear-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes dissapear-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes engage-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes engage-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
.main-holder {
  width: calc(100% - 40px);
  height: calc(100vh - 80px);
  padding: 40px 0px 40px 40px;
  display: flex;
  position: relative;
  align-items: flex-end;
}
.category-title-first {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  font-family: "Earth Orbiter";
}
.category-title-second {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  font-family: "Earth Orbiter";
}
.category-title-third {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  font-family: "Earth Orbiter";
}
.races-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.6;
}
@media screen and(max-width: 1700px) {
  .main-holder {
    width: calc(100% - 30px);
    padding: 30px 0px 30px 30px;
  }
  .content-title {
    img {
      width: 17px;
    }
    p {
      font-size: 26px;
    }
  }
}
@media screen and(max-width: 1550px) {
  .main-holder {
    width: calc(100% - 20px);
    height: calc(100vh - 65px);
    padding: 20px 0px 20px 20px;
  }
  .content-title {
    height: 65px;
    img {
      width: 15px;
    }
    p {
      font-size: 22px;
    }
  }

  .category-title-first {
    font-size: 32px;
  }
  .category-title-second {
    font-size: 26px;
  }
  .category-title-third {
    font-size: 20px;
  }
  .races-desc {
    font-size: 14px;
  }
}
@media screen and(max-width: 1400px) {
  .menu-title {
    font-size: 16px;
  }
  .category-title-first {
    font-size: 26px;
  }
  .category-title-second {
    font-size: 22px;
  }
  .category-title-third {
    font-size: 18px;
  }
  .races-desc {
    font-size: 12px;
  }
}
@media screen and(max-width: 1200px) {
  .main-holder {
    width: calc(100% - 13px);
    padding: 13px 0px 13px 13px;
    padding-bottom: 13px;
    padding-top: 13px;
  }
}
@media screen and(max-width: 1024px) {
  .main-holder {
    width: calc(100% - 10px);
    padding: 10px 0px 10px 10px;
  }
  .content-title {
    img {
      width: 13px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 2100px) and (min-height: 1081px) {
}
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content-title {
    height: 40px;
  }
  .category-title-first {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-second {
    font-size: 17px;
    line-height: 19px;
  }
  .category-title-third {
    font-size: 15px;
    line-height: 17px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
  }
}
@media screen and(max-width: 700px) and (orientation: landscape) {
  .content-title {
    img {
      width: 8.5px;
    }
    p {
      font-size: 9px;
      margin-left: 5px;
    }
  }

  .category-title-first {
    font-size: 17px;
    line-height: 19px;
  }
  .category-title-second {
    font-size: 15px;
    line-height: 17px;
  }
  .category-title-third {
    font-size: 13px;
    line-height: 15px;
  }
  .races-desc {
    font-size: 8px;
    line-height: 10px;
  }
}
@media screen and(max-width: 1024px) and (orientation: portrait) {
  .main-holder {
    align-items: flex-start;
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .content-title {
    img {
      width: 10px;
    }
    p {
      font-size: 17px;
    }
  }

  .category-title-first {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-second {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-third {
    font-size: 12px;
    line-height: 14px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
    opacity: 0.6;
  }
}
