
.ioi-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: url(/assets/base/images/login/main-back.png);
  background-position: center center;
  background-repeat: no-repeat;

  background-size: cover;
}

*{
  color: white;
}

.ioi-modal .ioi-logo{
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.ioi-modal .ioi-modal-content {
  background-color: transparent;
  margin: auto;
  position: relative;
  width: 990px;
  top: 50%;
  transform: translateY(-50%);
}

.ioi-modal .ioi-modal-content .background {
  object-fit: contain;
  position: absolute;
  right: 0;
  width: 100%;
  top: -59px;
}

.ioi-modal .ioi-modal-content .ioi-modal-body {
  display: flex;
  flex-direction: row;
  background: #000;
  box-shadow: 0px 1px 12px #0a5d76;
  border-radius: 11px;
  height: 399px;
}

.ioi-modal .ioi-modal-content .ioi-modal-body .panel {
  margin: 0;
  z-index: 1;
  position: relative;
  padding: 50px 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 50%;
}

.ioi-modal .ioi-modal-content .ioi-modal-body .panel .inputs-holder{
  justify-content: flex-end;
}

.ioi-modal .ioi-modal-content .ioi-modal-body .panel .panel-footer {
  margin: 00px 0 0 25px;
  position: absolute;
  bottom: -49px;
  width: 100px;
  left: -15px;
}

.ioi-modal .ioi-modal-content .ioi-modal-body .panel .modal-close {
  position: absolute;
  top: 9px;
  right: 20px;
}

.ioi-modal .ioi-modal-content .ioi-modal-body .panel .label-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.terms {
  color: #03a6a4;
  font-size: 17px;
  position: relative;
  top: 8px;
  left: 9px;
  padding-right: 10px;
}
.terms a{
  color: #03a6a4;
}

.auth-label {
  font-size: 16px;
  color: #111111;
  margin-bottom: 3px;
}

.off {
  color: white;
  opacity: 0.2;
}
.off:hover {
  color: #111111;
  opacity: 0.5;
}

.panel-footer > button.icon-button {
  width: 88px;
  height: 88px;
}

.panel-footer img.start {
  width: 100%;
}

.left-party {
  width: 50%;
}

.left-party p {
  color: #ffffff69;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}

.left-party h2 {
  color: #ffffff;
  font-size: 37px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.left-party {
  background-repeat: no-repeat;
  background-image: url("../../images/lajn.png");
  background-position: right center;
  padding: 91px 41px 0 10px !important;
}

.this-inner.d-flex {
  flex-direction: column;
}

.this-inner.d-flex.flex-column {
  padding-left: 37px;
}

.left-party p img {
  width: 17px;
  margin-left: 4px;
  position: relative;
  top: -2px;
}
.ioi-modal .ioi-modal-content .ioi-modal-body .panel .panel-separator {
  margin: 110px 20px 0 0;
  text-align: center;
  width: 17px;
  color: #111111;
}
.ioi-modal .ioi-modal-content .ioi-modal-body .panel .left-part--login {
  width: 100px;
}
.ioi-modal .ioi-modal-content .ioi-modal-body .panel .right-part--login {
  width: 289px;
}

.rec-wrap {
  position: absolute;
  bottom: 10px;
  right: 36px;
}

input.input-blue {
  color: #111111;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #111111;
  padding: 5px 15px;
  transition: box-shadow 0.1s;
}
input.input-blue:focus {
  outline: none;
  box-shadow: 1px 1px 5px 0px rgba(61, 255, 255, 0.75);
}
.ioi-modal-body form.panel .icon-button.socials {
  width: 63px;
  height: 65px;
}
.ioi-modal-body form.panel .icon-button.socials.facebook {
  background-image: url("/assets/base/images/icons/btn_facebook2.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 0.1s;
}
.ioi-modal-body form.panel .icon-button.socials.facebook:hover {
  background-image: url("/assets/base/images/icons/facebook-active.png");
}
.ioi-modal-body form.panel .icon-button.socials.google {
  background-image: url("/assets/base/images/icons/btn_google_plus.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 0.1s;
}
.ioi-modal-body form.panel .icon-button.socials.google:hover {
  background-image: url("/assets/base/images/icons/btn_google_plus-active.png");
}


@media screen and (max-width: 1024px) {
  .left-party.panel {
    width: 100%;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-image: linear-gradient(
        to right,
        transparent,
        transparent,
        #007871,
        #007871,
        #007871,
        transparent,
        transparent
      )
      1;
  }
  .ioi-modal .ioi-modal-content .ioi-modal-body .panel {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
  }
  .ioi-modal .ioi-modal-content .ioi-modal-body form.panel {
    padding-bottom: 120px;
  }
  .ioi-modal .ioi-modal-content {
    max-width: 580px;
    width: unset;
    margin: 0 auto;
    transform: scale(1.5);
    top: 300px;
  }
  .ioi-modal .ioi-modal-content .ioi-modal-body .panel .panel-footer {
    bottom: -44px;
    left: 50%;
    transform: translateX(-50%);
  }
  .ioi-modal .ioi-modal-content .ioi-modal-body {
    flex-wrap: wrap;
    height: unset !important;
  }
  .ioi-modal .ioi-modal-content .background {
    min-height: 115px !important;
  }
  .left-party {
    padding: 80px 10px 20px 10px !important;
    background-image: none;
  }
  .this-inner.d-flex.flex-column {
    padding-left: 0;
  }
  .ioi-modal-body h2 {
    font-size: 25px;
  }
  .ioi-modal-body h2 img {
    width: 47px;
    vertical-align: baseline;
  }
  .ioi-modal .ioi-modal-content .ioi-modal-body .panel .panel-footer {
    margin: 0;
  }
  .ioi-modal .ioi-modal-content .ioi-modal-body .panel .right-part--login {
    height: 254px;
  }
  .rec-wrap {
    bottom: 43px;
    right: 45px;
  }

  .left-party {
    padding: 40px 10px 20px 10px !important;
  }
  .ioi-modal .ioi-modal-content {
    max-width: unset;
    width: 60%;
  }
  .left-party p {
    font-size: 15px;
  }
  .left-party p img {
    width: 12px;
  }
  .left-party h2 {
    font-size: 22px;
  }
  .left-party h2 img {
    width: 41px;
  }
  .ioi-modal-body form.panel .icon-button.socials {
    width: 70px;
    margin-bottom: 0 !important;
    margin-left: 10px;
  }
  .ioi-modal-body form.panel .icon-button.socials img {
    width: 100%;
  }
  .ioi-modal .ioi-modal-content .ioi-modal-body .panel .label-group {
    margin-bottom: 0;
  }
  .ioi-modal .ioi-modal-content .ioi-modal-body .panel .panel-separator {
    margin: 10px auto;
  }
  .ioi-modal-body form.panel > div {
    flex-wrap: wrap;
  }
  .ioi-modal .ioi-modal-content .ioi-modal-body .panel .right-part--login {
    width: 100%;
  }
  .ioi-modal .ioi-modal-content .ioi-modal-body .panel .left-part--login {
    width: 100%;
    flex-direction: row !important;
    justify-content: center;
    display: none !important;
  }
  .ioi-modal
    .ioi-modal-content
    .ioi-modal-body
    .panel
    .label-group.socials-label {
    display: none;
  }
  input.input-blue,
  select.input-blue.mt-2.w-100 {
    width: 80% !important;
    margin: 0 auto;
  }
  .ioi-modal-body form.panel .icon-button.socials.facebook {
    background-image: url("/assets/base/images/icons/facebook-active.png");
  }
  .ioi-modal-body form.panel .icon-button.socials.google {
    background-image: url("/assets/base/images/icons/btn_google_plus-active.png");
  }
  .rec-wrap {
    bottom: 43px;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
  .modal-wrapper.sc-ion-modal-md{
    zoom: 150%;
  }
  body>div div:last-child{
    left: 0!important;
    right: auto!important;
  }
}
body>div{
  top: 0;
  left: 0!important;
}

.customSelect .alert-wrapper{
  max-width: 400px;
  width: 80%;
  background-color: black;
  border: 1px solid #111111;
}
.customSelect .alert-wrapper .alert-radio-group{
  max-height: 390px;
  border-color: #111111;
}
.customSelect .alert-wrapper .alert-head{
  padding: 17px;
}
.customSelect .alert-wrapper .alert-sub-title{
  color: #111111;
  line-height: 1;
  margin: 0;
  font-size: 22px;
  text-align: center;
}
.customSelect .alert-wrapper .alert-radio-label{
  color: white;
}
.customSelect.profileSelect .alert-wrapper .alert-radio-label{
  text-transform: uppercase;
}
.customSelect .alert-wrapper .alert-radio-icon{
  border-color: #111111;
}
.customSelect .alert-wrapper .alert-radio-inner{
  background-color: #111111;
}
.customSelect [aria-checked=true] .alert-radio-label{
  color: #111111 !important;
}
.customSelect [aria-checked=true] .alert-radio-icon{
  border-color: #111111 !important;
}
.customSelect .alert-button-inner{
  color: #111111;
}
.customSelect .alert-checkbox-group.sc-ion-alert-md,
.customSelect .alert-checkbox-group.sc-ion-alert-ios{
  border-color: #111111;
}
.customSelect .alert-checkbox-label.sc-ion-alert-md,
.customSelect .alert-checkbox-label.sc-ion-alert-ios{
  color: #111111;
}
.customSelect .alert-checkbox-icon.sc-ion-alert-md,
.customSelect .alert-checkbox-icon.sc-ion-alert-ios{
  border-color: #111111;
  transition: 0.2s;
}
.customSelect [aria-checked=true].sc-ion-alert-md .alert-checkbox-icon.sc-ion-alert-md,
.customSelect [aria-checked=true].sc-ion-alert-md .alert-checkbox-icon.sc-ion-alert-ios{
  border-color: #111111;
  background-color: #111111;
}
.customSelect [aria-checked=true].sc-ion-alert-md .alert-checkbox-inner.sc-ion-alert-md,
.customSelect [aria-checked=true].sc-ion-alert-md .alert-checkbox-inner.sc-ion-alert-ios{
  border-color: black;
}
ion-item ionic-selectable{
  position: absolute;
  top: 0;
  left: 0;
  max-height: 45px;
  line-height: 45px;
}
ionic-selectable .ionic-selectable-value{
    padding: 0 0 0 16px;
}
ionic-selectable .ionic-selectable-value-item{
  color: white;
}
ionic-selectable.ionic-selectable-has-placeholder .ionic-selectable-value-item{
  padding-left: 0px;
  font-weight: 400;
  font-size: 18px;
}
ionic-selectable .ionic-selectable-icon-inner{
  top: 22px;
  left: 0;
}
ion-toolbar{
  --background: #111111;
}
ion-header{
  border-bottom: 2px solid #111111;
}
ion-button.button:hover{
  background: none;
  --background-hover: none; 
}
ion-button .ion-my-close{
  padding: 6px;
  border: 2px solid #111111;
  border-radius: 50%;
}
ion-button .ion-my-close img{
  width: 14px;
  position: relative;
  top: -1px;
  transition: 0.15s;
}
ion-button .ion-my-close:hover img{
  transform: scale(1.1);
}
ion-buttons.buttons-first-slot{
  position: absolute;
  right: 1px;
}
ion-searchbar{
  width: 90% !important;
  margin: 0 auto 10px;
}
ion-searchbar .searchbar-input-container{
  --background: #111111;
  border: none;
  border-radius: 4px;
  color: white;
  border-radius: 17px;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03), 2px 3px 10px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
ion-list{
  background: #111111 !important;
}
ion-list ion-item-group ion-item{
  --background: #111111;
  --color: white;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-image: linear-gradient(to right, transparent, transparent, #111111, #111111, #111111, transparent, transparent) 1;
  text-align: center;
}
ion-item.ionic-selectable-item ion-icon{
  --ion-color-base: #111111 !important;
}
.modal-wrapper.sc-ion-modal-md{
  border-radius: 12px;
  border: 2px solid #111111;
}

.share-item.facebook fb-like .fb_iframe_widget{
  display: inline-block;
  position: absolute;
  right: 0;
  top: 3px;
}

.cta-button{
  min-width: 160px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  margin: 5px auto 7px;
  display: block;
  font-size: 20px;
  color: white;
  position: relative;
  z-index: 1;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.cta-button::before{
  content: '';
  width: 161px;
  height: 70px;
  background-image: url('/assets/base/images/cta-btn-back.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -10px;
  left: -5px;
  z-index: -1;
}
.cta-button.active::before{
  background-image: url('/assets/base/images/banner-btn-back.png');
}
.cta-button.azure::before{
  background-image: url('/assets/base/images/cta-btn-azure.png');
}
.cta-button.hoverable{
  cursor: pointer;
}
.cta-button.hoverable::before{
  transition: 0.2s;
}
.cta-button.hoverable:hover::before{
  background-image: url('/assets/base/images/banner-btn-back.png');
}

.my-profile-select{
  --background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.my-profile-select ionic-selectable .ionic-selectable-icon{
  width: 35px;
  height: 22px;
  background-image: url('/assets/base/images/player-profile/profile-select-arrow.png');
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: -27px;
}
.my-profile-select ionic-selectable .ionic-selectable-icon .ionic-selectable-icon-inner{
  border: none;
}

ion-toast{
  --width: 100%;
  --max-width: 900px;
  font-size: 20px;
  color: black !important;
}

.fade{
  transition: opacity .04s linear !important;
}
.modal.fade .modal-dialog{
  transform: translate(0,-20px);
  transition: transform .15s ease-out,-webkit-transform .15s ease-out;
}
.modal.show .modal-dialog{
  transform: none !important;
}

#technical-analysis-gauge app-tech-indicator >div{
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.scroll-y::-webkit-scrollbar{
  display: none !important;
}
main{
  will-change: unset !important;
}

ion-content::part(scroll){
  will-change: unset !important;
}

app-fuel-car-adventure ~ .profile-top-panel,
app-fuel-car-adventure ~ .right-container,
/* app-start-race ~ .profile-top-panel,
app-start-race ~ .right-container, */
app-fuel-car ~ .profile-top-panel,
app-fuel-car ~ .notifiq-btn,
app-fuel-car ~ .ad-popup,
app-fuel-car-adventure ~ .profile-top-panel,
app-fuel-car-adventure ~ .notifiq-btn,
app-fuel-car-adventure ~ .ad-popup,
app-fuel-car ~ .right-container,
app-daily-tasks ~ .right-container{
  display: none;
}

@media screen and (max-width: 1024px){
  app-start-race ~ .profile-top-panel,
  app-start-race ~ .right-container,
  app-fuel-car ~ .profile-top-panel,
  app-fuel-car ~ .notifiq-btn,
  app-fuel-car-adventur ~ .profile-top-panel,
  app-fuel-car-adventur ~ .notifiq-btn,
  app-fuel-car ~ .right-container,
  app-daily-tasks ~ .right-container{
    display: block;
  }
}


.ionic-selectable-value-item {
  background-color: transparent !important;

  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  padding: 10px;
  width: 100%;
  color: #ffffff21 !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}
.ionic-selectable-value {
  padding: 0!important;
}
.ionic-selectable-icon {
  background: url('/assets/base/images/select-arrow2.png');
  background-repeat: no-repeat;
  top: 20px;
  /* display: block; */
  padding-bottom: 20px;
  height: 20px;
  background-position: 7px 0px;
  /* padding-top: 20px; */
  display: block;
  /* background-color: black!important; */
  overflow: hidden;
}
.modal{
  z-index: 1000002;
}

.ionic-selectable-modal .item-label {
  display: inline-block;
  width: 25%;
  border-bottom: 0;
  border-image: none;
}
@media screen and (max-width: 640px){
  .ionic-selectable-modal .item-label{
    width: 50%;
  }
}

.modal.fade.show {
  background-color: #000000f2;
}

.my-input input:-internal-autofill-selected{
  background-color: #111 !important;
  color: #ffffff50 !important;
}

.time-holder.without-day .timer-holder .day{
  display: none;
}

/* UNIVERSAL */

/*main gradient background, e.g. on all main cta btns*/
.main-app-cont-holder .my-cta-btn-back{
  background: linear-gradient(99.76deg, #FE173F 117.01%, #240B36 187.56%);
}
.main-app-cont-holder.manager .my-cta-btn-back{
  background: linear-gradient(236.12deg, #24FFFF 6%, #25CCFE 102.68%);
}
/*main gradient background, e.g. on all main cta btns*/

.main-app-cont-holder .my-cta-category-hover{
  background: linear-gradient(146.31deg, #FF183F -43.59%, rgba(17, 17, 17, 0) 119.26%);
}
.main-app-cont-holder.manager .my-cta-category-hover{
  background: linear-gradient(146.31deg, #24FFFF -43.59%, rgba(17, 17, 17, 0) 119.26%);
}

/*hover effect on main cta-buttons*/
.main-app-cont-holder .my-cta-btn-back.hoverable{
  box-shadow: 0px 0px 40px rgba(254, 23, 63, 0);
  opacity: .85;
  transition: .3s;
}
.main-app-cont-holder.manager .my-cta-btn-back.hoverable{
  box-shadow: 0px 0px 40px rgba(37, 204, 254, 0);
  opacity: .85;
  transition: .3s;
}
.main-app-cont-holder .my-cta-btn-back.hoverable:hover{
  box-shadow: 0px 0px 50px rgba(254, 23, 63, 0.4) !important;
  opacity: 1;
}
.main-app-cont-holder.manager .my-cta-btn-back.hoverable:hover{
  box-shadow: 0px 0px 50px rgba(37, 204, 254, 0.4) !important;
  opacity: 1;
}
/*hover effect on main cta-buttons*/

/*secondery background gradient, e.g. menu switchers*/
.main-app-cont-holder .my-low-gradient{
  background: linear-gradient(167.03deg, #FE173F -28.47%, rgba(36, 11, 54, 0) 112.02%), #111111;
}
.main-app-cont-holder.manager .my-low-gradient{
  background: linear-gradient(167.03deg, #23FFFF -28.47%, rgba(36, 11, 54, 0) 112.02%), #111111;
}
/*secondery background gradient, e.g. menu switchers*/

/*gradient that creates fade border effect*/
.main-app-cont-holder .my-border-grad{
  background: linear-gradient(to bottom right, #fe183f 0%, rgba(254, 24, 63, 0) 60%);
}
.main-app-cont-holder.manager .my-border-grad{
  background: linear-gradient(to bottom right, #23FFFF 0%, rgba(254, 24, 63, 0) 60%);
}
/*gradient that creates fade border effect*/

/*main color on text*/
.main-app-cont-holder .my-text-color{
  color: #fc173f;
}
.main-app-cont-holder.manager .my-text-color{
  color: #24e3fe;
}
/*main color on text*/

/*main simple background*/
.main-app-cont-holder .my-simple-back{
  background: #fc173f;
}
.main-app-cont-holder.manager .my-simple-back{
  background: #24e3fe;
}
/*main simple background*/

/* UNIVERSAL */

/* SPECIFICAL */
.main-app-cont-holder.manager .donut-blue{
  display: block !important;
}
.main-app-cont-holder.manager .donut-red{
  display: none !important;
}

.main-app-cont-holder.manager .blue-light{
  display: block !important;
}
.main-app-cont-holder.manager .red-light{
  display: none !important;
}


.main-app-cont-holder .my-border-grad.stats-dummy{
  right: 0;
  width: 66.6666%;
  top: 0;
  height: 100%;
}
.main-app-cont-holder .my-border-grad.stats-dummy .inner{
  background: linear-gradient(161.21deg, rgba(254, 24, 63, 0.4) -26.85%, rgba(36, 11, 54, 0) 70.55%), linear-gradient(0deg, #111111, #111111);
}
.main-app-cont-holder.manager .my-border-grad.stats-dummy{
  left: 0;
  width: 33.333%;
  top: 0;
  height: 100%;
}
.main-app-cont-holder.manager .my-border-grad.stats-dummy .inner{
  background: linear-gradient(161.21deg, rgba(35, 255, 255, 0.4) -26.85%, rgba(36, 11, 54, 0) 70.55%), linear-gradient(0deg, #111111, #111111);
}

.main-app-cont-holder .user-ico-red{
  display: block;
}
.main-app-cont-holder .user-ico-blue{
  display: none;
}
.main-app-cont-holder.manager .user-ico-red{
  display: none;
}
.main-app-cont-holder.manager .user-ico-blue{
  display: block;
}

.main-app-cont-holder .main-center-box .top-banner .banner-item.item1{
  background-image: url('/assets/base/images/start-race/banner-back-red1.jpg');
}
.main-app-cont-holder .main-center-box .top-banner .banner-item.item2{
  background-image: url('/assets/base/images/start-race/banner-back-red2.jpg');
}
.main-app-cont-holder.manager .main-center-box .top-banner .banner-item.item1{
  background-image: url('/assets/base/images/start-race/banner-back-blue1.jpg');
}
.main-app-cont-holder.manager .main-center-box .top-banner .banner-item.item2{
  background-image: url('/assets/base/images/start-race/banner-back-blue2.jpg');
}

.main-app-cont-holder .main-center-box .top-banner.red-variant{
  display: block;
}
.main-app-cont-holder .main-center-box .top-banner.blue-variant{
  display: none;
}
.main-app-cont-holder.manager .main-center-box .top-banner.red-variant{
  display: none;
}
.main-app-cont-holder.manager .main-center-box .top-banner.blue-variant{
  display: block;
}

.main-app-cont-holder .right-container .right-part-holder .menu-switchers .switch-item .my-warning.red{
  display: block;
}
.main-app-cont-holder .right-container .right-part-holder .menu-switchers .switch-item .my-warning.blue{
  display: none;
}
.main-app-cont-holder.manager .right-container .right-part-holder .menu-switchers .switch-item .my-warning.red{
  display: none;
}
.main-app-cont-holder.manager .right-container .right-part-holder .menu-switchers .switch-item .my-warning.blue{
  display: block;
}

.main-app-cont-holder .balance-holder .items-holder .my-btn .red-img{
  display: inline-block;
}
.main-app-cont-holder .balance-holder .items-holder .my-btn .blue-img{
  display: none;
}
.main-app-cont-holder.manager .balance-holder .items-holder .my-btn .red-img{
  display: none;
}
.main-app-cont-holder.manager .balance-holder .items-holder .my-btn .blue-img{
  display: inline-block;
}

.main-app-cont-holder .cat-cont .cat-item .back-img.red{
  display: inline-block;
}
.main-app-cont-holder .cat-cont .cat-item .back-img.blue{
  display: none;
}

.main-app-cont-holder.manager .cat-cont .cat-item .back-img.red{
  display: none;
}
.main-app-cont-holder.manager .cat-cont .cat-item .back-img.blue{
  display: inline-block;
}

.main-app-cont-holder .cat-cont .cat-item .shiny-dummy .inner{
  background: url('/assets/base/images/start-race/cat-back-red.jpg') center no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-app-cont-holder .cat-cont .cat-item.teams .shiny-dummy .inner,
.main-app-cont-holder .cat-cont .cat-item.races .shiny-dummy .inner{
  background: linear-gradient(121.24deg, rgba(255, 24, 63,.4) -38.86%, rgba(17, 17, 17, 0) 87.67%),url('/assets/base/images/start-race/cat-back-red.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-app-cont-holder.manager .cat-cont .cat-item .shiny-dummy .inner{
  background: linear-gradient(121.24deg, rgba(35, 255, 255, 0.4) -38.86%, rgba(17, 17, 17, 0) 87.67%),url('/assets/base/images/start-race/cat-back-blue.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.main-app-cont-holder.manager .cat-cont .cat-item.teams .shiny-dummy .inner,
.main-app-cont-holder.manager .cat-cont .cat-item.races .shiny-dummy .inner{
  background: url('/assets/base/images/start-race/cat-back-blue.jpg') center no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-app-cont-holder.racer .cat-cont .cat-item.cars .shiny-dummy{
  padding: 0;
  background: none;
}
.main-app-cont-holder.racer .cat-cont .cat-item.teams .shiny-dummy,
.main-app-cont-holder.racer .cat-cont .cat-item.races .shiny-dummy{
  padding: 2px 0 0 2px;
}

.main-app-cont-holder.manager .cat-cont .cat-item.cars .shiny-dummy{
  padding: 2px 0 0 2px;
}
.main-app-cont-holder.manager .cat-cont .cat-item.teams .shiny-dummy,
.main-app-cont-holder.manager .cat-cont .cat-item.races .shiny-dummy{
  padding: 0;
  background: none;
}

.main-app-cont-holder .cat-cont .cat-item{
  box-shadow: none;
}
.main-app-cont-holder .cat-cont .cat-item.teams,
.main-app-cont-holder .cat-cont .cat-item.races{
  box-shadow: 0px 0px 30px rgba(235, 33, 99, .4), (0px 0px 80px #000000);
}

.main-app-cont-holder.manager .cat-cont .cat-item{
  box-shadow: 0px 0px 30px rgba(35, 255, 255, 0.4), (0px 0px 80px #000000);
}
.main-app-cont-holder.manager .cat-cont .cat-item.teams,
.main-app-cont-holder.manager .cat-cont .cat-item.races{
  box-shadow: none;
}

.main-app-cont-holder .my-fuel-btn-back.inactive{
  background: linear-gradient(167.03deg, #FE173F -28.47%, rgba(36, 11, 54, 0) 112.02%), #111111;
}
.main-app-cont-holder.manager .my-fuel-btn-back.inactive{
  background: linear-gradient(167.03deg, #24FFFF -28.47%, rgba(37, 204, 254, 0) 112.02%), #111111;
}
.main-app-cont-holder .my-fuel-btn-back{
  background: linear-gradient(99.07deg, #FE173F 81.88%, #240B36 127.65%), #111111;
}
.main-app-cont-holder.manager .my-fuel-btn-back{
  background: linear-gradient(99.07deg, rgba(36, 255, 255, .85) 70.88%, #240B36 127.65%), #111111;
}

@media screen and (max-width: 640px){
  .main-app-cont-holder .my-border-grad.stats-dummy{
    height: 65.666%;
    top: unset;
    bottom: 0;
  }
  .main-app-cont-holder.manager .my-border-grad.stats-dummy{
    height: 33.333%;
    top: 0;
  }
}
/* SPECIFICAL */

ion-toast {
  z-index: 1000000000000!important;
}