* {
  color: white;
}
.my-special-hover {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.my-special-hover:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.main-content .sub-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms {
  color: #03a6a4;
  font-size: 17px;
  position: relative;
  top: 8px;
  left: 9px;
  padding-right: 10px;
}
.terms a {
  color: #03a6a4;
}

.auth-label {
  font-size: 16px;
  color: #111111;
  margin-bottom: 3px;
}

.off {
  color: white;
  opacity: 0.2;
}
.off:hover {
  color: #111111;
  opacity: 0.5;
}

.panel-footer > button.icon-button {
  width: 88px;
  height: 88px;
}

.panel-footer img.start {
  width: 100%;
}

.left-party {
  width: 50%;
}

.left-party p {
  color: #ffffff69;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}

.left-party h2 {
  color: #ffffff;
  font-size: 37px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.this-inner.d-flex {
  flex-direction: column;
}

.this-inner.d-flex.flex-column {
  padding-left: 37px;
}

.left-party p img {
  width: 17px;
  margin-left: 4px;
  position: relative;
  top: -2px;
}

.rec-wrap {
  position: absolute;
  bottom: 10px;
  right: 36px;
}

input.input-blue {
  color: #111111;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #111111;
  padding: 5px 15px;
  transition: box-shadow 0.1s;
}
input.input-blue:focus {
  outline: none;
  box-shadow: 1px 1px 5px 0px rgba(61, 255, 255, 0.75);
}

@media screen and (max-width: 1024px) {
  .left-party.panel {
    width: 100%;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-image: linear-gradient(
        to right,
        transparent,
        transparent,
        #007871,
        #007871,
        #007871,
        transparent,
        transparent
      )
      1;
  }
  .rec-wrap {
    bottom: 43px;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
  .modal-wrapper.sc-ion-modal-md {
    zoom: 150%;
  }
  body > div div:last-child {
    left: 0 !important;
    right: auto !important;
  }
}
body > div {
  top: 0;
  left: 0 !important;
}

.customSelect .alert-wrapper {
  max-width: 400px;
  width: 80%;
  background-color: black;
  border: 1px solid #111111;
}
.customSelect .alert-wrapper .alert-radio-group {
  max-height: 390px;
  border-color: #111111;
}
.customSelect .alert-wrapper .alert-head {
  padding: 17px;
}
.customSelect .alert-wrapper .alert-sub-title {
  color: #111111;
  line-height: 1;
  margin: 0;
  font-size: 22px;
  text-align: center;
}
.customSelect .alert-wrapper .alert-radio-label {
  color: white;
}
.customSelect.profileSelect .alert-wrapper .alert-radio-label {
  text-transform: uppercase;
}
.customSelect .alert-wrapper .alert-radio-icon {
  border-color: #111111;
}
.customSelect .alert-wrapper .alert-radio-inner {
  background-color: #111111;
}
.customSelect [aria-checked="true"] .alert-radio-label {
  color: #111111 !important;
}
.customSelect [aria-checked="true"] .alert-radio-icon {
  border-color: #111111 !important;
}
.customSelect .alert-button-inner {
  color: #111111;
}
.customSelect .alert-checkbox-group.sc-ion-alert-md,
.customSelect .alert-checkbox-group.sc-ion-alert-ios {
  border-color: #111111;
}
.customSelect .alert-checkbox-label.sc-ion-alert-md,
.customSelect .alert-checkbox-label.sc-ion-alert-ios {
  color: #111111;
}
.customSelect .alert-checkbox-icon.sc-ion-alert-md,
.customSelect .alert-checkbox-icon.sc-ion-alert-ios {
  border-color: #111111;
  transition: 0.2s;
}
.customSelect
  [aria-checked="true"].sc-ion-alert-md
  .alert-checkbox-icon.sc-ion-alert-md,
.customSelect
  [aria-checked="true"].sc-ion-alert-md
  .alert-checkbox-icon.sc-ion-alert-ios {
  border-color: #111111;
  background-color: #111111;
}
.customSelect
  [aria-checked="true"].sc-ion-alert-md
  .alert-checkbox-inner.sc-ion-alert-md,
.customSelect
  [aria-checked="true"].sc-ion-alert-md
  .alert-checkbox-inner.sc-ion-alert-ios {
  border-color: black;
}
ion-item ionic-selectable {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 45px;
  line-height: 45px;
}
ionic-selectable .ionic-selectable-value {
  padding: 0 0 0 16px;
}
ionic-selectable .ionic-selectable-value-item {
  color: white;
}
ionic-selectable.ionic-selectable-has-placeholder .ionic-selectable-value-item {
  padding-left: 0px;
  font-weight: 400;
  font-size: 18px;
}
ionic-selectable .ionic-selectable-icon-inner {
  top: 22px;
  left: 0;
}
ion-toolbar {
  --background: #111111;
}
ion-header {
  border-bottom: 2px solid #111111;
}
ion-button.button:hover {
  background: none;
  --background-hover: none;
}
ion-button .ion-my-close {
  padding: 6px;
  border: 2px solid #111111;
  border-radius: 50%;
}
ion-button .ion-my-close img {
  width: 14px;
  position: relative;
  top: -1px;
  transition: 0.15s;
}
ion-button .ion-my-close:hover img {
  transform: scale(1.1);
}
ion-buttons.buttons-first-slot {
  position: absolute;
  right: 1px;
}
ion-searchbar {
  width: 90% !important;
  margin: 0 auto 10px;
}
ion-searchbar .searchbar-input-container {
  --background: #111111;
  border: none;
  border-radius: 4px;
  color: white;
  border-radius: 17px;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03),
    2px 3px 10px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
ion-list {
  background: #111111 !important;
}
ion-list ion-item-group ion-item {
  --background: #111111;
  --color: white;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-image: linear-gradient(
      to right,
      transparent,
      transparent,
      #111111,
      #111111,
      #111111,
      transparent,
      transparent
    )
    1;
  text-align: center;
}
ion-item.ionic-selectable-item ion-icon {
  --ion-color-base: #111111 !important;
}
.modal-wrapper.sc-ion-modal-md {
  border-radius: 12px;
  border: 2px solid #111111;
}

.share-item.facebook fb-like .fb_iframe_widget {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 3px;
}

.cta-button {
  min-width: 160px;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  margin: 5px auto 7px;
  display: block;
  font-size: 20px;
  color: white;
  position: relative;
  z-index: 1;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.cta-button.hoverable {
  cursor: pointer;
}
.cta-button.hoverable::before {
  transition: 0.2s;
}
.cta-button.hoverable:hover::before {
  background-image: url("/assets/base/images/banner-btn-back.png");
}

.my-profile-select {
  --background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.my-profile-select
  ionic-selectable
  .ionic-selectable-icon
  .ionic-selectable-icon-inner {
  border: none;
}

ion-toast {
  --width: 100%;
  --max-width: 900px;
  --background: #f2f2f2;
  font-size: 20px;
  color: black !important;
}

.fade {
  transition: opacity 0.04s linear !important;
}
.modal.fade .modal-dialog {
  transform: translate(0, -20px);
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
}
.modal.show .modal-dialog {
  transform: none !important;
}

#technical-analysis-gauge app-tech-indicator > div {
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.scroll-y::-webkit-scrollbar {
  display: none !important;
}
main {
  will-change: unset !important;
}

ion-content::part(scroll) {
  will-change: unset !important;
}

app-fuel-car ~ .profile-top-panel,
app-fuel-car ~ .notifiq-btn,
app-fuel-car ~ .ad-popup,
app-fuel-car ~ .right-container,
app-daily-tasks ~ .right-container {
  display: none;
}

@media screen and (max-width: 1024px) {
  app-start-race ~ .profile-top-panel,
  app-start-race ~ .right-container,
  app-fuel-car ~ .profile-top-panel,
  app-fuel-car ~ .notifiq-btn,
  app-fuel-car-adventur ~ .profile-top-panel,
  app-fuel-car-adventur ~ .notifiq-btn,
  app-fuel-car ~ .right-container,
  app-daily-tasks ~ .right-container {
    display: block;
  }
}

.ionic-selectable-value-item {
  background-color: transparent !important;

  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;
  padding: 10px;
  width: 100%;
  color: #ffffff21 !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}
.ionic-selectable-value {
  padding: 0 !important;
}
.ionic-selectable-icon {
  background: url("/assets/base/images/select-arrow2.png");
  background-repeat: no-repeat;
  top: 20px;
  /* display: block; */
  padding-bottom: 20px;
  height: 20px;
  background-position: 7px 0px;
  /* padding-top: 20px; */
  display: block;
  /* background-color: black!important; */
  overflow: hidden;
}
.modal {
  z-index: 1000002;
}

.ionic-selectable-modal .item-label {
  display: inline-block;
  width: 25%;
  border-bottom: 0;
  border-image: none;
}
@media screen and (max-width: 640px) {
  .ionic-selectable-modal .item-label {
    width: 50%;
  }
}

.modal.fade.show {
  background-color: #000000f2;
}

.my-input input:-internal-autofill-selected {
  background-color: #111 !important;
  color: #ffffff50 !important;
}

.time-holder.without-day .timer-holder .day {
  display: none;
}

/* UNIVERSAL */

/*main gradient background, e.g. on all main cta btns*/
.main-app-cont-holder .my-cta-btn-back {
  background: linear-gradient(238.54deg, #fe173f -1.25%, #950552 100.91%);
}
.main-app-cont-holder.manager .my-cta-btn-back {
  background: linear-gradient(236.12deg, #00f0ff 6%, #0098d9 102.68%);
  text-shadow: 0 0 3px #015477;
}

/*main gradient background, e.g. on all main cta btns*/

.main-app-cont-holder .my-cta-category-hover {
  background: linear-gradient(
    146.31deg,
    #ff183f -43.59%,
    rgba(17, 17, 17, 0) 119.26%
  );
}
.main-app-cont-holder.manager .my-cta-category-hover {
  background: linear-gradient(
    146.31deg,
    #24ffff -43.59%,
    rgba(17, 17, 17, 0) 119.26%
  );
}

/*hover effect on main cta-buttons*/
.main-app-cont-holder .my-cta-btn-back.hoverable {
  box-shadow: 0px 0px 40px rgba(254, 23, 63, 0);
  opacity: 0.85;
  transition: 0.3s;
}
.main-app-cont-holder.manager .my-cta-btn-back.hoverable {
  box-shadow: 0px 0px 40px rgba(37, 204, 254, 0);
  opacity: 0.85;
  transition: 0.3s;
}
.main-app-cont-holder .my-cta-btn-back.hoverable:hover {
  box-shadow: 0px 0px 50px rgba(254, 23, 63, 0.4) !important;
  opacity: 1;
}
.main-app-cont-holder.manager .my-cta-btn-back.hoverable:hover {
  box-shadow: 0px 0px 50px rgba(37, 204, 254, 0.4) !important;
  opacity: 1;
}
/*hover effect on main cta-buttons*/

/*secondery background gradient, e.g. menu switchers*/
.main-app-cont-holder .my-low-gradient {
  background: linear-gradient(
      167.03deg,
      #fe173f -28.47%,
      rgba(36, 11, 54, 0) 112.02%
    ),
    #111111;
}
.main-app-cont-holder.manager .my-low-gradient {
  background: linear-gradient(
      167.03deg,
      #23ffff -28.47%,
      rgba(36, 11, 54, 0) 112.02%
    ),
    #111111;
}
/*secondery background gradient, e.g. menu switchers*/

/*gradient that creates fade border effect*/
.main-app-cont-holder .my-border-grad {
  background: linear-gradient(
    to bottom right,
    #fe183f 0%,
    rgba(254, 24, 63, 0) 60%
  );
}
.main-app-cont-holder.manager .my-border-grad {
  background: linear-gradient(
    to bottom right,
    #23ffff 0%,
    rgba(254, 24, 63, 0) 60%
  );
}
.main-app-cont-holder .my-border-grad-reverse {
  background: linear-gradient(
    to bottom left,
    #fe183f 0%,
    rgba(254, 24, 63, 0) 60%
  );
}
.main-app-cont-holder.manager .my-border-grad-reverse {
  background: linear-gradient(
    to bottom left,
    #23ffff 0%,
    rgba(254, 24, 63, 0) 60%
  );
}
.main-app-cont-holder .my-border-grad-reverse-top {
  background: linear-gradient(
    to top right,
    #fe183f 0%,
    rgba(254, 24, 63, 0) 60%
  );
}
.main-app-cont-holder.manager .my-border-grad-reverse-top {
  background: linear-gradient(
    to top right,
    #23ffff 0%,
    rgba(254, 24, 63, 0) 60%
  );
}
/*gradient that creates fade border effect*/

/*main color on text*/
.main-app-cont-holder .my-text-color {
  color: #fc173f !important;
}
.main-app-cont-holder.manager .my-text-color {
  color: #24e3fe !important;
}
/*main color on text*/

/*main simple background*/
.main-app-cont-holder .my-simple-back {
  background: #fc173f;
}
.main-app-cont-holder.manager .my-simple-back {
  background: #24e3fe;
}
/*main simple background*/

/* UNIVERSAL */

/* SPECIFICAL */
.main-app-cont-holder.manager .donut-blue {
  display: block !important;
}
.main-app-cont-holder.manager .donut-red {
  display: none !important;
}

.main-app-cont-holder.manager .blue-light {
  display: block !important;
}
.main-app-cont-holder.manager .red-light {
  display: none !important;
}

.main-app-cont-holder .my-border-grad.stats-dummy {
  right: 0;
  width: 66.6666%;
  top: 0;
  height: 100%;
}
.main-app-cont-holder .my-border-grad.stats-dummy .inner {
  background: linear-gradient(
      161.21deg,
      rgba(254, 24, 63, 0.7) -26.85%,
      rgba(36, 11, 54, 0) 70.55%
    ),
    linear-gradient(0deg, #111111, #111111);
}
.main-app-cont-holder.manager .my-border-grad.stats-dummy {
  left: 0;
  width: 33.333%;
  top: 0;
  height: 100%;
}
.main-app-cont-holder.manager .my-border-grad.stats-dummy .inner {
  background: linear-gradient(
      161.21deg,
      rgba(35, 255, 255, 0.6) -26.85%,
      rgba(36, 11, 54, 0) 70.55%
    ),
    linear-gradient(0deg, #111111, #111111);
}

.main-app-cont-holder .user-ico-red {
  display: block;
}
.main-app-cont-holder .user-ico-blue {
  display: none;
}
.main-app-cont-holder.manager .user-ico-red {
  display: none;
}
.main-app-cont-holder.manager .user-ico-blue {
  display: block;
}

.main-app-cont-holder .main-center-box .top-banner .banner-item.item1 {
  background-image: url("/assets/base/images/start-race/banner-back-red1.jpg");
}
.main-app-cont-holder .main-center-box .top-banner .banner-item.item2 {
  background-image: url("/assets/base/images/start-race/banner-back-red2.jpg");
}
.main-app-cont-holder .main-center-box .top-banner .banner-item.item3 {
  background-image: url("/assets/base/images/start-race/banner-back-red3.png");
}
.main-app-cont-holder.manager .main-center-box .top-banner .banner-item.item1 {
  background-image: url("/assets/base/images/start-race/banner-back-blue1.jpg");
}
.main-app-cont-holder.manager .main-center-box .top-banner .banner-item.item2 {
  background-image: url("/assets/base/images/start-race/banner-back-blue2.jpg");
}
.main-app-cont-holder.manager .main-center-box .top-banner .banner-item.item3 {
  background-image: url("/assets/base/images/start-race/banner-back-blue3.jpg");
}

.main-app-cont-holder .main-center-box .top-banner.red-variant {
  display: block;
}
.main-app-cont-holder .main-center-box .top-banner.blue-variant {
  display: none;
}
.main-app-cont-holder.manager .main-center-box .top-banner.red-variant {
  display: none;
}
.main-app-cont-holder.manager .main-center-box .top-banner.blue-variant {
  display: block;
}

.main-app-cont-holder
  .right-container
  .right-part-holder
  .menu-switchers
  .switch-item
  .my-warning.red {
  display: block;
}
.main-app-cont-holder
  .right-container
  .right-part-holder
  .menu-switchers
  .switch-item
  .my-warning.blue {
  display: none;
}
.main-app-cont-holder.manager
  .right-container
  .right-part-holder
  .menu-switchers
  .switch-item
  .my-warning.red {
  display: none;
}
.main-app-cont-holder.manager
  .right-container
  .right-part-holder
  .menu-switchers
  .switch-item
  .my-warning.blue {
  display: block;
}

.main-app-cont-holder .rewards-box .leader-cont .trophy-red {
  display: inline-block;
}
.main-app-cont-holder .rewards-box .leader-cont .trophy-blue {
  display: none;
}
.main-app-cont-holder.manager .rewards-box .leader-cont .trophy-red {
  display: none;
}
.main-app-cont-holder.manager .rewards-box .leader-cont .trophy-blue {
  display: inline-block;
}

.main-app-cont-holder .rewards-box .day-tip .tip-box .flame-red {
  display: inline-block;
}
.main-app-cont-holder .rewards-box .day-tip .tip-box .flame-blue {
  display: none;
}
.main-app-cont-holder.manager .rewards-box .day-tip .tip-box .flame-red {
  display: none;
}
.main-app-cont-holder.manager .rewards-box .day-tip .tip-box .flame-blue {
  display: inline-block;
}

.main-app-cont-holder .cat-cont .cat-item .back-img.red {
  display: inline-block;
}
.main-app-cont-holder .cat-cont .cat-item .back-img.blue {
  display: none;
}

.main-app-cont-holder .red-star {
  display: inline-block;
}
.main-app-cont-holder .blue-star {
  display: none;
}
.main-app-cont-holder.manager .red-star {
  display: none;
}
.main-app-cont-holder.manager .blue-star {
  display: inline-block;
}

.main-app-cont-holder .buttons-holder .my-btn .red-img {
  display: block;
}
.main-app-cont-holder .buttons-holder .my-btn .blue-img {
  display: none;
}
.main-app-cont-holder.manager .buttons-holder .my-btn .red-img {
  display: none;
}
.main-app-cont-holder.manager .buttons-holder .my-btn .blue-img {
  display: block;
}

.main-app-cont-holder .overview .notifiq-btn .red-bell {
  display: block;
}
.main-app-cont-holder .overview .notifiq-btn .blue-bell {
  display: none;
}
.main-app-cont-holder.manager .overview .notifiq-btn .red-bell {
  display: none;
}
.main-app-cont-holder.manager .overview .notifiq-btn .blue-bell {
  display: block;
}

.main-app-cont-holder .popup-holder .box-item .back-img.red {
  display: block;
}
.main-app-cont-holder .popup-holder .box-item .back-img.blue {
  display: none;
}
.main-app-cont-holder.manager .popup-holder .box-item .back-img.red {
  display: none;
}
.main-app-cont-holder.manager .popup-holder .box-item .back-img.blue {
  display: block;
}

.main-app-cont-holder .level .red-copy {
  display: inline-block;
}
.main-app-cont-holder .level .blue-copy {
  display: none;
}
.main-app-cont-holder.manager .level .red-copy {
  display: none;
}
.main-app-cont-holder.manager .level .blue-copy {
  display: inline-block;
}

.main-app-cont-holder .lucky-btn .lucky-red {
  display: inline-block;
}
.main-app-cont-holder .lucky-btn .lucky-blue {
  display: none;
}
.main-app-cont-holder.manager .lucky-btn .lucky-red {
  display: none;
}
.main-app-cont-holder.manager .lucky-btn .lucky-blue {
  display: inline-block;
}

.main-app-cont-holder .red-box-shop {
  display: inline-block;
  background: linear-gradient(238.54deg, #fe173f -1.25%, #950552 100.91%);
}
.main-app-cont-holder .blue-box-shop {
  display: none;
}
.main-app-cont-holder.manager .red-box-shop {
  display: none;
}
.main-app-cont-holder.manager .blue-box-shop {
  display: inline-block;

  background: linear-gradient(
    236.12deg,
    #00f0ff 6%,
    #0098d9 102.68%,
    #0098d9 102.68%
  );
}
.main-app-cont-holder .red-box-detail {
  display: inline-block;
  color: #fe183f;
}
.main-app-cont-holder .blue-box-detail {
  display: none;
}
.main-app-cont-holder.manager .red-box-detail {
  display: none;
}
.main-app-cont-holder.manager .blue-box-detail {
  display: inline-block;
  color: #00d1ff;
}
.main-app-cont-holder .red-box-shadow:hover {
  box-shadow: 0px 0px 60px rgba(255, 24, 63, 0.5);
}
.main-app-cont-holder .blue-box-shadow:hover {
  display: none;
}
.main-app-cont-holder.manager .red-box-shadow:hover {
  display: none;
}
.main-app-cont-holder.manager .blue-box-shadow:hover {
  display: inline-block;
  box-shadow: 0px 0px 60px rgba(0, 209, 255, 0.5);
}
.main-app-cont-holder.manager .cat-cont .cat-item .back-img.red {
  display: none;
}
.main-app-cont-holder.manager .cat-cont .cat-item .back-img.blue {
  display: inline-block;
}

.main-app-cont-holder .cat-cont .cat-item .arrow-btn {
  color: #868686;
}

.main-app-cont-holder .cat-cont .cat-item:hover .arrow-btn {
  color: #fe183f;
}
.main-app-cont-holder .cat-cont .cat-item:hover {
  box-shadow: 0px 0px 30px #ff397a;
}
.main-app-cont-holder.manager .cat-cont .cat-item:hover {
  box-shadow: 0px 0px 30px #32ceff;
}

.main-app-cont-holder .my-box-shadow:hover {
  box-shadow: 0px 0px 30px rgba(255, 0, 83, 0.7);
}
.main-app-cont-holder.manager .my-box-shadow:hover {
  box-shadow: 0px 0px 30px rgba(75, 193, 230, 0.7);
}
.main-app-cont-holder.manager .cat-cont .cat-item:hover .arrow-btn {
  color: #00d1ff;
}

.main-app-cont-holder .chat-cont .message-item.not-my .message-text {
  background: #ebebeb;
}
.main-app-cont-holder .chat-cont .message-item.my-msg .message-text {
  background: linear-gradient(238.54deg, #fe173f -1.25%, #950552 100.91%);
}
.main-app-cont-holder.manager .chat-cont .message-item.my-msg .message-text {
  background: linear-gradient(
    236.12deg,
    #00f0ff 6%,
    #0098d9 102.68%,
    #0098d9 102.68%
  );
}

.main-app-cont-holder .my-fuel-btn-back.inactive {
  background: linear-gradient(
      167.03deg,
      #fe173f -28.47%,
      rgba(36, 11, 54, 0) 112.02%
    ),
    #111111;
}
.main-app-cont-holder.manager .my-fuel-btn-back.inactive {
  background: linear-gradient(
      167.03deg,
      #24ffff -28.47%,
      rgba(37, 204, 254, 0) 112.02%
    ),
    #111111;
}
.main-app-cont-holder .my-fuel-btn-back {
  background: linear-gradient(99.07deg, #fe173f 81.88%, #240b36 127.65%),
    #111111;
}
.main-app-cont-holder.manager .my-fuel-btn-back {
  background: linear-gradient(
      99.07deg,
      rgba(36, 255, 255, 0.85) 70.88%,
      #240b36 127.65%
    ),
    #111111;
}

.main-app-cont-holder .mobile-nav .menu-item img.active {
  opacity: 0;
}
.main-app-cont-holder .mobile-nav .menu-item img {
  opacity: 1;
}
.main-app-cont-holder .mobile-nav .menu-item.active img.red {
  opacity: 1;
}
.main-app-cont-holder .mobile-nav .menu-item.active img.blue {
  opacity: 0;
}
.main-app-cont-holder.manager .mobile-nav .menu-item.active img.blue {
  opacity: 1;
}
.main-app-cont-holder.manager .mobile-nav .menu-item.active img.red {
  opacity: 0;
}

.main-app-cont-holder .mobile-nav .menu-item.play .blue-play {
  display: none;
}
.main-app-cont-holder .mobile-nav .menu-item.play .red-play {
  display: inline-block;
}
.main-app-cont-holder.manager .mobile-nav .menu-item.play .blue-play {
  display: inline-block;
}
.main-app-cont-holder.manager .mobile-nav .menu-item.play .red-play {
  display: none;
}

.main-app-cont-holder .my-races-btn-border {
  border: 1px solid #fe183f;
  background: transparent;
}
.main-app-cont-holder.manager .my-races-btn-border {
  border: 1px solid #00d1ff;
  background: transparent;
}

.main-app-cont-holder .my-races-btn-border:hover {
  border: 1px solid #fe183f;
  background: linear-gradient(238.54deg, #fe173f -1.25%, #950552 100.91%);
}
.main-app-cont-holder.manager .my-races-btn-border:hover {
  border: 1px solid #00d1ff;
  background: linear-gradient(
    236.12deg,
    #00f0ff 6%,
    #0098d9 102.68%,
    #0098d9 102.68%
  );
}

@media screen and (max-width: 640px) {
  .main-app-cont-holder .my-border-grad.stats-dummy {
    height: 65.666%;
    top: unset;
    bottom: 0;
  }
  .main-app-cont-holder.manager .my-border-grad.stats-dummy {
    height: 33.333%;
    top: 0;
  }
}
/* SPECIFICAL */

ion-toast {
  z-index: 1000000000000 !important;
}

.highcharts-plot-line-label {
  position: relative;
  z-index: 1;
  font-weight: 500;
  font-size: 12px;
  color: white;
  padding: 10px 17px;
  background: #00d581;
  border-radius: 10px;
}

.my-donut-chart .highcharts-plot-background {
  fill: transparent;
}
.my-donut-chart .highcharts-background {
  fill: transparent;
}
.highcharts-background {
  fill: #222222;
}
.highcharts-plot-background {
  fill: #111111;
}
.highcharts-container {
  width: 100% !important;
}
p.bin-trade span{
  color: #333333!important;
  font-weight: 500;
  font-size: 20px;
  margin: 10px 0;
  line-height: 1;
}