.car_rc_time {
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: -20px auto 0px;
    color: #ffffff;
    position: relative;
    z-index: 3;
}

.zavod .light_icon {
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.zavod .light_icon button {
    border: none;
    background: none;
}

.zavod .car_time_box {
    display: flex;
    position: relative;
}

.zavod .car_time_box .my_car,
.zavod .car_time_box .next_race {
    width: 150px;
    margin: 0 auto;
    position: absolute;
    left: -100px;
}

.zavod .car_time_box .my_gas {
    width: 500px;
    margin: 0 auto;
} 

.zavod .car_time_box .car_box {
    min-height: 119px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zavod .car_time_box .text_he {
    color: #a9a9a9;
    font-size: 19px;
    font-weight: 100;
    margin-top: -5px;
}

.zavod .car_time_box .time_box {
    font-size: 27px;
    color: #ffffff;
}

.zavod .car_time_box .next_race button {
    background: none;
    border: none;
}

.zavod .car_time_box .text_he ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    min-height: 112px;
}
/*
.zavod .car_time_box .text_he ul.show-less-list{
    overflow: hidden;
    max-height: 112px;
}
*/
.zavod .car_time_box .text_he ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.zavod .car_time_box .text_he ul li span {
    line-height: 20px;
}
.zavod .car_time_box .text_he ul li .percentage{
    width: 60px;
}
.zavod .car_time_box .text_he ul li .my_gas-right-part{
    width: 170px;
    text-align: right;
}
.zavod .car_time_box .text_he ul li .my_gas-right-part small{
    display: block;
    width: 100%;
}
.zavod .car_time_box .text_he ul li .my_gas-right-part b{
    display: flex;
    width: 100%;
    padding: 0 5px;
    justify-content: space-between;
    position: relative;
}
.zavod .car_time_box .text_he ul li .my_gas-right-part b img{
    align-self: center;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    margin: 0;
    bottom: unset;
}

.zavod .car_time_box .text_he ul li img {
    margin: 3px 10px 0px;
    position: relative;
    bottom: -2px;
}

.zavod .car_time_box .text_he ul li .btc  {
    font-size: 24px;
    font-weight: 400;
    min-width: 54px;
    text-align: left;
    position: relative;
    bottom: -1px;
    width: 110px;
    height: 21px;
    white-space: nowrap;
    overflow-x: hidden;
    margin: 8px 0;
}

.zavod .pr_bar {
    position: relative;
    width: 142px;
}

.zavod .pr_bar:after {
    content: "";
    position: absolute;
    left: 17px;
    top: 11px;
    border-radius: 100%;
    background: #008000;
    height: 10px;
    width: 10px;
    z-index: 10;
}

.zavod .pr_bar .bar_pros {
    position: absolute;
    left: 27px;
    top: 14px;
    right: 26px;
    background: #008000;
    z-index: 9;
    height: 3px;
}

.zavod .pr_bar .bar_pros:after {
    content: "";
    position: absolute;
    left: 40px;
    top: -4px;
    border-radius: 100%;
    background: #808080;
    height: 10px;
    width: 10px;
    z-index: 10;
}

.zavod .pr_bar .bar_pros:before {
    content: "";
    position: absolute;
    left: 100%;
    top: -4px;
    border-radius: 100%;
    background: #808080;
    height: 10px;
    width: 10px;
    z-index: 10;
}

.zavod .pr_bar .bar_pros progress {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    background: #353e14;
    z-index: 9;
    height: 3px;
}

.zavod .car_rc {
    position: relative;
    z-index: 2;
    margin-top: -65px;
}

.zavod .car_rc img {
    width: 100%;
}

.zavod .car_rc .chat_button {
    position: absolute;
    width: 70px;
    height: 61px;
    left: 52px;
    bottom: 155px;
    background: none;
    border: none;
    z-index: 99;
}

.zavod .car_rc .chat_button {
    position: absolute;
    width: 70px;
    height: 61px;
    left: 43px;
    bottom: 203px;
    background: none;
    border: none;
    z-index: 99;
}


.zavod .car_rc .cr_cars_box .car img {
    max-width: 260px;
    margin-top: -11px;
    position: relative;
    bottom: -5px;
}

.zavod .car_rc .cr_cars_box .car_row {
    min-height: 24%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.zavod .car_rc .cr_cars_box .car_row:nth-child(3) span,
.zavod .car_rc .cr_cars_box .car_row:nth-child(4) span {
    padding-left: 0;
}

.zavod .car_rc .cr_cars_box .car_row span {
    color: #ffffff;
    font-size: 11px;
}

.zavod .car_rc .cr_cars_box .car_row span span {
    color: #00baff;
}

.zavod .car_rc .cr_cars_box .car_row .car {
    margin-left: 20px;
}