.zavod .category_box .heading_box .hours_min button {
    border: none;
    background: none;
    color: #272727;
}

.zavod .category_box .heading_box .hours_min span button {
    border: none;
    background: none;
    color: #fd00f5;
}

.zavod .category_box {
  padding: 0;
  width: 92%;
  margin: 50px auto 0;
  position: relative;
  z-index: 9;
}

.zavod .category_box .heading_box {
    display: flex;
    align-items: center;
    width: 100%;
    color: #ffffff;
}

.zavod .category_box .secondary.box {
  color: #fd00f5;
  font-size: 24px;
  font-weight: 500;
  padding: 0 15px;
  min-width: 200px;
  width: unset;
  line-height: 50px;
  background-image: url(../../images/button-fifth-bg.png);
}
.zavod .category_box .secondary.box.prize-rules{
    font-size: 16px;
    padding: 0 8px;
    line-height: 40px;
    height: 40px;
    min-width: 173px;
}
.zavod .category_box .secondary.box.prize-rules .info-btn{
    width: 27px;
    position: relative;
    top: -3px;
    margin-left: 5px;
}

.zavod .category_box .leadboard {
    font-size: 30px;
    color: #272727;
    padding-left: 35px;
    outline: 0;
    border: 0;
    background-color: transparent;
}

.zavod .category_box .hours_min {
    font-size: 20px;
    color: #272727;
    position: relative;
    bottom: -3px;
}

.zavod .category_box .hours_min span {
    color: #fd00f5;
    margin: 0 30px;
}

.zavod .category_box .weekly_bor {
    margin-left: auto;
    padding-right: 50px;
    position: relative;
    bottom: -17px;
    display: flex;
}

.zavod .category_box .weeklymonthly {
    font-size: 18px;
    font-weight: 100;
    color: #272727;
}

.zavod .category_box .weeklymonthly span button {
    color: #ffffff;
    background: none;
    border: none;
}

.zavod .category_box .weeklymonthly button {
    color: #373737;
    background: none;
    border: none;
}

.zavod .category_box .weekly_bor .page_number {
    color: #373737;
    font-size: 36px;
    font-weight: bold;
    padding-left: 15px;
}
