

drag-scroll{
    height: 100%;
}

.drag-scroll-content{
    width: 100%;
    cursor: grab;
}

.drag-scroll-content .car-item{
    min-width: 20%;
    max-width: 20%;
    transform: translateY(-50%);
    top: 50%;
}

@media screen and (max-width: 870px){
    .drag-scroll-content .car-item{
        min-width: 25%;
        max-width: 25%;
    }
}
@media screen and (max-width: 640px){
    .drag-scroll-content .car-item{
        min-width: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 500px){
    .drag-scroll-content .car-item{
        min-width: 100%;
        max-width: 100%;
    }
}