.background-black {
    background-color: black;
}

.default-back{
    background-color: #111111;
}
  
.icon-button {
    background: transparent;
    border: 0;
    padding: 0;
    color: white;
}

.main .wallet {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 80px 0 0;
}

.main .wallet .icon-button {
    margin-right: 10px;
    display: flex;
}

.main .wallet .icon-button .icon {
    width: 14px;
    object-fit: contain;
}

.main .wallet .coin {
    color: #ff00ff;
    font-size: 14px;
}

.main .wallet .coin .amount {
    color: white;
    font-size: 14px;
    background-color: #1a0013;
    border-radius: 5px;
    padding: 0 5px;
}

.team-bonus {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 -20px;
    padding: 0 65px 0 160px;
    width: 100%;
}

.team-bonus .label {
    color: white;
    font-size: 12px;
    color: #c1c1c1;
}

.team-bonus .button.primary {
    background-image: url(../../images/button-third-bg.png);
    font-size: 30.3px;
    line-height: 30.3px;
    padding: 5px 15px;
}

.logo {
    width: 175px;
    height: 175px;
}

.content-header-border-wrap {
    flex: 1;
}
  
.content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.content-header.item-list {
    display: flex;
    flex-direction: row;
    border-width: 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, black, #ff00ff, #ff00ff, #ff00ff, black) 1;
}

.content-header.item:not(:first-child) {
    border-width: 0 0 0 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, black, black, #ff00ff, #ff00ff, #ff00ff, black, black) 1;
}

.content-header.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    color: white;
    background-color: black;
    /* width: 200px; */
    height: 130px;
    padding: 20px 0;
    position: relative;
    border: 0;
}

.content-header.item .button.primary {
    padding: 12px 34px;
    font-size: 18px;
}

.content-header.item .content{
    margin-bottom: 5px;
    object-fit: contain;
}

.content-header.item .text {
    font-size: 14px;
    margin-bottom: 5px;
}

.content-header.item .label {
    font-size: 18px;
}

.content-header.item .icon-group {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.content-header.item .icon {
    width: 20px;
    object-fit: contain;
}

.content-header .menu {

}

.content-header .menu .icon {

}