.zavod .category_box2 {
  padding: 0px 0px 50px;
  width: 97%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
  min-height: 355px;
}

.zavod .category_box2 .number_b {
  font-size: 36px;
  font-size: 36px;
  font-weight: 700;
  color: #292929;
  position: absolute;
  top: 0;
  left: 0;
}

.zavod .category_box2 .product_box {
  padding: 0;
}
.zavod .category_box2 .hovered-content .product_box {
  position: relative;
  min-height: 80px;
}
.zavod .category_box2 .hovered-content .product_box img {
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.zavod .category_box2 .visible-content .product_box img {
  width: 108px;
  height: 108px;
  border: 14px solid rgba(128, 168, 204, 0.15);
  /* background-color: #807399; */
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(1);
}
.zavod .category_box2 .visible-content .user_prize img {
  padding-bottom: 5px;
}

.zavod .category_box2 .user_stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.zavod .category_box2 .user_prize {
  width: 50%;
  display: inline-block;
}

.zavod .category_box2 .user_name,
.zavod .category_box2 .user_team {
  padding-bottom: 4px;
  text-align: center;
}
.zavod .category_box2 .user_name p,
.zavod .category_box2 .user_team p,
.zavod .category_box2 .user_prize p {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.2;
}
.zavod .category_box2 .user_name span,
.zavod .category_box2 .user_team span,
.zavod .category_box2 .user_prize span {
  color: #706f6f;
  font-size: 30px;
}
.zavod .category_box2 .user_team img {
  width: 30px;
  margin-top: -8px;
}

.zavod .category_box2 span.star {
  font-size: 18px;
  text-transform: uppercase;
  width: 45px;
  display: block;
  height: 45px;
  display: flex;
  color: white;
  margin: 0 auto 10px auto;
  align-items: center;
  justify-content: center;
}

.zavod .category_box2 .button.primary {
  background-image: radial-gradient(70% 70%, #160021, black);
  color: white;
  font-size: 15.7px;
  padding: 4px 14px;
  border-width: 1px;
  border-style: solid;
  border-image: radial-gradient(#00000010, #000000, #6b03a3) 1 1;
  max-width: 98px;
  margin: 0 auto;
}

.zavod .category_box2 .row_text {
  margin: 0px;
  padding: 0px;
  padding-right: 5px;
  list-style: none;
  height: 200px;
  overflow-y: auto;
}
.zavod .category_box2 .row_text::-webkit-scrollbar{
  display: block !important;
  background-color: #161616;
  width: 5px;
}
.zavod .category_box2 .row_text::-webkit-scrollbar-thumb{
  background-color: #fd00f5;
}

.zavod .category_box2 .row_text li {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  font-weight: 300;
  color: #ffffff;
}

.zavod .category_box2 .row_text li span {
  margin-left: auto;
}

.zavod .category_box2 .row_text li:first-child {
  color: #a9a9a9;
  font-size: 14px;
  padding-bottom: 7px;
}

.zavod .cagegory_row .list_col {
  width: 20%;
  float: left;
  margin: 36px 0px 0px 0px;
  padding: 0px 8px 0 8px;
}

.zavod .cagegory_row .list_col:nth-child(1),
.zavod .cagegory_row .list_col:nth-child(2),
.zavod .cagegory_row .list_col:nth-child(3),
.zavod .cagegory_row .list_col:nth-child(4),
.zavod .cagegory_row .list_col:nth-child(5) {
  margin-top: 0;
}

.zavod .cagegory_row .list_col .list_box {
  max-width: 231px;
  width: 100%;
  margin: 0 auto;
  height: 305px;
  padding: 10px 14px;
  box-sizing: border-box;
  transition: all 0.3s;
  position: relative;
  color: #ffffff;
  text-align: center;
}
.zavod .cagegory_row .list_col .list_box.is-my-car,
.zavod .cagegory_row .list_col .list_box {
  border-radius: 15px;
  box-sizing: border-box;
}
.zavod .category_box2 .pagination_box {
  position: absolute;
  float: none;
  padding-right: 0;
  right:auto;
  bottom: -20px;
  left:0;
}

.zavod .cagegory_row .list_col .list_box.bg_4 {
  box-shadow: 1px 3px 10px #292929;
  border-radius: 15px;
  background-image: none;
  box-sizing: border-box;
}

.zavod .cagegory_row .list_col .list_box.bg1 .number_b {
  color: #00fffb;
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.35);
}

.zavod .cagegory_row .list_col .list_box.bg_4 .number_b {
  color:  #fd00f5;
}

.zavod .cagegory_row .list_col .list_box.is-main {
  box-shadow: 1px 3px 10px #00c8fe;
}
.zavod .cagegory_row .list_col .list_box.is-my-car {
  box-shadow: 1px 3px 10px #fd00f5 !important;
  border-radius: 15px;
}


.is-main .user_prize ,
.is-main .number_b {
  color: #3dffff!important;
}
.zavod .category_box2 .user_prize.prize p {
  font-size: 21px;
  line-height: 36px;
}
.zavod .category_box2 .user_prize.prize img{
  width: 15px;
}
