.about-tokens {
    width: 100%;
}

.about-tokens h2 {
    font-size: 29px;
    text-align: center;
    font-weight: 500;
    color: #f400f7;
}

.about-tokens .introduction {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.about-tokens .introduction .box.one {
    width: 19.6%;
    padding-top: 50px;
}

.about-tokens .introduction .box.two {
    width: 35.4%;
}

.about-tokens .introduction .box.three {
    width: 44.4%;
}

.about-tokens .introduction .text {
    margin-left: auto;
    margin-bottom: 120px;
}

.about-tokens .introduction .text p {
    font-size: 19px;
    font-weight: 300;
    color: white;
    line-height: normal;
}

.about-tokens .introduction .image.token {
    padding-right: 40px;
    max-width: 400px;
}

.about-tokens .introduction .image.token img {
    width: 100%;
}

.about-tokens .introduction .token-value {
    text-align: center;
    padding: 0 35px;
}

.about-tokens .introduction .token-value span {
    display: block;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: 300;
    color: white;
}

.about-tokens .introduction .token-value span.value {
    font-weight: 700;
    margin-bottom: 30px;
}

.about-tokens .introduction .player-procces {
    max-width: 450px;
}

.about-tokens .introduction .player-procces h6 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: white;
    margin-bottom: 20px;
}

.about-tokens .introduction .player-procces .image {
    text-align: center;
    margin-bottom: 45px;
}


.about-tokens .introduction .player-procces .image img {
    width: 100%;
}

.about-tokens .introduction .procces-value {
    display: flex;
    justify-content: center;
}

.about-tokens .introduction .procces-value span.val {
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    color: white;
    display: block;
}

.about-tokens .introduction .procces-value span.val:first-of-type {
    margin-right: 100px;
}

.about-tokens .introduction .procces-value span.blue {
    color: #00f1f4;
    font-weight: 700;
    display: block;
    text-align: center;
}

.progress-bar-el {
    margin-bottom: 45px;
    height: 27px;
    padding: 5px;
    display: flex;
    -moz-border-radius: 14px / 13px 13px 13px 13px;
    -webkit-border-radius: 14px / 13px 13px 13px 13px;
    border-radius: 14px / 13px 13px 13px 13px;
    /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* prevents bg color from leaking outside the border */
    background-color: #000;
    /* layer fill content */
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .06), inset 0 2px 0 rgba(0, 0, 0, .08), inset 0 0 3px rgba(255, 255, 255, .08);
    /* drop shadow, inner shadow and inner glow */
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .06), inset 0 2px 0 rgba(0, 0, 0, .08), inset 0 0 3px rgba(255, 255, 255, .08);
    /* drop shadow, inner shadow and inner glow */
    box-shadow: 0 1px 0 rgba(255, 255, 255, .06), inset 0 2px 0 rgba(0, 0, 0, .08), inset 0 0 3px rgba(255, 255, 255, .08);
    /* drop shadow, inner shadow and inner glow */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5MTgxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBkMGMwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    /* gradient overlay */
    background-image: -moz-linear-gradient(bottom, #191818 0%, #0d0c0c 100%);
    /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #191818 0%, #0d0c0c 100%);
    /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #191818 0%, #0d0c0c 100%);
    /* gradient overlay */
    background-image: linear-gradient(bottom, #191818 0%, #0d0c0c 100%);
    /* gradient overlay */
}


.progress-bar-el .progress-line:after {
    content: "";
    width: 100%;
    background: rgb(0, 0, 0);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 54%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 54%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 54%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff', GradientType=1);
    /* IE6-9 */
    position: absolute;
    top: -3px;
    right: 0;
    left: -3px;
    bottom: -3px;
}

.progress-bar-el .progress-value {
    font-size: 10.7px;
    padding-left: 20px;
    color: #fff;
}
