.icon-button {
    position: relative;
    z-index: 9;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.main-content.zavod {
    margin-right: 0px;
}

.zavod_nav {
    border-width: 1px 0;
    border-style: solid;
    -o-border-image: linear-gradient(to right, black, #ff00ff, #ff00ff, #ff00ff, black) 1;
       border-image: linear-gradient(to right, black, #ff00ff, #ff00ff, #ff00ff, black) 1;
    margin: 0px 65px 0px 177px;
    border-top: none;
    position: relative;
    z-index: 3;
}

.zavod_nav ul {
    margin: -19px 0px 4px 0px;
    list-style: none;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zavod_nav ul li {
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
}

.zavod_nav ul li button {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    display: block;
    padding: 3px 15px;
    background: none;
    border: none;
    width: 100%;
    border: solid 1px #1e33ff;
    ;
    border-bottom: solid 2px #1e33ff;
    border-radius: 40px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    letter-spacing: 0.8px;
    /* inner glow */
    /* inner glow */
    box-shadow: inset 0 0 10px 0 rgba(30, 34, 36, .66);
    /* inner glow */
}

.zavod_nav ul li button img {
    margin-right: 5px;
}

.zavod_nav ul li button span {
    color: #3dffff;
}

.zavod_nav ul li button:hover {
    text-decoration: none;
}

.zavod_nav ul li:first-child button {
    padding-left: 55px !important;
    color: #00fffb;
    border: none;
    font-weight: 300;
    border-radius: 0px;
}

.zavod_nav ul li:nth-of-type(2) button {
    color: #3dffff;
}

.zavod_nav ul li:nth-of-type(2) button span {
    color: #fff;
}

.zavod_nav ul li:nth-of-type(3) button {
    width: 145px;
}

.zavod_nav ul li:nth-of-type(4) button {
    padding: 3px 12px 3px 2px;
}

.zavod_nav ul li button.active {
    background: url('../images/zavod/nav_bg_2.png') no-repeat center;
    background-size: 100% 100%;
    padding: 6px 15px 6px 5px;
    text-shadow: 0 0 5px rgba(0, 186, 255, .63);
    /* outer glow */
}

.zavod_nav ul li button.text_color {
    color: #fdeea8;
    text-shadow: 0px 3px 2px #b77d0a;
}

