.icon-button {
    position: relative;
    z-index: 9;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.main-content.zavod {
    margin-right: 0px;
}

.zavod_nav {
    border-width: 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right, black, #ff00ff, #ff00ff, #ff00ff, black) 1;
    margin: 0px 65px 0px 177px;
    border-top: none;
    position: relative;
    z-index: 3;
}

.zavod_nav ul {
    margin: -21px 0px 0px 0px;
    list-style: none;
    padding: 0px;
    display: flex;
}

.zavod_nav ul li {
    width: 11.2%;
    text-align: center;
}

.zavod_nav ul li button {
    color: #00baff;
    font-size: 12px;
    display: block;
    padding: 23px 10px;
    background: none;
    border: none;
    width: 100%;
}

.zavod_nav ul li button:hover {
    text-decoration: none;
}

.zavod_nav ul li:nth-child(odd) button {
    color: #ff3434;
}

.zavod_nav ul li button.active {
    background: url('../images/zavod/nav_bg.png') no-repeat center;
    padding-right: 30px;
    padding-left: 5px;
}

.zavod .car_rc {
    position: relative;
    z-index: 2;
    top: -46px;
    min-width: 1280px;
    max-width: 1300px;
    margin: 0 auto;
}

.zavod .car_rc img {
    width: 100%;
}

.zavod .car_rc .chat_button {
    position: absolute;
    width: 70px;
    height: 61px;
    left: 43px;
    bottom: 203px;
    background: none;
    border: none;
    z-index: 99;
}

.zavod .car_rc .cr_cars_box {
    position: absolute;
    top: 155px;
    left: 347px;
    right: 246px;
}

.zavod .final_line {
    position: absolute;
    right: -49px;
    top: -35px;
}

.zavod .final_line img {
    width: 100px;
}

.zavod .car_rc .cr_cars_box .car img {
    max-width: 260px;
    margin-top: -11px;
    position: relative;
    bottom: -5px;
}

.zavod .car_rc .cr_cars_box .car_row {
    min-height: 83px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.zavod .car_rc .cr_cars_box .car_row:nth-child(3) span,
.zavod .car_rc .cr_cars_box .car_row:nth-child(4) span {
    padding-left: 15px;
}

.zavod .car_rc .cr_cars_box .car_row span {
    color: #ffffff;
    font-size: 12px;
}

.zavod .car_rc .cr_cars_box .car_row span span {
    color: #00baff;
}

.zavod .car_rc .cr_cars_box .car_row .car {
    margin-left: 20px;
}

.zavod .weekly_bor .page_number {
    color: #373737;
    font-size: 36px;
    font-weight: bold;
    padding-left: 15px;
}

.car_rc_time {
    margin: -100px auto 0px;
}