
.lead-cont-holder{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}

.lead-cont-holder .table-row{
    background: rgba(17, 17, 17, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 4px;
    position: relative;
    z-index: 1;
}
.lead-cont-holder .table-row .mine-back{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.lead-cont-holder .table-row.mine{
    background: transparent;
}
.lead-cont-holder .table-row.mine .mine-back{
    opacity: .6;
}
.lead-cont-holder .table-row.header{
    margin-bottom: 10px;
}

.lead-cont-holder .table-row .table-item{
    width: 25%;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    position: relative;
    height: 100%;
}

.lead-cont-holder .table-row .table-item.small{
    width: 20%;
}
.lead-cont-holder .table-row .table-item.big{
    width: 30%;
}

.lead-cont-holder.owner .table-row .table-item{
    width: 24%;
}
.lead-cont-holder.owner .table-row .table-item.small{
    width: 20%;
}
.lead-cont-holder.owner .table-row .table-item.big{
    width: 28%;
}

.lead-cont-holder.team .table-row .table-item.big{
    width: 40%;
}

.lead-cont-holder .table-row .table-item.last{
    border-right: none;
}

.lead-cont-holder .table-row .table-item.bold p{
    font-weight: 700;
}

.lead-cont-holder .table-row .table-item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 16px;
}
.lead-cont-holder .table-row .table-item p img{
    width: 22px;
    margin-right: 14px;
}

@media screen and (max-width: 1700px){
    .lead-cont-holder .table-row{
        height: 45px;
    }
    .lead-cont-holder .table-row .table-item p{
        font-size: 15px;
    }
    .lead-cont-holder .table-row .table-item p img{
        width: 20px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 1550px){
    .lead-cont-holder .table-row{
        height: 43px;
    }
    .lead-cont-holder .table-row .table-item p{
        font-size: 14px;
    }
    .lead-cont-holder .table-row .table-item p img{
        width: 18px;
    }
}

@media screen and (max-width: 1300px){
    .lead-cont-holder{
        width: 75%;
    }
    .lead-cont-holder .table-row{
        height: 37px;
    }
}

@media screen and (max-width: 1024px){
    .lead-cont-holder{
        z-index: 1;
    }
    .lead-cont-holder .table-row{
        height: 37px;
    }
    .lead-cont-holder .table-row .table-item p{
        font-size: 13px;
        width: 100%;
    }
    .lead-cont-holder .table-row .table-item p img{
        width: 16px;
        margin-right: 5px;
    }
}
@media screen and (max-width: 1024px) and (orientation: landscape){
    .lead-cont-holder{
        height: 100%;
    }
    .lead-cont-holder .table-row{
        height: 8.5%;
        margin-bottom: 2px;
    }
    .lead-cont-holder .table-row.header{
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 850px) and (orientation: landscape){
    .lead-cont-holder .table-row .table-item p{
        font-size: 11px;
    }
    .lead-cont-holder .table-row .table-item p img{
        width: 12px;
        margin-right: 3px;
    }
}

@media screen and (max-width: 640px){
    .lead-cont-holder{
        width: 90%;
        margin-right: 0;
    }
    .lead-cont-holder .table-row .table-item p{
        font-size: 11px;
    }
    .lead-cont-holder .table-row .table-item p img{
        width: 12px;
        margin-right: 3px;
    }
}
@media screen and (max-width: 850px) and (orientation: landscape){
    .lead-cont-holder .table-row{
        height: 8.2%;
    }
    .lead-cont-holder .table-row .table-item p{
        font-size: 10px;
    }
}

@media screen and (max-width: 450px){
    .lead-cont-holder{
        width: 100%;
    }
    .lead-cont-holder .table-row{
        height: 32px;
    }
    .lead-cont-holder .table-row .table-item p{
        font-size: 10px;
    }
    .lead-cont-holder .table-row .table-item p img{
        width: 10px;
        margin-right: 2px;
    }
}

.my-table-holder{
    border: 1px solid rgba(255, 255, 255, 1);
}
.my-table-holder .table-row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    background: rgba(17,17,17, 0.8);
}
.my-table-holder .table-row.header{
    background: rgba(17,17,17, 1);
}
.my-table-holder .table-row.header .table-item p{
    font-weight: 600;
}
.my-table-holder .table-row .table-item{
    border-left: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.my-table-holder .table-row .table-item.desc{
    border-left: none;
    align-items: flex-start;
    padding-left: 3%;
}
.my-table-holder .table-row .table-item p{
    margin: 0;
}