.buttons-heading-component {
    display: flex;
    align-items: center;
}

.buttons-heading-component .wrap-main-buttons {
    flex: 1;
    text-align: center;
}

.buttons-heading-component .wrap-main-buttons .button {
    margin: 0 22px;
}

.buttons-heading-component .wrap-filter-buttons {
    text-align: right;
    min-width: 311px;
}

.buttons-heading-component .wrap-filter-buttons .button {
    margin-left: 20px;
}

.buttons-heading-component .wrap-filter-buttons .time-filter {
    margin-bottom: 10px;
}

.buttons-heading-component .wrap-filter-buttons .time-filter .button {
    font-size: 12px;
    min-width: 80px;

    text-transform: uppercase;
}

.buttons-heading-component .wrap-filter-buttons .month-filter .button {
    font-size: 10px;
    min-width: 80px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 7px;
}
.sub-header-component {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 20px 80px;
    margin-top: 15px;
}

.sub-header-component button {
    background-color: transparent;
    padding: 0;
    outline: 0;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #19ebe9;
    margin: 0;
    width: 295px;
}

.liderboard-list-component {
    display: flex;
   /* flex-wrap: wrap; */
    justify-content: center;
    padding: 40px 30px;
    position: relative;
}


.liderboard-list-component .item {
    width: 295px;
    text-align: center;
    padding: 0 7.5px;
}


.liderboard-list-component .item .player-name {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    display: block;
    position: relative;
    padding: 0 35px;
    text-transform: uppercase;
}

.liderboard-list-component .item .award,
.liderboard-list-component .item .cup,
.liderboard-list-component .item .flag {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.liderboard-list-component .item .wrap-image {
    margin-top: 30px;
    margin-bottom: 20px;
}

.liderboard-list-component .item .wrap-image.second {
    margin-top: 15px;
    margin-bottom: 15px;
}

.liderboard-list-component .item .wrap-image img {
    max-width: 100%;
}

.liderboard-list-component .item .text-one {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    display: block;
    position: relative;
}

.liderboard-list-component .item .text-one span {
    color: #fc00ff;
}

.liderboard-list-component .item .award {
    height: 26px;
    display: flex;
}

.liderboard-list-component .item .award img {
    max-width: 100%;
}

.liderboard-list-component .item.last .player-name {
    letter-spacing: -2px;
}