
.ledeboard-team-list-component.next2 .tab-team {
	margin-bottom: 0;
}
.ledeboard-team-list-component.next2 .tab-team .inner-tab .position{
	position: absolute;
	left: 26px;
	top: 50%;
	transform: translateY(-50%);
}
.ledeboard-team-list-component.next2 .tab-team .inner-tab .position p{
	color: white;
	font-weight: 600;
	font-size: 20px;
	margin: 0;
	line-height: 1;
}

.ledeboard-team-list-component.next2 .tab-team .inner-tab:after,
.ledeboard-team-list-component.next2 .tab-team .inner-tab:before {
	display: none;
}
.ledeboard-team-list-component.next2 .item {
	width: 27%;
	text-align: center;
}
.ledeboard-team-list-component.next2 .item.small{
	width: 19%;
}

.ledeboard-team-list-component.next2 .table-body .item span {
	font-size: 20px;
}

.ledeboard-team-list-component.next2 .table-body .item span.image {
	display: inline-block;
	max-width: 31px;
	width: 31px;
}
.ledeboard-team-list-component.next2 .table-body .item span.image.trx {
	max-width: 21px;
	width: 21px;
}
.ledeboard-team-list-component.next2 .table-body .item span.image.ket {
	max-width: 24px;
	width: 24px;
}

.ledeboard-team-list-component.next2 .table-body .item span.image img {
	width: 100%;
}

.ledeboard-team-list-component.next2 .arrows {
	display: flex;
	align-items: center;
	bottom: 3px;
	left: 50%;
	transform: translateX(-50%);
}

.ledeboard-team-list-component.next2 .arrows .pager-actual{
	font-weight: 600;
	color: white;
}

.ledeboard-team-list-component.next2 .arrows button {
	width: 27px;
	height: 27px;
	border: none;background-color: transparent;
	background-size: 100% 100%;
}

.ledeboard-team-list-component.next2 .arrows button.right {
	background: url("/assets/base/images/leaderboard/next-arrow-trans.png") center center no-repeat;
	margin-left: auto;
}

.ledeboard-team-list-component.next2 .arrows button.left {
	background: url("/assets/base/images/leaderboard/prev-arrow-trans.png") center center no-repeat;
}
