.ledeboard-team-list-component {
	padding: 0 20px 46px 20px;
	position: relative;
}

.ledeboard-team-list-component.details {
    padding: 0 20px;
}

.ledeboard-team-list-component button.button {
	margin: 0 auto;
	background-image: url(/assets/affilate/images/btn-back.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
   	display: block;
   	font-size: 30px;
   	font-weight: 500;
	line-height: 66px;
	height: 66px;
	min-width: 215px;
	transition: background-image 0.1s;
}
.ledeboard-team-list-component button.button:hover{
	background-image: url(/assets/affilate/images/btn-hover.png);
	color: white;
	text-decoration: none;
  }

.ledeboard-team-list-component .sub-header-component {
	margin-bottom: 5px;
}

.ledeboard-team-list-component .sub-header-component button {
	width: 100%;
	color: white;
}
.ledeboard-team-list-component .tab-team {
	margin-bottom: 10px;
}


.ledeboard-team-list-component .tab-team .inner-tab {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 11px 15px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.3);
}

.ledeboard-team-list-component .tab-team .inner-tab.my-inner-tab{
	background-color: rgba(0, 0, 0, 0.6);
}


.ledeboard-team-list-component .tab-team .inner-tab .item.team-position {
	width: 25%;
	text-align: left;
	padding-left: 4px;
}

.ledeboard-team-list-component .tab-team .inner-tab .team-position span.position {
	font-size: 36px;
	font-weight: 600;
	min-height: 68px;
	min-width: 68px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}



.ledeboard-team-list-component .tab-team .inner-tab .item.team-points {
	width: 25%;
	text-align: center;
}
.ledeboard-team-list-component .tab-team .inner-tab .item.team-points span.image {
	margin-right: 10px;
	min-width: 60px;
	display: inline-block;
}

.ledeboard-team-list-component .tab-team .inner-tab .item span {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	color: white;
}

.ledeboard-team-list-component .tab-team .inner-tab .item.team-leader {
	width: 25%;
	text-align: center;
}

.ledeboard-team-list-component .tab-team .inner-tab .item.team-rider {
	width: 25%;
	text-align: center;
}

