.ledeboard-team-list-component {
	position: relative;
}
.ledeboard-team-list-component .table-header-component {
	display: flex;
	align-items: center;
}

.ledeboard-team-list-component.next .sub-header-component {
	align-items: center;
}
.ledeboard-team-list-component.next .tab-team .inner-tab,
.ledeboard-team-list-component.next .tab-team .inner-tab:before,
.ledeboard-team-list-component.next .tab-team .inner-tab:after {
	border-color: #d904e0;
}


.ledeboard-team-list-component.next .item {
	text-align: center;
}

.ledeboard-team-list-component.next .sub-header-component .item button {
	margin: 0;
	width: auto;
}

.ledeboard-team-list-component.next .item:nth-child(1),
.ledeboard-team-list-component.next .item:nth-child(2),
.ledeboard-team-list-component.next .item:nth-child(3){
	width: 13% !important;
}

.ledeboard-team-list-component.next .table-body .item:nth-child(1) {
	padding-left: 0;
	text-align: center;
}

.ledeboard-team-list-component.next .item:nth-child(4),
.ledeboard-team-list-component.next .item:nth-child(5),
.ledeboard-team-list-component.next .item:nth-child(6),
.ledeboard-team-list-component.next .item:nth-child(7),
.ledeboard-team-list-component.next .item:nth-child(9){
	width: 8.26%
}

.ledeboard-team-list-component.next .item:nth-child(8){
	width: 19.7%;
}

.ledeboard-team-list-component.next .item:nth-child(10){
	width: 14.5%;
}


.ledeboard-team-list-component.next .table-body .tab-team .inner-tab {
	padding: 3px 15px;
}
.ledeboard-team-list-component.next .table-body .item.team-position span.position {
	min-height: 37px;
	min-width: 41px;
	font-size: 19px;
	background-size: 100% 100%;
}


.ledeboard-team-list-component.next .table-body .item.country span.image {
	height: 33px;
	margin: 0 auto;
}

.ledeboard-team-list-component.next .table-body .item.car span.image {
	width: 75px;
	height: 33px;
	margin: 0 auto;
}
.ledeboard-team-list-component.next .table-body .item span.image img {
	width: 100%;
}

.ledeboard-team-list-component.next .table-body .item span {
	font-size: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
}

.ledeboard-team-list-component.next .arrows {
	display: flex;
	align-items: center;

}

.ledeboard-team-list-component.next .arrows button {
	width: 27px;
	height: 27px;
	border: none;background-color: transparent;
	background-size: 100% 100%;
}

