.tankovanie_page {
    color: #ffffff;
    display: flex;
    padding: 20px 0px;
}

.tankovanie_page .col_4 {
    flex: 0 0 25%;
    padding: 0px 0px 15px 30px;
    text-align: center;
}

.tankovanie_page .button.secondary.box {
    background: url('../images/button-fifth-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 29.5px;
    line-height: 31px;
    padding: 5px 10px;
    min-width: 85px;
    margin-bottom: 25px;
    font-weight: 500;
    padding: 5px 12px;
}

.tankovanie_page .coin_box {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c2143+0,141414+100 */
    background: #191919 url('../images/tankovanie/bg_top.jpg') no-repeat;
    padding: 10px 15px;
    background-size: 100%;
}

.tankovanie_page .coin_style {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    max-width: 229px;
    width: 100%;
    margin: 0 auto 20px;
}

.tankovanie_page .top_heading {
    display: flex;
    text-align: left;
    line-height: 18px;
}

.tankovanie_page .coin_style .coin_text {
    text-align: left;
    display: inline-block;
}

.tankovanie_page .coin_style .coin_text:first-child {
    width: 35%;
}

.tankovanie_page .coin_style .coin_text:last-child {
    width: 65%;
    text-align: center;
}

.tankovanie_page .coin_box_value {
    text-align: left;
    display: flex;
}

.tankovanie_page .car_box {
    display: flex;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
}

.tankovanie_page ._pr {
    display: flex;
    position: relative;
    width: 51px;
    margin-left: 35px;
}

.tankovanie_page ._pr span {
    position: absolute;
    font-size: 9px;
    font-weight: normal;
    left: -25px;
}

.tankovanie_page ._pr span.pr_100 {
    top: 4px;
}

.tankovanie_page ._pr span.pr_0 {
    bottom: 4px;
}

.tankovanie_page .arrow button {
    background: none;
    border: none;
}

.tankovanie_page .coin_box_value span:first-child {
    font-size: 12px;
    width: 45px;
}

.tankovanie_page .coin_box_value button.minus {
    font-size: 53px;
    top: -10px;
    width: 53px;
    left: 13px;

}

.tankovanie_page .pr_box {
    color: #b4b4b4;
    font-size: 12px;
    padding: 2px 10px 5px;
    background: url('../images/tankovanie/button_bg.png') no-repeat;
    background-size: 100%;
    position: relative;
    right: -6px;
}

.tankovanie_page .coin_box_value span:last-child {
    width: 155px;
    text-align: center;
}

.tankovanie_page .coin_box_value button {
    color: #fc19ca;
    font-size: 35px;
    line-height: 2px;
    position: relative;
    top: -4px;
}

.tankovanie_page .coin_box_value button:focus {
    outline: none;
    box-shadow: none;
}

.tankovanie_page .button-group {
    margin: 20px 0px;
}

.tankovanie_page .button-group button {
    font-size: 14px;
}

.tankovanie_page .car_col_row {
    clear: both;
    margin-left: 22px;
    max-width: 210px;
    width: 100%;
    margin: 0 auto;
}

.tankovanie_page .car_col_row span {
    width: 50%;
    float: left;
    text-align: left;
}

.tankovanie_page .car_col_row span:first-child {
    display: block;
    text-align: left;
    width: 100%;
    float: left;
}

.tankovanie_page .pr_box_col {
    background: #191919 url('../images/tankovanie/bg_top.jpg') no-repeat;
    background-size: 100%;
    max-width: 229px;
    width: 100%;
    margin: 0 auto;
}

.tankovanie_page .pr_box_col .coin_style {
    background: none;
    margin-bottom: 0px;
}

.tankovanie_page .pr_box_col .coin_style:first-child .top_heading {
    line-height: 24px;
}

.tankovanie_page .coin_style .coin_text.fontsize {
    font-size: 12px;
}

.tankovanie_page .content_box {
    color: #f91dcd;
    font-size: 26px;
    margin-bottom: 15px;
}

.tankovanie_page .content_box span {
    display: block;
    color: #ffffff;
}

.tankovanie_page .startbutton {
    padding-bottom: 18px;
    background: none;
    border: none;
}

.main-content.tankovanie1 {
    margin-right: 40px;
}

.tankovanie-popup-component {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.tankovanie-popup-component .inner-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tankovanie-popup-component .inner-content .popup-content form {
    margin-top: 25px;
}

.tankovanie-popup-component .inner-content .popup-content {
    width: 505px;
    min-height: 490px;
    max-width: 100%;
    background: url('../images/popup-bg2.png') no-repeat;
    background-size: 100% 100%;    
    position: relative;
    padding: 20px 35px;
}

.tankovanie-popup-component .inner-content .popup-content:before {
    content: url('../images/popuo-ribbon.png');
    position: absolute;
    top: -26px;
    right: 65px;
}

.tankovanie-popup-component .inner-content .popup-content .race-length,
.tankovanie-popup-component .inner-content .popup-content .race-length-value {
    display: block;
    color: #fe00fe;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

.tankovanie-popup-component .inner-content .popup-content .race-length-value {
    color: #fff;
}

.tankovanie-popup-component .inner-content .popup-content .wrap-input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.tankovanie-popup-component .inner-content .popup-content .wrap-input label {
    flex: 1;
    color: #00c8fe;
    font-weight: 300;
    margin-bottom: 0;
}

.tankovanie-popup-component .inner-content .popup-content .wrap-input label:before {
    content: url('../images/label-icon.png');
    float: left;
    margin-right: 10px;
}

.tankovanie-popup-component .inner-content .popup-content .wrap-input input,
.tankovanie-popup-component .inner-content .popup-content .wrap-input select {
    width: 245px;
    color: #00c8fe;
    background-color: transparent;
    border: 2px solid #00c8fe;
    border-radius: 5px;
    padding: 5px 20px;
    height: 38px;
}

.tankovanie-popup-component .inner-content .popup-content .wrap-input select {
    -webkit-appearance: none;
    background-image: url('../images/select-arrow.png');
    background-repeat: no-repeat;
    background-position: 95% center;
}

.tankovanie-popup-component .inner-content .popup-content .wrap-input .prefix {
    position: absolute;
    top: 11px;
    right: 135px;
    color: #ff00f6;
    font-weight: 300;
    line-height: 16px;
}

.tankovanie-popup-component .inner-content .popup-content .submit-form {
    width: 83px;
    height: 73px;
    background: transparent url(../images/go-button.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    outline: 0;
    border: 0;
    position: absolute;
    left: 50%;
    margin-left: -41.5px;
    bottom: -35px;    
}

.tankovanie-popup-component .inner-content .popup-content .show-rules {
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: 14px;
    color: #00c8fe;
    font-weight: 300;
    position: absolute;
    bottom: 15px;
    right: 40px;
    display: flex;
    align-items: center;    
}

.tankovanie-popup-component .inner-content .popup-content .show-rules img {
    width: 20px;
    margin-right: 7px;
}

.tankovanie-popup-component .inner-content .popup-content .close-popup {
    background: transparent url(../images/close-icon-blue.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    outline: 0;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 18px;
    right: 25px;
}