.tier-component {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
}

.tier-component .wrap-heading {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 20px;
}

.tier-component .wrap-heading h2 {
    font-size: 37.48px;
    color: #ff00c6;
    font-weight: 300;
    margin-bottom: 0;
}

.tier-component .wrap-heading p {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    padding-left: 10px;
}

.tier-component .wrap-main-content {
    display: flex;
}

.tier-component .wrap-main-content p {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}

.tier-component .wrap-main-content .left-content {
    width: 34.1%;
    border-right: 1px solid #fff;
    text-align: center;
}

.tier-component .wrap-main-content .left-content .car-slider {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.tier-component .wrap-main-content .left-content .wrap-slides {
    width: 230px;
    height: 230px;
    margin: 0 auto 10px auto;
    position: relative;
}

.tier-component .wrap-main-content .left-content .wrap-slides .slide {
    background-image: url(../images/slider-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tier-component .wrap-main-content .left-content .wrap-slides .slide img {
    max-width: 100%;
    max-height: 100%;
}

.tier-component .wrap-main-content .left-content .car-slider .arrow {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    background-size: 100% 100%;
    outline: none;
    border: none;
    width: 24px;
    height: 24px;
}

.tier-component .wrap-main-content .left-content .car-slider .arrow.prev {
    background: url(../images/arrow-left.png) center center no-repeat;
    left: -40px;
}

.tier-component .wrap-main-content .left-content .car-slider .arrow.next {
    background: url('../images/arrow-right.png') center center no-repeat;
    right: -40px;
}

.tier-component .wrap-main-content .left-content .car-slider .win-races {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}


.tier-component .wrap-main-content .left-content .wrap-buttons .button{
    margin: 0 auto 0 auto;
    min-width: 127px;
    outline: none;
    font-size: 18px;
    padding: 7px 3px;
    border: none;
    background: url('../images/button-bg-second.png') center center no-repeat;
    background-size: 100% 100%;
    text-transform: uppercase;
    color: white;
    display: block;
}

.tier-component .wrap-main-content .left-content .wrap-buttons {
    position: relative;
    width: 85%;
    margin: 0 auto;
    max-width: 340px;
}

.tier-component .wrap-main-content .left-content .wrap-buttons .information {
    position: absolute;
    right: 15px;
    top: 8px;
    width: 30px;
    height: 30px;
    background: url('../images/apka-nova5profil2_05.png') center center no-repeat;
    background-size: 100% 100%;
    outline: none;
    border: none;
}

.tier-component .wrap-main-content .right-content .wrap-right-content {
    display: flex;
    align-items: center;
}

.tier-component .wrap-main-content .left-content,
.tier-component .wrap-main-content .right-content {
    padding-top: 20px;
}

.tier-component .wrap-main-content .right-content {
    padding-left: 100px;
    position: relative;
}

.tier-component .wrap-main-content .right-content .car-list {
    margin-top: 15px;
}

.tier-component .wrap-main-content .right-content .car-list > .inner {
    display: flex;
    flex-wrap: wrap;
}

.tier-component .wrap-main-content .right-content .car-list > .inner .item {
    width: 33.3333%;
    margin-bottom: 80px;
}

.tier-component .wrap-main-content .right-content .car-list > .inner .item .inner-item {
    width: 100px;
    background-image: url('../images/car-item-bg.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 10px;
    text-align: center;
    position: relative;
}

.tier-component .wrap-main-content .right-content .car-list > .inner .item .inner-item img {
    max-width: 100%;
    margin: 0 auto;
}

.tier-component .wrap-main-content .right-content .car-list > .inner .item.locked .inner-item:after {
    content: "";
    background: url('../images/lock.png') rgba(0, 0, 0, 0.6);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.tier-component .wrap-main-content .right-content .car-list > .inner .item .information {
    position: absolute;
    right: -14px;
    top: 115px;
    width: 30px;
    height: 30px;
    background: url('../images/apka-nova5profil2_05.png') center center no-repeat;
    background-size: 100% 100%;
    outline: none;
    border: none;
    z-index: 2;
}

.tier-component .wrap-main-content .right-content .parking-button {
    width: 132px;
    height: 132px;
    background: url('../images/parking-button.png') center center no-repeat;
    outline: none;
    border: none;
}

.tier-component .wrap-main-content .right-content .car-list > .inner .item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.tier-component .wrap-main-content .right-content .car-popup {
    position: absolute;
    width: 500px;
    min-height: 300px;
    background-image: url('../images/popup-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 5;
    top: 15px;
    left: 40px;
    padding: 45px 25px 20px 40px;
}

.tier-component .wrap-main-content .right-content .car-popup .inner {
    display: flex;
}

.tier-component .wrap-main-content .right-content .car-popup .car-item {
    padding-right: 35px;
    padding-left: 35px;
}

.tier-component .wrap-main-content .right-content .car-popup .car-item .inner-item {
    width: 110px;
    background-image: url('../images/car-item-bg.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 10px;
    text-align: center;
    position: relative;
    margin-left: 20px;
}

.tier-component .wrap-main-content .right-content .car-popup .item .inner-item img {
    max-width: 100%;
    margin: 0 auto;
}

.tier-component .wrap-main-content .right-content .car-popup .car-item {
    width: 220px;
    min-width: 220px;
}

.tier-component .wrap-main-content .right-content .car-popup .car-item .wrap-buttons {
    text-align: center;
}

.tier-component .wrap-main-content .right-content .car-popup .car-item .wrap-buttons button {
    width: 60px;
    height: 55px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    outline: 0;
    background-color: transparent;
    border: 0;
    margin: 0 6px;
}

.tier-component .wrap-main-content .right-content .car-popup .car-item .wrap-buttons {
    width: 100%;
    margin-top: 10px;
}

.tier-component .wrap-main-content .right-content .car-popup .car-item .wrap-buttons button.buy {
    background-image: url('../images/apka-nova5profil2_19.png');
}

.tier-component .wrap-main-content .right-content .car-popup .car-item .wrap-buttons button.rent {
    background-image: url('../images/rent.png');
}

.tier-component .wrap-main-content .right-content .car-popup .text h4 {
    text-align: center;
    font-size: 36px;
    color: #fc00ff;
    font-weight: 700;
}

.tier-component .wrap-main-content .right-content .car-popup .text p {
    font-size: 14.8px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    margin-bottom: 15px;
}

.tier-component .wrap-main-content .right-content .car-popup .text p span {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: block;
    margin-bottom: 3px;
}

.tier-component .wrap-main-content .right-content .car-popup .text p span.buy {
    color: #00e9d2;
}

.tier-component .wrap-main-content .right-content .car-popup .text p span.rent {
    color: #fc00ff;
}

.tier-component .wrap-main-content .right-content .car-popup .text .information {
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 30px;
    height: 30px;
    background: url('../images/apka-nova5profil2_05.png') center center no-repeat;
    background-size: 100% 100%;
    outline: none;
    border: none;
}
