/********************************************************************************************

	Webfonts

********************************************************************************************/
/* Oswald Regular */
@font-face {
  font-family: "Oswald";
  src: url("../webfonts/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Oswald Bold */
@font-face {
  font-family: "Oswald";
  src: url("../webfonts/Oswald-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* Oswald Light */
@font-face {
  font-family: "Oswald";
  src: url("../webfonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* Oswald Medium */
@font-face {
  font-family: "Oswald";
  src: url("../webfonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/*Bungee regular 400*/
@font-face {
  font-family: "Bungee";
  src: url("../webfonts/Bungee-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../webfonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "True-Lies";
  src: url("../webfonts/True-Lies.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Earth Orbiter";
  src: url("../webfonts/earthorbiter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Earth Orbiter";
  src: url("../webfonts/earthorbiterbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Earth Orbiter";
  src: url("../webfonts/earthorbiterxtrabold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Earth Orbiter";
  src: url("../webfonts/earthorbitersemital.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Tesla";
  src: url("../webfonts/TESLA.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../webfonts/Orbitron-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../webfonts/Orbitron-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../webfonts/Orbitron-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../webfonts/Orbitron-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../webfonts/Orbitron-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Orbitron";
  src: url("../webfonts/Orbitron-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("../webfonts/Orbitron-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
