

<div class="daily-modal-holder">
  <div class="daily-modal-back" (click)="closeModal()"></div>
  <div class="daily-modal-content" [ngClass]="{'bigger': isEditing === true}">
    <img src="/assets/base/images/garage/red-close-cross.svg" alt="" class="close-modal" (click)="closeModal()">

    <div class="header-holder" *ngIf="isEditing === false">
      <p class="heading"><img src="/assets/base/images/start-race/flame-icon.png" alt="Image of flame" class="flame-img"> {{'teams.my_team.tip_of_day' | translate}} <img src="assets/base/images/teams/edit-icon.png" alt="Edit tips icon" class="edit-icon" (click)="isEditing = true"></p>
      <p class="text">{{'teams.my_team.tip_desc' | translate}}</p>
    </div>

    <div class="header-holder" *ngIf="isEditing === true">
      <p class="heading">{{'teams.my_team.add_tip' | translate}}</p>
      <p class="text">{{'teams.my_team.choose_tip' | translate}}</p>
    </div>
    
    <div  *ngIf="isEditing === false"><app-show-tips></app-show-tips></div>

    <div  *ngIf="isEditing === true"><app-create-tips (editTips)="tipsSaved($event)"></app-create-tips></div>

  </div>
</div>

