<div class="order-detail">
  <div
    [ngClass]="{
      car:
        displayArray[0]['type'] === 'car' ||
        displayArray[0]['type'] === 'bundle'
    }"
    class="left-content"
  >
    <p class="category-title-second order-title">Order detail</p>
    <div
      [ngClass]="{
        car:
          displayArray[0]['type'] === 'car' ||
          displayArray[0]['type'] === 'bundle'
      }"
      class="content"
    >
      <div class="text">
        <p class="category-title-first name">{{ displayArray[0]["name"] }}</p>
        <div *ngIf="displayArray[0]['type'] === 'car'" class="ability-boxes">
          <div class="ability-box first">
            <img
              class="red-star"
              src="assets/base/images/market/value-red.svg"
              alt="buy icon"
            />
            <img
              class="blue-star"
              src="assets/base/images/market/value.svg"
              alt="buy icon"
            />
            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["price"].toLocaleString() }} IOI
              </p>
              <p class="races-desc">IOI value</p>
            </div>
          </div>
          <div class="ability-box">
            <img
              class="red-star"
              src="assets/base/images/icons/daily-stake-red.svg"
              alt="ability icon"
            />
            <img
              class="blue-star"
              src="assets/base/images/icons/daily-stake-blue.svg"
              alt="ability icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["ability1"] }} IOI
              </p>
              <p class="races-desc">daily stake</p>
            </div>
          </div>
          <div class="ability-box">
            <img
              class="red-star"
              src="assets/base/images/market/investment-red.svg"
              alt="ability icon"
            />
            <img
              class="blue-star"
              src="assets/base/images/market/investment.svg"
              alt="ability icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["ability2"] }}%
              </p>
              <p class="races-desc">ROI</p>
            </div>
          </div>
          <div class="ability-box">
            <img
              class="red-star"
              src="assets/base/images/icons/yearly-roi-red.svg"
              alt="ability icon"
            />
            <img
              class="blue-star"
              src="assets/base/images/icons/yearly-roi-blue.svg"
              alt="ability icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["ability3"].toLocaleString() }}%
              </p>
              <p class="races-desc">potential yearly ROI</p>
            </div>
          </div>
        </div>
        <div *ngIf="displayArray[0]['type'] === 'racer'" class="ability-boxes">
          <div class="ability-box first">
            <img
              class="red-star"
              src="assets/base/images/market/value-red.svg"
              alt="buy icon"
            />
            <img
              class="blue-star"
              src="assets/base/images/market/value.svg"
              alt="buy icon"
            />
            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["price"].toLocaleString() }} IOI
              </p>
              <p class="races-desc">IOI value</p>
            </div>
          </div>
          <div class="ability-box">
            <img
              class="red-star"
              src="assets/base/images/market/investment-red.svg"
              alt="ability icon"
            />
            <img
              class="blue-star"
              src="assets/base/images/market/investment.svg"
              alt="ability icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["ability2"] }}
              </p>
              <p class="races-desc">Affiliate reward</p>
            </div>
          </div>
          <div *ngIf="displayArray[0]['ability3']" class="ability-box">
            <img
              class="red-star"
              src="assets/base/images/market/investment-red.svg"
              alt="ability icon"
            />
            <img
              class="blue-star"
              src="assets/base/images/market/investment.svg"
              alt="ability icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["ability3"] }}
              </p>
              <p class="races-desc">APY</p>
            </div>
          </div>
        </div>
        <div *ngIf="displayArray[0]['type'] === 'bundle'" class="ability-boxes">
          <div class="ability-box">
            <img
              class="red-star"
              src="assets/base/images/market/investment-red.svg"
              alt="ability icon"
            />
            <img
              class="blue-star"
              src="assets/base/images/market/investment.svg"
              alt="ability icon"
            />

            <div class="ability-text">
              <p class="category-title-third">{{ displayArray[0]["nft"] }} %</p>
              <p class="races-desc">Affiliate reward</p>
            </div>
          </div>
          <div class="ability-box">
            <img
              class="red-star"
              src="assets/base/images/icons/daily-stake-red.svg"
              alt="ability icon"
            />
            <img
              class="blue-star"
              src="assets/base/images/icons/daily-stake-blue.svg"
              alt="ability icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["reward"] }} IOI
              </p>
              <p class="races-desc">Daily stake</p>
            </div>
          </div>
          <div class="ability-box">
            <img
              class="red-star"
              src="assets/base/images/market/investment-red.svg"
              alt="ability icon"
            />
            <img
              class="blue-star"
              src="assets/base/images/market/investment.svg"
              alt="ability icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["staking"] }}%
              </p>
              <p class="races-desc">ROI</p>
            </div>
          </div>
          <div class="ability-box">
            <img
              class="red-star"
              src="assets/base/images/icons/yearly-roi-red.svg"
              alt="ability icon"
            />
            <img
              class="blue-star"
              src="assets/base/images/icons/yearly-roi-blue.svg"
              alt="ability icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["yearly"].toLocaleString() }}%
              </p>
              <p class="races-desc">potential yearly ROI</p>
            </div>
          </div>
        </div>
        <div class="border-former"></div>
        <div class="amount-holder">
          <p class="races-desc">To be paid</p>
          <div class="prices">
            <div class="amount first">
              <img
                src="/assets/base/images/icons/ioi-big.svg"
                alt="ioi token icon"
              />
              <p class="category-title-first">{{ price.toLocaleString() }}</p>
            </div>
            <div class="amount">
              <img
                src="/assets/base/images/icons/polygon-big.svg"
                alt="ioi token icon"
              />
              <p class="category-title-first">
                {{
                  (
                    (price * myDriverBalances.ioi_usdt) /
                    this.myDriverBalances.matic_usdt
                  ).toLocaleString()
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="images">
        <img
          [src]="path + displayArray[0]['image'] + '.png'"
          [alt]="displayArray[0]['alt']"
        />
      </div>
    </div>
  </div>
  <div class="right-content">
    <p class="category-title-second payment-title">Payment method</p>
    <div class="payment-methods">
      <div (click)="paymentMethod = 1" class="method first">
        <div
          [ngClass]="{ 'my-border-color': paymentMethod === 1 }"
          class="border-former"
        ></div>
        <div [ngClass]="{ 'my-border-color': paymentMethod === 1 }" class="dot">
          <div
            [ngClass]="{
              'my-simple-back': paymentMethod === 1,
              active: paymentMethod === 1
            }"
            class="inner-dot"
          ></div>
        </div>
        <p class="category-title-fourth text">Buy with IOI</p>
        <img
          class="single"
          src="/assets/base/images/icons/ioi-big.svg"
          alt="ioi token icon"
        />
      </div>
      <div (click)="paymentMethod = 2" class="method">
        <div
          [ngClass]="{ 'my-border-color': paymentMethod === 2 }"
          class="border-former"
        ></div>
        <div [ngClass]="{ 'my-border-color': paymentMethod === 2 }" class="dot">
          <div
            [ngClass]="{
              'my-simple-back': paymentMethod === 2,
              active: paymentMethod === 2
            }"
            class="inner-dot"
          ></div>
        </div>
        <p class="category-title-fourth text">Buy with Polygon</p>
        <img
          class="single"
          src="/assets/base/images/icons/polygon-big.svg"
          alt="polygon icon"
        />
      </div>
      <!--COMMENTED METAMASK-->
      <!-- <div (click)="paymentMethod = 3" class="method">
        <div
          [ngClass]="{ 'my-border-color': paymentMethod === 3 }"
          class="border-former"
        ></div>
        <div [ngClass]="{ 'my-border-color': paymentMethod === 3 }" class="dot">
          <div
            [ngClass]="{
              'my-simple-back': paymentMethod === 3,
              active: paymentMethod === 3
            }"
            class="inner-dot"
          ></div>
        </div>
        <p class="category-title-fourth text">Buy with Metamask</p>
        <img
          class="single"
          src="/assets/base/images/icons/meta-icon.svg"
          alt="metamask icon"
        />
      </div>-->
      <div (click)="paymentMethod = 4" class="method">
        <div
          [ngClass]="{ 'my-border-color': paymentMethod === 4 }"
          class="border-former"
        ></div>
        <div [ngClass]="{ 'my-border-color': paymentMethod === 4 }" class="dot">
          <div
            [ngClass]="{
              'my-simple-back': paymentMethod === 4,
              active: paymentMethod === 4
            }"
            class="inner-dot"
          ></div>
        </div>
        <p class="category-title-fourth text">Buy on Arkane Market</p>
        <div class="payment-images">
          <img
            src="/assets/base/images/icons/bitpay-icon.svg"
            alt="bitpay icon"
          />
          <img
            class="paypal"
            src="/assets/base/images/icons/paypal-icon.svg"
            alt="paypal icon"
          />
        </div>
      </div>
    </div>
    <div class="payment-buttons">
      <button
        (click)="buyAsset()"
        class="buy my-cta-btn-back category-title-third"
      >
        Buy
      </button>
    </div>
  </div>
</div>
