.content-holder {
  width: 100%;
  .top-heading {
    text-align: center;
    margin: 15px 0 25px;
    font-weight: bold;
    font-size: 35px;
  }
  .flex-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 530px;
    .asset-preview {
      position: relative;
      width: calc(50% - 1px);
      height: 100%;
      .asset-img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-25%);
        img {
          width: 100%;
          max-width: 680px;
        }
      }
      .ability-boxes {
        width: 50%;
        margin-left: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        > div {
          margin: 1%;
          display: flex;
          align-items: center;
          .ability-image {
            width: 80px;
            position: relative;
            button {
              outline: none;
              border: 0;
              width: 80px;
              height: 80px;
              background: #ff183f;
              border-radius: 10px;
              font-style: normal;
              font-weight: 300;
              font-size: 30px;
              line-height: 45px;
              color: #ffffff;
            }
          }
          .ability-type {
            position: relative;
            width: 70%;
            padding: 0 0px 0px 20px;
            h1 {
              font-weight: 600;
              font-size: 20px;
              line-height: 30px;
              margin: 0;
            }
            p {
              margin: 0;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;

              color: #ffffff;

              opacity: 0.6;
            }
          }
        }
      }
      &.car-preview {
        .asset-img {
          margin: 0 auto;
          max-width: 500px;
          position: relative;
          transform: none;
        }
        .car-ability-boxes {
          width: 100%;
          .ability-box {
            width: 100%;
            .heading {
              text-align: center;
              font-size: 16px;
              margin: 10px 0;
            }
            .slider-holder {
              display: flex;
              justify-content: space-between;
              align-items: center;
              p {
                width: 80px;
                margin: 0;
                text-align: center;
              }
              .ab-slider {
                width: calc(100% - 170px);
                border-radius: 5px;
                background: rgba(51, 51, 51, 0.5);
                height: 10px;
                position: relative;
                box-shadow: 0px 1px 3px 0px rgb(255 255 255 / 50%);
                .inner-slider {
                  position: absolute;
                  left: 0;
                  top: 0;
                  height: 100%;
                  border-radius: 5px;
                }
              }
            }
          }
        }
      }
    }
    .divide-line {
      height: 100%;
      width: 1px;
      border-radius: 2px;
      background-color: #e0e0e0;
    }
    .buy-preview {
      width: 50%;
      padding: 0 40px 0 52px;
      .name {
        margin-top: 20px;
        p {
          font-size: 20px;
          margin: 0;
          &.racer-name {
            font-family: True-Lies;
            font-style: normal;
            font-weight: normal;
            font-size: 56px;
          }
        }
      }
      .summary-table {
        margin: 60px 0 20px;
        .summary-item {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 24px;
          p {
            font-size: 20px;
            margin: 0;
            color: #e0e0e0;
            &.value {
              color: white;
              font-weight: 600;
              &.big {
                font-size: 32px;
              }
            }
          }
          .amount-holder {
            display: flex;
            justify-content: center;
            align-items: center;
            .am-btn {
              border: 1px solid #e0e0e0;
              border-radius: 5px;
              width: 25px;
              height: 25px;
              position: relative;
              cursor: pointer;
              &:active {
                transform: translateY(3px);
              }
              &.amount-display {
                width: 50px;
                height: 50px;
                margin: 0 9px;
                cursor: default;
                border-radius: 10px;
                &:active {
                  transform: none;
                }
                p {
                  font-size: 20px;
                  font-weight: 700;
                  top: 51%;
                }
              }
              p {
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
                line-height: 1;
                font-size: 16px;
              }
            }
          }
        }
      }
      .buy-nft {
        width: 49%;
        font-weight: 600;
        font-size: 20px;
        margin-top: 10px;
        border-radius: 10px;
        padding: 15px;
        display: block;
        color: white;
        text-align: center;
        line-height: 1;
        text-decoration: none;
        img {
          width: auto;
          height: 22.5px;
          margin-left: 20px;
        }
      }
      .ioi {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .arkane {
        margin-top: 15px;
        background: white;
        padding: 15px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 15px;

        button {
          margin-left: 5%;
          width: 90%;
          a {
            text-decoration: none;
            color: white;
          }
        }
        .arkane-paypal {
          height: 55px;
          width: 49%;
          border-right: 1px solid #ebebeb;
          position: relative;
          img {
            width: 50%;
            max-width: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
          }
        }
        .arkane-bitpay {
          height: 50px;
          height: auto;
          position: relative;
          width: 49%;
          img {
            width: 40%;
            max-width: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .content-holder {
    .top-heading {
      font-size: 30px;
    }
    .flex-holder {
      height: 480px;
      .asset-preview {
        .ability-boxes {
          width: 53%;
          & > div {
            .ability-image {
              width: 70px;
              button {
                width: 70px;
                height: 70px;
                font-size: 25px;
                img {
                  max-width: 73%;
                }
              }
            }
            .ability-type {
              h1 {
                font-size: 17px;
              }
              p {
                font-size: 15px;
              }
            }
          }
        }
      }
      .buy-preview {
        padding: 20px 25px 0 40px;
        .name {
          p {
            font-size: 18px;
            &.racer-name {
              font-size: 47px;
            }
          }
        }
        .summary-table {
          margin: 40px 0 18px;
          .summary-item {
            margin-bottom: 20px;
            .amount-item {
              margin-bottom: 30px;
            }
            p {
              font-size: 18px;
              &.value.big {
                font-size: 27px;
              }
            }
            .amount-holder {
              .am-btn {
                width: 23px;
                height: 23px;
                p {
                  font-size: 15px;
                  top: 50%;
                }
                &.amount-display {
                  width: 46px;
                  height: 46px;
                  p {
                    font-size: 18px;
                  }
                }
              }
            }
          }
        }
        .buy-nft {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .content-holder {
    .top-heading {
      font-size: 26px;
      margin: 10px 0 20px;
    }
    .flex-holder {
      height: 410px;
      .asset-preview {
        .ability-boxes {
          & > div {
            .ability-image {
              width: 60px;
              button {
                width: 60px;
                height: 60px;
                font-size: 22px;
              }
            }
            .ability-type {
              h1 {
                font-size: 16px;
                line-height: 1.3;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
        &.car-preview {
          .asset-img {
            max-width: 405px;
          }
          .car-ability-boxes {
            .ability-box {
              .heading {
                font-size: 14px;
                margin: 5px 0;
              }
              .slider-holder {
                p {
                  font-size: 15px;
                }
                .ab-slider {
                  height: 7px;
                }
              }
            }
          }
        }
      }
      .buy-preview {
        padding: 20px 20px 0 35px;
        .name {
          p {
            font-size: 17px;
            &.racer-name {
              font-size: 41px;
            }
          }
        }
        .summary-table {
          margin: 33px 0 10px;
          .summary-item {
            margin-bottom: 15px;
            .amount-item {
              margin-bottom: 23px;
            }
            p {
              font-size: 17px;
              &.value.big {
                font-size: 22px;
              }
            }
            .amount-holder {
              .am-btn {
                width: 20px;
                height: 20px;
                p {
                  font-size: 14px;
                }
                &.amount-display {
                  width: 40px;
                  height: 40px;
                  p {
                    font-size: 17px;
                  }
                }
              }
            }
          }
        }
        .buy-nft {
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .content-holder {
    .top-heading {
      font-size: 23px;
    }
    .flex-holder {
      height: 400px;
      .asset-preview {
        .ability-boxes {
          & > div {
            .ability-image {
              width: 50px;
              button {
                width: 50px;
                height: 50px;
                font-size: 20px;
                img {
                  max-width: 83%;
                }
              }
            }
            .ability-type {
              h1 {
                font-size: 15px;
                line-height: 1.3;
              }
              p {
                font-size: 13px;
              }
            }
          }
        }
      }
      .buy-preview {
        padding: 10px 10px 0 25px;
        .name {
          p {
            font-size: 16px;
            &.racer-name {
              font-size: 35px;
            }
          }
        }
        .summary-table {
          margin: 27px 0 5px;
          .summary-item {
            margin-bottom: 13px;
            .amount-item {
              margin-bottom: 20px;
            }
            p {
              font-size: 16px;
              &.value.big {
                font-size: 20px;
              }
            }
            .amount-holder {
              .am-btn {
                width: 20px;
                height: 20px;
                p {
                  font-size: 14px;
                }
                &.amount-display {
                  width: 33px;
                  height: 33px;
                  border-radius: 7px;
                  p {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
        .buy-nft {
          font-size: 16px;
          padding: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .content-holder {
    .flex-holder {
      height: unset;
      flex-wrap: wrap;
      .asset-preview {
        width: 90%;
        max-width: 600px;
        height: 400px;
        .asset-img {
          width: 400px;
          height: unset;
        }
        .ability-boxes {
          & > div {
            .ability-image {
              width: 60px;
              button {
                width: 60px;
                height: 60px;
                font-size: 22px;
              }
            }
            .ability-type {
              h1 {
                font-size: 16px;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
        &.car-preview {
          height: unset;
          margin-bottom: 30px;
          .car-ability-boxes {
            .ability-box {
              .slider-holder {
                .ab-slider {
                  width: calc(100% - 135px);
                }
                p {
                  width: 60px;
                }
              }
            }
          }
        }
      }
      .buy-preview {
        padding: 0;
        width: 90%;
        max-width: 600px;
        .name {
          p {
            font-size: 17px;
            &.racer-name {
              font-size: 40px;
            }
          }
        }
        .summary-table {
          .summary-item {
            margin-bottom: 17px;
            .amount-item {
              margin-bottom: 25px;
            }
            p {
              font-size: 17px;
              &.value.big {
                font-size: 22px;
              }
            }
            .amount-holder {
              .am-btn {
                width: 24px;
                height: 24px;
                p {
                  font-size: 15px;
                }
                &.amount-display {
                  width: 43px;
                  height: 43px;
                  border-radius: 9px;
                  p {
                    font-size: 17px;
                  }
                }
              }
            }
          }
        }
        .buy-nft {
          font-size: 17px;
          padding: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .content-holder {
    .flex-holder {
      .asset-preview {
        width: 100%;
        height: 300px;
        .asset-img {
          width: 300px;
          transform: translateX(-15%);
        }
        .ability-boxes {
          width: 54%;
          & > div {
            .ability-image {
              width: 45px;
              button {
                width: 45px;
                height: 45px;
                font-size: 18px;
              }
            }
            .ability-type {
              padding: 0 0px 0px 10px;
              h1 {
                font-size: 14px;
              }
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .content-holder {
    .flex-holder {
      .asset-preview {
        .asset-img {
          transform: translateX(-20%);
        }
        .ability-boxes {
          width: 52%;
        }
      }
    }
  }
}
