<div class="content-holder">
  <h4 class="top-heading">Order details</h4>
  <div class="flex-holder">
    <div class="asset-preview" *ngIf="assetType === 'racer'">
      <div class="asset-img">
        <img
          class="img"
          [src]="
            '/assets/base/images/nft-racers/' +
            displayArray[0]['image'] +
            '.png'
          "
          alt=""
        />
      </div>
      <div class="ability-boxes">
        <div class="ability-box">
          <div class="ability-image">
            <button class="my-cta-btn-back">
              <img
                src="assets/base/images/market/buy-icon.svg"
                alt="buy icon"
              />
            </button>
          </div>
          <div class="ability-type">
            <h4>{{ displayArray[0]["prize"] }} IOI</h4>
            <p>IOI value</p>
          </div>
        </div>
        <div class="ability-box">
          <div class="ability-image">
            <button class="my-cta-btn-back">
              <img
                src="assets/base/images/market/staking-white.svg"
                alt="staking icon"
              />
            </button>
          </div>
          <div class="ability-type">
            <h4>{{ displayArray[0]["ability1"] }} from invites</h4>
            <p>skill</p>
          </div>
        </div>
        <div class="ability-box">
          <div class="ability-image">
            <button class="my-cta-btn-back">
              <img
                src="assets/base/images/market/staking-white.svg"
                alt="staking icon"
              />
            </button>
          </div>
          <div class="ability-type">
            <h4>{{ displayArray[0]["ability2"] }} from NFTs</h4>
            <p>skill</p>
          </div>
        </div>
        <div *ngIf="displayArray[0]['ability3']" class="ability-box">
          <div class="ability-image">
            <button class="my-cta-btn-back">
              <img
                src="assets/base/images/market/staking-white.svg"
                alt="staking icon"
              />
            </button>
          </div>
          <div class="ability-type">
            <h4>{{ displayArray[0]["ability3"] }}</h4>
            <p>legendary skill</p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="asset-preview car-preview"
      *ngIf="assetType === 'car' || assetType === 'track'"
    >
      <div class="asset-img">
        <img
          class="img"
          [src]="
            '/assets/base/images/nft-cars/' + displayArray[0]['image'] + '.png'
          "
          alt=""
          *ngIf="assetType === 'car'"
        />
        <img
          class="img"
          [src]="'/assets/base/images/' + displayArray[0]['image'] + '.png'"
          alt=""
          *ngIf="assetType === 'track'"
        />
      </div>
      <div class="car-ability-boxes">
        <div class="ability-box">
          <p class="heading">IOI value</p>
          <div class="slider-holder">
            <p>{{ displayArray[0]["prize"] }}</p>
            <div class="ab-slider">
              <div
                class="inner-slider blue-box-shop"
                [ngStyle]="{
                  'width.%': (displayArray[0]['extras'].value * 100) / 15600
                }"
              ></div>
              <div
                class="inner-slider red-box-shop"
                [ngStyle]="{
                  'width.%': (displayArray[0]['extras'].value * 100) / 15600
                }"
              ></div>
            </div>
            <p>15 600</p>
          </div>
        </div>

        <div class="ability-box">
          <p class="heading">IOI daily stake</p>
          <div class="slider-holder">
            <p>{{ displayArray[0]["extras"].stake }}</p>
            <div class="ab-slider">
              <div
                class="inner-slider blue-box-shop"
                [ngStyle]="{
                  'width.%': (displayArray[0]['extras'].stake * 100) / 10.25
                }"
              ></div>
              <div
                class="inner-slider red-box-shop"
                [ngStyle]="{
                  'width.%': (displayArray[0]['extras'].stake * 100) / 10.25
                }"
              ></div>
            </div>
            <p>10.25</p>
          </div>
        </div>

        <div class="ability-box">
          <p class="heading">ROI %</p>
          <div class="slider-holder">
            <p>{{ displayArray[0]["extras"].roi }}%</p>
            <div class="ab-slider">
              <div
                class="inner-slider blue-box-shop"
                [ngStyle]="{
                  'width.%': (displayArray[0]['extras'].roi * 100) / 24
                }"
              ></div>
              <div
                class="inner-slider red-box-shop"
                [ngStyle]="{
                  'width.%': (displayArray[0]['extras'].roi * 100) / 24
                }"
              ></div>
            </div>
            <p>24%</p>
          </div>
        </div>
      </div>
    </div>

    <div class="divide-line"></div>
    <div class="buy-preview">
      <div class="name">
        <p class="racer-name">{{ displayArray[0]["name"] }}</p>
      </div>
      <div class="summary-table">
        <div class="summary-item">
          <p class="desc">Collection</p>
          <p class="value">{{ displayArray[0]["collection"] }}</p>
        </div>
        <div class="summary-item">
          <p class="desc">Price per piece</p>
          <p class="value">
            {{ displayArray[0]["prize"] }} IOI <span>or</span>
            {{
              (displayArray[0]["extras"].value * myDriverBalances.ioi_usdt) /
                myDriverBalances.matic_usdt | number: "1.0-2":"fr"
            }}
            MTC
          </p>
        </div>
        <div class="summary-item amount-item">
          <p class="desc">Amount</p>
          <div class="amount-holder">
            <div class="am-btn minus" (click)="minusAmount()">
              <p>-</p>
            </div>
            <div class="am-btn amount-display">
              <p>{{ amount }}</p>
            </div>
            <div class="am-btn minus" (click)="plusAmount()">
              <p>+</p>
            </div>
          </div>
        </div>
        <div class="summary-item">
          <p class="desc">Subtotal</p>
          <p class="value big">
            {{
              displayArray[0]["extras"].value * amount | number: "1.0-2":"fr"
            }}
            IOI <span>or</span>
            {{
              ((displayArray[0]["extras"].value * myDriverBalances.ioi_usdt) /
                this.myDriverBalances.matic_usdt) *
                amount | number: "1.0-2":"fr"
            }}
            MTC
          </p>
        </div>
      </div>
      <div class="ioi">
        <!-- CAR BUTTONS -->
        <button
          class="buy-nft my-cta-btn-back hoverable"
          *ngIf="
            (assetType === 'car' || assetType === 'racer') &&
            !displayArray[0]['rare'] &&
            myDriverBalances?.game_wallet_ioi * amount >= displayArray[0]['extras'].value
          "
          (click)="
            tokenSelected = 'ioi';
            buyCarFromGarage(displayArray[0]['extras'].buy_id)
          "
        >
          Buy with IOI
        </button>

        <button
          class="buy-nft my-cta-btn-back hoverable"
          *ngIf="
            (assetType === 'car' || assetType === 'racer') &&
            !displayArray[0]['rare'] &&
            myDriverBalances?.game_wallet_ioi * amount < displayArray[0]['extras'].value
          "
          (click)="lowBalance()"
          [routerLink]="['/other/wallet-control']"
          [queryParams]="{ controlType: 'deposit' }"
        >
          Buy with IOI
        </button>

        <button
          class="buy-nft my-cta-btn-back hoverable"
          *ngIf="
            (assetType === 'car' || assetType === 'racer') &&
            !displayArray[0]['rare'] && 
            ((displayArray[0]['extras'].value * myDriverBalances.ioi_usdt) / myDriverBalances?.matic_usdt * amount) <= myDriverBalances?.game_wallet_matic"
          (click)="
            tokenSelected = 'matic';
            buyCarFromGarage(displayArray[0]['extras'].buy_id)
          "
        >
          Buy with Polygon
        </button>

        <button
          class="buy-nft my-cta-btn-back hoverable"
          *ngIf="
            (assetType === 'car' || assetType === 'racer') &&
            !displayArray[0]['rare'] &&
            ((displayArray[0]['extras'].value * myDriverBalances.ioi_usdt) / myDriverBalances?.matic_usdt * amount) > myDriverBalances?.game_wallet_matic
          "
          (click)="lowBalance()"
          [routerLink]="['/other/wallet-control']"
          [queryParams]="{ controlType: 'deposit' }"
        >
          Buy with Polygon
        </button>

        <button
          class="buy-nft my-cta-btn-back hoverable"
          *ngIf="assetType !== 'car' && assetType !== 'racer'"
        >
          Buy with IOI
        </button>
        <button
          class="buy-nft my-cta-btn-back"
          *ngIf="assetType === 'car' && displayArray[0]['rare']"
        >
          Not available
        </button>
      </div>
      <div
        class="arkane"
        *ngIf="
          (assetType === 'car' || assetType === 'racer') &&
          !displayArray[0]['rare']
        "
      >
        <div class="arkane-paypal">
          <img src="assets/base/images/paypal.png" alt="paypal logo" />
        </div>
        <div class="arkane-bitpay">
          <img src="assets/base/images/bitpay.png" alt="bitpay logo" />
        </div>

        <a
          class="buy-nft my-cta-btn-back hoverable"
          href="https://arkane.market/search?contractName=Trade%20Race%20Manager%20by%20IOI"
          target="_blank"
        >
          Buy on Arkane market
        </a>
      </div>
    </div>
  </div>
</div>
