
<div class="main-cont">

  <div class="race-menu">
    <img class="menu-logo" src="/assets/base/images/binary-race/binary-logo.png" alt="" [routerLink]="['/race/start-race']">
    <div class="mobile-handler" [ngClass]="{'mobile-open': menuOpen === true}">
  
      <div class="overview">
        <div
            class="overview-item"
          >
            <div class="bubble-holder">
              <img
                src="/assets/base/images/polygon-logo.png"
                alt=""
              />
            </div>
            <div class="value-box">
              <p class="number">
                {{ myDriverBalances?.game_wallet_matic | number: "1.2-2":"fr" }}

              </p>
              <p class="add">+</p>
            </div>
          </div>
          <div
            class="overview-item"
          >
            <div class="bubble-holder ioi">
              <img src="/assets/base/images/ioi-logo-small.png" alt="" />
            </div>
            <div class="value-box">
              <p class="number">
                {{ myDriverBalances?.game_wallet_ioi | number: "1.2-2":"fr" }}
              </p>
              <p class="add">+</p>
            </div>
          </div>
          <div class="overview-item profile-cont">
            <div class="bubble-holder profile">
              <img
                [src]="
                  'assets/base/images/avatars/avatar' +
                  affiliate?.affiliate_level +
                  '-small.png'
                "
                alt=""
              />
            </div>
            <div class="value-box">
              <p>{{ myDriverStats?.nickname }}</p>
            </div>
          </div>

          <div class="switch-btn">
            <img src="/assets/base/images/zavod/sound-icon.svg" alt="icon of sound">
          </div>
          <div class="switch-btn">
            <img src="/assets/base/images/zavod/info-icon.svg" alt="">
          </div>

        <div
          class="my-mobile-button"
          (click)="menuOpen = !menuOpen"
          [ngClass]="{ open: menuOpen === true }"
        >
          <span class="my-cta-btn-back"></span>
          <span class="my-cta-btn-back"></span>
          <span class="my-cta-btn-back"></span>
          <span class="my-cta-btn-back"></span>
        </div>
      </div>

      <!-- <div class="right-items">
        <div class="switch-btn">
          <img src="/assets/base/images/zavod/sound-icon.svg" alt="icon of sound">
        </div>
        <div class="switch-btn">
          <img src="/assets/base/images/zavod/info-icon.svg" alt="">
        </div>
      </div> -->

      <!-- <div class="center-items">
        <div class="small-box">
          <img src="/assets/base/images/binary-race/win-icon.svg" alt="">
          <p>Potential win: 1.6 IOI</p>
        </div>
        <div class="small-box">
          <img src="/assets/base/images/binary-race/balance-icon.svg" alt="">
          <p>Balance: {{balance}} IOI</p>
        </div>
        <button class="quit-btn"  [routerLink]="['/race/start-race']">Quit game</button>
      </div> -->

    </div>

    <div
      class="my-mobile-button"
      (click)="menuOpen = !menuOpen"
      [ngClass]="{ open: menuOpen === true }"
    >
      <span class="my-cta-btn-back"></span>
      <span class="my-cta-btn-back"></span>
      <span class="my-cta-btn-back"></span>
      <span class="my-cta-btn-back"></span>
    </div>

  </div>

  <div class="left-msg my-msg" [ngClass]="{'animating': animatingLmsg === true}">
    <p class="small">{{ leftMsgSmall }}</p>
    <p>{{ leftMsgBig }}</p>
  </div>
  <div class="right-msg my-msg" [ngClass]="{'animating': animatingRmsg === true}">
    <p class="small">{{ rightMsgSmall }}</p>
    <p>{{ rightMsgBig }}</p>
  </div>

  <div *ngIf="unityEnabled === true && players?.length > 0" class="unity-holder">

    <app-unityrace [enabled]="unityEnabled" [players]="players" #unityRace style="width: 100%; 
          height: 100%;
          position: relative;
          background: black;
          z-index: 1;" >
    </app-unityrace> 
  </div>
  <div class="content-holder">
    <div class="mobile-avatars" (click)="animateWinnerAvatars = !animateWinnerAvatars" [ngClass]="{'show-gif': animateWinnerAvatars === true}" *ngIf="players?.length > 0 && racers?.length > 0">
      <div class="avatar-box">
        <img [src]="'/assets/base/images/nft-racers/' + racers[players[0]?.user_id - 1]?.image + '.png'" alt="">
        <img class="gifko" [src]="'/assets/base/images/nft-racers/' + racers[players[0]?.user_id - 1]?.gif + '.gif'" alt="">
      </div>
      <div class="avatar-box rival">
        <img [src]="'/assets/base/images/nft-racers/' + racers[players[1]?.user_id - 1]?.image + '.png'" alt="">
        <img class="gifko" [src]="'/assets/base/images/nft-racers/' + racers[players[1]?.user_id - 1]?.gif + '.gif'" alt="">
      </div>
    </div>
    <div class="chart-holder">

      <div class="win-box">
        <div class="inner-box">
          <img src="/assets/base/images/teams/reward-token.png" alt="" class="reward-badge">
          <p>1.6 IOI</p>
          <p class="desc">Potential win</p>
        </div>
      </div>

      <div class="react-controls" *ngIf="mePlaying === true">
        <p>React!</p>
        <div class="control-btns">
          <button class="react-btn" (click)="sendSockAvatarMsg({'user_hash': myId, 'reaction': 2});avatarMsgLocal({user_hash: myId, reaction: 2})" [disabled]="locked === true">
            <div class="inner">
              <img src="/assets/base/images/binary-race/react-possitive.svg" alt="">
            </div>
          </button>
  
          <button class="react-btn" (click)="sendSockAvatarMsg({'user_hash': myId, 'reaction': 3});avatarMsgLocal({user_hash: myId, reaction: 3})" [disabled]="locked === true">
            <div class="inner">
              <img src="/assets/base/images/binary-race/react-negative.svg" alt="">
            </div>
          </button>
  
          <button class="react-btn" (click)="sendSockAvatarMsg({'user_hash': myId, 'reaction': 4});avatarMsgLocal({user_hash: myId, reaction: 4})" [disabled]="locked === true">
            <div class="inner">
              <img src="/assets/base/images/binary-race/react-diss.svg" alt="">
            </div>
          </button>
              </div>

        <div class="conv-box">
          <p>BTC/USD</p>
        </div>
      </div>
      <div id="container">

      </div>
      <canvas id="canvas"  [hidden]="showChart === false">

      </canvas>

      
      <div class="timer-count" *ngIf="optWaiting !== 0">

        <div class="tc-wrap">
          <app-timer [value]="10" (onComplete)="optTimerCompleted($event)"></app-timer>        </div>
      </div>

      <div class="semafor-wrap visible"  *ngIf="semaforsVisible === true">

        <div class="semafor-inner">
          <div class="color-box">
            <p class="desc">Race starts in</p>
            <p class="time" *ngIf="startsInSecs > 6 && semaforVal > 5"><app-timer [value]="startsInSecs"></app-timer></p>
            <p class="time" *ngIf="semaforVal > 1 && semaforVal < 6">{{semaforVal - 1}}s</p>
            <p class="time" *ngIf="semaforVal < 2">GO!</p>
          </div>

          <div class="circles-holder">
            <div class="semaf" [ngClass]="{'red': semaforVal < 6 && semaforVal > 1, 'green': semaforVal < 2}"></div>
            <div class="semaf" [ngClass]="{'red': semaforVal < 5 && semaforVal > 1, 'green': semaforVal < 2}"></div>
            <div class="semaf" [ngClass]="{'red': semaforVal < 4 && semaforVal > 1, 'green': semaforVal < 2}"></div>
            <div class="semaf" [ngClass]="{'red': semaforVal < 3 && semaforVal > 1, 'green': semaforVal < 2}"></div>
            <div class="semaf" [ngClass]="{'green': semaforVal < 2}"></div>
          </div>
      
        </div>
      </div>

    </div>

    <div class="control-panel" *ngIf="players?.length > 0">
      <div class="player-stats mine">
        <p class="name">{{players[0]?.user_nickname}}</p>

        <div class="targets-holder">
          <div class="target-item" [ngClass]="{okey: myShots[0] === 1, wrong: myShots[0] === -1 }">
            <img src="/assets/base/images/binary-race/okey.svg" alt="" class="okey">
            <img src="/assets/base/images/binary-race/wrong.svg" alt="" class="wrong">
          </div>
          <div class="target-item" [ngClass]="{okey: myShots[1] === 1, wrong: myShots[1] === -1 }">
            <img src="/assets/base/images/binary-race/okey.svg" alt="" class="okey">
            <img src="/assets/base/images/binary-race/wrong.svg" alt="" class="wrong">
          </div>
          <div class="target-item" [ngClass]="{okey: myShots[2] === 1, wrong: myShots[2] === -1 }">
            <img src="/assets/base/images/binary-race/okey.svg" alt="" class="okey">
            <img src="/assets/base/images/binary-race/wrong.svg" alt="" class="wrong">
          </div>
          <div class="target-item" [ngClass]="{okey: myShots[3] === 1, wrong: myShots[3] === -1 }">
            <img src="/assets/base/images/binary-race/okey.svg" alt="" class="okey">
            <img src="/assets/base/images/binary-race/wrong.svg" alt="" class="wrong">
          </div>
          <div class="target-item" [ngClass]="{okey: myShots[4] === 1, wrong: myShots[4] === -1 }">
            <img src="/assets/base/images/binary-race/okey.svg" alt="" class="okey">
            <img src="/assets/base/images/binary-race/wrong.svg" alt="" class="wrong">
          </div>
          <div class="target-item" [ngClass]="{okey: myShots[5] === 1, wrong: myShots[5] === -1 }">
            <img src="/assets/base/images/binary-race/okey.svg" alt="" class="okey">
            <img src="/assets/base/images/binary-race/wrong.svg" alt="" class="wrong">
          </div>
          
        </div>

        <div class="my-progress">
          <div class="inner-bar"></div>
        </div>

        <p class="percent" *ngIf="roileft">{{roileft}}%</p>

      </div>

      <div class="player-controls">
        <button class="control-btn down" (click)="long = false;placeOption();" [disabled]="canBet === false">
          <img src="/assets/base/images/binary-race/down-icon.svg" alt="">
        </button>
        <div class="data-box bordered">
          <img src="/assets/base/images/binary-race/btc-logo.svg" alt="">
        
          <p *ngIf="currentValue; else loading" [ngClass]="colorUp === true ? 'colorup' : 'colordown'">
            &#36; {{currentValue}}
              </p>
          5
          <ng-template #loading>
            <p>Loading</p>
          </ng-template>
        </div>
        <div class="data-box">
          <img src="/assets/base/images/binary-race/time-icon.svg" alt="">
          <p class="bin-trade" *ngIf="endVal && raceStarted === true">
            <app-timer [value]="endVal"></app-timer> sec
          </p>
          <p class="bin-trade" *ngIf="endVal && raceStarted === false">
            60 sec
          </p>
        </div>
        <button class="control-btn up" (click)="long = true;placeOption();" [disabled]="canBet === false">
          <img src="/assets/base/images/binary-race/up-icon.svg" alt="">
        </button>
      </div>

      <div class="player-stats rival">
        <p class="name">{{players[1]?.user_nickname}}</p>

        <div class="targets-holder">
          <div class="target-item" [ngClass]="{okey: oponentShots[0] === 1, wrong: oponentShots[0] === -1 }">
            <img src="/assets/base/images/binary-race/okey.svg" alt="" class="okey">
            <img src="/assets/base/images/binary-race/wrong.svg" alt="" class="wrong">
          </div>
           <div class="target-item" [ngClass]="{okey: oponentShots[1] === 1, wrong: oponentShots[1] === -1 }">
            <img src="/assets/base/images/binary-race/okey.svg" alt="" class="okey">
            <img src="/assets/base/images/binary-race/wrong.svg" alt="" class="wrong">
          </div>
           <div class="target-item" [ngClass]="{okey: oponentShots[2] === 1, wrong: oponentShots[2] === -1 }">
            <img src="/assets/base/images/binary-race/okey.svg" alt="" class="okey">
            <img src="/assets/base/images/binary-race/wrong.svg" alt="" class="wrong">
          </div>
           <div class="target-item" [ngClass]="{okey: oponentShots[3] === 1, wrong: oponentShots[3] === -1 }">
            <img src="/assets/base/images/binary-race/okey.svg" alt="" class="okey">
            <img src="/assets/base/images/binary-race/wrong.svg" alt="" class="wrong">
          </div>
           <div class="target-item" [ngClass]="{okey: oponentShots[4] === 1, wrong: oponentShots[4] === -1 }">
            <img src="/assets/base/images/binary-race/okey.svg" alt="" class="okey">
            <img src="/assets/base/images/binary-race/wrong.svg" alt="" class="wrong">
          </div>
           <div class="target-item" [ngClass]="{okey: oponentShots[5] === 1, wrong: oponentShots[5] === -1 }">
            <img src="/assets/base/images/binary-race/okey.svg" alt="" class="okey">
            <img src="/assets/base/images/binary-race/wrong.svg" alt="" class="wrong">
          </div>
          
        </div>

        <div class="my-progress">
          <div class="inner-bar"></div>
        </div>

        <p class="percent" *ngIf="roiright">{{roiright}}%</p>

      </div>

    </div>

  </div>
<div  *ngIf="raceEnded === true && winner && loser && meWon" >
<app-binary-winner (fatality)="fatality()" [winner]="winner" [loser]="loser" [meWon]="meWon"></app-binary-winner> 
</div>
</div>
<div style="visibility: hidden;">
  <audio #optionPlaced controls>
    <source src='/assets/sound/option_placed.mp3' type="audio/mp3">
</audio>
  <audio #oponentOptionPlaced controls>
    <source src='/assets/sound/option_placed2.mp3' type="audio/mp3">
</audio>
  <audio #optionWin controls>
    <source src='/assets/sound/option_closed_win.mp3' type="audio/mp3">
</audio>
  <audio #optionWinOponent controls>
    <source src='/assets/sound/option_closed_win2.mp3' type="audio/mp3">
</audio>
  <audio #optionLoose controls>
    <source src='/assets/sound/option_closed_loose.mp3' type="audio/mp3">
</audio>
  <audio #optionLooseOponent controls>
    <source src='/assets/sound/option_closed_loose2.mp3' type="audio/mp3">
</audio>
  <audio #meLoose controls>
    <source src='/assets/sound/loose.mp3' type="audio/mp3">
</audio>
  <audio #meWin controls>
    <source src='/assets/sound/win.mp3' type="audio/mp3">
</audio>
  <audio #optionsStart controls>
    <source src='/assets/sound/versus.mp3' type="audio/mp3">
</audio>

</div>
<div class="emoticons-box" [hidden]="emojiCounter === 0 || !emoji">
  <div class="emoti1" [hidden]="emojiCounter < 1" [ngClass]="emojiCounter > 0 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti2" [hidden]="emojiCounter < 2" [ngClass]="emojiCounter > 1 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti3" [hidden]="emojiCounter < 3" [ngClass]="emojiCounter > 2 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti4" [hidden]="emojiCounter < 4" [ngClass]="emojiCounter > 3 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti5" [hidden]="emojiCounter < 5" [ngClass]="emojiCounter > 4 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti6" [hidden]="emojiCounter < 6" [ngClass]="emojiCounter > 5 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti7" [hidden]="emojiCounter < 7" [ngClass]="emojiCounter > 6 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti8" [hidden]="emojiCounter < 8" [ngClass]="emojiCounter > 7 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti9" [hidden]="emojiCounter < 9" [ngClass]="emojiCounter > 8 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti10" [hidden]="emojiCounter < 10" [ngClass]="emojiCounter > 9 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti11" [hidden]="emojiCounter < 11" [ngClass]="emojiCounter > 10 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti12" [hidden]="emojiCounter < 12" [ngClass]="emojiCounter > 11 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti13" [hidden]="emojiCounter < 13" [ngClass]="emojiCounter > 12 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti14" [hidden]="emojiCounter < 14" [ngClass]="emojiCounter > 13 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti15" [hidden]="emojiCounter < 15" [ngClass]="emojiCounter > 14 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti16" [hidden]="emojiCounter < 16" [ngClass]="emojiCounter > 15 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti17" [hidden]="emojiCounter < 17" [ngClass]="emojiCounter > 16 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti18" [hidden]="emojiCounter < 18" [ngClass]="emojiCounter > 17 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti19" [hidden]="emojiCounter < 19" [ngClass]="emojiCounter > 18 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
  <div class="emoti20" [hidden]="emojiCounter < 20" [ngClass]="emojiCounter > 19 ? 'open' : null"><img [src]="'/assets/base/images/emoticons/' + emoji + '.png'"></div>
</div>