

<div class="chat-cont">
  <div class="info-panel">
    <p class="desc">Team chat <span class="my-text-color">{{ myTeam.me.team_name }}</span></p>
    <p class="players-num my-text-color">
      <img  [src]="'assets/base/images/avatars/avatar'+Affilate.affiliate_level+'-small.png'" alt="My affiliate level avatar">
    </p>
    <!-- online {{chatList?.length}} -->
  </div>
  <div class="msgs-cont">
    <div class="my-flex" *ngIf="chatList?.length > 0">
      <ng-container *ngFor="let msg of chatList | orderBy: 'created':reverse">
        <div class="message-item" [ngClass]="msg?.message?.author_id === myDriver ? 'my-msg' : 'not-my'">
          <div class="img-holder">
            <img [src]="'assets/base/images/avatars/avatar' + msg?.message?.affiliate_level + '-small.png'" alt="">
          </div>
          <div class="message">
            <div class="name">
              <p class="username">{{msg?.user_nickname}}</p>
              <p class="date">{{msg?.created | date: "shortTime"}}</p>
            </div>
            <div class="message-text">
              <div class="inner-msg-text">
                <p>{{msg?.message?.content}}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

  </div>

  <div class="texting-cont"><small style="font-size: 9px;
    padding-right: 5px;
    position: absolute;
    top: -13px;color:#333;">{{chatInput.length}}/140</small>
    <form (ngSubmit)="postChat()">
      <input name="message" cols="1" rows="2" class="chat-input msg" [(ngModel)]="chatInput" [ngModelOptions]="{standalone: true}"
        maxlength="140" placeholder="Your message">
      <div (click)="postChat()" class="send-btn my-cta-btn-back">
        <p>&gt;</p>
      </div>
    </form>
  </div>

</div>
