

<div class="main-holder">
  <div class="top-info"> 
    <div class="back" [routerLink]="['/race/start-race']">
      <p class="arrow">&lt;</p>
      <p class="text">{{'shared.back' | translate}}</p>
    </div>
    <div class="text-info">
      <h1 *ngIf="controlType === 'deposit'">Manage funds</h1>
      <h1 *ngIf="controlType === 'withdraw'">Withdraw funds</h1>
      <h1 *ngIf="controlType === 'transfer'">Transfer funds</h1>
      <div class="my-menu">
        <div class="menu-item my-cta-btn-back" 
        [ngClass]="{'inactive': controlType !== 'deposit'}"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'deposit' }">
          <p>Deposit</p>
        </div>
        <div class="menu-item my-cta-btn-back" 
        [ngClass]="{'inactive': controlType !== 'withdraw'}"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'withdraw' }">
          <p>Withdraw</p>
        </div>
        <div class="menu-item my-cta-btn-back" 
        [ngClass]="{'inactive': controlType !== 'transfer'}"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'transfer' }">
          <p>Transfer</p>
        </div>
      </div>
    </div>

    <div class="info-box">
      <div class="text-holder">
        <p class="value">{{accountValue | number:'1.0-2':'fr'}} &#36;</p>
        <p class="desc">current account value</p>
      </div>
    </div>
  </div>

  <div class="content-holder">
    <ng-container *ngIf="controlType === 'deposit'">
      <app-quick-deposit></app-quick-deposit>
    </ng-container>
  
    <ng-container *ngIf="controlType === 'withdraw'">
      <app-quick-withdraw></app-quick-withdraw>
    </ng-container>
  
    <ng-container *ngIf="controlType === 'transfer'">
      <app-quick-transfer></app-quick-transfer>
    </ng-container>
  </div>
  
  

</div>