<div class="main-holder">
  <div class="page-info"> 
      <div class="back" [routerLink]="['/teams/join-teams']">
        <p>&lt;</p>
      <p>{{'shared.back' | translate}}</p>
      </div>
      <div class="text-info">
      <h1>{{'owners_managers.page_heading' | translate}}</h1>
      <p>{{'owners_managers.page_info' | translate}}</p>
      </div>
      <div class="bonus-info">
      <h5>{{ioioreward | number:'1.2-2':'fr'}} <img src="assets/base/images/tokens/ioi-logo.png" alt=""></h5>
      <p>{{'teams.shared.current_team_bonus' | translate}}</p>
      </div>
  </div>

  <div class="team-menu">
      <div class="menu-desc">
          <p class="join-team" [routerLink]="['/teams/join-teams']">{{'teams.shared.join' | translate}}</p>
          <p class="owners-managers active" [routerLink]="['/teams/owners-managers']">{{'teams.shared.owners_managers' | translate}}</p>
          <p class="join-team" [routerLink]="['/teams/my-team']">{{'teams.shared.my_team' | translate}}</p>
      </div>
      <div class="menu-line">
          <div class="inner-line my-cta-btn-back">&nbsp;</div>
      </div>
  </div>

  <div class="box-container">
    <div class="box-owner box">
      <h3>{{'owners_managers.owner-heading' | translate}}</h3>
      <p><img src="/assets/base/images/owners-managers/suitcase-red.png" alt="">{{'owners_managers.owner-benefit1' | translate}}</p>
      <p> <img src="/assets/base/images/owners-managers/premium-red.png" alt="">{{'owners_managers.owner-benefit2' | translate}}</p>
      <p><img src="/assets/base/images/owners-managers/trophy-red.png" alt="">{{'owners_managers.owner-benefit3' | translate}}</p>
      <div class="statement">
        <span>
          {{'owners_managers.owner-statement' | translate}}
        </span>
      </div>
      <div class="button-holder" (click)="scrollToView(myscroll)">
        <button class="button" (click)="OwnerManagerType!='owner'?OwnerManagerType='owner':OwnerManagerType='home'">
          {{'owners_managers.owner-button' | translate}}
        </button>
      </div>
    </div>
    
    <div class="box-manager box">
      <h3>{{'owners_managers.manager-heading' | translate}}</h3>
      <p><img src="/assets/base/images/owners-managers/suitcase-blue.png" alt="">{{'owners_managers.manager-benefit1' | translate}}</p>
      <p> <img src="/assets/base/images/owners-managers/premium-blue.png" alt="">{{'owners_managers.manager-benefit2' | translate}}</p>
      <p><img src="/assets/base/images/owners-managers/group-blue.png" alt="">{{'owners_managers.manager-benefit3' | translate}}</p>
      <div class="statement">
        <span>
          {{'owners_managers.manager-statement' | translate}}
        </span>
      </div>
      <div class="button-holder"(click)="scrollToView(myscroll)">
        <button class="button" (click)="OwnerManagerType!='manager'?OwnerManagerType='manager':OwnerManagerType='home'" >
          {{'owners_managers.manager-button' | translate}}
        </button>
      </div>
    </div>
  </div>

  <div>
    <div #myscroll></div> 
    <div *ngIf="OwnerManagerType=='owner'">
      <app-owner></app-owner>
    </div>

    <div *ngIf="OwnerManagerType=='manager'">
      <app-manager></app-manager>
    </div>
  </div>

</div>
