.space {
  margin-top: 50px;
}
.bold {
  font-weight: bold !important;
}
.category-title-first {
  z-index: 1;
  font-family: Earth Orbiter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 32px;
  text-align: center;
}
.main-holder {
  position: relative;
  width: calc(100% - 40px);
  height: calc(100vh - 80px);
  padding: 40px 0px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  font-size: 16px;
  line-height: 24px;
}
.hidden {
  pointer-events: none !important;
  opacity: 0 !important;
}
.side-avatars {
  pointer-events: none;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  img {
    &.left-avatar {
      position: absolute;
      max-width: unset;
      height: 100%;
      width: auto;
      bottom: -7%;
      left: -13%;
    }
    &.right-avatar {
      position: absolute;
      max-width: unset;
      height: 100%;
      width: auto;
      bottom: -7%;
      right: -13%;
    }
  }
}
.owners-managers-holder {
  width: 100%;
  .box-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .box-heading {
      font-weight: 700;
      font-size: 34px;
      margin: 0 0 50px;
      font-family: Earth Orbiter;
      text-align: center;
    }
    .box-owner {
      .statement {
        border: 1px solid #fe183f;
        background: transparent;
      }
    }
    .box-manager {
      .statement {
        border: 1px solid #00d1ff;
        background: transparent;
      }
      .text-holder {
        p {
          text-align: right;
          justify-content: flex-end;
          img {
            margin: 12px 0px 12px 20px;
          }
        }
      }
    }
    .box-holder {
      transition: 0.3s;
      width: 50%;
      &.owner {
        background: linear-gradient(
          0deg,
          rgba(255, 32, 69, 0.7) -150%,
          rgba(0, 0, 0, 0) 100%
        );
      }
      &.manager {
        background: linear-gradient(
          0deg,
          rgba(28, 255, 255, 0.7) -150%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .text-holder {
        z-index: 1;
        width: 90%;
      }
      > p {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.1);
        }
        &.last {
          &::after {
            content: none;
          }
        }
      }
      p {
        margin-bottom: 0;
        height: 56px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          margin: 12px 20px 12px 0;
          width: 40px;
          height: 40px;
        }
      }
      .statement {
        margin-top: 30px;
        text-align: center;
        width: 80%;
        span {
          padding: 13px 0;
          display: block;
          width: 100%;
          height: 100%;
          background: transparent;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #23ffff;
        }
      }
      .button-holder {
        width: 100%;
        padding: 30px 0 0px;
        .button {
          border: none;
          transition: 0.2s;
          background: linear-gradient(
            236.12deg,
            #00f0ff 6%,
            #0098d9 102.68%,
            #0098d9 102.68%
          );
          padding: 20px;
          color: white;
          margin: auto;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #ffffff;
          width: 100%;
        }
        .button:hover {
          box-shadow: (0px 0px 15px rgba(255, 255, 255, 0.9));
        }
      }
    }
    .box-owner {
      .statement {
        span {
          color: #fe183f;
        }
      }
      .button-holder {
        .button {
          background: linear-gradient(
            238.54deg,
            #fe173f -1.25%,
            #950552 100.91%
          );
        }
      }
    }
  }
}

@media screen and (max-width: 1850px) {
  .owners-managers-holder {
    .box-container {
      .box-manager {
        .text-holder {
          p {
            img {
              margin-left: 10px;
            }
          }
        }
      }
      .box {
        p {
          font-size: 14px;
          img {
            width: 35px;
            height: 35px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1700px) {
  .space {
    margin-top: 40px;
  }
  .category-title-first {
    font-size: 28px;
    line-height: 30px;
  }
  .main-holder {
    width: calc(100% - 20px);
    height: calc(100vh - 80px);
    padding: 30px 0px 30px 20px;
  }
  .owners-managers-holder {
    .box-container {
      .box-heading {
        font-size: 25px;
        margin: 0 0 24px;
      }
      .box {
        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .space {
    margin-top: 35px;
  }
  .category-title-first {
    font-size: 20px;
    line-height: 22px;
  }
  p {
    font-size: 12px;
  }
  .main-holder {
    width: calc(100% - 15px);
    height: calc(100vh - 65px);
    padding: 20px 0px 22px 15px;
  }

  .owners-managers-holder {
    .box-container {
      .box-manager {
        .text-holder {
          p {
            img {
              margin-top: 10px;
              margin-bottom: 10px;
            }
          }
        }
      }
      .box-heading {
        font-size: 22px;
        margin: 0 0 18px;
      }
      .box {
        h3 {
          margin-bottom: 10px;
        }
        p {
          img {
            width: 25px;
            height: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
        .statement {
          margin-top: 20px;
          span {
            font-size: 14px;
            padding: 10px 0;
          }
        }
        .button-holder {
          padding: 20px 0 0px;
          .button {
            padding: 10px;
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .space {
    margin-top: 30px;
  }
  .category-title-first {
    font-size: 18px;
    line-height: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .space {
    margin-top: 25px;
  }
  .category-title-first {
    font-size: 20px;
    line-height: 22px;
  }
  .main-holder {
    width: calc(100%);
    padding: 20px 15px 22px 15px;
  }
  .owners-managers-holder {
    .box-container {
      .box {
        .statement {
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .main-holder {
    padding: 15px 15px 15px 15px;
  }
  .owners-managers-holder {
    .box-container {
      .box {
        .statement {
          span {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .side-avatars {
    display: none;
  }
  .main-holder {
    width: calc(100% - 15px);
    padding: 15px 0px 15px 15px;
  }
  .owners-managers-holder {
    .box-container {
      width: 90%;
      .box-owner {
        p:first-of-type {
          margin-bottom: 0px;
        }
      }
    }
    &.manager {
      position: relative;
      top: 0;
      transform: none;
      height: auto;
    }
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .main-holder {
    width: calc(100% - 15px);
    padding: 15px 0px 15px 15px;
    height: calc(100vh - 130px);
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .space {
    margin-top: 30px;
  }
  .category-title-first {
    font-size: 18px;
    line-height: 20px;
  }
  .main-holder {
    height: calc(100vh - 45px);
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .space {
    margin-top: 20px;
  }
  .category-title-first {
    font-size: 15px;
    line-height: 17px;
  }
  .main-holder {
    height: calc(100vh - 40px);
    width: calc(100% - 10px);
    padding: 5px 0px 5px 10px;
  }
  .owners-managers-holder {
    height: 100%;
    transform: none;
    position: relative;
    top: 0;
    .box-container {
      .box-heading {
        font-size: 16px;
        margin: 0 0 7px;
      }
      .box {
        p {
          font-size: 10px;
          line-height: 1.2;
          height: 30px;
          img {
            width: 20px;
            height: 20px;
          }
        }
        .statement {
          span {
            padding: 5px 0;
            font-size: 11px;
          }
        }
        .button-holder {
          padding: 15px 0 0px;
          .button {
            padding: 6px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 640) and (orientation: landscape) {
  .space {
    margin-top: 5px;
  }
  .category-title-first {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (max-width: 732px) and (orientation: portrait) {
  .owners-managers-holder {
    .box-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .box-holder {
        width: 100%;
      }
      .box {
        width: 100%;
        margin-bottom: 60px;
        h3 {
          margin-bottom: 20px;
        }
      }
      .box-manager {
        p:first-of-type {
          margin-bottom: 0px;
        }
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .main-holder {
    width: calc(100% - 10px);
    height: unset;
    padding: 10px 0px 0px 10px;
  }
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  .owners-managers-holder {
    position: relative;
    top: 0;
    transform: none;
    .box-container {
      .box-heading {
        font-size: 13px;
        margin: 0 0 2px;
      }
      .box {
        p {
          font-size: 8px;
          height: 30px;
          img {
            width: 18px;
            height: 18px;
          }
        }
        .statement {
          span {
            padding: 3px 0;
            font-size: 8px;
          }
        }
        .button-holder {
          padding: 12px 0 0px;
          .button {
            padding: 2px;
            font-size: 10px;
          }
        }
      }
    }
  }
}

.content-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 80px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  .clickers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    cursor: pointer;
  }
  img {
    width: 21px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.09em;
    font-family: "Earth Orbiter";
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

@media screen and(max-width: 1700px) {
  .content-title {
    img {
      width: 17px;
    }
    p {
      font-size: 26px;
    }
  }
}
@media screen and(max-width: 1550px) {
  .content-title {
    height: 65px;
    img {
      width: 15px;
    }
    p {
      font-size: 22px;
    }
  }
}
@media screen and(max-width: 1024px) {
  .content-title {
    img {
      width: 13px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content-title {
    height: 40px;
  }
}
@media screen and(max-width: 700px) and (orientation: landscape) {
  .content-title {
    img {
      width: 8.5px;
    }
    p {
      font-size: 9px;
      margin-left: 5px;
    }
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .content-title {
    img {
      width: 10px;
    }
    p {
      font-size: 17px;
    }
  }
}
