.main-holder{
    width: calc(100% - 457px);
    padding-left: 40px;
  }
  
p{
    font-size: 16px;
    line-height: 24px;
}
h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}
.page-info{
  margin: 30px 0;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .back{
      cursor: pointer;
      transition: .2s;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      text-align: center;
      min-height: 132px;
      background: linear-gradient(0deg, #111111, #111111);
      box-shadow: 0px 0px 80px #000000;
      border-radius: 20px;
      p{
          line-height: 20px;
          margin-bottom: 22px;
      }
  }
  .back:hover{
      transform: scale(1.1);
  }
  .text-info{
      max-width: 812px;
      margin: 0 20px;
  }
  .bonus-info{
      width: 448px;
      background: linear-gradient(0deg, #111111, #111111);
      box-shadow: 0px 0px 80px #000000;
      border-radius: 20px;
      min-height: 132px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      p{
          color: rgba(255, 255, 255, .4);
      }
  }
}
  .team-menu{
    width: 100%;
    .menu-desc{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      p{
        margin: 0;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
        display: block;
        width: 50%;
        padding-bottom: 15px;
        cursor: pointer;
        text-transform: uppercase;
      }
      .active{
        font-weight: 600;
      }
    }
    .menu-line{
      width: 100%;
      background: #252525;
      border: 4px solid #111111;
      box-sizing: border-box;
      box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      .inner-line{
        border-radius: 10px;
        width: 33.333%;
        height: 4px;
        margin: auto;
      }
    }
  }

  .box-container{
      margin-top: 40px;
      margin-bottom: 40px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .box{
          padding: 30px 40px 0 40px;
          width: 49%;
          background: #111111;
          box-shadow: 0px 0px 80px #000000;
          border-radius: 10px;
          h3{
            margin-top: 0;
            margin-bottom: 40px;
            text-align: center;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
          }
          p{
            margin-bottom: 0;
            img{
                margin-right: 20px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
          }
          .statement{
              margin-top: 30px;
              text-align: center;
              background: linear-gradient(to top right,#23FFFF ,#9198e6 );
              box-shadow: 0px 0px 30px rgba(35, 255, 255, 0.15);
              border-radius: 10px;
              padding: 1px;
              span{
                  padding: 17px 0;
                  display: block;
                  width: 100%;
                  height: 100%;
                  background: #111111;
                  border-radius: 10px;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  color: #23FFFF;
              }
          }
          .button-holder{
              width: 100%;
              display: flex;
              justify-content: center;
          }
          .button{
            transition: .2s;
            background: linear-gradient(131.05deg, rgba(35, 255, 255, 0.4) -8.26%, rgba(36, 11, 54, 0) 64.39%), linear-gradient(263.4deg, #2B16F7 -265.56%, #23FFFF 80.48%), #111111;
            box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03), 2px 3px 10px rgba(0, 0, 0, 0.6);
            border-radius: 15px;
            padding: 13px 40px;
            color: white;
            margin: auto;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: -25px;
            margin-top: 30px
          }
          .button:hover{
              transform: scale(1.1);
          }
      }
      .box-owner{
        .statement{
            background: linear-gradient(to top right,#fe183f ,#831427 );
            span{
                color: #FE183F;
            }
            box-shadow: 0px 0px 30px rgba(254, 24, 63, 0.15);
        }
        .button{
            background: linear-gradient(103.19deg, #FE173F 48.1%, #240B36 168.51%), linear-gradient(131.05deg, rgba(35, 255, 255, 0.4) -8.26%, rgba(36, 11, 54, 0) 64.39%), linear-gradient(263.4deg, #2B16F7 -265.56%, #23FFFF 80.48%), #111111;
            box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03), 2px 3px 10px rgba(0, 0, 0, 0.6);
        }
      }
  }





  @media screen and (max-width: 1850px){
      .box-container{
          .box{
              padding: 20px 20px 0 20px;
              p{
                  font-size: 14px;
                  img{
                      width: 35px;
                      height: 35px;
                      margin-right: 10px;
                  }
              }
          }
      }
  }
  @media screen and (max-width: 1712px){
    .box-container{
        .box{
            p{
                font-size: 12px;
            }
        }
    }
}



@media screen and (max-width: 1550px){
  p{
      font-size: 12px;
  }
  h1{
      font-size: 25px;
  }
  .main-holder{
    width: calc(100% - 380px);
    padding-left: 20px;
  }
  .team-menu{
    .menu-desc{
      p{
        font-size: 17px;
        padding-bottom: 10px;
      }
    }
  }
  .box-container{
      .box{
        h3{
            margin-bottom: 10px;
        }
        p{
            img{
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        .statement{
            margin-top: 20px;
        }
      }
  }
  .text-info{
    max-width: 555px;
    margin: 0 10px;
    h1{
      font-size: 26px;
      margin: 5px 0 7px;
    }
    p{
      font-size: 13px;
    }
   }
  .page-info{
    margin: 0;
    padding-bottom: 20px;
    .back{
        min-height: 120px;
    }
    .bonus-info{
        min-height: 120px;
        width: 380px;
    }
  }
}

@media screen and (max-width: 1368px){
    .box-container{
        .box-owner{
            p:first-of-type{
                margin-bottom: 24px;
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .main-holder{
      width: calc(100% - 340px);
      padding-left: 13px;
    }
    .page-info{
      margin-top: 20px;
    }
    .text-info{
        max-width: 555px;
        h1{
          font-size: 20px;
        }
        p{
          font-size: 12px;
        }
    }
    .box-container{
        .box{
            .statement{
                span{
                    font-size: 14px;
                }
            }
        }
    }
    .team-menu{
      .menu-desc{
        p{
          font-size: 15px;
        }
      }
    }
}

@media screen and (max-width: 1070px){
  .box-container{
    .box{
      .statement{
        span{
          font-size: 13px;
        }
      }
    }
  } 
}

@media screen and (max-width: 1024px){
  
    .main-holder{
      width: 100%;
      padding: 30px 10px 0px 10px;
  }
    .box-container{
        .box-owner{
            p:first-of-type{
                margin-bottom: 0px;
            }
        }
    }
    .page-info{
      margin-top: 0;
      padding-bottom: 10px;
  }
}

@media screen and (max-width: 990px){
    .box-container{
        .box-owner{
            p:first-of-type{
                margin-bottom: 18px;
            }
        }
    }
}

@media screen and ( max-width: 800px )
{ 
    .text-info{
        order: 3;
        margin: 15px auto;
        text-align: center;
      }
}

@media screen and (max-width: 732px){
    .box-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .box{
            width: 90%;
            margin-bottom: 60px;
            h3{
                margin-bottom: 20px;
            }
        }
        .box-manager{
            p:first-of-type{
                margin-bottom: 0px;
            }
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 640px){

  .page-info{
    box-sizing: border-box;
    flex-wrap: wrap;
    .text-info{
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        order: 3;
        margin: 0;
    }
  }
  .back{
      box-sizing: border-box;
      padding: 0 10px;
      flex-basis: 23%;
      order: 1;
  }
  .bonus-info{
      flex-basis: 70%;
      order: 2;
  }
    .team-menu{
      .menu-desc{
        p{
          font-size: 14px;
          padding-bottom: 6px;
        }
      }
    }
}  

@media screen and ( max-width: 480px )
{  

    .text-info{
        h1{
          font-size: 17px;
        }
        p{
          font-size: 11px;
        }
    }
    .page-info{
        .back{
            font-size: 9px;
            padding: 0 6px;
        }
    }
}
  











