.main-holder {
  position: relative;
  width: calc(100% - 40px);
  height: calc(100vh - 80px);
  padding: 40px 0px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  font-size: 16px;
  line-height: 24px;
}
h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}
.hidden {
  pointer-events: none !important;
  opacity: 0 !important;
}

.owners-managers-holder {
  width: 100%;
  .box-container {
    max-width: 1330px;
    padding: 0 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .box-heading {
      font-weight: 700;
      font-size: 24px;
      margin: 0 0 32px;
      font-family: Earth Orbiter;
      text-align: center;
    }
    .box-owner {
      background: linear-gradient(139.48deg, #8c1a2d 2.81%, #222222ea 72.36%);
      .statement {
        border: 1px solid #fe183f;
        background: transparent;
      }
    }
    .box-manager {
      background: linear-gradient(139.48deg, #0098d9 2.87%, #222222ea 56.79%);
      .statement {
        border: 1px solid #00d1ff;
        background: transparent;
      }
    }
    .box-holder {
      width: 49%;
    }
    .box {
      padding: 30px 40px 0 40px;
      width: 100%;
      > p {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: rgba(255, 255, 255, 0.1);
        }
        &.last {
          &::after {
            content: none;
          }
        }
      }
      p {
        margin-bottom: 0;
        height: 56px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          margin: 12px 20px 12px 0;
        }
      }
      .statement {
        margin-top: 30px;
        text-align: center;
        padding: 1px;
        span {
          padding: 13px 0;
          display: block;
          width: 100%;
          height: 100%;
          background: transparent;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #23ffff;
        }
      }
      .button-holder {
        width: 100%;
        padding: 20px 0 30px;
        .button {
          transition: 0.2s;
          background: linear-gradient(
              131.05deg,
              rgba(35, 255, 255, 0.4) -8.26%,
              rgba(36, 11, 54, 0) 64.39%
            ),
            linear-gradient(263.4deg, #2b16f7 -265.56%, #23ffff 80.48%), #111111;
          padding: 13px;
          color: white;
          margin: auto;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #ffffff;
          width: 100%;
        }
        .button:hover {
          transform: scale(1.02);
        }
      }
    }
    .box-owner {
      .statement {
        span {
          color: #fe183f;
        }
      }
      .button-holder {
        .button {
          background: linear-gradient(103.19deg, #fe173f 48.1%, #240b36 168.51%),
            linear-gradient(
              131.05deg,
              rgba(35, 255, 255, 0.4) -8.26%,
              rgba(36, 11, 54, 0) 64.39%
            ),
            linear-gradient(263.4deg, #2b16f7 -265.56%, #23ffff 80.48%), #111111;
        }
      }
    }
  }
}

@media screen and (max-width: 1850px) {
  .owners-managers-holder {
    .box-container {
      .box {
        padding: 20px 20px 20px 20px;
        p {
          font-size: 14px;
          img {
            width: 35px;
            height: 35px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1700px) {
  .main-holder {
    width: calc(100% - 20px);
    height: calc(100vh - 80px);
    padding: 30px 0px 30px 20px;
  }
  .owners-managers-holder {
    .box-container {
      .box-heading {
        font-size: 20px;
        margin: 0 0 24px;
      }
      .box {
        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  p {
    font-size: 12px;
  }
  h1 {
    font-size: 25px;
  }
  .main-holder {
    width: calc(100% - 15px);
    height: calc(100vh - 65px);
    padding: 20px 0px 22px 15px;
  }

  .owners-managers-holder {
    .box-container {
      .box-heading {
        font-size: 18px;
        margin: 0 0 18px;
      }
      .box {
        h3 {
          margin-bottom: 10px;
        }
        p {
          img {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
        .statement {
          margin-top: 20px;
          span {
            font-size: 14px;
            padding: 10px 0;
          }
        }
        .button-holder {
          padding: 16px 0 25px;
          .button {
            padding: 10px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .main-holder {
    width: calc(100%);
    padding: 20px 15px 22px 15px;
  }
  .owners-managers-holder {
    .box-container {
      .box {
        .statement {
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1070px) {
  .main-holder {
    padding: 15px 15px 15px 15px;
  }
  .owners-managers-holder {
    .box-container {
      .box {
        .statement {
          span {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-holder {
    width: calc(100% - 15px);
    padding: 15px 0px 15px 15px;
  }
  .owners-managers-holder {
    .box-container {
      .box-owner {
        p:first-of-type {
          margin-bottom: 0px;
        }
      }
    }
    &.manager {
      position: relative;
      top: 0;
      transform: none;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .main-holder {
    width: calc(100% - 15px);
    padding: 15px 0px 15px 15px;
    height: calc(100vh - 130px);
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .main-holder {
    height: calc(100vh - 45px);
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .main-holder {
    height: calc(100vh - 40px);
    width: calc(100% - 10px);
    padding: 5px 0px 5px 10px;
  }
  .owners-managers-holder {
    height: 100%;
    transform: none;
    position: relative;
    top: 0;
    .box-container {
      .box-heading {
        font-size: 14px;
        margin: 0 0 7px;
      }
      .box {
        padding: 14px;
        p {
          font-size: 10px;
          line-height: 1.2;
          height: 40px;
          img {
            width: 26px;
            height: 26px;
          }
        }
        .statement {
          span {
            padding: 5px 0;
            font-size: 11px;
          }
        }
        .button-holder {
          padding: 16px 0 0px;
          .button {
            padding: 6px;
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 732px) and (orientation: portrait) {
  .owners-managers-holder {
    .box-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .box-holder {
        width: 100%;
      }
      .box {
        width: 100%;
        margin-bottom: 60px;
        h3 {
          margin-bottom: 20px;
        }
      }
      .box-manager {
        p:first-of-type {
          margin-bottom: 0px;
        }
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .main-holder {
    width: calc(100% - 10px);
    height: unset;
    padding: 10px 0px 0px 10px;
  }
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  .owners-managers-holder {
    position: relative;
    top: 0;
    transform: none;
    .box-container {
      .box-heading {
        font-size: 11px;
        margin: 0 0 2px;
      }
      .box {
        padding: 10px;
        p {
          font-size: 8px;
          height: 30px;
          img {
            width: 18px;
            height: 18px;
          }
        }
        .statement {
          span {
            padding: 3px 0;
            font-size: 8px;
          }
        }
        .button-holder {
          padding: 12px 0 0px;
          .button {
            padding: 2px;
            font-size: 10px;
          }
        }
      }
    }
  }
}

.content-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 80px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  .clickers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    cursor: pointer;
  }
  img {
    width: 21px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.09em;
    font-family: "Earth Orbiter";
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

@media screen and(max-width: 1700px) {
  .content-title {
    img {
      width: 17px;
    }
    p {
      font-size: 26px;
    }
  }
}
@media screen and(max-width: 1550px) {
  .content-title {
    height: 65px;
    img {
      width: 15px;
    }
    p {
      font-size: 22px;
    }
  }
}
@media screen and(max-width: 1024px) {
  .content-title {
    img {
      width: 13px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content-title {
    height: 40px;
  }
}
@media screen and(max-width: 700px) and (orientation: landscape) {
  .content-title {
    img {
      width: 8.5px;
    }
    p {
      font-size: 9px;
      margin-left: 5px;
    }
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .content-title {
    img {
      width: 10px;
    }
    p {
      font-size: 17px;
    }
  }
}
