<div class="main-holder">
  <div class="content-title">
    <div
      class="clickers"
      *ngIf="OwnerManagerType == 'home'"
      [routerLink]="['/race/start-race']"
    ></div>
    <div
      class="clickers"
      *ngIf="OwnerManagerType != 'home'"
      (click)="OwnerManagerType = 'home'"
    ></div>
    <img
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>BACK</p>
  </div>
  <div class="side-avatars">
    <img
      *ngIf="OwnerManagerType == 'home'"
      class="left-avatar"
      src="/assets/base/images/nft-racers/mr-rich.png"
      alt="Mr. rich avatar"
    />
    <img
      *ngIf="OwnerManagerType == 'home'"
      class="right-avatar"
      src="/assets/base/images/nft-racers/black-trm-left.png"
      alt="Black-trm avatar"
    />
  </div>
  <div class="owners-managers-holder" *ngIf="OwnerManagerType == 'home'">
    <div class="box-container">
      <div class="box-holder owner">
        <p class="box-heading">Become an Owner</p>
        <div class="box-owner box">
          <div class="text-holder">
            <p>
              <img src="/assets/base/images/icons/badge-white.svg" alt="" />{{
                "owners_managers.owner-benefit1" | translate
              }}
            </p>
            <p>
              <img src="/assets/base/images/icons/coins-white.svg" alt="" />{{
                "owners_managers.owner-benefit2" | translate
              }}
            </p>
            <p>
              <img
                src="/assets/base/images/icons/race-flag-white.svg"
                alt=""
              />{{ "owners_managers.owner-benefit3" | translate }}
            </p>
            <p class="last">
              <img
                src="/assets/base/images/icons/gift-white.svg"
                alt="red gift"
              />Lifetime Premium membership
            </p>
          </div>
          <div class="statement">
            <span>
              {{ "owners_managers.owner-statement" | translate }}
            </span>
          </div>
          <div class="button-holder">
            <button class="button" (click)="OwnerManagerType = 'owner'">
              {{ "owners_managers.owner-button" | translate }}
            </button>
          </div>
        </div>
      </div>

      <div class="box-holder manager">
        <p class="box-heading">Become a Manager</p>
        <div class="box-manager box">
          <div class="text-holder">
            <p>
              {{ "owners_managers.manager-benefit1" | translate }}
              <img
                src="/assets/base/images/icons/manager-icon-white.svg"
                alt=""
              />
            </p>
            <p>
              {{ "owners_managers.manager-benefit2" | translate
              }}<img src="/assets/base/images/icons/coins-white.svg" alt="" />
            </p>
            <p class="last">
              {{ "owners_managers.manager-benefit3" | translate
              }}<img src="/assets/base/images/icons/settings.svg" alt="" />
            </p>
            <p class="last hidden">
              {{ "owners_managers.manager-benefit3" | translate }}
              <img
                src="/assets/base/images/owners-managers/manager-icon3.svg"
                alt=""
              />
            </p>
          </div>
          <div class="statement">
            <span>
              {{ "owners_managers.manager-statement" | translate }}
            </span>
          </div>
          <div class="button-holder">
            <button
              class="button"
              (click)="OwnerManagerType = 'manager'; becomeManager()"
            >
              {{ "owners_managers.manager-button" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="owners-managers-holder" *ngIf="OwnerManagerType == 'owner'">
    <app-owner></app-owner>
  </div>

  <div
    class="owners-managers-holder manager"
    *ngIf="OwnerManagerType == 'manager'"
  >
    <app-teams-selection [managerType]="true"></app-teams-selection>
  </div>
  <p *ngIf="OwnerManagerType === 'manager'" class="category-title-first space">
    to apply as a manager you need to hold at least
    <span class="bold category-title-first"
      >1 000 $IOI tokens in your wallet</span
    >
  </p>
  <p
    *ngIf="OwnerManagerType !== 'manager'"
    class="category-title-first space bold"
  >
    every team is a nft whose value is increased with every new member
  </p>
</div>
