<div class="main-holder">
  <div [routerLink]="['/teams/my-team']" class="content-title">
    <img
      
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
     
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>Dashboard</p>
  </div>

  <!-- <div class="page-info"> 
      <div class="back" [routerLink]="['/teams/join-teams']">
        <p>&lt;</p>
      <p>{{'shared.back' | translate}}</p>
      </div>
      <div class="text-info">
      <h1>{{'owners_managers.page_heading' | translate}}</h1>
      <p>{{'owners_managers.page_info' | translate}}</p>
      </div>
      <div class="bonus-info">
      <h5>{{ioioreward | number:'1.2-2':'fr'}} <img src="assets/base/images/tokens/ioi-logo.png" alt=""></h5>
      <p>{{'teams.shared.current_team_bonus' | translate}}</p>
      </div>
  </div> -->


  <div class="owners-managers-holder">
    <div class="my-menu">
      <div class="menu-item" [routerLink]="['/teams/join-teams']">
          <p>{{'teams.shared.join' | translate}}</p>
      </div>
      <div class="menu-item my-cta-btn-back active" [routerLink]="['/teams/owners-managers']">
          <p>{{'teams.shared.owners_managers' | translate}}</p>
      </div>
      <div class="menu-item" [routerLink]="['/teams/my-team']">
          <p>{{'teams.shared.my_team' | translate}}</p>
      </div>
    </div>
    
    <div class="box-container">
      <div class="box-holder">
        <p class="box-heading">Become an Owner</p>
        <div class="box-owner box">
          <p><img src="/assets/base/images/owners-managers/owner-icon1.svg" alt="">{{'owners_managers.owner-benefit1' | translate}}</p>
          <p> <img src="/assets/base/images/owners-managers/owner-icon2.svg" alt="">{{'owners_managers.owner-benefit2' | translate}}</p>
          <p class="last"><img src="/assets/base/images/owners-managers/owner-icon3.svg" alt="">{{'owners_managers.owner-benefit3' | translate}}</p>
          <div class="statement">
            <span>
              {{'owners_managers.owner-statement' | translate}}
            </span>
          </div>
          <div class="button-holder" (click)="scrollToView(myscroll)">
            <button class="button" (click)="OwnerManagerType!='owner'?OwnerManagerType='owner':OwnerManagerType='home'">
              {{'owners_managers.owner-button' | translate}}
            </button>
          </div>
        </div>
      </div>
      
      <div class="box-holder">
        <p class="box-heading">Become a Manager</p>
        <div class="box-manager box">
          <p><img src="/assets/base/images/owners-managers/manager-icon1.svg" alt="">{{'owners_managers.manager-benefit1' | translate}}</p>
          <p> <img src="/assets/base/images/owners-managers/manager-icon2.svg" alt="">{{'owners_managers.manager-benefit2' | translate}}</p>
          <p class="last"><img src="/assets/base/images/owners-managers/manager-icon3.svg" alt="">{{'owners_managers.manager-benefit3' | translate}}</p>
          <div class="statement">
            <span>
              {{'owners_managers.manager-statement' | translate}}
            </span>
          </div>
          <div class="button-holder"(click)="scrollToView(myscroll)">
            <button class="button" (click)="OwnerManagerType!='manager'?OwnerManagerType='manager':OwnerManagerType='home';becomeManager();" >
              {{'owners_managers.manager-button' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div #myscroll></div> 
      <div *ngIf="OwnerManagerType=='owner'">
        <app-owner></app-owner>
      </div>

      <div *ngIf="OwnerManagerType=='manager'">
        <app-manager></app-manager>
      </div>
    </div>
  </div>

</div>
