<div class="main-content">
  <div class="sub-content" *ngIf="teams">
    <div class="buttons-heading-component">
      <div class="wrap-filter-buttons"></div>
      <div class="wrap-main-buttons">
        <button class="cta-button black" [routerLinkActive]="'active'"
          [routerLink]="['/leaderboard/players']">{{'start-race.players' | translate}}</button>
        <button class="cta-button black" [routerLinkActive]="'active'"
          [routerLink]="['/leaderboard/teams']">{{'leaderboard.teams' | translate}}</button>
      </div>
      <div class="wrap-filter-buttons">
        <div class="month-filter">
          <button class="cta-button black" [ngClass]="isLastMonth === false ? 'active' : ''"
            (click)="isLastMonth = false;getLeaderboard()">{{'leaderboard.curr_month' | translate}}</button>
            <!-- toggleMonth() -->
          <button class="cta-button black" [ngClass]="isLastMonth === true ? 'active' : ''"
            (click)="isLastMonth = true;getLeaderboard()">{{'leaderboard.last_month' | translate}}</button>
          <button class="button black" [routerLinkActive]="'active'" [routerLink]="['/leaderboard/players-winners']"
            style="display: none;">{{'leaderboard.winners' | translate}}</button>
        </div>
      </div>
    </div>



    <div class="ledeboard-team-list-component details">
      <div class="sub-header-component">
        <button>{{'leaderboard.position' | translate}}</button>
        <button>{{'leaderboard.team_points' | translate}}</button>
        <button>{{'leaderboard.leader_points' | translate}}</button>
        <button>{{'leaderboard.moon_rider_roi' | translate}}</button>
        <!-- <button>TOP PLAYERS</button> -->
      </div>

      <div class="table">
        <div class="tab-team" *ngFor="let team of teams;let indexx = index;">
          <div class="inner-tab">
            <div class="item team-position posbut">
              <span class="position">
                <img src="assets/base/images/chat/hexagons/hex1.png" style="width: 67px;" *ngIf="indexx === 0"/>
                <img src="assets/base/images/chat/hexagons/hex2.png" style="width: 67px;" *ngIf="indexx === 1"/>
                <img src="assets/base/images/chat/hexagons/hex3.png" style="width: 67px;" *ngIf="indexx === 2"/>
                <img src="assets/base/images/chat/hexagons/hex4.png" style="width: 67px;" *ngIf="indexx > 2"/>
              </span>
            </div>
            <div class="item team-points">
              <span class="points">
                <span class="image">
                  <img src="assets/base/images/bitcoin.png" *ngIf="team.name === 'BTC'">
                  <img class="trx-logo" src="assets/base/images/teams/tron-trx-logo.png" *ngIf="team.name === 'TRX'">
                  <img class="ioi-logo" src="assets/base/images/teams/team-ioi-logo.png" *ngIf="team.name === 'IOI'">
                </span>{{team.points_sum}}</span>
            </div>
            <div class="item team-leader">
              <span>{{team.points_leader_nickname}} {{team.points_leader_points}}p</span>
            </div>
            <div class="item team-rider">
              <span>{{team.roi_leader_nickname}} {{team.roi_leader_roi | number:'1.0-4':'fr'}}%</span>
            </div>
            <!-- <div class="item show-players">
              <button class="cta-button hoverable" (click)="toggleModal(team.team_id)">SHOW</button>
            </div> -->
          </div>
        </div>

      </div>
      <button class="cta-button large hoverable" [routerLink]="['/teams/join-teams']">{{'leaderboard.join_teams' | translate}}</button>
    </div>
  </div>
</div>

<!-- <app-team-players-modal></app-team-players-modal> -->