


<div class="main-holder">

  <div class="content-title" [routerLink]="['/race/start-race']">
    <img
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>Dashboard</p>
  </div>

  <div class="boxes-holder">
    <div class="memb-box">
      <p class="desc">Membership in {{ myDriverStats?.team }} ends</p>
      <div class="time-box">
        <p *ngIf="myDriverStats?.is_paid_membership === 'Premium' && myMembEnd!=null">{{ myMembEnd | date }}</p>
        <p *ngIf="myDriverStats?.is_paid_membership === 'Free'">Become premium</p>
      </div>
      <div class="owner-btn" [routerLink]="'/teams/owners-managers'">
        <p>Owners &amp; managers</p>
        <div class="bottom-border my-cta-btn-back"></div>
      </div>
    </div>

    <div class="reward-box">
      <p class="desc">Current reward</p>
      <div class="inner-box">
        <img src="/assets/base/images/teams/reward-token.png" alt="" class="reward-badge">
        <p>{{ myRewards?.team_bonus | number: "1.2-2":"fr" }}</p>
      </div>
    </div>

    <div class="offers-box">
      <p class="desc">Special offers</p>
      <div class="offers-holder" [ngClass]="'state' + offerState">
        <div class="offer-item">
          <div class="img-holder">
            <p class="heading">30% off</p>
            <p class="text">of the price from the yearly premium membership right now!</p>
          </div>
          <button class="my-cta-btn-back" (click)="getPremium()">BUY PREMIUM NOW</button>
        </div>

        <div class="offer-item">
          <div class="img-holder">
            <p class="heading">10% off</p>
            <p class="text">of the price from the quartal premium membership right now!</p>
          </div>
          <button class="my-cta-btn-back" (click)="getPremium()">BUY PREMIUM NOW</button>
        </div>
      </div>
      <div class="offers-switch">
        <div class="display-item my-cta-btn-back" [ngClass]="{'inactive': offerState !== 1}" (click)="changeOffer();manualOfferChange()"></div>
        <div class="display-item my-cta-btn-back" [ngClass]="{'inactive': offerState !== 2}" (click)="changeOffer();manualOfferChange()"></div>
      </div>
    </div>
  </div>

  <div class="nft-reward-box">
    <div
        [routerLink]="
          myDriverStats.is_paid_membership === 'Free'
            ? ['/teams/join-teams']
            : null
        "
        class="team-img team"
        *ngIf="
          myDriverStats.team === 'IOI' ||
          myDriverStats.team === 'BTC' ||
          myDriverStats.team === 'ALT'
        "
      >
        <img
          *ngIf="myDriverStats.is_paid_membership === 'Free'"
          class="premium non-premium"
          src="/assets/base/images/menu/premium-icon.svg"
          alt="NonPremium icon"
        />
        <img
          *ngIf="myDriverStats.is_paid_membership === 'Premium'"
          class="premium"
          src="/assets/base/images/menu/premium-icon-active.svg"
          alt="Premium icon"
        />
        <img
          [src]="'/assets/base/images/teams/' + myDriverStats.team + '-team.png'"
          alt=""
        />
      </div>
      <div
        class="team-img team"
        *ngIf="
          myDriverStats.team !== 'IOI' &&
          myDriverStats.team !== 'BTC' &&
          myDriverStats.team !== 'ALT'
        "
      >
        <img
          class="premium"
          src="/assets/base/images/menu/premium-icon-active.svg"
          alt="Premium icon"
        />
        <img
          [src]="
            'assets/base/images/custom-teams/custom-team' +
            (myTeamAllData.avatar + 1) +
            '.png'
          "
          alt=""
        />
        <div class="badge-name">
          <p class="name">{{ myDriverStats.team }}</p>
          <p class="team">TEAM</p>
        </div>
      </div>
    <img src="/assets/base/images/nft-cars/car1.png" alt="" class="car-img" [ngClass]="{'inactive': offerState === 2}">
    <img src="/assets/base/images/nft-racers/white-trm.png" alt="" class="racer-img">
  </div>

  <div class="teams-holder">
    <p class="desc">Teams</p>
    <app-teams-selection (endsIn)="getMembEnd($event)" #teamSelection></app-teams-selection>
  </div>

</div>


<!-- 

<div class="main-holder">
  <div class="page-info">
    <div class="back" [routerLink]="['/race/start-race']">
      <p>&lt;</p>
      <p>BACK</p>
    </div>
    <div class="text-info">
      <h1>Teams</h1>
      <p>
        Join winning teams, get a Premium membership and become a pro racer in
        no time! Compete against other teams and prove that your strategy is the
        best.
      </p>
    </div>
    <div class="bonus-info">
      <h5>
        {{ myRewards?.team_bonus | number: "1.2-2":"fr" }}
        <img src="assets/base/images/tokens/ioi-logo.png" alt="" />
      </h5>
      <p>current team bonus</p>
    </div>
  </div>

  <div class="teams-content">
    <div class="my-menu">
      <div
        class="menu-item my-cta-btn-back active"
        [routerLink]="['/teams/join-teams']"
      >
        <p>{{ "teams.shared.join" | translate }}</p>
      </div>
      <div class="menu-item" [routerLink]="['/teams/owners-managers']">
        <p>{{ "teams.shared.owners_managers" | translate }}</p>
      </div>
      <div class="menu-item" [routerLink]="['/teams/my-team']">
        <p>{{ "teams.shared.my_team" | translate }}</p>
      </div>
    </div>

    <app-teams-selection [modalVersion]="false"></app-teams-selection>

    <div class="tables">
      <div class="memberships-table table">
        <div class="coll borderis">
          <div class="cell borderless">
            &nbsp;
            <h4>Memberships</h4>
          </div>
          <div class="cell">5% shares</div>
          <div class="cell">Premium fuel</div>
          <div class="cell">Long and short indication</div>
          <div class="cell">Special daily task</div>
          <div class="cell">Pricing</div>
        </div>
        <div class="coll">
          <div class="cell">Free</div>
          <div class="cell">✗</div>
          <div class="cell">✗</div>
          <div class="cell">✗</div>
          <div class="cell">✗</div>
          <div class="cell">Free</div>
        </div>
        <div class="coll">
          <span>
            <div class="cell">Premium</div>
            <div class="cell">✓</div>
            <div class="cell">✓</div>
            <div class="cell">✓</div>
            <div class="cell">✓</div>
            <div class="cell">50 IOI</div>
          </span>
        </div>
      </div>
      <div class="teams-table table">
        <div class="coll borderis big">
          <div class="cell borderless">
            &nbsp;
            <h4>Teams</h4>
          </div>
          <div class="cell">Long</div>
          <div class="cell">Short</div>
          <div class="cell">5% shares</div>
          <div class="cell">Special daily task</div>
        </div>
        <div class="coll ioi">
          <div class="cell">Team IOI</div>
          <div class="cell">✓</div>
          <div class="cell">✓</div>
          <div class="cell">✓</div>
          <div class="cell">✓</div>
        </div>
        <div class="coll alt">
          <span>
            <div class="cell">Team Altcoin</div>
            <div class="cell">✓</div>
            <div class="cell">✓</div>
            <div class="cell">✓</div>
            <div class="cell">✓</div>
          </span>
        </div>
        <div class="coll btc">
          <div class="cell">Team Bitcoin</div>
          <div class="cell">✓</div>
          <div class="cell">✓</div>
          <div class="cell">✓</div>
          <div class="cell">✓</div>
        </div>
      </div>
    </div>
    <div class="benefits-list-box">
      <h4>How does it work</h4>
      <div class="benefits-list">
        <div class="ben-item">
          <div class="img-holder img1">
            <img src="/assets/base/images/teams/benefit-img1.svg" alt="" />
          </div>
          <div class="text">
            <p class="heading">
              {{ "teams.join.benefit1_heading" | translate }}
            </p>
            <p>{{ "teams.join.benefit1_text" | translate }}</p>
          </div>
        </div>
        <div class="ben-item">
          <div class="img-holder img2">
            <img src="/assets/base/images/teams/benefit-img2.svg" alt="" />
          </div>
          <div class="text">
            <p class="heading">
              {{ "teams.join.benefit2_heading" | translate }}
            </p>
            <p>{{ "teams.join.benefit2_text" | translate }}</p>
          </div>
        </div>
        <div class="ben-item">
          <div class="img-holder img3">
            <img src="/assets/base/images/teams/benefit-img3.svg" alt="" />
          </div>
          <div class="text">
            <p class="heading">
              {{ "teams.join.benefit3_heading" | translate }}
            </p>
            <p>{{ "teams.join.benefit3_text" | translate }}</p>
          </div>
        </div>
        <div class="ben-item">
          <div class="img-holder img4">
            <img src="/assets/base/images/teams/benefit-img4.svg" alt="" />
          </div>
          <div class="text">
            <p class="heading">
              {{ "teams.join.benefit4_heading" | translate }}
            </p>
            <p>{{ "teams.join.benefit4_text" | translate }}</p>
          </div>
        </div>
        <div class="ben-item">
          <div class="img-holder img5">
            <img src="/assets/base/images/teams/benefit-img5.svg" alt="" />
          </div>
          <div class="text">
            <p class="heading">
              {{ "teams.join.benefit5_heading" | translate }}
            </p>
            <p>{{ "teams.join.benefit5_text" | translate }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="create-team">
      <div class="text-holder">
        <p class="heading">{{ "teams.join.create_team" | translate }}</p>
        <p>
          Create your dream team and share profits with family and friends. Help
          everyone to achieve the top 10 in position in a race to get team
          points.
        </p>
        <p>
          The top 3 teams split 5% of the total platform turnover as their
          bonus.To own a team, <span>hold at least a thousand IOI tokens</span>,
          invite new users to your team and create a real following, real tribe!
        </p>
        <p>
          Team membership is valid automatically from
          <span>1st day of month.</span>
        </p>
        <div class="want-team-box">
          <div class="inner">
            <p>Want your own team?</p>
            <p>Hold</p>
            <h3>1 000 IOI</h3>
          </div>
        </div>
      </div>
      <img
        src="/assets/base/images/teams/create-team-back.png"
        alt=""
        class="box-back"
      />
    </div>
  </div>
</div> -->
