<div class="main-holder" #top>
  <div class="join-teams-back-div">
    <div class="join-teams-back"></div>
  </div>
  <div class="join-teams">
    <div class="content-title" [routerLink]="['/race/start-race']">
      <img
        class="red-star"
        src="assets/base/images/icons/icon-back-red.svg"
        alt="red arrow"
      />
      <img
        class="blue-star"
        src="assets/base/images/icons/icon-back-blue.svg"
        alt="blue arrow"
      />
      <p>BACK</p>
    </div>
    <div class="upper-content">
      <div class="memb-box">
        <p
          *ngIf="myDriverStats?.is_system_team !== true"
          class="classic-text letter-spacing"
        >
          Membership in {{ myDriverStats?.team }} ends
        </p>
        <div class="time-box space-small">
          <p
            class="category-title-second"
            *ngIf="
              myDriverStats?.is_paid_membership === 'Premium' &&
              myMembEnd != null
            "
          >
            {{ myMembEnd | date }}
          </p>
          <p *ngIf="myDriverStats?.is_paid_membership === 'Free'">
            Become premium
          </p>
        </div>
      </div>
      <div class="text-holder space-big">
        <p class="category-title-first">
          TEAM <br />
          <span class="my-text-color category-title-first">TOURNAMENT</span>
        </p>
        <p class="classic-text space">
          Two creators of best performing youtube videos<br />
          will become owner and manager
          <br />
          <br />
          of their national teams in upcoming month.
        </p>
      </div>
    </div>
    <div class="lower-content">
      <div class="teams-holder">
        <p class="category-title-second">Join a team to participate</p>
        <app-teams-selection
          (scrollTop)="scrollTop(top)"
          (endsIn)="getMembEnd($event)"
          #teamSelection
        ></app-teams-selection>
      </div>
    </div>
  </div>
</div>
