

<div class="main-holder">
    <div class="page-info"> 
        <div class="back" [routerLink]="['/race/start-race']">
        <p>&lt;</p>
        <p>BACK</p>
        </div>
        <div class="text-info">
        <h1>Teams</h1>
        <p>Join winning teams, get a Premium membership and become a pro racer in no time! Compete against other teams and prove that your strategy is the best.</p>
        </div>
        <div class="bonus-info">
        <h5>{{myRewards?.team_bonus | number:'1.2-2':'fr'}}  <img src="assets/base/images/tokens/ioi-logo.png" alt=""></h5>
        <p>current team bonus</p>
        </div>
    </div>

    <div class="team-menu">
        <div class="menu-desc">
            <p class="join-team active" [routerLink]="['/teams/join-teams']">{{'teams.shared.join' | translate}}</p>
            <p class="owners-managers" [routerLink]="['/teams/owners-managers']">{{'teams.shared.owners_managers' | translate}}</p>
            <p class="join-team" [routerLink]="['/teams/my-team']">{{'teams.shared.my_team' | translate}}</p>
        </div>
        <div class="menu-line">
            <div class="inner-line my-cta-btn-back">&nbsp;</div>
        </div>
    </div>

    <app-teams-selection [modalVersion]="false"></app-teams-selection>

    <div class="tables">
        <div class="memberships-table table">
            <div class="coll">
                <div class="cell">&nbsp;<h4>Memberships</h4></div>
                <div class="cell">5% shares</div>
                <div class="cell">Premium fuel</div>
                <div class="cell">Long and short indication</div>
                <div class="cell">Special daily task</div>
                <div class="cell">Pricing</div>
            </div>
            <div class="coll">
                <div class="cell">Free</div>
                <div class="cell">✗</div>
                <div class="cell">✗</div>
                <div class="cell">✗</div>
                <div class="cell">✗</div>
                <div class="cell">Free</div>
            </div>
            <div class="coll">
                <span>
                    <div class="cell">Premium</div>
                    <div class="cell">✓</div>
                    <div class="cell">✓</div>
                    <div class="cell">✓</div>
                    <div class="cell">✓</div>
                    <div class="cell">50 IOI</div>
                </span>
            </div>
        </div>
        <div class="teams-table table">
            <div class="coll">
                <div class="cell">&nbsp;<h4>Teams</h4></div>
                <div class="cell">Long</div>
                <div class="cell">Short</div>
                <div class="cell">5% shares</div>
                <div class="cell">Special daily task</div>
            </div>
            <div class="coll">
                <div class="cell">Team IOI</div>
                <div class="cell">✓</div>
                <div class="cell">✓</div>
                <div class="cell">✓</div>
                <div class="cell">✓</div>
            </div>
            <div class="coll">
                <span>
                    <div class="cell">Team Altcoin</div>
                    <div class="cell">✓</div>
                    <div class="cell">✓</div>
                    <div class="cell">✓</div>
                    <div class="cell">✓</div>
                </span>
            </div>
            <div class="coll">
                <div class="cell">Team Bitcoin</div>
                <div class="cell">✓</div>
                <div class="cell">✓</div>
                <div class="cell">✓</div>
                <div class="cell">✓</div>
            </div>
        </div>
    </div>
    <div class="benefits-list-box">
        <h4>How does it work</h4>
        <div class="benefits-list">
            <div class="ben-item">
                <div class="img-holder img1">
                    <img src="/assets/base/images/teams/benefit-img1.svg" alt="">
                </div>
                <div class="text">
                    <p class="heading">{{'teams.join.benefit1_heading' | translate}}</p>
                    <p>{{'teams.join.benefit1_text' | translate}}</p>
                </div>
            </div>
            <div class="ben-item">
                <div class="img-holder img2">
                    <img src="/assets/base/images/teams/benefit-img2.svg" alt="">
                </div>
                <div class="text">
                    <p class="heading">{{'teams.join.benefit2_heading' | translate}}</p>
                    <p>{{'teams.join.benefit2_text' | translate}}</p>
                </div>
            </div>
            <div class="ben-item">
                <div class="img-holder img3">
                    <img src="/assets/base/images/teams/benefit-img3.svg" alt="">
                </div>
                <div class="text">
                    <p class="heading">{{'teams.join.benefit3_heading' | translate}}</p>
                    <p>{{'teams.join.benefit3_text' | translate}}</p>
                </div>
            </div>
            <div class="ben-item">
                <div class="img-holder img4">
                    <img src="/assets/base/images/teams/benefit-img4.svg" alt="">
                </div>
                <div class="text">
                    <p class="heading">{{'teams.join.benefit4_heading' | translate}}</p>
                    <p>{{'teams.join.benefit4_text' | translate}}</p>
                </div>
            </div>
            <div class="ben-item">
                <div class="img-holder img5">
                    <img src="/assets/base/images/teams/benefit-img5.svg" alt="">
                </div>
                <div class="text">
                    <p class="heading">{{'teams.join.benefit5_heading' | translate}}</p>
                    <p>{{'teams.join.benefit5_text' | translate}}</p>
                </div>
            </div>
        </div>
    </div>

    <section class="how-to-sec">
        <div class="left-part">
            <h1>{{'teams.join.create_team' | translate}}</h1>
            <p>
                {{'teams.join.create_team_text1' | translate}} <span>{{'teams.join.create_team_text2' | translate}}</span>
                {{'teams.join.create_team_text3' | translate}} <span>{{'teams.join.create_team_text4' | translate}}</span>.
            </p>
        </div>
        
        <div class="right-part">
            <div class="own-box">
                <p>{{'teams.join.want_own' | translate}}</p>
                <p>{{'teams.join.hold' | translate}}</p>
                <h2>1 000 {{'shared.ioi' | translate}}</h2>
            </div>
        </div>
    </section>
</div>
