.main-holder{
  width: calc(100% - 457px);
  padding-left: 40px;
  color: white;
}

p{
  font-size: 16px;
  line-height: 24px;
}
h1{
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}
.gold{
  background: -webkit-linear-gradient(180deg, #C19123 0%, #B47E11 10.42%, #FEF2A3 70.83%, #B57F12 100%),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.silver{
  background: -webkit-linear-gradient(180deg, #5D666A 0%, #FAFAFA 40.63%, #939393 70.83%, #7B7B7B 100%),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bronze{
  background: -webkit-linear-gradient(180deg, #7F3519 13.02%, #FEA67E 52.08%, #D5805E 90.62%, #F5C7AC 100%),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-info{
  margin: 30px 0;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .back{
      cursor: pointer;
      transition: .2s;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      text-align: center;
      min-height: 132px;
      background: linear-gradient(0deg, #111111, #111111);
      box-shadow: 0px 0px 80px #000000;
      border-radius: 20px;
      p{
          line-height: 20px;
          margin-bottom: 22px;
      }
  }
  .back:hover{
      transform: scale(1.1);
  }
  .text-info{
      max-width: 812px;
      margin: 0 20px;
  }
  .bonus-info{
      width: 448px;
      background: linear-gradient(0deg, #111111, #111111);
      box-shadow: 0px 0px 80px #000000;
      border-radius: 20px;
      min-height: 132px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      p{
          color: rgba(255, 255, 255, .4);
      }
  }
}

.team-menu{
  width: 100%;
  .menu-desc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p{
      margin: 0;
      font-size: 18px;
      text-align: center;
      color: #FFFFFF;
      display: block;
      width: 50%;
      padding-bottom: 15px;
      cursor: pointer;
      text-transform: uppercase;
    }
    .active{
      font-weight: 600;
    }
  }
  .menu-line{
    width: 100%;
    background: #252525;
    border: 4px solid #111111;
    box-sizing: border-box;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    .inner-line{
      border-radius: 10px;
      width: 33.3333%;
      height: 4px;
    }
  }
}

.team-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 280px;
  .team-item{
      width: 33%;
      margin: 0 15px;
      max-width: 420px;
      background: #111111;
      box-shadow: 0px 0px 80px #000000;
      border-radius: 10px;
      padding: 20px 40px 100px;
      position: relative;
      .joined{
        z-index: 2;
        max-width: 190px;
        background: linear-gradient(to bottom right, rgba(132, 195, 25,1) 0%, rgba(132, 195, 25,0) 60%);
        border-radius: 10px;
        padding: 1px;
        position: absolute;
        right: 0;
        top: -100px;
        span{
          border-radius: 10px;
          padding: 10px;
          display: block;
          background: #111111;;
          p{
            text-align: center;
            width: auto;
            margin: 0;
            strong{
              color:rgb(132, 195, 25);
            }
          }
        }
      }
      .img-holder{
          position: relative;
          text-align: center;
          width: 200px;
          height: 200px;
          margin: 0 auto;
          margin-top: -120px;
          img{
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            max-width: 125%;
            width: 125%;
          }
      }
      .heading{
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin: 20px 0 30px 0;
        text-align: center;
      }
      .item-holder{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          p{
              font-size: 16px;
              line-height: 24px;
              font-weight: 600;
              margin: 0;
              &.desc{
                  font-weight: 400;
                  opacity: .8;
              }
          }
      }
      .reward-box{
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 60%;
          transform: translate(-50%, 50%);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
          padding: 1px;
          border-radius: 12px;
          background: linear-gradient(to bottom right, rgba(229,229,229,1) 0%, rgba(229,229,229,0) 60%);
          span{
              display: block;
              padding: 15px 4px;
              background-color: #111111;
              border-radius: 12px;
              width: 100%;
              height: 100%;
          }
          p{
              position: relative;
              font-size: 24px;
              line-height: 35px;
              font-weight: 500;
              margin: 0;
              text-align: center;
              img{
                top: -7px;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
              }
          }
          .desc{
            font-size: 16px;
            line-height: 24px;
            font-weight: normal;
          }
      }
      .first{
        box-shadow: 0px 0px 10px 2px rgba(255, 212, 59, 0.1);
        background: linear-gradient(to bottom right, rgba(255,212,59,1) 0%, rgba(255,212,59,0) 60%);
      }
      .secound{
        box-shadow: 0px 0px 10px 2px rgba(229,229,229,.1);
        background: linear-gradient(to bottom right, rgba(229,229,229,1) 0%, rgba(229,229,229,0) 60%);
      }
      .third{
        box-shadow: 0px 0px 10px 2px rgba(255, 165, 56, .1);
        background: linear-gradient(to bottom right, rgba(255, 165, 56, 1) 0%, rgba(255, 165, 56, 0) 60%);
      }
      .join-button{
        cursor: pointer;
        transition: .2s;
        position: absolute;
        width: 100%;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 300%);
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 12px 0;
        background: linear-gradient(167.03deg, rgba(254, 23, 63, 0.4) -28.47%, rgba(36, 11, 54, 0) 112.02%);
        border-radius: 15px;
        p{
          margin: 0;
        }
        &.wait-btn{
          .info-bubble{
            background: #111111;
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
            border-radius: 20px;
            padding: 15px 20px;
            position: absolute;
            top: -15px;
            left: 50%;
            transform: translate(-50%, -100%);
            width: 95%;
            cursor: default;
            p{
              color: white;
              margin: 0;
              font-size: 14px;
              text-transform: initial;
            }
            .close-icon{
              padding: 5px;
              position: absolute;
              top: 0;
              right: 0;
              cursor: pointer;
            }
          }
        }
      }
      .join-button:hover{
        background: linear-gradient(90.86deg, #FE173F 47.12%, #240B36 166.67%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      .extended{
        background: linear-gradient(90.86deg, #FE173F 47.12%, #240B36 166.67%);
        border-radius: 15px;
      }
  }
}

.tables{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .table{
    position: relative;
    color: white;
    background: #111111;
    box-shadow: 0px 0px 80px #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    padding-left: 40px;
    .coll{
      padding-top: 40px;
      width: 15%;
      .cell{
        margin-bottom: 54px;
      } 
    }
    .coll:first-child{
      text-align: left;
      .cell:first-child{
        h4{
          position: absolute;
          top: -70px;
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
        }
      }
    }
  }
  .memberships-table{
    width: 45%;
    .coll{
      .cell:first-child{
        margin-bottom: 70px;
      }
    }
    .cell:last-child, .cell:first-child{
      font-weight: 600;
    }
    .coll:first-child{
      width: 45%;
    }
    .coll:last-child{
      width: 30%;
      padding: 1px;
      border-radius: 20px;
      background: linear-gradient(to bottom right, rgba(254, 24, 63, 1) 0%, rgba(254, 24, 63, 0) 60%);
      box-shadow: 0px 0px 80px #000000;
      .cell:not(:first-child){
        color: #84C319;
        text-shadow: 0px 0px 30px rgba(132, 195, 25, 0.8);
      }
      span{
        display: block;
        padding: 1px;
        padding-top: 39px;
        background: linear-gradient(161.21deg, rgba(254, 24, 63, 0.4) -26.85%, rgba(36, 11, 54, 0) 93.55%), linear-gradient(0deg, #111111, #111111);   
        border-radius: 20px;
        width: 100%;
        height: 100%;
      }
    }
  }
  .teams-table{
    
    .coll{
      width: 25%;
      .cell{
        margin-bottom: 79px;
      }
      .cell:first-child{
        margin-bottom: 70px;
      }
    }
    .coll:not(:first-child){
      .cell:not(:first-child){
        color: #84C319;
        text-shadow: 0px 0px 30px rgba(132, 195, 25, 0.8);
      }
    }
    .cell:first-child{
      font-weight: 600;
    }
    max-width: 52%;
    margin-left: 40px;
  }

}
.benefits-list-box{
  margin: 20px 0;
  h4{
    padding: 60px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
}
.benefits-list{
  margin: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  .ben-item{
    max-width: 230px;
    text-align: center;
    .text{
      margin-top: 30px;
      p{
        color: #ffffff;
        margin: 0;
        line-height: 1.3;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.4px;
        &.heading{
          margin-bottom: 10px;
          font-weight: 700;
          background: linear-gradient(90deg, rgba(149,5,82,1) 0%, rgba(235,33,99,1) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

.how-to-sec{
  padding: 80px 0;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left-part{
    width: 67%;
    max-width: calc(100% - 370px);
    h1{
      font-size: 20px;
      color: white;
      font-weight: 600;
    }
    p{
      color: white;
      font-size: 18px;
      font-weight: 400;
      padding-right: 7px;
      span{
        background: #24e3fe;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
      }
    }
  }
  .right-part{
    width: 31%;
    min-width: 370px;
    .own-box{
      width: 100%;
      height: 265px;
      background: #11111165;
      box-shadow: 0px 0px 80px rgba(35, 255, 255, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.04), 5px 5px 15px rgba(0, 0, 0, 0.6);
      border-radius: 20px;
      border: 2px solid #4089a4;
      display: flex;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      p{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        margin: 0 0 15px 0;
        font-weight: 600;
      }
      h2{
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        font-size: 42px;
        margin: 0;
        font-weight: 700;
        background: linear-gradient(90deg, #23FFFF 0%, #1cdced 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.modal-title {
  color: white;
  font-size: 1rem;
  font-family: "Oswald";
  width: 100%;
  text-align: justify;
  font-weight: lighter;
}


.modal-body {
  width: 90%;
  margin: 0 auto 40px;
  .join-team-modal-logo{
    align-self: center;
  }
  .join-team-modal-logo.bitcoin{
    width: 99px;
  }
  .join-team-modal-logo.tron{
    width: 96px;
  }
  .join-team-modal-logo.tether{
    width: 109px;
  }
  .modal-button--team{
    width: 100%;
    margin: 40px 0 10px 0;
    text-align: center;
    a{
      width: 141px;
      height: 55px;
      line-height: 55px;
      color: #ffffff;
      font-size: 1.125rem;
      text-transform: uppercase;
      text-decoration: none;
      background-image: url('../../../assets/base/images/button-bg.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: block;
      font-weight: 500;
      margin: 0 auto;
      cursor: pointer;
      &:hover{
        text-decoration: none;
        color: white;
      }
    }
  }
  .j-t-modal-info{
    width: 100%;
    padding: 0;
    margin: 10px 0;
    .team-modal-item{
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 10px auto;
      border: 1px solid #00c8fe;
      padding: 8px 20px;
      border-radius: 7px;
      p{
        color: white;
        display: block;
        text-align: center;
        margin: 0;
      }
      span{
        color: #00c8fe;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}

.modal-body > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.625rem 0;
}

.modal-body p {
  text-transform: uppercase;
}
.modal-body .desc-modal--team{
  color: #ffffff;
  font-size: 1.125rem;
  text-transform: none;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  &.bottom-desc{
    margin: 15px 0;
    font-size: 1rem;
    line-height: 1.2;
    padding: 0 10px;
  }
}

.modal-footer {
  border: none;
  width: 80%;
  margin: 0.5rem auto;
}

.modal-footer p {
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

.Mlight-blue {
  color: #00c8fe;
}

.Mpink {
  color: #fe00f5;
}

.Mymodal-left {
  width: 45%;
  display: flex;
  align-items: center;
}

.Mymodal-left p {
  padding: 0.3rem 1rem;
  margin: 0;
}

.Mymodal-left .star img {
  width: 2.8125rem;
}

.Mymodal-left .star:before {
  font-size: 0.8rem;
}

.Mymodal-right {
  border: 0.0625rem solid #00c8fe;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55%;
}

.Mymodal-right p {
  padding: 0.6125rem 1rem;
  margin: 0;
}

.Mymodal-head {
  display: flex;
  align-items: center;
  margin: 1.4rem auto 1.2rem auto;
}

.Mymodal-head h2 {
  font-size: 1.125rem;
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5rem;
}

.Mymodal3 div .Mymodal-right {
  justify-content: flex-start;
}

/* own styles next */
.blankbutton {
  background-color: transparent;
  border: 0;
  margin: 0 auto;
  display: block;
  position: absolute;
  left: 40%;
  bottom: -77px;
}

img.krizik {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

a:focus,
button:focus,
img:focus,
div:focus {
  outline: none !important;
  box-shadow: none;
}

.modal-body .car-item img {
  position: relative;
  left: -82px;
}

.right h4 {
  text-align: center;
  width: 200px;
  display: block;
  color: #800063;
  font-size: 24px;
}
.bookmark-cont{
position: absolute;
left: 0px;
top: 0px;
height: 70px;
width: 100px;
overflow: hidden;
}

.balance-wrapper{
position: absolute;
right: -42px;
top: -30px;
}

.modal.fade{
background: rgba(17, 17, 17, 0.8);
}
.my-modal-dialog{
max-width: 600px;
height: 100%;
margin-top: 0;
margin-bottom: 0;
.modal-content{
  padding: 30px 20px;
  background: #111111;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  top: 50%;
  transform: translateY(-50%);
  .close-icon{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    padding: 5px;
  }
  .top-text{
    margin: 10px 0 20px;
    width: 100%;
    text-align: center;
    .heading{
      margin: 0;
      font-size: 36px;
      font-weight: 600;
      color: white;
    }
    .desc{
      font-size: 14px;
      margin: 10px 0;
      color: white;
      opacity: .2;
      font-weight: 400;
    }
  }
  .content-holder{
    width: 100%;
    .memb-panel{
      width: 100%;
      margin-bottom: 10px;
      background: #111111;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.95);
      border-radius: 20px;
      height: 93px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      transition: .15s;
      padding-right: 7px;
      position: relative;
      &.premium{
        height: 114px;
        .amount-holder{
          position: absolute;
          right: 15px;
          top: 10px;
          background: #FFFFFF20;
          border-radius: 20px;
          p{
            margin: 0;
            font-weight: 400;
            color: white;
            font-size: 14px;
            padding: 3px 10px;
            img{
              width: 14px;
            }
          }
        }
      }
      &.active{
        background: linear-gradient(270.45deg, #EB2163 16.51%, #950552 191.72%), linear-gradient(0deg, #EB2163, #EB2163), linear-gradient(269.2deg, #FFD43B 23.11%, #EB2163 233.63%), #111111;
        transform: translateY(-2px);
        .dot-holder{
          opacity: 1;
        }
      }
      .dot-holder{
        min-width: 70px;
        height: 100%;
        position: relative;
        opacity: .7;
        transition: .15s;
        .dot{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          background: #111111;
          box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.03), 3px 3px 3px rgba(0, 0, 0, 0.2);
          width: 20px;
          height: 20px;
          .inner-dot{
            width: 10px;
            height: 10px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: #F89549;
            box-shadow: inset 0.5px 0.5px 1px rgba(0, 0, 0, 0.7);
          }
        }
      }
      .text-holder{
        text-align: left;
        .heading{
          font-size: 18px;
          color: white;
          margin: 0;
        }
        .value{
          font-weight: 400;
          font-size: 14px;
          color: white;
          margin-bottom: 5px;
          span{
            font-weight: 600;
          }
        }
      }
    }
    .join-btn{
      margin-top: 30px;
      color: #ffffff;
      font-size: 18px;
      text-shadow: none;
      text-transform: uppercase;
      font-weight: 400;
      transition: 0.3s;
      background: linear-gradient(250.32deg, #EB2163 22.61%, #950552 85.16%), #333333;
      box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      padding: 7px;
      text-align: center;
      width: 100%;
      cursor: pointer;
    }
    .info-panel{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 25px;
      .img-holder{
        min-width: 50px;
        text-align: center;
      }
      p{

font-size: 14px;
        font-weight: 400;
        color: white;
        opacity: .2;
        margin: 0;
      }
    }
    .heading{
      color: white;
      font-size: 18px;
      margin: 30px 0 20px;
    }
    .time-btns{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .time-item{
        background: #111111;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.95);
        border-radius: 20px;
        width: 28%;
        height: 113px;
        position: relative;
        cursor: pointer;
        &.active{
          background: linear-gradient(270.45deg, #EB2163 16.51%, #950552 191.72%), linear-gradient(0deg, #EB2163, #EB2163), linear-gradient(269.2deg, #FFD43B 23.11%, #EB2163 233.63%), #111111;
        }
        p{
          margin: 0;
        }
        .cost{
          padding: 3px 10px;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 69%;
          text-align: center;
          p{
            font-size: 14px;
            font-weight: 400;
            color: white;
            white-space: nowrap;
            img{
              width: 18px;
            }
          }
        }
        .desc{
          font-size: 18px;
          color: white;
          font-weight: 400;
          position: absolute;
          bottom: 10px;
          left: 0;
          width: 100%;
          text-align: center;
        }
        .discount{
          position: absolute;
          color: white;
          font-size: 14px;
          font-weight: 400;
          top: -5px;
          right: -5px;
          padding: 3px 10px;
          border-radius: 20px;
          &.low{
            background: linear-gradient(271.43deg, #FFD43B -70.09%, #EB2163 228.74%), #FFFFFF;
          }
          &.high{
            background: linear-gradient(270.54deg, #FFD43B -149.08%, #EB2163 121.01%), #FFFFFF;
          }
        }
      }
    }
    .start-btn{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn-item{
        background: #111111;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.95);
        border-radius: 20px;
        height: 113px;
        width: 47%;
        position: relative;
        cursor: pointer;
        &.active{
          background: linear-gradient(270.45deg, #EB2163 16.51%, #950552 191.72%), linear-gradient(0deg, #EB2163, #EB2163), linear-gradient(269.2deg, #FFD43B 23.11%, #EB2163 233.63%), #111111;
        }
        p{
          position: absolute;
          top: 50%;
          left: 0;
          font-size: 18px;
          font-weight: 400;
          transform: translateY(-50%);
          width: 100%;
          text-align: center;
          margin: 0;
          color: white;
          padding: 0 10px;
        }
      }
    }
  }
}
}
  

@media screen and (max-width: 1550px){

  p{
    font-size: 12px;
  }
  h1{
      font-size: 25px;
  }

  .text-info{
    max-width: 555px;
    margin: 0 10px;
    h1{
      font-size: 26px;
      margin: 5px 0 7px;
    }
    p{
      font-size: 13px;
    }
   }
  .page-info{
    margin: 0;
    padding-bottom: 20px;
    .back{
        min-height: 120px;
    }
    .bonus-info{
        min-height: 120px;
        width: 380px;
    }
  }
  .main-holder{
    width: calc(100% - 380px);
    padding-left: 20px;
  }
  .get-banner{
    height: 100px;
    margin: 13px 0;
    p{
      font-size: 30px;
      img{
        width: 29px;
      }
    }
  }
  .team-menu{
    .menu-desc{
      p{
        font-size: 17px;
        padding-bottom: 10px;
      }
    }
  }
  .tables{
    .table{
      font-size: 14px;
    }
    .teams-table{
      .coll:first-child{
        width: 50%;
      }
    }
  }
  
  .benefits-list{
    .ben-item{
      max-width: 210px;
      img{
        max-height: 80px;
      }
      .text{
        margin-top: 20px;
        p{
          font-size: 16px;
        }
      }
    }
  }
  .how-to-sec{
    .left-part{
      max-width: calc(100% - 310px);
      h1{
        font-size: 20px;
      }
      p{
        font-size: 16px;
      }
    }
    .right-part{
      min-width: 310px;
      .own-box{
        p{
          font-size: 16px;
        }
        h2{
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px){
  .benefits-list{
    .ben-item{
      max-width: 180px;
      margin: 0 5px;
      img{
        max-height: 75px;
      }
      .text{
        margin-top: 15px;
        p{
          font-size: 16px;
        }
      }
    }
  }
  .how-to-sec{
    .left-part{
      h1{
        font-size: 20px;
      }
      p{
        font-size: 16px;
      }
    }
    .right-part{
      .own-box{
        height: 245px;
        p{
          font-size: 16px;
        }
        h2{
          font-size: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 1400px){
  .team-holder{
    .team-item{
      margin: 0 5px;
      padding: 20px 20px 100px;
      .img-holder{
        width: 150px;
        height: 150px;
      }
    }
  }

  .tables{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .memberships-table{
      width: 90%;
      margin-bottom: 100px;
    }
    .teams-table{
        margin-left: 0;
        max-width: 90%;
      }
  }

}


@media screen and (max-width: 1200px){
  .main-holder{
    width: calc(100% - 340px);
    padding-left: 13px;
  }

  .page-info{
    margin-top: 20px;
    }
    .text-info{
        max-width: 555px;
        h1{
          font-size: 20px;
        }
        p{
          font-size: 12px;
        }
    }
  .team-menu{
    .menu-desc{
      p{
        font-size: 15px;
      }
    }
  }
  
  .benefits-list{
    .ben-item{
      max-width: 150px;
      margin: 0 5px;
      img{
        max-height: 63px;
      }
      .text{
        margin-top: 13px;
        p{
          font-size: 13px;
        }
      }
    }
  }
  .how-to-sec{
    padding-bottom: 40px;
    .left-part{
      max-width: calc(100% - 280px);
      h1{
        font-size: 20px;
      }
      p{
        font-size: 16px;
      }
    }
    .right-part{
      min-width: 280px;
      .own-box{
        height: 235px;
        p{
          font-size: 16px;
        }
        h2{
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px){

  .main-holder{
    width: 100%;
    padding: 30px 13px 0px 10px;
  }
  .page-info{
    margin-top: 0;
    padding-bottom: 10px;
  }
}

@media screen and ( max-width: 800px )
{ 
    .text-info{
        order: 3;
        margin: 15px auto;
        text-align: center;
      }
}

@media screen and (max-width: 640px){

  .page-info{
    box-sizing: border-box;
    flex-wrap: wrap;
    .text-info{
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        order: 3;
        margin: 0;
    }
  }
  .back{
      box-sizing: border-box;
      padding: 0 10px;
      flex-basis: 23%;
      order: 1;
  }
  .bonus-info{
      flex-basis: 70%;
      order: 2;
  }
  .team-menu{
    .menu-desc{
      p{
        font-size: 14px;
        padding-bottom: 6px;
      }
    }
  }

  .team-holder{
   flex-direction: column;
   .team-item{
     width: 80%;
     margin-bottom: 270px;
   }
   .team-item:last-child{
     margin-bottom: 0px;
   }
  }
  .tables{
    .table{
      font-size: 12px;
      .coll{
        .cell:first-child{
          margin-bottom: 40px;
        }
        .cell{
          margin-bottom: 30px ;
        }
      }
    }
    .teams-table{
      .coll:first-child{
        width: 30%;
      }
    }
  }
  
  .benefits-list{
    flex-wrap: wrap;
    justify-content: center;
    .ben-item{
      max-width: 40%;
      width: 100%;
      margin: 10px 5px;
      img{
        max-height: 63px;
      }
      .text{
        margin: 13px auto 0;
        max-width: 150px;
        p{
          font-size: 13px;
        }
      }
    }
  }
  
  .how-to-sec{
    padding: 20px 0;
    flex-wrap: wrap;
    justify-content: center;
    .left-part{
      max-width: 100%;
      width: 85%;
      text-align: center;
    }
    .right-part{
      margin-top: 20px;
      .own-box{
        padding: 40px 0;
      }
    }
  }
}
@media screen and (max-width: 640px){
.main-holder{
  width: 100%;
  padding: 20px 20px 0px 20px;
}

}

@media screen and (max-width: 500px){
  .my-modal-dialog{
    .modal-content{
      .top-text{
        .heading{
          font-size: 24px;
        }
        .desc{
          font-size: 13px;
          margin: 3px 0;
        }
      }
      .content-holder{
        .heading{
          font-size: 15px;
        }
        .memb-panel{
          .text-holder{
            .heading{
              font-size: 15px;
            }
            .value{
              font-size: 13px;
            }
          }
        }
        .time-btns{
          .time-item{
            width: 31%;
            .cost{
              p{
                font-size: 12px;
                img{
                  width: 15px;
                }
              }
            }
            .desc{
              font-size: 15px;
            }
          }
        }
        .start-btn{
          .btn-item{
            p{
              font-size: 15px;
            }
          }
        }
        .info-panel{
          p{
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px){
  .tables{
    .table{
      font-size: 10px;
    }
    .memberships-table{
      width: 100%;
    }
    .teams-table{
        margin-left: 0;
        max-width: 100%;
      }
    
    .teams-table{
      .coll{
        width: 30%;
      }
      .coll:first-child{
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 400px){
  .team-menu{
    .menu-desc{
      p{
        font-size: 12px;
        padding-bottom: 5px;
      }
    }
  }
  .benefits-list{
    .ben-item{
      max-width: 70%;
      img{
        max-height: 75px;
      }
      .text{
        max-width: 200px;
        p{
          font-size: 14px;
        }
      }
    }
  }

  .tables{
    .table{
      font-size: 8px;
      padding: 10px;
    }
  }
  
  .how-to-sec{
    .left-part{
      width: 90%;
      h1{
        font-size: 22px;
      }
      p{
        line-height: 1.3;
      }
    }
    .right-part{
      min-width: 245px;
      .own-box{
        padding: 30px 0;
        p{
          font-size: 18px;
          margin: 0 0 7px 0;
        }
        h2{
          font-size: 27px;
        }
      }
    }
  }
}

@media screen and ( max-width: 480px )
{  

    .text-info{
        h1{
          font-size: 17px;
        }
        p{
          font-size: 11px;
        }
    }
    .page-info{
        .back{
            font-size: 9px;
            padding: 0 6px;
        }
    }
}