.main-holder{
  width: calc(100% - 457px);
  padding-left: 40px;
}
.main-holder{
  .box-background{
    background:linear-gradient(to bottom right, #098bb4 0%, rgba(9, 139, 180, 0) 60%);
  }
  &.IOI{
    .box-background{
      background:linear-gradient(to bottom right, #098bb4 0%, rgba(9, 139, 180, 0) 60%);
    }
    .box-shadow{
      box-shadow: 0px 0px 40px 5px rgba(8, 114, 152, 0.51);
    }
    .me{
      background:linear-gradient(90deg, rgba(8,114,152,1) 0%, rgba(7,66,87,1) 58%);
    }
    .table-row:not(.header):hover{
      background:linear-gradient(to bottom right, #098bb4 0%, rgba(255, 212, 59, 0) 60%);
    }
    .border-color{
      border: 1px solid  #098bb4;
    }
    .button-gradient{
      background:linear-gradient(to bottom right, rgba(8,114,152,1) 0%, rgba(7,66,87,1) 58%);
    }
    .graph-buttons{
      button:hover{
        background:linear-gradient(to bottom right rgba(8,114,152,1) 0%, rgba(7,66,87,1) 58%);
        color: white;
        z-index: 5;
      }
    }
    .graph{
      h4{
        background:linear-gradient(to bottom right rgba(8,114,152,1) 0%, rgba(7,66,87,1) 58%);
        color: white;
        z-index: 5;
      }
    }
    .box-content{
      button{
        background: linear-gradient(to right, #087298 50%, rgba(255,255,255,0)50%);
        border: 1px solid #087298;
        background-size: 200% 100%;
        background-position: right bottom;
      }
      button:hover{
        background-position: left bottom;
      }
    }
    .active-button{
      background:  #098bb4 !important;
    }
  }
  &.Altcoin{
    .box-background{
      background:linear-gradient(to bottom right, #18FF74 -0.12%, rgba(17, 17, 17, 0) 76%);
    }
    .box-shadow{
      box-shadow: 0px 0px 40px 5px rgba(1, 131, 79, 0.51);
    }
    .me{
      background: linear-gradient(to bottom right, rgba(1,131,79,1) 0%, rgba(7,71,45,1) 58%);
    }
    .table-row:not(.header):hover{
      background:linear-gradient(214.32deg, #18FF74 -0.12%, rgba(17, 17, 17, 0) 76%);
    }
    .border-color{
      border: 1px solid #01834F;
    }
    .button-gradient{
      background: linear-gradient(to bottom right, rgba(1,131,79,1) 0%, rgba(7,71,45,1) 58%);
    }
    .graph-buttons{
      button:hover{
        background: linear-gradient(to bottom right, rgba(1,131,79,1) 0%, rgba(7,71,45,1) 58%);
        color: white;
        z-index: 5;
      }   
    }
    .graph{
      h4{
        background: linear-gradient(to bottom right, rgba(1,131,79,1) 0%, rgba(7,71,45,1) 58%);
        color: white;
        z-index: 5;
      }
    }
    .box-content{
      button{
        background: linear-gradient(to right,#01834F 50%, rgba(255,255,255,0)50%);
        border: 1px solid #01834F;
        background-size: 200% 100%;
        background-position: right bottom;
      }
      button:hover{
        background-position: left bottom;
      }
    }
    .active-button{
      background:  #18FF74 !important;
    }
  }
  &.BTC{
    .box-background{
      background:linear-gradient(to bottom right, #FF183F -0.12%, rgba(17, 17, 17, 0) 76%);
    }
    .box-shadow{
      box-shadow: 0px 0px 40px 5px rgba(163, 43, 42, 0.51);
    }
    .me{
      background: linear-gradient(to bottom right, rgba(163,43,42,1) 0%, rgba(93,14,13,1) 58%);
    }
    .table-row:not(.header):hover{
      background:linear-gradient(to bottom right, #FF183F -0.12%, rgba(17, 17, 17, 0) 76%);
    }
    .border-color{
      border: 1px solid #FF183F;
    }
    .button-gradient{
      background: linear-gradient(to bottom right, rgba(163,43,42,1) 0%, rgba(93,14,13,1) 58%);
    }
    .graph-buttons{
      button:hover{
        background: linear-gradient(to bottom right, rgba(163,43,42,1) 0%, rgba(93,14,13,1) 58%);
        color: white;
        z-index: 5;
      }
    }
    .graph{
      h4{
        background: linear-gradient(to bottom right, rgba(163,43,42,1) 0%, rgba(93,14,13,1) 58%);
        color: white;
        z-index: 5;
      }
    }
    .box-content{
      button{
        background: linear-gradient(to right,#A32B2A 50%, rgba(255,255,255,0)50%);
        border: 1px solid #A32B2A;
        background-size: 200% 100%;
        background-position: right bottom;
      }
      button:hover{
        background-position: left bottom;
      }
    }
    .active-button{
      background:  #FF183F !important;
    }
  }
}
p{
  font-size: 16px;
  line-height: 24px;
}
h1{
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}
.page-info{
margin: 30px 0;
padding-bottom: 20px;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.back{
    cursor: pointer;
    transition: .2s;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    text-align: center;
    min-height: 132px;
    background: linear-gradient(0deg, #111111, #111111);
    box-shadow: 0px 0px 80px #000000;
    border-radius: 20px;
    p{
        line-height: 20px;
        margin-bottom: 22px;
    }
}
.back:hover{
    transform: scale(1.1);
}
.text-info{
    max-width: 812px;
    margin: 0 20px;
    h1{
      text-transform: lowercase;
    }
    h1:first-letter{
      text-transform: uppercase;
    }
     
}
.bonus-info{
    width: 448px;
    background: linear-gradient(0deg, #111111, #111111);
    box-shadow: 0px 0px 80px #000000;
    border-radius: 20px;
    min-height: 132px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    p{
        color: rgba(255, 255, 255, .4);
    }
    h5{
      font-weight: 600;
    }
    sup{
      top: -1rem;
      img{
        filter: drop-shadow(0px 0px 5px rgba(255, 216, 1, 0.3));
      }
    }
    .premium-members,.free-members{
      padding: 0 20px;
    }
    .premium-members{
      border-right: 2px solid rgba(255,255,255,.1);
    }
}
.team-menu{
  width: 100%;
  .menu-desc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p{
      margin: 0;
      font-size: 18px;
      text-align: center;
      color: #FFFFFF;
      display: block;
      width: 50%;
      padding-bottom: 15px;
      cursor: pointer;
      text-transform: uppercase;
    }
    .active{
      font-weight: 600;
    }
  }
  .menu-line{
    width: 100%;
    background: #252525;
    border: 4px solid #111111;
    box-sizing: border-box;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    .inner-line{
      border-radius: 10px;
      width: 33.333%;
      height: 4px;
      float: right;
    }
  }
}

.box-wrapper{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .box{
    position: relative;
    width: 24%;
    height: 229px;
    padding: 1px;
    border: none;
    box-shadow: 0px 0px 80px #000000;
    border-radius: 10px;
  }
}
.box-content{
  background: rgba($color: #111111, $alpha: .8);
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 80px #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  span{
    color: #84C319;
  }
  sup{
    color: white;
    opacity: .6;
    top: -1rem;
  }
  button{
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s;
    bottom: 20px;
    width: 155px;
    padding: 13px 0;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03), 2px 3px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    border: 1px solid;
  }
}
.box-name{
  position: absolute;
  top: 20px;
  left: 20px;
}
.satisfaction-wrapper{
  position: absolute;
  bottom: 10px;
  width: 90%;
}
.apply-button{
  position: absolute;
  bottom: 10px;
  width: 50%;
  padding: 13px 0;
  border-radius: 15px
}
.box-switchers{
  transition: .2s;
  position: absolute;
  bottom: -25px;
  display: flex;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  .left{
    cursor: pointer;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #FFFFFF;
    opacity: 0.1;
  }
  .right{
    cursor: pointer;
    margin: 0 5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    opacity: 0.1;
  }
}
.satisfaction-info{
  display: flex;
  justify-content: space-between;
  .desc{
    opacity: .6;
  }
  p{
    margin: 0;
  }
}
.satisfaction-rate{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.rate-icon{
  cursor: pointer;
  position: relative;
  width: 45px;
  height: 45px;
  transition: .2s;
  border-radius: 5px;
  transform: scale(.9);
  &.active{
    background: white;
    transform: scale(1);
  }
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    // animation-name: hip-hop;
    // animation-iteration-count: infinite;
    // animation-duration: 4s;
  }
}
.rate-icon:hover{
  transform: scale(1);
  animation-name: swing;
  animation-iteration-count: 1;
  animation-duration: .6s;
  &.active{
    animation-name: none;
  }
}

@-webkit-keyframes swing {
  20% {
      -webkit-transform: rotateZ(-25deg) scale(1);
  }
  40% {
      -webkit-transform: rotateZ(25deg) scale(1);
  }
  60% {
      -webkit-transform: rotateZ(-20deg) scale(1);
  }
  80% {
      -webkit-transform: rotateZ(5deg) scale(1);
  }
  100% {
      -webkit-transform: rotateZ(0deg) scale(1);
  }
}

@-webkit-keyframes hip-hop {
  0% {
    transform: translate(-50%,-50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%,-70%) rotate(-180deg);
  }
  50% {
    transform: translate(-50%,-50%) rotate(-360deg);
  }
  100% {
    transform: translate(-50%,-50%) rotate(0deg);
  }
}
.content-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.leaderboard{
  position: relative;
  width: 49%;
  background: linear-gradient(0deg, #111111, #111111);
  box-shadow: 0px 0px 80px #000000;
  border-radius: 20px;
}
.table{
  margin-bottom: 80px;
  position: relative;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.table-row{
    z-index: 1;
    width: 85%;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: .2s;
    border-radius: 15px;
    padding-right: 30px;
}
.table-row:not(.header):hover{
    font-weight: 600;
}
.placement{
    font-weight: 600;
    height: 35px;
    width: 35px;
    border-radius: 10px;
    display: inline-block;
    padding: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    background:  linear-gradient(152.86deg, #59ECD5 -6.47%, rgba(17, 17, 17, 0) 87.12%);
    span{
        display: block;
        background: #111111;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}
.header{
    font-weight: 600;
    div{
        display: flex;
        text-align: center;
        justify-content: center;
        width: 20%;
    }
    div:first-child{
        width: 30px;
    }
}
.cell{
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        margin: auto 0;
    }
}
.cell:first-child{
    width:35px;
}
.me{
    box-shadow: 0px 0px 20px rgba(255, 212, 59, 0.2);
    border-radius: 10px;
    font-weight: 600;
    .cell:first-child{
        position: relative;
        p{
            left: -40px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
        }
    }
}

.ioi-volume{
  margin: 30px auto;
  width: 215px;
  padding: 2px;
  background:linear-gradient(152.86deg, #59ECD5 -6.47%, rgba(17, 17, 17, 0) 87.12%);
  border-radius: 20px;
  span{
    background: rgba($color: #111111, $alpha: 0.8);
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px 0;
    border-radius: 20px;
    h4{
      font-weight: 600;
      margin: 0;
    }
  }
}

.leaderboard{
  .arrows{
    cursor: pointer;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .arrow-left, .arrow-right{
    transition: .2s;
    margin: 0 15px;
  }
  .arrow-left:hover, .arrow-right:hover{
    transform: scale(1.2);
  }
  .arrow-active{
    background: linear-gradient(132.96deg, #26137F 35.97%, #240B36 733.15%),
    linear-gradient(0deg, #23FBFF, #23FBFF);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.graph-wrapper{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 49%;
  h4{
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px 30px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
  }
}

.graph{
  position: relative;
  width: 100%;
}
.graph-buttons{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  button{
    transition: .2s;
    width: 155px;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255,255,255,0.6);
    background: #111111;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03), 2px 3px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 10px 0;
  }
  button:first-of-type{
    margin-right: -10px;
  }
  button:last-of-type{
    margin-left: -10px;
  }
  .active{
    position: relative;
    z-index: 2;
    color: rgba(255,255,255,1);
  }
}
.tip-heading{
  position: relative;
  z-index: 5;
  padding-top: 40px;
  padding-bottom: 20px;
}

.tip {
  margin-top: auto;
  position: relative;
  width: 100%;
  h5{
    margin: 0;
    font-weight: 600;
  }
  .edit-icon{
    cursor: pointer;
    transition: .2s;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 5;
  }
  .edit-icon:hover{
    transform: scale(1.1);
  }
}
.tip-wrapper{
  width: 80%;
  padding: 1px;
  border-radius:20px ;
  h5{
    margin: 0;
    font-weight: 600;
  }
  p{
    margin: 0;
  }
  .tip-border{
    padding: 25px;
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: 0px 0px 80px #000000;
    border-radius: 20px;
    background: rgba($color: #111111, $alpha: 0.8);
    .tip-item:first-child{
      margin-top: 0px;
    }
    .tip-item:last-child{
      margin-bottom: 0px;
    }
  }
}
.tip-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 22px 0;
  .up{
    color:#84C319;
  }
  .down{
    color: #23FFFF;
  }
  span{
    opacity: .6;
  }
}
.tip-stats{
  display: flex;
  align-items: center;
  img{
    width: 50px;
    height: 50px;
    margin-right: 30px;
  }
}

.raiting{
  transition: .2s;
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 0px;
  img{
    cursor: pointer;
    opacity: .6;
    margin: 0 10px;
  }
  .active{
    opacity: 1;
  }
  img:hover{
    opacity: 1;
    transform: scale(1.07);
  }
}


.daily-modal-holder{
  position: fixed;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000002;
  overflow: auto;
  .daily-modal-back{
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(17,17,17,.9);
  }
  .daily-modal-content{
      padding: 35px 20px 20px;
      background: #111;
      border-radius: 15px;
      position: absolute;
      z-index: 2;
      width: 100%;
      max-width: 960px;
      background: #111111;
      border-radius: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &.bigger{
        max-width: 1146px;
      }
      .close-modal{
          position: absolute;
          top: 20px;
          right: 20px;
          padding: 10px;
          cursor: pointer;
          transition: 0.2s;
          z-index: 10;
          &:hover{
              transform: rotate(90deg);
          }
      }
      .header-holder{
        padding: 0 15px;
        max-width: 82%;
        margin: 20px auto 0;
        text-align: center;
        .heading{
            font-weight: 600;
            font-size: 20px;
            margin: 0 0 10px 0;
            position: relative;
            width: 100%;
            .flame-img{
                width: 30px;
            }
            .edit-icon{
              position: absolute;
              right: 10px;
              cursor: pointer;
            }
        }
        .text{
            font-size: 16px;
            font-weight: 400;
            margin: 0;
        }
    }
  }
  @media screen and (max-width: 1550px){
    .daily-modal-content{
      padding: 30px 16px 16px;
      max-width: 870px;
      &.bigger{
        max-width: 910px;
      }
      .close-modal{
        top: 15px;
        right: 5px;
      }
      .header-holder{
        max-width: 87%;
        margin: 15px auto 0;
        .heading{
          font-size: 18px;
          .flame-img{
            width: 26px;
          }
          .edit-icon{
            width: 22px;
          }
        }
        .text{
          font-size: 14px;
        }
      }
    }
  }
  @media screen and (max-width: 640px){
    .daily-modal-content{
      padding: 20px 10px 10px;
      max-width: 97%;
      .close-modal{
        top: 10px;
        right: 0px;
        width: 34px;
      }
      .header-holder{
        max-width: 92%;
        .heading{
          font-size: 16px;
          .flame-img{
            width: 22px;
          }
          .edit-icon{
            width: 19px;
          }
        }
        .text{
          font-size: 13px;
        }
      }
    }
  }
}




@media screen and (max-width: 1680px){
  .graph-buttons{
    button{
      width: 100px;
      font-size: 14px;
      padding: 5px 0
    }
  }
}















@media screen and (max-width: 1550px){
  p{
      font-size: 12px;
  }
  h1{
      font-size: 25px;
  }
  h4{
    font-size: 18px;
  }
  h5{
    font-size: 16px;
  }
  .main-holder{
    width: calc(100% - 380px);
    padding-left: 20px;
  }
  .team-menu{
    .menu-desc{
      p{
        font-size: 17px;
        padding-bottom: 10px;
      }
    }
  }
  .rate-icon{
    width: 35px;
    height: 35px;
  }
  .text-info{
    max-width: 555px;
    margin: 0 10px;
    h1{
      font-size: 26px;
      margin: 5px 0 7px;
    }
    p{
      font-size: 13px;
    }
   }
  .page-info{
    margin: 0;
    padding-bottom: 20px;
    .back{
        min-height: 120px;
    }
  }
  .bonus-info{
    min-height: 120px;
    width: 450px;
    h4{
      font-size:16px ;
    }
    .premium-members,.free-members{
      padding: 0 7px;
    }
  }

  .box-content{
    button{
      width: 110px;
      font-size: 14px;
    }
  }
  .table{
    margin-bottom: 30px;
  }
  .leaderboard{
    .arrows{
      bottom: -5px;
    }
  }
  .ioi-volume{
    margin: 20px auto;
    width: 170px;
    border-radius: 15px;
    span{
      padding: 15px 0;
      border-radius: 15px;
    }
  }

  .table-row{
    margin-bottom: 3px auto;
  }
  .me{
    .cell:first-child{
        p{
            left: -25px;
        }
    }
  }

  .tip-stats{
    img{
      width: 35px;
      height: 35px;
      margin-right: 15px;
    }
  }

  .raiting{
    img{
      width: 24px;
      height: 21.1px;
      cursor: pointer;
      opacity: .6;
      margin: 0 6px;
    }
  }
  .tip-heading{
    padding-top: 15px;
    padding-bottom: 15px;
    img{
      width: 20px;
    }
  }
  .tip{
    .edit-icon{
      width: 20px;
      top: 15px;
    }
  }
}


@media screen and (max-width: 1200px){
    .main-holder{
      width: calc(100% - 340px);
      padding-left: 13px;
    }
    .page-info{
      margin-top: 20px;
    }
    .text-info{
        max-width: 555px;
        h1{
          font-size: 20px;
        }
        p{
          font-size: 12px;
        }
    }
    .team-menu{
      .menu-desc{
        p{
          font-size: 15px;
        }
      }
    }

  .placement{
      height: 25px;
      width: 25px;
      font-size: 10px;
      border-radius: 7px;
      span{
        border-radius: 7px;
      }
  }
  .cell:first-child{
    width:25px;
  }
  .table-row{
    p{
      margin-bottom: 0;
    }
    width: 88%;
    padding-right: 10px;
    margin-left: auto;
  }
  .me{
    .cell:first-child{
        p{
            left: -22px;
        }
    }
  }

  .tip-wrapper{
    .tip-border{
      padding: 15px;
    }
  }

  .raiting{
    img{
      width: 20px;
      height: 17.6px;
      margin: 0 4px;
    }
  }

  .tip-stats{
    img{
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  .graph-buttons{
    button{
      width: 80px;
      font-size: 14px;
      padding: 5px 0
    }
  }

}

@media screen and (max-width: 1024px){
  
    .main-holder{
      width: 100%;
      padding: 30px 10px 0px 10px;
  }
    .page-info{
      margin-top: 0;
      padding-bottom: 10px;
  }

}
@media screen and ( max-width: 911px )
{ 
    .bonus-info{
      sup{
        img{
          width: 15px;
        }
      }
      div{
        padding: 0 7px;
      }
    }
}

@media screen and ( max-width: 800px )
{ 
    .text-info{
        margin: 15px auto;
        text-align: center;
      }
      .bonus-info{
        h4{
          font-size: 14px;
          
        }
        p{
          font-size: 12px;
        }
      }

      .box-wrapper{
        flex-wrap: wrap;
        .box{
          width: 49%;
          margin-bottom: 40px;
        }
      }
}
@media screen and (max-width: 780px){
  .content-wrapper{
    flex-direction: column;
  }
  .leaderboard{
    width: 100%;
    order: 2;
  }
  .graph-wrapper{
    order: 1;
    width: 100%;
  }
  .tip{
    margin: 40px 0;
  }

  .me{
    .cell:first-child{
        p{
            left: -28px;
        }
    }
  }
}

@media screen and (max-width: 640px){

  .page-info{
    box-sizing: border-box;
    flex-wrap: wrap;
    .text-info{
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        order: 3;
        margin: 0;
    }
  }
  .back{
      box-sizing: border-box;
      padding: 0 10px;
      flex-basis: 23%;
      order: 1;
  }
  .bonus-info{
      flex-basis: 70%;
      order: 2;
  }
    .team-menu{
      .menu-desc{
        p{
          font-size: 14px;
          padding-bottom: 6px;
        }
      }
    }
} 

@media screen and ( max-width: 550px ){
  .me{
    .cell:first-child{
        p{
            left: -23px;
        }
    }
  }
}

@media screen and ( max-width: 480px )
{  

    .text-info{
        h1{
          font-size: 17px;
        }
        p{
          font-size: 11px;
        }
    }
    .page-info{
        .back{
            font-size: 9px;
            padding: 0 6px;
        }
    }
}

@media screen and ( max-width: 480px ){ 
  .box-wrapper{
    justify-content: center;
    .box{
      width: 90%;     
    }
  }
}

@media screen and ( max-width: 450px ){

  .cell{
    width: 25%;
  }
  .me{
    .cell:first-child{
        p{
           display: none;
        }
    }
  }
  .table-row{
    width: 96%;
    padding-right: 5px;
  }

  .graph-buttons{
    button{
      width: 70px;
      font-size: 12px;
      padding: 4px 0;
    }
    button:first-of-type{
      margin-right: -6px;
    }
    button:last-of-type{
      margin-left: -6px;
    }
  }

}