* {
  color: white;
}

:host {
  width: 100%;
}

.main-holder {
  width: calc(100% - 40px);
  height: calc(100vh - 80px);
  padding: 40px 0px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.my-heading {
  font-weight: 900;
  font-size: 24px;
  font-family: Earth Orbiter;
  margin: 0 0 10px 0;
}

.top-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  .team-info {
    width: calc(70% - 20px);
    margin-bottom: 30px;
    .info-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 28px 20px;
      background: rgba(17, 17, 17, 0.85);
      .info-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &.team-name {
          .img-holder {
            width: 70px;
          }
        }
        .img-holder {
          width: 40px;
          position: relative;
          img {
            width: 100%;
          }
          .badge-name {
            top: 44.5%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            max-width: 100%;
            width: 100%;
            z-index: 2;
            text-align: center;
            p {
              text-transform: uppercase;
              font-size: 9px;
              font-weight: 900;
              color: rgba(255, 255, 255, 0.5);
              margin: 0;
              line-height: 1;
              &.name {
                font-size: 12px;
              }
            }
          }
        }
        .text-holder {
          margin-left: 25px;
          p {
            white-space: nowrap;
            margin: 0;
            &.value {
              font-size: 36px;
              font-family: Earth Orbiter;
              line-height: 1;
              font-weight: 700;
            }
            &.desc {
              font-size: 16px;
              opacity: 0.6;
            }
            img {
              width: 30px;
            }
          }
        }
      }
    }
  }
  .manager-holder {
    width: calc(30% - 20px);
    .inner-holder {
      background: rgba(17, 17, 17, 0.85);
      height: 130px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 50px 10px 40px;
      position: relative;
      .manager-switchers {
        position: absolute;
        z-index: 3;
        cursor: pointer;
        width: 100%;
        bottom: -4px;
        left: 0;
        transform: translateY(100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .switch-item {
          width: 49%;
          height: 2px;
          &.inactive {
            background: rgba(255, 255, 255, 0.15);
          }
        }
      }
      .text-box {
        display: flex;
        justify-content: center;
        align-items: center;
        .text-holder {
          margin-left: 30px;
          &.stars {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              margin: 0 3px;
              cursor: pointer;
            }
          }
          p {
            margin: 0;
            &.value {
              font-size: 36px;
              line-height: 1;
              font-family: Earth Orbiter;
              font-weight: 700;
            }
            &.desc {
              font-size: 16px;
              opacity: 0.6;
            }
          }
        }
      }
      .btn-box {
        button {
          font-size: 16px;
          font-weight: 400;
          padding: 13px 22px;
        }
      }
      .manage-window {
        position: absolute;
        bottom: -14px;
        right: 0;
        transform: translate(100%, 100%);
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
        background: rgba(17, 17, 17, 1);
        padding: 20px 30px;
        min-height: 365px;
        max-height: 365px;
        overflow: auto;
        z-index: 5;
        &.opened {
          pointer-events: all;
          opacity: 1;
          transform: translate(0, 100%);
        }
        .heading-switcher {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          position: relative;
          .my-heading {
            margin-right: 25px;
            cursor: pointer;
            &.inactive {
              opacity: 0.4;
            }
          }
          .close-window {
            font-size: 40px;
            opacity: 0.4;
            cursor: pointer;
            line-height: 1;
            position: absolute;
            right: 0;
            padding: 5px;
            top: 40%;
            transform: translateY(-50%) rotate(45deg);
            transition: 0.15s;
            &:hover {
              opacity: 0.7;
            }
          }
        }
        .manage-item {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          height: 50px;
          margin: 10px 0;
          .text-holder {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 68%;
            height: 100%;
            p {
              margin: 0;
            }
            .name {
              font-family: Earth Orbiter;
              font-size: 22px;
            }
            .rating-text {
              text-align: right;
              .value {
                font-weight: 600;
                font-size: 16px;
              }
              .desc {
                font-size: 14px;
                color: #868686;
              }
            }
          }
          .action-btn {
            width: 26%;
            height: 100%;
            transition: 0.15s;
            &:hover {
              transform: scale(1.04);
            }
          }
          &.applicat {
            .text-holder {
              width: 50%;
            }
          }
          .btns-holder {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
              width: 48%;
              height: 100%;
              font-size: 16px;
              transition: 0.15s;
              &.inactive {
                background: rgba(255, 255, 255, 0.15);
              }
              &:hover {
                transform: scale(1.04);
              }
            }
          }
        }
        .disclaim {
          font-size: 16px;
          max-width: 80%;
          margin: 15px auto;
          text-align: center;
        }
      }
    }
  }
  .team-mid-holder {
    width: calc(70% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .lead-holder {
      width: calc(60% - 20px);
      .lead-cont-holder {
        width: 100%;
        .table-row {
          height: 40px;
          &.header {
            margin-bottom: 4px;
          }
          .table-item {
            p {
              width: 100%;
            }
          }
        }
      }
    }
    .tip-holder {
      width: calc(40% - 20px);
      .my-heading {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          cursor: pointer;
        }
      }
    }
  }
  .turnover-holder {
    width: calc(30% - 20px);
    .heading-switcher {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      p {
        margin-right: 30px;
        cursor: pointer;
      }
    }
    .inner-holder {
      height: 304px;
      background: rgba(17, 17, 17, 0.85);
      width: 100%;
      position: relative;
      .soon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .graph-holder {
        opacity: 0.6;
        .chart-cont{
          height: 300px;
        }
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .main-holder {
    width: calc(100% - 20px);
    height: calc(100vh - 80px);
    padding: 30px 0px 30px 20px;
  }
  .my-heading {
    font-size: 21px;
    margin: 0 0 8px 0;
  }
  .top-content {
    .team-info {
      .info-box {
        padding: 26px 17px;
        .info-item {
          &.team-name {
            .img-holder {
              width: 60px;
            }
          }
          .img-holder {
            width: 35px;
          }
          .text-holder {
            p {
              &.value {
                font-size: 30px;
              }
              &.desc {
                font-size: 15px;
              }
              img {
                width: 25px;
              }
            }
          }
        }
      }
    }
    .manager-holder {
      .inner-holder {
        padding: 8px 40px 8px 30px;
        height: 115px;
        .text-box {
          .img-holder {
            width: 34px;
          }
          .text-holder {
            &.stars {
              img {
                width: 32px;
              }
            }
            p {
              &.value {
                font-size: 30px;
              }
              &.desc {
                font-size: 15px;
              }
            }
          }
        }
        .btn-box {
          button {
            font-size: 15px;
            padding: 12px 20px;
          }
        }
        .manage-window {
          min-height: 324px;
          max-height: 324px;
          .manage-item {
            height: 43px;
            .text-holder {
              .name {
                font-size: 20px;
              }
              .rating-text {
                .value {
                  font-size: 15px;
                }
                .desc {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
    .team-mid-holder {
      .lead-holder {
        .lead-cont-holder {
          .table-row {
            height: 35px;
          }
        }
      }
    }
    .turnover-holder {
      .inner-holder {
        height: 269px;
        .graph-holder{
          .chart-cont{
            height: 250px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .main-holder {
    width: calc(100% - 15px);
    height: calc(100vh - 65px);
    padding: 20px 0px 22px 15px;
  }
  .my-heading {
    font-size: 19px;
    margin: 0 0 5px 0;
  }
  .top-content {
    .team-info {
      margin-bottom: 20px;
      .info-box {
        padding: 23px 17px;
        .info-item {
          &.team-name {
            .img-holder {
              width: 50px;
            }
          }
          .img-holder {
            width: 30px;
            .badge-name {
              p {
                font-size: 7px;
                &.name {
                  font-size: 9px;
                }
              }
            }
          }
          .text-holder {
            p {
              &.value {
                font-size: 26px;
              }
              &.desc {
                font-size: 14px;
              }
              img {
                width: 22px;
              }
            }
          }
        }
      }
    }
    .manager-holder {
      .inner-holder {
        padding: 6px 35px 6px 25px;
        height: 98px;
        .text-box {
          .img-holder {
            width: 30px;
          }
          .text-holder {
            &.stars {
              margin-left: 20px;
              img {
                width: 28px;
              }
            }
            p {
              &.value {
                font-size: 26px;
              }
              &.desc {
                font-size: 14px;
              }
            }
          }
        }
        .btn-box {
          button {
            font-size: 14px;
            padding: 11px 17px;
          }
        }
        .manage-window {
          min-height: 291px;
          max-height: 291px;
          .manage-item {
            height: 40px;
            .text-holder {
              .name {
                font-size: 18px;
              }
              .rating-text {
                .value {
                  font-size: 14px;
                }
                .desc {
                  font-size: 13px;
                }
              }
            }
            .action-btn {
              font-size: 14px;
            }
            .btns-holder {
              button {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .team-mid-holder {
      .lead-holder {
        .lead-cont-holder {
          .table-row {
            height: 32px;
          }
        }
      }
      .tip-holder {
        .my-heading {
          img {
            width: 20px;
          }
        }
      }
    }
    .turnover-holder {
      .inner-holder {
        height: 248px;
        .graph-holder{
          .chart-cont{
            height: 225px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .my-heading {
    font-size: 17px;
  }
  .top-content {
    .team-info {
      margin-bottom: 15px;
      .info-box {
        padding: 22px 17px;
        .info-item {
          &.team-name {
            .img-holder {
              width: 45px;
            }
          }
          .img-holder {
            width: 27px;
          }
          .text-holder {
            p {
              &.value {
                font-size: 23px;
              }
              &.desc {
                font-size: 13px;
              }
              img {
                width: 20px;
              }
            }
          }
        }
      }
    }
    .manager-holder {
      .inner-holder {
        padding: 5px 30px 5px 22px;
        height: 91px;
        .text-box {
          .img-holder {
            width: 30px;
          }
          .text-holder {
            margin-left: 10px;
            &.stars {
              margin-left: 15px;
              img {
                width: 20px;
              }
            }
            p {
              &.value {
                font-size: 23px;
              }
              &.desc {
                font-size: 13px;
              }
            }
          }
        }
        .btn-box {
          button {
            font-size: 13px;
            padding: 10px 13px;
          }
        }
        .manage-window {
          min-height: 265px;
          max-height: 265px;
          padding: 10px 15px;
          .heading-switcher {
            .my-heading {
              margin-right: 11px;
            }
          }
          .manage-item {
            .text-holder {
              .name {
                font-size: 16px;
              }
              .rating-text {
                .value {
                  font-size: 12px;
                }
                .desc {
                  font-size: 11px;
                }
              }
            }
            .action-btn {
              font-size: 13px;
            }
            .btns-holder {
              button {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
    .team-mid-holder {
      .lead-holder {
        .lead-cont-holder {
          .table-row {
            height: 30px;
          }
        }
      }
    }
    .turnover-holder {
      .inner-holder {
        height: 234px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-holder {
    width: calc(100% - 15px);
    padding: 15px 0px 15px 15px;
  }
  .my-heading {
    font-size: 15px;
  }
  .top-content {
    .team-info {
      margin-bottom: 13px;
      width: calc(70% - 10px);
      .info-box {
        padding: 20px 14px;
        .info-item {
          &.team-name {
            .img-holder {
              width: 40px;
            }
          }
          .img-holder {
            width: 27px;
          }
          .text-holder {
            margin-left: 10px;
            p {
              &.value {
                font-size: 20px;
              }
              &.desc {
                font-size: 11px;
              }
              img {
                width: 16px;
              }
            }
          }
        }
      }
    }
    .manager-holder {
      width: calc(30% - 10px);
      .inner-holder {
        padding: 5px 20px 5px 15px;
        height: 91px;
        .text-box {
          .img-holder {
            width: 20px;
          }
          .text-holder {
            margin-left: 5px;
            &.stars {
              margin-left: 10px;
              img {
                width: 16px;
              }
            }
            p {
              &.value {
                font-size: 20px;
              }
              &.desc {
                font-size: 11px;
              }
            }
          }
        }
        .btn-box {
          button {
            font-size: 11px;
            padding: 8px 10px;
          }
        }
        .manager-switchers {
          bottom: -1px;
        }
        .manage-window {
          min-height: 256px;
          max-height: 256px;
          padding: 8px 12px;
          bottom: -8px;
          .heading-switcher {
            .my-heading {
              margin-right: 8px;
            }
            .close-window {
              font-size: 29px;
            }
          }
          .manage-item {
            .text-holder {
              .name {
                font-size: 15px;
              }
              .rating-text {
                .value {
                  font-size: 11px;
                }
                .desc {
                  font-size: 9px;
                }
              }
            }
            .action-btn {
              font-size: 12px;
            }
            .btns-holder {
              button {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .team-mid-holder {
      width: calc(70% - 10px);
      .lead-holder {
        width: calc(60% - 10px);
        .lead-cont-holder {
          .table-row {
            height: 30px;
          }
        }
      }
      .tip-holder {
        width: calc(40% - 10px);
      }
    }
    .turnover-holder {
      width: calc(30% - 10px);
      .inner-holder {
        height: 234px;
      }
    }
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .main-holder {
    width: calc(100% - 15px);
    padding: 15px 0px 15px 15px;
    height: unset;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .main-holder {
    height: calc(100vh - 45px);
  }
  .my-heading {
    font-size: 10px;
    margin: 0 0 2px 0;
  }
  .top-content {
    .team-info {
      margin-bottom: 5px;
      width: calc(70% - 5px);
      .info-box {
        padding: 8px 7px;
        .info-item {
          &.team-name {
            .img-holder {
              width: 25px;
              .badge-name {
                .name {
                  font-size: 5px;
                }
                .team {
                  font-size: 4px;
                }
              }
            }
          }
          .img-holder {
            width: 17px;
          }
          .text-holder {
            margin-left: 5px;
            p {
              &.value {
                font-size: 15px;
              }
              &.desc {
                font-size: 9px;
              }
              img {
                width: 12px;
              }
            }
          }
        }
      }
    }
    .manager-holder {
      width: calc(30% - 5px);
      .inner-holder {
        padding: 4px 10px 4px 9px;
        height: 44px;
        .text-box {
          .img-holder {
            width: 20px;
          }
          .text-holder {
            margin-left: 5px;
            p {
              &.value {
                font-size: 15px;
              }
              &.desc {
                font-size: 9px;
              }
            }
          }
        }
        .btn-box {
          button {
            font-size: 9px;
            padding: 6px 8px;
          }
        }
        .manage-window {
          min-height: 220px;
          max-height: 220px;
          padding: 5px 9px;
          bottom: -4px;
          .heading-switcher {
            .my-heading {
              margin-right: 6px;
            }
            .close-window {
              font-size: 22px;
            }
          }
          .manage-item {
            height: 30px;
            .text-holder {
              .name {
                font-size: 12px;
              }
              .rating-text {
                .value {
                  font-size: 9px;
                }
                .desc {
                  font-size: 7px;
                }
              }
            }
            .action-btn {
              font-size: 10px;
            }
            .btns-holder {
              button {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
    .team-mid-holder {
      width: calc(70% - 5px);
      .lead-holder {
        width: calc(60% - 5px);
        .lead-cont-holder {
          .table-row {
            height: 17px;
            .table-item {
              p {
                font-size: 8px;
                img {
                  width: 10px;
                }
              }
            }
          }
        }
      }
      .tip-holder {
        width: calc(40% - 5px);
        .my-heading {
          img {
            width: 13px;
          }
        }
      }
    }
    .turnover-holder {
      width: calc(30% - 5px);
      .inner-holder {
        height: 160px;
        .graph-holder{
          .chart-cont{
            height: 160px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .main-holder {
    height: calc(100vh - 40px);
    width: calc(100% - 10px);
    padding: 5px 0px 5px 10px;
  }
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  .main-holder {
    height: calc(100vh - 40px);
    width: calc(100% - 10px);
    padding: 2px 0px 2px 10px;
  }
  .my-heading {
    font-size: 8px;
  }
  .top-content {
    .team-info {
      margin-bottom: 3px;
      width: calc(70% - 2px);
      .info-box {
        padding: 4px 5px;
        .info-item {
          &.team-name {
            .img-holder {
              width: 20px;
            }
          }
          .img-holder {
            width: 13px;
          }
          .text-holder {
            margin-left: 3px;
            p {
              &.value {
                font-size: 12px;
              }
              &.desc {
                font-size: 6px;
              }
              img {
                width: 10px;
              }
            }
          }
        }
      }
    }
    .manager-holder {
      width: calc(30% - 2px);
      .inner-holder {
        padding: 3px 8px 3px 7px;
        height: 32px;
        .text-box {
          .img-holder {
            width: 15px;
          }
          .text-holder {
            margin-left: 3px;
            p {
              &.value {
                font-size: 12px;
              }
              &.desc {
                font-size: 6px;
              }
            }
          }
        }
        .btn-box {
          button {
            font-size: 8px;
            padding: 4px 8px;
          }
        }
        .manage-window {
          padding: 4px 7px;
          .heading-switcher {
            .my-heading {
              margin-right: 4px;
            }
            .close-window {
              font-size: 18px;
            }
          }
          .manage-item {
            height: 25px;
            .text-holder {
              .name {
                font-size: 10px;
              }
              .rating-text {
                .value {
                  font-size: 8px;
                }
                .desc {
                  font-size: 5px;
                }
              }
            }
            .action-btn {
              font-size: 9px;
            }
            .btns-holder {
              button {
                font-size: 7px;
              }
            }
          }
        }
      }
    }
    .team-mid-holder {
      width: calc(70% - 2px);
      .lead-holder {
        width: calc(60% - 2px);
        .lead-cont-holder {
          .table-row {
            height: 14px;
            .table-item {
              p {
                font-size: 6px;
                img {
                  width: 9px;
                }
              }
            }
          }
        }
      }
      .tip-holder {
        width: calc(40% - 2px);
        .my-heading {
          img {
            width: 10px;
          }
        }
      }
    }
    .turnover-holder {
      width: calc(30% - 2px);
      .heading-switcher {
        p {
          margin-right: 12px;
        }
      }
      .inner-holder {
        height: 130px;
        .soon {
          font-size: 10px;
          z-index: 3;
        }
        .graph-holder{
          .chart-cont{
            height: 130px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .main-holder {
    width: calc(100% - 10px);
    height: unset;
    padding: 10px 0px 0px 10px;
  }
  .top-content {
    .team-info {
      width: 100%;
      order: 1;
      overflow-x: auto;
      overflow-y: hidden;
      margin-bottom: 10px;
      .info-box {
        min-width: 620px;
      }
    }
    .manager-holder {
      width: 100%;
      order: 2;
      margin-bottom: 10px;
      .inner-holder {
        padding: 7px 30px 7px 20px;
        height: 105px;
        .text-box {
          .img-holder {
            width: 35px;
          }
          .text-holder {
            margin-left: 15px;
          }
        }
        .btn-box {
          button {
            font-size: 13px;
            padding: 10px 17px;
          }
        }
        .manage-window {
          right: 0;
          left: unset;
          transform: translate(100%, 100%);
        }
      }
    }
    .team-mid-holder {
      width: 100%;
      order: 3;
      margin: 0;
      flex-wrap: wrap;
      .lead-holder {
        width: 100%;
        margin-bottom: 10px;
      }
      .tip-holder {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .turnover-holder {
      width: 100%;
      order: 4;
    }
    .rewards-holder {
      margin-top: 10px;
    }
  }
}

//CONTENT TO CSS AT THE BOTTOM!
.content-title {
  display: flex;
  align-items: center;
  height: 80px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  cursor: pointer;
  img {
    width: 21px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.09em;
    font-family: Earth Orbiter;
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

@media screen and(max-width: 1700px) {
  .content-title {
    img {
      width: 17px;
    }
    p {
      font-size: 26px;
    }
  }
}
@media screen and(max-width: 1550px) {
  .content-title {
    height: 65px;
    img {
      width: 15px;
    }
    p {
      font-size: 22px;
    }
  }
}
@media screen and(max-width: 1024px) {
  .content-title {
    img {
      width: 13px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content-title {
    height: 40px;
  }
}
@media screen and(max-width: 700px) and (orientation: landscape) {
  .content-title {
    img {
      width: 8.5px;
    }
    p {
      font-size: 9px;
      margin-left: 5px;
    }
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .content-title {
    img {
      width: 10px;
    }
    p {
      font-size: 17px;
    }
  }
}
