* {
  margin: 0px;
  padding: 0px;
}
.title {
  margin-bottom: 20px;
}
h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #868686;
}

.overview-content {
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
}
.left-content {
  width: 34%;

  display: flex;
  flex-direction: column;

  .left-column {
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .my-nfts {
    .nfts-box {
      height: 230px;
      background: #222222;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      h2 {
        margin-top: 5px;
      }
      p {
        margin-top: 4px;
      }
    }
  }
  .box-animation {
    animation: box-enter 5.5s;
    -webkit-animation: box-enter 5.5s;
  }
  @keyframes box-enter {
    0% {
      opacity: 0;
      transform: translateX(-500px);
      -webkit-transform: translateX(-500px);
      -moz-transform: translateX(-500px);
      -ms-transform: translateX(-500px);
      -o-transform: translateX(-500px);
    }
    10% {
      opacity: 1;
      transform: translateX(0px);
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }
    80% {
      opacity: 1;
      transform: translateX(0px);
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
    }

    100% {
      opacity: 0;
      transform: translateX(500px);
      -webkit-transform: translateX(500px);
      -moz-transform: translateX(500px);
      -ms-transform: translateX(500px);
      -o-transform: translateX(500px);
    }
  }
  .details {
    .detail-box {
      overflow: hidden;
      position: relative;
      height: 358px;
      background: #222222;
      border-radius: 15px;
      display: flex;
      flex-direction: column;

      align-items: center;
      text-align: center;
      .box {
        display: flex;
        flex-direction: column;

        align-items: center;
        text-align: center;
      }
      .racers {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        .left-side {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .detail-img {
            width: 350px;
            max-width: 350px;
          }
        }
        .right-side {
          width: 50%;
          display: flex;
          flex-direction: column;
          .detail-title {
            margin-top: 40px;
          }
          .values-racers {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;

            .left-value {
              margin-bottom: 10px;
              margin-right: 0px;
            }
            .middle {
              width: 0px;

              height: 0px;
              width: 25%;
              border: 1px solid #868686;
            }
            .right-value {
              margin-left: 0px;
              margin-top: 10px;
            }
          }
        }
      }
      .detail-title {
        margin-top: 30px;
      }
      .detail-img {
        margin-top: 20px;
        width: 300px;
        position: relative;
        .badge-name {
          top: 45%;
          left: 49%;
          transform: translate(-50%, -50%);
          position: absolute;
          max-width: 100%;
          width: 100%;
          z-index: 2;
          p {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 900;
            color: rgba(255, 255, 255, 0.5);
            text-align: center;
            line-height: 1;
            &.name {
              font-size: 20px;
            }
          }
        }
        &.track {
          width: 180px;
        }
        &.team {
          margin-top: -5px;
          width: 160px;
          height: 160px;
        }
      }
      .values {
        margin-top: 20px;
        display: flex;
        position: relative;
        align-items: center;

        .left-value {
          margin-right: 25px;
        }
        .middle {
          width: 0px;

          height: 60%;
          border: 1px solid #868686;
        }
        .right-value {
          margin-left: 25px;
        }
      }
      .changer {
        width: 100%;
        display: flex;

        justify-content: center;
        position: absolute;
        bottom: 20px;
        .dot {
          cursor: pointer;
          margin: 5px 7px;
          width: 6px;
          height: 6px;

          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          &.inactive {
            background: #868686;
          }
        }
      }
    }
  }
}
.right-content {
  width: 64%;
  margin-left: 2%;
  .complete-details {
    padding: 25px;
    height: 680px;
    background: #222222;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    .complete-upper {
      display: flex;
      height: 50%;

      .graph {
        width: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .middle-graph {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 190px;
          height: 190px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: radial-gradient(
              138.03% 106.92% at 18.04% -9.43%,
              #494949 0%,
              #111111 100%
            ),
            #111111;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          h2 {
            margin-bottom: 10px;
          }
        }
        .pie {
          width: 270px;
          height: 270px;
        }
      }
      .legend {
        width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .legend-item {
          width: 220px;
          text-align: left;
          display: flex;
          margin-top: 20px;
          &.first {
            margin-top: 0px;
          }
          .legend-dot {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin-right: 25px;
          }
        }
      }
    }
    .complete-lower {
      height: 50%;

      .stakes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .total-stakes,
        .daily-stakes {
          width: 33.33%;
          text-align: center;

          .stake-heading {
            margin: 20px 0;
          }
          div {
            margin: 10px 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1550px) {
  h2 {
    font-size: 17px;
    line-height: 25px;
  }
  h3 {
    font-size: 14px;
    line-height: 20px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media screen and (max-width: 1350px) {
  h2 {
    font-size: 16px;
    line-height: 22px;
  }
  h3 {
    font-size: 13px;
    line-height: 18px;
  }

  p {
    font-size: 13px;
    line-height: 18px;
  }
  .right-content {
    .complete-details {
      .complete-upper {
        .graph {
          width: 60%;
          .middle-graph {
            width: 140px;
            height: 140px;
          }
          .pie {
            width: 210px;
            height: 210px;
          }
        }
        .legend {
          width: 40%;
          .legend-item {
            width: 150px;
          }
        }
      }
      .complete-lower {
        img {
          width: 30px;
        }
      }
    }
  }
  .left-content {
    width: 34%;

    display: flex;
    flex-direction: column;

    .left-column {
      height: 680px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .my-nfts {
      .nfts-box {
        height: 230px;
        background: #222222;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        p {
          margin-top: 5px;
        }
      }
    }
    .details {
      .detail-box {
        .detail-img {
          &.team {
            width: 140px;
            height: 140px;
          }
        }

        .racers {
          .left-side {
            .detail-img {
              width: 350px;
              max-width: 300px;
            }
          }
        }
        .values {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          position: relative;
          align-items: center;
          .left-value {
            margin-bottom: 10px;
            margin-right: 0px;
          }
          .middle {
            width: 0px;

            height: 0px;
            width: 80%;
            border: 1px solid #868686;
          }
          .right-value {
            margin-left: 0px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .overview-content {
    flex-direction: column;
  }
  .left-content {
    width: 100%;
    .left-column {
      height: 660px;
    }
  }
  .right-content {
    margin-left: 0px;
    margin-top: 20px;
    width: 100%;
    .complete-details {
      height: 750px;
      .complete-upper {
        height: 60%;
        flex-direction: column;
        .graph {
          width: 100%;
        }
        .legend {
          width: 100%;
          .legend-item {
          }
        }
      }
      .complete-lower {
        height: 40%;
        margin-top: 20px;
        .stakes {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          .total-stakes,
          .daily-stakes {
            width: 50%;
            text-align: center;

            .stake-heading {
              margin: 20px 0;
            }
            div {
              margin: 10px 0;
            }
          }
        }
      }
    }
  }
}
