.category-title-first {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 50px;
  font-family: "Earth Orbiter";
}
.category-title-second {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  font-family: "Earth Orbiter";
}
.updated_at {
  text-align: center;
  margin: 0;
}
.link {
  margin: 0px;
  text-align: center;
  margin-top: 15px;
  span {
    text-decoration: underline;
    cursor: pointer;
  }
}
.desc {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
.side-img {
  width: auto;
  height: 100%;
  position: absolute;
  top: -1%;
  left: -10%;
  max-height: 100%;
}

.lead-cont-holder {
  width: 100%;
  max-width: unset;
  margin: unset;
  position: relative;
}

.action-btn {
  transition: 0.3s;
  width: 100%;
  padding: 13px 0px;
  font-size: 16px;
  white-space: nowrap;
}
.action-btn:hover {
  box-shadow: (0px 0px 15px rgba(255, 255, 255, 0.9));
}
.table-content {
  width: 60%;
  margin: 0 24% 0 16%;
}
.prize-banner {
  text-align: center;
  background: rgba(17, 17, 17, 0.8);
  position: absolute;
  right: 0px;
  top: 0px;
  width: 19.6%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 33px 15px;
  .prize-heading {
    font-weight: 800;
    font-size: 48px;
    font-family: "Earth Orbiter";
    margin: 0;
  }
  .prize-item {
    height: 27%;
    width: 100%;
    &.item1 {
      .desc {
        .colored {
          background-image: linear-gradient(
            0deg,
            #ffeab6 8%,
            #eac172 23%,
            #c9ab5d 44%,
            #ecdf9a 62%,
            #efd577 78%,
            #c8bc94 100%
          );
        }
      }
    }
    &.item2 {
      .desc {
        .colored {
          background-image: linear-gradient(
            0deg,
            white 8%,
            #e7e7e7 23%,
            #b8b8b8 44%,
            #e8e8e8 62%,
            #eeeeee 78%,
            #a7a7a7 100%
          );
        }
      }
    }
    &.item3 {
      .desc {
        .colored {
          background-image: linear-gradient(
            0deg,
            #e2957c 8%,
            #e9ac74 23%,
            #a87356 44%,
            #cc9d71 62%,
            #c19379 78%,
            #b58a63 100%
          );
        }
      }
    }
    .img-holder {
      max-height: 90%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        max-height: 100%;
      }
    }
    .desc {
      font-weight: 700;
      font-size: 15px;
      font-family: "Earth Orbiter";
      margin: 0;
      .colored {
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        span {
          display: inline-block;
          margin: 0 5px;
        }
      }
    }
  }
  .action-btn {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.page {
  outline: none;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  min-width: 30px;
  height: 30px;
  margin: 10px 0;
}
.pagination {
  margin-top: 30px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-active {
  cursor: default;
  background: rgba($color: #ffffff, $alpha: 0.16);
}
.page-disabled {
  cursor: default;
}
.page-opacity {
  opacity: 0.6;
}
.pagebtn-l,
.pagebtn-r {
  background: none;
  height: 30px;
  width: auto;
  img {
    height: 100%;
  }
}

@media screen and (max-width: 1700px) {
  .prize-banner {
    padding: 25px 12px;
    .prize-heading {
      font-size: 40px;
    }
    .prize-item {
      height: 28%;
    }
  }
}

@media screen and (max-width: 1550px) {
  .link {
    margin-top: 10px;
  }
  .updated_at {
    font-size: 16px;
  }
  .category-title-first {
    font-size: 35px;
    line-height: 37px;
  }
  .category-title-second {
    font-size: 16px;
    line-height: 18px;
  }
  .prize-banner {
    padding: 20px 10px;
    .prize-heading {
      font-size: 34px;
    }
    .prize-item {
      .desc {
        font-size: 13px;
      }
    }
  }
  .action-btn {
    font-size: 14px;
    padding: 11px 0px;
  }
  .desc {
    font-size: 14px;
    line-height: 16px;
  }
  .lead-cont-holder {
    .table-row {
      height: 35px;
    }
  }
  .pagination {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1400px) {
  .updated_at {
    font-size: 14px;
  }
  .category-title-first {
    font-size: 30px;
    line-height: 32px;
  }
  .category-title-second {
    font-size: 15px;
    line-height: 17px;
  }
  .action-btn {
    font-size: 12px;
    padding: 10px 0px;
  }
  .desc {
    font-size: 12px;
    line-height: 14px;
  }
  .lead-cont-holder {
    .table-row {
      height: 30px;
    }
  }

  .pagebtn-l,
  .pagebtn-r {
    height: 20px;
  }
}

@media screen and (max-width: 1300px) {
  .prize-banner {
    padding: 15px 8px;
    .prize-heading {
      font-size: 28px;
    }
    .prize-item {
      .img-holder {
        height: 85%;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .side-img {
    z-index: -1;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .updated_at {
    font-size: 10px;
  }
  .category-title-first {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-second {
    font-size: 12px;
    line-height: 14px;
  }
  .prize-banner {
    padding: 8px;
    .category-title-second {
      margin-bottom: -2%;
    }
  }
  .action-btn {
    font-size: 10px;
    padding: 8px 0px;
  }
  .desc {
    font-size: 10px;
    line-height: 12px;
  }
  .pagination {
    margin-top: 5px;
  }
  .page {
    font-size: 8px;
    height: 100%;
    margin: 0px;
  }
  .lead-cont-holder {
    .table-row {
      height: 19px;
      p {
        font-size: 8px;
      }
    }
  }
  .pagebtn-l,
  .pagebtn-r {
    height: 15px;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) and (min-height: 600px) {
  .side-img {
    transform: translateX(-25%);
  }
  .table-content {
    height: 90%;
  }
  .lead-cont-holder {
    .table-row {
      height: calc(9% - 6px);
      p {
        font-size: 11px;
      }
    }
  }
  .pagebtn-l,
  .pagebtn-r {
    height: 22px;
  }
  .page {
    font-size: 12px;
    padding: 5px;
  }
  .updated_at {
    font-size: 12px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .prize-banner {
    padding: 7px 7px 26px;
    .prize-heading {
      font-size: 20px;
    }
    .prize-item {
      height: calc(33% - 12px);
      .img-holder {
        height: calc(100% - 28px);
        margin-bottom: 2px;
      }
      .desc {
        font-size: 11px;
      }
    }
  }
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  .updated_at {
    font-size: 8px;
  }
  .lead-cont-holder {
    .table-row {
      height: 17.5px;
    }
  }
  .category-title-first {
    font-size: 17px;
    line-height: 19px;
  }
  .category-title-second {
    font-size: 10px;
    line-height: 12px;
  }
  .prize-banner {
    padding: 5px 5px 18px;
    .prize-heading {
      font-size: 17px;
    }
    .prize-item {
      height: calc(33% - 9px);
      .img-holder {
        height: calc(100% - 23px);
        margin-bottom: 2px;
      }
      .desc {
        font-size: 9px;
      }
    }
  }
  .action-btn {
    font-size: 8px;
    padding: 5px 0px;
  }
  .desc {
    font-size: 8px;
    line-height: 10px;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .updated_at {
    font-size: 12px;
  }
  .side-img {
    display: none;
  }
  .table-content {
    width: 100%;
    margin: 0;
  }
  .category-title-first {
    font-size: 24px;
    line-height: 26px;
  }
  .category-title-second {
    font-size: 14px;
    line-height: 16px;
  }
  .prize-banner {
    height: 450px;
    margin: 0 auto;
    width: 100%;
    margin-top: 15px;
    position: relative;
    padding: 8px 8px 38px;
    .action-btn {
      font-size: 14px;
      padding: 11px 0px;
      max-width: 320px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .desc {
    font-size: 11px;
    line-height: 13px;
  }
}

@media screen and (max-width: 400px) and (orientation: portrait) {
  .prize-banner {
    .action-btn {
      max-width: 100%;
    }
  }
}
