<div class="main-holder">
  <h1>What is <img src="/assets/base/images/welcome/ioi-logo.png" alt=""> game ?</h1>
  <div class="desc-text">
    <p>Is real time Trading game where you <br>
      dont control your cars with joystick <img class="joystick" src="/assets/base/images/welcome/no-joystick.png" alt=""></p>
  </div>
  <div class="desc-text second">
    <p>In our game you predict market <br>
      by choosing virtual portoflio <img class="graph" src="/assets/base/images/welcome/red-graph.png" alt=""></p>
  </div>
  <div class="cars-img">
    <img src="/assets/base/images/welcome/cars-img.png" alt="">
  </div>
  <div class="demo-text">
    <img src="/assets/base/images/welcome/lets-try-text.png" alt="">
    <button class="cta-btn">TRY FOR FREE</button>
  </div>
</div>
