<div class="main-holder">
  <div class="logo" [routerLink]="['/user/welcome']">
    <img src="/assets/base/images/new-logo.png" alt="IOI Game" />
  </div>
  <div class="center-content">
    <h2>Welcome</h2>
    <p class="text">
      Choose whether you want to Log into an existing account, or create a new
      account
    </p>
    <div class="btns-holder">
      <button class="login" [routerLink]="['/user/sign-in']">Log in</button>
      <button [routerLink]="['/user/sign-up']">Create account</button>
    </div>
  </div>
</div>
