.logo {
  top: 40px;
  left: 40px;
  width: 170px;
  position: absolute;
  cursor: pointer;
  img {
    width: 100%;
    height: auto;
  }
}
.main-holder {
  width: 100%;
  min-height: 100%;
  background-image: radial-gradient(
      69.52% 76.11% at 50% 50%,
      rgba(17, 17, 17, 0.5) 0%,
      #111111 100%
    ),
    url("/assets/base/images/home-page/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  max-width: 500px;
  h2 {
    font-family: Earth Orbiter;
    font-size: 64px;
    margin: 0 0 60px 0;
  }
  .text {
    font-size: 16px;
    margin: 0 0 80px 0;
  }
  .btns-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      font-weight: 600;
      font-size: 16px;
      padding: 13px 5px;
      width: 200px;
      margin: 0 20px;
      background: transparent;
      border: 2px solid #00d1ff;
      transition: 0.2s;
      &.login {
        padding: 15px 5px;
        border: none;
        background: linear-gradient(
          236.12deg,
          #00f0ff 6%,
          #0098d9 102.68%,
          #0098d9 102.68%
        );
      }
      &:hover {
        transform: scale(1.04);
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .logo {
    width: 140px;
  }
  .center-content {
    max-width: 410px;
    h2 {
      font-size: 53px;
      margin: 0 0 40px 0;
    }
    .text {
      font-size: 14px;
      margin: 0 0 50px 0;
    }
    .btns-holder {
      button {
        font-size: 14px;
        padding: 11px 5px;
        width: 150px;
        margin: 0 15px;
        &.login {
          padding: 13px 5px;
        }
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .logo {
    width: 120px;
  }
}
@media screen and (max-width: 1024px) {
  .center-content {
    max-width: 360px;
    h2 {
      font-size: 42px;
      margin: 0 0 30px 0;
    }
    .text {
      font-size: 12px;
      margin: 0 0 35px 0;
    }
    .btns-holder {
      button {
        font-size: 12px;
        padding: 10px 5px;
        width: 120px;
        margin: 0 10px;
        &.login {
          padding: 12px 5px;
        }
      }
    }
  }
}
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .logo {
    left: 30px;
    top: 10px;
    width: 120px;
  }
}
@media screen and(max-width: 900px) and (orientation: landscape) {
  .logo {
    width: 90px;
  }
}

@media screen and(max-width: 640px) and (orientation: landscape) {
  .logo {
    width: 70px;
  }
}
@media screen and(max-width: 1024px) and (orientation: portrait) {
  .logo {
    top: 20px;
    left: 20px;
    width: 150px;
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .logo {
    top: 10px;
    left: 10px;
    width: 120px;
  }
}
@media screen and(max-width: 350px) and (orientation: portrait) {
  .logo {
    width: 100px;
  }
}
