.main-holder{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/assets/base/images/welcome/welcome-back.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 90px 10px 50px;
    h1{
        color: #ffffff;
        font-family: 'Bungee';
        font-size: 76px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 0;
        width: 100%;
        text-align: center;
        img{
            vertical-align: baseline;
            position: relative;
            bottom: -9px;
        }
    }
    .desc-text{
        position: relative;
        width: 100%;
        text-align: center;
        p{
            color: #ffffff;
            font-family: 'Bungee';
            font-size: 30px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1.2;
            margin: 60px 10px 20px;
            position: relative;
            display: inline-block;
            img{
                position: absolute;
                top: 50%;
                right: -20px;
                transform: translate(100%, -50%);
            }
        }
        &.second{
            p{
                margin: 40px 10px 0;
                img{
                    right: 0;
                    mix-blend-mode: exclusion;
                }
            }
        }
    }
    .cars-img{
        width: 100%;
        text-align: center;
    }
    .demo-text{
        margin-top: 20px;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        .cta-btn{
            position: absolute;
            top: 45%;
            right: -30px;
            transform: translate(100%, -50%);
            color: #ffffff;
            font-family: Oswald;
            font-size: 46px;
            font-weight: 700;
            text-transform: uppercase;
            background: transparent;
            border: none;
            outline: none;
            padding: 30px 15px;
            z-index: 1;
            &::before{
                content: "";
                width: 445px;
                height: 170px;
                background-image: url(/assets/base/images/welcome/cta-active.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                z-index: -1;
                position: absolute;
                top: -32px;
                left: -93px;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .main-holder{
        padding: 50px 10px;
        h1{
            font-size: 66px;
            img{
                bottom: -7px;
                width: 133px;
            }
        }
        .desc-text{
            p{
                margin: 20px 10px 20px;
                font-size: 26px;
                .joystick{
                    width: 70px;
                }
            }
            &.second{
                p{
                    margin: 15px 10px 0;
                    .graph{
                        width: 254px;
                    }
                }
            }
        }
        .cars-img{
            margin-top: -30px;
            img{
                width: 660px;
            }
        }
        .demo-text{
            margin-top: 0;
            img{
                height: 57px;
            }
            .cta-btn{
                font-size: 36px;
                padding: 20px 10px;
                &::before{
                    width: 365px;
                    height: 142px;
                    top: -32px;
                    left: -84px;
                }
            }
        }
    }
}
@media screen and (max-width: 1300px) {
    .main-holder{
        .demo-text{
            .cta-btn{
                position: relative;
                right: unset;
                top: unset;
                transform: none;
                display: block;
                margin: 10px auto;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    :host{
        zoom: 160%;
    }
    .main-holder{
        padding: 20px 10px;
        h1{
            font-size: 50px;
            img{
                bottom: -5px;
                width: 100px;
            }
        }
        .desc-text{
            p{
                margin: 10px 7px;
                font-size: 20px;
                .joystick{
                    width: 60px;
                }
            }
            &.second{
                p{
                    margin: 12px 10px 0;
                    .graph{
                        width: 184px;
                    }
                }
            }
        }
        .cars-img{
            img{
                width: 510px;
            }
        }
        .demo-text{
            margin-top: 0;
            img{
                height: 44px;
            }
            .cta-btn{
                font-size: 31px;
                &::before{
                    width: 325px;
                    height: 132px;
                    top: -30px;
                    left: -78px;
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .main-holder{
        h1{
            font-size: 40px;
            img{
                bottom: -3px;
                width: 80px;
            }
        }
        .desc-text{
            p{
                font-size: 17px;
                .joystick{
                    width: 50px;
                }
            }
            &.second{
                p{
                    margin: 12px 10px 0;
                    .graph{
                        width: 134px;
                    }
                }
            }
        }
        .cars-img{
            img{
                width: unset;
                max-width: 410px;
                margin: -20px 10px 0 10px;
            }
        }
        .demo-text{
            img{
                height: unset;
                width: 80%;
                display: block;
                margin: 0 auto;
            }
            .cta-btn{
                font-size: 24px;
                &::before{
                    width: 265px;
                    height: 112px;
                    top: -23px;
                    left: -63px;
                }
            }
        }
    }
}