* {
  margin: 0px;
  padding: 0px;
}
img {
  max-width: unset;
}
.main-holder {
  background: #161616;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
.left-space {
  opacity: 0 !important;
  font-family: Tesla;
  pointer-events: none !important;
}
.bold {
  font-weight: 700 !important;
}
.extra-bold {
  font-weight: 900 !important;
}
.letter-spacing {
  letter-spacing: 0.725em;
}
.low-letter-spacing {
  letter-spacing: 0.28em;
}
.lowest-letter-spacing {
  letter-spacing: 0.08em;
}
.no-spacing {
  letter-spacing: 0.5em !important;
}
.orbiter-font {
  font-family: Earth Orbiter !important;
}
.font-white {
  color: white !important;
}
.darker {
  opacity: 0.7;
}
.external-link {
  position: relative;
  cursor: pointer;
  &::before {
    transition: 0.3s;
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.3);
  }
}
.external-link:hover {
  &::before {
    width: 100%;
  }
}
.design-lines {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 65px;
    left: -40px;
    top: -5px;
    background: #fb173e;
    border-radius: 10px;
  }
  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 65px;
    left: -80px;
    top: 5px;
    background: #fb173e;
    border-radius: 10px;
  }
}
h2 {
  &.big {
    font-family: Tesla;
    font-style: normal;
    font-weight: normal;
    font-size: 167px;
    line-height: 171px;

    text-transform: uppercase;
  }
  &.medium {
    font-family: Earth Orbiter;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 82px;
    color: #fb173e;
    text-shadow: 2px 2px 8px #161616;
    text-transform: uppercase;
    letter-spacing: 0em !important;
  }
  &.small {
    font-family: Earth Orbiter;
    font-style: normal;
    font-weight: 900;
    font-size: 65px;
    line-height: 67px;
    color: #fb173e;
    text-shadow: 2px 2px 8px #161616;
    text-transform: uppercase;
  }
}
h3 {
  &.big {
    font-style: normal;
    font-weight: normal;
    font-size: 47px;
    line-height: 49px;
    text-transform: uppercase;
  }
  &.medium {
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 43px;
    text-transform: uppercase;
  }
  &.small {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 38px;
    text-transform: uppercase;
  }
  &.smaller {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
  }
}
p {
  &.classic {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 29px;
  }
  &.small {
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 23px;
  }
  &.desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
  }
}
button {
  &.action-button {
    transition: 0.3s;
    padding: 12px 45px;
    background: linear-gradient(180deg, #bb1330 25%, #fe173e 100%);
    box-shadow: 10px 14px 84px rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    width: fit-content;
    font-size: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: Earth Orbiter;
    font-weight: 700;
    text-transform: uppercase;
  }
  &.action-button:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    box-shadow: (0px 0px 15px rgba(255, 255, 255, 0.9));
  }
}
.intro {
  overflow: hidden;
  background: url("/assets/base/images/competition/intro-back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .text-holder {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 75%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    .upper-text {
      width: fit-content;
      .countdown-row {
        display: flex;
        align-items: center;

        .countdown {
          width: 30%;
          justify-content: space-between;
          display: flex;
          align-items: center;
          margin-left: auto;
          text-align: center;
          margin-right: 10px;
          #days {
            color: #fb173e;
          }
          p {
            &.desc {
              font-size: 12px;
              opacity: 0.5;
              text-align: center;
            }
          }
          .right-border {
            background: rgba(255, 255, 255, 0.4);
            width: 1px;
            height: 30px;
          }
        }
      }
      .bottom-title {
        margin-top: -30px;
        .row {
          height: 50px;
          display: flex;
          flex-wrap: nowrap;
          .fill-row {
            display: flex;
            justify-content: space-between;
            width: 100%;
          }
          h3 {
            &.small {
              font-weight: 300;
            }
          }
        }
      }
    }

    .bottom-text {
      text-align: center;
      .action-button {
        margin-top: 80px;
        margin-bottom: 70px;
      }
    }
  }
}
.prizes {
  overflow: hidden;
  background: url("/assets/base/images/competition/prizes-back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .prizes-content {
    width: 85%;
    height: 85%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .upper-content {
      display: flex;
      align-items: flex-end;
      height: 60%;
      .text-holder {
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: fit-content;
        .bottom-text {
          display: flex;
          flex-direction: column;
          .action-button {
            margin-bottom: 5%;
            width: 100%;
          }
          img {
            &.arrow {
              margin: 0 auto;
              width: 20px;
              height: auto;
            }
          }
        }
      }
      .prizes-holder {
        width: 65%;
        margin-left: 7.5%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .prize {
          width: 30%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &.first {
            .prize-text {
              .border-text {
                position: relative;
                &::before {
                  position: absolute;
                  content: "";
                  top: 50%;
                  right: -8%;
                  transform: translateY(-50%);
                  background-image: linear-gradient(
                    0deg,
                    rgba(255, 234, 182, 1) 8%,
                    rgba(234, 193, 114, 1) 23%,
                    rgba(201, 171, 93, 1) 44%,
                    rgba(236, 223, 154, 1) 62%,
                    rgba(239, 213, 119, 1) 78%,
                    rgba(200, 188, 148, 1) 100%
                  );
                  width: 3px;
                  height: 110%;
                }
              }
              h3 {
                &.medium {
                  background-image: linear-gradient(
                    0deg,
                    rgba(255, 234, 182, 1) 8%,
                    rgba(234, 193, 114, 1) 23%,
                    rgba(201, 171, 93, 1) 44%,
                    rgba(236, 223, 154, 1) 62%,
                    rgba(239, 213, 119, 1) 78%,
                    rgba(200, 188, 148, 1) 100%
                  );
                  background-clip: text;
                  text-fill-color: transparent;
                  -webkit-background-clip: text;
                  -moz-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  -moz-text-fill-color: transparent;
                  color: transparent;
                }
              }
            }
          }
          &.second {
            .prize-image {
              margin-left: 120%;
            }
            .prize-text {
              .border-text {
                position: relative;
                &::before {
                  position: absolute;
                  content: "";
                  top: 50%;
                  right: -8%;
                  transform: translateY(-50%);
                  background-image: linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 1) 8%,
                    rgba(231, 231, 231, 1) 23%,
                    rgba(184, 184, 184, 1) 44%,
                    rgba(232, 232, 232, 1) 62%,
                    rgba(238, 238, 238, 1) 78%,
                    rgba(167, 167, 167, 1) 100%
                  );
                  width: 3px;
                  height: 110%;
                }
              }
              h3 {
                &.medium {
                  background-image: linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 1) 8%,
                    rgba(231, 231, 231, 1) 23%,
                    rgba(184, 184, 184, 1) 44%,
                    rgba(232, 232, 232, 1) 62%,
                    rgba(238, 238, 238, 1) 78%,
                    rgba(167, 167, 167, 1) 100%
                  );
                  background-clip: text;
                  text-fill-color: transparent;
                  -webkit-background-clip: text;
                  -moz-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  -moz-text-fill-color: transparent;
                  color: transparent;
                }
              }
            }
          }
          &.third {
            .prize-image {
              margin-left: 120%;
            }
            .prize-text {
              .border-text {
                position: relative;
                &::before {
                  position: absolute;
                  content: "";
                  top: 50%;
                  right: -8%;
                  transform: translateY(-50%);
                  background-image: linear-gradient(
                    0deg,
                    rgba(226, 149, 124, 1) 8%,
                    rgba(233, 172, 116, 1) 23%,
                    rgba(168, 115, 86, 1) 44%,
                    rgba(204, 157, 113, 1) 62%,
                    rgba(193, 147, 121, 1) 78%,
                    rgba(181, 138, 99, 1) 100%
                  );
                  width: 3px;
                  height: 110%;
                }
              }
              h3 {
                &.medium {
                  background-image: linear-gradient(
                    0deg,
                    rgba(226, 149, 124, 1) 8%,
                    rgba(233, 172, 116, 1) 23%,
                    rgba(168, 115, 86, 1) 44%,
                    rgba(204, 157, 113, 1) 62%,
                    rgba(193, 147, 121, 1) 78%,
                    rgba(181, 138, 99, 1) 100%
                  );
                  background-clip: text;
                  text-fill-color: transparent;
                  -webkit-background-clip: text;
                  -moz-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  -moz-text-fill-color: transparent;
                  color: transparent;
                }
              }
            }
          }
          .prize-image {
            margin-left: 50%;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            img {
              &.tesla {
                height: 100%;
                width: auto;
              }
              &.laptop {
                height: 80%;
                width: auto;
              }
              &.mobile {
                height: 65%;
                width: auto;
              }
            }
          }
          .prize-text {
            position: relative;
            height: fit-content;
            text-align: right;
            img {
              position: absolute;
              right: -30%;
              bottom: 100%;
              height: 450%;
            }

            p {
              &.desc {
                position: absolute;
                right: 0px;
                opacity: 0.4;
              }
            }
          }
        }
      }
    }
    .lower-content {
      display: flex;
      flex-direction: column;
      height: fit-content;
      margin-bottom: 2%;
      text-align: center;
      .space {
        margin-top: 5%;
        font-weight: 300;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: -150%;
          left: 50%;
          transform: translateX(-50%);
          width: 10%;
          height: 2px;
          border-radius: 10px;
          background: rgba(255, 255, 255, 0.3);
        }
        span {
          color: #1cffff;
        }
      }
    }
  }
}
.how-it-works {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(
      90deg,
      #161616 15%,
      rgba(22, 22, 22, 0.9) 35%,
      rgba(22, 22, 22, 0.5) 45%,
      rgba(22, 22, 22, 0) 62.79%
    ),
    url("/assets/base/images/competition/how-back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(var(--vh, 1vh) * 70);
  width: 100%;
  .text-holder {
    width: 85%;
    height: 65%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h2 {
      &.medium {
        padding-bottom: 20px;
      }
    }
    .bottom-text {
      cursor: pointer;
      width: fit-content;
      display: flex;
      margin-top: 5%;
      position: relative;
      &::before {
        transition: 0.3s;
        content: "";
        position: absolute;
        height: 2px;
        width: 0%;
        bottom: -10%;
        left: 0px;
        background: rgba(255, 255, 255, 0.3);
      }
      img {
        &.arrow {
          transition: 0.3s;
          width: 20px;
          height: auto;
          margin-left: 15px;
        }
      }
    }
    .bottom-text:hover {
      &::before {
        width: 100%;
      }
      img {
        &.arrow {
          transform: translateY(5px);
        }
      }
    }
  }
}
.how-to {
  padding: 5% 0% 7% 0%;
  height: auto;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
  .text-holder {
    z-index: 1;
    width: 85%;
    .space-line {
      margin: 40px 0px;
      width: 20%;
      height: 1px;
      background: rgba(255, 255, 255, 0.4);
    }
    .top-space {
      margin-top: 20px;
    }
    .top-space-big {
      margin-top: 40px;
    }
  }
  img {
    &.tesla {
      position: absolute;
      bottom: -2.5%;
      right: 2%;
      width: 60%;
      height: auto;
    }
  }
  &.rules {
    background: linear-gradient(
        90deg,
        #161616 15%,
        rgba(22, 22, 22, 0.9) 35%,
        rgba(22, 22, 22, 0.5) 45%,
        rgba(22, 22, 22, 0) 62.79%
      ),
      url("/assets/base/images/competition/rules-back.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h3 {
      &.big {
        color: #fb173e;
        font-family: Earth Orbiter;
        font-weight: 700;
      }
    }
  }
}
.holders {
  height: calc(var(--vh, 1vh) * 70);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .text-holder {
    height: fit-content;
    width: 85%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    .action-button {
      margin-top: 100px;
    }
  }
}
@media screen and (max-width: 1700px) {
  h2 {
    &.big {
      font-size: 140px;
      line-height: 144px;
    }
    &.medium {
      font-size: 70px;
      line-height: 72px;
    }
    &.small {
      font-size: 60px;
      line-height: 62px;
    }
  }
  h3 {
    &.big {
      font-size: 44px;
      line-height: 46px;
    }
    &.medium {
      font-size: 38px;
      line-height: 40px;
    }
    &.small {
      font-size: 34px;
      line-height: 36px;
    }
    &.smaller {
      font-size: 23px;
      line-height: 25px;
    }
  }
  p {
    &.classic {
      font-size: 24px;
      line-height: 26px;
    }
    &.small {
      font-size: 20px;
      line-height: 22px;
    }
    &.desc {
      font-size: 15px;
      line-height: 17px;
    }
  }
  button {
    &.action-button {
      font-size: 27px;
    }
  }
  .prizes {
    .prizes-content {
      .upper-content {
        .prizes-holder {
          .prize {
            .prize-text {
              img {
                height: 300%;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1550px) {
  h2 {
    &.big {
      font-size: 120px;
      line-height: 124px;
    }
    &.medium {
      font-size: 65px;
      line-height: 67px;
    }
    &.small {
      font-size: 55px;
      line-height: 57px;
    }
  }
  h3 {
    &.big {
      font-size: 42px;
      line-height: 44px;
    }
    &.medium {
      font-size: 36px;
      line-height: 38px;
    }
    &.small {
      font-size: 30px;
      line-height: 32px;
    }

    &.smaller {
      font-size: 19px;
      line-height: 21px;
    }
  }
  p {
    &.classic {
      font-size: 22px;
      line-height: 24px;
    }
    &.small {
      font-size: 18px;
      line-height: 20px;
    }
    &.desc {
      font-size: 14px;
      line-height: 16px;
    }
  }
  button {
    &.action-button {
      font-size: 26px;
    }
  }
  .intro {
    .text-holder {
      height: 65%;
      .bottom-text {
        .action-button {
          margin-top: 40px;
          margin-bottom: 40px;
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  h2 {
    &.big {
      font-size: 115px;
      line-height: 117px;
    }
    &.medium {
      font-size: 60px;
      line-height: 62px;
    }
    &.small {
      font-size: 50px;
      line-height: 52px;
    }
  }
  h3 {
    &.big {
      font-size: 38px;
      line-height: 40px;
    }
    &.medium {
      font-size: 32px;
      line-height: 34px;
    }
    &.small {
      font-size: 28px;
      line-height: 26px;
    }
    &.smaller {
      font-size: 18px;
      line-height: 20px;
    }
  }
  p {
    &.classic {
      font-size: 20px;
      line-height: 22px;
    }
    &.small {
      font-size: 16px;
      line-height: 18px;
    }
    &.desc {
      font-size: 13px;
      line-height: 15px;
    }
  }
  button {
    &.action-button {
      font-size: 24px;
      padding: 10px 35px;
    }
  }
  .intro {
    .text-holder {
      .upper-text {
        .countdown-row {
          .countdown {
            p {
              &.desc {
                font-size: 10px;
              }
            }
          }
        }
      }

      .bottom-text {
        .action-button {
          margin-top: 60px;
          margin-bottom: 50px;
        }
      }
    }
  }
  .holders {
    .text-holder {
      .action-button {
        margin-top: 70px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  h2 {
    &.big {
      font-size: 100px;
      line-height: 104px;
    }
    &.medium {
      font-size: 50px;
      line-height: 52px;
    }
    &.small {
      font-size: 40px;
      line-height: 42px;
    }
  }
  h3 {
    &.big {
      font-size: 32px;
      line-height: 34px;
    }
    &.medium {
      font-size: 28px;
      line-height: 30px;
    }
    &.small {
      font-size: 24px;
      line-height: 26px;
    }
    &.smaller {
      font-size: 16px;
      line-height: 18px;
    }
  }
  p {
    &.classic {
      font-size: 17px;
      line-height: 19px;
    }
    &.small {
      font-size: 14px;
      line-height: 16px;
    }
    &.desc {
      font-size: 11px;
      line-height: 13px;
    }
  }
  button {
    &.action-button {
      font-size: 20px;
    }
  }
  .intro {
    .text-holder {
      .upper-text {
        .bottom-title {
          .row {
            height: 30px;
          }
        }
      }
      .bottom-text {
        .action-button {
          margin-top: 40px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  h2 {
    &.big {
      font-size: 70px;
      line-height: 74px;
    }
    &.medium {
      font-size: 40px;
      line-height: 42px;
    }
    &.small {
      font-size: 30px;
      line-height: 32px;
    }
  }
  h3 {
    &.big {
      font-size: 26px;
      line-height: 28px;
    }
    &.medium {
      font-size: 22px;
      line-height: 24px;
    }
    &.small {
      font-size: 20px;
      line-height: 22px;
    }
    &.smaller {
      font-size: 12px;
      line-height: 14px;
    }
  }
  p {
    &.classic {
      font-size: 15px;
      line-height: 17px;
    }
    &.small {
      font-size: 13px;
      line-height: 15px;
    }
    &.desc {
      font-size: 10px;
      line-height: 12px;
    }
  }
  button {
    &.action-button {
      font-size: 16px;
    }
  }
  .intro {
    .text-holder {
      .upper-text {
        .countdown-row {
          .countdown {
            width: 37%;
            p {
              &.desc {
                font-size: 9px;
              }
            }
          }
        }
        .bottom-title {
          margin-top: -20px;
          .row {
            height: 30px;
          }
        }
      }
      .bottom-text {
        .action-button {
          margin-top: 40px;
          margin-bottom: 30px;
        }
      }
    }
  }
  .prizes {
    .prizes-content {
      .upper-content {
        .text-holder {
          height: 80%;
        }
      }
    }
  }
  .holders {
    .text-holder {
      .action-button {
        margin-top: 30px;
      }
    }
  }
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  h2 {
    &.big {
      font-size: 65px;
      line-height: 67px;
    }
    &.medium {
      font-size: 36px;
      line-height: 38px;
    }
    &.small {
      font-size: 26px;
      line-height: 28px;
    }
  }
  h3 {
    &.big {
      font-size: 22px;
      line-height: 24px;
    }
    &.medium {
      font-size: 18px;
      line-height: 20px;
    }
    &.small {
      font-size: 16px;
      line-height: 18px;
    }
    &.smaller {
      font-size: 10px;
      line-height: 12px;
    }
  }
  p {
    &.classic {
      font-size: 12px;
      line-height: 14px;
    }
    &.small {
      font-size: 11px;
      line-height: 13px;
    }
    &.desc {
      font-size: 9px;
      line-height: 10px;
    }
  }
  button {
    &.action-button {
      font-size: 15px;
    }
  }
  .intro {
    .text-holder {
      .upper-text {
        .countdown-row {
          .countdown {
            width: 37%;
            p {
              &.desc {
                font-size: 9px;
              }
            }
          }
        }
        .bottom-title {
          margin-top: -20px;
          .row {
            height: 30px;
          }
        }
      }
      .bottom-text {
        .action-button {
          margin-top: 30px;
          margin-bottom: 25px;
        }
      }
    }
  }
}
@media screen and (max-width: 640px) and (orientation: landscape) {
  h2 {
    &.big {
      font-size: 55px;
      line-height: 57px;
    }
    &.medium {
      font-size: 34px;
      line-height: 36px;
    }
    &.small {
      font-size: 22px;
      line-height: 24px;
    }
  }
  h3 {
    &.big {
      font-size: 22px;
      line-height: 24px;
    }
    &.medium {
      font-size: 18px;
      line-height: 20px;
    }
    &.small {
      font-size: 16px;
      line-height: 18px;
    }
    &.smaller {
      font-size: 10px;
      line-height: 12px;
    }
  }
  p {
    &.classic {
      font-size: 12px;
      line-height: 14px;
    }
    &.small {
      font-size: 11px;
      line-height: 13px;
    }
    &.desc {
      font-size: 9px;
      line-height: 10px;
    }
  }
  button {
    &.action-button {
      font-size: 13px;
    }
  }
  .intro {
    .text-holder {
      .upper-text {
        .bottom-title {
          margin-top: -10px;
        }
      }
      .bottom-text {
        .action-button {
          margin-top: 25px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .holders {
    height: calc(var(--vh, 1vh) * 80);
    .text-holder {
      .action-button {
        margin-top: 15px;
      }
    }
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  h2 {
    &.big {
      font-size: 62px;
      line-height: 64px;
    }
    &.medium {
      font-size: 45px;
      line-height: 47px;
    }
    &.small {
      font-size: 35px;
      line-height: 37px;
    }
  }
  h3 {
    &.big {
      font-size: 50px;
      line-height: 52px;
    }
    &.medium {
      font-size: 35px;
      line-height: 37px;
    }
    &.small {
      font-size: 26px;
      line-height: 28px;
    }
    &.smaller {
      font-size: 14px;
      line-height: 16px;
    }
  }
  p {
    &.classic {
      font-size: 17px;
      line-height: 19px;
    }
    &.small {
      font-size: 15px;
      line-height: 17px;
    }
    &.desc {
      font-size: 12px;
      line-height: 14px;
    }
  }
  button {
    &.action-button {
      font-size: 16px;
    }
  }
  .intro {
    align-items: center;
    .text-holder {
      text-align: center;
      .upper-text {
        .countdown-row {
          flex-direction: column-reverse;
          .countdown {
            width: 50%;
            margin-left: unset;
            margin-right: unset;
            margin-bottom: 50px;
            p {
              &.desc {
                font-size: 12px;
              }
            }
          }
        }
        .bottom-title {
          margin-top: -10px;
          .row {
            height: 30px;
          }
        }
      }
      .bottom-text {
        .action-button {
          margin-top: 40px;
          margin-bottom: 30px;
        }
      }
    }
  }
  .prizes {
    height: auto;
    min-height: calc(var(--vh, 1vh) * 100);
    .prizes-content {
      padding: 40px 0px;
      margin-bottom: unset;
      height: auto;
      .upper-content {
        height: auto;
        align-items: unset;
        flex-direction: column;
        .text-holder {
          width: 100%;
          height: auto;
          .bottom-text {
            align-items: center;
            .action-button {
              width: fit-content;
              margin-top: 30px;
            }
          }
        }
        .prizes-holder {
          margin: unset;
          height: auto;
          width: 80%;
          flex-direction: column;
          .prize {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 400px;
            &.first {
            }
            &.second {
              .prize-image {
                margin-left: 50%;
              }
            }
            &.third {
              .prize-image {
                margin-left: 50%;
              }
            }
          }
        }
      }
      .lower-content {
        height: auto;
        margin-top: 70px;
        .space {
          margin-top: 30px;
          &::before {
            top: -100%;
          }
        }
      }
    }
  }
  .holders {
    .text-holder {
      .action-button {
        margin-top: 30px;
      }
    }
  }
  .left-space {
    display: none;
  }
}
@media screen and (max-width: 640px) and (orientation: portrait) {
  .design-lines {
    &::after {
      left: -75px;
    }
  }
  .letter-spacing {
    letter-spacing: 0.3em;
  }
  h2 {
    &.big {
      font-size: 40px;
      line-height: 42px;
    }
    &.medium {
      font-size: 35px;
      line-height: 37px;
    }
    &.small {
      font-size: 33px;
      line-height: 35px;
    }
  }
  h3 {
    &.big {
      font-size: 30px;
      line-height: 32px;
    }
    &.medium {
      font-size: 25px;
      line-height: 27px;
    }
    &.small {
      font-size: 14px;
      line-height: 16px;
    }
    &.smaller {
      font-size: 12px;
      line-height: 14px;
    }
  }
  p {
    &.classic {
      font-size: 15px;
      line-height: 17px;
    }
    &.small {
      font-size: 13px;
      line-height: 15px;
    }
    &.desc {
      font-size: 11px;
      line-height: 13px;
    }
  }
  button {
    &.action-button {
      font-size: 15px;
    }
  }
  .intro {
    .text-holder {
      margin-top: 30px;

      .upper-text {
        .countdown-row {
          .countdown {
            width: 100%;

            p {
              &.desc {
                font-size: 11px;
              }
            }
          }
        }
        .bottom-title {
          margin-top: -8px;
          .row {
            height: 25px;
          }
        }
      }
    }
  }
  .prizes {
    .prizes-content {
      width: 90%;
      .upper-content {
        .prizes-holder {
          .prize {
            height: 350px;

            .prize-text {
              margin-right: 30%;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
  .how-it-works {
    height: calc(var(--vh, 1vh) * 50);
    .text-holder {
      width: 90%;
    }
  }
  .how-to {
    align-items: center;
    justify-content: unset;
    flex-direction: column;
    .text-holder {
      width: 90%;
    }
    img {
      &.tesla {
        position: relative;
        bottom: unset;
        right: unset;
        margin-top: 15px;
        width: 100%;
      }
    }
  }
  .holders {
    .text-holder {
      width: 90%;
    }
  }
}
@media screen and (max-width: 350px) and (orientation: portrait) {
  button {
    &.action-button {
      padding: 7px 30px;
      border-radius: 10px;
    }
  }

  h2 {
    &.big {
      font-size: 35px;
      line-height: 37px;
    }
    &.medium {
      font-size: 30px;
      line-height: 32px;
    }
    &.small {
      font-size: 28px;
      line-height: 30px;
    }
  }
  h3 {
    &.big {
      font-size: 28px;
      line-height: 30px;
    }
    &.medium {
      font-size: 20px;
      line-height: 22px;
    }
    &.small {
      font-size: 13px;
      line-height: 15px;
    }
    &.smaller {
      font-size: 11px;
      line-height: 13px;
    }
  }
  p {
    &.classic {
      font-size: 14px;
      line-height: 16px;
    }
    &.small {
      font-size: 12px;
      line-height: 14px;
    }
    &.desc {
      font-size: 10px;
      line-height: 12px;
    }
  }
  button {
    &.action-button {
      font-size: 14px;
    }
  }
  .intro {
    .text-holder {
      .upper-text {
        .countdown-row {
          .countdown {
            p {
              &.desc {
                font-size: 10px;
              }
            }
          }
        }
        .bottom-title {
          margin-top: -8px;
          .row {
            height: 20px;
          }
        }
      }
    }
  }

  .how-it-works {
    height: calc(var(--vh, 1vh) * 60);
  }
  .prizes {
    .prizes-content {
      .upper-content {
        .prizes-holder {
          .prize {
            height: 300px;
          }
        }
      }
    }
  }
}
