<div class="main-holder">
  <section class="intro">
    <div class="text-holder">
      <div class="upper-text">
        <div class="countdown-row">
          <h2 class="big">TESLA</h2>
          <div class="countdown">
            <div class="days">
              <h3 class="big" id="days">day</h3>
              <p class="desc">DAYS</p>
            </div>
            <div class="right-border"></div>
            <div class="hours">
              <h3 class="big" id="hours">hour</h3>
              <p class="desc">HOURS</p>
            </div>
            <div class="right-border"></div>
            <div class="minutes">
              <h3 class="big" id="minutes">minute</h3>
              <p class="desc">MINUTES</p>
            </div>
            <div class="right-border"></div>
            <div class="seconds">
              <h3 class="big" id="seconds">second</h3>
              <p class="desc">SECONDS</p>
            </div>
          </div>
        </div>
        <div class="bottom-title">
          <h2 class="big"><span class="left-space">T</span>COMPETITION</h2>
          <div class="row">
            <h2 class="big left-space">T</h2>
            <div class="fill-row">
              <h3 class="small letter-spacing">WITH</h3>
              <h3 class="small letter-spacing">TRADE</h3>
              <h3 class="small letter-spacing">RACE</h3>
              <h3 class="small letter-spacing">
                MANAGE<span class="no-spacing">R</span>
              </h3>
            </div>
          </div>
        </div>
        <div class="bottom-text">
          <button (click)="scrollTop(prizes)" class="action-button">
            CHECK PRIZES
          </button>
          <h3 class="smaller letter-spacing">
            GET FREE NFT TESLA TO WIN A <span class="bold">REAL ONE</span>
          </h3>
        </div>
      </div>
    </div>
  </section>
  <section class="prizes" #prizes>
    <div class="prizes-content">
      <div class="upper-content">
        <div class="text-holder">
          <div class="upper-text">
            <h2 class="medium design-lines">PRIZES</h2>
            <p class="classic orbiter-font bold">
              AWARDS FOR THE <br />
              FIRST THRE PLACES
            </p>
          </div>
          <div class="bottom-text">
            <button (click)="scrollTop(rules)" class="action-button">
              SEE RULES
            </button>
            <img
              class="arrow"
              src="/assets/base/images/competition/arrow-down-red.svg"
              alt="red arrow down"
            />
          </div>
        </div>
        <div class="prizes-holder">
          <div class="prize first">
            <div class="prize-image">
              <img
                class="tesla"
                src="/assets/base/images/competition/tesla-car.png"
                alt="Tesla car"
              />
            </div>
            <div class="prize-text">
              <img
                src="/assets/base/images/competition/pointer-line.svg"
                alt="line"
              />
              <div class="border-text">
                <h3 class="medium orbiter-font bold">1ST PLACE</h3>
                <p class="small orbiter-font">
                  <span class="bold orbiter-font">REAL</span> TESLA MODEL S
                </p>
              </div>
              <p class="desc orbiter-font">OR &#36;40,000 IN IOI</p>
            </div>
          </div>
          <div class="prize second">
            <div class="prize-image">
              <img
                class="laptop"
                src="/assets/base/images/competition/laptop.png"
                alt="Tesla car"
              />
            </div>
            <div class="prize-text">
              <img
                src="/assets/base/images/competition/pointer-line.svg"
                alt="line"
              />
              <div class="border-text">
                <h3 class="medium orbiter-font bold">2ND PLACE</h3>
                <p class="small orbiter-font">MACBOOK PRO</p>
              </div>
            </div>
          </div>
          <div class="prize third">
            <div class="prize-image">
              <img
                class="mobile"
                src="/assets/base/images/competition/mobile.png"
                alt="Tesla car"
              />
            </div>
            <div class="prize-text">
              <img
                src="/assets/base/images/competition/pointer-line.svg"
                alt="line"
              />
              <div class="border-text">
                <h3 class="medium orbiter-font bold">3RD PLACE</h3>
                <p class="small orbiter-font">IPHONE 12 PRO MAX</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lower-content">
        <p class="small low-letter-spacing">
          TESLA or cash priZe of 40K USD in form of IOI TOKEN (WINNER CHOOSES),
          2nd PLACE MACBOOK PRO, 3rd PLACE IPHONE 12 PRO MAX
        </p>
        <p class="small low-letter-spacing space">
          We are <span class="army">#IOIArmy</span>
        </p>
      </div>
    </div>
  </section>
  <section class="how-it-works">
    <div class="text-holder">
      <div class="upper-text">
        <h2 class="medium design-lines">HOW IT WORKS?</h2>
        <p class="classic orbiter-font">
          Win free NFT tesla car and real one <br />
          by playing #1 NFT TRADING GAME
          <br />
          <br />
          BECOME HOLDER OF &#36;ioi to unlock special rewards
          <br />
        </p>
      </div>
      <div (click)="scrollTop(rules)" class="bottom-text">
        <p class="classic orbiter-font bold">SEE RULES</p>
        <img
          class="arrow"
          src="/assets/base/images/competition/arrow-down-red.svg"
          alt="red arrow down"
        />
      </div>
    </div>
  </section>
  <section class="how-to">
    <div class="text-holder">
      <h2 class="medium design-lines">HOW TO GET TESLA NFT?</h2>
      <h2 class="small top-space-big">1.</h2>

      <h3 class="medium">
        <span class="bold">
          DEPOSIT 1000&#43; &#36;IOI TO TRADERACEMANAGER</span
        >
        (Works From 15.7.2021)
      </h3>
      <br />
      <p class="small">
        You get TESLA NFT AUTOMATICALLY FOR FREE ON 1st OF AUGUST
      </p>
      <br />
      <p class="small">
        (TESLA NFT GRANTS YOU ACCESS TO PLAY NFT RACES AND WIN IOI
      </p>
      <br />
      <p class="small">
        - TO JOIN TESLA COMPETITION YOU NEED TO HAVE PREMIUM MEMBERSHIP TOO)
      </p>
      <h2 class="small top-space">2.</h2>
      <h3 class="medium">
        <span class="bold"> BUY TESLA NFT FOR 50 &#36;IOI </span>
        ON TRADERACEMANAGER MARKETPLACE
      </h3>
      <h2 class="small top-space-big">ONLY 1000</h2>
      <h2 class="small font-white">TESLA NFTS AVAILABLE</h2>
      <p class="small orbiter-font darker">(MINT 1000 TESLA NFTS)</p>
      <div class="space-line"></div>
      <h2 class="small">Attributes</h2>
      <p class="small darker orbiter-font">
        WIN IN RACE: 0,1 IOI PER RACE
        <br />
        (10 MINUTE RACE)
        <br />
        <br />
        FREE FAST RACE WORKS THE
        <br />
        SAME AS ANY CAR
      </p>
      <p class="small darker orbiter-font"></p>
    </div>
    <img
      class="tesla"
      src="/assets/base/images/competition/tesla-car.png"
      alt="Tesla car"
    />
  </section>
  <section class="how-to rules" #rules>
    <div class="text-holder">
      <h2 class="medium design-lines">RULES of the tournament</h2>
      <h3 class="big top-space-big">1.</h3>
      <br />
      <p class="small">
        <span class="bold"> Register FOR FREE</span> at www.traderacemanager.com
      </p>
      <h3 class="big top-space">2.</h3>
      <br />
      <p class="small">
        You need to have TESLA NFT or ANY NFT FROM
        <span
          (click)="openLink('https://traderacemanager.com/user/shop')"
          class="bold external-link"
          >TRM MARKETPLACE</span
        >
        and <span class="bold">PREMIUM MEMBERSHIP</span> TO JOIN!
      </p>

      <h2 class="medium top-space-big">HOW TO BECOME PREMIUM MEMBER?</h2>
      <h3 class="medium">
        JOIN any TEAM IN trade race manager in
        <span class="bold"> august 2021</span>
      </h3>
      <h3 class="big top-space-big">3.</h3>
      <br />
      <p class="small">
        YOU CAN JOIN TOURNAMENT WITH MAX 5 NFTs (You can use Tesla NFT + 1 NFT
        from Each tier - 5 maximum (1x Common, 1x Super, 1x Epic, 1x Legendary,
        1x Tesla NFT))
      </p>

      <br />
      <p class="small">
        at the same time with one account
        <span class="bold">
          (MORE NFTs you have in the race, Bigger the chance to score
          points)</span
        >
      </p>
      <h3 class="big top-space">4.</h3>
      <br />
      <p class="small">
        YOU need to have Premium membership
        <span class="bold"
          >(ATTENTION! Only Premium memberships active during 1.8.2021 to
          31.8.2021 ARE eligible)</span
        >
        to EARN POINTS FROM THE TOURNAMENT
      </p>
      <h3 class="big top-space">5.</h3>
      <br />
      <p class="small">
        There will be <span class="bold">31 races</span> from which you can get
        points according to points system bellow
      </p>
      <br />
      <p class="small">
        - Race everyday at special TESLA NFT TOURNAMENT to earn as many points
        as possible
      </p>
      <h3 class="big top-space">6.</h3>
      <br />
      <p class="small">
        TESLA TOURNAMENT TAKES PLACE EVERYDAY ON WWW.TRADERACEMANAGER.COM -
        <span class="bold">12:00 UTC!</span>
      </p>
      <h3 class="big top-space">7.</h3>
      <br />
      <p class="small">CHECK YOUR PROGRESS In TESLA TOURNAMENT LEADERBOARD</p>
      <h3 class="big top-space">8.</h3>
      <br />
      <p class="small">
        Prizes for first 3 racers at the end of the competition according to
        POINT
      </p>
      <br />
      <p class="small">
        LEADERBOARD: 1st.
        <span class="bold"
          >TESLA or cash price of 40K USD in form of IOI TOKEN (WINNER CHOOSES),
          2nd MACBOOK PRO, 3rd IPHONE 12 PRO MAX</span
        >
      </p>
    </div>
  </section>
  <section class="holders">
    <div class="text-holder">
      <h2 class="medium">SPECIAL HOLDERS REWARDS</h2>
      <br />
      <h3 class="medium">
        DEPOSIT AND <span class="bold">HOLD 10 000 &#36;IOI</span> tokens to get
        free NFT tesla <br />
        and <span class="bold">premium memberships for free</span>
      </h3>
      <button
        (click)="openLink('https://traderacemanager.com/user/sign-up')"
        class="action-button"
      >
        PLAY trade race manager
      </button>
    </div>
  </section>
</div>
