

<div class="modal-holder" #modalBack *ngIf="modalClose === false">

  <div class="modal-back" (click)="modalClose = true"></div>

  <div class="modal-item" *ngFor="let item of myHints; let i = index">
    <div class="hint-background" [ngStyle]="{'background-image': 'url(/assets/base/images/hints/' + item.name + '.jpg)'}" *ngIf="item.id === hintIndicator"></div>
    <img class="modal-close" src="/assets/affilate/images/cross.png" alt="" (click)="modalClose = true">
  </div>

  <div class="modal-item hint11" *ngIf="hintIndicator === 11">
    <img class="modal-close" src="/assets/affilate/images/cross.png" alt="" (click)="modalClose = true">
    <div class="modal-text modal3">
      <h1 class="text-header">{{'modals.heading.hint_tips' | translate}}</h1>
      <p>{{'modals.text.hint11_text' | translate}}</p>
    </div>
  </div>

  <div class="modal-item hint12" *ngIf="hintIndicator === 12">
    <img class="modal-close" src="/assets/affilate/images/cross.png" alt="" (click)="modalClose = true">
    <div class="modal-text modal4">
      <h1 class="text-header">{{'modals.heading.hint_tips' | translate}}</h1>
      <p>{{'modals.text.hint12_text' | translate}}</p>
    </div>
  </div>

</div>
