<div class="buttons-heading-component">
    <div class="wrap-filter-buttons"></div>
    <div class="wrap-main-buttons">
        <button class="button black large active"  [routerLinkActive]="'active'" [routerLink]="['/leaderboard/players']">PLAYERS</button>
        <button class="button black large" [routerLinkActive]="'active'" [routerLink]="['/leaderboard/teams']">TEAMS</button>
    </div>
    <div class="wrap-filter-buttons">
        <div class="time-filter">
            <button class="button black">24 H</button>
            <button class="button black">1 min</button>
        </div>
        <div class="month-filter">
            <button class="button black">CURRENT MONTH</button>
            <button class="button black">LAST MONTH</button>
            <button class="button black"  [routerLinkActive]="'active'" [routerLink]="['/leaderboard/players-winners']">WINNERS</button>
        </div>
    </div>
</div>

<div class="sub-header-component">
    <button>LAST DAY WINNER</button>
    <button>LAST WEEK WINNER</button>
    <button>LAST MONTH WINNER</button>
    <button>YOUR LAST MONTH POSITION</button>
</div>

<div class="liderboard-list-component">
    <div class="item">
        <div class="inner-item">
            <div class="player-name">
                <span class="award"><img src="assets/base/images/award-icon.png" alt=""></span>
                <span class="name">FERKO</span>
            </div>
            <div class="wrap-image">
                <img src="assets/base/images/liderboard-car.png" alt="">
            </div>
            <div class="text-one">1100 <span>TRX</span> <span class="cup"><img src="assets/base/images/cup-icon.png"
                        alt=""></span></div>
            <div class="text-one">25P <span class="cup"><img src="assets/base/images/flag-icon.png" alt=""></span></div>
            <button class="button">BECOME FAN</button>
        </div>
    </div>
    <div class="item">
        <div class="inner-item">
            <div class="player-name">
                <span class="award"><img src="assets/base/images/award-icon.png" alt=""></span>
                <span class="name">FERKO</span>
            </div>
            <div class="wrap-image">
                <img src="assets/base/images/liderboard-car.png" alt="">
            </div>
            <div class="text-one">1100 <span>TRX</span> <span class="cup"><img src="assets/base/images/cup-icon.png"
                        alt=""></span></div>
            <div class="text-one">25P <span class="cup"><img src="assets/base/images/flag-icon.png" alt=""></span></div>
            <button class="button">BECOME FAN</button>
        </div>
    </div>
    <div class="item">
        <div class="inner-item">
            <div class="player-name">
                <span class="award"><img src="assets/base/images/award-icon.png" alt=""></span>
                <span class="name">FERKO</span>
            </div>
            <div class="wrap-image">
                <img src="assets/base/images/liderboard-car.png" alt="">
            </div>
            <div class="text-one">1100 <span>TRX</span> <span class="cup"><img src="assets/base/images/cup-icon.png"
                        alt=""></span></div>
            <div class="text-one">25P <span class="flag"><img src="assets/base/images/flag-icon.png" alt=""></span></div>
            <button class="button">BECOME FAN</button>
        </div>
    </div>
    <div class="item last">
        <div class="inner-item">
            <div class="player-name">
                <span class="award"><img src="assets/base/images/award-icon.png" alt=""></span>
                <span class="name">Me <br> personal position<br> 13th 20p</span>
            </div>
            <div class="wrap-image second">
                <img src="assets/base/images/triangle.png" alt="">
            </div>
            <div class="text-one">TEAM POSITION <span class="cup"><img src="assets/base/images/cup-icon.png" alt=""></span>
            </div>
            <div class="text-one">8th 20P</div>
        </div>
    </div>

</div>