<div class="modal fade" id="prize-rules-modal" tabindex="-1" role="dialog" aria-labelledby="prize-rules-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered my-modal-dialog" role="document">
    <div class="modal-content my-modal-content--rewards" [ngClass]="type === 'car_race_ioi' ? 'is-ioi' : ''">
      <div class="modal-header">
        <button type="button" class="close my-modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="assets/rewards/X-modal.png" alt=""></span>
        </button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
