.my-modal-dialog {
  max-width: 866px;
}

.my-modal-content--rewards {
  background: url(../../../../assets/base/images/prize-rules-back.png),
    rgba(0, 0, 0, 0.9);
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-radius: 10px;
  min-height: 493px;
  border: 2px solid #fd00f5;
}
.my-modal-content--rewards.is-ioi {
  background: url(../../../../assets/base/images/prize-rules-back-ioi.png),
    rgba(0, 0, 0, 0.9);
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.my-modal-content--rewards .modal-header {
  border-bottom: none;
}
.my-modal-content--rewards .modal-title {
  color: #00c8fe;
  font-size: 32px;
  font-weight: 700;
  margin: 41px auto 15px auto;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .my-modal-content--rewards .modal-title {
    margin: 20px auto;
  }
}
.my-modal-content--rewards .my-modal-close {
  opacity: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.my-modal-content--rewards .modal-body {
  padding: 10px 27px;
  font-size: 1.125rem;
  text-transform: uppercase;
  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    width: 120px;
    height: 49px;
    line-height: 49px;
    background-image: url(../../../../assets/affilate/images/btn-back.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: block;
    font-size: 21px;
    margin: 0 auto 1rem;
    text-align: center;
    &:hover {
      background-image: url(../../../../assets/affilate/images/btn-hover.png);
      color: white;
      text-decoration: none;
    }
  }
  .split-list {
    li {
      color: white;
    }
  }
}
.my-modal-content--rewards .modal-body p {
  margin-bottom: 2rem;
  text-align: justify;
  color: white;
}
