<div class="main-holder">
  <div class="info-me">
    <p class="level">Level {{ Affilate.affiliate_level }}</p>
    <div class="img-holder">
      <div class="avatar-icon">
        <img
          *ngIf="Affilate.affiliate_level"
          [src]="
            'assets/base/images/avatars/avatar' +
            Affilate?.affiliate_level +
            '-small.png'
          "
          alt="My affiliate level avatar"
        />
      </div>
      <img
        src="/assets/base/images/menu/premium-icon.svg"
        alt=""
        class="premium-ind"
        *ngIf="myDriverOld?.is_paid_membership === 'Free'"
      />
      <img
        src="/assets/base/images/menu/premium-icon-active.svg"
        alt=""
        class="premium-ind"
        *ngIf="myDriverOld?.is_paid_membership !== 'Free'"
      />
    </div>
    <div class="text-holder">
      <p class="name">{{ myDriverStats?.nickname }}</p>
      <p class="team">
        {{ "profile.team" | translate }}:
        <span class="my-text-color">{{
          myDriverStats?.team ? myDriverStats?.team : cachedLdrbrd?.team_name
        }}</span>
      </p>
    </div>
  </div>

  <div class="stats-holder">

    <div class="non-premium-hider my-cta-btn-back" 
    *ngIf="
    myDriverOld?.is_paid_membership === 'Free' ||
    !myDriverOld?.is_paid_membership
  ">
      <div class="inner">
        <img src="/assets/base/images/menu/lock-icon-dark.svg" alt="" />
        <p>Unlock by becoming a premium member</p>
      </div>
    </div>

    <div class="stat-item">
      <p class="value">
        {{ myLdrbrd?.team_position ? myLdrbrd?.team_position : "-" }}
      </p>
      <p class="desc">
        Team <br />
        position
      </p>
    </div>
    <div class="stat-item">
      <p class="value">
        {{ myLdrbrd?.player_position_overall ? myLdrbrd?.player_position_overall : "-" }}
      </p>
      <p class="desc">
        Your total <br />
        position
      </p>
    </div>
    <div class="stat-item">
      <p class="value">{{ assetValue ? (assetValue | number: "1.0-0":"fr") : 0 }} IOI</p>
      <p class="desc">
        Asset <br />
        value
      </p>
    </div>
  </div>

  <div class="my-profile">
    <button
      [routerLink]="['/profile/my-profile']"
      class="my-cta-btn-back hoverable"
    >
      My Profile
    </button>
  </div>
  <div class="balance-holder">
    <div class="ticket-holder" *ngIf="tickets && tickets > 0">
      <div class="info-icon">
        <img src="/assets/base/images/icons/inner-info-icon.png" alt="" />
        <div class="info-bubble">
          <div class="img-holder">
            <img src="/assets/base/images/icons/inner-info-icon.png" alt="" />
          </div>
          <p>{{ "profile.ticket_info" | translate }}</p>
        </div>
      </div>
      <img src="/assets/base/images/ticket-white.png" alt="" />
      <p class="indicator">{{ tickets }}</p>
    </div>
    <ng-container>
      <p class="heading">{{ "profile.your_balance" | translate }}</p>
      <div class="items-holder">
        <div class="balance-item">
          <p class="value">
            {{ myDriverBalances?.game_wallet_ioi | number: "1.2-2":"fr" }}
            <span class="curr">{{ "shared.ioi" | translate }}</span>
          </p>
          <p class="dollars">
            &#36;
            {{ myDriverBalances?.game_wallet_ioi * 0.4 | number: "1.2-2":"fr" }}
          </p>
        </div>

        <div class="balance-item">
          <p class="value">
            {{ myDriverBalances?.game_wallet_matic | number: "1.2-2":"fr" }}
            <span class="curr">Polygon</span>
          </p>
          <p class="dollars">&#36; {{ (myDriverBalances?.game_wallet_matic * maticusdt) | number: "1.2-2":"fr" }}</p>
          <div class="line"></div>
        </div>

        <div class="buttons-holder">
          <button
            class="funds-btn my-cta-btn-back hoverable"
            (click)="closeMenu()"
            [routerLink]="['/other/wallet-control']"
            [queryParams]="{ controlType: 'deposit' }"
          >
            Manage funds
          </button>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="edit-car-modal small" *ngIf="showMyStats === true">
    <div class="modal-back" (click)="showMyStats = false">&nbsp;</div>
    <div class="modal-holder">
      <img
        src="/assets/base/images/icons/close-icon.svg"
        alt=""
        class="close-icon"
        (click)="showMyStats = false"
      />
      <app-my-stats></app-my-stats>
    </div>
  </div>

  <div class="edit-car-modal small" *ngIf="showAff === true">
    <div class="modal-back" (click)="showAff = false">&nbsp;</div>
    <div class="modal-holder">
      <img
        src="/assets/base/images/icons/close-icon.svg"
        alt=""
        class="close-icon"
        (click)="showAff = false"
      />
      <app-my-affiliate></app-my-affiliate>
    </div>
  </div>
</div>
