

.main-holder{
    width: 100%;
    padding: 0 30px;
}


.neum-box{
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03), 2px 3px 10px rgba(0, 0, 0, 0.6);
}

.info-me{
    margin-top: 25px;
    text-align: center;
    .level{
        margin: 0 0 5px 0;
        font-size: 14px;
        opacity: .4;
    }
    .img-holder{
        width: 80px;
        margin: 0 auto 20px;
        position: relative;
        .avatar-icon{
            height: 70px;
            overflow: hidden;
            img{
                max-width: 100%;
                width: 100%;
            }
        }
        .premium-ind{
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(50%, -50%);
        }
    }
    .text-holder{
        .name{
            font-size: 20px;
            font-weight: 600;
            margin: 0;
        }
        .team{
            font-size: 14px;
            font-weight: 400;
            margin: 0;
            span{
                font-weight: 600;
                display: inline-block;
                background: linear-gradient(90deg, rgba(149,5,82,1) 0%, rgba(235,33,99,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.balance-holder{
    width: 100%;
    margin: 35px 0 10px;
    position: relative;
    .ticket-holder{
        position: absolute;
        right: 0px;
        top: -2px;
        img{
            width: 25px;
        }
        p{
            color: white;
            font-size: 19px;
            position: absolute;
            bottom: 0px;
            margin: 0;
            left: -14px;
            transform: translateX(-100%);
            line-height: 19px;
            font-weight: 700;
            text-align: center;
        }
    }
    .heading{
        color: #ffffff;
        font-size: 19px;
        font-weight: 600;
        margin-bottom: 7px;
    }
    .items-holder{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .balance-item{
            width: 50%;
            text-align: center;
            margin-top: 30px;
            position: relative;
            .line{
                position: absolute;
                left: -1px;
                top: 0;
                width: 2px;
                height: 50px;
                border-radius: 5px;
                background-color: rgba(255, 255, 255, 0.05);
            }
            .value{
                display: inline-block;
                position: relative;
                font-size: 20px;
                margin: 0;
                font-weight: 400;
                .curr{
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translate(100%, -100%);
                    font-size: 14px;
                    opacity: .4;
                }
            }
            .dollars{
                font-size: 16px;
                margin: 5px 0 0 0;
                font-weight: 400;
                opacity: .4;
            }
            .deposit-btn{
                font-size: 16px;
                margin: 10px 0 0 0;
                font-weight: 400;
                cursor: pointer;
                padding: 5px;
                &:active{
                    transform: translateY(2px);
                }
            }
        }
    }
    .non-verified-box{
        border-radius: 15px;
        padding: 20px;
        position: relative;
        .verify-close{
            position: absolute;
            top: 7px;
            right: 7px;
            transition: .15s;
            padding: 3px;
            cursor: pointer;
            &:hover{
                transform: rotate(90deg);
            }
        }
        .info-img{
            display: inline-block;
            margin-bottom: 10px;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            margin: 0;
            max-width: 90%;
            &.heading{
                font-weight: 600;
                margin-bottom: 10px;
            }
            &.link{
                font-size: 14px;
                cursor: pointer;
                text-decoration: underline;
                margin-top: 17px;
            }
        }
    }
}

.aff-holder{
    margin: 35px 0 10px;
    width: 100%;
    position: relative;
    .non-premium-box{
        position: absolute;
        left: 0;
        top: 90px;
        width: 100%;
        height: 186px;
        z-index: 5;
        padding: 8px 20px 5px 20px;
        text-align: center;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(17, 17, 17, 0.0549706) 2.1%, rgba(9, 9, 9, 0.32) 57.45%, rgba(5, 5, 5, 0.0586787) 98.26%);
            backdrop-filter: blur(10px);
            border-radius: 10px;
        }
        .text{
            font-size: 16px;
            font-weight: 400;
            margin: 20px auto;
            max-width: 215px;
            line-height: 1.3;
        }
        button{
            font-size: 16px;
            font-weight: 400;
            margin: 0;
            padding: 10px 30px;
            border-radius: 10px;
            color: white;
        }
    }
    .heading{
        color: #ffffff;
        font-size: 19px;
        font-weight: 600;
        margin: 0;
    }
    .sub-heading{
        font-size: 16px;
        font-weight: 400;
        opacity: .6;
        margin: 15px 0 20px 0;
    }
    .cont-holder{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cont-item{
            width: 33.333%;
            position: relative;
            padding: 0 5px;
            text-align: center;
            p{
                font-size: 16px;
                margin: 0 0 6px 0;
                &.desc{
                    font-size: 14px;
                    margin: 0;
                    opacity: .4;
                }
            }
            .line{
                position: absolute;
                right: -1px;
                top: 0;
                width: 2px;
                height: 50px;
                border-radius: 5px;
                background-color: rgba(255, 255, 255, 0.05);
            }
        }
    }
    .copy-link{
        width: 100%;
        height: 46px;
        background: #111111;
        box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03);
        border-radius: 10px;
        margin-top: 10px;
        position: relative;
        cursor: pointer;
        .border-maker{
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
            border-radius: 10px;
        }
        .inner-holder{
            position: absolute;
            z-index: 2;
            left: 1px;
            top: 1px;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            background: #111111;
            border-radius: 10px;
            p{
                font-size: 16px;
                margin: 0;
                font-weight: 400;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &.clicked{
                z-index: 3;
                opacity: 0;
                transition: 0.5s;
                &.animate{
                    transition: 0s;
                    opacity: 1;
                }
            }
        }
    }
}

.edit-car-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    transition: .2s;
    z-index: 10000;
    &.small{
        .modal-holder{
            max-width: 600px;
        }
    }
    .modal-back{
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        z-index: 10000;
        position: absolute;
        top: 0;
        left: 0;
    }
    .modal-holder{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        //max-width: 500px;
        min-height: 400px;
        background-color: #111111;
        border-radius: 20px;
        z-index: 10000;
        h1{
            font-size: 40px;
            color: white;
        }
        .close-icon{
            padding: 7px;
            right: 20px;
            top: 20px;
            position: absolute;
            cursor: pointer;
            opacity: .8;
            transition: .1s;
            z-index: 20;
            &:hover{
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 1700px){
    .main-holder{
        padding: 0 25px;
    }
    .info-me{
        margin-top: 20px;
        .img-holder{
            width: 75px;
            margin: 0 auto 15px;
        }
        .text-holder{
            .name{
                font-size: 18px;
            }
        }
    }
    .balance-holder{
        margin: 25px 0 5px;
        .heading{
            font-size: 17px;
        }
        .items-holder{
            .balance-item{
                .value{
                    font-size: 18px;
                }
                .dollars{
                    font-size: 14px;
                    margin: 0;
                }
            }
        }
    }
    .aff-holder{
        margin: 25px 0 5px;
        .heading{
            font-size: 17px;
        }
        .sub-heading{
            margin: 12px 0 12px 0;
            font-size: 15px;
        }
        .cont-holder{
            .cont-item{
                p{
                    font-size: 15px;
                    margin: 0 0 4px 0;
                    &.desc{
                        font-size: 13px;
                    }
                }
            }
        }
        .non-premium-box{
            top: 86px;
            padding: 15px 15px 5px 15px;
            height: 167px;
            img{
                width: 25px;
            }
            .text{
                margin: 15px auto;
                font-size: 14px;
                max-width: 180px;
            }
            button{
                padding: 9px 25px;
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 1550px){

    .main-holder{
        padding: 0 20px;
    }
    .info-me{
        margin-top: 15px;
        .level{
            font-size: 13px;
            margin: 0;
        }
        .img-holder{
            width: 65px;
            max-height: 65px;
            margin: 0 auto 7px;
            .premium-ind{
                width: 28px;
                transform: translate(50%, -30%);
            }
            img{
                max-height: 100%;
            }
        }
        .text-holder{
            .name{
                font-size: 16px;
            }
            .team{
                font-size: 13px;
            }
        }
    }
    .balance-holder{
        margin: 10px 0 5px;
        .heading{
            font-size: 16px;
            margin-bottom: 4px;
        }
        .items-holder{
            .balance-item{
                margin-top: 25px;
                .value{
                    font-size: 16px;
                    .curr{
                        font-size: 12px;
                    }
                }
                .dollars{
                    font-size: 13px;
                }
                .deposit-btn{
                    font-size: 14px;
                    margin: 0;
                    img{
                        width: 16px;
                    }
                }
            }
        }
        .non-verified-box{
            padding: 15px;
            margin-bottom: 7px;
            p{
                max-width: 95%;
                font-size: 14px;
                &.heading{
                    margin-bottom: 7px;
                }
                &.link{
                    margin-top: 12px;
                }
            }
        }
    }
    .aff-holder{
        .heading{
            font-size: 16px;
            margin-bottom: 10px;
        }
        .sub-heading{
            margin: 8px 0 5px 0;
            font-size: 14px;
        }
        .copy-link{
            height: 35px;
            margin-top: 13px;
            .inner-holder{
                p{
                    font-size: 14px;
                }
            }
        }
        .non-premium-box{
            top: 77px;
            padding: 7px 5px 5px 5px;
            height: 140px;
            img{
                width: 20px;
            }
            .text{
                margin: 10px auto;
                font-size: 12px;
                max-width: 180px;
            }
            button{
                padding: 6px 20px;
                font-size: 12px;
                border-radius: 7px;
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .main-holder{
        padding: 0 15px;
    }
    .profile-info{
        margin-top: 3px;
        .profile-stats{
            margin-right: 15px;
            p{
                font-size: 14px;
            }
            .name{
                font-size: 17px;
            }
        }
        .profile-img{
            width: 44px;
            height: 44px;
        }
    }
}

.modal-bodyx {
    position: absolute;
    top: 0;
    left: 0;
    width: 1400px;
    left: -1000px;
    z-index: 1000000;
    background: black;
}
