.page {
  outline: none;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  min-width: 30px;
  height: 30px;
  margin: 10px 0;
}
.pagination {
  margin-top: 30px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-active {
  cursor: default;
  background: rgba($color: #ffffff, $alpha: 0.16);
}
.page-disabled {
  cursor: default;
}
.page-opacity {
  opacity: 0.6;
}
.pagebtn-l,
.pagebtn-r {
  background: none;
  height: 30px;
  width: auto;
  img {
    height: 100%;
  }
}
.no-referrals {
  text-align: center;
}
.table-row {
  .table-item {
    &.big {
      width: 33.33%;
    }
  }
}

@media screen and(max-width: 1024px){
  .page{
    font-size: 10px;
    height: 25px;
    min-width: 25px;
  }
  .pagebtn-l, .pagebtn-r{
    height: 20px;
  }
}

@media screen and(max-width: 1024px) and (orientation: landscape) {
  .table-row {
    height: 20px;
    p{
      font-size: 10px;
    }
  }
  .pagination{
    margin-top: 10px;
  }
}
@media screen and(max-width: 640px) and (orientation: landscape) {
  .table-row {
    height: 25px;
  }
}

@media screen and(max-width: 640px) and (orientation: portrait) {
  .lead-cont-holder {
    width: 100%;
  }
}
