.pagination {
  margin-top: 30px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.page-active {
  cursor: default;
  background: rgba($color: #ffffff, $alpha: 0.16);
}
.page-disabled {
  cursor: default;
}
.page-opacity {
  opacity: 0.6;
}
.pagebtn-l,
.pagebtn-r {
  background: none;
  width: 30px;
}
.table-row {
  .table-item {
    &.big {
      width: 33.33%;
    }
  }
}
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .table-row {
    height: 30px;
  }
}
@media screen and(max-width: 640px) and (orientation: landscape) {
  .table-row {
    height: 25px;
  }
}

@media screen and(max-width: 640px) and (orientation: portrait) {
  .lead-cont-holder {
    width: 100%;
  }
}
