<div class="lead-cont-holder">
  <div class="table-row header">
    <div class="table-item big">
      <p>Name</p>
    </div>
    <div class="table-item big">
      <p>Level</p>
    </div>
    <div class="table-item big last">
      <p>Reward</p>
    </div>
  </div>

  <div class="table-row" *ngFor="let item of affiliatesList; let i = index">
    <div class="table-item big">
      <p>{{ item.nickname }}</p>
    </div>
    <div class="table-item big">
      <p>{{ item.level }}</p>
    </div>
    <div class="table-item big bold last">
      <p>
        <img src="/assets/base/images/teams/reward-token.png" alt="" />
        {{ item.total_rewards_ioi | number: "1.1-1":"fr" }}
      </p>
    </div>
  </div>

  <div class="pagination">
    <button
      (click)="actualPage = actualPage - 1; getReferralPlayers()"
      class="pagebtn-l"
      [disabled]="actualPage <= 1"
    >
      <img
        class="red-box-detail paging-img"
        [ngClass]="{
          'page-opacity': actualPage === 1
        }"
        src="/assets/base/images/icons/icon-back-red.svg"
        alt="red back icon"
      />
      <img
        class="blue-box-detail paging-img"
        [ngClass]="{
          'page-opacity': actualPage === 1
        }"
        src="/assets/base/images/icons/icon-back-blue.svg"
        alt="blue next icon"
      />
    </button>

    <button class="page page-active">{{ actualPage }}</button>
    <button
      (click)="actualPage = actualPage + 1; getReferralPlayers()"
      class="page"
      *ngIf="actualPage + 1 < totalPages"
    >
      {{ actualPage + 1 }}
    </button>
    <button
      (click)="actualPage = actualPage + 2; getReferralPlayers()"
      class="page"
      *ngIf="actualPage + 2 < totalPages"
    >
      {{ actualPage + 2 }}
    </button>
    <button
      (click)="actualPage = actualPage + 3; getReferralPlayers()"
      class="page"
      *ngIf="actualPage + 3 < totalPages"
    >
      {{ actualPage + 3 }}
    </button>
    <button class="page page-disabled" *ngIf="actualPage + 4 < totalPages">
      ...
    </button>
    <button
      (click)="actualPage = totalPages; getReferralPlayers()"
      class="page"
      *ngIf="actualPage < totalPages"
    >
      {{ totalPages }}
    </button>

    <button
      (click)="actualPage = actualPage + 1; getReferralPlayers()"
      class="pagebtn-r"
      [disabled]="actualPage >= totalPages"
    >
      <img
        class="red-box-detail paging-img"
        [ngClass]="{
          'page-opacity': actualPage >= totalPages
        }"
        src="/assets/base/images/icons/icon-next-red.svg"
        alt="red back icon"
      />
      <img
        class="blue-box-detail paging-img"
        [ngClass]="{
          'page-opacity': actualPage === totalPages
        }"
        src="/assets/base/images/icons/icon-next-blue.svg"
        alt="blue next icon"
      />
    </button>
  </div>
</div>
