<div class="page-holder">
    <div class="content-holder">
        <nav>
            <a [routerLink]="['/user/welcome']"><img src="/assets/base/images/logo.png" alt=""></a>
        </nav>
      
        <div class="heading-holder">
            <h1>STATUTE OF COMPETITION </h1>
            <h2>for the Trade Race Manager service and website (traderacemanager.com)</h2>
        </div>
      
        <ol>
            <li class="big-list-item">INTRODUCTORY PROVISIONS
                <ol>
                    <li>The subject-matter of this Statute of competition Trade Race Manager (the „Statute of competition“), is an adjustment of the conditions and rules of the competitions operated on the website www.traderacemanager.com, by the Operator, which is the company IOI CORPORATION s. r. o., registered seat: Vajnorská 100, 831 04 Bratislava, Slovak Republic, ID no.: 51 951 495, registration: Business Register of the District court Bratislava I, section: Sro, insert no.: 131530/B. The Operator of the website is also the announcer of the competition.</li>
                    <li>As a Consumer, you agree to this Stature of competition, which, together with the General Terms and Conditions and the Privacy Policy, published on the website, valid at the time of concluding the Contract, form the documentation and comprehensive regulation of rights and obligations that apply to you by concluding a contractual relationship and participating in the competition. </li>
                </ol>
            </li>
            <li class="big-list-item">PURPOSE AND SUBJECT OF THE COMPETITION 
                <ol>
                    <li>The purpose of the competition is to enable registered users of the Operator's website to use its functionality, which is to participate in competitions and the opportunity to obtain benefits in the form of winnings, under the conditions, amount and manner as further regulated in this Statute of competition.</li>
                    <li>A registered user, which is a natural person - non-entrepreneur (the "Player") is entitled to register in accordance with the rules and conditions contained in the document General Terms and Conditions (the "GTCs") and after its registration to buy virtual products and participate in the following types of competitions:
                        <ol>
                            <li>free races,</li>
                            <li>tournament,</li>
                            <li>race for a fee,</li>
                            <li>Wednesday race. </li>
                        </ol>
                    </li>
                    <li>The Player enters the individual competitions listed in letters a. to d. point 2.2 of the Statute of the competition will participate according to the specific rules applicable to a particular type of competition as defined in points 2.6 to 2.26 of the Statute of the competition. </li>
                    <li>The winnings in all competitions are the so-called IOI tokens that are credited to the Player's credit in the amount specified in the definition of a particular competition. The win will be credited automatically, without the need for further actions by the Player. We hereby draw the player's attention to the obligation to tax winnings within the framework of the valid legislation relating to the taxation of personal income, specifically in accordance with Act no. 595/2003 Coll. on income tax, as amended. </li>
                    <li>The Player has no legal right to the winning, the winnings cannot be exchanged, the right to win cannot be transferred to another person or another Player. The competition is governed by the applicable laws of the Slovak Republic and enforcement of participation in the competition or the winning through the courts is excluded. Winnings cannot be cashed.</li>
                    <li>By participating in the competition, the Player receives several benefits at the same time, defined in more detail in the table:</li>
                    <img src="/assets/base/images/info-pages/tokens-benefit.png" alt="">
                    <p>FREE RACES</p>
                    <li>Free race starts every 2 minutes and is considered as an onboarding game and a tutorial. It is limited up to 200 players per one round race.</li>
                    <li>The first 50 players split the price pool of 1 IOI according to this table and the Player can join with maximum 5 cars.</li>
                    <img src="/assets/base/images/info-pages/free-race-split.JPG" alt="">
                    <p>FREE TOURNAMENT </p>
                    <li>The free tournament is also a part of the free races. There are 10 qualification rounds where the Players are collecting points according to the table below.</li>
                    <li>The first 50 Players split the price pool of 3 Tickets, which can be used to access 1 IOI race fo free, according to this table and the Player can join with maximum 5 cars.</li>
                    <img src="/assets/base/images/info-pages/free-tour-split.JPG" alt="">
                    <li>The race starts every hour and the Player will go through 10 mad races to collect points. The best 10 racers advance into the next level where another 9 rounds of madness are waiting for them to prove their skills. After every race is one racer out and this phase-out will reveal only three true winners that will receive the tickets for the paid tournament with prize pool possibility. The minimum amount of participants to start a tournament is 10.</li>
                    <p>TOURNAMENT</p>
                    <li>This race also starts every hour with the price pool from 500 up to 10 000 IOI. The Player can increase his wining chance adding more cars to the race.</li>
                    <p>IOI RACES</p>
                    <li>1 IOI - the Player can participate in this race for a bet of 1 IOI to win up to 100 IOI which is 100 times more! The Player´s car speed will depend on the performance of chosen crypto to fuel up with. Either give it a go like a pro, predict market and fuel up yourself or use the automatic function to fuel up with just one click. More cars the Player has in one race, a better chance to win he gets.
                        Duration 30 seconds.
                        </li>
                    <li>5 IOI - The Player can participate in this race for a bet of 5 IOI to win up to 500 IOI which is 100 times more! The Player´s car speed will depend on the performance of chosen crypto to fuel up with. Either give it a go like a pro, predict market and fuel up yourself or use the automatic function to fuel up with just one click. More cars the Player has in one race, a better chance to win he gets.
                        Duration 30 seconds.
                        </li>
                    <li>10 IOI - The Player can participate in this race for a bet of 10 IOI to win up to 1 000 IOI which is 100 times more! The Player´s car speed will depend on the performance of chosen crypto to fuel up with. Either give it a go like a pro, predict market and fuel up yourself or use the automatic function to fuel up with just one click. More cars the Player has in one race, a better chance to win he gets.
                            Duration 30 seconds.
                        </li>
                    <li>50 IOI - The Player can participate in this race for a bet of 50 IOI to win up to 50 000 IOI which is 100 times more! The Player´s car speed will depend on the performance of chosen crypto to fuel up with. Either give it a go like a pro, predict market and fuel up yourself or use the automatic function to fuel up with just one click. More cars the Player has in one race, a better chance to win he gets.
                            Duration 30 seconds.
                        </li>
                    <li>100 IOI - The Player can participate in this race for a bet of 5 IOI to win up to 10 000 IOI which is 100 times more! The Player´s car speed will depend on the performance of chosen crypto to fuel up with. Either give it a go like a pro, predict market and fuel up yourself or use the automatic function to fuel up with just one click. More cars the Player has in one race, a better chance to win he gets.
                            Duration 30 seconds.
                        </li>
                    <p>WEDNESDAY RACE</p>
                    <li>This race starts every Wednesday at 15.00 CET and winning price is 500 IOI. The Player can increase his wining chance by adding more cars to the race with the condition of holding IOI Token according the rules:
                        <ul>
                            <li>Hold 100 IOI tokens – 1 car</li>
                            <li>Hold 1000 IOI tokens– 2 cars</li>
                            <li>Hold 5000 IOI tokens – 3 cars</li>
                            <li>Hold 10 000 IOI tokens – 4 cars.</li>
                        </ul>
                    </li>
                    <p>COLLECTIBLES CARS BENEFITS</p>
                    <li>The player can use more cars in the same race and increase his winning chance:
                        <ul>
                            <li>car staking up 24 % APY as indicated in summary table below</li>
                            <li>cars in value range 100 - 1000 IOI get 6% APY, cars in value range 1000-5000 IOI get 12% APY, cars in value range 5000-10 000 IOI get 18% APY, cars in value range above 10 000 IOI get 24% APY;</li>
                            <li>staking rewards are paid in IOI tokens;</li>
                            <li>once the Player buys the complete edition and get staking reward according to the table below, he can get one bonus car for free;</li>
                            <li>the Player can sell the cars for the profit on the NFTs market or hold long term in the future;</li>
                        </ul>
                    </li>
                    <img src="/assets/base/images/info-pages/car-benefits.JPG" alt="">
                    <li>With the car bonus the Player gets 100% higher rewards paid out monthly with the condition of the races participated in a month, as stated in the table.</li>
                    <li>The price for the bonus car is in the value of the whole edition with the bonus the Player double the rewards each car has limited number of pieces.</li>
                    <p>AFFILIATE LEVELS</p>
                    <li>Racers move to higher levels as they spend money on bets on the IOI platform.
                        <ol>
                            <li>Rookie (level 1): The easiest way to build your online income by playing crypto games. No maintenance, no fees. You will get 0.5% from turnover of your affiliates.</li>
                            <li>Flash (level 2): To get to this level, turn over at least 50 IOI tokens. To keep it, attend at least one paid race in a week. You will get 1% from turnover of your affiliates.</li>
                            <li>Racer (level 3): To get to this level, turn over at least 1000 IOI tokens. To keep it, attend at least two paid races in a week. You will get 1,5% from turnover of your affiliates.</li>
                            <li>Champion (level 4): To get to this level, turn over at least 5000 IOI tokens. To keep it, attend at least three paid races in a week. You will get 2% from turnover of your affiliates.</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="big-list-item">CONDITIONS OF PARTICIPATION 
                <ol>
                    <li>Competitions as defined in this Statute of competition, may only be entered by Players who have been successfully registered on the website www.traderacemanager.com and have been credited to their virtual currency wallet with the credit required to enter the competition. </li>
                    <li>At the same time, only a natural person who has reached the age of 18 (in words: eighteen) and meets all the conditions set out in this Statute of the competition may participate in the competition.</li>
                    <li>From the competition is excluded a Player, who, by its actions, intentionally and unintentionally damages the Operator's website, circumvents the competition rules set out in this Statute of the competition, the GTCs and other specifications contained on the website, or acts in violation of the GTC. </li>
                    <li>If a person who does not meet the conditions under this Statute of the competition, the GTC and the rules stated on the Operator's Website participates in the competition, he will be excluded from the competition. If such person wins one of the competitions, his right to win also expires. </li>
                </ol>
            </li>
            <li class="big-list-item">FINAL PROVISIONS 
                <ol>
                    <li>The Operator has the right to change the Statute of the competition or to cancel the competition at any time. The Operator will publish the change of the Statute or cancellation of the competition on its website and at the same time notify the Players thereof.</li>
                    <li>The Operator does not reimburse the Player for any costs incurred by participating in the competition and / or winning the competition.</li>
                </ol>
            </li>
        </ol>
      
        <footer>
            <p>In Bratislava, Slovak Republic</p>
            <p class="footer-date">On 1 March 2021</p>
            <p>IOI CORPORATION s. r. o.</p>
            <p>Rastislav Bakala, Managing director</p>
        </footer>
      
      </div>
</div>