<div class="modal-holder" *ngIf="showRuleModal">
  <div class="modal-back"></div>

  <div class="modal-cont my-border-grad">
    <div class="inner-holder">
      <div class="table-holder">
        <!-- <button class="close-btn" (click)="showRuleModal = false">+</button> -->
        <div class="table-title">
          <p class="table-title-text">Detailed reward system</p>
          <p class="table-title-text center">|</p>
          <p class="table-title-text red bold my-text-color">
            Every 10-minute race
          </p>
        </div>
        <div class="free-race-table">
          <div class="table-heading">
            <div class="table-item table-text text-font">Position</div>
            <div class="table-item table-text text-font">NON-NFT</div>
            <div class="table-item table-text text-font">COMMON</div>
            <div class="table-item table-text text-font">COMMON RARE</div>
            <div class="table-item table-text text-font">SUPER</div>
            <div class="table-item table-text text-font">SUPER RARE</div>
            <div class="table-item table-text text-font">EPIC</div>
            <div class="table-item table-text text-font">EPIC RARE</div>
            <div class="table-item table-text text-font">LEGENDARY</div>
            <div class="table-item last table-text">LEGENDARY RARE</div>
          </div>
          <div class="table-row">
            <div class="table-item table-text">1st</div>
            <div class="table-item table-text">0,1 &#36;IOI</div>
            <div class="table-item table-text">1 &#36;IOI</div>
            <div class="table-item table-text">1,5 &#36;IOI</div>
            <div class="table-item table-text">2 &#36;IOI</div>
            <div class="table-item table-text">3 &#36;IOI</div>
            <div class="table-item table-text">4 &#36;IOI</div>
            <div class="table-item table-text">6 &#36;IOI</div>
            <div class="table-item table-text">8 &#36;IOI</div>
            <div class="table-item last table-text">12 &#36;IOI</div>
          </div>
          <div class="table-row">
            <div class="table-item table-text">2nd</div>
            <div class="table-item table-text">0,1 &#36;IOI</div>
            <div class="table-item table-text">0,5 &#36;IOI</div>
            <div class="table-item table-text">0,75 &#36;IOI</div>
            <div class="table-item table-text">1 &#36;IOI</div>
            <div class="table-item table-text">1,5 &#36;IOI</div>
            <div class="table-item table-text">2 &#36;IOI</div>
            <div class="table-item table-text">3 &#36;IOI</div>
            <div class="table-item table-text">4 &#36;IOI</div>
            <div class="table-item last table-text">6 &#36;IOI</div>
          </div>
          <div class="table-row">
            <div class="table-item table-text">3rd</div>
            <div class="table-item table-text">0,1 &#36;IOI</div>
            <div class="table-item table-text">0,3 &#36;IOI</div>
            <div class="table-item table-text">0,45 &#36;IOI</div>
            <div class="table-item table-text">0,6 &#36;IOI</div>
            <div class="table-item table-text">0,9 &#36;IOI</div>
            <div class="table-item table-text">1,2 &#36;IOI</div>
            <div class="table-item table-text">1,8 &#36;IOI</div>
            <div class="table-item table-text">2,4 &#36;IOI</div>
            <div class="table-item last table-text">3,6 &#36;IOI</div>
          </div>
          <div class="table-row">
            <div class="table-item table-text">4th (Premium)</div>
            <div class="table-item table-text">0,1 &#36;IOI</div>
            <div class="table-item table-text">0,2 &#36;IOI</div>
            <div class="table-item table-text">0,3 &#36;IOI</div>
            <div class="table-item table-text">0,4 &#36;IOI</div>
            <div class="table-item table-text">0,5 &#36;IOI</div>
            <div class="table-item table-text">0,6 &#36;IOI</div>
            <div class="table-item table-text">0,7 &#36;IOI</div>
            <div class="table-item table-text">0,8 &#36;IOI</div>
            <div class="table-item last table-text">0,9 &#36;IOI</div>
          </div>
          <div class="table-row">
            <div class="table-item table-text">5th (Premium)</div>
            <div class="table-item table-text">0,1 &#36;IOI</div>
            <div class="table-item table-text">0,2 &#36;IOI</div>
            <div class="table-item table-text">0,3 &#36;IOI</div>
            <div class="table-item table-text">0,4 &#36;IOI</div>
            <div class="table-item table-text">0,5 &#36;IOI</div>
            <div class="table-item table-text">0,6 &#36;IOI</div>
            <div class="table-item table-text">0,7 &#36;IOI</div>
            <div class="table-item table-text">0,8 &#36;IOI</div>
            <div class="table-item last table-text">0,9 &#36;IOI</div>
          </div>
          <div class="table-row">
            <div class="table-item table-text">6th (Premium)</div>
            <div class="table-item table-text">0,1 &#36;IOI</div>
            <div class="table-item table-text">0,2 &#36;IOI</div>
            <div class="table-item table-text">0,3 &#36;IOI</div>
            <div class="table-item table-text">0,4 &#36;IOI</div>
            <div class="table-item table-text">0,5 &#36;IOI</div>
            <div class="table-item table-text">0,6 &#36;IOI</div>
            <div class="table-item table-text">0,7 &#36;IOI</div>
            <div class="table-item table-text">0,8 &#36;IOI</div>
            <div class="table-item last table-text">0,9 &#36;IOI</div>
          </div>
          <div class="table-row">
            <div class="table-item table-text">7th (Premium)</div>
            <div class="table-item table-text">0,1 &#36;IOI</div>
            <div class="table-item table-text">0,2 &#36;IOI</div>
            <div class="table-item table-text">0,3 &#36;IOI</div>
            <div class="table-item table-text">0,4 &#36;IOI</div>
            <div class="table-item table-text">0,5 &#36;IOI</div>
            <div class="table-item table-text">0,6 &#36;IOI</div>
            <div class="table-item table-text">0,7 &#36;IOI</div>
            <div class="table-item table-text">0,8 &#36;IOI</div>
            <div class="table-item last table-text">0,9 &#36;IOI</div>
          </div>
          <div class="table-row">
            <div class="table-item table-text">8th (Premium)</div>
            <div class="table-item table-text">0,1 &#36;IOI</div>
            <div class="table-item table-text">0,2 &#36;IOI</div>
            <div class="table-item table-text">0,3 &#36;IOI</div>
            <div class="table-item table-text">0,4 &#36;IOI</div>
            <div class="table-item table-text">0,5 &#36;IOI</div>
            <div class="table-item table-text">0,6 &#36;IOI</div>
            <div class="table-item table-text">0,7 &#36;IOI</div>
            <div class="table-item table-text">0,8 &#36;IOI</div>
            <div class="table-item last table-text">0,9 &#36;IOI</div>
          </div>
          <div class="table-row">
            <div class="table-item table-text">9th (Premium)</div>
            <div class="table-item table-text">0,1 &#36;IOI</div>
            <div class="table-item table-text">0,2 &#36;IOI</div>
            <div class="table-item table-text">0,3 &#36;IOI</div>
            <div class="table-item table-text">0,4 &#36;IOI</div>
            <div class="table-item table-text">0,5 &#36;IOI</div>
            <div class="table-item table-text">0,6 &#36;IOI</div>
            <div class="table-item table-text">0,7 &#36;IOI</div>
            <div class="table-item table-text">0,8 &#36;IOI</div>
            <div class="table-item last table-text">0,9 &#36;IOI</div>
          </div>
          <div class="table-row">
            <div class="table-item table-text">10th (Premium)</div>
            <div class="table-item table-text">0,1 &#36;IOI</div>
            <div class="table-item table-text">0,2 &#36;IOI</div>
            <div class="table-item table-text">0,3 &#36;IOI</div>
            <div class="table-item table-text">0,4 &#36;IOI</div>
            <div class="table-item table-text">0,5 &#36;IOI</div>
            <div class="table-item table-text">0,6 &#36;IOI</div>
            <div class="table-item table-text">0,7 &#36;IOI</div>
            <div class="table-item table-text">0,8 &#36;IOI</div>
            <div class="table-item last table-text">0,9 &#36;IOI</div>
          </div>
          <div class="table-row">
            <div class="table-item table-text text-font">Activity Boost</div>
            <div class="table-item-long table-text text-font">
              Coming soon !
            </div>
          </div>
          <div class="table-row soon">
            <div class="table-item table-text">10 Daily Loggins</div>
            <div class="table-item-long">
              <span class="red table-text text-font bold">X1.5 BOOST</span>
            </div>
          </div>
          <div class="table-row soon">
            <div class="table-item table-text">20 Daily Loggins</div>
            <div class="table-item-long">
              <span class="red table-text text-font bold">X2.0 BOOST</span>
            </div>
          </div>
          <div class="table-row soon">
            <div class="table-item table-text">30 Daily Loggins</div>
            <div class="table-item-long">
              <span class="red table-text text-font bold">X3.0 BOOST</span>
              <span class="golden-text table-text text-font bold"
                >&#43; Premium Membership for 1 month for free</span
              >
            </div>
          </div>
        </div>
        <!-- <button
        class="next-btn my-cta-btn-back"
        (click)="stepIndex = stepIndex + 1"
        *ngIf="stepIndex < 4"
      >
        Continue
      </button> -->
      </div>
      <div class="buttons-holder">
        <button
          class="next-btn my-cta-btn-back"
          (click)="showRuleModal = false"
          *ngIf="stepIndex === 1"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
