

<div class="modal-holder" *ngIf="showRuleModal">
  <div class="modal-back"></div>

  <div class="modal-cont my-border-grad">
    <div class="inner-holder">
      <button class="close-btn" (click)="showRuleModal = false">+</button>

      <div class="modal-step step1" *ngIf="stepIndex === 1">
        <h2>NEW RULES</h2>
        <p class="sub-heading">All races are now <span>FREE</span> with a guaranted prizepool of up to <span>30 &#36;IOI</span></p>

        <div class="cont-holder">
          <div class="flex-item">
            <div class="heading-holder">
              <p class="heading">Top 3 racers</p>
              <div class="desc">
                <p>Everyone</p>
                <div class="line"></div>
              </div>
            </div>

            <div class="item-holder">
              <p class="heading heading1">1ST</p>
              <p class="text"><span>100%</span> of the prize depending on a car</p>
            </div>
            <div class="item-holder">
              <p class="heading heading2">2ND</p>
              <p class="text"><span>50%</span> of the prize depending on a car</p>
            </div>
            <div class="item-holder">
              <p class="heading heading3">3RD</p>
              <p class="text"><span>30%</span> of the prize depending on a car</p>
            </div>

          </div>

          <div class="my-border"></div>

          <div class="flex-item bigger">
            <div class="heading-holder">
              <p class="heading">Top 10 racers</p>
              <div class="desc">
                <p class="premium">only with premium</p>
                <div class="line"></div>
              </div>
            </div>

            <p class="my-text">Receive placement points for their team leaderboard,
             top 10 premium players of the best 3 teams split guaranteed team bonus 2000 IOI each season</p>
            <ul>
              <li>Top 10 racers overall receive guaranteed best racer bonus of 1000 IOI each season</li>
            </ul>

            <div class="my-table">
              <div class="table-row header">
                <div class="table-item desc">
                  <p>Racer position by points</p>
                </div>
                <div class="table-item">
                  <p>1st</p>
                </div>
                <div class="table-item">
                  <p>2nd</p>
                </div>
                <div class="table-item">
                  <p>3rd</p>
                </div>
                <div class="table-item">
                  <p>4th</p>
                </div>
                <div class="table-item">
                  <p>5th</p>
                </div>
                <div class="table-item">
                  <p>6th</p>
                </div>
                <div class="table-item">
                  <p>7th</p>
                </div>
                <div class="table-item">
                  <p>8th</p>
                </div>
                <div class="table-item">
                  <p>9th</p>
                </div>
                <div class="table-item">
                  <p>10th</p>
                </div>
              </div>

              <div class="table-row">
                <div class="table-item desc">
                  <p>Win in IOI</p>
                </div>
                <div class="table-item">
                  <p>300</p>
                </div>
                <div class="table-item">
                  <p>200</p>
                </div>
                <div class="table-item">
                  <p>130</p>
                </div>
                <div class="table-item">
                  <p>100</p>
                </div>
                <div class="table-item">
                  <p>70</p>
                </div>
                <div class="table-item">
                  <p>60</p>
                </div>
                <div class="table-item">
                  <p>50</p>
                </div>
                <div class="table-item">
                  <p>40</p>
                </div>
                <div class="table-item">
                  <p>30</p>
                </div>
                <div class="table-item">
                  <p>20</p>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

      <div class="modal-step step2" *ngIf="stepIndex === 2">
        <h2>new car reward system</h2>
        <p class="sub-heading">Win more <span>money</span> in races</p>

        <div class="cont-holder">

          <div class="flex-item bordered">
            <p class="heading">non-nft car</p>
            <div class="table-row">
              <p>0.1 &#36;IOi</p>
            </div>
            <div class="table-row">
              <p>0.1 &#36;IOi</p>
            </div>
            <div class="table-row">
              <p>0.1 &#36;IOi</p>
            </div>
          </div>

          <div class="flex-item bordered">
            <p class="heading">NFT CARS</p>
            <div class="table-row">
              <div class="table-item">
                <p class="desc">common</p>
              </div>
              <div class="my-border"></div>
              <div class="table-item">
                <p>0.33 &#36;IOi</p>
              </div>
            </div>

            <div class="table-row">
              <div class="table-item">
                <p class="desc">super</p>
              </div>
              <div class="my-border"></div>
              <div class="table-item">
                <p>0.66 &#36;IOi</p>
              </div>
            </div>

            <div class="table-row">
              <div class="table-item">
                <p class="desc">epic</p>
              </div>
              <div class="my-border"></div>
              <div class="table-item">
                <p>1.32 &#36;IOi</p>
              </div>
            </div>

            <div class="table-row">
              <div class="table-item">
                <p class="desc">legendary</p>
              </div>
              <div class="my-border"></div>
              <div class="table-item">
                <p>1.98 &#36;IOi</p>
              </div>
            </div>
          </div>

          <div class="flex-item">
            <p class="heading my-text-color">rare nft cars</p>
            <div class="table-row">
              <div class="table-item">
                <p class="desc my-text-color">common</p>
              </div>
              <div class="my-border"></div>
              <div class="table-item">
                <p class="my-text-color">X1.5</p>
              </div>
            </div>

            <div class="table-row">
              <div class="table-item">
                <p class="desc my-text-color">super</p>
              </div>
              <div class="my-border"></div>
              <div class="table-item">
                <p class="my-text-color">X2</p>
              </div>
            </div>

            <div class="table-row">
              <div class="table-item">
                <p class="desc my-text-color">epic</p>
              </div>
              <div class="my-border"></div>
              <div class="table-item">
                <p class="my-text-color">X2.5</p>
              </div>
            </div>

            <div class="table-row">
              <div class="table-item">
                <p class="desc my-text-color">legendary</p>
              </div>
              <div class="my-border"></div>
              <div class="table-item">
                <p class="my-text-color">X3</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="modal-step step3" *ngIf="stepIndex === 3">
        <h2>new team bonus</h2>
        <h2 class="my-text-color">2 000 &#36;IOI</h2>
        <p class="sub-heading">Split between <span>Top 10 players</span> of Top 3 team every <span>month</span></p>

        <div class="cont-holder">
          <div class="bonus-holder">
            <div class="bonus-item bordered">
              <p class="heading heading1">1ST</p>
              <p class="value">1 000 &#36;IOI</p>
            </div>
            <div class="bonus-item bordered">
              <p class="heading heading2">2ND</p>
              <p class="value">700 &#36;IOI</p>
            </div>
            <div class="bonus-item">
              <p class="heading heading3">3RD</p>
              <p class="value">300 &#36;IOI</p>
            </div>
          </div>
        </div>

      </div>

      <div class="modal-step step4" *ngIf="stepIndex === 4">
        <h2>Best racer bonus</h2>

        <div class="cont-holder">
          <div class="my-table racer-bonus">
            <div class="table-row header">
              <div class="table-item desc">
                <p>Position</p>
              </div>
              <div class="table-item">
                <p>Nr.1 Team - 1 000 IOI</p>
              </div>
              <div class="table-item">
                <p>Nr.2 Team - 700 IOI</p>
              </div>
              <div class="table-item">
                <p>Nr.3 Team - 300 IOI</p>
              </div>
            </div>

            <div class="table-row">
              <div class="table-item desc">
                <p>1st position</p>
              </div>
              <div class="table-item">
                <p>300</p>
              </div>
              <div class="table-item">
                <p>200</p>
              </div>
              <div class="table-item">
                <p>100</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>2nd position</p>
              </div>
              <div class="table-item">
                <p>200</p>
              </div>
              <div class="table-item">
                <p>120</p>
              </div>
              <div class="table-item">
                <p>60</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>3rd position</p>
              </div>
              <div class="table-item">
                <p>100</p>
              </div>
              <div class="table-item">
                <p>85</p>
              </div>
              <div class="table-item">
                <p>50</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>4th position</p>
              </div>
              <div class="table-item">
                <p>90</p>
              </div>
              <div class="table-item">
                <p>70</p>
              </div>
              <div class="table-item">
                <p>30</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>5th position</p>
              </div>
              <div class="table-item">
                <p>80</p>
              </div>
              <div class="table-item">
                <p>60</p>
              </div>
              <div class="table-item">
                <p>20</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>6th position</p>
              </div>
              <div class="table-item">
                <p>70</p>
              </div>
              <div class="table-item">
                <p>50</p>
              </div>
              <div class="table-item">
                <p>10</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>7th position</p>
              </div>
              <div class="table-item">
                <p>60</p>
              </div>
              <div class="table-item">
                <p>40</p>
              </div>
              <div class="table-item">
                <p>10</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>8th position</p>
              </div>
              <div class="table-item">
                <p>50</p>
              </div>
              <div class="table-item">
                <p>30</p>
              </div>
              <div class="table-item">
                <p>10</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>9th position</p>
              </div>
              <div class="table-item">
                <p>30</p>
              </div>
              <div class="table-item">
                <p>25</p>
              </div>
              <div class="table-item">
                <p>10</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>10th position</p>
              </div>
              <div class="table-item">
                <p>20</p>
              </div>
              <div class="table-item">
                <p>20</p>
              </div>
              <div class="table-item">
                <p>10</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="switcher-holder">
        <button class="inactive left-arrow" [ngClass]="{'inactive': stepIndex === 1}" [disabled]="stepIndex === 1" (click)="stepIndex = stepIndex - 1">
          <svg width="23" height="26" viewBox="0 0 23 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 21.6603L18 13L3 4.33975L3 21.6603Z" stroke-width="5"/>
          </svg> 
        </button>         
        <div class="dots-holder">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="slider my-cta-btn-back" [ngClass]="'state' + stepIndex"></div>
        </div>
        <button class="right-arrow" [ngClass]="{'inactive': stepIndex === 4}" [disabled]="stepIndex === 4" (click)="stepIndex = stepIndex + 1">
          <svg width="23" height="26" viewBox="0 0 23 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 21.6603L18 13L3 4.33975L3 21.6603Z" stroke-width="5"/>
          </svg> 
        </button>
      </div>

      <button class="next-btn my-cta-btn-back" (click)="stepIndex = stepIndex + 1" *ngIf="stepIndex < 4">Continue</button>
      <button class="next-btn my-cta-btn-back" (click)="showRuleModal = false" *ngIf="stepIndex === 4">Close</button>

    </div>
  </div>

</div>