<div class="tasks-banner">

  <div class="deposit-item item" *ngIf="page === 'default'">
    <h1>{{'start-race.hello' | translate}}, {{myDriverStats?.nickname}}</h1>
    <h2>{{'main_top_banner.heading1_1' | translate}} <strong [routerLink]="['/other/tasks']">{{'main_top_banner.heading1_2' | translate}}</strong> {{'main_top_banner.heading1_2' | translate}}</h2>
    <button [routerLink]="['/other/tasks']">{{'main_top_banner.text1' | translate}} <span>></span></button>
  </div>

  <div class="deposit-item item" *ngIf="page === 'reward'">
    <h1>{{'teams.join.modals.reward' | translate}}</h1>
    <h2>{{'main_top_banner.text2' | translate}}</h2>
  </div>

  <div class="deposit-item item" *ngIf="page === 'team'">
    <h1>{{'shared.layout.team' | translate}}</h1>
    <h2>{{'main_top_banner.text3' | translate}}</h2>
  </div>

  <div class="deposit-item item" *ngIf="page === 'adventure'">
    <h1>{{'main_top_banner.heading2' | translate}}</h1>
    <h2>{{'main_top_banner.text4' | translate}}</h2>
  </div>

  <div class="deposit-item item" *ngIf="page === 'trx-race'">
    <h1>{{'main_top_banner.heading3' | translate}}</h1>
    <h2>{{'main_top_banner.text4' | translate}}</h2>
  </div>

  <div class="deposit-item item" *ngIf="page === 'ioi-race'">
    <h1>{{'main_top_banner.heading4' | translate}}</h1>
    <h2>{{'main_top_banner.text4' | translate}}</h2>
  </div>

  <div class="deposit-item item" *ngIf="page === 'fuel-car1'">
    <h1>{{'main_top_banner.heading5' | translate}}</h1>
    <h2>{{'main_top_banner.text5' | translate}}</h2>
  </div>

  <div class="deposit-item item" *ngIf="page === 'fuel-car2'">
    <h1>{{'main_top_banner.heading6' | translate}}</h1>
    <h2>{{'main_top_banner.text6' | translate}}</h2>
  </div>

  <div class="deposit-item item" *ngIf="page === 'fuel-car3'">
    <h1>{{'main_top_banner.heading7' | translate}}</h1>
    <h2>{{'main_top_banner.text7' | translate}}</h2>
  </div>

  <div class="deposit-item item" *ngIf="page === 'fuel-car4'">
    <h1>{{'main_top_banner.heading8' | translate}}</h1>
    <h2>{{'main_top_banner.text8' | translate}}</h2>
  </div>

  <div class="deposit-item item" *ngIf="page === 'fuel-car5'">
    <h1>{{'main_top_banner.heading9' | translate}}</h1>
    <h2>{{'main_top_banner.text9' | translate}}</h2>
  </div>

  <div class="deposit-item item" *ngIf="page === 'history'">
    <h1>{{'main_top_banner.heading10' | translate}}</h1>
    <h2>{{'main_top_banner.text10' | translate}}</h2>
  </div>

  <div class="deposit-item item" *ngIf="page === 'garage'">
    <h1>{{'main_top_banner.heading11' | translate}}</h1>
    <h2>{{'main_top_banner.text11' | translate}}</h2>
  </div>

  <div class="deposit-item item" *ngIf="page === 'my-cars'">
    <h1>{{'main_top_banner.heading12' | translate}}</h1>
    <h2>{{'main_top_banner.text12' | translate}}</h2>
  </div>

  <div class="deposit-item item" *ngIf="page === 'game-wallet'">
    <h1>{{'main_top_banner.heading13' | translate}}</h1>
    <h2>{{'main_top_banner.text13' | translate}}</h2>
  </div>
  
  
  <div class="deposit-item item" *ngIf="page === 'd-tasks'">
    <h1>{{'main_top_banner.heading14' | translate}}</h1>
    <h2>{{'main_top_banner.text14' | translate}}</h2>
  </div>
  
  
  <div class="deposit-item item cops-banner" *ngIf="page === 'cops'">
    <h1>{{'main_top_banner.heading15' | translate}}</h1>
    <h2>{{'main_top_banner.text15' | translate}}</h2>
  </div>

  <div class="deposit-item item cops-banner" *ngIf="page === 'about-tokens'">
    <h1>About tokens and dividends</h1>
    <h2>Here you can collect some useful info about our token and dividends pool</h2>
  </div>

</div>
