<div class="page-holder">
    <div class="content-holder">
        <nav>
            <a [routerLink]="['/user/home']"><img src="/assets/base/images/logo.png" alt=""></a>
        </nav>
      
        <div class="heading-holder">
            <h2>CREDIT SYSTEM</h2>
            <h3>for the Trade Race Manager service and website (traderacemanager.com)</h3>
        </div>
      
        <ol>
            <li class="big-list-item">INTRODUCTORY PROVISIONS
                <ol>
                    <li>The subject-matter of the document Credit system of the Trade Race Manager service and website (traderacemanager.com) (the “Credit System”) is the modification of the conditions and rules for obtaining Credit, within the use of the functions of the website www.traderacemanager.com, set by the Operator, which is the company IOI CORPORATION s. r. o., registered seat: Vajnorská 100, 831 04 Bratislava, Slovak Republic, ID no.: 51 951 495, registration: Business Register of the District court Bratislava I, section: Sro, insert no.: 131530/B</li>
                    <li>As a Consumer, you agree to this Credit System, which together with the General Terms and Conditions, the Statute of competition and the Privacy Policy published on the website, valid at the time of concluding the Contract, constitutes the documentation and comprehensive arrangement of rights and obligations applicable to you by concluding the contract. relationship and obtaining Credit. </li>
                </ol>
            </li>
            <li class="big-list-item">CREDIT ACQUISITION RULES 
                <ol>
                    <li>A registered user, which is a natural person - non-entrepreneur (the “Player”) is after registration carried out in accordance with the rules and conditions contained in the document General Terms and Conditions (the “GTCs”) entitled to obtain a Credit, which will be credited to his virtual currency wallet. </li>
                    <li>In addition to the rules contained in the GTCs, the following rules apply to obtaining the Credit:</li>
                    <p>TEAM PARTICIPATION </p>
                    <li>Thanks to the membership in the team there is an open chance to get a share of 5% of the monthly turnover of the bets on the website.</li>
                    <li>Team membership gives the Player the ability to play for a share of the 5% team bonus based on the monthly betting turnover.</li>
                    <li>Team bonus will be paid out once a month according to the bellow rule: <br>
                        Top 10 players in each team will receive a bonus according to the bellow table:
                        </li>
                    <img src="/assets/base/images/info-pages/player-team-bonus.JPG" alt="">
                    <p>REWARDS POOL</p>
                    <li>The rewards are paid out once per month and the Player needs to be an IOI Token holder to receive them.</li>
                    <li>Rewards are a public platform’s net profit pool in the IOI. Watch the reward pools getting filled in a real time and see the history of rewards distribution.</li>
                    <li>The Player needs to hold 1000 IOI tokens to get 10 % from IOI pool and 10000 IOI tokens to get 90 % from IOI pool.</li>
                    <li>IOI reward pools: 10% from IOI games</li>
                    <p>CEFI - CENTRALIZED FINANCE</p>
                    <li>The Operator is offering two ways how the Player can participate on the advanced trading strategies. The Player can lock each profit from platform using this function with minimum of 5 000 TRX deposited.
                        <ol>
                            <li>Holding 1000 IOI – 24 % APY</li>
                            <li>Holding 10 000 IOI – 36 % APY</li>
                        </ol>
                    </li>
                    <p>DEFI - DECENTRALIZED FINANCE</p>
                    <li>The IOI token is also featured with the DeFi functions as follows:
                        <ul>
                            <li>Active staking enabled on the platform (play & stake),</li>
                            <li>Liquidity pool rewards,</li>
                            <li>Uniswap DEX listing,</li>
                            <li>Non-custodial wallet access via Metamask and Tronlink,</li>
                            <li>New feature as per the market development.</li>
                        </ul>
                    </li>
                    <p>IOI TOKEN HOLDER BENEFITS</p>
                    <li>In addition to the above, the Player obtains the following benefits through ownership of IOI tokens: </li>
                    <img src="/assets/base/images/info-pages/tokens-benefit.png" alt="">
                    <p>LEVEL REWARDS</p>
                    <li>If your affiliate partner spends TRX on races you will get TRX according to your level
                        <ol>
                            <li>LVL1: 5% from every NFTs</li>
                            <li>LVL2: 8% from every NFTs</li>
                            <li>LVL3: 10% from every NFTs</li>
                            <li>LVL4: 15% from every NFTs</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li class="big-list-item">FINAL PROVISIONS 
                    <ol>
                        <li>The Operator has the right to change the Credit System and its rules at any time. The Operator will publish the change of the Credit System on its website and at the same time notify the Players.</li>
                    </ol>
                </li>
        </ol>
      
        <footer>
            <p>In Bratislava, Slovak Republic</p>
            <p class="footer-date">On 1 March 2021</p>
            <p>IOI CORPORATION s. r. o.</p>
            <p>Rastislav Bakala, Managing director</p>
        </footer>
      
      </div>
</div>