<div class="detail-page">
  <button
    *ngIf="backTo === 'home'"
    class="back-btn"
    [routerLink]="['/user/home']"
  >
    &larr; Back
  </button>
  <button
    *ngIf="backTo === 'bundles'"
    class="back-btn"
    [routerLink]="['/user/bundles']"
  >
    &larr; Back
  </button>
  <button
    *ngIf="backTo === 'market'"
    class="back-btn"
    [routerLink]="['/user/shop']"
    [queryParams]="{ filter: 'bundle' }"
  >
    &larr; Back
  </button>

  <div class="content-holder">
    <div class="info-holder">
      <p class="desc">Bundle</p>
      <p class="name">{{ bundles[0]["name"] }}</p>
      <p class="text">
        Get a NFT car and an avatar of your favourite influencer in our limited
        bundles! Increase your daily income thanks to daily stakes today.
      </p>

      <div class="btns-holder">
        <div class="price">
          <p>
            <img src="/assets/base/images/icons/ioi-token.svg" alt="" /> 1 000
          </p>
        </div>
        <button class="buy-btn" [routerLink]="['/user/sign-in']">
          <img src="assets/base/images/market/buy-white.svg" alt="" /> Buy now
        </button>
      </div>
    </div>
    <div class="img-holder">
      <img
        [src]="'/assets/base/images/bundles/' + bundles[0]['image'] + '.png'"
        alt=""
      />
    </div>
    <div class="perks-holder">
      <p class="heading">Bundle includes</p>

      <div class="holder">
        <p class="my-desc">NFT Avatar</p>
        <img
          class="avatar-img"
          [src]="
            '/assets/base/images/nft-racers/' +
            bundles[0]['avatarName'] +
            '.png'
          "
          alt=""
        />
      </div>

      <p class="plus">+</p>

      <div class="holder">
        <p class="my-desc">NFT Car</p>
        <img
          class="car-img"
          [src]="
            '/assets/base/images/nft-cars/car' + bundles[0]['carId'] + '.png'
          "
          alt=""
        />
      </div>

      <div class="perk-item">
        <div class="value">
          <p>6%</p>
        </div>
        <div class="desc">
          <p>ROI in %</p>
        </div>
      </div>

      <div class="perk-item">
        <div class="value">
          <p>0.1</p>
        </div>
        <div class="desc">
          <p>Daily stakes in IOI</p>
        </div>
      </div>
    </div>
  </div>
</div>
