<div class="main-holder">
  <div class="detail-content">
    <p (click)="back()" class="category-title-second back-btn">
      <span>&#8592;</span> BACK
    </p>
    <div class="detail-text">
      <p class="category-title-first">{{ displayArray[0]["name"] }}</p>
      <p class="category-title-second">About {{ displayArray[0]["name"] }}</p>
      <p
        class="races-desc"
        *ngIf="
          displayArray[0]['type'] === 'racer' &&
          displayArray[0]['rank'] === 'low'
        "
      >
        {{ displayArray[0]["name"] }} is unique limited rare avatar in form of
        NFT. Each avatar is unparalleled way of owning IOI tokens. The main
        benefit is that you can use your NFTs in-game, buy, sell and trade on
        open markets as well as your NFT vehicles.
      </p>
      <p
        class="races-desc"
        *ngIf="
          displayArray[0]['type'] === 'racer' &&
          displayArray[0]['rank'] === 'normal'
        "
      >
        {{ displayArray[0]["name"] }} is unique limited super rare avatar in
        form of NFT. Each avatar is unparalleled way of owning IOI tokens. The
        main benefit is that you can use your NFTs in-game, buy, sell and trade
        on open markets as well as your NFT vehicles.
      </p>
      <p
        class="races-desc"
        *ngIf="
          displayArray[0]['type'] === 'racer' &&
          displayArray[0]['rank'] === 'height'
        "
      >
        {{ displayArray[0]["name"] }} is unique limited legendary avatar in form
        of NFT. Each avatar is unparalleled way of owning IOI tokens. The main
        benefit is that you can use your NFTs in-game, buy, sell and trade on
        open markets as well as your NFT vehicles.
      </p>
      <p
        class="races-desc"
        *ngIf="
          displayArray[0]['type'] === 'car' &&
          displayArray[0]['rare'] === undefined &&
          displayArray[0]['name'] != 'TESLA' &&
          displayArray[0]['collection'] != 'Special edition'
        "
      >
        {{ displayArray[0]["name"] }} is unique limited car. Each car is
        unparalleled way of owning IOI tokens, staking and APY. The main benefit
        is that you can use your NFTs in-game, buy, sell and trade on open
        markets. The new era of NFTs in your pocket.
      </p>
      <p
        class="races-desc"
        *ngIf="
          displayArray[0]['type'] === 'car' && displayArray[0]['rare'] === true
        "
      >
        {{ displayArray[0]["name"] }} is highly limited with unique abilities.
        Each car is unparalleled way of owning IOI tokens, staking and APY. The
        main benefit is that you can use your NFTs in-game, buy, sell and trade
        on open markets. The new era of NFTs in your pocket.
        <br />
        <br />
        - You can unlock this car by buying all cars from its collection.
      </p>
      <p
        class="races-desc"
        *ngIf="
          displayArray[0]['type'] === 'car' &&
          displayArray[0]['name'] === 'TESLA'
        "
      >
        {{ displayArray[0]["name"] }}, one of a kind special limited edition
        NFT. With Tesla you are able to join TESLA COMPETITION and NFT
        Tournament happening everyday for 100 IOI. Tesla does not have APY or
        Staking function. Win rate in regular races is 0.1 IOI per race.
      </p>
      <p
        class="races-desc"
        *ngIf="
          displayArray[0]['type'] === 'car' &&
          displayArray[0]['collection'] === 'Special edition'
        "
      >
        {{ displayArray[0]["name"] }} is unique limited car. Each car is
        unparalleled way of owning IOI tokens. The main benefit is that you can
        use your NFTs in-game, buy, sell and trade on open markets. The new era
        of NFTs in your pocket.
        <br />
        <br />
        Special edition NFTs are minted once and never again in very limited
        quantity with attributes as Common tier NFT without staking. You can use
        your Special edition NFT in all types of races and tournaments.
      </p>
      <p class="races-desc" *ngIf="displayArray[0]['type'] === 'bundle'">
        Get a NFT car and an avatar of your favourite influencer in our limited
        bundles! Increase your daily income thanks to daily stakes today.
      </p>

      <div class="text-buttons">
        <button
          [routerLink]="['/user/sign-up']"
          class="buy first category-title-third my-cta-btn-back"
        >
          <img
            class="buy-img"
            src="/assets/base/images/market/buy-white.svg"
            alt="Buy image"
          />
          Buy
        </button>
        <button
          (click)="
            openLink('https://opensea.io/collection/ioi-traderacemanager')
          "
          class="buy opensea category-title-third my-cta-btn-back"
        >
          <img
            class="market-logos"
            src="/assets/base/images/icons/opensea.svg"
            alt="OpenSea logo"
          />
        </button>
        <button
          (click)="
            openLink(
              'https://venly.market/collection/Trade%20Race%20Manager%20by%20IOI'
            )
          "
          class="buy venly category-title-third my-cta-btn-back"
        >
          <img
            class="market-logos"
            src="/assets/base/images/icons/venly.svg"
            alt="Venly logo"
          />
        </button>
      </div>
    </div>
    <div class="detail-image">
      <img
        *ngIf="displayArray[0]['type'] === 'car'"
        class="car-gif"
        [src]="
          '/assets/base/images/nft-cars/' + displayArray[0]['image'] + '.png'
        "
        [alt]="displayArray[0]['alt']"
      />
      <img
        *ngIf="displayArray[0]['type'] === 'racer'"
        class="racer"
        [src]="
          'assets/base/images/nft-racers/' + displayArray[0]['image'] + '.png'
        "
        [alt]="displayArray[0]['alt']"
      />
      <img
        *ngIf="displayArray[0]['type'] === 'track'"
        class="track"
        [src]="
          'assets/base/images/home-page/' +
          displayArray[0]['image'] +
          '-small.png'
        "
        [alt]="displayArray[0]['alt']"
      />
      <img
        *ngIf="displayArray[0]['type'] === 'bundle'"
        class="special"
        [src]="
          'assets/base/images/bundles/' + displayArray[0]['image'] + '.png'
        "
        [alt]="displayArray[0]['alt']"
      />
    </div>
    <div *ngIf="displayArray[0]['type'] === 'racer'" class="detail-abilities">
      <p class="ability-title category-title-second">Abilities</p>
      <div class="ability-boxes">
        <div class="ability-box cars first">
          <div class="ability-content">
            <img
              class="red-star"
              src="assets/base/images/market/value-red.svg"
              alt="buy icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["price"] }} IOI
              </p>
              <p class="races-desc">IOI value</p>
            </div>
          </div>
        </div>
        <div class="ability-box cars">
          <div class="ability-content">
            <img
              class="red-star"
              src="assets/base/images/market/investment-red.svg"
              alt="ability icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["ability2"] }}
              </p>
              <p class="races-desc">Affiliate reward</p>
            </div>
          </div>
        </div>
        <div *ngIf="displayArray[0]['ability3']" class="ability-box cars">
          <div class="ability-content">
            <img
              class="red-star"
              src="assets/base/images/market/investment-red.svg"
              alt="ability icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["ability3"] }}
              </p>
              <p class="races-desc">APY</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="displayArray[0]['type'] === 'car'"
      class="detail-abilities cars"
    >
      <div class="titles">
        <p class="ability-title category-title-second">Abilities</p>
      </div>
      <div *ngIf="displayArray[0]['type'] === 'car'" class="ability-boxes">
        <div class="ability-box cars first">
          <div class="ability-content">
            <img
              class="red-star"
              src="assets/base/images/market/value-red.svg"
              alt="buy icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["price"].toLocaleString() }} IOI
              </p>
              <p class="races-desc">IOI value</p>
            </div>
          </div>
        </div>
        <div *ngIf="displayArray[0]['ability1']" class="ability-box cars">
          <div class="ability-content">
            <img
              class="red-star"
              src="assets/base/images/market/value-red.svg"
              alt="buy icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["ability1"] }} IOI
              </p>
              <p class="races-desc">Race winnings</p>
              <p class="races-desc-smaller">(Average per day)</p>
            </div>
          </div>
        </div>
        <div *ngIf="displayArray[0]['ability2']" class="ability-box cars">
          <div class="ability-content">
            <img
              class="red-star"
              src="assets/base/images/market/value-red.svg"
              alt="buy icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["ability2"].toLocaleString() }} IOI
              </p>
              <p class="races-desc">MAX Race winnings</p>
              <p class="races-desc-smaller">(Per day)</p>
            </div>
          </div>
        </div>
        <div *ngIf="displayArray[0]['ability3']" class="ability-box cars cars">
          <div class="ability-content">
            <img
              class="red-star"
              src="assets/base/images/icons/daily-stake-red.svg"
              alt="ability icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["ability3"] }} IOI
              </p>
              <p class="races-desc">daily stake income</p>
              <p class="races-desc-smaller">(Available until 31st AUG 2021)</p>
            </div>
          </div>
        </div>
      </div>
      <div class="titles">
        <p class="category-title-second">Races Access</p>
      </div>
      <div class="races-access">
        <div class="races-box-small my-simple-grad my-border-color">
          <img
            class="check-icon"
            src="/assets/base/images/icons/check-icon.svg"
            alt="Check icon"
          />
          <p class="races-desc">FREE</p>
        </div>
        <div class="races-box-small my-simple-grad my-border-color">
          <img
            class="check-icon"
            src="/assets/base/images/icons/check-icon.svg"
            alt="Check icon"
          />
          <p class="races-desc">PRIZEPOOL</p>
        </div>
        <div class="races-box-small my-simple-grad my-border-color">
          <img
            class="check-icon"
            src="/assets/base/images/icons/check-icon.svg"
            alt="Check icon"
          />
          <p class="races-desc">TOURNAMENT</p>
        </div>
        <div class="races-box my-simple-grad my-border-color">
          <img
            class="check-icon"
            src="/assets/base/images/icons/check-icon.svg"
            alt="Check icon"
          />
          <p class="races-desc">SPECIAL RACES</p>
        </div>
      </div>
      <div *ngIf="displayArray[0]['type'] === 'racer'" class="ability-boxes">
        <div class="ability-box cars first">
          <div class="ability-content">
            <img
              class="red-star"
              src="assets/base/images/market/value-red.svg"
              alt="buy icon"
            />
            <img
              class="blue-star"
              src="assets/base/images/market/value.svg"
              alt="buy icon"
            />
            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["price"].toLocaleString() }} IOI
              </p>
              <p class="races-desc">IOI value</p>
            </div>
          </div>
        </div>
        <div class="ability-box cars">
          <div class="ability-content">
            <img
              class="red-star"
              src="assets/base/images/market/investment-red.svg"
              alt="ability icon"
            />
            <img
              class="blue-star"
              src="assets/base/images/market/investment.svg"
              alt="ability icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["ability2"] }} %
              </p>
              <p class="races-desc">Affiliate reward</p>
            </div>
          </div>
        </div>
        <div *ngIf="displayArray[0]['ability3']" class="ability-box cars">
          <div class="ability-content">
            <img
              class="red-star"
              src="assets/base/images/market/investment-red.svg"
              alt="ability icon"
            />
            <img
              class="blue-star"
              src="assets/base/images/market/investment.svg"
              alt="ability icon"
            />

            <div class="ability-text">
              <p class="category-title-third">
                {{ displayArray[0]["ability3"] }} %
              </p>
              <p class="races-desc">APY</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="displayArray[0]['type'] === 'bundle'"
      class="detail-abilities bundles"
    >
      <p class="ability-title category-title-second">Bundle includes</p>
      <div class="abilities-content">
        <div class="abilities-section abilities-racer">
          <div class="image">
            <p class="category-title-second ability-desc">NFT Avatar</p>
            <img
              class="ability-racer ability-image"
              [src]="
                '/assets/base/images/nft-racers/' +
                displayArray[0]['racer'] +
                '.png'
              "
              alt="nft racer"
            />
          </div>
          <div class="text">
            <div class="ability-box">
              <div class="ability-content">
                <img
                  class="red-star"
                  src="assets/base/images/market/investment-red.svg"
                  alt="ability icon"
                />

                <div class="ability-text">
                  <p class="category-title-third">
                    {{ displayArray[0]["nft"] }} %
                  </p>
                  <p class="races-desc">Affiliate reward</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="plus">
          <p class="category-title-third ability-desc">&#43;</p>
        </div>
        <div class="abilities-section abilities-car">
          <div class="image">
            <p class="category-title-second ability-desc">NFT car</p>
            <img
              class="ability-car ability-image"
              [src]="
                '/assets/base/images/nft-cars/' +
                displayArray[0]['car'] +
                '.png'
              "
              alt="nft car"
            />
          </div>
          <div class="text">
            <div class="ability-box second">
              <div class="ability-content">
                <img
                  class="red-star"
                  src="assets/base/images/market/value-red.svg"
                  alt="buy icon"
                />

                <div class="ability-text">
                  <p class="category-title-third">
                    {{ displayArray[0]["ability1"].toLocaleString() }} IOI
                  </p>
                  <p class="races-desc">Race winnings</p>
                  <p class="races-desc-smaller">(Average per day)</p>
                </div>
              </div>
            </div>

            <div class="ability-box second">
              <div class="ability-content">
                <img
                  class="red-star"
                  src="assets/base/images/market/value-red.svg"
                  alt="buy icon"
                />

                <div class="ability-text">
                  <p class="category-title-third">
                    {{ displayArray[0]["ability2"].toLocaleString() }} IOI
                  </p>
                  <p class="races-desc">MAX Race winnings</p>
                  <p class="races-desc-smaller">(Per day)</p>
                </div>
              </div>
            </div>
            <div *ngIf="displayArray[0]['ability3']" class="ability-box">
              <div class="ability-content">
                <img
                  class="red-star"
                  src="assets/base/images/icons/daily-stake-red.svg"
                  alt="ability icon"
                />

                <div class="ability-text">
                  <p class="category-title-third">
                    {{ displayArray[0]["ability3"] }} IOI
                  </p>
                  <p class="races-desc">daily stake</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
