

<div class="modal-component" [ngClass]="{'small': repeatGame === false}">

  <div class="cont-holder step1">

    <h3>Game won!</h3>
    <p class="race-desc">Congratulations! Repeat the game with the same opponent
  or invite a new player to play agaist and win again!</p>

  <div class="win-item">
    <div class="inner">
      <div class="img-holder">
        <img src="/assets/base/images/binary-race/win-icon.svg" alt="">
      </div>
      <p class="desc">Win: 2014 IOI</p>
    </div>
  </div>

  <div class="btns-holder">
    <button class="back">Quit game</button>
    <button class="back imaged"><img src="/assets/base/images/binary-race/fatality.svg" alt=""> Fatality</button>
    <button class="continue imaged"><img src="/assets/base/images/binary-race/repeat.svg" alt=""> Repeat</button>
  </div>

  </div>

</div>