.modal-component {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100) !important;
  background: rgba(17,17,17, .8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.cont-holder {
  width: 90%;
  max-width: 530px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111111;
  .close-btn{
    font-size: 40px;
    opacity: 0.4;
    transform: rotate(-45deg);
    padding: 5px;
    line-height: 1;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
  }
  .btns-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    margin: 36px 0 0 0;
    &.big-margin {
      margin: 89px 0 0 0;
    }
    button {
      height: 100%;
      width: 200px;
      margin: 0 5px;
      border-radius: 10px;
      font-size: 16px;
      transition: 0.15s;
      position: relative;
      &.back {
        font-weight: 500;
        border: 1px solid #fe183f;
        background: #222222;
        &:hover {
          background: #522a2a;
        }
      }
      &.continue {
        background: linear-gradient(238.54deg, #fe173f -1.25%, #950552 100.91%);
        &:hover {
          box-shadow: 0px 0px 50px rgba(254, 23, 63, 0.7);
        }
        &.loading {
          background: white;
          color: #222222;
          padding-left: 10px;
          img {
            position: relative;
            top: 0;
            left: 0;
            margin-right: 8px;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
            animation-name: loadingRotate;
            animation-duration: 3s;
          }
        }
      }
      &.disabled {
        opacity: 0.6;
        cursor: default;
      }
      &.imaged {
        padding-left: 17px;
      }
      &.too-big {
        img {
          position: relative;
          top: 0;
          left: 0;
          margin-right: 8px;
          transform: none;
        }
      }
      img {
        position: absolute;
        top: 50%;
        left: 11%;
        transform: translateY(-50%);
      }
    }
  }
  &.step1 {
    text-align: center;
    h3 {
      font-weight: 700;
      font-size: 32px;
      margin: 100px 0 50px;
      text-align: center;
      font-family: Earth Orbiter;
      &.winner{
        background-image: linear-gradient(90deg, #D6D3C4 0%, #E3D6A6 25%, #F0D369 50%, #D0AB34 75%, #A76B41 100%);
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
      }
    }
    .race-desc {
      width: 100%;
      font-size: 16px;
      line-height: 1.3;
      margin: 0 auto;
      text-align: center;
      max-width: 355px;
    }
    .winner-amount{
      font-size: 58px;
      font-family: Earth Orbiter;
      background-image: linear-gradient(90deg, #D6D3C4 0%, #E3D6A6 25%, #F0D369 50%, #D0AB34 75%, #A76B41 100%);
      -webkit-background-clip: text;
      color: transparent;
      text-shadow: 0px 0px 40px #FBE18A;
      margin: 25px 0 35px 0;
      display: inline-block;
      font-weight: 900;
    }
    .active-btn{
      font-size: 16px;
      margin: 60px 0 0 0;
      padding: 13px 50px;
    }
    .or-text{
      font-size: 16px;
      margin: 20px auto;
      opacity: .6;
    }
    .quit-text{
      font-size: 16px;
      margin: 0 0 70px;
      opacity: .8;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@-webkit-keyframes loadingRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1700px) {
  .modal-component {
    .cont-holder {
      top: 48%;
      &.step1 {
        h3 {
          font-size: 28px;
          margin: 80px 0 30px;
        }
        .race-desc {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .modal-component {
    .cont-holder {
      &.step1 {
        h3 {
          font-size: 24px;
          margin: 65px 0 25px;
        }
        .race-desc {
          font-size: 14px;
        }
        .active-btn{
          font-size: 14px;
          margin: 45px 0 0 0;
          padding: 11px 40px;
        }
        .winner-amount{
          margin: 20px 0 30px 0;
          font-size: 48px;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  .modal-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cont-holder {
      max-width: 370px;
      &.step1 {
        h3 {
          font-size: 18px;
          margin: 20px 0 14px;
        }
        .race-desc {
          font-size: 12px;
          max-width: 80%;
        }
        .active-btn{
          font-size: 11px;
          margin: 20px 0 0 0;
          padding: 7px 20px;
        }
        .or-text{
          font-size: 12px;
          margin: 7px auto;
        }
        .quit-text{
          font-size: 12px;
          margin: 0 0 20px;
        }
        .winner-amount{
          margin: 10px 0;
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) and (orientation: portrait) {
  .modal-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cont-holder {
      position: relative;
      left: 0;
      top: 0;
      transform: none;
      max-width: 410px;
      margin: 20px 0;
      &.step1 {
        h3 {
          font-size: 19px;
          margin: 50px 0 20px;
        }
        .race-desc {
          font-size: 13px;
          max-width: 90%;
        }
        .active-btn{
          font-size: 12px;
          margin: 30px 0 0 0;
          padding: 10px 30px;
        }
        .or-text{
          font-size: 15px;
          margin: 14px auto;
        }
        .quit-text{
          font-size: 14px;
          margin: 0 0 40px;
        }
        .winner-amount{
          margin: 15px 0 20px 0;
          font-size: 35px;
        }
      }
    }
  }
}

