<div
  (window:resize)="width()"
  class="main-holder"
  [class.disable-scroll]="isMenuActive"
>
  <div
    class="top-section-wrapper"
    (touchmove)="handleTouchMove($event)"
    (touchstart)="handleTouchStart($event)"
  >
    <div
      class="my-carousel-item item1"
      [ngClass]="{ hidden: carouselStep !== 1 }"
    >
      <div class="darkerback"></div>

      <div class="top-section">
        <div class="top-text">
          <h4>Collectible #NFT Trading game</h4>
          <p>Pick your racers and become the richest NFT trader in the world</p>
          <button
            class="my-cta"
            [routerLink]="['/user/sign-up']"
            *ngIf="logged === false"
          >
            Register for free
          </button>
          <button
            [routerLink]="['/race/start-race']"
            *ngIf="logged === true"
            class="my-cta"
          >
            Back to game
          </button>
        </div>

        <div class="google-play">
          <a href="https://play.google.com/store/apps/details?id=ioi.game"
            ><img
              src="assets/base/images/home-page/google-play.png"
              alt="google play"
          /></a>
        </div>
      </div>
    </div>

    <div
      class="my-carousel-item item2"
      [ngClass]="{ hidden: carouselStep !== 2 }"
    >
      <div class="top-section bundle-sec">
        <div class="bundle-detail">
          <div class="top-overall">
            <div
              class="name-holder"
              [ngStyle]="{
                'background-image':
                  'url(/assets/base/images/bundles/' +
                  bundles[bundleCarStep]['back'] +
                  '.png)'
              }"
            >
              <p class="value">{{ bundles[bundleCarStep]["name"] }}</p>
              <p class="desc">{{ bundles[bundleCarStep]["link"] }}</p>
            </div>
            <div class="flex-item">
              <div class="price">
                <p>
                  <img src="/assets/base/images/icons/ioi-token.svg" alt="" /> 1
                  000
                </p>
              </div>
              <button
                class="buy-btn"
                [routerLink]="['/user/bundle-detail']"
                [queryParams]="{
                  id: bundles[bundleCarStep]['id'],
                  back: 'home'
                }"
              >
                <span>BUY</span>
                <div class="hover-overlay"></div>
              </button>
            </div>
          </div>

          <div class="stats-holder">
            <div class="cris-cros">
              <div></div>
              <div class="second"></div>
            </div>
            <div class="stat-item">
              <p class="value">100pcs</p>
              <p class="desc">LIMITED AMOUNT</p>
            </div>
            <div class="stat-item">
              <p class="value">6%</p>
              <p class="desc">STAKING</p>
            </div>
            <div class="stat-item">
              <p class="value">0,1&#36;IOI</p>
              <p class="desc">DAILY REWARD</p>
            </div>
            <div class="stat-item">
              <p class="value">
                PREMIUM
                <img
                  class="premium-badge"
                  src="/assets/base/images/menu/premium-icon-active.svg"
                  alt=""
                />
              </p>
              <p class="desc">MEMBER ONLY</p>
            </div>
          </div>
        </div>

        <div class="bundle-carousel">
          <div class="arrow right" (click)="nextBundleCarItem()">
            <img src="/assets/base/images/bundles/arrow-right.svg" alt="" />
          </div>
          <div class="arrow left" (click)="prevBundleCarItem()">
            <img src="/assets/base/images/bundles/arrow-left.svg" alt="" />
          </div>

          <div class="high-box">
            <p class="heading">Bundle includes</p>
          </div>
          <div
            class="inner-slider"
            [ngStyle]="{ 'left.%': -((bundleCarStep - 1) * 33.333) }"
          >
            <ng-container *ngFor="let item of bundles; let i = index">
              <div
                class="car-item"
                [ngClass]="{
                  'big-item': bundleCarStep === i,
                  'medium-item':
                    bundleCarStep === i - 1 || bundleCarStep === i + 1
                }"
              >
                <img
                  [src]="
                    '/assets/base/images/bundles/' +
                    bundles[i]['image'] +
                    '.png'
                  "
                  alt=""
                  [routerLink]="['/user/bundle-detail']"
                  [queryParams]="{
                    id: bundles[bundleCarStep]['id'],
                    back: 'home'
                  }"
                />
                <div class="bubble car-bubble">
                  <p>NFT CAR</p>
                </div>
                <div class="bubble avatar-bubble">
                  <p>NFT AVATAR</p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div
      class="my-carousel-item item3"
      [ngClass]="{ hidden: carouselStep !== 3 }"
    >
      <div class="darkerback"></div>

      <div class="top-section bundle-sec">
        <div class="token-detail">
          <div
            class="text-holder up"
            [ngClass]="ioiIncresing === true ? 'up' : 'down'"
          >
            <p class="desc">Current Token Price:</p>
            <p class="value">1 &#36;IOI = &#36;{{ currentIoiPrice }}</p>
            <p class="date">as of 15/06/2021 | 3:30 PM CET</p>
          </div>
          <div class="flex-item">
            <div
              class="exchange"
              (click)="exSelectorOpened = !exSelectorOpened"
              [ngClass]="{ opened: exSelectorOpened === true }"
            >
              <img
                class="main-img"
                [src]="
                  '/assets/base/images/home-page/exchange' +
                  selectedExchange +
                  '.png'
                "
                alt=""
              />
              <p class="change-text">
                CHANGE EXCHANGE <br />
                <svg
                  width="9"
                  height="7"
                  viewBox="0 0 9 7"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.375 2.71357L8.75 0.538574L8.75 4.48857L4.375 6.58858L1.8466e-07 4.48857L1.37557e-07 0.538575L4.375 2.71357Z"
                    fill="white"
                  />
                </svg>
              </p>
              <div class="selector">
                <div
                  class="ex-item"
                  (click)="
                    selectedExchange = 1;
                    openLink(
                      'https://app.uniswap.org/#/swap?outputCurrency=0x8b3870df408ff4d7c3a26df852d41034eda11d81&use=v2'
                    )
                  "
                >
                  <img
                    src="/assets/base/images/home-page/exchange1.png"
                    alt=""
                  />
                </div>
                <div
                  class="ex-item"
                  (click)="
                    selectedExchange = 2;
                    openLink('https://www.gate.io/en/trade/IOI_USDT')
                  "
                >
                  <img
                    src="/assets/base/images/home-page/exchange2.png"
                    alt=""
                  />
                </div>
                <div
                  class="ex-item"
                  (click)="
                    selectedExchange = 3;
                    openLink(
                      'https://exchange.pancakeswap.finance/#/swap?outputCurrency=0x959229D94c9060552daea25AC17193bcA65D7884'
                    )
                  "
                >
                  <img
                    src="/assets/base/images/home-page/exchange3.png"
                    alt=""
                  />
                </div>
                <div
                  class="ex-item"
                  (click)="
                    selectedExchange = 4;
                    openLink(
                      'https://quickswap.exchange/#/swap?outputCurrency=0xaf24765f631c8830b5528b57002241ee7eef1c14'
                    )
                  "
                >
                  <img
                    src="/assets/base/images/home-page/exchange4.png"
                    alt=""
                  />
                </div>
                <div
                  class="ex-item"
                  (click)="
                    selectedExchange = 5;
                    openLink('https://trade.kucoin.com/IOI-USDT')
                  "
                >
                  <img
                    src="/assets/base/images/home-page/exchange5.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <a href="https://trade.kucoin.com/IOI-USDT" class="buy-btn buy-link">
              <span>BUY</span>
              <div class="hover-overlay"></div>
            </a>
          </div>
        </div>

        <div class="img-holder">
          <img src="/assets/base/images/home-page/token-ilustrate.png" alt="" />
        </div>
      </div>
    </div>

    <div class="car-switchers">
      <div
        class="switch-item"
        [ngClass]="{ active: carouselStep === 1 }"
        (click)="manualCarSwitch(1)"
      ></div>
      <div
        class="switch-item"
        [ngClass]="{ active: carouselStep === 2 }"
        (click)="manualCarSwitch(2)"
      ></div>
      <div
        class="switch-item"
        [ngClass]="{ active: carouselStep === 3 }"
        (click)="manualCarSwitch(3)"
      ></div>
    </div>
  </div>

  <div class="video-holder">
    <iframe
      class="back-video"
      src="https://www.youtube.com/embed/PCJ7jFyQI4o?loop=1&controls=0&playlist=PCJ7jFyQI4o&showinfo=0&modestbranding=1&autohide=1"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>

  <div class="second-section">
    <div *ngIf="display <= 450" class="left-mobile">
      <img
        [routerLink]="['/shop']"
        [queryParams]="{ filter: 'racer' }"
        src="assets/base/images/home-page/racers-menu-small.jpg"
        alt="menu racers"
      />
      <img
        [routerLink]="['/shop']"
        [queryParams]="{ filer: 'car' }"
        src="assets/base/images/home-page/cars-menu-small.jpg"
        alt="menu cars"
      />
      <img
        [routerLink]="['/shop']"
        [queryParams]="{ filter: 'track' }"
        src="assets/base/images/home-page/tracks-menu-small.jpg"
        alt="menu tracks"
      />
      <img
        [routerLink]="['/shop']"
        [queryParams]="{ filter: 'team' }"
        src="assets/base/images/home-page/teams-menu-small.jpg"
        alt="menu teams"
      />
    </div>
    <div *ngIf="display <= 1024 && display > 450" class="left-mobile">
      <img
        [routerLink]="['/shop']"
        [queryParams]="{ filter: 'racer' }"
        src="assets/base/images/home-page/racers-menu.jpg"
        alt="menu racers"
      />
      <img
        [routerLink]="['/shop']"
        [queryParams]="{ filter: 'car' }"
        src="assets/base/images/home-page/cars-menu.jpg"
        alt="menu cars"
      />
      <img
        [routerLink]="['/shop']"
        [queryParams]="{ filter: 'track' }"
        src="assets/base/images/home-page/tracks-menu.jpg"
        alt="menu tracks"
      />
      <img
        [routerLink]="['/shop']"
        [queryParams]="{ filter: 'team' }"
        src="assets/base/images/home-page/teams-menu.jpg"
        alt="menu teams"
      />
    </div>
    <div *ngIf="display > 1024" class="left">
      <div
        [routerLink]="['/shop']"
        [queryParams]="{ filter: 'racer' }"
        class="sec1"
      >
        <h4 class="h4left">Racers</h4>
        <div class="s1">
          <div class="sec1back"></div>
          <div class="avatar">
            <img
              src="assets/base/images/home-page/avatar.png"
              alt="Blue-avatar"
            />
          </div>
        </div>
      </div>
      <div
        [routerLink]="['/shop']"
        [queryParams]="{ filter: 'car' }"
        class="sec2"
      >
        <h4 class="h4right">Cars</h4>
        <div class="s2">
          <div class="sec2back"></div>
        </div>
      </div>
      <div
        [routerLink]="['/shop']"
        [queryParams]="{ filter: 'track' }"
        class="sec3"
      >
        <h4 class="h4left">Tracks</h4>
        <div class="s3">
          <div class="sec3back"></div>
        </div>
      </div>
      <div
        [routerLink]="['/shop']"
        [queryParams]="{ filter: 'team' }"
        class="sec4"
      >
        <h4 class="h4right">Teams</h4>
        <div class="s4">
          <div class="sec4back"></div>
          <div class="medail">
            <img src="assets/base/images/home-page/medail.png" alt="Medail" />
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="sec5">
        <div class="sec5area">
          <div class="sec5text">
            <h4>TradeRace Manager is a new NFT trading game</h4>
            <p>
              With the most unique characters, cars and tracks - all as NFTs.<br /><br />Purchase
              one, or more of our characters, get amazing and unique NFT cars
              and start racing today. More cars and characters means higher
              earnings!
            </p>
            <button [routerLink]="['/shop']">Get your NFT</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="buy-racers-section">
    <div class="center">
      <div class="buy-racers-content">
        <div class="title">
          <h2>Buy NFTs</h2>
        </div>
        <div class="content">
          <div class="racer-items">
            <div class="arrow-left hover">
              <img
                [ngClass]="{ opacity: sliceStart === 0 }"
                (click)="resetArrowL(); pageLeft()"
                src="assets/base/images/home-page/left-arrow.svg"
                alt="arrow left"
              />
            </div>

            <div class="buy-boxes">
              <div *ngFor="let item of products | slice: sliceStart:sliceEnd">
                <div
                  [routerLink]="['/nft-detail']"
                  [queryParams]="{
                    type: item['type'],
                    filter: item['type'],
                    id: item['shopid']
                  }"
                  *ngIf="item['type'] === 'racer'"
                  class="racer-box box1"
                >
                  <div class="racer-img">
                    <img
                      [src]="
                        'assets/base/images/nft-racers/' +
                        item['image'] +
                        '.png'
                      "
                      alt="white racer"
                    />
                  </div>
                  <div class="racer-info">
                    <p class="desc">{{ item["collection"] }}</p>
                    <p class="racer">
                      Racer <span class="name">{{ item["name"] }}</span>
                    </p>
                    <p class="price">{{ item["prize"] }}</p>
                  </div>
                </div>

                <div
                  [routerLink]="['/nft-detail']"
                  [queryParams]="{
                    type: item['type'],
                    filter: item['type'],
                    id: item['shopid']
                  }"
                  *ngIf="item['type'] === 'car'"
                  class="racer-box box2"
                >
                  <div class="racer-img">
                    <img
                      [src]="
                        'assets/base/images/nft-cars/' + item['image'] + '.png'
                      "
                      alt="white racer"
                    />
                  </div>
                  <div class="racer-info">
                    <p class="desc">{{ item["collection"] }}</p>
                    <p class="font">{{ item["name"] }}</p>
                    <p class="price">{{ item["prize"] }}</p>
                  </div>
                </div>

                <div
                  [routerLink]="['/nft-detail']"
                  [queryParams]="{
                    type: item['type'],
                    filter: item['type'],
                    id: item['shopid']
                  }"
                  *ngIf="item['type'] === 'track'"
                  class="racer-box box3"
                >
                  <div class="racer-img">
                    <img
                      [src]="
                        'assets/base/images/home-page/' + item['image'] + '.png'
                      "
                      alt="white racer"
                    />
                  </div>
                  <div class="racer-info">
                    <p class="desc">{{ item["collection"] }}</p>
                    <p class="font">{{ item["name"] }}</p>
                    <p class="price">{{ item["prize"] }}</p>
                  </div>
                </div>
                <div
                  [routerLink]="['/nft-detail']"
                  [queryParams]="{
                    type: item['type'],
                    filter: item['type'],
                    id: item['shopid']
                  }"
                  *ngIf="item['type'] === 'team'"
                  class="racer-box box4"
                >
                  <div class="racer-img">
                    <img
                      [src]="
                        'assets/base/images/home-page/' + item['image'] + '.png'
                      "
                      alt="white racer"
                    />
                  </div>
                  <div class="racer-info">
                    <p class="desc">{{ item["collection"] }}</p>
                    <p class="racer">
                      Team <span class="team">{{ item["name"] }}</span>
                    </p>
                    <p class="price">{{ item["prize"] }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="arrow-right hover">
              <img
                [ngClass]="{ opacity: sliceEnd >= products.length }"
                (click)="resetArrowR(); pageRigth()"
                src="assets/base/images/home-page/arrow-right.png"
                alt="arrow right"
              />
            </div>
          </div>
        </div>
        <div class="button">
          <button [routerLink]="['/shop']">Go to our store</button>
        </div>
      </div>
    </div>
  </div>
  <div class="category-racers first-racer">
    <div class="racers-content">
      <div class="avatar-info">
        <div class="info-text">
          <h2>Category</h2>
          <h4>Racers</h4>

          <p class="txt-racer">
            Good, evil, crazy rich. We gave all our racers a striking storyline,
            which is one of the many things that make our NFT Racers so special.
            Get your own racer today!
          </p>
          <button
            [routerLink]="['/shop']"
            [queryParams]="{ filter: 'racer' }"
            class="my-cta"
          >
            <p>See all racers</p>
          </button>
        </div>
      </div>

      <div class="avatar-img">
        <div class="image">
          <img
            src="assets/base/images/home-page/racers.png"
            alt="white avatar"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="category-cars secound-racer">
    <div class="cars-content">
      <div class="avatar-info">
        <div class="info-text">
          <h2>Category</h2>
          <h4>Cars</h4>

          <p class="txt-racer">
            Four collections full of custom made models of beautiful race cars
            ready to compete and make you money! The more cars you own, the
            higher are the chances of winning.
          </p>
          <button
            [routerLink]="['/shop']"
            [queryParams]="{ filter: 'car' }"
            class="my-cta"
          >
            <p>See all Cars</p>
          </button>
        </div>
      </div>
      <div class="avatar-img">
        <div class="image">
          <img
            class="image"
            src="assets/base/images/home-page/cars.png"
            alt="white avatar"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="category-tracks third-racer">
    <div class="tracks-content">
      <div class="avatar-info">
        <div class="info-text">
          <h2>Category</h2>
          <h4>Tracks</h4>

          <p class="txt-racer">
            Buy one, or multiple shares in our special Race Tracks and make
            money passively, simply by Races happening on your track.
          </p>
          <button
            [routerLink]="['/shop']"
            [queryParams]="{ filter: 'track' }"
            class="my-cta"
          >
            <p>See all Tracks</p>
          </button>
        </div>
      </div>

      <div class="avatar-img">
        <div class="image">
          <img
            src="assets/base/images/home-page/tracks.png"
            alt="white avatar"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="category-teams fourth-racer">
    <div class="teams-content">
      <div class="avatar-info">
        <div class="info-text">
          <h2>Category</h2>
          <h4>Teams</h4>

          <p class="txt-racer">
            To increase your income more, join one of the teams and become a
            premium member. Not enough? Create your own team, invite racers,
            managers and enjoy your ownership by receiving even more bonuses.
          </p>

          <button
            [routerLink]="['/shop']"
            [queryParams]="{ filter: 'team' }"
            class="my-cta"
          >
            <p>See all Teams</p>
          </button>
        </div>
      </div>
      <div class="avatar-img">
        <div class="image">
          <img
            class="image"
            src="assets/base/images/home-page/teams.png"
            alt="teams"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="trophy-section">
    <div class="textarea">
      <h4>Winner Trophies</h4>
      <p>
        Take a challenge and win a ring trophy. 12 rings owners and one final
        tournament to prove who will become the best of the best. Compete, win
        and earn the most unique NFT in the world.
      </p>
    </div>
    <div class="trophies">
      <div class="finaltrophy">
        <h4>Final Trophy</h4>
        <img src="assets/base/images/home-page/trophy.png" alt="" />
      </div>
      <div class="months">
        <div class="leftarrow">
          <img
            [ngClass]="{ 'arrow-opacity': monthsStart === 0 }"
            (click)="prevPageMonths(); resetArrowMonthsL()"
            src="assets/base/images/home-page/arrow1.png"
            alt=""
          />
        </div>
        <div class="ring-boxes">
          <div
            [ngClass]="{ 'ring-opacity': item['id'] < actualMonth }"
            *ngFor="let item of months | slice: monthsStart:monthsEnd"
            class="ring-box"
          >
            <h2>{{ item["name"] }}</h2>
            <p *ngIf="item['id'] < actualMonth">Already Won</p>
            <img
              src="assets/base/images/home-page/ring.png"
              alt="Ring February"
            />
          </div>
        </div>
        <div class="rightarrow">
          <img
            [ngClass]="{ 'arrow-opacity': monthsEnd >= months.length }"
            (click)="nextPageMonths(); resetArrowMonthsR()"
            src="assets/base/images/home-page/arrow.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="start">
      <button [routerLink]="['/user/sign-up']" *ngIf="logged === false">
        Start competing
      </button>
      <button [routerLink]="['/race/start-race']" *ngIf="logged === true">
        Back to game
      </button>
    </div>
  </div>
  <div class="review-position">
    <section class="reviews-sec">
      <div class="my-score">
        <img
          class="rev-logo"
          src="/assets/base/images/home-page/review-logo.png"
          alt=""
        />
        <div class="cont-holder">
          <div class="stars-holder">
            <img src="/assets/base/images/home-page/star-filled.svg" alt="" />
            <img src="/assets/base/images/home-page/star-filled.svg" alt="" />
            <img src="/assets/base/images/home-page/star-filled.svg" alt="" />
            <img src="/assets/base/images/home-page/star-filled.svg" alt="" />
            <img src="/assets/base/images/home-page/star-filled.svg" alt="" />
          </div>
          <p class="desc">Trust score 4 | 19 reviews</p>
        </div>
      </div>
      <div class="review-cont">
        <div class="rev-viewport">
          <div
            class="rev-container"
            [ngStyle]="{ 'left.%': -100 * reviewSlide }"
          >
            <div class="rev-slide">
              <div class="rev-slide-inner">
                <div class="stars">
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                </div>
                <p class="heading">Loving it!</p>
                <p class="text">Awesome game, good customer service...</p>
                <p class="name">- Alejandro</p>
              </div>
            </div>
            <div class="rev-slide">
              <div class="rev-slide-inner">
                <div class="stars">
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                </div>
                <p class="heading">Great Game!</p>
                <p class="text">Free coins every day</p>
                <p class="name">- pokerbjj</p>
              </div>
            </div>
            <div class="rev-slide">
              <div class="rev-slide-inner">
                <div class="stars">
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                </div>
                <p class="heading">Nicest game</p>
                <p class="text">Its really awesome. You can trade and race</p>
                <p class="name">- 匿名</p>
              </div>
            </div>
            <div class="rev-slide">
              <div class="rev-slide-inner">
                <div class="stars">
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                </div>
                <p class="heading">The new standard</p>
                <p class="text">Good game I like this.</p>
                <p class="name">- krongpop</p>
              </div>
            </div>
            <div class="rev-slide">
              <div class="rev-slide-inner">
                <div class="stars">
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                </div>
                <p class="heading">Loving it!</p>
                <p class="text">Awesome game, good customer service...</p>
                <p class="name">- Alejandro</p>
              </div>
            </div>
            <div class="rev-slide">
              <div class="rev-slide-inner">
                <div class="stars">
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                </div>
                <p class="heading">Great Game!</p>
                <p class="text">Free coins every day</p>
                <p class="name">- pokerbjj</p>
              </div>
            </div>
            <div class="rev-slide">
              <div class="rev-slide-inner">
                <div class="stars">
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                </div>
                <p class="heading">Nicest game</p>
                <p class="text">Its really awesome. You can trade and race</p>
                <p class="name">- 匿名</p>
              </div>
            </div>
            <div class="rev-slide">
              <div class="rev-slide-inner">
                <div class="stars">
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                </div>
                <p class="heading">The new standard</p>
                <p class="text">Good game I like this.</p>
                <p class="name">- krongpop</p>
              </div>
            </div>
            <div class="rev-slide">
              <div class="rev-slide-inner">
                <div class="stars">
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                </div>
                <p class="heading">Loving it!</p>
                <p class="text">Awesome game, good customer service...</p>
                <p class="name">- Alejandro</p>
              </div>
            </div>
            <div class="rev-slide">
              <div class="rev-slide-inner">
                <div class="stars">
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                </div>
                <p class="heading">Great Game!</p>
                <p class="text">Free coins every day</p>
                <p class="name">- pokerbjj</p>
              </div>
            </div>
            <div class="rev-slide">
              <div class="rev-slide-inner">
                <div class="stars">
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                </div>
                <p class="heading">Nicest game</p>
                <p class="text">Its really awesome. You can trade and race</p>
                <p class="name">- 匿名</p>
              </div>
            </div>
            <div class="rev-slide">
              <div class="rev-slide-inner">
                <div class="stars">
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                  <img
                    src="/assets/base/images/home-page/star-filled.svg"
                    alt=""
                  />
                </div>
                <p class="heading">The new standard</p>
                <p class="text">Good game I like this.</p>
                <p class="name">- krongpop</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Buttons -->
        <button
          class="embla__button rev-btn-left"
          type="button"
          (click)="prevRev()"
        >
          <img src="/assets/base/images/home-page/arrow-left.svg" alt="" />
        </button>
        <button
          class="embla__button rev-btn-right"
          type="button"
          (click)="nextRev()"
        >
          <img src="/assets/base/images/home-page/arrow-right.svg" alt="" />
        </button>
      </div>
    </section>
  </div>
  <footer>
    <div class="white-footer">
      <div class="partners-box">
        <div class="investors">
          <p class="heading">A word to our investors</p>
          <p>
            It takes a village... And we're proud to have these amazing funds
            and people by our side as we build out IOI Network.
          </p>
          <a
            class="my-btn"
            href="https://docs.google.com/forms/d/e/1FAIpQLSdOsJbwVERygOb7YRIjF51TD0SvNXnX0jQTiwdfRPVLYwhRfQ/viewform"
          >
            Join our next round
          </a>
        </div>
        <div class="imgs-holder">
          <div class="group">
            <img
              class="big"
              src="/assets/base/images/home-page/partners/partner1.png"
              alt=""
            />
            <img
              src="/assets/base/images/home-page/partners/partner2.png"
              alt=""
            />
            <img
              src="/assets/base/images/home-page/partners/partner17.png"
              alt=""
            />
            <img
              src="/assets/base/images/home-page/partners/partner4.png"
              alt=""
            />
            <img
              src="/assets/base/images/home-page/partners/partner21.png"
              alt=""
            />
          </div>
          <div class="group second">
            <img
              src="/assets/base/images/home-page/partners/partner6.png"
              alt=""
            />
            <img
              src="/assets/base/images/home-page/partners/partner18.png"
              alt=""
            />
            <img
              src="/assets/base/images/home-page/partners/partner8.png"
              alt=""
            />
            <img
              src="/assets/base/images/home-page/partners/partner16.png"
              alt=""
            />
          </div>
          <div class="group second">
            <img
              src="/assets/base/images/home-page/partners/partner10.png"
              alt=""
            />
            <img
              src="/assets/base/images/home-page/partners/partner11.png"
              alt=""
            />
            <img
              src="/assets/base/images/home-page/partners/partner12.png"
              alt=""
            />
            <img
              src="/assets/base/images/home-page/partners/partner13.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="dark-footer">
      <div class="follow-box">
        <h4>
          Follow <img src="/assets/base/images/home-page/Logo.svg" alt="" />
        </h4>
        <div class="my-links">
          <div class="link-item">
            <a href="https://twitter.com/ioi_game"
              ><img
                (mouseenter)="changeImage('twitter.svg')"
                (mouseleave)="changeImage('twitter-blue.png')"
                [src]="'/assets/base/images/home-page/icons/' + twitterName"
                alt="twitter"
            /></a>
          </div>
          <div class="link-item">
            <a href="https://t.me/IOIGAME"
              ><img
                (mouseenter)="changeImage('telegram.svg')"
                (mouseleave)="changeImage('telegram-blue.png')"
                [src]="'/assets/base/images/home-page/icons/' + telegramName"
                alt="telegram"
            /></a>
          </div>
          <div class="link-item">
            <a href="https://www.facebook.com/IOI-Game-103864621267922/"
              ><img
                (mouseenter)="changeImage('facebook.svg')"
                (mouseleave)="changeImage('facebook-blue.png')"
                [src]="'/assets/base/images/home-page/icons/' + facebookName"
                alt="facebook"
            /></a>
          </div>
          <div class="link-item">
            <a href="https://www.instagram.com/ioigame/"
              ><img
                (mouseenter)="changeImage('instagram.svg')"
                (mouseleave)="changeImage('instagram-blue.png')"
                [src]="'/assets/base/images/home-page/icons/' + instagramName"
                alt="instagram"
            /></a>
          </div>
          <div class="link-item">
            <a href="https://www.twitch.tv/traderacemanager"
              ><img
                (mouseenter)="changeImage('twitch.svg')"
                (mouseleave)="changeImage('twitch-blue.png')"
                [src]="'/assets/base/images/home-page/icons/' + twitchName"
                alt="twitch"
            /></a>
          </div>
          <div class="link-item">
            <a href="https://www.youtube.com/channel/UCsTeWAlQBKErsyYYy31WfVQ"
              ><img
                (mouseenter)="changeImage('youtube.svg')"
                (mouseleave)="changeImage('youtube-blue.png')"
                [src]="'/assets/base/images/home-page/icons/' + youtubeName"
                alt="youtube"
            /></a>
          </div>
          <div class="link-item last">
            <a href="https://bitcointalk.org/index.php?topic=5238997.0"
              ><img
                (mouseenter)="changeImage('btc.png')"
                (mouseleave)="changeImage('btc-blue.png')"
                [src]="'/assets/base/images/home-page/icons/' + bitcoinName"
                alt="bitcoin"
            /></a>
          </div>
        </div>
      </div>

      <div class="generals-holder">
        <div class="general-item contact-us">
          <p class="heading">Contact us</p>
          <p>Do you have any questions?</p>
          <p class="mail">Send us an e-mail: <a>info@ioi-game.com</a></p>
          <p>IOI Corporation s.r.o</p>
          <p>Vajnorská 100/B</p>
          <p>831 04 Bratislava</p>
          <p>Slovakia</p>
        </div>
        <div class="general-item">
          <p class="heading">Useful pages</p>
          <a href="https://www.ioi-blog.com/">IOI Blog</a>
          <a href="https://www.ioi-token.com/">IOI Token</a>
          <a href="https://ioi-corporation.com/">IOI Corporation</a>
          <a href="https://www.ioi-wallet.com/">IOI Wallet</a>
          <button type="submit" onclick="window.open('https://ioi-corporation.com/assets/docs/Brand-resources.zip')">Brand resources</button>
        </div>
        <div class="general-item read-more">
          <p class="heading">Read more</p>
          <a
            href="https://ioi-corporation.com/assets/docs/Whitepaper-IOI-Final.pdf"
            target="_blank"
            >Whitepaper</a
          >
          <a
            href="https://ioi-corporation.com/assets/docs/Tokenometrics-IOI.pdf"
            >Tokenometrics</a
          >

          <a href="https://ioi-corporation.com/assets/docs/How-to-earn.pdf"
            >How to earn</a
          >
          <a href="https://ioi-corporation.com/assets/docs/Affiliate.pdf"
          >Affiliate program</a>
        </div>
        <div class="general-item">
          <p class="heading">Download apps</p>
          <div class="linked">
            <a
              class="linked"
              href="https://play.google.com/store/apps/details?id=ioi.wallet&hl=en_US&gl=US"
              >IOI Wallet</a
            >
            <a
              class="img"
              href="https://play.google.com/store/apps/details?id=ioi.wallet"
              ><img
                src="/assets/base/images/home-page/icons/google-play.svg"
                alt="google play"
            /></a>
          </div>
          <div class="linked">
            <a
              class="linked"
              href="https://play.google.com/store/apps/details?id=ioi.game&hl=en_US&gl=US"
              >Trade Race Manager</a
            >
            <a
              class="img"
              href="https://play.google.com/store/apps/details?id=ioi.game&hl=sk&gl=US"
              ><img
                src="/assets/base/images/home-page/icons/google-play.svg"
                alt="google play"
            /></a>
          </div>
        </div>
      </div>

      <div class="basics">
        <p>Copyright &copy; 2020 IOI-GAME</p>
        <a [routerLink]="['/user/credit-system']">Credit system</a>
        <a [routerLink]="['/user/terms-conditions']"
          >General terms &amp; conditions</a
        >
        <a [routerLink]="['/user/privacy-policy']">Privacy policy</a>
        <a [routerLink]="['/user/competition']">Statute of competition</a>
      </div>
    </div>
  </footer>
</div>
