.timer-holder {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .day {
    width: 70px;
    height: 60px;

    padding-top: 10px;
    p {
      font-family: "Earth Orbiter";
      font-size: 23px;
      font-weight: 600;
      margin: 0%;
      text-align: center;
      line-height: 1;
      &.month {
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
  .time-item {
    margin-left: 10px;
    text-align: center;
    .value {
      p {
        font-family: "Earth Orbiter";
        font-size: 35px;
        font-weight: 400;
        line-height: 1;
        margin: 0;
      }
    }
    .desc {
      font-size: 14px;
      font-weight: 400;
      margin: 3px 0 0 0;
      opacity: 0.6;
    }
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .timer-holder {
    .time-item {
      .value {
        p {
          font-size: 20px;
        }
      }
      .desc {
        font-size: 13px;
        margin: 3px 0 0 0;
        line-height: 1;
      }
    }
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .timer-holder {
    .day {
      width: 58px;
      height: 50px;
      padding-top: 7px;
      p {
        font-size: 20px;
        &.month {
          font-size: 14px;
        }
      }
    }
    .time-item {
      .value {
        font-size: 20px;
      }
      .desc {
        font-size: 13px;
        margin: 3px 0 0 0;
        line-height: 1;
      }
    }
  }
}
