

<div class="modal-holder">
  <div class="step-holder step1" [ngClass]="{'visible': tutorialStep === 1}">
    <p class="main-heading">Trade Race Manager</p>
    <div class="content-holder">
      <img class="fuel" src="/assets/base/images/tutorial/fuel-mockup.png" alt="">
      <img class="race" src="/assets/base/images/tutorial/race-mockup.jpg" alt="">
    </div>
    <p class="main-text">TRM is a trading game based on predicting a crypto market</p>
  </div>

  <div class="step-holder step2" [ngClass]="{'visible': tutorialStep === 2}">
    <p class="main-heading">BINARY RACES</p>
    <div class="content-holder">
      <img src="/assets/base/images/tutorial/binary-mockup.png" alt="">
    </div>
    <p class="main-text">Binary Races utilise your NFT avatar</p>
  </div>

  <div class="step-holder step3" [ngClass]="{'visible': tutorialStep === 3}">
    <p class="main-heading">IOI TOKEN</p>
    <div class="content-holder">
      <p class="main-text">IOI Token is the core of the whole TradeRaceManager platform</p>
      <div class="flex-holder">
        <div class="chains">
          <img src="/assets/base/images/home-page/exchange1.png" alt="">
          <img src="/assets/base/images/home-page/exchange2.png" alt="">
          <img src="/assets/base/images/home-page/exchange3.png" alt="">
          <img src="/assets/base/images/home-page/exchange4.png" alt="">
          <img src="/assets/base/images/home-page/exchange5.png" alt="">
        </div>
        <div class="token-price">
          <p class="desc">Current Token Price:</p>
          <p class="value">1 &#36;IOI =	&#36;1.1876</p>
          <p class="date">as of 15/06/2021  |  3:30 PM CET</p>
          <img src="/assets/base/images/tutorial/flaime-token.png" alt="" class="token-img">
        </div>
      </div>
    </div>
    <p class="main-text">You can purchase IOI Token in 5 different exchanges</p>
  </div>

  <div class="step-holder step4" [ngClass]="{'visible': tutorialStep === 4}">
    <p class="main-heading">Marketplace</p>
    <div class="content-holder">
      <img src="/assets/base/images/tutorial/market-mockup.jpg" alt="">
    </div>
    <p class="main-text">Purchase NFTs with IOI with the lowest trading fees</p>
  </div>

  <div class="step-holder step5" [ngClass]="{'visible': tutorialStep === 5}">
    <p class="main-heading">Rewards</p>
    <div class="content-holder">
      <div class="inner-cont">
        <img src="/assets/base/images/tutorial/ring-big.png" alt="" class="ring-img">
        <div class="img-holder">
          <img src="/assets/base/images/icons/ioi-token.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="value">4 420 IOI</p>
          <p class="desc">possible win for NFT holders per day</p>
        </div>
        <img src="/assets/base/images/tutorial/trophy-big.png" alt="" class="trophy-img">
      </div>
    </div>
    <p class="main-text">The better NFT car you purchase, the more rewards you’re able to receive</p>
  </div>

  <div class="step-holder step6" [ngClass]="{'visible': tutorialStep === 6}">
    <p class="main-heading">Max your income</p>
    <div class="content-holder">
      <p class="main-text">TradeRaceManager is the most profitable NFT trading game</p>
      <img src="/assets/base/images/tutorial/platinum-pack.png" alt="">
    </div>
    <p class="main-text">Max your income by purchasing whole tier collections, thanks to which you’ll receive a <span>Rare car</span>. Rare cars <span>multiply your win up to 3 times, depending on the tier.</span></p>
  </div>

  <div class="step-holder step7" [ngClass]="{'visible': tutorialStep === 7}">
    <p class="main-heading">AFFILIATE</p>
    <div class="content-holder">
      <img src="/assets/base/images/tutorial/platinum-pack.png" alt="">
    </div>
    <p class="main-text">The better affiliate level you reach, the more rewards you’re able to receive</p>
  </div>

  <div class="step-holder step8" [ngClass]="{'visible': tutorialStep === 8}">
    <p class="main-heading">Join a team as a premium member</p>
    <div class="content-holder">
      <img src="/assets/base/images/tutorial/platinum-pack.png" alt="">
    </div>
  </div>

  <div class="step-holder step9" [ngClass]="{'visible': tutorialStep === 9}">
    <p class="main-heading">Congratulations</p>
    <div class="content-holder">
      <p class="main-text">As a member of the IOI family we’re gifting you a non NFT car and an avatar</p>
      <img src="/assets/base/images/tutorial/nft-group.png" alt="">
    </div>
    <p class="main-text colored">You decide about your rewards.</p>
  </div>

  <div class="dots-holder">
    <div class="dot" [ngClass]="{'active': tutorialStep === 1}" (click)="tutorialStep = 1"></div>
    <div class="dot" [ngClass]="{'active': tutorialStep === 2}" (click)="tutorialStep = 2"></div>
    <div class="dot" [ngClass]="{'active': tutorialStep === 3}" (click)="tutorialStep = 3"></div>
    <div class="dot" [ngClass]="{'active': tutorialStep === 4}" (click)="tutorialStep = 4"></div>
    <div class="dot" [ngClass]="{'active': tutorialStep === 5}" (click)="tutorialStep = 5"></div>
    <div class="dot" [ngClass]="{'active': tutorialStep === 6}" (click)="tutorialStep = 6"></div>
    <div class="dot" [ngClass]="{'active': tutorialStep === 7}" (click)="tutorialStep = 7"></div>
    <div class="dot" [ngClass]="{'active': tutorialStep === 8}" (click)="tutorialStep = 8"></div>
    <div class="dot" [ngClass]="{'active': tutorialStep === 9}" (click)="tutorialStep = 9"></div>
  </div>

  <button class="continue-btn" (click)="tutorialStep = tutorialStep + 1">Continue</button>

</div>
