

<div class="modal-holder">
  <div class="step-holder step1" [ngClass]="{'visible': tutorialStep === 1}">
    <p class="main-heading">Welcome to trade race manager</p>
    <div class="content-holder">
      <div class="content-item races">
        <p class="sub-heading">Portfolio RACES</p>
        <div class="img-holder">
          <img src="/assets/base/images/tutorial/fuel-mockup.png" alt="">
          <img src="/assets/base/images/tutorial/race-mockup.jpg" alt="">
        </div>
        <p class="main-text big">Portfolio races are based on predicting the crypto market utilising NFT cars</p>
      </div>
      <div class="content-item">
        <p class="sub-heading">BINARY fights</p>
        <img class="race" src="/assets/base/images/tutorial/binary-mockup.png" alt="">
        <p class="main-text">Binary Fights utilise your NFT avatar</p>
      </div>
    </div>

    <div class="text-holder">
      <p class="main-text big">Portfolio races are based on predicting the crypto market utilising NFT cars</p>
      <p class="main-text">Binary Fights utilise your NFT avatar</p>
    </div>
  </div>

  <div class="step-holder step2" [ngClass]="{'visible': tutorialStep === 2}">

    <div class="heading-holder">
      <p class="main-heading">IOI Token</p>
      <p class="main-heading">Marketplace</p>
    </div>

    <div class="content-holder">
      <div class="content-item">
        <p class="main-heading">IOI Token</p>
        <div class="flex-holder">
          <div class="token-price">
            <p class="desc">Current Token Price:</p>
            <p class="value">1 &#36;IOI =	&#36;1.1876</p>
            <p class="date">as of 15/06/2021  |  3:30 PM CET</p>
            <img src="/assets/base/images/tutorial/flaime-token.png" alt="" class="token-img">
          </div>
          <div class="chains">
            <img src="/assets/base/images/home-page/exchange5.png" alt="">
            <img src="/assets/base/images/home-page/exchange1.png" alt="">
            <img src="/assets/base/images/home-page/exchange2.png" alt="">
            <img src="/assets/base/images/home-page/exchange4.png" alt="">
            <img src="/assets/base/images/home-page/exchange3.png" alt="">
          </div>
        </div>
        <p class="main-text">You can purchase IOI Token in 5 different exchanges</p>
      </div>
      <div class="content-item">
        <p class="main-heading">Marketplace</p>
        <img class="market-img" src="/assets/base/images/tutorial/market-mockup.jpg" alt="">
        <p class="main-text">Purchase NFTs with IOI with the lowest trading fees</p>
      </div>
    </div>

    <div class="text-holder">
      <p class="main-text">You can purchase IOI Token in 5 different exchanges</p>
      <p class="main-text">Purchase NFTs with IOI with the lowest trading fees</p>
    </div>

  </div>

  <div class="step-holder step3" [ngClass]="{'visible': tutorialStep === 3}">
    <p class="main-heading">Max your income</p>
    <div class="content-holder">
      <p class="main-text">TradeRaceManager is the most profitable NFT trading game</p>
      <img src="/assets/base/images/tutorial/platinum-pack.png" alt="">
    </div>
    <p class="main-text">Max your income by purchasing whole tier collections, thanks to which you’ll receive a <span>Rare car</span>. Rare cars <span>multiply your win up to 3 times, depending on the tier.</span></p>
  </div>

  <div class="step-holder step4" [ngClass]="{'visible': tutorialStep === 4}">
    <p class="main-heading">Join a team as a premium member</p>
    <div class="content-holder">
      <div class="team-item">
        <div class="inner-holder">
          <p class="premium">Premium</p>
          <p class="value">1 Month</p>

          <div class="list-item">
            <img src="/assets/base/images/tutorial/okay-icon.svg" alt="">
            <p class="list-item"> Premium car skin for 1 month</p>
          </div>
          <div class="list-item">
            <img src="/assets/base/images/tutorial/okay-icon.svg" alt="">
            <p class="list-item">Non-NFT Avatar increased to 5%</p>
          </div>

          <div class="amount-holder">
            <p class="value">50 IOI</p>
          </div>
        </div>
      </div>
      <div class="team-item second">

        <div class="disc-box">
          <p>10% OFF</p>
        </div>

        <div class="inner-holder">
          <p class="premium">Premium</p>
          <p class="value">3 months</p>

          <div class="list-item">
            <img src="/assets/base/images/tutorial/okay-icon.svg" alt="">
            <p class="list-item">Premium car skin for 3 months</p>
          </div>
          <div class="list-item">
            <img src="/assets/base/images/tutorial/okay-icon.svg" alt="">
            <p class="list-item">Non-NFT Avatar increased to 5%</p>
          </div>
          <div class="list-item">
            <img src="/assets/base/images/tutorial/okay-icon.svg" alt="">
            <p class="list-item">Racer Axle with 10% for 3 months</p>
          </div>

          <div class="amount-holder">
            <p class="value">135 IOI</p>
            <p class="index">150 IOI</p>
          </div>
        </div>

        <div class="hover-content">
          <div class="stat-item">
            <p class="desc">Membership value</p>
            <p class="value">250 IOI</p>
          </div>
          <div class="stat-item">
            <p class="desc">You save</p>
            <p class="value">115 IOI</p>
          </div>

          <img src="/assets/base/images/tutorial/avatar-pose.png" alt="" class="avatar-img">
        </div>

      </div>
      <div class="team-item third">

        <div class="disc-box">
          <p>30% OFF</p>
        </div>

        <div class="inner-holder">
          <p class="premium">Premium</p>
          <p class="value">1 Year</p>

          <div class="list-item">
            <img src="/assets/base/images/tutorial/okay-icon.svg" alt="">
            <p class="list-item">Common NFT car for 1 year</p>
          </div>
          <div class="list-item">
            <img src="/assets/base/images/tutorial/okay-icon.svg" alt="">
            <p class="list-item">Common NFT avatar for 1 year</p>
          </div>
          <div class="list-item">
            <img src="/assets/base/images/tutorial/okay-icon.svg" alt="">
            <p class="list-item">Chance to win <span>24 000 IOI</span> in team challenges</p>
          </div>
          <div class="list-item">
            <img src="/assets/base/images/tutorial/okay-icon.svg" alt="">
            <p class="list-item">Chance to win a <span>Racer Ring</span> and a <span>Special Trophy</span></p>
          </div>

          <div class="amount-holder">
            <p class="value">420 IOI</p>
            <p class="index">600 IOI</p>
          </div>
        </div>

        <div class="hover-content">
          <div class="stat-item">
            <p class="desc">Membership value</p>
            <p class="value">1 080 IOI</p>
          </div>
          <div class="stat-item">
            <p class="desc">You save</p>
            <p class="value">660 IOI</p>
          </div>

          <img src="/assets/base/images/tutorial/avatar-pose.png" alt="" class="avatar-img">
          <img src="/assets/base/images/nft-cars/car1.png" alt="" class="car-img">
        </div>

      </div>
    </div>
  </div>

  <div class="step-holder step5" [ngClass]="{'visible': tutorialStep === 5}">
    <p class="main-heading">Congratulations</p>
    <div class="content-holder">
      <p class="main-text">As a member of the IOI family we’re gifting you a non NFT car and an avatar</p>
      <img src="/assets/base/images/tutorial/nft-group.png" alt="">
    </div>
    <p class="main-text colored">You decide about your rewards.</p>
  </div>

  <div class="dots-holder">
    <div class="dot" [ngClass]="{'active': tutorialStep === 1}" (click)="tutorialStep = 1"></div>
    <div class="dot" [ngClass]="{'active': tutorialStep === 2}" (click)="tutorialStep = 2"></div>
    <div class="dot" [ngClass]="{'active': tutorialStep === 3}" (click)="tutorialStep = 3"></div>
    <div class="dot" [ngClass]="{'active': tutorialStep === 4}" (click)="tutorialStep = 4"></div>
    <div class="dot" [ngClass]="{'active': tutorialStep === 5}" (click)="tutorialStep = 5"></div>
  </div>

  <button class="continue-btn" *ngIf="tutorialStep < 5" (click)="tutorialStep = tutorialStep + 1">Continue</button>

  <div class="btns-holder" *ngIf="tutorialStep === 5">
    <button class="blank">Buy nft</button>
    <button class="active">Start racing</button>
  </div>

</div>
