
.main-wrapper{
    max-width: 460px;
    padding: 0 10px;
}

.top-holder{
    .headings{
        margin: 8px auto 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        h1{
            color: #00ffff;
            font-weight: 500;
            font-size: 27px;
            text-transform: uppercase;
            display: block;
            margin: 5px 0;
            text-align: center;
            width: 100%;
            img{
                vertical-align: baseline;
                transition: 0.3s;
                transform: rotate(180deg);
                cursor: pointer;
            }
        }
        p{
            margin: 5px 0;
            color: #ffffff;
            font-size: 17px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            width: 100%;
            &.timer{
                font-weight: 300;
            }
        }
    }
    .top-panel{
        min-width: 440px;
        width: 440px;
        height: 198px;
        margin: 0 auto;
        box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        background-color: #0a0a0a;
        background-image: url('/assets/base/images/next-races/day-racer-back.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom center;
        position: relative;
        transition: 0.3s;
        &:hover{
            transform: scale(1.02);
        }
        .prize-heading{
            -webkit-text-stroke: 2px #fd00f5;
            color: transparent;
            font-size: 35px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-style: italic;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            line-height: 1;
            padding: 8px 0;
            text-align: center;
            position: relative;
            top: 58px;
            margin-top: 8px;
        }
        .cta-button{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .number-ind{
            background: url('/assets/base/images/icons/number-back.png') no-repeat;
            min-height: 25px;
            min-width: 68px;
            text-align: center;
            font-size: 16px;
            color: black;
            margin: 0 8px 0 5px;
            background-size: 100% 100%;
            position: absolute;
            bottom: 18px;
            left: 16px;
        }
        .trx-logo{
            position: absolute;
            width: 80px;
            bottom: 0;
            right: 18px;
        }
        .btc-logo{
            position: absolute;
            width: 80px;
            bottom: -1px;
            right: 18px;
        }
        .ioi-logo{
            position: absolute;
            width: 110px;
            bottom: 7px;
            right: 4px;
        }
    }
}

.next-races-table{
    width: 100%;
    margin: 20px 0 10px 0;
    .table-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding-right: 20px;
        width: calc(100% + 20px);
        transition: 0.3s;
        &.new-item:first-child{
            animation-name: animateFirst;
            animation-duration: 0.7s;
            animation-iteration-count: 1;
            overflow: hidden;
        }
        @keyframes animateFirst {
            from {max-height: 0;}
            to {max-height: 70px;}
        }
        &:hover{
            transform: scale(1.02);
        }
        .race-img{
            width: 81px;
            min-width: 81px;
            height: 61px;
            box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.8);
            border-radius: 10px;
            background-color: #0a0a0a;
            img{
                max-width: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
            }
        }
        .race-stats{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 200px;
            min-width: 200px;
            margin: 0 10px;
            p{
                margin: 0;
            }
            .left-part{
                width: 46%;
                p{
                    font-size: 15px;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: white;
                }
            }
            .right-part{
                width: 54%;
                p{
                    font-size: 15px;
                    font-weight: 300;
                    text-transform: uppercase;
                    color: white;
                    text-align: right;
                }
            }
        }
        .race-type{
            width: 129px;
            max-width: 129px;
            .cta-button{
                min-width: 90px;
                height: 40px;
                font-size: 16px;
                &::before{
                    width: 111px;
                    height: 60px;
                    top: -10px;
                    left: -13px;
                }
            }
        }
        &:nth-child(even){
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}

.top-racer-cont{
    width: 100%;
    margin-top: 12px;
    .headings{
        margin: 8px 0 16px 0;
        text-align: center;
        h1{
            color: #00ffff;
            font-weight: 500;
            font-size: 27px;
            text-transform: uppercase;
            display: block;
            margin: 5px 0;
            img{
                vertical-align: baseline;
                transition: 0.3s;
                transform: rotate(180deg);
                cursor: pointer;
            }
        }
        p{
            margin: 5px 0;
            color: #ffffff;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;

        }
    }
    .img-panel{
        width: 440px;
        height: 217px;
        box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        background-color: #0a0a0a;
        overflow: hidden;
        margin-bottom: 20px;
        background: url('/assets/base/images/next-races/day-team-back.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: top center;
        transition: 0.3s;
        position: relative;
        &:hover{
            transform: scale(1.02);
        }
        .trx-logo,
        .btc-logo{
            position: absolute;
            top: 10px;
            left: 157px;
            width: 65px;
            transform: rotateX(20deg) rotateY(19deg);
        }
        .usdt-logo{
            position: absolute;
            top: 13px;
            left: 159px;
            width: 65px;
            transform: rotateX(20deg) rotateY(19deg);
        }
    }
}
.latest-heading{
    color: #00ffff;
    font-weight: 500;
    font-size: 27px;
    text-transform: uppercase;
    display: block;
    margin: 20px 0 5px;
}