
@import '../../../../car/fuel-car/fuel-car.component.scss';

.main-holder{
    margin-top: 80px;
}

@media screen and (max-width: 1550px) {
    .main-holder{
        margin-top: 65px;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape){
    .main-holder{
        margin-top: 40px;
        .step2{
            .content-holder{
                .content-box{
                    &.box2{
                        height: 365px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) and (orientation: landscape){
    .main-holder{
        .step2{
            .content-holder{
                .content-box{
                    &.box2{
                        height: 235px;
                    }
                }
            }
        }
    }
}