.loading {
  background-image: url("../../../assets/base/images/loading.png");
  max-width: 336px;
  width: 100%;
  height: 336px;
  /* top: 200px; */
  /* left: calc(50% - 186px); */
  position: relative;
  z-index: 1000;
  top: -500px;
  margin: 0 auto;
  span.sum {
    position: absolute;
    width: 155px;
    height: 17px;
    left: 85px;
    top: 116px;
    font-style: italic;
    font-weight: bold;
    font-size: 64px;
    line-height: 96px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #ffffff;
  }
  span.run {
      background-color: rgba(254, 23, 63, 1);
      height: 50px;
      position:absolute;
      border-radius: 30px;
      shape-outside: circle();
    clip-path: circle();
    display:none;
  }
}
