

.heading{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin: 0 0 20px 0;
}

.items-holder{
    .notifiq-item{
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
        background-image: url('/assets/base/images/banner/notifiq-banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
        margin-bottom: 10px;
        .top-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .heading{
                margin: 0;
            }
            .time{
                font-size: 14px;
                margin: 0;
                font-weight: 400;
                opacity: .2;
                color: white;
            }
        }
        .message{
            p{
                margin: 0;
                font-size: 14px;
                color: white;
                font-weight: 400;
                .opacity{
                    opacity: .2;
                }
                .important{
                  letter-spacing: -1px;
                }
            }
        }
    }
    .see-all{
        margin: 20px 0 0 0;
        width: 100%;
        text-align: center;
        color: white;
        opacity: .2;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
    }
}

@media screen and (max-width: 640px){
    .heading{
        font-size: 15px;
    }
    .items-holder{
        .notifiq-item{
            .top-info{
                .time{
                    font-size: 12px;
                }
            }
            .message{
                p{
                    font-size: 12px;
                }
            }
        }
    }
}