<div class="modal-body">
  <div class="modal-wrapper">
    <div class="content-title" (click)="back()">
      <img
        (click)="back()"
        class="red-star"
        src="assets/base/images/icons/icon-back-red.svg"
        alt="red arrow"
      />
      <img
        (click)="back()"
        class="blue-star"
        src="assets/base/images/icons/icon-back-blue.svg"
        alt="blue arrow"
      />
      <p>get a membership</p>
    </div>
    <div class="premium-membership">
      <div class="inner-box">
        <div class="black-overlay"></div>
        <div class="box-content">
          <p class="membership-bonus">Sale now</p>
          <h2 class="membership-heading">Premium</h2>
          <div class="non-mobile-part">
            <p class="bonus-heading">Only with premium</p>
            <div class="bonus-content">
              <p class="bonus active">
                <img
                  src="assets/base/images/team-membership/tip.png"
                  alt="blub"
                />
                Tip of the day from your team manager
              </p>
              <p class="bonus active">
                <img
                  src="assets/base/images/team-membership/gift.png"
                  alt="gift"
                />
                5% reward and bonuses
              </p>
              <p class="bonus active">
                <img
                  src="assets/base/images/team-membership/coin.png"
                  alt="coin"
                />
                Earn a points to get a chance to win a special ring
              </p>

              <p class="bonus quartal" [ngClass]="{'active': monthCount===3 ||  monthCount===12}">
                <img
                  src="assets/base/images/team-membership/racer-icon.svg"
                  alt="coin"
                />
                <ng-container *ngIf="monthCount==3">Free NFT Common Avatar for 3 months</ng-container>
                <ng-container *ngIf="monthCount==12">Free NFT Common Avatar for 1 year</ng-container>
              </p>

              <p class="bonus yearly"[ngClass]="{'active': monthCount===12}">
                <img
                  src="assets/base/images/team-membership/car-icon.svg"
                  alt="coin"
                />
                Free NFT Common Car for 1 year
              </p>
            </div>

            
          </div>

          <div class="big-part">
            <div class="membership-time-items">
              <div
                class="membership-time active"
                [ngClass]="{ active: monthCount === 1 }"
                (click)="monthCount = 1"
              >
                1 month
                <div class="underline my-cta-btn-back"></div>
                <span class="sticker-blue my-cta-btn-back">{{(discount?.month_discount * 100)| number:'1.0-2':'fr'}}% OFF</span>
              </div>
              <div
                class="membership-time"
                [ngClass]="{ active: monthCount === 3 }"
                (click)="monthCount = 3"
              >
                3 months
                <div class="underline my-cta-btn-back"></div>
                <span class="sticker-blue my-cta-btn-back">{{(discount?.quartal_discount * 100)| number:'1.0-2':'fr'}}% OFF</span>
              </div>
              <div
                class="membership-time"
                [ngClass]="{ active: monthCount === 12 }"
                (click)="monthCount = 12"
              >
                1 year
                <div class="underline my-cta-btn-back"></div>
                <span class="sticker-gold">{{(discount?.year_discount * 100)| number:'1.0-2':'fr'}}% OFF</span>
              </div>
            </div>
            <button
              class="my-cta-btn-back pay-button hoverable"
              (click)="joinTeam(selectedTeamId)"
              *ngIf="monthCount === 1"
            >
              <img
                src="assets/base/images/team-membership/token-icon.png"
                alt="token"
              />
              50
            </button>
            <button
              class="my-cta-btn-back pay-button hoverable"
              (click)="joinTeam(selectedTeamId)"
              *ngIf="monthCount === 3"
            >
              <img
                src="assets/base/images/team-membership/token-icon.png"
                alt="token"
              />
              135
            </button>
            <button
              class="my-cta-btn-back pay-button hoverable"
              (click)="joinTeam(selectedTeamId)"
              *ngIf="monthCount === 12"
            >
              <img
                src="assets/base/images/team-membership/token-icon.png"
                alt="token"
              />
              420
            </button>
          </div>
        </div>
        <img
          src="assets/base/images/team-membership/back-img.jpg"
          alt="back-img"
          class="back-img"
        />
      </div>
      <div class="month-benefits"  [ngClass]="{ active: monthCount === 1 }">
        <img class="racer" src="assets/base/images/nft-racers/rookie-basic.png" alt="racer">
      </div>

      <div class="month-benefits"  [ngClass]="{ active: monthCount === 3 }">
        <img class="racer" src="assets/base/images/nft-racers/white-trm.png" alt="racer">
      </div>

      <div class="month-benefits yearly"  [ngClass]="{ active: monthCount === 12 }">
        <img class="racer" src="assets/base/images/nft-racers/white-trm.png" alt="racer">
        <img class="car" src="assets/base/images/nft-cars/car1.png" alt="car">
      </div>
    </div>
  </div>
</div>
