:host{
  width: 100%;
  height: 100%;
  background: url('/assets/base/images/player-profile/profile-back.png')left top repeat-y;
  background-size: 100%;
}

.content-holder{
  position: relative;
  z-index: 1;
  overflow: hidden;
  &.back-level4{
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1214px;
      height: 865px;
      background: url('/assets/base/images/player-profile/big-back4.png') left top no-repeat;
      background-size: 100%;
      z-index: -1;
      pointer-events: none;
    }
  }
  &.back-level3{
    &::before{
      content: '';
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      width: 870px;
      height: 1085px;
      background: url('/assets/base/images/player-profile/big-back3.png') left top no-repeat;
      background-size: 100%;
      z-index: -1;
      pointer-events: none;
    }
  }
  &.back-level2{
    &::before{
      content: '';
      position: absolute;
      top: -60px;
      left: 0;
      width: 1190px;
      height: 807px;
      background: url('/assets/base/images/player-profile/big-back2.png') left top no-repeat;
      background-size: 100%;
      z-index: -1;
      pointer-events: none;
    }
  }
  &.back-level1{
    &::before{
      content: '';
      position: absolute;
      top: -50px;
      left: 0;
      width: 1190px;
      height: 1477px;
      background: url('/assets/base/images/player-profile/big-back1.png') left top no-repeat;
      background-size: 100%;
      z-index: -1;
      pointer-events: none;
    }
  }
  .top-panels{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .panel-item{
      height: 415px;
      max-height: 415px;
      margin: 40px 0;
      .level-img{
        &.level2{
          margin-top: 24px;
        }
        &.level3{
          margin: 0 auto;
          display: block;
          width: 400px;
        }
      }
    }
    .left-panel{
      width: 530px;
      box-shadow: 17px 9px 17px 1px rgba(19, 19, 24, 0.61);
      border-radius: 10px;
      border: 2px solid rgba(0, 0, 0, 0.31);
      position: relative;
      overflow: hidden;
      .my-level{
        text-shadow: 5px 5px 0px rgba(0, 0, 0, 1), 
        -5px 5px 0px rgba(0, 0, 0, 1),
        5px -5px 0px rgba(0, 0, 0, 1),
        -5px -5px 0px rgba(0, 0, 0, 1),
        0 5px 20px rgba(0, 0, 0, 0.9),
        0 5px 25px rgba(0, 0, 0, 0.7);
        font-size: 94px;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100%;
        text-align: center;
        &.level1{
          color: #00fff0;
        }
        &.level2{
          color: white;
        }
        &.level3{
          color: #eeff00;
        }
        &.level4{
          color: #fc00ff;
        }
      }
    }
    .right-panel{
      width: 480px;
      box-shadow: 9px 5px 5px rgba(19, 19, 24, 0.61), inset -19px 11px 28px rgba(0, 0, 0, 0.32), 0 0 44px rgba(0, 0, 0, 0.32);
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      padding: 18px 32px 20px;
      position: relative;
      .nickname{
        font-size: 35px;
        color: #00c8fe;
        text-align: center;
        line-height: 1;
        width: 100%;
        margin: 0 0 15px 0;
      }
      p{
        color: white;   
        margin: 0;  
        font-size: 27px;
        font-weight: 300;
        line-height: 1.2;
        text-shadow: 8px 8px 20px black;
      }
      .left-part{
        max-width: 210px;
      }
      .right-part{
        max-width: 165px;
        .profile-data{
          padding-left: 11px;
        }
        .buttons-holder{
          margin-top: 68px;
          .cta-button{
            font-size: 17px;
            height: 37px;
            margin: 11px 0;
            min-width: 130px;
            &::before{
              top: -16px;
              left: -19px;
            }
          }
        }
      }
      .heading{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 22px;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow: 8px 8px 20px black;
      }
      .balance-data{
        margin-top: 37px;
        .balance-info{
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          p{
            width: 140px;
            text-align: left;
            margin-bottom: 4px;
          }
          .ioi-logo{
            width: 52px;
          }
          .trx-logo{
            width: 31px;
          }
        }
      }
    }
  }
  .my-cars-holder{
    .my-cars-heading{
      color: #ffffff;
      font-size: 35px;
      font-weight: 700;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      text-shadow: 8px 8px 20px black;
    }
    .slider-holder{
      position: relative;
      z-index: 2;
      max-width: 651px;
      margin: 36px auto 0;
      .cars-wrapper{
        width: 100%;
        height: 570px;
        max-height: 570px;
        max-width: 651px;
        width: 651px;
        overflow: hidden;
        position: relative;
        .sliding-item{
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: space-between;
          max-height: 570px;
          min-width: 651px;
          align-items: center;
          padding-top: 30px;
          transition: 0.4s;
          .car-item{
            min-height: 190px;
            max-height: 190px;
            min-width: 190px;
            margin: 0 13.5px 80px;
            position: relative;
            z-index: 1;
            cursor: pointer;
            &::before{
              content: '';
              position: absolute;
              top: -19px;
              left: 24px;
              width: 138px;
              height: 245px;
              background-image: url('/assets/base/images/garage/car-back.png');
              background-size: 100% 100%;
              background-repeat: no-repeat;
              z-index: -2;
            }
            img{
              max-height: 190px;
              position: relative;
            }
            .info-button{
              position: absolute;
              bottom: -17px;
              right: 0;
              width: 35px;
              img{
                opacity: 1 !important;
              }
            }
          }
        }
      }
      .arrow-left{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -175px;
        cursor: pointer;
      }
      .arrow-right{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -185px;
        cursor: pointer;
      }
    }
  }
}
.bot-panels{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: -380px;
    left: -160px;
    width: 1440px;
    height: 810px;
    background: url('/assets/base/images/player-profile/bottom-back.png') left top no-repeat;
    background-size: 100%;
    z-index: -1;
    pointer-events: none;
  }
    .panel-item{
      height: 415px;
      max-height: 415px;
      margin: 40px 0;
      box-shadow: 17px 9px 17px 1px rgba(19, 19, 24, 0.61);
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 18px 32px 20px;
      .top-heading{
        font-size: 30px;
        font-weight: 700;
        margin-top: 7px;
        margin-bottom: 22px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
      }
    }
    .left-panel{
      width: 530px;
      .stats-switchers{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
        border-width: 0 0 6px 0;
        border-style: solid;
        border-image: url('/assets/base/images/player-profile/bottom-border.png') 60 round;
        .left-switches{
          p{
            margin: 0;
            font-size: 27px;
            font-weight: 400;
            color: white;
            text-transform: uppercase;
            cursor: pointer;
            position: relative;
            &::before{
              border: 1px solid rgba(255, 255, 255, 0.4);
              background-color: #d2d2d2;
              background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
            }
            &.active{
              color: #f600ff;
              &::before{
                border: 1px solid rgba(255, 255, 255, 0.4);
                background-color: #f600ff;
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
              }
            }
            &::before{
              content: '';
              width: 14px;
              height: 14px;
              border-radius: 50%;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: -29px;
            }
          }
        }
      }
      .stats-content{
        margin-top: 25px;
        .flex-cont{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 15px;
          &.top{
            justify-content: space-around;
            padding: 0 0 0 25px;
            margin-bottom: 22px;
            .stat-item{
              width: 122px;
            }
          }
          .stat-item{
            text-align: center;
            p{
              &.desc{
                font-size: 19px;
                font-weight: 300;
              }
              margin: 0;
              color: #ffffff;              
              font-weight: 500;
              font-size: 25px;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
    .right-panel{
      width: 480px;
      position: relative;
      .settings-item{
        &.email{
          position: relative;
          .cta-button{
            position: absolute;
            top: 0;
            right: 0;
            min-width: 130px;
            text-transform: uppercase;
            font-size: 16px;
            text-shadow: none;
            &::before{
              width: 171px;
              left: -25px;
            }
          }
        }
        &.country{
          position: relative;
          
        }
        p{
          width: 100%;
          margin: 0;
          color: white;
          font-size: 19px;
          font-weight: 400;
          line-height: 1.2;
          &.desc{
            margin: 10px 0 3px;
            font-weight: 300;
          }
          &.crypto{
            position: relative;
            input{
              color: black;
              width: 90%;
            }
            .edit-icon{
              position: absolute;
              right: -10px;
              top: 0;
              cursor: pointer;
              width: 30px;
            }
          }
          .info{
            .switch{
              position: relative;
              display: inline-block;
              .switch-input{
                display: none;
                &:checked + .switch-label::before{
                  // background-color: #121212;
                }
                &:checked + .switch-label::after{
                  left: 35px;
                }
              }
              .switch-label{
                display: block;
                width: 65px;
                height: 32px;
                margin: 0;
                text-indent: -150%;
                clip: rect(0 0 0 0);
                color: transparent;
                user-select: none;
                &::before,
                &::after{
                  content: "";
                  display: block;
                  position: absolute;
                  cursor: pointer;
                }
                &::before{
                  width: 100%;
                  height: 100%;
                  content: "";
                  text-shadow: 0 1px 3px #000000, inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 14px rgba(76, 230, 15, 0.2);
                  color: #bed74b;
                  border: 2px solid black;
                  background-color: rgba(18, 18, 18, 0.88);
                  border-radius: 9999em;
                  -webkit-transition: background-color 0.25s ease;
                  transition: background-color 0.25s ease;
                }
                &::after{
                  content: '';
                  top: 2px;
                  left: 2px;
                  width: 28px;
                  height: 28px;
                  z-index: 2;
                  border-radius: 50%;
                  background: url('/assets/base/images/player-profile/check-btn.png') no-repeat
                    center center;
                  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
                  -webkit-transition: left 0.25s ease;
                  transition: left 0.25s ease;            
                  border: 2px solid black;
                  cursor: pointer;
                }
              }
              .on{
                position: absolute;
                color: white;
                z-index: 0;
                font-size: 15px;
                text-transform: uppercase;
                right: 9px;
                top: 4px;
                font-weight: 700;
                color: black;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 0 0 14px rgba(76, 230, 15, 0.2);
                background-color: #ffffff;
                background-image: linear-gradient(to top, #879b25 0%, #bed74b 65%, #cce16d 100%);
                cursor: pointer;
              }
              .off-label{
                position: absolute;
                color: white;
                z-index: 0;
                font-size: 15px;
                text-transform: uppercase;
                left: 7px;
                top: 4px;
                font-weight: 700;
                color: black;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-shadow: 0 0 14px rgba(230, 15, 37, 0.2);
                background-color: #ffffff;
                background-image: linear-gradient(to top, #8e0e1a 0%, #ce2234 65%, #e13c51 100%);
                cursor: pointer;
              }
            }
          }
        }
      }
      .resend-btn{
        position: absolute;
        bottom: 76px;
        right: 20px;
        &::before{
          width: 220px;
          height: 80px;
          top: -14px;
          left: -37px;
        }
      }
    }
}





