.main-holder {
  width: calc(100% - 40px);
  height: calc(100vh - 80px);
  padding: 40px 0px 40px 40px;
  display: flex;
  position: relative;
}

.content-holder {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  .common-heading {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
  }
  .left-holder {
    width: 54.8%;
    .img-holder {
      width: 100%;
      position: relative;
      text-align: center;
      height: 306px;
      &.racer {
        text-align: left;
        .car-img {
          margin-left: 15%;
        }
        .car-stats {
          flex-direction: column;
          left: unset;
          right: 0;
          transform: none;
          height: 100%;
          width: 50%;
          .name {
            margin-right: 0;
            text-align: center;
          }
        }
      }
      .car-img {
        max-width: 100%;
        max-height: 100%;
        position: relative;
        top: -20px;
        transform: scale(1.1);
      }
      .car-stats {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 400px;
        .name {
          text-align: left;
          margin-right: 10%;
          p {
            font-weight: 600;
            font-size: 20px;
            margin: 0;
            &.desc {
              opacity: 0.6;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
        .value {
          p {
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            margin: 0;
            &.desc {
              opacity: 0.6;
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }
    .amount-holder {
      width: 100%;
      height: 316px;
      padding: 25px 20px;
      box-shadow: 0px 0px 80px #000000;
      border-radius: 15px;
      margin: 30px 0 10px;
      .common-heading {
        margin-bottom: 20px;
        margin-left: 15px;
      }
      .amount-input {
        width: 100%;
        border-radius: 15px;
        position: relative;
        margin-bottom: 40px;
        .inner {
          background: white;
          border-radius: 15px;
          width: 100%;
          position: relative;
          input {
            padding: 13px 64px 13px 30px;
            border-radius: 15px;
            background: transparent;
            width: 100%;
            border: none;
            outline: none;
            color: #333;
            font-weight: 600;
          }
          .curr-desc {
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
            font-weight: 500;
            font-size: 16px;
            margin: 0;
          }
        }
        .input-note {
          position: absolute;
          bottom: -10px;
          right: 0;
          transform: translateY(100%);
          font-size: 16px;
          font-weight: 300;
          opacity: 0.4;
          margin: 0;
        }
      }
      .transfer-inputs {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        .input-item {
          width: calc(50% - 30px);
          position: relative;
          .my-input {
            width: 100%;
            border-radius: 15px;
            &.bordered {
              padding: 1px;
            }
            input {
              width: 100%;
              background: white;
              border-radius: 15px;
              padding: 13px 30px;
              width: 100%;
              border: none;
              outline: none;
              color: #333;
              font-weight: 600;
            }
          }
          &.left {
            .transfer-arrows {
              position: absolute;
              top: 50%;
              right: -16px;
              transform: translate(100%, -50%);
              cursor: pointer;
            }
          }
          .destination-desc {
            position: absolute;
            bottom: -7px;
            left: 15px;
            transform: translateY(100%);
            margin: 0;
            opacity: 0.8;
            font-size: 16px;
            font-weight: 300;
          }
        }
      }
    }
  }
  .right-holder {
    width: 41%;
    .common-heading {
      margin-bottom: 20px;
    }
    .main-panel {
      width: 100%;
      background: rgba(255, 255, 255, 0.05);

      border-radius: 15px;
      height: 602px;
      margin-bottom: 10px;
      padding: 40px 40px 10px 40px;
      text-align: center;
      .withdraw-info {
        text-align: center;
        .text {
          font-size: 18px;
          font-weight: 300;
          margin: 40px 0;
        }
        .value {
          font-weight: 600;
          font-size: 40px;
          margin: 0;
          display: inline-block;
          position: relative;
          .value-desc {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(102%, -25%);
            font-size: 18px;
            font-weight: 300;
          }
        }
        .desc {
          font-size: 18px;
          margin: 0;
          opacity: 0.4;
        }
      }
      .summary-box {
        padding-top: 65px;
        position: relative;
        margin-top: 65px;
        .border-maker {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 40%;
          height: 1px;
          border-radius: 2px;
          top: 0;
        }
        .info-item {
          width: 100%;
          &.second {
            margin-top: 30px;
          }
          p {
            font-size: 16px;
            margin: 0;
            font-weight: 500;
            &.desc {
              font-weight: 400;
              opacity: 0.4;
            }
          }
          input {
            background: transparent;
            padding: 5px 10px;
            border: none;
          }
        }
      }
      .confirm-btn {
        font-size: 16px;
        font-weight: 400;
        padding: 11px 40px;
        border-radius: 10px;
        margin-top: 65px;
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .main-holder {
    width: calc(100% - 30px);
    padding: 30px 0px 30px 30px;
  }
  .content-holder {
    .common-heading {
      font-size: 18px;
    }
    .left-holder {
      .img-holder {
        height: 267px;
        .car-stats {
          .name,
          .value {
            p {
              font-size: 17px;
              &.desc {
                font-size: 13px;
              }
            }
          }
          .value {
            p {
              img {
                width: 23px;
              }
            }
          }
        }
      }
    }
    .right-holder {
      .common-heading {
        margin-bottom: 15px;
      }
      .main-panel {
        height: 576px;
        padding: 25px 30px 10px 30px;
        .summary-box {
          .info-item {
            p {
              font-size: 15px;
            }
            input {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .main-holder {
    width: calc(100% - 20px);
    height: calc(100vh - 65px);
    padding: 20px 0px 20px 20px;
  }
  .content-holder {
    .common-heading {
      font-size: 17px;
    }
    .left-holder {
      .img-holder {
        height: 246px;
        .car-stats {
          .name,
          .value {
            p {
              font-size: 16px;
              &.desc {
                font-size: 12px;
              }
            }
          }
          .value {
            p {
              img {
                width: 20px;
              }
            }
          }
        }
      }
      .amount-holder {
        padding: 20px 15px;
        margin: 20px 0 10px;
        height: 251px;
        .common-heading {
          margin-bottom: 15px;
          margin-left: 11px;
        }
        .amount-input {
          margin-bottom: 27px;
          .inner {
            input {
              padding: 10px 60px 10px 25px;
              font-size: 15px;
            }
            .curr-desc {
              right: 25px;
              font-size: 14px;
            }
          }
          .input-note {
            font-size: 14px;
            bottom: -4px;
          }
        }
        .transfer-inputs {
          .input-item {
            width: calc(50% - 20px);
            &.left {
              .transfer-arrows {
                right: -8px;
                width: 26px;
              }
            }
            .my-input {
              input {
                padding: 10px 25px;
                font-size: 15px;
              }
            }
            .destination-desc {
              font-size: 14px;
              bottom: -3px;
              left: 11px;
            }
          }
        }
      }
    }
    .right-holder {
      .common-heading {
        margin-bottom: 12px;
      }
      .main-panel {
        height: 480px;
        padding: 20px 22px 7px 22px;
        .withdraw-info {
          .text {
            font-size: 16px;
            margin: 22px 0;
          }
          .value {
            font-size: 30px;
            .value-desc {
              font-size: 15px;
            }
          }
          .desc {
            font-size: 16px;
          }
        }
        .summary-box {
          padding-top: 50px;
          margin-top: 50px;
          .info-item {
            text-align: left;
            p {
              font-size: 14px;
              &.desc {
                font-size: 13px;
              }
            }
            input {
              font-size: 14px;
            }
            &.second {
              margin-top: 22px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .content-holder {
    .left-holder {
      width: 56%;
      .curr-holder {
        .boxes-holder {
          .box-item {
            width: 48%;
          }
          .soon-curs {
            display: none;
          }
        }
      }
    }
    .right-holder {
      width: 42%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .main-holder {
    width: calc(100% - 13px);
    padding: 13px 0px 13px 13px;
    padding-bottom: 13px;
    padding-top: 13px;
  }
  .content-holder {
    .common-heading {
      font-size: 16px;
    }
    .left-holder {
      width: 54%;
      .img-holder {
        height: 239px;
      }
      .amount-holder {
        padding: 16px 13px;
        margin: 15px 0 7px;
        height: 228px;
        .common-heading {
          margin-bottom: 12px;
          margin-left: 9px;
        }
        .amount-input {
          margin-bottom: 25px;
          border-radius: 10px;
          .inner {
            border-radius: 10px;
            input {
              padding: 7px 50px 7px 20px;
              border-radius: 10px;
            }
            .curr-desc {
              right: 20px;
              font-size: 13px;
            }
          }
          .input-note {
            font-size: 13px;
          }
        }
        .transfer-inputs {
          .input-item {
            &.left {
              .transfer-arrows {
                right: -9px;
                width: 22px;
              }
            }
            .my-input {
              input {
                padding: 7px 20px;
              }
            }
            .destination-desc {
              font-size: 13px;
              bottom: -2px;
              left: 9px;
            }
          }
        }
      }
    }
    .right-holder {
      width: 44%;
      .common-heading {
        margin-bottom: 10px;
      }
      .main-panel {
        height: 448px;
        padding: 16px 18px 5px 18px;
        .summary-box {
          .info-item {
            p {
              font-size: 13px;
              &.desc {
                font-size: 12px;
              }
            }
            input {
              font-size: 13px;
            }
            &.second {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width: 1024px) {
  .main-holder {
    width: calc(100% - 10px);
    padding: 10px 0px 10px 10px;
  }
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  .main-holder {
    height: calc(100vh - 40px);
  }
}
@media screen and(max-width: 1024px) and (orientation: portrait) {
  .main-holder {
    min-height: 100vh;
    height: auto;
  }
}
@media screen and (max-width: 850px) and (orientation: portrait) {
  .content-holder {
    flex-wrap: wrap;
    .left-holder,
    .right-holder {
      width: 90%;
      margin: 0 auto;
    }
    .left-holder {
      .img-holder {
        height: 225px;
      }
    }
    .right-holder {
      .main-panel {
        height: unset;
        padding: 16px 18px;
      }
    }
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .main-holder {
    min-height: 100vh;
    height: auto;
  }
  .content-holder {
    padding: 0 10px;
    .left-holder,
    .right-holder {
      width: 100%;
    }
    .right-holder {
      .main-panel {
        .withdraw-info {
          .text {
            font-size: 13px;
            margin: 17px 0;
          }
          .value {
            font-size: 22px;
            .value-desc {
              font-size: 12px;
            }
          }
          .desc {
            font-size: 13px;
          }
        }
        .summary-box {
          padding-top: 30px;
          margin-top: 30px;
          .info-item {
            p {
              font-size: 12px;
              &.desc {
                font-size: 11px;
              }
            }
            input {
              font-size: 12px;
            }
            &.second {
              margin-top: 18px;
            }
          }
        }
        .confirm-btn {
          margin-top: 30px;
          font-size: 14px;
          padding: 9px 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .content-holder {
    .left-holder {
      .img-holder {
        &.racer {
          .car-img {
            margin-left: 0;
          }
        }
      }
      .amount-holder {
        height: unset;
        padding: 16px 13px 32px;
        .transfer-inputs {
          flex-wrap: wrap;
          .input-item {
            width: 100%;
            &.left {
              margin-bottom: 50px;
              .transfer-arrows {
                right: unset;
                width: 30px;
                left: 50%;
                top: unset;
                bottom: 2px;
                transform: translate(-50%, 100%);
              }
            }
          }
        }
      }
    }
  }
}

//CONTENT TO CSS AT THE BOTTOM!
.content-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 80px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  img {
    width: 21px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.09em;
    font-family: "Earth Orbiter";
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

@media screen and(max-width: 1700px) {
  .content-title {
    img {
      width: 17px;
    }
    p {
      font-size: 26px;
    }
  }
}
@media screen and(max-width: 1550px) {
  .content-title {
    height: 65px;
    img {
      width: 15px;
    }
    p {
      font-size: 22px;
    }
  }
}
@media screen and(max-width: 1024px) {
  .content-title {
    img {
      width: 13px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content-title {
    height: 40px;
  }
}
@media screen and(max-width: 700px) and (orientation: landscape) {
  .content-title {
    img {
      width: 8.5px;
    }
    p {
      font-size: 9px;
      margin-left: 5px;
    }
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .content-title {
    img {
      width: 10px;
    }
    p {
      font-size: 17px;
    }
  }
}
