<div class="main-holder">
  <div [routerLink]="['/profile/my-profile']" class="content-title">
    <img
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>TRANSFER</p>
  </div>

  <div class="content-holder">
    <div class="left-holder">
      <div class="img-holder" [ngClass]="{ racer: this.nftType === 'racer' }">
        <img
          class="car-img"
          *ngIf="this.nftType === 'car'"
          [src]="'assets/base/images/nft-cars/' + products[0].image + '.png'"
          alt="Image of selected car"
        />
        <img
          class="car-img racer-img"
          *ngIf="this.nftType === 'racer'"
          [src]="'assets/base/images/nft-racers/' + products[0].image + '.png'"
          alt="Image of selected car"
        />
        <div class="car-stats">
          <div class="name">
            <p>{{ products[0].name }}</p>
            <p class="desc">{{ products[0].collection }}</p>
          </div>
          <div class="value">
            <p>
              {{ nftIoiValue }}
              <img src="assets/base/images/icons/ioi-big.svg" alt="ioi logo" />
            </p>
            <p class="desc">IOI value</p>
          </div>
          <div class="value">
            <p>
              {{ nftIoiValue * driverBalances.ioi_usdt | number: "1.2-2":"fr" }}
              <img
                src="assets/base/images/icons/dollar-big.svg"
                alt="dollar logo"
              />
            </p>
            <p class="desc">USD value</p>
          </div>
          <div class="value">
            <p>
              <img
                src="assets/base/images/icons/polygon-big.svg"
                alt="polygonlogo"
              />
            </p>
            <p class="desc">Polygon</p>
          </div>
        </div>
      </div>

      <div class="amount-holder">
        <p class="common-heading">Amount</p>
        <div class="amount-input">
          <div class="inner">
            <input
              type="number"
              [(ngModel)]="amount"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Enter the ammount you want to transfer"
            />
          </div>
        </div>
        <p class="common-heading">Internal transfer</p>
        <div class="transfer-inputs">
          <div class="input-item left">
            <div class="my-input bordered">
              <input
                type="text"
                [value]="'modals.transfer_modal.from_game' | translate"
                readonly
              />
            </div>
            <p class="destination-desc">Send from</p>
          </div>
          <div class="input-item">
            <div class="my-input">
              <input
                type="text"
                [value]="'modals.transfer_modal.from_nitro' | translate"
                readonly
              />
            </div>
            <p class="destination-desc">Send to</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right-holder">
      <p class="common-heading">Your transfer summary</p>
      <div class="main-panel">
        <div class="withdraw-info">
          <p class="text">You are transferring</p>
          <p class="value">
            <span *ngIf="amount > 0">{{ amount }}</span>
            <span *ngIf="amount < 1">0</span>
            <span class="value-desc">NFTs</span>
          </p>

          <p class="desc">{{ products[0].name }}</p>
        </div>
        <div class="summary-box">
          <div class="border-maker my-cta-btn-back"></div>
          <div class="info-item">
            <p class="desc">Transfer from | to</p>
            <p class="value">TRM Wallet | QORPO Wallet</p>
          </div>
        </div>
        <button
          class="confirm-btn my-cta-btn-back hoverable"
          [disabled]="amount < 1"
          (click)="resolveTransfer()"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
