

.content-holder{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  .common-heading{
    font-weight: 600;
    font-size: 20px;
    margin: 0;
  }
  .left-holder{
    width: 54.8%;
    .curr-holder{
      width: 100%;
      .common-heading{
        margin-bottom: 10px;
      }
      .desc-text{
        font-size: 16px;
        font-weight: 300;
        margin: 0 0 30px 0;
      }
      .boxes-holder{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 212px;
        .box-item{
          box-shadow: 0px 0px 80px #000000;
          border-radius: 15px;
          padding: 1px 0 0 1px;
          width: 23%;
          height: 100%;
          cursor: pointer;
          &.active{
            &.ioi{
              background: linear-gradient(to bottom right, #23FFFF 0%, rgba(254, 24, 63, 0) 75%);
            }
            &.trx{
              background: linear-gradient(to bottom right, #fe183f 0%, rgba(254, 24, 63, 0) 75%);
            }
          }
          .inner{
            background: rgba(17,17,17,.8);
            border-radius: 15px;
            padding: 3px;
            width: 100%;
            height: 100%;
            position: relative;
            .curr-logo{
              &.matic{
                padding: 10px 0 0 15px;
              }
            }
            .text-holder{
              position: absolute;
              bottom: 30px;
              left: 17px;
              .value{
                font-weight: 600;
                font-size: 19px;
                margin: 0 0 8px 0;
              }
              .dollars{
                font-weight: 500;
                font-size: 16px;
                opacity: 0.8;
                margin: 0;
              }
            }
          }
        }
        .soon-curs{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 46%;
          height: 100%;
          position: relative;
          .box-item{
            width: 47.5%;
            opacity: .1;
            cursor: default;
          }
          .mid-text{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }
    .amount-holder{
      width: 100%;
      height: 316px;
      padding: 25px 20px;
      box-shadow: 0px 0px 80px #000000;
      border-radius: 15px;
      margin: 30px 0 10px;
      .common-heading{
        margin-bottom: 20px;
        margin-left: 15px;
      }
      .amount-input{
        width: 100%;
        border-radius: 15px;
        padding: 1px;
        position: relative;
        margin-bottom: 40px;
        .inner{
          background: #181818;
          border-radius: 15px;
          width: 100%;
          position: relative;
          input{
            padding: 13px 64px 13px 30px;
            border-radius: 15px;
            background: transparent;
            width: 100%;
            border: none;
            outline: none;
          }
          .curr-desc{
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
            font-weight: 500;
            font-size: 16px;
            margin: 0;
          }
        }
        .input-note{
          position: absolute;
          bottom: -10px;
          right: 0;
          transform: translateY(100%);
          font-size: 16px;
          font-weight: 300;
          opacity: .4;
          margin: 0;
        }
      }
      .crypto-input{
        width: 100%;
        input{
          background: #181818;
          border-radius: 15px;
          padding: 13px 30px;
          width: 100%;
          border: none;
          outline: none;
        }
      }
    }
  }
  .right-holder{
    width: 41%;
    .common-heading{
      margin-bottom: 20px;
    }
    .main-panel{
      width: 100%;
      background: #111111;
      box-shadow: 0px 0px 80px #000000;
      border-radius: 15px;
      height: 602px;
      margin-bottom: 10px;
      padding: 40px 40px 10px 40px;
      .depositing-info{
        text-align: center;
        .text{
          font-size: 14px;
          font-weight: 300;
          margin: 0 0 10px 0;
        }
        .value{
          font-weight: 600;
          font-size: 32px;
          margin: 0;
          display: inline-block;
          position: relative;
          .value-desc{
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(102%, -25%);
            font-size: 16px;
            font-weight: 300;
          }
        }
        .desc{
          font-size: 14px;
          margin: 0;
          opacity: .4;
        }
      }
      .my-wallet-info{
        padding: 9px 0;
        margin: 15px 0;
        position: relative;
        .info-border{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 40%;
          height: 1px;
          border-radius: 2px;
          &.top{
            top: 0;
          }
          &.bottom{
            bottom: 0;
          }
        }
        .info-item{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          &.crypto-adress{
            flex-wrap: wrap;
            justify-content: center;
            input{
              width: 100%;
              text-align: center;
            }
          }
          &.second{
            margin-top: 5px;
          }
          p{
            font-size: 16px;
            margin: 0;
            font-weight: 500;
            &.desc{
              font-weight: 400;
              opacity: .4;
            }
          }
          input{
            background: transparent;
            padding: 5px 10px;
            border: none;
          }
        }
      }
      .qr-code-holder{
        text-align: center;
        .info-text{
          font-size: 16px;
          margin: 0;
          opacity: .4;
          line-height: 1.2;
        }
        .qr-code{
          width: 154px;
          display: inline-block;
          margin: 10px 0;
        }
        .our-code{
          font-weight: 500;
          font-size: 16px;
          margin: 0 0 15px 0;
        }
        .confirm-btn{
          font-size: 16px;
          font-weight: 400;
          padding: 11px 40px;
          border-radius: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1700px){
  .content-holder{
    .common-heading{
      font-size: 18px;
    }
    .left-holder{
      .curr-holder{
        .common-heading{
          margin-bottom: 6px;
        }
        .desc-text{
          font-size: 15px;
          margin: 0 0 15px 0;
        }
        .boxes-holder{
          height: 202px;
          .box-item{
            width: 24%;
            .inner{
              .curr-logo{
                width: 56px;
              }
              .text-holder{
                left: 14px;
                .value{
                  font-size: 17px;
                  margin: 0 0 6px 0;
                }
                .dollars{
                  font-size: 14px;
                }
              }
            }
          }
          .soon-curs{
            width: 48%;
            .mid-text{
              font-size: 14px;
            }
          }
        }
      }
    }
    .right-holder{
      .common-heading{
        margin-bottom: 15px;
      }
      .main-panel{
        height: 576px;
        padding: 25px 30px 10px 30px;
        .depositing-info{
          .text{
            font-size: 13px;
            margin: 0 0 7px 0;
          }
          .value{
            font-size: 28px;
            .value-desc{
              font-size: 14px;
            }
          }
          .desc{
            font-size: 13px;
          }
        }
        .my-wallet-info{
          padding: 12px 0;
          margin: 13px 0;
          .info-item{
            p{
              font-size: 15px;
            }
            input{
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1550px){
  .content-holder{
    .common-heading{
      font-size: 17px;
    }
    .left-holder{
      .curr-holder{
        .common-heading{
          margin-bottom: 2px;
        }
        .desc-text{
          font-size: 14px;
          margin: 0 0 12px 0;
        }
        .boxes-holder{
          height: 185px;
          .box-item{
            .inner{
              .curr-logo{
                width: 50px;
                &.matic{
                  padding: 7px 0 0 12px;
                }
              }
              .text-holder{
                left: 12px;
                .value{
                  font-size: 16px;
                  margin: 0 0 2px 0;
                }
                .dollars{
                  font-size: 13px;
                }
              }
            }
          }
          .soon-curs{
            .mid-text{
              font-size: 13px;
            }
          }
        }
      }
      .amount-holder{
        padding: 20px 15px;
        margin: 20px 0 10px;
        height: 251px;
        .common-heading{
          margin-bottom: 15px;
          margin-left: 11px;
        }
        .amount-input{
          margin-bottom: 27px;
          .inner{
            input{
              padding: 10px 60px 10px 25px;
              font-size: 15px;
            }
            .curr-desc{
              right: 25px;
              font-size: 14px;
            }
          }
          .input-note{
            font-size: 14px;
            bottom: -4px;
          }
        }
        .crypto-input{
          input{
            padding: 10px 25px;
          }
        }
      }
    }
    .right-holder{
      .common-heading{
        margin-bottom: 12px;
      }
      .main-panel{
        height: 480px;
        padding: 20px 22px 7px 22px;
        .depositing-info{
          .value{
            font-size: 25px;
            .value-desc{
              font-size: 12px;
            }
          }
        }
        .my-wallet-info{
          padding: 6px 0;
          margin: 11px 0;
          .info-item{
            p{
              font-size: 14px;
              &.desc{
                font-size: 13px;
              }
            }
            input{
              font-size: 14px;
              padding: 1px 10px;
            }
          }
        }
        .qr-code-holder{
          .info-text{
            font-size: 14px;
            line-height: 1.2;
          }
          .qr-code{
            width: 130px;
          }
          .our-code{
            font-size: 14px;
            margin: 0 0 10px 0;
          }
          .confirm-btn{
            padding: 8px 36px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px){
  .content-holder{
    .left-holder{
      width: 56%;
      .curr-holder{
        .boxes-holder{
          .box-item{
            width: 48%;
          }
          .soon-curs{
            display: none;
          }
        }
      }
    }
    .right-holder{
      width: 42%;
      .main-panel{
        .qr-code-holder{
          .info-text{
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .content-holder{
    .common-heading{
      font-size: 16px;
    }
    .left-holder{
      width: 54%;
      .curr-holder{
        .common-heading{
          margin-bottom: 0;
        }
        .desc-text{
          font-size: 13px;
          margin: 0 0 10px 0;
        }
        .boxes-holder{
          height: 185px;
        }
      }
      .amount-holder{
        padding: 16px 13px;
        margin: 15px 0 7px;
        height: 228px;
        .common-heading{
          margin-bottom: 12px;
          margin-left: 9px;
        }
        .amount-input{
          margin-bottom: 25px;
          border-radius: 10px;
          .inner{
            border-radius: 10px;
            input{
              padding: 7px 50px 7px 20px;
              border-radius: 10px;
            }
            .curr-desc{
              right: 20px;
              font-size: 13px;
            }
          }
          .input-note{
            font-size: 13px;
          }
        }
        .crypto-input{
          input{
            padding: 7px 20px;
            font-size: 15px;
          }
        }
      }
    }
    .right-holder{
      width: 44%;
      .common-heading{
        margin-bottom: 10px;
      }
      .main-panel{
        height: 448px;
        padding: 16px 18px 5px 18px;
        .depositing-info{
          .text{
            font-size: 12px;
            margin: 0 0 5px 0;
          }
          .value{
            font-size: 22px;
            .value-desc{
              font-size: 12px;
            }
          }
          .desc{
            font-size: 12px;
          }
        }
        .my-wallet-info{
          padding: 7px 0;
          margin: 9px 0;
          .info-item{
            p{
              font-size: 13px;
              &.desc{
                font-size: 12px;
              }
            }
            input{
              font-size: 13px;
            }
            &.second{
              margin-top: 8px;
            }
          }
        }
        .qr-code-holder{
          .qr-code{
            width: 120px;
          }
          .our-code{
            font-size: 13px;
          }
          .confirm-btn{
            padding: 6px 30px;
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px){
  .content-holder{
    flex-wrap: wrap;
    .left-holder,
    .right-holder{
      width: 90%;
      margin: 0 auto;
    }
    .right-holder{
      .main-panel{
        height: unset;
        padding: 16px 18px;
        .my-wallet-info{
          padding: 12px 0;
          margin: 13px 0;
          .info-item{
            p{
              font-size: 14px;
              &.desc{
                font-size: 13px;
              }
            }
            input{
              font-size: 14px;
            }
            &.second{
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px){
  .content-holder{
    padding: 0 10px;
    .left-holder,
    .right-holder{
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px){
  .content-holder{
    .right-holder{
      .main-panel{
        .my-wallet-info{
          padding: 11px 0;
          margin: 11px 0;
          .info-item{
            p{
              font-size: 13px;
              &.desc{
                font-size: 11px;
              }
            }
            input{
              font-size: 13px;
            }
            &.second{
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}