.content-holder {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  .common-heading {
    font-family: Earth Orbiter;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
  }
  .left-holder {
    width: 46%;
    height: 100%;
    &.mobile {
      display: none;
    }
    .curr-holder {
      width: 100%;
      height: 20%;
      &.chain {
        .boxes-holder {
          .box-item {
            .inner {
              .text-holder {
                max-width: 100%;
                margin-left: 0;
              }
            }
            &:hover {
              opacity: 1;
              p {
                color: white;
              }
            }
            &.active {
              opacity: 1;
              p {
                color: white;
              }
            }
          }
        }
      }
      .common-heading {
        margin-bottom: 20px;
      }
      .desc-text {
        font-size: 16px;
        font-weight: 300;
        margin: 0 0 30px 0;
      }
      .boxes-holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        width: 100%;
        .box-item {
          width: 48%;
          height: 100%;
          border: 3px solid rgba(255, 255, 255, 0.4);
          position: relative;
          transition: 0.2s;
          cursor: pointer;
          background: rgba(0, 0, 0, 0.5);
          &:hover {
            opacity: 1;
            .back-img {
              opacity: 0.7;
            }
          }
          &.active {
            opacity: 1;
            .back-img {
              opacity: 1;
            }
            .active-border {
              opacity: 1;
            }
          }
          .dot {
            transition: 0.3s;
            position: absolute;
            width: 20px;
            height: 20px;
            border: 1.4px solid rgba(255, 255, 255, 0.4);
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            .inner-dot {
              transition: 0.3s;
              opacity: 0;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: calc(100% - 3px);
              height: calc(100% - 3px);
              border-radius: 50%;
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              &.active {
                opacity: 1;
              }
            }
          }
          .back-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.4;
            transition: 0.2s;
          }
          .active-border {
            position: absolute;
            bottom: -3px;
            left: -3px;
            height: 3px;
            width: calc(100% + 6px);
            opacity: 0;
          }
          p {
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);
            font-size: 20px;
            font-weight: 700;
            img {
              display: inline-block;
              margin-right: 30px;
              width: 40px;
            }
          }
        }
      }
    }
    .address-holder {
      margin-bottom: 69px;
      position: relative;
      .common-heading {
        margin-bottom: 20px;
      }
      input {
        padding: 13px 64px 13px 30px;

        background: white;
        width: 100%;
        border: none;
        outline: none;
        color: #333;
        font-weight: 600;
      }
      button {
        width: 100%;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        padding: 11px 40px;

        margin-top: 25px;
      }
      .input-holder {
        position: relative;
        .correct-input {
          position: absolute;
          top: 0;
          right: 0;

          width: 50px;
          height: 100%;
          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            path {
              fill: white;
            }
          }
          &.incorrect {
            background: #ebebeb;
          }
        }
      }
    }
    .amount-holder {
      width: 100%;
      height: 60%;
      padding: 25px 20px;
      background: rgba(17, 17, 17, 0.8);
      position: relative;
      .big-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        margin: 0;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.4);
        width: 80%;
      }
      .common-heading {
        margin-bottom: 20px;
        margin-left: 15px;
      }
      .amount-input {
        width: 100%;

        padding: 1px;
        position: relative;
        margin-bottom: 40px;
        .inner {
          background: #181818;

          width: 100%;
          position: relative;
          input {
            padding: 13px 64px 13px 30px;

            background: transparent;
            width: 100%;
            border: none;
            outline: none;
          }
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type="number"] {
            -moz-appearance: textfield;
          }
          .curr-desc {
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
            font-weight: 500;
            font-size: 16px;
            margin: 0;
          }
        }
        .input-note {
          position: absolute;
          bottom: -10px;
          right: 0;
          transform: translateY(100%);
          font-size: 16px;
          font-weight: 300;
          opacity: 0.4;
          margin: 0;
        }
      }
      .crypto-input {
        width: 100%;
        input {
          background: #181818;

          padding: 13px 30px;
          width: 100%;
          border: none;
          outline: none;
        }
      }
      .info-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .info-img {
          padding: 5px;
          position: absolute;
          top: 10px;
          right: 15px;
          z-index: 3;
          &:hover {
            & + .inner-holder {
              opacity: 1;
              z-index: 2;
            }
          }
        }
        .inner-holder {
          width: 100%;
          height: 100%;
          text-align: center;
          position: relative;
          z-index: -1;
          padding: 10px 20px;
          opacity: 0;
          transition: 0.2s;
          &:hover {
            opacity: 1;
            z-index: 2;
          }
          h3 {
            font-weight: 600;
            font-size: 20px;
            padding-top: 20px;
            margin: 0 0 20px 0;
          }
          .top-desc {
            font-size: 14px;
            margin: 0 0 30px 0;
          }
          .items-holder {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            .info-item {
              width: 32%;
              max-width: 122px;
              .value {
                font-weight: 300;
                font-size: 34px;
                margin: 0 0 15px 0;
              }
              .desc {
                font-size: 14px;
                margin: 0;
              }
            }
          }
          .btns-holder {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 35px;
            a {
              width: 40%;

              margin: 0 10px;
              border: 2px solid #ffffff;
              background: transparent;
              height: 46px;
              font-size: 16px;
              text-decoration: none;
              line-height: 44px;
              &.high {
                background: white;
                font-weight: 600;
                text-shadow: none;
              }
              &.default {
                color: white;
              }
            }
          }
        }
      }
    }
    .deposit-disclaim {
      width: 100%;
      margin: 23px 0 10px;
      height: 128px;
      position: relative;
      padding: 2px;
      .border-maker {
        background: #111111;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        .inner-holder {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 73%;
          img {
            display: inline-block;
            margin-right: 30px;
          }
          p {
            font-weight: 600;
            font-size: 14px;
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
  .right-holder {
    width: 52%;
    height: 100%;
    .common-heading {
      margin-bottom: 20px;
    }
    .main-panel {
      width: 100%;
      height: calc(100% - 50px);
      background: rgba(17, 17, 17, 0.8);
      .inner {
        padding: 40px 40px 10px 40px;
        width: 100%;
        height: 100%;
        position: relative;
        .depositing-info {
          text-align: center;
          .text {
            font-size: 14px;
            font-weight: 300;
            margin: 0 0 10px 0;
          }
          .value {
            font-weight: 600;
            font-size: 32px;
            margin: 0;
            display: inline-block;
            position: relative;
            .value-desc {
              position: absolute;
              top: 0;
              right: 0;
              transform: translate(102%, -25%);
              font-size: 16px;
              font-weight: 300;
            }
          }
          .desc {
            font-size: 14px;
            margin: 0;
            opacity: 0.4;
          }
        }
        .my-wallet-info {
          padding: 9px 0;
          margin: 15px 0;
          position: relative;
          .info-item {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            margin-bottom: 50px;
            &.crypto-adress {
              flex-wrap: wrap;
              justify-content: center;
              margin-bottom: 60px;
              input {
                width: 100%;
                text-align: center;
                font-weight: 600;
                font-size: 24px;
              }
            }
            &.second {
              margin-top: 5px;
            }
            p {
              font-size: 16px;
              margin: 0;
              font-weight: 500;
              &.desc {
                font-weight: 400;
              }
            }
            input {
              background: transparent;
              padding: 5px 10px;
              border: none;
            }
          }
        }
        .qr-code-holder {
          text-align: center;
          .info-text {
            font-size: 16px;
            margin: 0 0 25px 0;
            opacity: 0.4;
            line-height: 1.2;
            &.important {
              opacity: 1;
              margin: 17px 0;
              font-weight: 600;
            }
          }
          .qr-code {
            width: 154px;
            display: block;
            margin: 10px auto 20px;
          }
          .our-code {
            font-weight: 500;
            font-size: 16px;
            margin: 0 0 15px 0;
          }
          .confirm-btn {
            width: 180px;
            height: 40px;
            font-size: 16px;
            font-weight: 400;
            padding: 11px 40px;
          }
        }
        .not-setup-holder {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 90%;
          text-align: center;
          .loading {
            border: 8px solid rgba(255, 255, 255, 0.4);
            border-radius: 50%;
            border-top: 8px solid transparent;
            width: 50px;
            border-right: 8px solid transparent;
            height: 50px;
            animation-name: rotating;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
            animation-duration: 3s;
            animation-timing-function: linear;
            margin: 0 auto;
          }
          .heading {
            font-weight: 600;
            font-size: 20px;
            margin: 60px 0 40px;
          }
          .text {
            font-size: 20px;
            opacity: 0.6;
            font-weight: 400;
            margin: 0;
          }
        }
      }
    }
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1700px) {
  .content-holder {
    .common-heading {
      font-size: 18px;
    }
    .left-holder {
      .curr-holder {
        .common-heading {
          margin-bottom: 15px;
        }
        .desc-text {
          font-size: 15px;
          margin: 0 0 15px 0;
        }
        .boxes-holder {
          height: 75px;
          .box-item {
            p {
              font-size: 18px;
              margin: 0;
              img {
                width: 37px;
              }
            }
          }
          .soon-curs {
            width: 32%;
            .box-item {
              .soon-text {
                font-size: 15px;
              }
            }
          }
        }
      }
      .amount-holder {
        .info-box {
          .inner-holder {
            padding: 5px 15px;
            h3 {
              font-size: 18px;
              padding-top: 17px;
              margin: 0 0 14px 0;
            }
            .top-desc {
              margin: 0 0 22px 0;
            }
            .items-holder {
              .info-item {
                .value {
                  font-size: 30px;
                  margin: 0 0 10px 0;
                }
                .desc {
                  font-size: 13px;
                }
              }
            }
            .btns-holder {
              margin-top: 32px;
              a {
                line-height: 40px;
                height: 42px;
                width: 48%;
              }
            }
          }
        }
        .big-text {
          font-size: 17px;
          line-height: 1.2;
        }
      }
      .address-holder {
        margin-bottom: 60px;
      }
      .deposit-disclaim {
        height: 115px;
      }
    }
    .right-holder {
      .common-heading {
        margin-bottom: 15px;
      }
      .main-panel {
        height: calc(100% - 42px);
        .inner {
          .depositing-info {
            .text {
              font-size: 13px;
              margin: 0 0 7px 0;
            }
            .value {
              font-size: 28px;
              .value-desc {
                font-size: 14px;
              }
            }
            .desc {
              font-size: 13px;
            }
          }
          .my-wallet-info {
            padding: 12px 0;
            margin: 13px 0;
            .info-item {
              &.crypto-adress {
                margin-bottom: 50px;
                input {
                  font-size: 22px;
                }
              }
              &.second {
                margin-bottom: 40px;
              }
              p {
                font-size: 15px;
              }
              input {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .content-holder {
    .common-heading {
      font-size: 17px;
    }
    .left-holder {
      .curr-holder {
        .common-heading {
          margin-bottom: 12px;
        }
        .desc-text {
          font-size: 14px;
          margin: 0 0 12px 0;
        }
        .boxes-holder {
          height: 70px;
          .box-item {
            .inner {
              .curr-logo {
                width: 30px;
                &.matic {
                  padding: 7px 0 0 12px;
                }
              }
              .text-holder {
                left: 12px;
                .value {
                  font-size: 16px;
                  margin: 0 0 2px 0;
                }
              }
            }
          }
          .soon-curs {
            .mid-text {
              font-size: 13px;
            }
          }
        }
      }
      .amount-holder {
        padding: 20px 15px;
        .big-text {
          font-size: 18px;
        }
        .common-heading {
          margin-bottom: 15px;
          margin-left: 11px;
        }
        .amount-input {
          margin-bottom: 27px;
          .inner {
            input {
              padding: 10px 60px 10px 25px;
              font-size: 15px;
            }
            .curr-desc {
              right: 25px;
              font-size: 14px;
            }
          }
          .input-note {
            font-size: 14px;
            bottom: -4px;
          }
        }
        .crypto-input {
          input {
            padding: 10px 25px;
          }
        }
        .info-box {
          .info-img {
            top: 15px;
            right: 20px;
          }
          .inner-holder {
            padding: 3px 12px;
            h3 {
              font-size: 16px;
              padding-top: 14px;
              margin: 0 0 12px 0;
            }
            .top-desc {
              margin: 0 0 18px 0;
            }
            .items-holder {
              .info-item {
                max-width: 108px;
                .value {
                  font-size: 26px;
                  margin: 0 0 8px 0;
                }
                .desc {
                  font-size: 12px;
                }
              }
            }
            .btns-holder {
              margin-top: 28px;
              a {
                width: 45%;
                line-height: 36px;
                height: 38px;
                font-size: 14px;
              }
            }
          }
        }
      }
      .deposit-disclaim {
        margin: 13px 0 10px;
        height: 100px;
        p {
          max-width: 80%;
        }
      }
      .address-holder {
        margin-bottom: 19px;
        input {
          font-size: 14px;
          padding: 11px 46px 11px 25px;
        }
        .input-holder {
          .correct-input {
            width: 43px;
          }
        }
      }
    }
    .right-holder {
      .common-heading {
        margin-bottom: 12px;
      }
      .main-panel {
        height: calc(100% - 37px);
        .inner {
          .depositing-info {
            .value {
              font-size: 25px;
              .value-desc {
                font-size: 12px;
              }
            }
          }
          .my-wallet-info {
            padding: 6px 0;
            margin: 11px 0;
            .info-item {
              p {
                font-size: 14px;
                &.desc {
                  font-size: 13px;
                }
              }
              input {
                font-size: 14px;
                padding: 1px 10px;
              }
            }
          }
          .qr-code-holder {
            .info-text {
              font-size: 14px;
              line-height: 1.2;
            }
            .qr-code {
              width: 130px;
            }
            .our-code {
              font-size: 14px;
              margin: 0 0 10px 0;
            }
            .confirm-btn {
              padding: 8px 36px;
              font-size: 14px;
            }
          }
          .not-setup-holder {
            .heading {
              font-size: 19px;
              margin: 30px 0 20px;
            }
            .text {
              font-size: 17px;
              line-height: 1.2;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .content-holder {
    .left-holder {
      .curr-holder {
        .boxes-holder {
          height: 65px;
          .box-item {
            .dot {
              height: 10px;
              width: 10px;
              .inner-dot {
                width: calc(100% - 2px);
                height: calc(100% - 2px);
              }
            }
            p {
              font-size: 15px;
              img {
                width: 31px;
                margin-right: 15px;
              }
            }
          }
        }
      }
      .amount-holder {
        .big-text {
          font-size: 15px;
        }
      }
    }
    .right-holder {
      .main-panel {
        .inner {
          padding: 30px 20px 10px 20px;
          .depositing-info {
            .text {
              font-size: 12px;
            }
          }
          .my-wallet-info {
            .info-item {
              &.crypto-adress {
                margin-bottom: 45px;
                input {
                  font-size: 17px;
                }
              }
            }
          }
          .qr-code-holder {
            .info-text {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .content-holder {
    height: 500px;
    margin-top: 0;
    .left-holder {
      .curr-holder {
        .boxes-holder {
          height: 60px;
          .box-item {
            p {
              font-size: 13px;
              img {
                width: 26px;
                margin-right: 10px;
              }
            }
          }
        }
      }
      .amount-holder {
        .big-text {
          font-size: 13px;
        }
      }
    }
    .right-holder {
      .main-panel {
        .inner {
          padding: 15px 15px 10px 15px;
          .depositing-info {
            .text {
              font-size: 11px;
            }
          }
          .my-wallet-info {
            padding: 3px 0;
            margin: 4px 0;
            .info-item {
              &.crypto-adress {
                margin-bottom: 35px;
                input {
                  font-size: 13px;
                }
              }
              &.second {
                margin-bottom: 30px;
              }
            }
          }
          .qr-code-holder {
            .info-text {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .content-holder {
    .left-holder {
      .curr-holder {
        .boxes-holder {
          .box-item {
            background: rgba(0, 0, 0, 0.8);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .content-holder {
    height: 317px;
    margin-top: 0;
    .common-heading {
      font-size: 11px;
    }
    .left-holder {
      width: 47%;
      .curr-holder {
        .common-heading {
          margin-bottom: 2px;
        }
        .boxes-holder {
          height: 39px;
          .box-item {
            .dot {
              height: 10px;
              width: 10px;
              .inner-dot {
                width: calc(100% - 1px);
                height: calc(100% - 1px);
              }
            }
            p {
              font-size: 10px;
              img {
                width: 20px;
                margin-right: 7px;
              }
            }
          }
        }
      }
      .amount-holder {
        padding: 15px 11px;
        .big-text {
          font-size: 10px;
        }
        .info-box {
          .info-img {
            top: 5px;
            right: 10px;
            width: 25px;
          }
          .inner-holder {
            padding: 2px 7px;
            h3 {
              font-size: 12px;
              padding-top: 10px;
              margin: 0 0 7px 0;
            }
            .top-desc {
              margin: 0 0 6px 0;
              font-size: 9px;
            }
            .items-holder {
              .info-item {
                .value {
                  font-size: 16px;
                  margin: 0 0 3px 0;
                }
                .desc {
                  font-size: 8px;
                }
              }
            }
            .btns-holder {
              margin-top: 13px;
              a {
                width: 45%;
                line-height: 28px;
                height: 30px;
                font-size: 7px;
              }
            }
          }
        }
      }
      .address-holder {
        margin-bottom: 11px;
        .common-heading {
          margin-bottom: 2px;
        }
        input {
          font-size: 11px;
          padding: 5px 35px 5px 18px;
        }
        .input-holder {
          .correct-input {
            width: 26px;

            svg {
              width: 13px;
            }
          }
        }
        button {
          height: 25px;
          font-size: 11px;
          padding: 6px 20px;

          margin-top: 10px;
        }
      }
      .deposit-disclaim {
        margin: 9px 0 6px;
        height: 70px;
        .border-maker {
          .inner-holder {
            img {
              margin-right: 15px;
              width: 20px;
            }
            p {
              font-size: 9px;
            }
          }
        }
      }
    }
    .right-holder {
      .common-heading {
        margin-bottom: 2px;
      }
      .main-panel {
        height: calc(100% - 18px);
        .inner {
          padding: 7px 10px 6px 10px;
          .depositing-info {
            .text {
              font-size: 9px;
              margin: 0 0 4px 0;
            }
          }
          .my-wallet-info {
            padding: 2px 0;
            margin: 3px 0;
            .info-item {
              &.crypto-adress {
                margin-bottom: 20px;
                input {
                  font-size: 10px;
                }
              }
              &.second {
                margin-bottom: 20px;
              }
              p {
                font-size: 11px;
                &.desc {
                  font-size: 9px;
                }
              }
            }
          }
          .qr-code-holder {
            .info-text {
              font-size: 9px;
              margin: 0 0 10px 0;
            }
            .qr-code {
              margin: 5px auto 15px;
              width: 90px;
            }
            .confirm-btn {
              width: 130px;
              height: 30px;
              padding: 5px 31px;
              font-size: 11px;
            }
          }
          .not-setup-holder {
            .loading {
              border: 5px solid rgba(255, 255, 255, 0.4);
              border-radius: 50%;
              border-top: 5px solid transparent;
              width: 36px;
              border-right: 5px solid transparent;
              height: 36px;
            }
            .heading {
              font-size: 12px;
              margin: 15px 0 10px;
            }
            .text {
              font-size: 11px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) and (orientation: portrait) {
  .content-holder {
    flex-wrap: wrap;
    height: unset;
    .left-holder,
    .right-holder {
      width: 90%;
      margin: 0 auto;
    }
    .left-holder {
      height: unset;
      margin-bottom: 15px;
      &.mobile {
        display: block;
        margin-top: 20px;
      }
      .curr-holder {
        height: unset;
        margin-bottom: 10px;
        .boxes-holder {
          .box-item {
            .dot {
              height: 17.5px;
              width: 17.5px;
            }
          }
        }
      }
      .amount-holder {
        display: none;
        &.mobile {
          display: block;
          height: 300px;
        }
        .big-text {
          text-align: left;
          color: rgba(255, 255, 255, 0.4);
        }
      }
      .deposit-disclaim {
        display: none;
        &.mobile {
          display: block;
        }
      }
      .address-holder {
        .input-holder {
          .correct-input {
            width: 43px;
          }
        }
      }
    }
    .right-holder {
      .main-panel {
        height: unset;
        .inner {
          padding: 16px 18px;
          display: flex;
          flex-direction: column;
          .depositing-info {
            display: none;
          }
          .my-wallet-info {
            padding: 12px 0;
            margin: 13px 0;
            order: 2;
            .info-border {
              display: none;
            }
            .info-item {
              p {
                font-size: 14px;
                &.desc {
                  font-size: 13px;
                }
              }
              input {
                font-size: 14px;
              }
              &.second {
                display: none;
              }
            }
          }
          .qr-code-holder {
            order: 1;
            .info-text {
              display: none;
            }
            .qr-code {
              width: 90%;
              max-width: 220px;
            }
          }
          .not-setup-holder {
            position: relative;
            transform: none;
            left: 0;
            top: 0;
            padding: 50px 0;
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .content-holder {
    .left-holder,
    .right-holder {
      width: 100%;
    }
    .left-holder {
      .curr-holder {
        margin-bottom: 5px;
        .boxes-holder {
          .box-item {
            .dot {
              height: 12.5px;
              width: 12.5px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  .content-holder {
    height: 270px;
    .common-heading {
      font-size: 8px;
    }
    .left-holder {
      .curr-holder {
        .boxes-holder {
          height: 31px;
          .box-item {
            border: 2px solid rgba(255, 255, 255, 0.4);
            .dot {
              height: 7.5px;
              width: 7.5px;
            }
            p {
              font-size: 8px;
              img {
                width: 14px;
                margin-right: 4px;
              }
            }
            .active-border {
              bottom: -2px;
              left: -2px;
              height: 2px;
              width: calc(100% + 4px);
            }
          }
        }
      }
      .amount-holder {
        padding: 12px 7px;
        .big-text {
          font-size: 8px;
        }
        .info-box {
          .info-img {
            top: 2px;
            right: 7px;
            width: 18px;
            padding: 3px;
          }
          .inner-holder {
            padding: 2px 5px;
            h3 {
              font-size: 10px;
              padding-top: 8px;
              margin: 0 0 5px 0;
            }
            .top-desc {
              margin: 0 0 3px 0;
              font-size: 7px;
            }
            .items-holder {
              .info-item {
                .value {
                  font-size: 13px;
                }
                .desc {
                  font-size: 6px;
                }
              }
            }
            .btns-holder {
              margin-top: 11px;
              a {
                line-height: 22px;
                height: 24px;
                font-size: 6px;

                width: 48%;
                margin: 0 2px;
              }
            }
          }
        }
      }
      .address-holder {
        margin-bottom: 7px;
        input {
          font-size: 9px;
          padding: 4px 30px 4px 14px;
        }
        .input-holder {
          .correct-input {
            width: 26px;
            svg {
              width: 10px;
            }
          }
        }
        button {
          height: 20px;
          font-size: 9px;
          padding: 4px 15px;
          margin-top: 8px;
        }
      }
      .deposit-disclaim {
        margin: 6px 0 4px;
        height: 55px;
        .border-maker {
          .inner-holder {
            width: 92%;
            img {
              margin-right: 10px;
              width: 17px;
            }
            p {
              font-size: 7px;
            }
          }
        }
      }
    }
    .right-holder {
      .main-panel {
        height: calc(100% - 14px);
        .inner {
          padding: 5px 8px;
          .depositing-info {
            .text {
              font-size: 7px;
              margin: 0 0 3px 0;
            }
          }
          .my-wallet-info {
            .info-item {
              &.crypto-adress {
                margin-bottom: 12px;
                input {
                  font-size: 8px;
                }
              }
              &.second {
                margin-bottom: 12px;
              }
              p {
                font-size: 9px;
                &.desc {
                  font-size: 7px;
                }
              }
            }
          }
          .qr-code-holder {
            .info-text {
              font-size: 8px;
              margin: 0 0 8px 0;
            }
            .qr-code {
              margin: 4px auto 10px;
              width: 75px;
            }
            .confirm-btn {
              width: 110px;
              height: 20px;
              padding: 4px 24px;
              font-size: 9px;
            }
          }
          .not-setup-holder {
            .loading {
              border: 4px solid rgba(255, 255, 255, 0.4);
              border-top: 4px solid transparent;
              width: 28px;
              border-right: 4px solid transparent;
              height: 28px;
            }
            .heading {
              font-size: 10px;
              margin: 11px 0 8px;
            }
            .text {
              font-size: 9px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .content-holder {
    .left-holder {
      .amount-holder {
        .info-box {
          .inner-holder {
            h3 {
              padding-top: 11px;
              margin: 0 0 5px 0;
            }
            .top-desc {
              margin: 0 0 10px 0;
            }
            .items-holder {
              .info-item {
                .value {
                  font-size: 24px;
                  margin: 0 0 6px 0;
                  line-height: 1.2;
                }
                .desc {
                  line-height: 1.3;
                }
              }
            }
            .btns-holder {
              margin-top: 19px;
              flex-wrap: wrap;
              a {
                width: 80%;
                margin: 5px auto;
              }
            }
          }
        }
      }
    }
    .right-holder {
      .main-panel {
        .inner {
          .my-wallet-info {
            padding: 11px 0;
            margin: 11px 0;
            .info-item {
              &.crypto-adress {
                justify-content: flex-start;
                input {
                  text-align: left;
                }
              }
              p {
                font-size: 13px;
                &.desc {
                  font-size: 11px;
                  padding-left: 10px;
                }
              }
              input {
                font-size: 13px;
              }
              &.second {
                margin-top: 8px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .content-holder {
    .left-holder {
      .curr-holder {
        .boxes-holder {
          height: unset;
          .box-item {
            height: 60px;
            margin-bottom: 10px;
            p {
              font-size: 11px;
            }
            .inner {
              padding: 3px 5px 5px 5px;
              .text-holder {
                margin-left: 10px;
                .curr-type {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .amount-holder {
        .info-box {
          .info-img {
            top: 8px;
            right: 14px;
          }
          .inner-holder {
            .top-desc {
              font-size: 12px;
            }
            .items-holder {
              .info-item {
                max-width: 88px;
                .value {
                  font-size: 21px;
                }
                .desc {
                  font-size: 10px;
                }
              }
            }
            .btns-holder {
              a {
                line-height: 29px;
                height: 33px;
              }
            }
          }
        }
        .big-text {
          font-size: 16px;
        }
      }
    }
  }
}
