

<div class="content-holder">
  <div class="left-holder">
    <div class="curr-holder">
      <p class="common-heading">Currency</p>
      <p class="desc-text">Choose a currency you want to receive for deposited funds</p>
      <div class="boxes-holder">
        <div class="box-item ioi" [ngClass]="{'active': tokenSelected === 'ioi'}" (click)="tokenSelected = 'ioi'">
          <div class="inner">
            <img src="/assets/base/images/tankovanie/ioi-token.png" alt="Logo of ioi token" class="curr-logo">
            <div class="text-holder">
              <ng-container *ngIf="myIoiBalance > 0">
                <p class="value">{{myIoiBalance | number:'1.0-2':'fr' }} IOI</p>
              <p class="dollars">&#36; {{(myIoiBalance * 0.4 | number:'1.0-2':'fr')}}</p>
              </ng-container>

              <ng-container *ngIf="myIoiBalance === 0">
                <p class="value">0 IOI</p>
                <p class="dollars">&#36; 0</p>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="soon-curs">
          <p class="mid-text">More currencies coming soon</p>
          <div class="box-item">
            <div class="inner">
              <img src="/assets/base/images/tankovanie/btc-token.png" alt="Logo of Bitcoin token" class="curr-logo">
              <div class="text-holder">
                <p class="value">Bitcoin</p>
                <p class="dollars">&#36; 1,235.12</p>
              </div>
            </div>
          </div>
          <div class="box-item">
            <div class="inner">
              <img src="/assets/base/images/tankovanie/eth-token.png" alt="Logo of Ethereum token" class="curr-logo">
              <div class="text-holder">
                <p class="value">Ethereum</p>
                <p class="dollars">&#36; 1,235.12</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="amount-holder">
      <p class="big-text">If you deposited the funds and the transaction has been confirmed on the blockchain,
         push the claim button. You can claim anytime after a confirmed transaction on the blockchain.
          Please push the claim button to see your balance in the dashboard.</p>
    </div>

  </div>
  <div class="right-holder">
    <p class="common-heading">Your deposit summary</p>
    <div class="main-panel">
      <div class="depositing-info">
        <p class="text">You are depositing</p>
      </div>
      <div class="my-wallet-info">
        <div class="info-border top my-cta-btn-back"></div>
        <div class="info-item crypto-adress">
          <p class="desc">Crypto address</p>
          <input type="text" [(ngModel)]="cryptoMtfrckr" [ngModelOptions]="{standalone: true}" readonly>
        </div>
        <div class="info-item second">
          <p class="desc">Currency you will receive</p>
          <p *ngIf="tokenSelected === 'matic'" class="value">Matic</p>
          <p *ngIf="tokenSelected === 'ioi'" class="value">IOI</p>
        </div>
        <div class="info-border bottom my-cta-btn-back"></div>
      </div>
      <div class="qr-code-holder">
        <p class="info-text">Scan a QR code or paste the code into your external wallet to receive your funds, and confirm the transaction afterwards</p>

        <qrcode class="qr-code"
            [level]="1"
            [qrvalue]="cryptoMtfrckr"
        ></qrcode>

        <button class="confirm-btn my-cta-btn-back hoverable" (click)="resolveDeposit();">Claim</button>
      </div>
    </div>
  </div>
</div>
