<div class="main-holder">
  <div class="content-title" [routerLink]="['/teams/leaderboard']">
    <img
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>BACK</p>
  </div>

  <div class="lead-content">
    <div class="month-winners">
      <div class="winner-box">
        <div class="top-holder">
          <div class="heading-text">
            <p class="heading-desc">WINNER</p>
            <p class="winner-heading">JULY</p>
          </div>
          <img
            src="/assets/base/images/home-page/ring.png"
            alt=""
            class="ring-img"
          />
        </div>
        <div class="info-holder">
          <div class="avatar-img my-border-grad">
            <img src="assets/base/images/avatars/black-trm.png" alt="" />
          </div>
          <div class="stats-holder">
            <p class="racer-name">jose539</p>
            <div class="flex-holder">
              <div class="stat-item">
                <p class="value">NFT</p>
                <p class="desc">team</p>
              </div>
              <div class="stat-item">
                <p class="value">
                  <img
                    src="/assets/base/images/teams/reward-token.png"
                    alt=""
                  />
                  30 591
                </p>
                <p class="desc">turnover</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="winner-box">
        <div class="top-holder">
          <div class="heading-text">
            <p class="heading-desc">WINNER</p>
            <p class="winner-heading">AUGUST</p>
          </div>
          <img
            src="/assets/base/images/home-page/ring.png"
            alt=""
            class="ring-img"
          />
        </div>
        <div class="info-holder">
          <div class="avatar-img my-border-grad">
            <img src="assets/base/images/avatars/black-trm.png" alt="" />
          </div>
          <div class="stats-holder">
            <p class="racer-name">jose539</p>
            <div class="flex-holder">
              <div class="stat-item">
                <p class="value">NFT</p>
                <p class="desc">team</p>
              </div>
              <div class="stat-item">
                <p class="value">
                  <img
                    src="/assets/base/images/teams/reward-token.png"
                    alt=""
                  />
                  25 993
                </p>
                <p class="desc">turnover</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="winner-box">
        <div class="top-holder">
          <div class="heading-text">
            <p class="heading-desc">WINNER</p>
            <p class="winner-heading">SEPTEMBER</p>
          </div>
          <img
            src="/assets/base/images/home-page/ring.png"
            alt=""
            class="ring-img"
          />
        </div>
        <div class="info-holder">
          <div class="avatar-img my-border-grad">
            <img src="assets/base/images/avatars/black-trm.png" alt="" />
          </div>
          <div class="stats-holder">
            <p class="racer-name">Meradil</p>
            <div class="flex-holder">
              <div class="stat-item">
                <p class="value">GIANTS</p>
                <p class="desc">team</p>
              </div>
              <div class="stat-item">
                <p class="value">
                  <img
                    src="/assets/base/images/teams/reward-token.png"
                    alt=""
                  />
                  18 929
                </p>
                <p class="desc">turnover</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="winner-box empty">
        <div class="top-holder">
          <div class="heading-text">
            <p class="heading-desc">WINNER</p>
            <p class="winner-heading">OCTOBER</p>
          </div>
          <img
            src="/assets/base/images/home-page/ring.png"
            alt=""
            class="ring-img"
          />
        </div>
        <div class="info-holder">
          <div class="avatar-img my-border-grad">
            <img src="assets/base/images/avatars/black-trm.png" alt="" />
          </div>
          <div class="stats-holder">
            <img
              src="/assets/base/images/leaderboard/question-mark.svg"
              alt=""
              class="question-mark"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="year-winner-box my-border-color">
      <div class="heading-text">
        <p class="heading-desc">Become</p>
        <p class="winner-heading shiny">Racer of the year</p>
      </div>
      <div class="img-holder">
        <img
          src="/assets/base/images/home-page/shiny-trophy.png"
          alt=""
          class="trophy-img"
        />
      </div>
      <p class="trophy-desc">
        Win the biggest race of <span>Ring Owners</span> coming in
        <span>December 2021</span> and get the unique trophy
      </p>
    </div>
  </div>
  <p class="category-title-first space">
    Win a monthly season to receive special ring as NFT
  </p>
</div>
