* {
  margin: 0px;
}

.dissapear-right-animation {
  animation: dissapear-right 0.3s linear;
  -webkit-animation: dissapear-right 0.3s linear;
}
.dissapear-left-animation {
  animation: dissapear-left 0.3s linear;
  -webkit-animation: dissapear-left 0.3s linear;
}
.engage-right-animation {
  animation: engage-right 0.3s linear;
  -webkit-animation: engage-right 0.3s linear;
}
.engage-left-animation {
  animation: engage-left 0.3s linear;
  -webkit-animation: engage-left 0.3s linear;
}

@keyframes dissapear-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes dissapear-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes engage-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes engage-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

.bundles-content {
  min-height: 100vh;
}
.bundles-back-div {
  position: sticky;
  height: 0px;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.bundles-back {
  top: 0px;
  left: 0px;
  position: absolute;
  background: url("/assets/base/images/bundles/bundles-back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}
.content {
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  .left-content {
    width: 20%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .category-title-big {
      color: #ff183f;
      margin-left: -40px;
    }
    .category-title-second {
      opacity: 0.2;
      margin-bottom: -20px;
    }
    .races-desc {
      margin-top: 30px;
    }
  }
  .right-content {
    margin-top: 15%;
    padding-bottom: 100px;
    width: 75%;
    .boxes {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .box {
        cursor: pointer;
        transition: 0.3s;
        padding: 20px;
        border-radius: 10px;
        background: white;
        width: 30%;
        margin: 1.666%;
        height: 520px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        .box-image {
          width: 100%;
          height: 55%;
          position: relative;

          img {
            width: 110%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
          }
        }
        .social {
          padding: 15px;
          border-radius: 10px;
          height: 20%;
          position: relative;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          display: flex;
          align-items: center;
          .twitter {
            width: 32px;
            height: auto;
            position: absolute;
            top: -5px;
            right: -5px;
          }
          .avatar {
            height: 95%;
            width: auto;
          }
          .text {
            margin-left: 5%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
        .box-buttons {
          display: flex;
          justify-content: space-between;
          height: 10%;
          button {
            height: 100%;

            border-radius: 12px;
            img {
              width: 32px;
            }
            &.price {
              color: #20dbdb;
              width: 60%;
              background: rgba(35, 255, 255, 0.2);
              img {
                margin-right: 5%;
              }
            }
            &.pieces {
              background: rgba(17, 17, 17, 0.2);
              width: 30%;
            }
          }
        }
      }
      .box:hover {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
        box-shadow: (0px 0px 15px rgba(255, 255, 255, 0.9));
      }
    }
  }
}
.category-title-big {
  font-family: True-Lies;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
}
.category-title-first {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
}
.category-title-second {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
}
.category-title-third {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.category-title-fourth {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
}
.category-title-fifth {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
}
.races-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.8;
}
@media screen and(max-width: 1700px) {
  .category-title-big {
    font-size: 70px;
    line-height: 72px;
  }
}
@media screen and(max-width: 1550px) {
  .content {
    .left-content {
      .category-title-second {
        margin-top: 30px;
        margin-bottom: 0px;
      }
    }
    .right-content {
      .boxes {
        .box {
          padding: 15px;
          height: 400px;
          .social {
            .twitter {
              width: 25px;
            }
          }
          .box-buttons {
            button {
              border-radius: 10px;
              &.price {
                img {
                  width: 25px;
                }
              }
              &.pieces {
                width: 35%;
              }
            }
          }
        }
      }
    }
  }
  .category-title-big {
    font-size: 55px;
    line-height: 52px;
  }
  .category-title-first {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-second {
    font-size: 28px;
    line-height: 30px;
  }
  .category-title-third {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-fourth {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-fifth {
    font-size: 14px;
    line-height: 16px;
  }
  .races-desc {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and(max-width: 1400px) {
  .content {
    .right-content {
      .boxes {
        .box {
          padding: 10px;
          height: 350px;
        }
      }
    }
  }
  .category-title-big {
    font-size: 40px;
    line-height: 42px;
  }
  .category-title-first {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-second {
    font-size: 26px;
    line-height: 28px;
  }
  .category-title-third {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-fourth {
    font-size: 10px;
    line-height: 12px;
  }
  .category-title-fifth {
    font-size: 10px;
    line-height: 12px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
  }
}
@media screen and(max-width: 1300px) {
}
@media screen and(max-width: 1024px) {
}

@media screen and (min-width: 2100px) and (min-height: 1081px) {
}
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content {
    .left-content {
      .category-title-big {
        margin-left: -10px;
      }
      .races-desc {
        margin-top: 15px;
      }
    }
    .right-content {
      .boxes {
        .box {
          padding: 5px;
          height: 200px;
          .social {
            border-radius: 5px;
            padding: 10px;
            .twitter {
              width: 15px;
              top: -2.5px;
              right: -2.5px;
            }
          }
          .box-buttons {
            height: 12.5%;
            button {
              border-radius: 5px;
              &.price {
                width: 52.5%;
                img {
                  width: 15px;
                }
              }
              &.pieces {
                width: 42.5%;
              }
            }
          }
        }
      }
    }
  }

  .category-title-big {
    font-size: 30px;
    line-height: 32px;
  }
  .category-title-first {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-second {
    font-size: 24px;
    line-height: 26px;
  }
  .category-title-third {
    font-size: 10px;
    line-height: 12px;
  }
  .category-title-fourth {
    font-size: 9px;
    line-height: 10px;
  }
  .category-title-fifth {
    font-size: 9px;
    line-height: 10px;
  }
  .races-desc {
    font-size: 8px;
    line-height: 10px;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .category-title-big {
    font-size: 25px;
    line-height: 27px;
  }
  .category-title-first {
    font-size: 8px;
    line-height: 10px;
  }
  .category-title-second {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-third {
    font-size: 9px;
    line-height: 11px;
  }
  .category-title-fourth {
    font-size: 7px;
    line-height: 8px;
  }
  .category-title-fifth {
    font-size: 7px;
    line-height: 8px;
  }
  .races-desc {
    font-size: 6px;
    line-height: 8px;
  }
}
@media screen and(max-width: 640px) and (orientation: landscape) {
  .content {
    .right-content {
      margin-top: 15%;
      .boxes {
        .box {
          height: 150px;
        }
      }
    }
  }
  .category-title-big {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-first {
    font-size: 6px;
    line-height: 8px;
  }
  .category-title-second {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-third {
    font-size: 7px;
    line-height: 8px;
  }
  .category-title-fourth {
    font-size: 5px;
    line-height: 6px;
  }
  .category-title-fifth {
    font-size: 5px;
    line-height: 6px;
  }
  .races-desc {
    font-size: 4px;
    line-height: 6px;
  }
}
@media screen and(max-width: 1024px) and (orientation: portrait) {
  .content {
    width: 90%;
    flex-direction: column;
    .left-content {
      height: auto;
      width: 80%;
      margin: 0 auto;
      margin-top: 130px;
    }
    .right-content {
      margin-top: 10%;
      width: 100%;
    }
  }
}

@media screen and(max-width: 640px) and (orientation: portrait) {
  .content {
    .left-content {
      margin-top: 100px;
    }
    .right-content {
      margin-top: 10%;
      width: 100%;
      .boxes {
        margin-left: -1.5%;
        width: 103%;
        .box {
          padding: 5px;
          height: 280px;
          width: 47%;
          margin: 1.5%;
          .social {
            padding: 5px;
            .avatar {
              height: 65%;
            }
            .text {
              height: 80%;
            }
            .twitter {
              right: -2.5px;
              width: 20px;
            }
          }
          .box-buttons {
            height: 15%;
          }
        }
      }
    }
  }
  .category-title-big {
    font-size: 40px;
    line-height: 42px;
  }
  .category-title-first {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-second {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-third {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-fourth {
    font-size: 11px;
    line-height: 13px;
  }
  .category-title-fifth {
    font-size: 11px;
    line-height: 13px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
    opacity: 0.6;
  }
}
