* {
  margin: 0px;
}
.bundles-back {
  background: url("/assets/base/images/bundles/bundles-back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}
.bundles-content {
  min-height: 100vh;
}
