<div class="bundles-content" #top>
  <div class="bundles-back-div">
    <div class="bundles-back"></div>
  </div>
  <div *ngIf="marketState === 1" class="content">
    <div class="left-content">
      <p class="category-title-second">Limited</p>
      <p class="category-title-big">BUNDLES</p>
      <p class="races-desc">
        Get a NFT car and an avatar of your favourite influencer in our limited
        bundles! Increase your daily income thanks to daily stakes today.
      </p>
    </div>
    <div class="right-content">
      <div class="boxes">
        <div
          *ngFor="let item of bundles; let i = index"
          class="box"
          (click)="
            showAsset(2, item['id'], item['type'], item['position']);
            scrollTop(top)
          "
        >
          <div class="box-image">
            <img
              [src]="'/assets/base/images/bundles/' + item['image'] + '.png'"
              alt="items in bundle"
            />
          </div>
          <div
            class="social"
            (click)="twitterLink(item['link'])"
            [ngStyle]="{
              'background-image':
                'url(/assets/base/images/bundles/' + item['back'] + '.png)'
            }"
          >
            <img
              class="twitter"
              src="/assets/base/images/icons/twitter-icon.svg"
              alt="twitter logo"
            />
            <img
              class="avatar"
              [src]="'/assets/base/images/bundles/' + item['avatar'] + '.png'"
              alt="influencer avatar"
            />
            <div class="text">
              <p class="category-title-third name">{{ item["name"] }}</p>
              <p class="races-desc link">{{ item["link"] }}</p>
            </div>
          </div>
          <div class="box-buttons">
            <button class="price category-title-third">
              <img
                src="/assets/base/images/icons/ioi-big.svg"
                alt="ioi token"
              />
              {{ item["price"] }}
            </button>
            <button class="pieces category-title-third">
              {{ item["pieces"] }} pcs.
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-home-bundle-detail
    class="detail-content"
    *ngIf="marketState === 2"
    [assetId]="selectedId"
    [assetType]="selectedType"
    [assetPosition]="selectedPosition"
    (marketState)="showAssetBuy($event)"
  ></app-home-bundle-detail>
</div>
