
<div class="main-holder">
  <div class="langswitch"><app-lang-switcher></app-lang-switcher></div>
  <img src="/assets/base/images/logo.png" alt="Logo of traderacemanager" class="my-logo" [routerLink]="['/user/home']">
  
  <div class="form-holder">
    <h1 class="top-msg">{{'login.forgot_pass' | translate}}</h1>
    <div class="register-text"><p>{{'login.forgot_text1' | translate}}</p></div>
      
    <form class="panel"  [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="my-input" [ngClass]="{'filled': email !== '' && email !== undefined}">
        <input type="text" type="email" matInput required formControlName="email" [(ngModel)]="email"/>
        <span class="input-placeholder">{{'login.e_mail' | translate}}</span>
      </div>
      <div class="register-text"><p>{{'login.forgot_text2' | translate}}<br>{{'login.pass_low' | translate}}</p></div>
   
      
      <button class="cta-button hoverable active" (click)="onSubmit()" 
      *ngIf="forgotForm.valid && loading === false">{{'login.send_recovery' | translate}}</button>
      <button class="cta-button" *ngIf="forgotForm.invalid" 
      disabled>{{'login.send_recovery' | translate}}</button>
         <button class="cta-button" *ngIf="loading === true" 
      disabled>{{'fuel_car.loading' | translate}}</button>
      <div class="register-text" style="    margin-top: 30px;"><p>{{'login.take_back' | translate}} <span [routerLink]="['/user/sign-in']">{{'login.login_page' | translate}}</span></p></div>
   
    </form>
    
  </div>
  <app-notifiq></app-notifiq>
</div>