
<div class="main-holder">

  <div class="back-btn" [routerLink]="'/user/sign-in'">
    <img
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>Back</p>
  </div>
  
  <div class="center-content">
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

      <div class="my-input" [ngClass]="{'filled': email !== '' && email !== undefined}">
        <img src="/assets/base/images/lock-icon.svg" alt="" class="icon">
        <input type="text"  matInput required formControlName="email" [(ngModel)]="email" id="vwr43" name="rwv4"/>
        <span class="input-placeholder">{{'login.e_mail' | translate}}</span>
      </div>

      <div class="clickers-holder">

        <button class="cta-button" (click)="onSubmit()" 
        *ngIf="forgotForm.valid && loading === false">{{'login.send_recovery' | translate}}</button>
        <button class="cta-button" *ngIf="forgotForm.invalid" 
        disabled>{{'login.send_recovery' | translate}}</button>
          <button class="cta-button" *ngIf="loading === true" 
        disabled>{{'fuel_car.loading' | translate}}</button>

      </div>
   
    </form>
    
    <p class="login-text">We will send you a link to reset your password.</p>
    <p class="login-text second">Take me back to <span [routerLink]="'/user/sign-in'">Login page</span></p>
  </div>
  <app-notifiq></app-notifiq>
</div>