<div class="main-holder">
  <div class="login-back-div">
    <div class="login-back"></div>
  </div>
  <div class="back-btn" [routerLink]="'/user/sign-in'">
    <img src="assets/base/images/icons/icon-back-blue.svg" alt="blue arrow" />
    <p>Back</p>
  </div>
  <div class="login-content">
    <div class="center-content">
      <form class="panel" [formGroup]="registerForm">
        <div class="my-input" #nick>
          <img src="/assets/base/images/mail-icon.svg" alt="" class="icon" />
          <input
            type="text"
            required
            [(ngModel)]="uId"
            matInput
            autocomplete="off"
            [ngModelOptions]="{standalone: true}"
            name="vfew334"
            id="vreni98"
            placeholder="E-mail"
          />
        </div>
        <div class="my-input" #code>
          <img src="/assets/base/images/user-icon.svg" alt="" class="icon" />
          <input
            type="text"
            required
            autocomplete="off"
            [(ngModel)]="hashId"
            matInput
            placeholder="Code"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
        <div class="my-input" #pass>
          <img src="/assets/base/images/lock-icon.svg" alt="" class="icon" />
          <input
            type="password"
            required
            [(ngModel)]="passone"
            matInput
            [ngModelOptions]="{standalone: true}"
            placeholder="Password"
          />
        </div>
        <div class="my-input" #passagain>
          <img src="/assets/base/images/lock-icon.svg" alt="" class="icon" />
          <input
            type="password"
            required
            [(ngModel)]="passonex"
            matInput
            [ngModelOptions]="{standalone: true}"
            placeholder="Re-enter your password"
          />
        </div>

        <div class="clickers-holder">
          <button class="cta-button" (click)="onSubmit()">SEND</button>
        </div>

        <p class="login-text">Setup a new password</p>
        <p class="login-text second">
          Take me back to <span [routerLink]="'/user/sign-in'">Login page</span>
        </p>
      </form>
    </div>
  </div>
</div>
