<div class="main-holder">
  <div class="login-back-div">
    <div class="login-back"></div>
  </div>
  <div class="back-btn" [routerLink]="'/user/sign-in'">
    <img src="assets/base/images/icons/icon-back-blue.svg" alt="blue arrow" />
    <p>Back</p>
  </div>
  <div class="login-content">
    <div class="center-content">
      <form class="panel" [formGroup]="registerForm">
        <div class="my-input" #nick>
          <img src="/assets/base/images/mail-icon.svg" alt="" class="icon" />
          <input
            type="text"
            required
            [(ngModel)]="uId"
            matInput
            autocomplete="off"
            [ngModelOptions]="{standalone: true}"
            name="vfew334"
            id="vreni98"
            placeholder="E-mail"
          />
        </div>
        <div class="my-input" #code>
          <img src="/assets/base/images/user-icon.svg" alt="" class="icon" />
          <input
            type="text"
            required
            autocomplete="off"
            [(ngModel)]="hashId"
            matInput
            placeholder="Code"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
        <div class="my-input" #pass>
          <img src="/assets/base/images/lock-icon.svg" alt="" class="icon" />
          <input
            type="password"
            required
            [(ngModel)]="passone"
            matInput
            [ngModelOptions]="{standalone: true}"
            placeholder="Password"
          />
        </div>
        <div class="my-input" #passagain>
          <img src="/assets/base/images/lock-icon.svg" alt="" class="icon" />
          <input
            type="password"
            required
            [(ngModel)]="passonex"
            matInput
            [ngModelOptions]="{standalone: true}"
            placeholder="Re-enter your password"
          />
        </div>

        <div class="clickers-holder">
          <button class="cta-button" (click)="onSubmit()">SEND</button>
        </div>

        <p class="login-text">Setup a new password</p>
        <p class="login-text second">
          Take me back to <span [routerLink]="'/user/sign-in'">Login page</span>
        </p>
      </form>
    </div>
  </div>
  <!-- <div class="form-holder">
    <h1 class="top-msg">Set up a new password</h1>
    <div class="register-text">
      <p>Set up a new password</p>
    </div>

    <form class="panel" [formGroup]="registerForm">
      <div class="my-input">
        <input
          class="my-input"
          type="text"
          required
          [(ngModel)]="uId"
          matInput
          placeholder="Email"
          [ngClass]="{ 'is-invalid': submitted  && uId === '' }"
          [ngModelOptions]="{standalone: true}"
          name="vfew334"
          id="vreni98"
        />

        <p
          class="input-text"
          [ngClass]="{'hidden': passone !== '' && passone !== undefined}"
        >
       
        </p>
      </div>
      <div class="my-input">
        <input
          class="my-input"
          type="text"
          required
          [(ngModel)]="hashId"
          matInput
          placeholder="Code"
          [ngClass]="{ 'is-invalid': submitted  && hashId === '' }"
          [ngModelOptions]="{standalone: true}"
        />

        <p
          class="input-text"
          [ngClass]="{'hidden': passone !== '' && passone !== undefined}"
        >
       
        </p>
      </div>
      <div class="my-input">
        <input
          class="my-input"
          type="password"
          required
          [(ngModel)]="passone"
          matInput
          placeholder="Password"
          [ngClass]="{ 'is-invalid': submitted  && passone === '' }"
          [ngModelOptions]="{standalone: true}"
        />

        <p
          class="input-text"
          [ngClass]="{'hidden': passone !== '' && passone !== undefined}"
        >
       
        </p>
      </div>
      <div class="my-input">
        <input
          class="my-input"
          type="password"
          required
          [(ngModel)]="passonex"
          matInput
          placeholder="Re-enter your password"
          [ngClass]="{ 'is-invalid': submitted  && passonex === '' }"
          [ngModelOptions]="{standalone: true}"
        />

        <p
          class="input-text"
          [ngClass]="{'hidden': passonex !== '' && passonex !== undefined}"
        >
        
        </p>
      </div>
      <button class="cta-button hoverable" (click)="onSubmit()" 
      >SEND</button>
      <div class="register-text" style="    margin-top: 30px;"><p>Or take me back to  <span [routerLink]="['/user/sign-in']">log-in</span></p></div>
  

    </form>
  </div>
  <app-notifiq></app-notifiq> -->
</div>
