<div class="main-holder">
  <div class="langswitch" style="position: absolute;top:30px;right:30px;"><app-lang-switcher></app-lang-switcher></div>
  <img src="/assets/base/images/logo.png" alt="Logo of traderacemanager" class="my-logo" [routerLink]="['/user/home']">

  <div class="form-holder">
    <h1 class="top-msg">Set up a new password</h1>
    <div class="register-text">
      <p>Set up a new password</p>
    </div>

    <form class="panel" [formGroup]="registerForm">
      <div class="my-input">
        <input
          class="my-input"
          type="text"
          required
          [(ngModel)]="uId"
          matInput
          placeholder="Email"
          [ngClass]="{ 'is-invalid': submitted  && uId === '' }"
          [ngModelOptions]="{standalone: true}"
          name="vfew334"
          id="vreni98"
        />

        <p
          class="input-text"
          [ngClass]="{'hidden': passone !== '' && passone !== undefined}"
        >
       
        </p>
      </div>
      <div class="my-input">
        <input
          class="my-input"
          type="text"
          required
          [(ngModel)]="hashId"
          matInput
          placeholder="Code"
          [ngClass]="{ 'is-invalid': submitted  && hashId === '' }"
          [ngModelOptions]="{standalone: true}"
        />

        <p
          class="input-text"
          [ngClass]="{'hidden': passone !== '' && passone !== undefined}"
        >
       
        </p>
      </div>
      <div class="my-input">
        <input
          class="my-input"
          type="password"
          required
          [(ngModel)]="passone"
          matInput
          placeholder="Password"
          [ngClass]="{ 'is-invalid': submitted  && passone === '' }"
          [ngModelOptions]="{standalone: true}"
        />

        <p
          class="input-text"
          [ngClass]="{'hidden': passone !== '' && passone !== undefined}"
        >
       
        </p>
      </div>
      <div class="my-input">
        <input
          class="my-input"
          type="password"
          required
          [(ngModel)]="passonex"
          matInput
          placeholder="Re-enter your password"
          [ngClass]="{ 'is-invalid': submitted  && passonex === '' }"
          [ngModelOptions]="{standalone: true}"
        />

        <p
          class="input-text"
          [ngClass]="{'hidden': passonex !== '' && passonex !== undefined}"
        >
        
        </p>
      </div>
      <button class="cta-button hoverable" (click)="onSubmit()" 
      >SEND</button>
      <div class="register-text" style="    margin-top: 30px;"><p>Or take me back to  <span [routerLink]="['/user/sign-in']">log-in</span></p></div>
  

    </form>
  </div>
  <app-notifiq></app-notifiq>
</div>
