.login-page {
  .login_player {
    background-image: url(assets/img/login.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 920px;
    background-position: top right;
  }
  display: flex;
  background-color: #fafbfc;
  .login_part {
    .cta_button {
      transition: background-color 150ms linear;
      &:hover {
        background-color: #ff2306;
      }
    }
    max-width: 548px;
    margin-left: auto;
    margin-right: auto;
    h1 {
      margin-bottom: 36px;
    }
    h2 {
      margin-top: 128px;
    }
    h3 {
      color: #000000;
      font-family: "Khand";
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom:50px;
    }
    .form-group.col-md-6 {
      display: inline-block;
      padding-left: 0;
    }
    .form-group {
      .cta_button {
        width:320px;
        margin-top: 60px;
      }
    }
    .mat-form-field-disabled {
      div.mat-form-field-underline {
        background-color: #00000029;
        background-image: initial;
      }
      label.mat-form-field-label {
        opacity: .3;
      }
      input.mat-input-element {
        opacity: 1;
      }
    }
  }
  .forgot_box{
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 56px;
    letter-spacing: 0px;
    border: 1px solid #D9D9D9;
    padding: 19px 0px 17px 24px;
    font-size: 16px;
    line-height: 25px;
    p {
      color: #000000;
      font-family: "Khand";
      font-weight: 500;
      margin-bottom: 0;
      text-transform: none;
    }
    a {
      color: #ff553f;
      font-family: "Khand";
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  .know_box {
    margin-top: 78px;
    transition: .5s;
    background-color: transparent;
    .know_info {
      width: 247px;
      padding: 21px 26px 17px 26px;
      transition: .5s;
      box-shadow: 0 0 2px #d9d9d9;
      background-color: transparent;
      &:hover {
        box-shadow: 0 27px 45px rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
      }
    }
    h2 {
      color: #000000;
      font-family: "Khand";
      font-size: 28px;
      font-weight: 500;
      line-height: 32px;
      margin-bottom: 10px;
    }
    p {
      color: #a9a9a9;
      font-family: 'Source Sans Pro';
      font-size: 14px;
      font-weight: 400;
      line-height: 23px;
      margin-bottom: 0px;
    }
  }
  .know__box--btn {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 18px;
    .btn__text {
      color: #ff553f;
      font-size: 16px;
      font-family: Khand;
      letter-spacing: .5px;
      font-weight: 500;
    }
    .btn__arrow {
      background-image: url(assets/img/common-pages/arrow-right.png);
      width: 32px;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 12px;
      margin-left: 12px;
      transition: transform 150ms ease-in-out;
    }
    &:hover {
      .btn__arrow {
        transform: translateX(10px);
      }
    }
  }
}
@media (max-width: 767.98px) {
  .login-page {
    .login_part {
      max-width: 100%;
      margin-left: 20px;
      margin-right: 20px;
      h1 {
        margin-top: 32px!important;
        font-size: 32px!important;
        margin-bottom: 8px!important;
      }
      h2.forgot_head {
        margin-bottom: 0!important;
      }
      h2.h2--subheading {
        margin-bottom: 16px!important;
        font-size: 16px!important;
      }
      label {
        font-size: 16px!important;
      }
      .reset-form > .form-group {
        margin-top: 12px;
      }
      .form-group {
        margin-bottom: 0!important;
        .cta_button {
          width: 100%;
          margin: 0 auto!important;
        }
        &.with_cta {
          margin-top: 20px!important;
        }
      }
    }
    .password_box {
      margin: 28px 0 44px 0!important;
    }
    .forgot_box {
      margin-top: 32px!important;
      a {
        margin-top: 10px;
      }
    }
  }
}
@media (max-width: 1199.98px) {
  .login-page {
    .step_control {
      margin-top: 0;
    }
    & > .col-12, .d-lg-block {
      padding-right: 0 !important;
    }
    .know_box {
      width: 100%;
      margin-top: 0;
      .know_info {
        border-bottom: 1px solid #d8d8d8;
        box-shadow: none;
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        &:hover {
          box-shadow: none;
          background-color: #ffffff;
        }
      }
    }
    .know__box--btn {
      width: auto;
      margin-top: 0;
      .btn__arrow {
        margin-top: -5px;
      }
    }
  }
}

@media (max-width: 768px) {
  .login-page {
    .step_control {
      display:none!important
    }

  }
}
