.register-page {
  input.ng-invalid.ng-touched,
  input.ng-invalid.is-invalid {
    border-bottom: none!important;
  }
  mat-form-field.mat-form-field-type-mat-input.ng-invalid.ng-touched,
  mat-form-field.mat-form-field-type-mat-input.ng-invalid.is-invalid {
    border-bottom: none!important;
    .mat-form-field-underline {
      background-color: $color-orange !important;
    }
  }
  .login_part h1 {
    margin-bottom: 0;
    margin-top: 69px;
  }
  h2.h2--subheading {
    font-family: "Khand";
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin-top:0;
    color: #000000;
    margin-bottom:73px;
  }
  .with_cta {
    margin-top:0;
  }
  .form-group {
    .cta_button {
      text-align: center;
      margin-top: 50px;
    }
  }
  .password_box {
    margin-top: 164px;
    margin-bottom: 69px;
    label.password_meter_head {
      font-family: Khand;
      font-size: 16px;
      font-weight: 500;
      line-height: 25px;
      text-transform: none;
      letter-spacing: initial;
      margin-bottom: 0;
    }
    .password_meter_desc {
      opacity: 0.3;
      color: #000000;
      font-family: "Source Sans Pro";
      font-size: 14px;
      line-height: 18px;
    }
  }
}
