@import "../../assets/css/variables";
.main__content__container.about-us {
  .header-panel {
    margin-top: 220px;
    margin-bottom: 0;
    .header__title {
      margin-bottom: 12px;
      h1 {
      	color: #000000;
        font-family: Khand;
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 0.33px;
        line-height: 56px;
        text-transform: none;
        margin: 0;
      }
    }
  }
  a.default-a {
    color: #ff553f;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    line-height: 1;
  }
  a.default-a:hover {
    text-decoration: underline;
  }
  .content-panel {
    padding-bottom: 44px;
    .tab-content {
      padding-top: 72px;
      .section__header {
        margin-bottom: 13px;
        justify-content: space-between;
        align-items: center;
        h3 {
        	color: #000000;
          font-family: Khand;
          font-size: 24px;
          font-weight: 500;
          line-height: 36px;
          margin-bottom: 0;
        }
      }
      .image-wrapper {
        object-fit: contain;
        img {
          margin-top: 68px;
          max-width: 100%;
        }
      }
      .d-grid {
        display: grid;
        grid-gap: 24px 40px;
        /* autoprefixer: off */
        grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
        flex-wrap: wrap;
        justify-content: space-between;
        .logo-with-text {
          position: relative;
          flex-wrap: wrap;
          box-shadow: 0 27px 45px 0 rgba(0,0,0,0.05);
          background-color: #ffffff;
          display: flex;
          align-items: flex-start;
          transition: .5s;
          img {
            width: 100%;
            max-width: 60px;
          }
        }
      }
      .team__section {
        .logo-with-text {
          padding: 30px 24px 26px 24px;
        }
        .logo-text {
          margin-left: 13px;
          width: calc( 100% - 73px );
          h4 {
          	color: $color-black;
            font-family: Khand;
            font-size: 20px;
            font-weight: 500;
            line-height: 31px;
            margin-bottom: 0;
            transition: .5s;
          }
          P {
            opacity: 0.3;
            color: $color-black;
            font-family: Khand;
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            margin-bottom: 12px;
          }
        }
      }
      .offers__section {
        margin-top: 60px;
        .expand-plus {
          position: absolute;
          top: 30px;
          right: 24px;
        }
        .line {
          height: 1px;
          background-color: $border-color;
          margin-bottom: 19px;
        }
        .logo-with-text {
          padding: 23px 22px 32px 24px;
          max-height: 145px;
          &.expanded {
            max-height: 800px;
            .offer__desc {
              max-height: 800px;
              transition: .5s;
              margin-bottom: 20px;
            }
          }
        }
        .logo-text {
          h4 {
          	color: $color-black;
            font-family: Khand;
            font-size: 20px;
            font-weight: 500;
            line-height: 31px;
            margin-bottom: 0;
            transition: .5s;
            margin-bottom: 15px;
          }
          .offer__desc {
          	color: rgba(0,0,0,0.3);
            font-family: "Source Sans Pro";
            font-size: 15px;
            line-height: 24px;
            transition: .5s;
            max-height: 0px;
            overflow: hidden;
          }
        }
      }
      h3 {
        margin-bottom: 26px;
        line-height: 56px;
      }
    }
  }
}
@media (max-width: 1199.98px) {
  .profile__tabs--restrained {
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media (max-width: 911.98px) {
  .main__content__container.about-us {
    .header-panel {
      padding-top: 28px;
      .header__title {
        margin-bottom: 10px;
      }
    }
    .profile__tabs--restrained {
      margin-left: 20px;
      margin-right: 20px;
      .tab-content {
        padding-top: 40px;
      }
    }
  }
}
