a.cta_button, button.cta_button-orange {
  height: auto;
  width: auto;
  min-width: 285px;
  vertical-align: middle;
  float: left;
  position: relative;
  background-color: $color-orange;
  transition: background-color 150ms linear;
  color: #fff !important;
  text-align: left;
  padding: 19px 60px 17px 60px;
  .rect {
    transition: transform 150ms ease-in-out;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -6px;
  }
}

a.cta_button:hover, button.cta_button-orange:hover {
  background-color: $color-orange-hover;
  .rect {
    transform: translateX(10px);
  }
}

a.cta_button.single, button.cta_button-orange.single {
  min-width: auto;
}

a.cta_button_normal, button.cta_button_normal {
  height: auto;
  width: auto;
  min-width: 120px;
  vertical-align: middle;
  float: left;
  position: relative;
  background-color: $color-orange;
  transition: background-color 150ms linear;
  color: #fff !important;
  padding: 10px 10px 10px 10px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Khand";
  line-height: 20px;
  text-align: center;

}

a.cta_button_normal:hover, button.cta_button_normal:hover {
  background-color: $color-orange-hover;
}

.cta_button.cta_black {
  color: #ffffff;
  font-family: "Khand";
  text-transform: uppercase;
  text-align: initial;
  background: #000;
  min-width: 247px;
  width: 100%;
  padding: 19px 30px 17px 60px;
  .cta_text {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #fff;
  }
}

.cta_button.cta_black:hover {
  background-color: #404040;
}

.pushbutton {
  height: auto;
  width: 100%;
  vertical-align: middle;
  float: left;
  position: relative;
  background-color: #ff553f;
  -webkit-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
  color: #fff !important;
  padding: 0 60px 0 60px;
  margin-top: 29px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
  border: 0 none;
  &:before {
    content: '+';
    position: relative;
    top: -2px;
  }
  &:hover {
    background-color: $color-orange-hover;
  }
}

.button__add {
  min-width: 78px;
  // height: 32px;
  background-color: $color-orange;
  transition: background-color 150ms linear;
  border: 0 none;
  color: #fff;
  font-family: "Khand";
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  font-weight: 100;
  text-transform: uppercase;
  padding: 7px 15px;
  &:hover {
    background-color: $color-orange-hover;
  }
}

.button__table {
  min-width: 100%;
  // height: 32px;
  background-color: $color-orange;
  transition: background-color 150ms linear;
  border: 0 none;
  color: #fff;
  font-family: "Khand";
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  font-weight: 100;
  text-transform: uppercase;
  padding: 10px 15px;
  &:hover {
    background-color: $color-orange-hover;
  }
}

.button__view {
  min-width: 78px;
  height: 32px;
  background-color: #000 !important;
  transition: background-color 150ms linear;
  border: 0 none;
  color: #fff;
  font-family: "Khand";
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  font-weight: 100;
  text-transform: uppercase;
  padding: 7px 15px;

  &:hover {
    background-color: $color-orange-hover !important;
  }
}

.button__txt {
  min-width: 78px;
  height: 32px;
  background-color: transparent;
  transition: background-color 150ms linear;
  border: 0 none;
  color: #000 !important;
  font-family: "Khand";
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  font-weight: 100;
  text-transform: uppercase;
  padding: 7px 15px;

  &:hover {
    //background-color: $color-orange-hover;
    color: $color-orange-hover !important;
  }
}

.button__fullwidth {
  min-width: 100%;
  height: 40px;
  background-color: #000;
  transition: background-color 150ms linear;
  border: 0 none;
  color: #FFF !important;
  font-family: "Khand";
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  font-weight: 100;
  text-transform: uppercase;
  padding: 10px 15px;

  &:hover {
    //background-color: $color-orange-hover;
    background-color: $color-orange-hover !important;
  }
  &:disabled {
    background-color: #d4d4d4;
    pointer-events: none;
  }
}

.button__fullwidth-arrowed {
  min-width: 100%;
  min-height: 40px;
  padding: 19px 92px 17px 60px;
  transition: background-color 150ms linear;
  border: 0 none;
  vertical-align: middle;
  color: #ffffff !important;
  font-family: "Khand";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: $color-orange;
  text-align: left;
  position: relative;
  &:after {
    content: ' ';
    position: absolute;
    height: 32px;
    width: 32px;
    right: 30px;
    top: 50%;
    margin-top: -16px;
    background-image: url(assets/img/icons/arrow-r-long.png);
    background-repeat: no-repeat;
    background-position: center center;

  }

  &:hover {
    //background-color: $color-orange-hover;
    background-color: $color-orange-hover !important;
  }
  &:disabled {
    background-color: #d4d4d4;
    pointer-events: none;
  }
}

@media (max-width: 767.98px) {
  .button__fullwidth-arrowed {
    min-height: 44px;
    height: auto;
    padding: 15px 56px 14px 36px;
    border: 0 none;
    font-size: 11px;
    line-height: 14px;
    &:after {
      width: 20px;
      right: 18px;
      background-size: contain;
    }
  }
}

.button__fullwidth-black-arrowed {
  min-width: 100%;
  min-height: 104px;
  padding: 25px 70px 23px 29px;
  transition: background-color 150ms linear;
  border: 0 none;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: #000;
  text-align: left;
  position: relative;
  color: #FFFFFF;
  font-family: Khand;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;

  span {
    max-width: 270px;
    width: 100%;
    display: inline-block;
  }
  &:after {
    content: ' ';
    position: absolute;
    height: 32px;
    width: 32px;
    right: 30px;
    top: 50%;
    margin-top: -16px;
    background-image: url(assets/img/icons/arrow-r-long.png);
    background-repeat: no-repeat;
    background-position: center center;

  }

  &:hover {
    //background-color: $color-orange-hover;
    background-color: $color-orange-hover !important;
  }
  &:disabled {
    background-color: #d4d4d4;
    pointer-events: none;
  }
}

.button__left {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url(assets/img/icons/button-left.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 5px;
  position: relative;
  top: 2px;
  &:hover {
    background-image: url(assets/img/icons/button-left-b.svg);
  }
}

.button__right {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url(assets/img/icons/button-right.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 5px;
  position: relative;
  top: 2px;
  &:hover {
    background-image: url(assets/img/icons/button-right-b.svg);
  }
}

.button__orange {
  min-width: 78px;
  height: 40px;
  background-color: $color-orange;
  transition: background-color 150ms linear;
  border: 0 none;
  color: #fff;
  font-family: "Khand";
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 15px;
  &:hover {
    background-color: $color-orange-hover;
  }
}

@media (max-width: 767.98px) {
  .button__orange {
    min-width: 74px;
    height: 32px;
    font-size: 12px;
    line-height: 20px;
    padding: 7px 15px;
  }
}

.button__black {
  min-width: 78px;
  height: 40px;
  background-color: #000 !important;
  transition: background-color 150ms linear;
  border: 0 none;
  color: #fff;
  font-family: "Khand";
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 15px;

  &:hover {
    background-color: $color-orange-hover !important;
  }
}

.button__normal {
  text-align: left;
  min-width: 78px;
  height: 40px;
  transition: color 150ms linear;
  color: $color-orange;
  line-height: 20px;
  vertical-align: middle;
  padding: 0;
  margin-right: 15px;

  font-family: "Source Sans Pro";
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;

  &:hover {
    color: #000000 !important;
  }
}

.button__revert {
  text-align: left;
  min-width: 78px;
  height: 40px;
  transition: color 150ms linear;
  color: $color-orange;
  line-height: 20px;
  vertical-align: middle;
  padding: 0;
  margin-right: 15px;

  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: #000000 !important;
    text-decoration: underline;
  }
}

.button__icon {
  opacity: 0.3;
  transition: opacity 150ms linear;
  img {
    //width: 30px;
  }
  &:hover {
    opacity: 0.5;
  }
}

.fileinput {
  button.mat-button {
    max-width: 100% !important;
    opacity: 0 !important;
    overflow: hidden !important;
  }
  .mat-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
