.inventory, .form__inv, .mat-form, .contact-us, .chart__controls, .team-widget-form__items, .deal-inventory {
  mat-form-field.datepicker {
    .mat-icon-button {
      .mat-button-wrapper {
        position: absolute;
        left: -8px;
        top: -11.5px;
        width: 40px;
        height: 40px;
        background-image: url(assets/img/icons/kal.svg);
        background-repeat: no-repeat;
        background-position: center center;
        svg {
          display: none !important;
        }
      }
      .mat-button-ripple {
        top: -5px;
      }
    }
  }
  .mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 4px;
    right: 0;
    position: absolute;
  }
  .mat-select-placeholder {
    font-family: "Khand";
    font-weight: 500;
    color: #000;
    font-size: 14px;
    line-height: 14px;
    opacity: 0.3;
  }
  .mat-form-field-appearance-outline {
    &:hover {
      .mat-form-field-outline {
        color: #ababab;
        opacity: 1 !important;
      }
      .mat-form-field-outline-thick {
        opacity: 0 !important;
      }
    }
    .mat-form-field-outline {
      color: #d9d9d9;
      transition: .3s !important;
    }
    .mat-focused {
      .mat-form-field-outline-thick {
        opacity: 0 !important;
      }
      .mat-form-field-outline {
        opacity: 1 !important;
      }
    }
    .mat-icon-button {
      .mat-button-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        background-image: url(assets/img/icons/kal.svg);
        background-repeat: no-repeat;
        background-position: center center;
        svg {
          display: none !important;
        }
      }
    }
    .mat-form-field-wrapper {
      margin: -1px 0 0 0;
      padding: 0 0 17px 0;
    }

    .mat-form-field-outline-start {
      border-radius: 0 !important;
      border-width: 1px !important;
    }

    .mat-form-field-outline-end {
      border-radius: 0 !important;
      border-width: 1px !important;
    }

    .mat-form-field-infix {
      padding: 10px 0 9px;
      margin: 0;
      border: 0;
    }

    .mat-select-value-text {
      font-family: "Khand";
      font-weight: 500;
      color: #000;
      font-size: 14px;
      line-height: 1;
    }
    .mat-select-arrow-wrapper {
      transform: translateY(-10%);
    }
    .mat-select-arrow {
      border: 0 none !important;
      background-image: url(assets/img/common-pages/select-arrow.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      margin: 3px -4px -3px;
    }

    .mat-input-element {
      font-family: "Khand";
      font-weight: 500;
      color: #000;
      font-size: 14px;
      line-height: 20px;
      padding: 1px 0 0;
      margin: 3px 0 0;
      &.datepicker {
        line-height: 22px;
        padding-top: 14px;
        padding-bottom: 9px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: .35px;
      }
    }
    &.table-datepicker {
      .mat-form-field-outline-thick, .mat-form-field-outline {
        display: none;
      }
      .mat-form-field-flex {
        padding: 0;
      }
      .mat-form-field-suffix {
        top: -7px;
      }
      .mat-input-element {
        &.datepicker {
          padding-top: 0px;
          padding-bottom: 0px;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }

    &.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
      color: $color-orange;
    }
    &.mat-form-field-disabled {
      .mat-select-arrow {
        border: 0 none !important;
        width: 19px !important;
        height: 19px !important;
        background-image: url(assets/img/icons/disabled_select.png);
        background-repeat: no-repeat;
        background-position: center center;
        margin: 3px -4px -3px;
      }
    }
  }
  /*Range select */
  nouislider {
    width: calc(100% - 20px);
    margin: 15px 10px;
  }
  .nouislider__minmax {
    width: 100%;
    display: flex;
    div {
      flex: 1 0;
      opacity: 0.3;
      color: #0d0d0d;
      font-family: "Khand";
      font-size: 14px;
      font-weight: 500;
      &:last-child {
        text-align: right;
      }
    }
  }
  .range-value {
    width: 100%;
    color: #000000;
    font-family: "Khand";
    font-size: 20px;
    font-weight: 500;
  }
  .noUi-horizontal {
    height: 4px;
    border: 0 none;
  }
  .noUi-target {
    border: 0 none;
    border-radius: 2px;
    box-shadow: none;
    background-color: transparent;
    &:before {
      position: absolute;
      left: -10px;
      top: 0;
      width: calc(100% + 20px);
      height: 100%;
      background-color: #eeeeee;
      border-radius: 2px;
      content: ' ';
    }
  }

  .noUi-connect {
    background-color: $color-orange;
  }
  .noUi-handle {
    border: 0 none;
    background-color: transparent;
    box-shadow: none;
    outline: none !important;
  }
  .noUi-horizontal .noUi-handle {
    top: -12px;
    &:before {
      content: ' ';
      border: 2px solid $color-orange;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -10px 0 0 -10px;
      background-color: #fff;
      border-radius: 50%;
    }
    &:after {
      display: none;
    }
  }

}

.inventory__left {
  mat-form-field.mat-form-field-type-mat-input .mat-form-field-underline {
    display: none !important;
  }
}

mat-form-field {
  *[attr-currency] {
    position: relative;
    &:after {
      position: absolute;
      right: 3px;
      top: -1px;
      content: attr(attr-currency);
      font-family: "Khand";
      font-weight: 500;
      color: #000;
      font-size: 16px;
      line-height: 20px;
      padding: 1px 0 0px;
    }
    .mat-input-element {
      padding-right: 30px !important;
    }
  }
}

.input__as__select {
  font-family: "Khand";
  font-weight: 500;
  color: #000;
  font-size: 14px;
  padding: 10px 30px 8px 10px;
  border: 1px solid #d9d9d9;
  line-height: 20px;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.3);
  transition: all 200ms linear;
  cursor: pointer;
  margin-top: -1px;
  margin-bottom: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  .ng-star-inserted {
    color: #000;
  }
  &:before {
    position: absolute;
    right: 8px;
    top: 9px;
    width: 19px !important;
    height: 19px !important;
    background-image: url(assets/img/icons/select.png);
    background-repeat: no-repeat;
    background-position: center center;
    content: ' ';
  }
  &:hover {
    border: 1px solid #ababab;
  }
}
