.started_menu {
  a {
    color: #ffffff;
    width: auto;
    padding: 0 40px;
  }
  a:not([href]):not([tabindex]) {
    color: #ffffff;
  }
}

mat-toolbar.mat-toolbar.mat-toolbar-single-row {
  padding: 35px 45px 0 45px;
}

.login_top_ {
  padding-right: 60px;
}

.landing_menu {

  position: absolute;
  left: calc(50% - 440px);
  top: 31px;

  ul {
    li {
      a {
        font-weight: 400;
        margin-right: 48px;
      }
    }
  }
}