.onboarding-page {
  padding-bottom: 92px;
  .onboarding__header {
    padding: 38px;
    .onboarding__button--back {
      color: #000000;
      font-family: Khand;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      text-transform: uppercase;
      padding-left: 10px;
      width: 170px;
    }
    .step_control {
      margin-top: 0;
      line-height: 24px;
    }
    .onboarding__button--save {
      background-color: #000000;
      text-transform: uppercase;
      color: #FFFFFF;
      font-family: Khand;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      text-align: center;
      padding: 10px 20px;
      width: 170px;
    }
  }
  .onboarding__form {
    h1 {
      margin-bottom: 18px;
      margin-top: 18px;
    }
    h2.h2--subheading {
      margin-bottom: 54px;
      font-family: "Khand";
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      text-transform: uppercase;
      margin-top:0;
      color: #000000;
    }
    .question__panel {

      box-shadow: 0 0 0 1px #00000029;
      transition: .5s;
      padding: 24px;
      h3 {
        color: #000000;
        font-family: "Khand";
        font-weight: 500;
        margin-bottom: 0;
        text-transform: none;
        letter-spacing: .5px;
        font-size: 24px;
        line-height: 32px;
      }
      p {
        margin-top: 0;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 30ox;
        font-family: Source Sans Pro;
        opacity: .6;
        color: #797979;
      }
      margin-bottom: 30px;
    }
    .question__panel:hover {
      box-shadow: 0 27px 45px 0 rgba(0,0,0,0.05);
      background-color: #ffffff;
    }
    width: 768px;
    margin: 0 auto;
    .default-a {
      color: #ff553f;
      font-family: "Source Sans Pro";
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      border-bottom: 1px solid #ffffff;
      text-transform: none;
      margin-top: 10px;
    }
    .default-a:hover {
      text-decoration: underline;
    }
    .form-group {
      .cta_button {
        width:320px;
        margin-top: 60px;
      }
    }
    .mat-form-field-disabled {
      div.mat-form-field-underline {
        background-color: #00000029;
        background-image: initial;
      }
      label.mat-form-field-label {
        opacity: .3;
      }
      input.mat-input-element {
        opacity: 1;
      }
    }
    input.ng-invalid.ng-touched,
    input.ng-invalid.is-invalid {
      border-bottom: none!important;
    }
    mat-form-field.mat-form-field-type-mat-input.ng-invalid.ng-touched,
    mat-form-field.mat-form-field-type-mat-input.ng-invalid.is-invalid {
      border-bottom: none!important;
      .mat-form-field-underline {
        background-color: $color-orange !important;
      }
    }
  }
  .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    max-width: 80px;
    width: 100%;
  }
  .mat-form-field-flex .mat-form-field-infix {
    max-width: 100%;
  }
}
.ui-datatable-tablewrapper table {
  width:100%;
}
