* {
  margin: 0px;
}
.dissapear-right-animation {
  animation: dissapear-right 0.3s linear;
  -webkit-animation: dissapear-right 0.3s linear;
}
.dissapear-left-animation {
  animation: dissapear-left 0.3s linear;
  -webkit-animation: dissapear-left 0.3s linear;
}
.engage-right-animation {
  animation: engage-right 0.3s linear;
  -webkit-animation: engage-right 0.3s linear;
}
.engage-left-animation {
  animation: engage-left 0.3s linear;
  -webkit-animation: engage-left 0.3s linear;
}
@keyframes dissapear-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes dissapear-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes engage-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes engage-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
.main-holder {
  width: calc(100% - 40px);
  height: calc(100vh - 80px);
  padding: 40px 0px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

//FONT SETTINGS

.category-title-first {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  font-family: "Earth Orbiter";
}
.category-title-second {
  font-family: "Earth Orbiter";
  text-align: center;
  margin-bottom: 3%;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
}
.races-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.6;
}
//CONTENT SETTINGS

.content {
  margin: 0 auto;
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  .portfolio {
    transition: 0.2s;
    cursor: pointer;
    cursor: pointer;

    width: 47.5%;
    height: 100%;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 50%, #111111 90%),
      url(/assets/base/images/race-type/portfolio.png);

    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .binary {
    transition: 0.2s;
    cursor: pointer;
    cursor: pointer;

    width: 47.5%;
    height: 100%;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 50%, #111111 90%),
      url(/assets/base/images/race-type/binary.png);

    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .hoverable-category {
    padding: 25px;
  }
  .hoverable-category:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    box-shadow: (6px 8px 35px rgba(255, 255, 255, 0.9));
  }
}

@media screen and(max-width: 1700px) {
  .main-holder {
    width: calc(100% - 30px);
    padding: 30px 0px 30px 30px;
  }
}
@media screen and(max-width: 1550px) {
  .main-holder {
    width: calc(100% - 20px);
    height: calc(100vh - 65px);
    padding: 20px 0px 20px 20px;
  }

  .category-title-first {
    font-size: 32px;
  }
  .category-title-second {
    font-size: 26px;
  }

  .races-desc {
    font-size: 14px;
  }
}
@media screen and(max-width: 1400px) {
  .category-title-first {
    font-size: 26px;
  }
  .category-title-second {
    font-size: 22px;
  }

  .races-desc {
    font-size: 12px;
  }
}
@media screen and(max-width: 1200px) {
  .main-holder {
    width: calc(100% - 13px);
    padding: 13px 0px 13px 13px;
    padding-bottom: 13px;
    padding-top: 13px;
  }
}
@media screen and(max-width: 1024px) {
  .main-holder {
    width: calc(100% - 10px);
    padding: 5% 0px 10px 10px;
    justify-content: unset;
  }
}

@media screen and(max-width: 640px) {
}

@media screen and (min-width: 2100px) and (min-height: 1081px) {
  .main-holder {
  }
}

//LANDSCAPE
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content {
    width: 90%;
    height: 75%;
  }
  .category-title-first {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-second {
    font-size: 19px;
    line-height: 21px;
  }

  .races-desc {
    font-size: 10px;
    line-height: 12px;
  }

  .content {
    .hoverable-category {
      padding: 15px;
    }
  }
}
@media screen and(max-width: 700px) and (orientation: landscape) {
  .category-title-first {
    font-size: 17px;
    line-height: 19px;
  }
  .category-title-second {
    font-size: 16px;
    line-height: 18px;
  }

  .races-desc {
    font-size: 8px;
    line-height: 10px;
  }
  .content {
    .hoverable-category {
      padding: 10px;
    }
  }
}
@media screen and(max-width: 1024px) and (orientation: portrait) {
  .main-holder {
    height: calc(var(--vh, 1vh) * 100 - 150px);

    padding: 10px 0px 10px 10px;
  }
  .content {
    height: 95%;
    flex-direction: column;
    .portfolio {
      width: 100%;
      height: 47.5%;
    }
    .binary {
      width: 100%;
      height: 47.5%;
    }
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .main-holder {
    height: calc(var(--vh, 1vh) * 100 - 160px);
  }
  .category-title-first {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-second {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }

  .races-desc {
    font-size: 10px;
    line-height: 12px;
  }

  .content {
    height: 92.5%;
    width: 100%;
    .portfolio {
      padding: 10px;
    }
    .binary {
      padding: 10px;
    }
  }
}

//BACK BTN
.content-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 80px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  img {
    width: 21px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.09em;
    font-family: "Earth Orbiter";
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

@media screen and(max-width: 1700px) {
  .content-title {
    img {
      width: 17px;
    }
    p {
      font-size: 26px;
    }
  }
}
@media screen and(max-width: 1550px) {
  .content-title {
    height: 65px;
    img {
      width: 15px;
    }
    p {
      font-size: 22px;
    }
  }
}
@media screen and(max-width: 1024px) {
  .content-title {
    img {
      width: 13px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content-title {
    height: 40px;
  }
}
@media screen and(max-width: 700px) and (orientation: landscape) {
  .content-title {
    img {
      width: 8.5px;
    }
    p {
      font-size: 9px;
      margin-left: 5px;
    }
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .content-title {
    img {
      width: 10px;
    }
    p {
      font-size: 17px;
    }
  }
}
