<div
  [ngClass]="{
    'dissapear-left-animation': animation === 2,
    'dissapear-right-animation': animation === 1,
    'engage-left-animation': animation === 0
  }"
  class="main-holder"
>
  <div (click)="back()" class="content-title">
    <img
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>BACK</p>
  </div>
  <p class="category-title-second">Chooose your favourite race mode</p>
  <div class="content">
    <div (click)="next()" class="portfolio hoverable-category" [ngClass]="{'tutorial-high': tutorialStep === 2}">
      <p class="category-title-first">PORTFOLIO RACES</p>
      <p class="races-desc">Different timeframes</p>
    </div>
    <div
      [routerLink]="['/race/binary-fuel/']"
      class="binary hoverable-category"
      [ngClass]="{'tutorial-high disabled': tutorialStep === 1}"
    >
      <div class="overlay"></div>
      <img
        class="left"
        src="/assets/base/images/race-type/binary-left.png"
        alt="rich jr. nft avatar"
      />
      <img
        class="right"
        src="/assets/base/images/race-type/binary-right.png"
        alt="black nft avatar"
      />
      <p class="category-title-first">BINARY FIGHTS</p>
      <p class="races-desc">60 second bitcoin chart</p>
    </div>
  </div>
</div>

<div
    class="tutorial-modal"
    [ngClass]="'step' + tutorialStep"
    *ngIf="introModal === true"
  >

    <div class="box-content only-cta content0">
      <img
        src="/assets/base/images/modal/tutorial-racer.png"
        alt=""
        class="racer-boi big"
      />
      <div class="text-holder centered">
        <p class="heading">{{ "tutorial.skip_tutorial" | translate }}</p>
        <p class="text">{{ "tutorial.skip_desc" | translate }}</p>
      </div>
      <button class="my-cta-btn-back hoverable" (click)="skipModal()">
        {{ "tutorial.skip_tutorial" | translate }}
      </button>
    </div>

    <div class="box-content content1">
      <img
        src="/assets/base/images/modal/tutorial-racer.png"
        alt=""
        class="racer-boi"
      />
      <div class="text-holder">
        <p class="heading">Binary fights</p>
        <p class="text">Exciting 1v1 fight based on binary options that lasts for 60 seconds and is for free.</p>
        <div class="pointing-line to-right"></div>
      </div>
      <div class="btns-holder">
        <button class="my-cta-btn-back hoverable" (click)="nextTutorialStep()">
          {{ "race.continue" | translate }}
        </button>
        <p class="skip-text my-cta-btn-back" (click)="tutorialStep = 0">
          {{ "tutorial.skip_the_tutorial" | translate }} &gt;
        </p>
      </div>
    </div>

    <div class="box-content content2">
      <img
        src="/assets/base/images/modal/tutorial-racer.png"
        alt=""
        class="racer-boi"
      />
      <div class="text-holder">
        <p class="heading">Portfolio races</p>
        <p class="text">This option will show you all regular races that you can choose from.</p>
        <div class="pointing-line to-left"></div>
      </div>
      <div class="btns-holder">
        <button class="my-cta-btn-back hoverable" (click)="nextTutorialStep()">
          {{ "race.continue" | translate }}
        </button>
        <p class="skip-text my-cta-btn-back" (click)="tutorialStep = 0">
          {{ "tutorial.skip_the_tutorial" | translate }} &gt;
        </p>
      </div>
    </div>

  </div>