* {
  margin: 0px;
}
.dissapear-right-animation {
  animation: dissapear-right 0.3s linear;
  -webkit-animation: dissapear-right 0.3s linear;
}
.dissapear-left-animation {
  animation: dissapear-left 0.3s linear;
  -webkit-animation: dissapear-left 0.3s linear;
}
.engage-right-animation {
  animation: engage-right 0.3s linear;
  -webkit-animation: engage-right 0.3s linear;
}
.engage-left-animation {
  animation: engage-left 0.3s linear;
  -webkit-animation: engage-left 0.3s linear;
}
@keyframes dissapear-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes dissapear-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes engage-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes engage-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
.main-holder {
  width: calc(100% - 40px);
  height: calc(100vh - 80px);
  overflow: hidden;
  padding: 40px 0px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//FONT SETTINGS
.content-title {
  position: absolute;
  top: 20px;
  left: 40px;
  display: flex;
  img {
    width: 30px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.09em;
    margin-left: 20px;
  }
}

.category-title-first {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
}
.category-title-second {
  margin-bottom: 3%;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
}
.races-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.6;
}
//CONTENT SETTINGS

.content {
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  .portfolio {
    transition: 0.2s;
    cursor: pointer;
    cursor: pointer;

    width: 47.5%;
    height: 100%;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 50%, #111111 90%),
      url(/assets/base/images/race-type/portfolio.png);

    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .binary {
    transition: 0.2s;
    cursor: pointer;
    cursor: pointer;

    width: 47.5%;
    height: 100%;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 50%, #111111 90%),
      url(/assets/base/images/race-type/binary.png);

    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .hoverable-category {
    padding: 25px;
  }
  .hoverable-category:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
  }
}

@media screen and(max-width: 1700px) {
  .main-holder {
    width: calc(100% - 30px);
    padding: 30px 0px 30px 30px;
  }
  .content-title {
    left: 30px;
  }
}
@media screen and(max-width: 1550px) {
  .main-holder {
    width: calc(100% - 20px);
    height: calc(100vh - 65px);
    padding: 20px 0px 20px 20px;
  }

  .content-title {
    top: 15px;
    left: 20px;
    img {
      width: 20px;
    }
    p {
      margin-left: 15px;
      font-size: 20px;
    }
  }

  .category-title-first {
    font-size: 32px;
  }
  .category-title-second {
    font-size: 26px;
  }

  .races-desc {
    font-size: 14px;
  }
}
@media screen and(max-width: 1400px) {
  .content-title {
    img {
      width: 18px;
    }
  }

  .category-title-first {
    font-size: 26px;
  }
  .category-title-second {
    font-size: 22px;
  }

  .races-desc {
    font-size: 12px;
  }
}
@media screen and(max-width: 1200px) {
  .main-holder {
    width: calc(100% - 13px);
    padding: 13px 0px 13px 13px;
    padding-bottom: 13px;
    padding-top: 13px;
  }
  .content-title {
    top: 22.5px;
    left: 13px;
    img {
      width: 15px;
    }
    p {
      font-size: 15px;
    }
  }
}
@media screen and(max-width: 1024px) {
  .main-holder {
    width: calc(100% - 10px);
    padding: 10px 0px 10px 10px;
  }
  .content-title {
    top: 10px;
    left: 10px;

    p {
      margin-left: 10px;
      font-size: 14px;
    }
  }
}
@media screen and(max-width: 800px) {
  .main-holder {
  }
}
@media screen and(max-width: 640px) {
  .main-holder {
    padding: 20px;
  }
}

@media screen and (min-width: 2100px) and (min-height: 1081px) {
  .main-holder {
  }
}

//LANDSCAPE
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .category-title-first {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-second {
    font-size: 17px;
    line-height: 19px;
  }

  .races-desc {
    font-size: 10px;
    line-height: 12px;
  }

  .content {
    .hoverable-category {
      padding: 15px;
    }
  }
}
@media screen and(max-width: 700px) and (orientation: landscape) {
  .content-title {
    top: 15px;
    img {
      width: 8.5px;
    }
    p {
      font-size: 9px;
      margin-left: 5px;
    }
  }
  .category-title-first {
    font-size: 17px;
    line-height: 19px;
  }
  .category-title-second {
    font-size: 15px;
    line-height: 17px;
  }

  .races-desc {
    font-size: 8px;
    line-height: 10px;
  }
  .content {
    .hoverable-category {
      padding: 10px;
    }
  }
}
@media screen and(max-width: 1024px) and (orientation: portrait) {
  .content {
    flex-direction: column;
    .portfolio {
      width: 100%;
    }
    .binary {
      width: 100%;
    }
  }
}
