<div class="content-title">
  <img
    (click)="back()"
    class="red-star"
    src="assets/base/images/icons/icon-back-red.svg"
    alt="red arrow"
  />
  <img
    (click)="back()"
    class="blue-star"
    src="assets/base/images/icons/icon-back-blue.svg"
    alt="blue arrow"
  />
  <p>RACES</p>
</div>
<div
  [ngClass]="{
    'dissapear-left-animation': animation === 2,
    'dissapear-right-animation': animation === 1,
    'engage-left-animation': animation === 0
  }"
  class="main-holder"
>
  <p class="category-title-second">Chooose your favourite race mode</p>
  <div class="content">
    <div (click)="next()" class="portfolio hoverable-category">
      <p class="category-title-first">FAST RACES</p>
      <p class="races-desc">30 second duration</p>
    </div>
    <div
      [routerLink]="['/race/binary-fuel/']"
      class="binary hoverable-category"
    >
      <p class="category-title-first">FAST RACES</p>
      <p class="races-desc">30 second duration</p>
    </div>
  </div>
</div>
