* {
  margin: 0px;
}
.dissapear-right-animation {
  animation: dissapear-right 0.3s linear;
  -webkit-animation: dissapear-right 0.3s linear;
}
.dissapear-left-animation {
  animation: dissapear-left 0.3s linear;
  -webkit-animation: dissapear-left 0.3s linear;
}
.engage-right-animation {
  animation: engage-right 0.3s linear;
  -webkit-animation: engage-right 0.3s linear;
}
.engage-left-animation {
  animation: engage-left 0.3s linear;
  -webkit-animation: engage-left 0.3s linear;
}
@keyframes dissapear-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes dissapear-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes engage-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes engage-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
.main-holder {
  width: calc(100% - 40px);
  height: calc(var(--vh, 1vh) * 100 - 80px);
  padding: 40px 0px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

//FONT SETTINGS

.category-title-first {
  z-index: 2;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  font-family: "Earth Orbiter";
}
.category-title-second {
  z-index: 2;
  font-family: "Earth Orbiter";
  text-align: center;
  margin-bottom: 3%;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
}
.races-desc {
  z-index: 2;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.6;
}
//CONTENT SETTINGS

.content {
  margin: 0 auto;
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  .portfolio {
    transition: 0.2s;
    cursor: pointer;
    cursor: pointer;

    width: 47.5%;
    height: 100%;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 50%, #111111 90%),
      url(/assets/base/images/race-type/portfolio.png);

    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .binary {
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    cursor: pointer;

    width: 47.5%;
    height: 100%;
    background: url("/assets/base/images/race-type/binary.png");

    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    .overlay {
      z-index: 1;
      width: 100%;
      position: absolute;
      height: 100%;
      left: 0px;
      top: 0px;
      background: linear-gradient(180deg, rgba(17, 17, 17, 0) 50%, #111111 90%);
    }
    img {
      position: absolute;
      height: 90%;
      width: auto;
      max-width: unset;
      &.left {
        left: 0%;
        bottom: 0%;
      }
      &.right {
        right: 0%;
        bottom: 0%;
      }
    }
  }
  .hoverable-category {
    padding: 25px;
  }
  .hoverable-category:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    box-shadow: (6px 8px 35px rgba(255, 255, 255, 0.9));
  }
}

@media screen and(max-width: 1700px) {
  .main-holder {
    width: calc(100% - 30px);
    padding: 30px 0px 30px 30px;
  }
}
@media screen and(max-width: 1550px) {
  .main-holder {
    width: calc(100% - 20px);
    height: calc(var(--vh, 1vh) * 100 - 65px);
    padding: 20px 0px 20px 20px;
  }

  .category-title-first {
    font-size: 32px;
  }
  .category-title-second {
    font-size: 26px;
  }

  .races-desc {
    font-size: 14px;
  }
}
@media screen and(max-width: 1400px) {
  .category-title-first {
    font-size: 26px;
  }
  .category-title-second {
    font-size: 22px;
  }

  .races-desc {
    font-size: 12px;
  }
}
@media screen and(max-width: 1200px) {
  .main-holder {
    width: calc(100% - 13px);
    padding: 13px 0px 13px 13px;
    padding-bottom: 13px;
    padding-top: 13px;
  }
}
@media screen and(max-width: 1024px) {
  .main-holder {
    width: calc(100% - 10px);
    padding: 5% 0px 10px 10px;
    justify-content: unset;
  }
}

@media screen and(max-width: 640px) {
}

@media screen and (min-width: 2100px) and (min-height: 1081px) {
  .main-holder {
  }
}

//LANDSCAPE
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content {
    width: 90%;
    height: 75%;
  }
  .category-title-first {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-second {
    font-size: 19px;
    line-height: 21px;
  }

  .races-desc {
    font-size: 10px;
    line-height: 12px;
  }

  .content {
    .hoverable-category {
      padding: 15px;
    }
  }
}
@media screen and(max-width: 700px) and (orientation: landscape) {
  .category-title-first {
    font-size: 17px;
    line-height: 19px;
  }
  .category-title-second {
    font-size: 16px;
    line-height: 18px;
  }

  .races-desc {
    font-size: 8px;
    line-height: 10px;
  }
  .content {
    .hoverable-category {
      padding: 10px;
    }
  }
}
@media screen and(max-width: 1024px) and (orientation: portrait) {
  .main-holder {
    height: calc(var(--vh, 1vh) * 100 - 150px);

    padding: 10px 0px 10px 10px;
  }
  .content {
    height: 95%;
    flex-direction: column;
    .portfolio {
      width: 100%;
      height: 47.5%;
    }
    .binary {
      width: 100%;
      height: 47.5%;
    }
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .main-holder {
    height: calc(var(--vh, 1vh) * 100 - 160px);
  }
  .category-title-first {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-second {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }

  .races-desc {
    font-size: 10px;
    line-height: 12px;
  }

  .content {
    height: 92.5%;
    width: 100%;
    .portfolio {
      padding: 10px;
    }
    .binary {
      padding: 10px;
    }
  }
}

//BACK BTN
.content-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 80px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  img {
    width: 21px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.09em;
    font-family: "Earth Orbiter";
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

@media screen and(max-width: 1700px) {
  .content-title {
    img {
      width: 17px;
    }
    p {
      font-size: 26px;
    }
  }
}
@media screen and(max-width: 1550px) {
  .content-title {
    height: 65px;
    img {
      width: 15px;
    }
    p {
      font-size: 22px;
    }
  }
}
@media screen and(max-width: 1024px) {
  .content-title {
    img {
      width: 13px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content-title {
    height: 40px;
  }
}
@media screen and(max-width: 700px) and (orientation: landscape) {
  .content-title {
    img {
      width: 8.5px;
    }
    p {
      font-size: 9px;
      margin-left: 5px;
    }
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .content-title {
    img {
      width: 10px;
    }
    p {
      font-size: 17px;
    }
  }
}

.tutorial-high {
  position: relative;
  z-index: 1000003 !important;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  &.disabled{
    pointer-events: none;
  }
}

.tutorial-modal {
  position: fixed;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  top: 0;
  left: 0;
  z-index: 1000002;
  overflow: auto;
  background: rgba(17, 17, 17, 0.9);
  p{
    opacity: 1;
  }
  .skip-text {
    text-shadow: none;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 7px;
    margin: 0;
    p {
      margin: 0;
    }
    &.absolute {
      position: absolute;
      bottom: 60px;
      right: 100px;
    }
  }
  &.step0 {
    .box-content.content0 {
      z-index: 1;
      opacity: 1;
      pointer-events: all;
    }
  }
  &.step1 {
    .box-content.content1 {
      z-index: 1;
      opacity: 1;
      pointer-events: all;
    }
  }
  &.step2 {
    .box-content.content2 {
      z-index: 1;
      opacity: 1;
      pointer-events: all;
    }
  }
  .box-content {
    position: absolute;
    z-index: -5;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
    .racer-boi {
      width: 200px;
      position: relative;
      left: -30px;
      &.big {
        width: unset;
        left: -5px;
      }
    }
    .text-holder {
      position: relative;
      &.centered {
        text-align: center;
      }
      .heading {
        font-weight: 600;
        font-size: 24px;
        margin: -15px 0 10px 0;
      }
      .text {
        font-weight: 400;
        font-size: 16px;
        margin: 0;
      }
      .pointing-line {
        position: absolute;
        height: 4px;
        border-radius: 5px;
        &.to-right {
          transform: translateX(100%);
          right: -20px;
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.8) 70%,
            rgba(255, 255, 255, 0.1) 100%
          );
        }
        &.to-left {
          transform: translateX(-100%);
          left: -20px;
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0.8) 30%,
            rgba(255, 255, 255, 1) 100%
          );
        }
      }
    }
    button {
      font-weight: 600;
      font-size: 16px;
      padding: 11px 60px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
    }
    .btns-holder {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 40px;
      button {
        margin-right: 40px;
      }
    }
    &.only-cta {
      width: 100%;
      text-align: center;
      button {
        margin-top: 40px;
      }
    }
    &.content0 {
      left: 50%;
      top: 47%;
      transform: translate(-50%, -50%);
      .text-holder {
        .text {
          max-width: 280px;
          margin: 0 auto;
        }
      }
    }
    &.content1 {
      max-width: 415px;
      right: 55%;
      top: 50%;
      transform: translateY(-50%);
      .text-holder {
        .pointing-line {
          top: 30%;
          width: 80px;
        }
      }
    }
    &.content2 {
      max-width: 420px;
      left: 56%;
      top: 50%;
      transform: translateY(-50%);
      .text-holder {
        .pointing-line {
          top: 50px;
          width: 80px;
        }
      }
    }
  }
  @media screen and (max-width: 1700px) {
    .box-content {
      .racer-boi {
        &.big {
          width: 300px;
          left: 0px;
        }
      }
      .text-holder {
        .heading {
          font-size: 21px;
        }
        .text {
          font-size: 15px;
        }
      }
      &.only-cta {
        button {
          margin-top: 30px;
        }
      }
      button {
        font-size: 15px;
        padding: 10px 50px;
      }
      .btns-holder {
        margin-top: 30px;
      }
      &.content2 {
        max-width: 400px;
      }
    }
    .skip-text {
      font-size: 15px;
    }
  }
  @media screen and (max-width: 1550px) {
    .box-content {
      .racer-boi {
        width: 180px;
        left: -24px;
        &.big {
          width: 270px;
        }
      }
      .text-holder {
        .heading {
          margin: -15px 0 6px 0;
          font-size: 19px;
        }
        .text {
          font-size: 14px;
        }
        .pointing-line {
          height: 3px;
          &.to-right {
            right: -10px;
          }
          &.to-left {
            left: -10px;
          }
        }
      }
      &.only-cta {
        button {
          margin-top: 23px;
        }
      }
      button {
        border-radius: 10px;
        font-size: 14px;
        padding: 9px 45px;
      }
      .btns-holder {
        margin-top: 23px;
        button {
          margin-right: 17px;
        }
      }
      &.content2 {
        max-width: 390px;
        .text-holder {
          .pointing-line {
            width: 65px;
          }
        }
      }
    }
    .skip-text {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 1200px) {
    .box-content {
      .racer-boi {
        width: 160px;
        left: -20px;
        &.big {
          width: 240px;
        }
      }
      .text-holder {
        .heading {
          margin: -15px 0 4px 0;
          font-size: 18px;
        }
        .text {
          font-size: 13px;
        }
        .pointing-line {
          height: 2px;
          &.to-right {
            right: -7px;
          }
          &.to-left {
            left: -7px;
          }
        }
      }
      &.only-cta {
        button {
          margin-top: 19px;
        }
      }
      button {
        border-radius: 8px;
        font-size: 13px;
        padding: 8px 32px;
      }
      .btns-holder {
        margin-top: 19px;
        button {
          margin-right: 14px;
        }
      }
      &.content2 {
        max-width: 380px;
        .text-holder {
          .pointing-line {
            width: 55px;
          }
        }
      }
    }
    .skip-text {
      font-size: 13px;
      &.absolute {
        bottom: 40px;
        right: 70px;
      }
    }
  }
}
