<!--<app-main-top-banner [page]="'history'"></app-main-top-banner>-->

<!-- <div class="trans-menu">
    <div class="menu-desc">
        <p class="join-team active"[routerLink]="['/your-races/transactions']">{{'history.transactions' | translate}}</p>
        <p class="my-team" [routerLink]="['/your-races/transactions/my-races']">{{'profile.races' | translate}}</p>
    </div>
    <div class="menu-line my-cta-btn-back">
        <div class="inner-line my-cta-btn-back">&nbsp;</div>
    </div>
</div> -->

<div class="table">
  <div class="table-row header">
    <div class="table-item small"><p>Position</p></div>
    <div class="table-item big"><p>Date</p></div>
    <div class="table-item big"><p>Action</p></div>
    <div class="table-item"><p>Payment</p></div>
    <div class="table-item"><p>Amount</p></div>
  </div>

  <div class="table-row" *ngFor="let trans of transactions; let indexx = index">
    <div class="table-item small my-cta-btn-back">
      <p>{{ indexx + 1 + 10 * (actualPage - 1) }}.</p>
    </div>
    <div class="table-item big">
      <p>{{ trans.created_at | date: "short" }}</p>
    </div>
    <div class="table-item big" *ngIf="trans.history_type !== 'reward'">
      <p>{{ "transactions_desc." + trans.history_type | translate }}</p>
    </div>
    <div class="table-item big" *ngIf="trans.history_type === 'reward'">
      <p>
        {{ "transactions_desc." + trans.history_type | translate }} -
        {{ "transactions_desc." + trans.extras.reward_type | translate }}
      </p>
    </div>
    <div class="table-item">
      <p class="img-item">
        <img
          src="/assets/base/images/tokens/ioi-logo.png"
          *ngIf="
            trans.currency === 'ioi' || trans.currency === 'game_wallet_ioi'
          "
        />
        <img
          class="ticket"
          src="assets/base/images/ticket-icon.png"
          *ngIf="trans.currency === 'ket'"
        />
        <img
          class="ticket"
          src="/assets/base/images/curr-logos/MATICUSDT-logo.png"
          *ngIf="trans.currency === 'matic'"
        />
      </p>
    </div>
    <div class="table-item last">
      <p>{{ trans.delta | number: "1.2-2":"fr" }}</p>
    </div>
  </div>

  <div
    class="arrow right"
    *ngIf="totalPages > 1 && actualPage < totalPages"
    (click)="nextPage()"
  >
    <p>&gt;</p>
  </div>
  <div
    class="arrow left"
    *ngIf="totalPages > 1 && actualPage > 1"
    (click)="prevPage()"
  >
    <p>&lt;</p>
  </div>
  <div class="arrow right inactive" *ngIf="actualPage === totalPages">
    <p>&gt;</p>
  </div>
  <div class="arrow left inactive" *ngIf="actualPage === 1">
    <p>&lt;</p>
  </div>

  <div
    class="leaderboard-empty"
    *ngIf="transactions.length === 0 && actualPage === 1"
  >
    <h2>{{ "history.transactions_empty" | translate }}</h2>
  </div>
</div>

<!-- <div class="table">
        <div class="header table-row">
            <div>&#8203;</div>
            <div>{{'history.date' | translate}}</div>
            <div>{{'history.action' | translate}}</div>
            <div>{{'history.payment' | translate}}</div>
            <div>{{'modals.amount' | translate}}</div>
        </div>
        <div class="table-row" *ngFor="let trans of transactions;let indexx = index;">
          <div class="cell">
            <div class="placement my-border-grad"><span>{{(indexx + 1)+10*(actualPage-1)}}</span></div>
          </div>
          <div class="cell"> <p>{{trans.created_at | date:'short'}}</p></div>
          <div class="cell" *ngIf="trans.history_type !== 'reward'"><p>{{'transactions_desc.' + trans.history_type | translate}}</p></div>
          <div class="cell" *ngIf="trans.history_type === 'reward'"><p>{{'transactions_desc.' + trans.history_type | translate}} - {{'transactions_desc.' + trans.extras.reward_type  | translate}}</p></div>
          <div class="cell"><p>
              <img src="/assets/base/images/tokens/ioi-logo.png"  *ngIf="trans.currency === 'ioi' || trans.currency === 'game_wallet_ioi'">
              <img src="assets/base/images/ticket-icon.png"  *ngIf="trans.currency === 'ket'">
           </p></div>
          <div class="cell"><p>{{trans.delta | number:'1.2-2':'fr' }}</p></div>
        </div>

        
         
        <div class="arrow-right"  *ngIf="(totalPages > 1) && (actualPage < totalPages)"  (click)="nextPage()">
            &gt;
        </div>
        <div class="arrow-left"  *ngIf="(totalPages > 1) && (actualPage > 1)" (click)="prevPage()">
            &lt;
        </div>

        <div class="empty" *ngIf="transactions.length===0 && actualPage===1">
            <h2>{{'history.transactions_empty' | translate}}</h2>
        </div>
    </div> -->
