* {
  margin: 0px;
}
.category-title-first {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  font-family: "Earth Orbiter";
  z-index: 1;
}
.font {
  font-family: "Earth Orbiter";
}

.menu {
  height: 7.5%;
  width: 100%;
  display: flex;
}
.transactions-content {
  margin-top: 2%;
  height: 90.5%;
}
.menu-item {
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.05);
  border: 3px solid rgba(255, 255, 255, 0.4);
  width: 18.5%;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  &.first {
    margin-left: 0%;
  }
  .active-border {
    position: absolute;
    width: calc(100% + 6px);
    left: -3px;
    height: 0px;
    bottom: -3px;
  }
  p {
    &.first {
      margin-left: 0px;
    }
  }
  &.active-item {
    background: rgba(255, 255, 255, 0.2);
    border: 3px solid rgba(255, 255, 255, 0.4);
    .active-border {
      height: 4px;
    }
  }
  .filter-icon {
    width: 30px;
    height: 30px;
  }
}
.menu-item:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 3px solid rgba(255, 255, 255, 0.4);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4%;
  max-width: 50px;
  height: 80px;
  background: #111111;
  cursor: pointer;
  &.inactive {
    cursor: default;
    p {
      color: #222222;
    }
  }
  &.left {
    border-radius: 0px 4px 4px 0px;
    left: 0;
  }
  &.right {
    border-radius: 4px 0px 0px 4px;
    right: 0;
  }
  p {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.table {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: white;
  min-height: 500px;
  width: 100%;
  background: rgba(17, 17, 17, 0.6);
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 40px 5%;
  .table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
    background: #111111;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    &.header {
      background: transparent;
      margin-bottom: 10px;
      .table-item {
        &.small {
          p {
            white-space: nowrap;
          }
        }
        &::after {
          content: none;
        }
        p {
          font-weight: 600;
        }
      }
    }
    &.mine {
      background: #ffffff;
      .table-item {
        &.small {
          p {
            color: white;
          }
        }
        p {
          color: black;
        }
        .team-badge {
          p {
            color: white;
          }
        }
      }
    }
    .table-item {
      width: 20%;
      text-align: center;
      height: 40px;
      position: relative;
      &.big {
        width: 27%;
      }
      &.small {
        width: 6%;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        z-index: 2;
        background: #222222;
      }
      &.last {
        &::after {
          content: none;
        }
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        line-height: 40px;
        &.img-item {
          height: 100%;
          img {
            height: 60%;
            &.ticket {
              height: 70%;
            }
          }
        }
      }
      .team-badge {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.IOI {
          background: #00d1ff;
        }
        &.ALT {
          background: #00d481;
        }
        &.BTC {
          background: #eb2163;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 11px;
          line-height: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .table {
    padding: 25px 4.5%;
    .table-row {
      .table-item {
        height: 37px;
        p {
          font-size: 15px;
          line-height: 37px;
        }
        .team-badge {
          width: 20px;
          height: 20px;
          p {
            font-size: 9px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .category-title-first {
    font-size: 16px;
    line-height: 18px;
  }
}
@media screen and (max-width: 1200px) {
  .category-title-first {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .table {
    padding: 20px 3.5%;
    .table-row {
      .table-item {
        height: 34px;
        p {
          font-size: 14px;
          line-height: 34px;
        }
      }
    }
  }
  .arrow {
    width: 3%;
    height: 70px;
    p {
      font-size: 22px;
    }
  }
}

//

@media screen and(max-width: 1024px) and (orientation: landscape) {
  .category-title-first {
    font-size: 12px;
    line-height: 14px;
  }
  .table {
    min-height: 0;
    padding: 10px 4.5%;
    .table-row {
      &.header{
        margin-bottom: 5px;
      }
      .table-item {
        height: 20px;
        p {
          font-size: 11px;
          line-height: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  .category-title-first {
    font-size: 8px;
    line-height: 10px;
  }
}
@media screen and(max-width: 640px) and (orientation: landscape) {
  .category-title-first {
    font-size: 6px;
    line-height: 8px;
  }
  .table { 
    min-height: 0;
    padding: 5px 2.5%;
    .table-row {
      .table-item {
        height: 18px;
        p {
          font-size: 9px;
          line-height: 18px;
        }
        &.btn-item{
          button{
            font-size: 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .menu-item {
    margin-left: 1%;
    width: 48%;
    height: 45px;

    &.first {
      margin-right: 1%;
    }

    .filter-icon {
      width: 10px;
      height: 10px;
    }
  }
}
@media screen and (max-width: 640px) and (orientation: portrait) {
  .category-title-first {
    font-size: 16px;
    line-height: 18px;
  }

  .table {
    padding: 17px 3% 43px;
    min-height: 440px;
    .table-row {
      .table-item {
        height: 30px;
        width: 17%;
        &.small {
          width: 7%;
        }
        &.big {
          width: 29.5%;
        }
        p {
          font-size: 12px;
          line-height: 30px;
        }
      }
    }
  }
  .arrow {
    width: 60px;
    height: 25px;
    top: unset;
    bottom: 0;
    transform: translateX(-50%);
    &.left {
      left: calc(50% - 30px);
      border-radius: 5px 5px 0 0;
    }
    &.right {
      left: calc(50% + 50px);
      border-radius: 5px 5px 0 0;
    }
  }
}

@media screen and (max-width: 400px) and (orientation: portrait) {
  .table {
    .header {
      div:first-child() {
        width: 25px;
      }
    }
    .table-row {
      .cell:first-child {
        width: 25px;
      }
      .placement {
        width: 25px;
        height: 25px;
        span {
          width: 25px;
          height: 25px;
          font-size: 8px;
        }
      }
    }
  }
}
@media screen and (min-width: 2300px) and (min-height: 1300px) {
  p {
    font-size: 19px;
  }
  h1 {
    font-size: 39px;
  }
  h5 {
    font-size: 24px;
  }

  .trans-menu {
    .menu-desc {
      p {
        font-size: 20px;
        padding-bottom: 20px;
      }
    }
    .menu-line {
      border: 5px solid #111111;
      .inner-line {
        height: 5px;
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .table {
    .table-row {
      .table-item {
        p {
          font-size: 10px;
        }
        .team-badge {
          width: 17px;
          height: 17px;
          p {
            font-size: 7px;
          }
        }
      }
    }
  }
  .table {
    margin-bottom: 60px;
  }
}
