<div class="main-content zavod" *ngIf="!raceDataildata && !raceData">
  <h2>{{'shared.loading' | translate}}</h2>
</div>

<div class="main-content zavod" *ngIf="raceData && raceDataildata" #topRoad>
  <div class="chat" *ngIf="showChat === true && raceDataildata?.my_cars[selectedMyIndex]">
    <div class="close-my-fuel" (click)="showChat = false"><img src="assets/rewards/X-modal.png" alt=""></div>
    <div class="top-car-holder" >
      <div class="arrow" *ngIf="raceDataildata?.my_cars?.length > 1" (click)="prevCar()">
        <img src="/assets/base/images/leaderboard/prev-arrow-trans.png" alt="">
      </div>
      <div class="arrow right" *ngIf="raceDataildata?.my_cars?.length > 1" (click)="nextCar()">
        <img src="/assets/base/images/leaderboard/next-arrow-trans.png" alt="">
      </div>
      <p class="live-crypto">{{'race.live_crypto' | translate}}</p>
      <div class="car-indicator">{{selectedMyIndex + 1}}/{{raceDataildata?.my_cars?.length}}</div>
      <div class="car-holder">
        <img [src]="'/assets/base/images/cars/car' + raceDataildata?.my_cars[selectedMyIndex]?.c + '.png'" alt="">
      </div>

      <!-- <div class="my_car" *ngIf="raceDataildata?.my_cars?.length > 0">
        <div class="small-car car_box car" [ngClass]="'car-' + raceDataildata?.my_cars[selectedMyIndex].c">

        </div>
      </div> -->
    </div>

    <div class="new-fuel" *ngIf="raceDataildata?.my_cars[selectedMyIndex]">
      <div class="text_he">
        <ul *ngIf="showAllCoins === false" class="show-less-list">
          <li *ngFor="let myfuels of raceDataildata?.my_cars[selectedMyIndex]?.b | orderBy: 'delta':reverse; let ixx = index; " [ngClass]="myfuels?.bet > 0 ? 'my-coin' : 'not-my'">
            <i>{{ixx + 1}}. </i>
            <span class="cur-logo"><img class="cur-logo" [src]="'/assets/base/images/curr-logos/'+ myfuels?.symbol +'-logo.png'" alt=""></span>
                 
             <span class="percentage">{{myfuels?.bet}} % </span>
            <span class="my_gas-right-part" *ngIf="raceData?.coins_performance?.length > 0" >
              
              <small> 
                <b>
                  <span class="new-price">&#36;{{myfuels?.from_price | number:'1.2-2':'fr'}} </span>
                 <img src="/assets/base/images/ticket-arrow-up.png" alt="" class="ticket-arrow" *ngIf="myfuels?.delta > 0">
                 <img src="/assets/base/images/ticket-arrow-down.png" alt="" class="ticket-arrow" *ngIf="myfuels?.delta < 0"> 
                  <img src="/assets/base/images/ticket-arrow-down.png" alt="" class="ticket-arrow" *ngIf="myfuels?.delta === 0" style="visibility: hidden;">
                 <span>{{myfuels?.delta | number:'1.4-4':'fr'}}% </span>
               </b>
                 </small>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <p class="bottom-desc">{{'race.exchange_data' | translate}}</p>
  </div>

  <div class="all-positions" *ngIf="showPositions === true">
    <h1 class="top-heading">{{'race.all_players' | translate}}</h1>
    <img src="assets/rewards/X-modal.png" alt="" class="close-icon" (click)="showPositions = false">
    <div class="players-table" *ngIf="raceData?.cards?.length === 0">
      <div class="item header">
        <div class="table-col">
          <p>{{'leaderboard.position' | translate}}</p>
        </div>
        <div class="table-col big">
          <p>{{'shared.nick' | translate}}</p>
        </div>
        <div class="table-col">
          <p>{{'profile.team' | translate}}</p>
        </div>
        <div class="table-col">
          <p>{{'shared.points' | translate}}</p>
        </div>
        <div class="table-col big">
          <p>{{'shared.potential_win' | translate}}</p>
        </div>
      </div>
      <div class="item_holder before-start" *ngFor="let player of raceDataildata.cards">
        <div class="item player">
          <div class="table-col position">
            <img src="/assets/base/images/teams/place1.png" alt="" *ngIf="player.cpr === 1">
            <img src="/assets/base/images/teams/place2.png" alt="" *ngIf="player.cpr === 2">
            <img src="/assets/base/images/teams/place-universal.png" alt="" *ngIf="player.cpr > 2" class="universal">
            <span *ngIf="player.cpr > 2">{{player.cpr}}</span>
          </div>
          <div class="table-col big">
            <p>{{player.n}}</p>
          </div>
          <div class="table-col">
            <p>{{player.t ? player.t : '-'}}</p>
          </div>
          <div class="table-col">
            <p>0</p>
          </div>
          <div class="table-col big">
            <p>0</p>
          </div>
        </div>
      </div>
    </div>

    <div class="players-table" *ngIf="raceData?.cards.length > 0">
      <div class="item header">
        <div class="table-col">
          <p>{{'leaderboard.position' | translate}}</p>
        </div>
        <div class="table-col big">
          <p>{{'shared.nick' | translate}}</p>
        </div>
        <div class="table-col">
          <p>{{'profile.team' | translate}}</p>
        </div>
        <div class="table-col">
          <p>{{'shared.points' | translate}}</p>
        </div>
        <div class="table-col big">
          <p>{{'shared.potential_win' | translate}}</p>
        </div>
      </div>
      <div class="item_holder" *ngFor="let player of raceData.cards; let i = index">
        <div class="item player" [ngClass]="{'my-item': raceData.me.u === player.u}">
          <div class="table-col position">
            <img src="/assets/base/images/teams/place1.png" alt="" *ngIf="player.cpr === 1">
            <img src="/assets/base/images/teams/place2.png" alt="" *ngIf="player.cpr === 2">
            <img src="/assets/base/images/teams/place-universal.png" alt="" *ngIf="player.cpr > 2" class="universal">
            <span *ngIf="player.cpr > 2">{{player.cpr}}</span>
          </div>
          <div class="table-col big">
            <p>{{player.n}}</p>
          </div>
          <div class="table-col">
            <p>{{player.t ? player.t : '-'}}</p>
          </div>
          <div class="table-col">
            <p>{{raceDataildata?.applicable_points[player.cpr - 1] !== null ? (raceDataildata?.applicable_points[player.cpr - 1] | number:'1.0-2')  : '0'}}</p>
          </div>
          <div class="table-col big">
            <p>{{raceDataildata?.applicable_payouts[player.cpr - 1] ? (raceDataildata?.applicable_payouts[player.cpr - 1] | number:'1.2-2') : '0'}}</p>
          </div>
        </div>

        <div class="crypto-item">
          <ng-container *ngFor="let crypt of player.b">
            <div class="visible-curr" *ngIf="crypt.bet > 0">
              <span class="currency-symbol">{{crypt.symbol}}</span>
              <span class="currency-image"><img src="/assets/base/images/curr-logos/{{crypt.symbol}}-logo.png" alt=""></span>
              <span class="currency-bet">{{crypt.bet}}%</span>
            </div>
          </ng-container>
        </div>

      </div>
    </div>

    <div class="pagination_box">
      <button (click)="prevPage()" *ngIf="actualPage > 0">
        <img src="/assets/base/images/zavod/arrow-left-small.png" alt="">
      </button>
      <span>{{actualPage + 1}}/{{raceDataildata?.total_pages}}</span>
      <button (click)="nextPage()" *ngIf="(actualPage + 1) < raceDataildata?.total_pages" class="right">
        <img src="/assets/base/images/zavod/arrow-right-small.png" alt="">
      </button>
    </div>
  </div>

  <div class="sub-content zavod_bg">

    <div class="mobile-timer empty" *ngIf="raceStarted === false">
      <app-timer [value]="startsIn"></app-timer>
      <p class="desc">Race starts in</p>
    </div>

    <div class="mobile-timer full cornered" *ngIf="raceFinished === false && raceStarted === true && endsIn > 0">
      <app-timer [value]="endsIn"></app-timer>
    </div>

    <div class="mobile-timer cornered" *ngIf="raceFinished === true"><p>{{'race.race_ended' | translate}}</p></div>

    <div class="mobile-hub" *ngIf="raceData?.me?.s">
      <p>{{raceData?.me?.s | number:'1.4-4':'fr'}}%</p>
    </div>

    <div class="mobile-hub" *ngIf="!raceData?.me?.s">
      <p>0,0000%</p>
    </div>


    <div class="race-top-nav">
      <div class="cops-signal" [ngClass]="{'active': raceStarted && !raceFinished}" *ngIf="raceDataildata?.race_identifier == 'cops1_10' || this.raceDataildata?.race_identifier == 'cops2_100' || this.raceDataildata?.race_identifier == 'cops3_100'">
        
        <div class="blue"></div>
        <div class="red"></div>
      </div>

      <img class="ioi-logo-race" src="/assets/base/images/logo.png" alt="" [routerLink]="['/race/start-race']">
    
      <div class="prize-heading" *ngIf="raceDataildata?.race_identifier !== 'golden_ticket_0'">
        <img src="/assets/base/images/zavod/prize-trophy.png" alt="">
        <h1>{{ raceDataildata?.price_pool }} 
          <span *ngIf="raceDataildata?.new_race_type === 'car_race_ioi'">IOI</span>
          <span *ngIf="raceDataildata?.new_race_type !== 'car_race_ioi'">TRX</span>
        </h1>

      </div>
      <div class="prize-heading small" *ngIf="raceDataildata?.race_identifier === 'golden_ticket_0'">
        <img class="trophy-img" src="/assets/base/images/zavod/prize-trophy.png" alt="">
        <h1>GOLDEN TICKET
        </h1>
        <img class="info-btn" src="/assets/base/images/infomation.png" alt="" data-toggle="modal" data-target="#prize-rules-modal">
      </div>
      <div class="positions-holder">



        <div class="positions">
          <div class="number" [ngClass]="{'round': pos2 === '0', 'round2': pos3 === '0', 'short': positionLength === 1}" *ngIf="raceStarted === true">
            <img class="pos-img" [src]="'/assets/base/images/zavod/positions/' + pos1 + '.png'" alt="">
            <img class="pos-img" [ngClass]="{'moved': positionLength > 2}" [src]="'/assets/base/images/zavod/positions/' + pos2 + '.png'" alt="" *ngIf="positionLength > 1">
            <img class="pos-img" [src]="'/assets/base/images/zavod/positions/' + pos3 + '.png'" alt="" *ngIf="positionLength === 3">
            <img class="pos-end" [src]="'/assets/base/images/zavod/positions/' + posEnding + '.png'" alt="">
          </div>
        </div>
      </div>

    </div>

    <div class="car_rc" id="photoMe">
      <div id="transparent-bg">
        <div id="time-wrapper">
          <div class="timer full" *ngIf="raceFinished === false && raceStarted === true && endsIn > 0">
            <app-timer [value]="endsIn" ></app-timer>
          </div>
  
          <div class="timer empty" *ngIf="raceStarted === false">
            <app-timer [value]="startsIn"></app-timer>
            <p class="desc">{{'fuel_car.race_starts' | translate}}</p>
          </div>
  
          <div class="timer" *ngIf="raceFinished === true"><p>{{'race.race_ended' | translate}}</p></div>
        </div>

        <div id="hub" *ngIf="raceData?.me?.s">
          <p>{{raceData?.me?.s | number:'1.4-4':'fr'}}%</p>
        </div>

        <div id="hub" *ngIf="!raceData?.me?.s">
          <p>0,0000%</p>
        </div>

      </div>
      <div class="still-road" [hidden]="raceStarted === true  && raceFinished === false && raceData?.race[0]"  [ngStyle]="{'background-image': 'url(assets/base/images/motive/cesta0.png)'}">&nbsp;</div>
      <div class="moving-road" [hidden]="raceFinished === true || raceStarted === false || !raceData?.race[0]" [ngStyle]="{'background-image': 'url(assets/base/images/motive/cesta0.png)'}">
        <div class="etap-tunnel" [hidden]="etapTunnel === false" 
          [ngClass]="{'started': etapTunnelActive === true, 'race-finished': raceFinished === true}">
          <img src="assets/base/images/ioi-tunnel.png" alt="">
          <span [hidden]="currentLap === 12 || raceData.race_progress === 100"
            class="current-lap">{{currentLap}}/12</span>
          <span [hidden]="currentLap < 12 || raceData.race_progress === 100" class="current-lap">{{'race.final_round_tunel' | translate}}</span>
        </div>
      </div>
      <div class="cr_cars_box" [hidden]="raceStarted === true">

        <div class="car_row" [ngStyle]="{'left': raceDataildata?.race[0]?.rp + '%'}"
        *ngIf="raceStarted === false && raceDataildata?.race_progress === 0 && raceDataildata?.race[0]">
          <span class="stay-name">
            {{raceDataildata?.race[0].n | slice:0:7}}
            </span>
          <div class="car" [ngClass]="'car-' + raceDataildata?.race[0].c">

          </div>
        </div>
        <div class="car_row" [ngStyle]="{'left': raceDataildata?.race[1]?.rp + '%'}"
          *ngIf="raceStarted === false && raceDataildata?.race_progress === 0 && raceDataildata?.race[1]">
          <span class="stay-name">
            {{raceDataildata?.race[1].n | slice:0:7}}
            </span>
          <div class="car" [ngClass]="'car-' + raceDataildata?.race[1].c">

          </div>
        </div>
        <div class="car_row" [ngStyle]="{'left': raceDataildata?.race[2]?.rp + '%'}"
          *ngIf="raceStarted === false && raceDataildata?.race_progress === 0 && raceDataildata?.race[2]">
          <span class="stay-name">
            {{raceDataildata?.race[2].n | slice:0:7}}
            </span>
          <div class="car" [ngClass]="'car-' + raceDataildata?.race[2].c">

          </div>
        </div>
        <div class="car_row" [ngStyle]="{'left': raceDataildata?.race[3]?.rp + '%'}"
          *ngIf="raceStarted === false && raceDataildata?.race_progress === 0 && raceDataildata?.race[3]">
          <span class="stay-name">
            {{raceDataildata?.race[3].n | slice:0:7}}
            </span>
          <div class="car" [ngClass]="'car-' + raceDataildata?.race[3].c">

          </div>
        </div>
        <div class="final_line">
          <img src="/assets/base/images/zavod/finish-line.png" alt="">
        </div>
      </div>

      <div class="cr_cars_box" *ngIf="raceStarted === true">
        <div class="car_row" [ngStyle]="{'left': raceData?.race[0]?.rp + '%'}" *ngIf="raceData?.race[0]">
          <span class="visible-stats"><b class="position " [ngClass]="'place-' + raceData?.race[0]?.cpr">{{raceData?.race[0]?.cpr}}</b>
            {{raceData?.race[0].n | slice:0:7}}<br><span
              [ngClass]="raceData?.race[0].s > 0 ? 'blue-value' : 'red-value'">{{raceData?.race[0].s | number:'1.4-4':'fr'}}
              %</span>
            </span>
            <div class="car-currs hovered-stats" [ngClass]="raceData?.race[0].rp > 15 ? 'position-left' : 'position-right'">
              <div class="one-curr" *ngFor="let item of raceData?.race[0]?.b">
                <span *ngIf="item.bet > 0"><img class="curr-logo" src="/assets/base/images/curr-logos/{{item.symbol}}-logo.png" alt=""></span>
                <span *ngIf="item.bet > 0"> {{item.bet}}%</span>
              </div>
            </div>
          <div class="car" [ngClass]="'car-' + raceData?.race[0].c">
          </div>
        </div>

        <div class="car_row" [ngStyle]="{'left': raceData?.race[1]?.rp + '%'}" *ngIf="raceData?.race[1]">
          <span class="visible-stats"><b class="position" [ngClass]="'place-' + raceData?.race[1]?.cpr">{{raceData?.race[1]?.cpr}}</b>
            {{raceData?.race[1].n | slice:0:7}}<br><span
              [ngClass]="raceData?.race[1].s > 0 ? 'blue-value' : 'red-value'">{{raceData?.race[1].s | number:'1.4-4':'fr'}}
              %</span>
            </span>
            <div class="car-currs hovered-stats" [ngClass]="raceData?.race[1].rp > 15 ? 'position-left' : 'position-right'">
              <div class="one-curr" *ngFor="let item of raceData?.race[1].b">
                <span *ngIf="item.bet > 0"><img class="curr-logo" [src]="'/assets/base/images/curr-logos/'+item.symbol+'-logo.png'" alt=""></span>
                <span *ngIf="item.bet > 0"> {{item.bet}}%</span>
              </div>
            </div>
          <div class="car" [ngClass]="'car-' + raceData?.race[1].c">

          </div>
        </div>


        <div class="car_row" [ngStyle]="{'left': raceData?.race[2]?.rp + '%'}" *ngIf="raceData?.race[2]">
          <span class="visible-stats"><b class="position" [ngClass]="'place-' + raceData?.race[2]?.cpr">{{raceData?.race[2]?.cpr}}</b>
            {{raceData?.race[2].n | slice:0:7}}<br><span
              [ngClass]="raceData?.race[2].s > 0 ? 'blue-value' : 'red-value'">{{raceData?.race[2].s | number:'1.4-4':'fr'}}
              %</span>
            </span>
            <div class="car-currs hovered-stats" [ngClass]="raceData?.race[2].rp > 15 ? 'position-left' : 'position-right'">
              <div class="one-curr" *ngFor="let item of raceData?.race[2].b">
                <span *ngIf="item.bet > 0"><img class="curr-logo" [src]="'/assets/base/images/curr-logos/'+item.symbol+'-logo.png'" alt=""></span>
                <span *ngIf="item.bet > 0"> {{item.bet}}%</span>
              </div>
            </div>
          <div class="car" [ngClass]="'car-' + raceData?.race[2].c">

          </div>
        </div>
        <div class="car_row" [ngStyle]="{'left': raceData?.race[3]?.rp + '%'}" *ngIf="raceData?.race[3]">
          <span class="visible-stats"><b class="position"
              [ngClass]="'place-' + raceData?.race[3]?.cpr + '-place'">{{raceData?.race[3]?.cpr}}</b>
            {{raceData?.race[3]?.n | slice:0:7}}<br><span
              [ngClass]="raceData?.race[3]?.s > 0 ? 'blue-value' : 'red-value'">{{raceData?.race[3]?.s | number:'1.4-4':'fr'}}
              %</span>
            </span>
            <div class="car-currs hovered-stats" [ngClass]="raceData?.race[3]?.rp > 15 ? 'position-left' : 'position-right'">
              <div class="one-curr" *ngFor="let item of raceData?.race[3].b">
                <span *ngIf="item.bet > 0"><img class="curr-logo" [src]="'/assets/base/images/curr-logos/'+item.symbol+'-logo.png'" alt=""></span>
                <span *ngIf="item.bet > 0"> {{item.bet}}%</span>
              </div>
            </div>
          <div class="car" [ngClass]="'car-' + raceData?.race[3]?.c">

          </div>
        </div>
        <div class="final_line">
          <img src="/assets/base/images/zavod/finish-line.png" alt="">
        </div>
      </div>

    </div>

    <div class="race-bottom-nav">
      <div class="race-type" *ngIf="raceFinished === false" [ngClass]="{'small': raceDataildata?.tournament_id !== null || raceDataildata?.new_race_type === 'golden_ticket'}">
        <div class="rules" data-toggle="modal" [attr.data-target]="'#' + raceDataildata?.race_identifier">
          <img src="/assets/base/images/infomation.png" alt="">
          <p>RULES</p>
        </div>
        <p>30 SEC RACE </p>
        <p class="bet-amount">{{ 'race.type.' + raceDataildata?.race_identifier | translate }}</p>
      </div>

      <div class="link-btns" [ngClass]="{'small': raceData?.me !== null && raceDataildata?.tournament_id === null && raceFinished === true || 
        raceFinished === true && raceDataildata?.tournament_id !== null && raceDataildata?.my_cars?.length > 0}" [hidden]="showFinalModal === true">
        
        <button class="new_cta-button" *ngIf="raceFinished !== true" (click)="showChat = !showChat" [ngClass]="showChat === true ? 'active' : ''">{{'race.my_fuel' | translate}}</button>

        <button class="new_cta-button" (click)="showPositions = !showPositions" 
        [ngClass]="showPositions === true ? 'active' : ''" *ngIf="raceFinished !== true && raceDataildata?.tournament_id === null">{{'race.positions' | translate}}</button>

        <button class="cta-button" (click)="showPositions = !showPositions" 
        [ngClass]="showPositions === true ? 'active' : ''" *ngIf="raceFinished === true && raceDataildata?.tournament_id !== null">{{'start-race.players' | translate}}</button>

        <button class="new_cta-button active znova" (click)="repeatSignup()"
        *ngIf="raceFinished === true && raceData?.me !== null && raceDataildata?.tournament_id === null && raceFinished === true && nextRaceHash">{{'race.repeat' | translate}}</button>

        <button class="new_cta-button znova" [routerLink]="['/car/fuel-car/' + raceDataildata?.race_identifier]" 
        *ngIf="raceFinished === true && raceData?.me !== null && raceDataildata?.tournament_id === null && raceFinished === true">{{'race.refuel' | translate}}</button>


      </div>
      
      <div class="best-position">
        <p>{{'race.best_position' | translate}} <span>{{raceData?.me?.cpr}}/{{raceDataildata?.players_count}}</span></p>
      </div>
    </div>
    <div class="car_rc_time" #myBet [ngClass]="showBet === true ? 'visible' : 'invisible'">

      <button class="no-car-fuel" *ngIf="raceDataildata?.my_cars?.length === 0">
        <img src="../../../../assets/base/images/icons/nitro-red.png" alt="">
        <div class="start-race">
          <img src="/assets/base/images/button-play.png" alt="Lets play" (click)="play()">
        </div>
      </button>

      <div class="light_icon">

        <button *ngIf="raceDataildata?.my_cars?.length > 0">
          <img src="../../../../assets/base/images/zavod/light_icon.png" alt="">
        </button>

      </div>
    </div>

   
    


  </div>
</div>



<div id="shutter" [ngClass]="shooting === true ? 'on' : 'off'">&nbsp;</div>
<div class="semafor-wrap" [hidden]="semaforsVisible === false" [ngClass]="{'visible': semaforsVisible === true}">
  <div class="semafor-group semafor1" [hidden]="secondSemafor === true || thirdSemafor === true">
    <img src="/assets/base/images/zavod/positions/3-big.png" alt="">
  </div>
  <div class="semafor-group semafor2" [hidden]="firstSemafor === true || thirdSemafor === true">
    <img src="/assets/base/images/zavod/positions/2-big.png" alt="">
  </div>
  <div class="semafor-group semafor3" [hidden]="firstSemafor === true || secondSemafor === true">
    <img src="/assets/base/images/zavod/positions/1-big.png" alt="">
  </div>
</div>

<div class="winning-modal end-race-stats" [hidden]="winnersList.length === 0 || showFinalModal === false">
  <div class="new-modal-bg">
    <div class="close-button-cross" (click)="showFinalModal = false"></div>
    <div class="new-modal-left-side">
      <div class="content-center-modal">
        <h2>{{'race.race_is_over' | translate}}</h2>
        <h3 [hidden]="winnersList[raceData?.me?.cpr]?.amount">{{'race.diss_by_loss' | translate}}</h3>
        <h3 [hidden]="!winnersList[raceData?.me?.cpr]?.amount">{{'race.cong_you_won' | translate}}</h3>
        <div [hidden]="!winnersList[raceData?.me?.cpr]?.amount" class="my-rewards">{{winnersList[raceData?.me?.cpr]?.amount}}
          <span *ngIf="winnersList[raceData?.me?.cpr]?.amount && raceDataildata?.new_race_type === 'car_race_ioi'">{{'shared.ioi' | translate}}</span>
          <span *ngIf="winnersList[raceData?.me?.cpr]?.amount && raceDataildata?.new_race_type !== 'car_race_ioi'">{{'shared.trx' | translate}}</span>
       </div>
        <p>{{'race.increase_win1' | translate}}<br>{{'race.increase_win2' | translate}}</p>
        
        <div id="features-like-button">
          <div class="team">{{'shared.layout.team' | translate}}</div>
          <div class="garage">{{'shared.layout.garage' | translate}}</div>
          <div class="reward">{{'shared.layout.reward' | translate}}</div>
        </div>

        <div id="modal-controll-button">
          <button class="new_cta-button active" (click)="repeatSignup()">{{'race.repeat' | translate}}</button>
          <button class="new_cta-button active dark" [routerLink]="['/car/fuel-car/' + raceDataildata?.race_identifier]">{{'race.refuel' | translate}}</button>
        </div>

      </div>
      
    </div>

    <div class="new-modal-right-side">
      <ul>
        <li  *ngIf="winnersList.length > 0" [ngClass]="{'selected-player': raceData?.me?.cpr == 1}">
          <div class="position position-1">
            <b>1</b>
          </div>
          <div class="name">{{winnersList[0].nickname}}</div>
          <div class="return-coin">{{winnersList[0]?.amount}} 
            <span *ngIf="raceDataildata?.new_race_type === 'car_race_ioi'">{{'shared.ioi' | translate}}</span>
            <span *ngIf="raceDataildata?.new_race_type !== 'car_race_ioi'">{{'shared.trx' | translate}}</span>
          </div>
        </li>
        <li *ngIf="winnersList.length > 1" [ngClass]="{'selected-player': raceData?.me?.cpr == 2}">
          <div class="position position-2">
            <b>2</b>
          </div>
          <div class="name">{{winnersList[1].nickname}}</div>
          <div class="return-coin">{{winnersList[1]?.amount || 0}} 
            <span *ngIf="raceDataildata?.new_race_type === 'car_race_ioi'">{{'shared.ioi' | translate}}</span>
            <span *ngIf="raceDataildata?.new_race_type !== 'car_race_ioi'">{{'shared.trx' | translate}}</span>
          </div>
        </li>
        <li *ngIf="winnersList.length > 2" [ngClass]="{'selected-player': raceData?.me?.cpr == 3}">
          <div class="position position-3">
            <b>3</b>
          </div>
          <div class="name">{{winnersList[2].nickname}}</div>
          <div class="return-coin">{{winnersList[2]?.amount || 0}} 
            <span *ngIf="raceDataildata?.new_race_type === 'car_race_ioi'">{{'shared.ioi' | translate}}</span>
            <span *ngIf="raceDataildata?.new_race_type !== 'car_race_ioi'">{{'shared.trx' | translate}}</span>
          </div>
        </li>
        <li *ngIf="winnersList.length > 3" [ngClass]="{'selected-player': raceData?.me?.cpr == 4}">
          <div class="position position-next">
            <b>4</b>
          </div>
          <div class="name">{{winnersList[3].nickname}}</div>
          <div class="return-coin">{{winnersList[3]?.amount || 0}} 
            <span *ngIf="raceDataildata?.new_race_type === 'car_race_ioi'">{{'shared.ioi' | translate}}</span>
            <span *ngIf="raceDataildata?.new_race_type !== 'car_race_ioi'">{{'shared.trx' | translate}}</span>
          </div>
        </li>
        <li  *ngIf="winnersList.length > 4" [ngClass]="{'selected-player': raceData?.me?.cpr == 5}">
          <div class="position position-next">
            <b>5</b>
          </div>
          <div class="name">{{winnersList[4].nickname}}</div>
          <div class="return-coin">{{winnersList[4]?.amount || 0}} 
            <span *ngIf="raceDataildata?.new_race_type === 'car_race_ioi'">{{'shared.ioi' | translate}}</span>
            <span *ngIf="raceDataildata?.new_race_type !== 'car_race_ioi'">{{'shared.trx' | translate}}</span>
          </div>
        </li>
      </ul>
      <div class="experience-bar">
        <div class="your-position">{{'race.your_position' | translate}} <span class="pink-color">{{raceData?.me?.cpr}} {{posEnding}}</span></div>
        <div class="experiences-title">{{'profile.experiences' | translate}}</div>
        <div class="progress-bar-wrapper">
          <div class="progress-bar" [ngStyle]="{'width': progressBarPercentage+'%'}"></div>
        </div>
      </div>
      <div class="experience-legent">
        <span>{{previousLevelExp}}</span>
        <span>{{currentExpLevel}}</span>
        <span>{{nextLevelExp}}</span>
      </div>

      <div id="modal-controll-button-2">
        <button class="new_cta-button active" (click)="repeatSignup()">{{'race.repeat' | translate}}</button>
        <button class="new_cta-button active dark" [routerLink]="['/car/fuel-car/' + raceDataildata?.race_identifier]">{{'race.refuel' | translate}}</button>
      </div>
    </div>





  </div>
</div>


<!-- MODALS -->

<app-prize-rules-modal [type]="raceDataildata?.new_race_type"></app-prize-rules-modal>

<!--<app-hint-tips-modal *ngIf="showHints === true"></app-hint-tips-modal>-->

<div class="modal fade" id="car_race_24hrs_1000" tabindex="-1" role="dialog" aria-labelledby="bet 1 000 TRX info" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered my-modal-dialog" role="document">
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'modals.heading.golden_race' | translate}}</h5>
        <button type="button" class="close my-modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="assets/rewards/X-modal.png" alt=""></span>
        </button>
      </div>
      <div class="modal-body">
          <p> 
            {{'modals.text.golden_race' | translate}}
          </p>
      </div>
    </div>
  </div>
</div>