<div class="step-holder">

  <h1 class="top-heading">Please complete your verification by entering verification code sent to you email address</h1>

  <div class="form-holder">
    <form action="#" autocomplete="off">
      <div class="input-holder">
        <div class="dummy"></div>
        <input data-bn-type="input" [(ngModel)]="myCode"  [ngModelOptions]="{standalone: true}" aria-label="Verify code" type="text" name="verify-code" placeholder="Enter code" value="">
      </div>
      <div class="next-btn">
        <button data-bn-type="button" type="submit" (click)="tryActivation()" [disabled]="myCode.length < 5">Confirm</button>
      </div>
      <p class="resend-text">Didn’t receive the code? <span (click)="resendActivation()">Resend code now.</span></p>
    </form>
  </div>
</div>