<div class="modal-holder">
  <div class="login-back-div">
    <div class="login-back"></div>
  </div>
  <div class="login-content">
    <div class="step-holder">
      <h1 class="top-heading">
        Please complete your verification by entering verification code sent to
        you email address
      </h1>

      <div class="form-holder">
        <form action="#" autocomplete="off">
          <div
            class="my-input"
            [ngClass]="{ filled: myCode !== '' && myCode !== undefined }"
            #activationcode
          >
            <img src="/assets/base/images/lock-icon.svg" alt="" class="icon" />
            <input
              data-bn-type="input"
              [(ngModel)]="myCode"
              [ngModelOptions]="{ standalone: true }"
              aria-label="Verify code"
              type="text"
              name="verify-code"
              minlength="6"
              maxlength="6"
              value=""
            />
            <span class="input-placeholder">Enter code</span>
          </div>
          <div class="next-btn">
            <button
              *ngIf="loading === false"
              data-bn-type="button"
              type="submit"
              (click)="tryActivation()"
              [disabled]="myCode.length < 5"
            >
              Confirm
            </button>
            <button
              *ngIf="loading === true"
              data-bn-type="button"
              type="submit"
              disabled
            >
              Loading..
            </button>
          </div>
          <p class="resend-text">
            Didn’t receive the code?
            <span (click)="resendActivation()">Resend code now.</span>
          </p>
          <p class="resend-text">
            <span (click)="signout()">Or sign out, and do it later.</span>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
