.background-black {
  background-color: black;
}

.main{
  position: unset;
}

.background-black {
  background-color: black;
}

.main{
  position: unset;
  .cont-holder{
    width: 100%;
  }
}

.icon-button {
  background: transparent;
  border: 0;
  padding: 0;
  color: white;
}

.my-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 4.5%;
  background: #111111;
  box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000000;
  &.high-index{
    z-index: 1000003;
  }
  .nav-logo{
    cursor: pointer;
    width: 80px;
  }
  .items-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 100%;
    position: relative;
    .menu-item{
      width: 20%;
      height: 100%;
      cursor: pointer;
      position: relative;
      &:hover{
        p{
          opacity: .8;
        }
      }
      &.active{
        p{
          opacity: 1;
          font-weight: 600;
        }
      }
      &.item1{
        &.active ~ .menu-border{
          left: 0;
        }
      }
      &.item2{
        &.active ~ .menu-border{
          left: 20%;
        }
      }
      &.item3{
        &.active ~ .menu-border{
          left: 40%;
        }
      }
      &.item4{
        &.active ~ .menu-border{
          left: 60%;
        }
      }
      &.item5{
        &.active ~ .menu-border{
          left: 80%;
        }
      }
      p{
        font-size: 14px;
        font-weight: 400;
        opacity: .4;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        transition: .2s;
        text-transform: uppercase;
      }
    }
    .menu-border{
      position: absolute;
      bottom: 0;
      width: 20%;
      height: 2px;
      background: white;
      border-radius: 5px;
      transition: .2s;
    }
  }
  .overview{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .online-box{
      margin-right: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      border-radius: 15px;
      width: 160px;
      img{
        margin-right: 10px;
      }
      p{
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        &.desc{
          margin-left: 20px;
        }
      }
    }
    .my-mobile-button{
      width: 33px;
      height: 24px;
      position: relative;
      margin: 0 10px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      display: none;
      span{
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }
      span:nth-child(1) {
        top: 0px;
      }
      span:nth-child(2),span:nth-child(3) {
        top: 10px;
      }
      span:nth-child(4) {
        top: 20px;
      }
      &.open{
        span:nth-child(1) {
          top: 10px;
          width: 0%;
          left: 50%;
        }
        span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        span:nth-child(4) {
          top: 10px;
          width: 0%;
          left: 50%;
        }
      }
    }
  }
  .lang-switcher{
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 40px 0 20px;
  }
  .mode-switcher{
    width: 50px;
    height: 20px;
    border-radius: 20px;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
    margin-right: 20px;
    &.racer{
      .inner{
        left: 0;
      }
    }
    &.manager{
      .inner{
        left: calc(100% - 20px);
      }
    }
    .inner{
      position: absolute;
      transition: .2s;
      top: 0;
      height: 100%;
      width: 20px;
      border-radius: 50%;
    }
  }
  .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .profile-img{
      box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.6);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: relative;
      margin-right: 15px;
      cursor: pointer;
      overflow: hidden;
      img{
        max-width: 90%;
        max-height: 90%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
    .profile-stats{
      width: 165px;
      p{
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        &.stats{
          font-size: 16px;
          font-weight: 400;
          opacity: .6;
        }
      }
    }
  }
  .balance-switcher{
    margin-right: 40px;
    .switch-box{
      cursor: pointer;
      &.active{
        img{
          display: none;
          &.active{
            display: block;
          }
        }
      }
      img{
        display: block;
        &.active{
          display: none;
        }
      }
    }
  }
  .meta-balance-holder{
    min-width: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    .ioi-box{
      margin-right: 20px;
      padding: 15px 20px;
      border-radius: 15px;
      p{
        margin: 0;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .address-box{
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #111111;
      border-radius: 15px;
      p{
        font-size: 14px;
        font-weight: 400;
        margin: 0;
      }
      .my-eth{
        padding: 15px 20px;
      }
      .my-address{
        padding: 1px 0 0 1px;
        border-radius: 15px;
        position: relative;
        cursor: pointer;
        .inner{
          border-radius: 15px;
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), #111111;
          padding: 15px 20px;
          position: relative;
          z-index: 1;
          text-align: center;
          &.clicked{
            z-index: 2;
            opacity: 0;
            transition: 0.5s;
            position: absolute;
            top: 1px;
            left: 1px;
            width: 100%;
            &.animate{
                transition: 0s;
                opacity: 1;
            }
        }
        }
      }
    }
  }
  .deposit-btn{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 17px 26px;
    box-shadow: 0px 0px 20px rgba(254, 23, 63, 0.4);
    border-radius: 15px;
    color: white;
    border: none;
    opacity: 1;
    outline: none;
  }
}
.waiting-popup-holder{
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1000002;
}
.mobile-nav{
  display: none;
}

.icon-button {
  background: transparent;
  border: 0;
  padding: 0;
  color: white;
}

.main .wallet {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 80px 0 0;
}

.main .wallet .icon-button {
  margin-right: 10px;
  display: flex;
}

.main .wallet .icon-button .icon {
  width: 14px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .wallet .coin {
  color: #ff00ff;
  font-size: 14px;
}

.main .wallet .coin .amount {
  color: white;
  font-size: 14px;
  background-color: #1a0013;
  border-radius: 5px;
  padding: 0 5px;
}

.team-bonus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 -20px;
  padding: 0 65px 0 160px;
  width: 100%;
}

.team-bonus .label {
  color: white;
  font-size: 12px;
  color: #c1c1c1;
}


.logo {
  width: 50%;
  height: auto;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  pointer-events: all;
}

.content-header-border-wrap {
  flex: 1;
  margin-top: 15px;
}

.content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.content-header.item-list {
  display: flex;
  flex-direction: row;
  border-width: 1px 0;
  border-style: solid;
  -o-border-image: linear-gradient(
      to right,
      black,
      #ff00ff,
      #ff00ff,
      #ff00ff,
      black
    )
    1;
     border-image: linear-gradient(
      to right,
      black,
      #ff00ff,
      #ff00ff,
      #ff00ff,
      black
    )
    1;
}

.content-header.item:not(:first-child) {
  border-width: 0 0 0 1px;
  border-style: solid;
  -o-border-image: linear-gradient(
      to bottom,
      black,
      black,
      #ff00ff,
      #ff00ff,
      #ff00ff,
      black,
      black
    )
    1;
     border-image: linear-gradient(
      to bottom,
      black,
      black,
      #ff00ff,
      #ff00ff,
      #ff00ff,
      black,
      black
    )
    1;
}

.content-header.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  color: white;
  background-color: black;
  height: 130px;
  padding: 20px 0;
  position: relative;
  border: 0;
}

.content-header.item .button.primary {
  padding: 12px 34px;
  font-size: 18px;
}

.content-header.item .content {
  margin-bottom: 5px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
}

.content-header.item .text {
  font-size: 14px;
  margin-bottom: 5px;
}

.content-header.item .label {
  font-size: 18px;
}

.content-header.item .icon-group {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-header.item .icon {
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.profile-button{
  position: relative;
  z-index: 10;
  margin-right: 17px;
  .profile-info{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .profile-img{
      max-width: 43px;
      max-height: 43px;
      position: relative;
      top: -2px;
      box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.6);
      background-color: #000000;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(42, 90, 130, 0.29) 100%);
      border-radius: 3px;
      overflow: hidden;
      img{
        // object-fit: cover;
        height: 100%;
        width: auto;
      }
    }
    .profile-stats{
      p{
        margin: 0 0 0 15px;
        &.name{
          background-image: linear-gradient(to bottom, #e3eaf0 0%, #d3dee7 100%);
          background-clip: text;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
          color: #ffffff;
          font-size: 16px;
          line-height: 1.2;
        }
        &.level{
          background-image: linear-gradient(to bottom, #e3eaf0 0%, #d3dee7 100%);
          background-clip: text;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
          font-size: 17px;
          font-weight: 500;
          line-height: 1;
          &.level1{
            color: #00fff0;
          }
          &.level2{
            color: white;
          }
          &.level3{
            color: #eeff00;
          }
          &.level4{
            color: #fc00ff;
          }
        }
      }
    }
  }
  &:hover + .logout-button{
    opacity: 1 !important;
    z-index: 10001 !important;
  }
}

.ticket-ico{
  margin-right: 18px;
  cursor: pointer;
  position: relative;
  z-index: 3;
  max-width: 42px;
  .number-ind{
    font-size: 10px;
    background-color: #ca1a1a;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    transform: translate(50%,-50%);
    width: 15px;
    height: 15px;
    text-align: center;
    font-weight: 700;
    color: white;
  }
  .desc{
    pointer-events: none;
    opacity: 0;
    transition: .3s;
    font-size: 15px;
    width: 109px;
    text-transform: uppercase;
    background-color: black;
    border: 1px solid #00fffc;
    border-radius: 5px;
    position: absolute;
    bottom: -10px;
    right: 0;
    margin: 0;
    transform: translateY(100%);
    text-align: center;
    font-weight: 700;
    color: white;
    line-height: 1;
    padding: 5px;
    .polygon{
      position: absolute;
      transform: rotate(90deg) translateX(-100%);
      top: -1px;
      width: 10px;
      right: 6px;
    }
  }
  &:hover{
    .desc{
      opacity: 1;
    }
  }
}
.team-chat-btn{
  margin-right: 18px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  opacity: 0.7;
  transition: .2s;
  &:hover{
    opacity: 0.8;
  }
}

.side-nav.item.active {
  background-color: #00ffff;
  .label{
    color: black;
    font-weight: bold;
  }
}
.side-nav.item:focus{
  box-shadow: -1px -1px 10px 1px rgba(0, 255, 255, 0.1);
}

app-root {
  width: 100%;
}

.team-bonus,
.wallet,
.content-header .icon-group {
  display: none !important;
}

.main-content-header {
  position: relative;
  top: 0;
  /* left: 0; */
  background-color: #000;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
}

.main-content {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  padding-top: 0;
  width: 100%;
  padding-right: 0;
  margin-right: 0;
  flex: inherit;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.logout-button button {
  background: black;
  color: white;
  border: 1px solid #ff00ff;
  border-radius: 3px;
  padding: 5px 2px;
  transition: box-shadow 0.3s;
  width: 48%;
  &:hover{
    box-shadow: 1px 1px 3px 0px #ff00ff;
  }
}
.logout-button {
  position: absolute;
  top: 65px;
  right: 5px;
  width: 134px;
  max-width: 134px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  .social-buttons{
    width: 100%;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    a{
      text-decoration: none;
      opacity: 0.8;
      transition: 0.2s;
      img{
        width: 25px;
        padding: 3px;
      }
      &:hover{
        opacity: 1;
      }
    }
  }
}

.info-item {
  width: 75px;
  height: 15px;
  color: #ffffff;
  font-family: Oswald;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.button-group {
  width: 350px !important;
  margin: 0 auto !important;
  padding: 0 !important;
}
.ion-page {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: inherit;
  contain: inherit;
}

.main {
  background-color: #141414;
  margin: 0 auto;
}



.main-content .sub-content {
  background-color: transparent;
}

.ad-popup{
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 1000000;
  .backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9;
    background: rgba(17, 17, 17, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: .4s;
    &.opened{
      opacity: 1;
      z-index: 9;
      pointer-events: all;
    }
  }
  .ticket-holder{
    position: absolute;
    bottom: 20px;
    left: 190px;
    width: 700px;
    height: 377px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    overflow: hidden;
    transition: .4s;
    z-index: 100000;
    background: #111111;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
    pointer-events: all;
    &.opened{
      max-width: 700px;
      max-height: 377px;
      border-radius: 20px;
      .closed-elipse{
        opacity: 0;
        z-index: -5;
        pointer-events: none;
        transition-delay: 0s;
      }
    }
    .closed-elipse{
      width: 100px;
      height: 100px;
      position: absolute;
      z-index: 10;
      left: 0;
      bottom: 0;
      border-radius: 50%;
      background: #111111;
      box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.9);
      opacity: 1;
      pointer-events: all;
      cursor: pointer;
      transition: .2s;
      transition-delay: .3s;
      p{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        text-align: center;
        color: white;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
      }
    }
    .content-holder{
      width: 700px;
      height: 377px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 5;
      padding: 10px 10px 40px 40px;
      .close-icon{
        width: 100%;
        text-align: right;
        img{
          cursor: pointer;
        }
      }
      .back-img{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
      }
      p{
        margin: 0;
        color: white;
        font-weight: 400;
        &.heading{
          font-size: 30px;
          font-weight: 600;
          margin-top: 30px;
        } 
        &.subheader{
          font-size: 30px;
        }
        &.text{
          margin-top: 20px;
          font-size: 18px;
          max-width: 440px;
          span{
            font-weight: 600;
          }
        }
      }
      .bottom-cont{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 55px;
        button{
          color: #ffffff;
          font-size: 18px;
          text-shadow: none;
          text-transform: uppercase;
          font-weight: 600;
          transition: 0.3s;
          background: linear-gradient(250.32deg, #EB2163 22.61%, #950552 85.16%), #333333;
          box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          padding: 11px 65px;
        }
        p{
          font-size: 15px;
          margin-left: 20px;
          opacity: .4;
          font-weight: 400;
          span{
            font-weight: 600;
          }
        }
      }
    }
  }
}

.landscape-view {
  display: none;
  margin: 0 auto;
}

.landscape-view .use {
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 60px;
  margin-top: 100px;
}

.landscape-view .soon {
  color: #cfcfcf;
  text-align: center;
  padding: 20px;
  font-size: 40px;
  margin-top: 100px;
}

.edit-adress-wrap {
  width: 75%;
  margin: 10px auto;
}
.modal-body {
  .middle-part {
    display: flex;
    align-items: center;
    span {
      font-size: 14px;
      line-height: 33px;

      width: 75px;
      height: 33px;
      @media screen and (max-width: 640px) {
        width: 60px;
      }
    }
  }
  .qr-code {
    img {
      width: 180px;
      margin: 0 auto;
    }
  }
  .button {
    background-image: url("/assets/base/images/leaderboard/btn-back.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;

    text-decoration: none;
    color: white;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: white;
      background-image: url("/assets/base/images/leaderboard/btn-back-active.png");
    }
  }
  .deposit-adress {
    text-align: center;
    .button {
      width: 115px;
      height: 46px;
      line-height: 46px;
      margin: 0 auto;
    }
    .transfer-text-input {
      width: 80%;
      margin: 20px 0 15px 0;
      text-align: center;
    }
  }
  .timer {
    text-align: center;
    p {
      margin: 15px;
      color: white;
    }
  }
  .final-ammount {
    p {
      margin-bottom: 10px;
      font-size: 22px;
      color: white;
      .ioi-logo {
        width: 40px;
        vertical-align: baseline;
      }
      .trx-logo {
        width: 22px;
        vertical-align: baseline;
      }
    }
  }
  .right-part {
    .available-balance {
      position: absolute;
      bottom: -30px;
      left: 0;
      color: #00c8fe;
      font-size: 0.9rem;
      span {
        color: white;
      }
    }
  }
}
.avaliable {
  color: white;
}

@media (min-width: 640px) {
  .modal-dialog {
    max-width: 534px;
    margin: 1.75rem auto;
  }
}
.my-modal-content--tokens {
  background: url("/assets/base/images/paymant-modal-back.png"),
    rgba(0, 0, 0, 0.9);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  height: 530px;
}
.my-modal-content--tokens .modal-header {
  border-bottom: none;
  padding: 20px 1rem;
  text-align: center;
}
.my-modal-content--tokens .my-modal-close {
  opacity: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-header h2 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

.modal-header h2 {
  display: block;
  width: 100%;
}

.modal-body {
  padding: 0.4rem 1.5rem;
  text-align: center;
}

.transfer-item {
  display: flex;
  justify-content: space-between;
  padding: 0.9rem 0.2rem;
  .left-part.token-type {
    width: 30%;
  }
  .ion-item {
    width: 100%;
    max-height: 36px;
    margin-top: 0.5rem;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    border-radius: 4px;
    --background: transparent;
    border: 1px solid #00c8fe;
    --padding-start: 0;
    .ion-select {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      min-height: 34px;
      min-width: 100%;
      box-sizing: border-box;
      color: #00c8fe;
      padding-left: 16px;
      --placeholder-color: #00ffff;
      --placeholder-opacity: 0.2;
    }
  }
}
.transfer-item .left-part {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  margin-left: 5%;
}
.transfer-item .left-part img,
.transfer-item .left-part p {
  align-self: center;
  font-size: 1.1rem;
  color: #00c8fe;
  font-weight: 400;
}
.transfer-item .left-part p {
  margin-left: 0.7rem;
  margin-bottom: 2px;
}
.transfer-item .right-part {
  width: 50%;
  position: relative;
}

.transfer-text-input {
  width: 100%;
  padding: 6px 15px 6px 25px;
  border-radius: 5px;
  background-color: black;
  border: 1px solid #00c8fe;
  color: #00c8fe;
  text-transform: uppercase;
  cursor: pointer;
}
.transfer-text-input:focus {
  outline: none;
}
.avaliable {
  position: absolute;
  bottom: -25px;
  left: 0;
  font-weight: 400;
  font-size: 0.9rem;
}
.avaliable span {
  color: #00c8fe;
}

.confirm-modal-btn {
  display: block;
  width: 105px;
  position: absolute;
  left: 49.7%;
  transform: translateX(-50%);
  bottom: -43px;
}
.confirm-modal-btn img {
  width: 100%;
}

.my-modal-content--tokens {
  .deposit-warning {
    width: 100%;
    margin-top: 20px;
    h1,
    h2 {
      color: white;
      text-align: center;
      font-size: 17px;
    }
    h2 {
      color: #fd00f5;
    }
  }
  .modal-header {
    h2 {
      color: #fd00f5;
    }
  }
}
.modal-body {
  .crypto-adress {
    text-transform: none !important;
  }
  .com-soon {
    font-size: 32px;
    color: white;
  }
}
.logout-button button.menu-deposit-btn{
  width: 100%;
  font-size: 18px;
  margin-top: 7px;
  background-color: #ff00ff;
  color: black;
  font-weight: bold;
  border-radius: 3px;
  padding: 5px 7px;
  height: 40px;
  transition: box-shadow 0.3s;
}

.chat {
  position: fixed;
  bottom: 20px;
  width: 334px;
  height: 642px;
  z-index: 1000000;
  right: 30px;
}
button.xko {
  position: absolute;
  z-index: 1000000000;
  background: #3e3e3e;
  color: #828282;
  border-radius: 100%;
  border: 0;
  font-size: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  left: 310px;
}

.chat_button {
  width: 68px;
  height: 52px;
  position: relative;
  background: none;
  border: none;
  z-index: 100;
  margin-right: 9px;
}
.contents{
  -webkit-overflow-scrolling: touch;
  // padding-top: 50px;
  padding-left: 200px;
  .nitro-wallet-button{
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    margin: 10px auto;
    padding: 11px 7px;
    text-shadow: none;
    &::before{
      width: 198px;
      height: 70px;
      top: -10px;
      left: -26px;
    }
    &:hover{
      text-decoration: none;
      color: white;
    }
  }
}


.contents .side-nav.item-list .menu-holder{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
}

.contents{
  flex-wrap: wrap;
  .top-menu{
    width: 100%;
    // display: flex;
    display: none;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 0;
    position: relative;
    .my-balance{
      position: relative;
      z-index: 3;
      border-radius: 17px 60px 60px 17px;
      border: 1px solid #00fffc;
      background-color: #0c0c0c;
      margin: -12px 17px 9px 0;
      padding: 3px 60px 4px 2px;
      bottom: -8px;
      .balance{
        display: flex;
        justify-content: flex-end;
        img{
          margin-left: 7px;
        }
        span{
          color: white;
          font-size: 22px;
          line-height: 1;
          margin-left: 7px;
        }
        &.ioi{
          position: relative;
          right: -3px;
          img{
            width: 38px;
            position: relative;
            bottom: -2px;
            align-self: center;
          }
        }
        &.trx{
          margin-right: 18px;
          img{
            width: 18px;
            align-self: center;
          }
        }
      }
      .deposit-btn{
        width: 51px;
        height: 51px;
        box-shadow: 0 2px 4px rgba(64, 42, 42, 0.39);
        border: 1px solid #00fffb;
        background-color: #00fff0;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
        border-radius: 50%;
        position: absolute;
        right: -1px;
        top: 0px;
        cursor: pointer;
        p{
          font-size: 54px;
          line-height: 54px;
          color: white;
          margin: 0;
          position: absolute;
          left: 52%;
          top: 49%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .logout-button{
      z-index: -2;
      opacity: 0;
      transition: .2s;
      &:hover{
        opacity: 1;
        pointer-events: all;
        z-index: 10001;
      }
    }
  }
}

.verify-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
  background: #111111;
  z-index: 1000005;
  padding-bottom: 35px;
  .modal-holder{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    .modal-heading{
      margin: 50px 0 60px;
      text-align: center;
      width: 100%;
      h2{
        font-weight: 600;
        font-size: 36px;
        margin: 0 0 10px 0;
      }
      .desc{
        font-size: 16px;
        font-weight: 400;
        margin: 0;
      }
    }
    .panel-holder{
        transition: .2s;
        margin: 0 15px;
        box-shadow: 0px 0px 80px #000000;
        border-radius: 10px;
        max-width: 660px;
        position: relative;
        padding-bottom: 35px;
        .img-holder{
          border-radius: 10px 10px 0 0;
          overflow: hidden;
          img{
            transition: .2s;
            width: 100%;
          }
        }
        h1{
          text-align: center;
          font-size: 40px;
          margin: 0 0 30px;
          font-weight: 600;
        }
        .list-item{
            width: 96%;
            margin: 20px auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .icon-holder{
                min-width: 100px;
                width: 85px;
                text-align: center;
                height: 35px;
                img{
                  max-height: 100%;
                }
            }
            p{
                font-size: 16px;
                font-weight: 400;
                margin: 0;
                line-height: 1.3;
            }
        }
        &.racer{
            .panel-button{
              background: linear-gradient(99.76deg, #FE173F 117.01%, #240B36 187.56%), linear-gradient(28.03deg, #EB2163 13.39%, #950552 149.57%), linear-gradient(257.78deg, #2B16F7 -125.14%, #23FFFF 94.73%), #111111;
            }
        }
        .panel-button{
            font-size: 20px;
            font-weight: 400;
            margin: 0;
            padding: 15px 50px;
            background: linear-gradient(131.05deg, rgba(35, 255, 255, 0.4) -8.26%, rgba(36, 11, 54, 0) 64.39%), linear-gradient(263.4deg, #2B16F7 -265.56%, #23FFFF 80.48%), #111111;
            box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03), 2px 3px 10px rgba(0, 0, 0, 0.6);
            border-radius: 15px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%);
            cursor: pointer;
        }
    }
  }
  .panel-holder:hover{
    transform: translateY(-1%);
    .img-holder{
      img{
        transform: scale(1.07);
      }
    }
  }

  .teams-sec{
    margin-top: 20px;
    .modal-heading{
      margin: 50px 0 60px;
      text-align: center;
      width: 100%;
      h2{
        font-weight: 600;
        font-size: 36px;
        margin: 0 0 10px 0;
      }
      .desc{
        font-size: 16px;
        font-weight: 400;
        margin: 0;
      }
    }
    .content-holder{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .team-item{
            width: 33%;
            margin: 0 15px;
            max-width: 420px;
            background: #111111;
            box-shadow: 0px 0px 80px #000000;
            border-radius: 10px;
            padding: 20px 40px 100px;
            position: relative;
            .img-holder{
                text-align: center;
                margin: 4px 0 40px;
            }
            .heading{
                font-size: 32px;
                font-weight: 600;
                margin: 0 0 40px 0;
                text-align: center;
            }
            .reward-box{
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 60%;
                transform: translate(-50%, 50%);
                padding: 17px 5px;
                border-radius: 12px;
                font-size: 21px;
                margin: 0;
                font-weight: 500;
                background: linear-gradient(99.76deg, #FE173F 117.01%, #240B36 187.56%);
            }
        }
    }
  }

  @media screen and (max-width: 1700px){
    .modal-holder{
      .modal-heading{
        margin: 35px 0 40px;
        h2{
          font-size: 32px;
        }
        p{
          font-size: 15px;
        }
      }
      .panel-holder{
        max-width: 600px;
        h1{
          font-size: 36px;
          margin: 0 0 20px;
        }
        .list-item{
          margin: 15px auto;
        }
        .panel-button{
          padding: 12px 40px;
          font-size: 18px;
        }
      }
    }
  }
  @media screen and (max-width: 1550px){
    .modal-holder{
      .modal-heading{
        margin: 25px 0 30px;
        h2{
          font-size: 26px;
        }
        p{
          font-size: 14px;
        }
      }
      .panel-holder{
        max-width: 520px;
        h1{
          font-size: 30px;
          margin: 0 0 15px;
        }
        .list-item{
          margin: 13px auto;
          p{
            font-size: 14px;
          }
          .icon-holder{
            min-width: 75px;
            width: 75px;
            height: 30px;
          }
        }
        .panel-button{
          padding: 10px 30px;
          font-size: 16px;
        }
      }
    }
    .teams-sec{
      .content-holder{
          width: 90%;
          margin: 0 auto;
          .team-item{
              width: 30%;
              margin: 0 12px;
              max-width: 400px;
              padding: 10px 28px 60px;
              .img-holder{
                  margin: 4px 0 25px;
                  img{
                      width: 200px;
                  }
              }
              .heading{
                  font-size: 28px;
                  margin: 0 0 25px 0;
              }
              .reward-box{
                  padding: 15px 5px;
                  font-size: 18px;
              }
          }
      }
    }
  }
  @media screen and (max-width: 1200px){
    .modal-holder{
      justify-content: space-around;
      .modal-heading{
        margin: 20px 0 27px;
        h2{
          font-size: 22px;
        }
      }
      .panel-holder{
        max-width: 500px;
        width: 47%;
        margin: 0;
        h1{
          font-size: 26px;
          margin: 0 0 12px;
        }
        .list-item{
          margin: 11px auto;
          .icon-holder{
            min-width: 67px;
            width: 67px;
          }
        }
        .panel-button{
          font-size: 15px;
        }
      }
    }
    .teams-sec{
      .content-holder{
          .team-item{
              margin: 0 10px;
              max-width: 330px;
              padding: 6px 20px 50px;
              .img-holder{
                  margin: 2px 0 20px;
                  img{
                      width: 150px;
                  }
              }
              .heading{
                  font-size: 20px;
                  margin: 0 0 20px 0;
              }
              .reward-box{
                  padding: 11px 5px;
                  font-size: 16px;
              }
          }
      }
    }
  }
  @media screen and (max-width: 900px){
    .modal-holder{
      justify-content: center;
      max-width: 500px;
      margin: 0 auto;
      .modal-heading{
        margin: 20px 0 27px;
        h2{
          font-size: 22px;
        }
        .desc{
          font-size: 13px;
        }
      }
      .panel-holder{
        max-width: 95%;
        width: 95%;
        margin-bottom: 35px;
        &.racer{
          margin-bottom: 100px;
        }
        .img-holder{
          height: 200px;
          img{
            max-height: 100%;
            object-fit: cover;
          }
        }
        h1{
          font-size: 20px;
          margin: 15px 0 10px;
        }
        .list-item{
          margin: 10px auto;
          p{
            font-size: 13px;
          }
          .icon-holder{
            min-width: 65px;
            width: 65px;
            height: 25px;
          }
        }
        .panel-button{
          font-size: 14px;
        }
      }
    }
    .teams-sec{
      .content-holder{
          flex-wrap: wrap;
          .team-item{
              margin: 0 10px 50px;
              width: 100%;
              .img-holder{
                  margin: 2px 0 20px;
                  img{
                      width: 150px;
                  }
              }
              .heading{
                  font-size: 20px;
                  margin: 0 0 20px 0;
              }
              .reward-box{
                  padding: 11px 5px;
                  font-size: 15px;
              }
          }
      }
    }
  }
  @media screen and (max-width: 640px){
    .teams-sec{
      .content-holder{
          .team-item{
              max-width: 300px;
              .img-holder{
                  margin: 2px 0 5px;
                  img{
                      width: 125px;
                  }
              }
          }
      }
    }
  }
  @media screen and (max-width: 400px){
    .modal-holder{
      .modal-heading{
        margin: 10px auto 20px;
        max-width: 95%;
        h2{
          font-size: 18px;
        }
        .desc{
          font-size: 12px;
        }
      }
      .panel-holder{
        margin-bottom: 30px;
        .img-holder{
          height: 150px;
        }
        h1{
          font-size: 17px;
          margin: 12px 0 7px;
        }
        .list-item{
          p{
            font-size: 12px;
          }
          .icon-holder{
            min-width: 55px;
            width: 55px;
            height: 22px;
          }
        }
        .panel-button{
          font-size: 13px;
          padding: 8px 22px;
        }
      }
    }
  }
}

.notifiq-btn{
  margin-right: 20px;
  position: relative;
  width: 50px;
  height: 50px;
  transition: .2s;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 50%;
  z-index: 10002;
  .notifiq-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
  img{
    transition: .1s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover{
    img{
      transform: translate(-50%, -50%) scale(1.05);
    }
  }
  .notifiq-list{
    position: absolute;
    top: 0;
    right: 55px;
    width: 450px;
    padding: 30px 20px;
    background: #111111;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    max-height: 90vh;
    overflow: auto;
    z-index: 2;
  }
}

.profile-top-panel{
  position: fixed;
  top: 30px;
  right: 0;
  z-index: 10001;
  width: 350px;
  padding: 25px 40px 25px 10px;
  border-radius: 30px 0px 0px 30px;
  box-shadow: none;
  transition: .2s;
  background: #111111;
  &.open{
    box-shadow: none;   
    .toggle-btn{
      transform: translateY(-50%) rotate(180deg);
    }
  }
  .toggle-btn{
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%) rotate(0deg);
    transition: .2s;
    cursor: pointer;
    display: none;
  }
  .profile-info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .profile-stats{
        text-align: right;
        margin-right: 22px;
        p{
            color: white;
            margin: 5px 0;
            font-size: 19px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1;
        }
        .name{
            font-size: 19px;
            font-weight: 600;
        }
    }
    .profile-img{
        width: 70px;
        height: 70px;
        box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        text-align: center;
        img{
            max-height: 100%;
            width: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 1px;
        }
    }
  }
}

.quick-btns-holder{
  position: fixed;
  top: 9px;
  right: 40px;
  z-index: 10003;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  transition: .2s;
  .lang{
    position: relative;
    width: 66px;
    height: 30px;
  }
  .live{
    position: relative;
    width: 76px;
    height: 30px;
    background: #EB2163;
    border: 2px solid #202020;
    box-sizing: border-box;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05), 2px 3px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin-right: 8px;
    text-transform: uppercase;
    cursor: pointer;
    p{
      animation-name: pulse;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      margin: 0;
      font-size: 14px;
      color: white;
      text-align: center;
      line-height: 26px;
      span{
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
}

@keyframes pulse {
  0%{transform: scale(1);}
  50% {transform: scale(1.07);}
  100% {transform: scale(1);}
}

.edit-car-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  transition: .2s;
  z-index: 1000002;
  .modal-back{
      background: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      z-index: 10000;
      position: absolute;
      top: 0;
      left: 0;
  }
  .modal-holder{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      min-height: 400px;
      background-color: #111111;
      border-radius: 20px;
      z-index: 10000;
      max-width: 600px;
      h1{
          font-size: 40px;
          color: white;
      }
      .close-icon{
          padding: 7px;
          right: 20px;
          top: 20px;
          position: absolute;
          cursor: pointer;
          opacity: .8;
          transition: .1s;
          z-index: 20;
          &:hover{
              opacity: 1;
          }
      }
  }
}

.right-container{
  position: fixed;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000001;
  opacity: 1;
  transition-delay: 0s;
  transition: .1s;
  max-height: calc(var(--vh, 1vh) * 100);
  overflow: auto;
  .right-part-holder {
    pointer-events: all;
    padding-right: 10px;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    transition: 0.2s;
    width: 377px;
    height: calc(100vh - 140px);
    min-height: calc(100vh - 140px);
    position: absolute;
    top: 110px;
    right: 40px;
    background: #111111;
    box-shadow: 0px 0px 80px #000000;
    border-radius: 20px;
    z-index: 10000;
    .profile-cont{
      position: relative;
      right: 0; 
      transition: right .2s, box-shadow 0.08s;
      max-height: calc(100% - 100px);
      height: calc(100% - 100px);
      overflow: auto;
    }
    .menu-switchers{
      width: calc(100% - 40px);
      margin: 0 auto;
      background: rgba(255, 255, 255, 0.03);
      border-radius: 15px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 47px;
      z-index: 1;
      .switch-item{
        width: 33.3333%;
        height: 100%;
        z-index: 2;
        position: relative;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 15px;
        transition: .2s;
        &:hover{
          background-color: rgba(255, 255, 255, .1);
        }
        p{
          text-align: center;
          margin: 0;
          font-size: 18px;
          font-weight: 400;
          width: 100%;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          line-height: 1;
        }
        .my-warning{
          position: absolute;
          left: 2%;
          top: 0;
          transform: translateY(-70%);
        }
      }
      .item-back{
        width: 33.3333%;
        height: 100%;
        border-radius: 15px;
        position: absolute;
        z-index: 1;
        left: 33.3333%;
        top: 0;
        transition: .2s cubic-bezier(.33,.2,.6,1.17);
        &.chat{
          left: 66.6666%;
        }
        &.me{
          left: 33.3333%;
        }
        &.races{
          left: 0;
        }
      }
    }
    .chat-holder{
      position: relative;
      max-height: calc(100% - 120px);
      height: calc(100% - 120px);
      width: 100%;
      z-index: 1000;
      background: #111;
      transition: 0.2s;
      margin-top: 15px;
      padding: 0 10px;
    }
    .last-btns{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 7px 40px 30px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #111111;
      z-index: 10;
      border-radius: 0 0 20px 20px;
      .btn-item{
        opacity: .6;
        transition: .3s;
        cursor: pointer;
        p{
          color: white;
          margin: 0;
          font-size: 14px;
          font-weight: 300;
          img{
            display: inline-block;
            margin-right: 10px;
          }
        }
        &:hover{
          opacity: 1;
        }
      }
    }
    .races-holder{
      max-height: calc(100% - 100px);
      height: calc(100% - 100px);
      overflow: auto;
      position: relative;
    }
  }
  
}


.choose-modal{
  .modal-content{
    height: 250px;
    padding: 30px 20px;
    background: #111111;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    h1{
      font-size: 30px;
      color: white;
      text-align: center;
    }
    .buttons-holder{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .button-item{
        margin: 30px 20px 0;
        color: #ffffff;
        font-size: 18px;
        text-shadow: none;
        text-transform: uppercase;
        font-weight: 400;
        transition: 0.3s;
        background: linear-gradient(250.32deg, #EB2163 22.61%, #950552 85.16%), #333333;
        box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 7px;
        text-align: center;
        width: 150px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 2100px) and (min-height: 1081px){
  .my-nav{
    height: 100px;
    .nav-logo{
      width: 90px;
    }
    .items-holder{
      .menu-item{
        p{
          font-size: 16px;
        }
      }
    }
    .overview{
      .online-box{
        padding: 20px 23px;
        p{
          font-size: 17px;
        }
      }
    }
    .profile{
      .profile-img{
        width: 65px;
        height: 65px;
      }
      .profile-stats{
        width: 220px;
        p{
          font-size: 20px;
          &.stats{
            font-size: 17px;
          }
        }
      }
    }
    .deposit-btn{
      font-size: 18px;
      padding: 23.5px 30px;
    }
  }
  .notifiq-btn{
    width: 65px;
    height: 65px;
    img{
      width: 27px;
    }
  }
  .noti-count{
    width: 23px;
    height: 23px;
    font-size: 15px;
    line-height: 23px;
  }
  .right-container{
    .right-part-holder{
      top: 130px;
      height: calc(100vh - 150px);
      min-height: calc(100vh - 150px);
    }
  }
}

@media screen and (max-width: 1700px){
  .right-container{
    .right-part-holder{
      width: 355px;
      padding-top: 20px;
      top: 90px;
      height: calc(100vh - 105px);
      min-height: calc(100vh - 105px);
      .menu-switchers{
        height: 41px;
        .switch-item{
          border-radius: 10px;
          p{
            font-size: 16px;
          }
        }
        .item-back{
          border-radius: 10px;
        }
      }
      .last-btns{
        padding: 7px 40px 20px 40px;
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .main{
    padding-top: 70px;
  }
  .ad-popup{
    .ticket-holder{
      left: 180px;
    }
  }
  .logo{
    top: 40px;
  }

  .right-container{
    .right-part-holder{
      width: 340px;
      right: 25px;
      top: 85px;
      height: calc(var(--vh, 1vh) * 100 - 110px);
      min-height: calc(var(--vh, 1vh) * 100 - 110px);
      .chat-holder{
        max-height: calc(100% - 100px);
        height: calc(100% - 100px);
      }
    }
  }
  .my-nav{
    height: 65px;
    padding: 0 4%;
    position: fixed;
    width: 100%;
    background: #111;
    z-index: 100;
    top: 0;
    .nav-logo{
      width: 65px;
    }
    .overview{
      .notifiq-btn{
        margin-right: 15px;
        width: 40px;
        height: 40px;
      }
      .online-box{
        padding: 11px 15px;
        border-radius: 11px;
        width: 135px;
        img{
          width: 17px;
          margin-right: 7px;
        }
        p{
          font-size: 13px;
          &.desc{
            margin-left: 15px;
          }
        }
      }
    }
    .lang-switcher{
      width: 40px;
      height: 40px;
      margin: 0 30px 0 15px;
    }
    .profile{
      .profile-img{
        width: 40px;
        height: 40px;
      }
      .profile-stats{
        width: 135px;
        p{
          font-size: 16px;
          &.stats{
            font-size: 14px;
          }
        }
      }
    }
    .deposit-btn{
      padding: 12px 22px;
      font-size: 14px;
    }
    .items-holder{
      width: 45%;
      .menu-item{
        p{
          font-size: 13px;
          margin: 0;
        }
      }
    }
    .meta-balance-holder{
      min-width: 345px;
      .ioi-box{
        padding: 11px 15px;
        border-radius: 11px;
        p{
          font-size: 13px;
        }
      }
      .address-box{
        border-radius: 11px;
        .my-eth{
          padding: 11px 15px;
          p{
            font-size: 13px;
          }
        }
        .my-address{
          border-radius: 11px;
          .inner{
            border-radius: 11px;
            padding: 11px 15px;
            p{
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  .waiting-popup-holder{
    top: 65px;
    height: 40px;
  }
}

@media screen and (max-width: 1300px){
  .my-nav{
    padding: 0 3%;
    .nav-logo{
      width: 60px;
    }
    .overview{
      .notifiq-btn{
        margin-right: 12px;
        width: 35px;
        height: 35px;
        img{
          width: 17px;
        }
        .noti-count{
          width: 16px;
          height: 16px;
        }
      }
      .online-box{
        padding: 7px 12px;
        border-radius: 7px;
        img{
          width: 15px;
          margin-right: 5px;
        }
        p{
          font-size: 12px;
          &.desc{
            margin-left: 12px;
          }
        }
      }
    }
    .lang-switcher{
      width: 35px;
      height: 35px;
      margin: 0 20px 0 12px;
    }
    .profile{
      .profile-img{
        width: 35px;
        height: 35px;
      }
      .profile-stats{
        width: 115px;
        p{
          font-size: 15px;
          &.stats{
            font-size: 13px;
          }
        }
      }
    }
    .deposit-btn{
      padding: 10px 18px;
      font-size: 13px;
    }
    .items-holder{
      width: 45%;
      .menu-item{
        p{
          font-size: 12px;
          margin: 0;
        }
      }
    }
    .meta-balance-holder{
      min-width: 320px;
      .ioi-box{
        padding: 7px 12px;
        border-radius: 7px;
        p{
          font-size: 12px;
        }
      }
      .address-box{
        border-radius: 7px;
        .my-eth{
          padding: 7px 12px;
          p{
            font-size: 12px;
          }
        }
        .my-address{
          border-radius: 7px;
          .inner{
            border-radius: 7px;
            padding: 7px 12px;
            p{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .ad-popup{
    .ticket-holder{
      bottom: 10px;
      left: 150px;
    }
  }
  .right-container{
    .right-part-holder{
      width: 300px;
    }
  }
}

@media screen and (max-width: 1024px){
  .main{
    .cont-holder{
      padding-bottom: 85px;
    }
  }
  .ad-popup{
    display: none;
  }
  .right-container{
    opacity: 0;
    .right-part-holder{
      display: block;
      pointer-events: none;
      top: 65px;
      height: calc(var(--vh, 1vh) * 100 - 90px);
      min-height: calc(var(--vh, 1vh) * 100 - 90px);
      .profile-cont{
        right: -100%;
      }
    }
    &.open{
      transition-delay: .2s;
      opacity: 1;
      transition: .2s;
      background: rgba(17,17,17,0.7);
      .right-part-holder{
        pointer-events: all;
        .profile-cont{
          right: 0;
        }
      }
    }
  }
  .contents{
    padding-left: 0;
    padding-bottom: 100px;
    .side-nav.item-list{
      z-index: 10000;
      height: 100%;
      .logo{
        display: none;
      }
    }
  }
  .my-nav{
    z-index: 1000000;
    .items-holder,
    .balance-switcher,
    .meta-balance-holder{
      display: none;
    }
    .overview{
      .online-box,
      .lang-switcher,
      .deposit-btn{
        display: none;
      }
      .profile{
        .profile-stats{
          display: none;
        }
      }
      .my-mobile-button{
        display: block;
      }
    }
  }
  .waiting-popup-holder{
    height: 50px;
  }
  .mobile-nav{
    width: 90%;
    height: 80px;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #111111;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 0px 0px;
    display: block;
    .items-holder{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .menu-item{
        width: 20%;
        height: 100%;
        cursor: pointer;
        position: relative;
        &.active{
          img{
            opacity: 0;
            &.active{
              opacity: 1;
            }
          }
          & ~ .menu-border{
            .border-dot{
              opacity: 1;
            }
          }
        }
        &.item1{
          &.active ~ .menu-border{
            left: 0;
          }
        }
        &.item2{
          &.active ~ .menu-border{
            left: 20%;
          }
        }
        &.item3{
          &.active ~ .menu-border{
            left: 40%;
          }
        }
        &.item4{
          &.active ~ .menu-border{
            left: 60%;
          }
        }
        &.item5{
          &.active ~ .menu-border{
            left: 80%;
          }
        }
        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: .1;
          &.active{
            opacity: 0;
          }
        }
      }
      .menu-border{
        position: absolute;
        top: calc(50% + 20px);
        transform: translateY(-50%);
        width: 20%;
        height: 5px;
        background: transparent;
        transition: .2s;
        .border-dot{
          background: linear-gradient(113.6deg, #FE173F 15.09%, #240B36 467.03%), #FFFFFF;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          margin: 0 auto;
          opacity: 0;
        }
      }
    }
  }
}



@media screen and (max-width: 640px) {
  .main-content{
    z-index: unset;
  }
  .notifiq-btn{
    .notifiq-list{
      top: 60px;
      right: -110px;
      max-width: calc(100vw - 40px);
    }
  }
  .waiting-popup-holder{
    height: unset;
  }
}

@media screen and (max-width: 500px){
  .choose-modal{
    .modal-content{
      height: 310px;
      .buttons-holder{
        max-width: 200px;
        margin: 0 auto;
      }
    }
  }
  .right-container{
    .right-part-holder{
      width: calc(100% - 50px);
    }
  }
}

.noti-count {
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 10px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    line-height: 18px;
}