<div class="main hide-on-landscape" #outlet>

  <div class="cont-holder main-app-cont-holder" [ngClass]="isManager === true ? 'manager' : 'racer'">

    <nav class="my-nav" [ngClass]="{'high-index': menuOpen === true}">
      <img class="nav-logo" src="/assets/base/images/logo.png" alt="" [routerLink]="['/race/start-race']">

      <div class="items-holder">
        <div class="menu-item item1" [routerLink]="['/race/start-race']" [routerLinkActive]="'active'">
          <p>{{'shared.dashboard' | translate}}</p>
        </div>
        <div class="menu-item item2" [routerLink]="['/other/about-tokens']" [routerLinkActive]="'active'">
          <p>{{'shared.layout.reward' | translate}}</p>
        </div>
        <div class="menu-item item3" [routerLink]="['/your-races/transactions']" [routerLinkActive]="'active'">
          <p>{{'shared.layout.history' | translate}}</p>
        </div>
        <div class="menu-item item4" [routerLink]="['/other/tasks']" [routerLinkActive]="'active'">
          <p>{{'main_top_banner.heading14' | translate}}</p>
        </div>
        <div class="menu-item item5" [routerLink]="['/other/affilate']" [routerLinkActive]="'active'">
          <p>{{"shared.affiliate"}}</p>
        </div>
        <div class="menu-border"></div>
      </div>

      <div class="overview">
        <!-- <div class="mode-switcher" (click)="changeManager()" [ngClass]="isManager === true ? 'manager' : 'racer'">
          <div class="inner my-cta-btn-back"></div>
        </div> -->
        <div class="notifiq-btn">
          <img src="/assets/base/images/start-race/notifiq-icon.png" alt="" (click)="openNotifiq = !openNotifiq" >
          <span *ngIf="numOfNotifications > 0" class="noti-count my-cta-btn-back">{{numOfNotifications}}</span>
          <div class="notifiq-list" *ngIf="openNotifiq === true">
            <app-notification-list></app-notification-list>
          </div>
          <div class="notifiq-back" *ngIf="openNotifiq === true" (click)="openNotifiq = !openNotifiq"></div>
        </div>

        <ng-container *ngIf="showMetaBalance === false">
          <div class="online-box my-layout-online-box my-low-gradient">
            <img class="user-ico-red" src="/assets/base/images/menu/user-ico-red.svg" alt="">
            <img class="user-ico-blue" src="/assets/base/images/menu/user-ico-blue.svg" alt="">
            <p class="num">{{sumUsers | number:'1.0-2':'fr'}}</p>
            <p class="desc my-text-color">{{"shared.online" | translate}}</p>
          </div>
          <!-- <div class="lang-switcher">
            <app-lang-switcher></app-lang-switcher>
          </div> -->
          <div class="profile">
            <div class="profile-img" [routerLink]="['/other/affilate']">
              <img src="assets/base/images/avatars/avatar1-small.png" alt="" *ngIf="Affilate.affiliate_level === 1">
              <img src="assets/base/images/avatars/avatar2-small.png" alt="" *ngIf="Affilate.affiliate_level === 2">
              <img src="assets/base/images/avatars/avatar3-small.png" alt="" *ngIf="Affilate.affiliate_level === 3">
              <img src="assets/base/images/avatars/avatar4-small.png" alt="" *ngIf="Affilate.affiliate_level === 4">
            </div>
            <div class="profile-stats">
              <p class="name">{{myDriverStats?.nickname}}</p>
              <p class="stats">{{(myDriver.game_wallet_ioi) | number:'1.0-2':'fr' }} IOI - &#36;{{(myDriver.game_wallet_ioi * 0.4) | number:'1.0-2':'fr' }}</p>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="showMetaBalance === true">
          <div class="meta-balance-holder">
            <div class="ioi-box my-low-gradient">
              <p>{{metaEth.ioi}} IOI</p>
            </div>
            <div class="address-box">
              <div class="my-eth">
                <p>{{metaEth.eth}} ETH</p>
              </div>
              <div class="my-address my-cta-btn-back" (click)="copyMyAddress(); animateOnClick()">
                <div class="inner">
                  <p>{{ myDriverStats.my_crypto_address | slice:0:10}}...</p>
                </div>
                <div class="inner clicked" [ngClass]="myAddressClass">
                  <p>{{"shared.copied" | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="balance-switcher" *ngIf="isUsingMetamask === true">
          <div class="switch-box" [ngClass]="{'active': showMetaBalance === false}" (click)="showMetaBalance = false">
            <img src="/assets/base/images/start-race/game-balance.svg" alt="Game balance icon">
            <img class="active" src="/assets/base/images/start-race/game-balance-active.svg" alt="Game balance icon">
          </div>
          <div class="switch-box" [ngClass]="{'active': showMetaBalance === true}" (click)="showMetaBalance = true">
            <img src="/assets/base/images/start-race/meta-balance.svg" alt="Metamask balance icon">
            <img class="active" src="/assets/base/images/start-race/meta-balance-active.svg" alt="Metamask balance icon">
          </div>
        </div>
        
        
        <button class="deposit-btn my-cta-btn-back hoverable" [routerLink]="['/other/wallet-control']" [queryParams]="{ controlType: 'deposit' }">{{'shared.deposit_btn' | translate}}</button>

        <div class="my-mobile-button" (click)="menuOpen = !menuOpen" [ngClass]="{'open': menuOpen === true}">
          <span class="my-cta-btn-back"></span>
          <span class="my-cta-btn-back"></span>
          <span class="my-cta-btn-back"></span>
          <span class="my-cta-btn-back"></span>
        </div>
      </div>
    </nav>

    <div class="waiting-popup-holder" *ngIf="depos === true">
      <app-waiting-transfer></app-waiting-transfer>
    </div>

    <div class="mobile-nav">
      <div class="items-holder">
        <div class="menu-item item1" [routerLink]="['/race/start-race']" [routerLinkActive]="'active'">
          <img src="/assets/base/images/menu/dash-mobile.svg" alt="">
          <img class="active" src="/assets/base/images/menu/dash-mobile-active.svg" alt="">
        </div>
        <div class="menu-item item2" [routerLink]="['/other/about-tokens']" [routerLinkActive]="'active'">
          <img src="/assets/base/images/menu/reward-mobile.svg" alt="">
          <img class="active" src="/assets/base/images/menu/reward-mobile-active.svg" alt="">
        </div>
        <div class="menu-item item3" [routerLink]="['/your-races/transactions']" [routerLinkActive]="'active'">
          <img src="/assets/base/images/menu/history-mobile.svg" alt="">
          <img class="active" src="/assets/base/images/menu/history-mobile-active.svg" alt="">
        </div>
        <div class="menu-item item4" [routerLink]="['/other/tasks']" [routerLinkActive]="'active'">
          <img src="/assets/base/images/menu/tasks-mobile.svg" alt="">
          <img class="active" src="/assets/base/images/menu/tasks-mobile-active.svg" alt="">
        </div>
        <div class="menu-item item5" [routerLink]="['/other/affilate']" [routerLinkActive]="'active'">
          <img src="/assets/base/images/menu/affiliate-mobile.svg" alt="">
          <img class="active" src="/assets/base/images/menu/affiliate-mobile-active.svg" alt="">
        </div>
        <div class="menu-border"><div class="border-dot"></div></div>
      </div>
    </div>
    
    <router-outlet (activate)="onActivate($event, outlet)"></router-outlet>

    <div class="right-container" [ngClass]="{'open': menuOpen === true}">
      <div class="right-part-holder">
        <div class="menu-switchers">
          <div class="switch-item" (click)="menuType = 'races'">
            <p>{{'site-layout.races' | translate}}</p>
          </div>
          <div class="switch-item" (click)="menuType = 'me'">
            <ng-container *ngIf="myDriverStats?.is_verified === false">
              <img src="/assets/base/images/icons/verify-warning-red.png" alt="Verify account warning" class="my-warning red">
              <img src="/assets/base/images/icons/verify-warning-blue.png" alt="Verify account warning" class="my-warning blue">
            </ng-container>
            <p>{{'site-layout.me' | translate}}</p>
          </div>
          <div class="switch-item" (click)="menuType = 'chat'">
            <p>{{'site-layout.chat' | translate}}</p>
          </div>
          <div class="item-back my-low-gradient" [ngClass]="menuType"></div>
        </div>
        <div class="profile-cont my-holder" *ngIf="menuType === 'me'">
          <app-profile-stats></app-profile-stats> 
        </div>

        <div class="chat-holder" *ngIf="menuType === 'chat'">
          <app-my-chat></app-my-chat>
        </div>

        <div class="races-holder" *ngIf="menuType === 'races'">
          <div><app-my-races-ad></app-my-races-ad></div>
        </div>

        <div class="last-btns">
          <div class="btn-item" (click)="showMySettings = true">
            <p><img src="/assets/base/images/menu/settings-icon.svg" alt=""> {{'profile.acc_settings' | translate}}</p>
          </div>
          <div class="btn-item" (click)="logout()">
            <p><img src="/assets/base/images/menu/logout-icon.svg" alt=""> {{'profile.log_out' | translate}}</p>
          </div>
        </div>

      </div>
    </div>

    <div class="edit-car-modal small chat" *ngIf="showMySettings === true">
      <div class="modal-back" (click)="showMySettings = false">&nbsp;</div>
      <div class="modal-holder">
        <img src="/assets/base/images/icons/close-icon.svg" alt="" class="close-icon" (click)="showMySettings = false">
        <app-my-settings></app-my-settings>
      </div>
    </div>
  
    <div class="edit-car-modal small" *ngIf="showAff === true">
      <div class="modal-back" (click)="showAff = false">&nbsp;</div>
      <div class="modal-holder">
        <img src="/assets/base/images/icons/close-icon.svg" alt="" class="close-icon" (click)="showAff = false">
        <app-my-affiliate></app-my-affiliate>
      </div>
    </div>

  </div>

  <app-notifiq></app-notifiq>


  <div class="modal fade" id="choose-modal" tabindex="-1" role="dialog" aria-labelledby="turn-lux-modal"
  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered my-modal-dialog choose-modal" role="document">
      <div class="modal-content my-modal-content--tokens">
        
        <h1>{{'shared.what_you_do' | translate}}</h1>

        <div class="buttons-holder">
          <div class="button-item" data-dismiss="modal" [routerLink]="['/other/wallet-control']" [queryParams]="{ controlType: 'withdraw' }">{{'shared.withdraw_btn' | translate}}</div>
          <div class="button-item" data-dismiss="modal" [routerLink]="['/other/wallet-control']" [queryParams]="{ controlType: 'transfer' }">{{'shared.transfer_btn' | translate}}</div>
        </div>

      </div>
    </div>
  </div>

  <div  class="verify-modal" *ngIf="verifyModal === true">
    <div class="modal-holder">
  
      <div class="modal-heading" (click)="verifyModal = false">
        <h2>{{'site-layout.pick_layout1' | translate}}</h2>
        <p class="desc">{{'site-layout.pick_layout2' | translate}}</p>
      </div>
  
      <div class="panel-holder">
        <div class="img-holder">
            <img src="/assets/base/images/welcome/owner-img.png" alt="">
        </div>
        <h1 class="main-heading">{{"owners_managers.owner-heading" | translate}}</h1>
        <div class="list-item">
            <div class="icon-holder">
                <img src="/assets/base/images/welcome/nft-rewards.svg" alt="">
            </div>
            <p>{{"site-layout.owner1" | translate}}</p>
        </div>
        <div class="list-item">
            <div class="icon-holder">
                <img src="/assets/base/images/welcome/car.svg" alt="">
            </div>
            <p>{{"site-layout.owner2" | translate}}</p>
        </div>
        <div class="list-item">
            <div class="icon-holder">
                <img src="/assets/base/images/welcome/stopwatch.svg" alt="">
            </div>
            <p>{{"site-layout.owner3" | translate}}</p>
        </div>
        <div class="list-item">
            <div class="icon-holder">
                <img src="/assets/base/images/welcome/crown.svg" alt="">
            </div>
            <p>{{"site-layout.owner4" | translate}}</p>
        </div>
        <div class="list-item">
            <div class="icon-holder">
                <img src="/assets/base/images/welcome/imperium.svg" alt="">
            </div>
            <p>{{"site-layout.owner5" | translate}}</p>
        </div>
  
        <a class="panel-button" (click)="setManager(true);closeTutorial();verifyModal = false">{{"owners_managers.owner-heading" | translate}}</a>
      </div>
  
      <div class="panel-holder racer">
          <div class="img-holder">
              <img src="/assets/base/images/welcome/racer-img.png" alt="">
          </div>
          <h1 class="main-heading">{{"site-layout.become_racer" | translate}}</h1>
          <div class="list-item">
              <div class="icon-holder">
                  <img src="/assets/base/images/welcome/user.svg" alt="">
              </div>
              <p>{{"site-layout.racer1" | translate}}</p>
          </div>
          <div class="list-item">
              <div class="icon-holder">
                  <img src="/assets/base/images/welcome/support.svg" alt="">
              </div>
              <p>{{"site-layout.racer2" | translate}}</p>
          </div>
          <div class="list-item">
              <div class="icon-holder">
                  <img src="/assets/base/images/welcome/trading.svg" alt="">
              </div>
              <p>{{"site-layout.racer3" | translate}}</p>
          </div>
          <div class="list-item">
              <div class="icon-holder">
                  <img src="/assets/base/images/welcome/to-do-list.svg" alt="">
              </div>
              <p>{{"site-layout.racer4" | translate}}</p>
          </div>
          <div class="list-item">
              <div class="icon-holder">
                  <img src="/assets/base/images/welcome/tokens.svg" alt="">
              </div>
              <p>{{"site-layout.racer5" | translate}}</p>
          </div>
  
          <a class="panel-button" (click)="setManager(false);closeTutorial();verifyModal = false">{{"site-layout.become_racer" | translate}}</a>
      </div>
    </div>
  </div> 

</div> 