
<div class="main-holder">
  <div class="center-content">

    <div class="form-logo-holder">
      <img src="/assets/base/images/trm2-logo.svg" alt="TradeRaceManager2 logo">
    </div>

    <h3>Congratulations! </h3>
    <h4>You have successfully registered for TRM2 Beta Testing!</h4>

    <p class="small-text">Download latest game apps for your system here:</p>
    <div class="download-holder">
      <div class="half-box">
        <div class="apple-btn">
          <a (click)="openLink('https://download.traderacemanager.com/trm2-beta-mac.zip')">
            <p>Download on</p>
            <img src="/assets/base/images/m1-apple.svg" alt="Apple M1 download">
          </a>
        </div>
        <div class="apple-btn">
          <a (click)="openLink('https://download.traderacemanager.com/trm2-beta-mac.zip')">
            <p>Download on</p>
            <img src="/assets/base/images/intel-apple.svg" alt="Apple Intel download">
          </a>
        </div>
      </div>
      <div class="half-box windows">
        <a (click)="openLink('https://download.traderacemanager.com/trm2-beta-win.zip')">
          <img src="/assets/base/images/windows-download.png" alt="Windows download">
        </a>
      </div>
    </div>

    <!-- <p class="small-text">Read about:</p>
    <div class="about-holder">
      <a class="about-btn">
        <p>Installing on Mac</p>
      </a>
      <a class="about-btn">
        <p>Installing on Windows</p>
      </a>
      <a class="about-btn">
        <p>Alpha Testing Rules</p>
      </a>
    </div> -->

  </div>
</div>