<div class="main-holder">
  <div [routerLink]="['/profile/my-profile']" class="content-title">
    <img
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>DEPOSIT</p>
  </div>
  <div class="content-holder">
    <div class="left-holder">
      <div class="img-holder" [ngClass]="{ racer: this.nftType === 'racer' }">
        <img
          class="car-img"
          *ngIf="this.nftType === 'car'"
          [src]="'assets/base/images/nft-cars/car' + nftId + '.png'"
          alt="Image of selected car"
        />
        <img
          class="car-img"
          *ngIf="this.nftType === 'racer'"
          [src]="
            'assets/base/images/nft-racers/' + products[0]['image'] + '.png'
          "
          alt="Image of selected car"
        />
        <div class="car-stats">
          <div class="name">
            <p>{{ products[0]["name"] }}</p>
            <p class="desc">{{ products[0]["collection"] }}</p>
          </div>
          <div class="value">
            <p>
              {{ nftIoiValue }}
              <img src="assets/base/images/icons/ioi-big.svg" alt="ioi logo" />
            </p>
            <p class="desc">IOI value</p>
          </div>
          <div class="value">
            <p>
              {{ nftIoiValue * 0.4 }}
              <img
                src="assets/base/images/icons/dollar-big.svg"
                alt="dollar logo"
              />
            </p>
            <p class="desc">USD value</p>
          </div>
          <div class="value">
            <p>
              <img
                src="assets/base/images/icons/polygon-big.svg"
                alt="polygonlogo"
              />
            </p>
            <p class="desc">Polygon</p>
          </div>
        </div>
      </div>

      <div class="amount-holder">
        <p class="big-text">
          If you deposited the funds and the transaction has been confirmed on
          the blockchain, push the claim button. You can claim anytime after a
          confirmed transaction on the blockchain. Please push the claim button
          to see your balance in the dashboard.
        </p>
      </div>
    </div>
    <div class="right-holder">
      <p class="common-heading">Your deposit summary</p>
      <div class="main-panel">
        <div class="withdraw-info">
          <p class="text">You are depositing</p>
          <p class="value">
            <span *ngIf="amount > 0">{{ amount }}</span>
            <span *ngIf="amount < 1">0</span>
            <span class="value-desc">NFTs</span>
          </p>
          <div class="border-maker my-cta-btn-back"></div>
          <p class="desc">{{ products[0]["name"] }}</p>
          <div class="border-maker my-cta-btn-back"></div>
        </div>
        <div class="summary-box">
          <div class="border-maker my-cta-btn-back"></div>
          <div class="info-item">
            <p class="desc">Crypto wallet address</p>
            <p class="value">{{ cryptoMtfrckr }}</p>
          </div>
        </div>
        <button
          class="confirm-btn my-cta-btn-back hoverable"
          (click)="depositCar()"
        >
          Claim
        </button>
      </div>
    </div>
  </div>
</div>
