<div class="main-holder">
  <div [routerLink]="['/profile/my-profile']" class="content-title">
    <img
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>DEPOSIT</p>
  </div>
  <div class="content-holder">
    <div class="left-holder">
      <div class="img-holder" [ngClass]="{ racer: this.nftType === 'racer' }">
        <img
          class="car-img"
          *ngIf="this.nftType === 'car'"
          [src]="'assets/base/images/nft-cars/car' + nftId + '.png'"
          alt="Image of selected car"
        />
        <img
          class="car-img"
          *ngIf="this.nftType === 'racer'"
          [src]="
            'assets/base/images/nft-racers/' + products[0]['image'] + '.png'
          "
          alt="Image of selected car"
        />
        <div class="car-stats">
          <div class="name">
            <p>{{ products[0]["name"] }}</p>
            <p class="desc">{{ products[0]["collection"] }}</p>
          </div>
          <div class="value">
            <p>
              {{ nftIoiValue }}
              <img src="assets/base/images/icons/ioi-big.svg" alt="ioi logo" />
            </p>
            <p class="desc">IOI value</p>
          </div>
          <div class="value">
            <p>
              {{ nftIoiValue *  driverBalance.ioi_usdt | number: "1.2-2":"fr"}}
              <img
                src="assets/base/images/icons/dollar-big.svg"
                alt="dollar logo"
              />
            </p>
            <p class="desc">USD value</p>
          </div>
          <div class="value">
            <p>
              <img
                src="assets/base/images/icons/polygon-big.svg"
                alt="polygonlogo"
              />
            </p>
            <p class="desc">Polygon chain</p>
          </div>
        </div>
      </div>

      <div class="amount-holder">
        <p class="big-text">
          Please deposit NFTs thorugh polygon chain.
          Don’t send funds from exchange, otherwise your transaction will be
          lost.
        </p>
      </div>
    </div>
    <div class="right-holder">
      <p class="common-heading">Your deposit summary</p>
      <div class="main-panel">
        <ng-container
          *ngIf="
            cryptoMtfrckr.length < 0 ||
            depositRequested !== true ||
            depositSuccessful !== true 
          "
        >        
          <div class="withdraw-info">
            <p class="text">You are depositing</p>
            <p class="value">
              <span *ngIf="amount > 0">{{ amount }}</span>
              <span *ngIf="amount < 1">0</span>
              <span class="value-desc">NFTs</span>
            </p>
            <div class="border-maker my-cta-btn-back"></div>
            <p class="desc">{{ products[0]["name"] }}</p>
          </div>
          <div class="address-holder">
            <p class="common-heading">Add an address you deposit from</p>
            <div class="input-holder">
              <input
                type="text"
                maxlength="42"
                minlength="2"
                placeholder="Enter an address of crypto wallet you will deposit funds from"
                [(ngModel)]="ethMtfrckr"
                [ngModelOptions]="{ standalone: true }"
              />
              <div
                class="correct-input my-cta-btn-back"
                [ngClass]="{
                  incorrect:
                    ethMtfrckr.substring(0, 2) !== '0x' || ethMtfrckr.length < 42
                }"
              >
                <svg
                  width="20"
                  height="16"
                  viewBox="0 0 20 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.7747 0.949537C19.4743 0.649145 18.9872 0.649145 18.6868 0.949537L6.21765 13.4187L1.31315 8.5142C1.01279 8.21377 0.525724 8.21377 0.225293 8.5142C-0.0750978 8.81459 -0.0750978 9.30162 0.225293 9.60205L5.67378 15.0505C5.97405 15.3508 6.46128 15.3509 6.76163 15.0505L19.7747 2.03739C20.0751 1.73696 20.0751 1.24993 19.7747 0.949537Z"
                  />
                </svg>
              </div>
            </div>
            <button
              class="request-btn my-cta-btn-back hoverable"
              [disabled]="depositRequested === true && ethMtfrckr.length !== 42"
              (click)="makeDeposit()"
            >
              Make deposit
            </button>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            cryptoMtfrckr.length > 0 &&
            depositRequested === true &&
            depositSuccessful === true 
          "
        >
          <div class="depositing-info">
            <p class="text">YOU ARE DEPOSITING TO THIS ADDRESS</p>
          </div>
          <div class="my-wallet-info">
            <div class="info-border top my-cta-btn-back"></div>
            <div class="info-item crypto-adress">
              <input
                *ngIf="ethAddress"
                type="text"
                [(ngModel)]="ethAddress"
                [ngModelOptions]="{ standalone: true }"
                readonly
              />
            </div>
            <div class="info-item second">
              <p class="desc">Currency you will receive</p>
              <p>1 {{ products[0]["name"] }}</p>
            </div>
            <div class="info-border bottom my-cta-btn-back"></div>
          </div>
          <div class="qr-code-holder">
            <p class="info-text">
              Scan a QR code or paste the code into your external wallet to
              receive your funds, and confirm the transaction afterwards
            </p>

            <qrcode class="qr-code" [level]="1" [qrvalue]="ethAddress"></qrcode>
          </div>
        </ng-container>
        <ng-container
          *ngIf="
            cryptoMtfrckr.length > 0 &&
            depositRequested === true &&
            depositSuccessful === false
          "
        >
          <div class="not-setup-holder">
            <div class="loading"></div>
            <p class="heading">Request in progress</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
