
<div class="main-holder">

  <div class="content-title">
    <img
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p class="races-title my-border-bottom" [routerLink]="['/race/all-races']">Races</p>
  </div>

  <div class="races-content" *ngIf="raceType === 'fast'">
    <div class="boxes-holder">

      <div class="race-item rookie">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[0].fav" (click)="this.baseFavRaces[0].fav = !this.baseFavRaces[0].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[0].fav" (click)="this.baseFavRaces[0].fav = !this.baseFavRaces[0].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'car_race_short_0'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Rookie</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ astart?.players_count }} <span>| 200</span></p>
            </div>
            <div class="diff info-item">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Rookie</p>
            </div>
            <div class="cost info-item">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">FREE</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" [routerLink]="['/car/fuel-car/car_race_short_0']"></div>
      </div>

      <div class="race-item beginner">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[13].fav" (click)="this.baseFavRaces[13].fav = !this.baseFavRaces[13].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[13].fav" (click)="this.baseFavRaces[13].fav = !this.baseFavRaces[13].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'car_race_short_1'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Beginner</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ ioistarta?.players_count }} <span>| 200</span></p>
            </div>
            <div class="diff info-item">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Beginner</p>
            </div>
            <div class="cost info-item">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">1 IOI</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" *ngIf="myDriverBalances.game_wallet_ioi >= 1 || tickets > 0" [routerLink]="['/car/fuel-car/car_race_ioi_1']"></div>
        <div class="click-dummy"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'deposit' }"
        *ngIf="myDriverBalances.game_wallet_ioi < 1 && tickets === 0"></div>
      </div>
      <div class="race-item semi-pro">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[15].fav" (click)="this.baseFavRaces[15].fav = !this.baseFavRaces[15].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[15].fav" (click)="this.baseFavRaces[15].fav = !this.baseFavRaces[15].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'car_race_short_5'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Semi pro</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ ioistartc?.players_count }} <span>| 100</span></p>
            </div>
            <div class="diff info-item">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Semi pro</p>
            </div>
            <div class="cost info-item">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">5 IOI</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" *ngIf="myDriverBalances.game_wallet_ioi >= 5" [routerLink]="['/car/fuel-car/car_race_ioi_5']"></div>
        <div class="click-dummy"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'deposit' }"
        *ngIf="myDriverBalances.game_wallet_ioi < 5"></div>
      </div>

      <div class="race-item professional">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[1].fav" (click)="this.baseFavRaces[1].fav = !this.baseFavRaces[1].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[1].fav" (click)="this.baseFavRaces[1].fav = !this.baseFavRaces[1].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'car_race_short_10'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Professional</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ bstart?.players_count }} <span>| 200</span></p>
            </div>
            <div class="diff info-item long">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Professional</p>
            </div>
            <div class="cost info-item short">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">10 IOI</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" *ngIf="myDriverBalances.game_wallet_ioi >= 10" [routerLink]="['/car/fuel-car/car_race_ioi_10']"></div>
        <div class="click-dummy"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'deposit' }"
        *ngIf="myDriverBalances.game_wallet_ioi < 10"></div>
      </div>
      
      <div class="race-item expert">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[2].fav" (click)="this.baseFavRaces[2].fav = !this.baseFavRaces[2].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[2].fav" (click)="this.baseFavRaces[2].fav = !this.baseFavRaces[2].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'car_race_short_50'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Expert</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ cstart?.players_count }} <span>| 200</span></p>
            </div>
            <div class="diff info-item">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Expert</p>
            </div>
            <div class="cost info-item">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">50 IOI</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" *ngIf="myDriverBalances.game_wallet_ioi >= 50" [routerLink]="['/car/fuel-car/car_race_ioi_50']"></div>
        <div class="click-dummy"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'deposit' }"
        *ngIf="myDriverBalances.game_wallet_ioi < 50"></div>
      </div>

      <div class="race-item master">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[3].fav" (click)="this.baseFavRaces[3].fav = !this.baseFavRaces[3].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[3].fav" (click)="this.baseFavRaces[3].fav = !this.baseFavRaces[3].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'car_race_short_100'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Master</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ dstart?.players_count }} <span>| 200</span></p>
            </div>
            <div class="diff info-item">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Master</p>
            </div>
            <div class="cost info-item">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">100 IOI</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" *ngIf="myDriverBalances.game_wallet_ioi >= 100" [routerLink]="['/car/fuel-car/car_race_ioi_100']"></div>
        <div class="click-dummy"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'deposit' }"
        *ngIf="myDriverBalances.game_wallet_ioi < 100"></div>
      </div>

    </div>

    <div class="fuel-strategy">
      <img
          class="tip red-star"
          src="assets/base/images/race-type/tip-red.svg"
          alt=""
        />
        <img
          class="tip blue-star"
          src="assets/base/images/race-type/tip-blue.svg"
          alt=""
        />
        <p class="tip-text">
          Set up your fuel strategy for a race and start with one click
        </p>
        <button
          [routerLink]="['/car/favourite-cars']"
          class="set-up my-border-color"
        >
          Set up fast fuel
        </button>
    </div>
  </div>

  <div class="races-content" *ngIf="raceType === 'tournament'">
    <div class="boxes-holder">

      <div class="race-item rookie">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[8].fav" (click)="this.baseFavRaces[8].fav = !this.baseFavRaces[8].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[8].fav" (click)="this.baseFavRaces[8].fav = !this.baseFavRaces[8].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'classic_tournament_0'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Rookie</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ atour?.players_count }} <span>| 200</span></p>
            </div>
            <div class="diff info-item">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Rookie</p>
            </div>
            <div class="cost info-item">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">FREE</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" [routerLink]="['/car/fuel-car/classic_tournament_0']"></div>
      </div>

      <div class="race-item semi-pro">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[9].fav" (click)="this.baseFavRaces[9].fav = !this.baseFavRaces[9].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[9].fav" (click)="this.baseFavRaces[9].fav = !this.baseFavRaces[9].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'classic_tournament_5'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Semi pro</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ btour?.players_count }} <span>| 100</span></p>
            </div>
            <div class="diff info-item">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Semi pro</p>
            </div>
            <div class="cost info-item">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">5 IOI</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" *ngIf="myDriverBalances.game_wallet_ioi >= 5" [routerLink]="['/car/fuel-car/classic_tournament_5']"></div>
        <div class="click-dummy"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'deposit' }"
        *ngIf="myDriverBalances.game_wallet_ioi < 5"></div>
      </div>

      <div class="race-item professional">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[10].fav" (click)="this.baseFavRaces[10].fav = !this.baseFavRaces[10].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[10].fav" (click)="this.baseFavRaces[10].fav = !this.baseFavRaces[10].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'classic_tournament_10'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Professional</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ ctour?.players_count }} <span>| 200</span></p>
            </div>
            <div class="diff info-item long">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Professional</p>
            </div>
            <div class="cost info-item short">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">10 IOI</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" *ngIf="myDriverBalances.game_wallet_ioi >= 10" [routerLink]="['/car/fuel-car/classic_tournament_10']"></div>
        <div class="click-dummy"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'deposit' }"
        *ngIf="myDriverBalances.game_wallet_ioi < 10"></div>
      </div>
      
      <div class="race-item master">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[11].fav" (click)="this.baseFavRaces[11].fav = !this.baseFavRaces[11].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[11].fav" (click)="this.baseFavRaces[11].fav = !this.baseFavRaces[11].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'classic_tournament_100'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Master</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ dtour?.players_count }} <span>| 200</span></p>
            </div>
            <div class="diff info-item">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Master</p>
            </div>
            <div class="cost info-item">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">100 IOI</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" *ngIf="myDriverBalances.game_wallet_ioi >= 100" [routerLink]="['/car/fuel-car/classic_tournament_100']"></div>
        <div class="click-dummy"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'deposit' }"
        *ngIf="myDriverBalances.game_wallet_ioi < 100"></div>
      </div>

    </div>

    <div class="fuel-strategy">
      <img
          class="tip red-star"
          src="assets/base/images/race-type/tip-red.svg"
          alt=""
        />
        <img
          class="tip blue-star"
          src="assets/base/images/race-type/tip-blue.svg"
          alt=""
        />
        <p class="tip-text">
          Set up your fuel strategy for a race and start with one click
        </p>
        <button
          [routerLink]="['/car/favourite-cars']"
          class="set-up my-border-color"
        >
          Set up fast fuel
        </button>
    </div>
  </div>

  <div class="races-content" *ngIf="raceType === 'special'">
    <div class="boxes-holder">

      <div class="race-item rookie">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[7].fav" (click)="this.baseFavRaces[7].fav = !this.baseFavRaces[7].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[7].fav" (click)="this.baseFavRaces[7].fav = !this.baseFavRaces[7].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'wednesday_party_race_0'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Wednesday race</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ hstart?.players_count }} <span>| 200</span></p>
            </div>
            <div class="diff info-item">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Special</p>
            </div>
            <div class="cost info-item">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">FREE</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" [routerLink]="['/car/fuel-car/wednesday_party_race_0']"></div>
      </div>

    </div>

    <div class="fuel-strategy">
      <img
          class="tip red-star"
          src="assets/base/images/race-type/tip-red.svg"
          alt=""
        />
        <img
          class="tip blue-star"
          src="assets/base/images/race-type/tip-blue.svg"
          alt=""
        />
        <p class="tip-text">
          Set up your fuel strategy for a race and start with one click
        </p>
        <button
          [routerLink]="['/car/favourite-cars']"
          class="set-up my-border-color"
        >
          Set up fast fuel
        </button>
    </div>
  </div>

  <div class="races-content" *ngIf="raceType === 'enduration'">
    <div class="boxes-holder">

      <div class="race-item beginner">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[18].fav" (click)="this.baseFavRaces[18].fav = !this.baseFavRaces[18].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[18].fav" (click)="this.baseFavRaces[18].fav = !this.baseFavRaces[18].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'car_race_enduro_1'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Beginner</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ enastart?.players_count }} <span>| 200</span></p>
            </div>
            <div class="diff info-item">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Beginner</p>
            </div>
            <div class="cost info-item">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">1 IOI</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" *ngIf="myDriverBalances.game_wallet_ioi >= 1 || tickets > 0" [routerLink]="['/car/fuel-car/car_race_enduro_1']"></div>
        <div class="click-dummy"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'deposit' }"
        *ngIf="myDriverBalances.game_wallet_ioi < 1 && tickets === 0"></div>
      </div>
      <div class="race-item semi-pro">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[19].fav" (click)="this.baseFavRaces[19].fav = !this.baseFavRaces[19].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[19].fav" (click)="this.baseFavRaces[19].fav = !this.baseFavRaces[19].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'car_race_enduro_5'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Semi pro</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ enbstart?.players_count }} <span>| 100</span></p>
            </div>
            <div class="diff info-item">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Semi pro</p>
            </div>
            <div class="cost info-item">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">5 IOI</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" *ngIf="myDriverBalances.game_wallet_ioi >= 5" [routerLink]="['/car/fuel-car/car_race_enduro_5']"></div>
        <div class="click-dummy"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'deposit' }"
        *ngIf="myDriverBalances.game_wallet_ioi < 5"></div>
      </div>

      <div class="race-item professional">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[20].fav" (click)="this.baseFavRaces[20].fav = !this.baseFavRaces[20].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[20].fav" (click)="this.baseFavRaces[20].fav = !this.baseFavRaces[20].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'car_race_enduro_10'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Professional</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ encstart?.players_count }} <span>| 200</span></p>
            </div>
            <div class="diff info-item long">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Professional</p>
            </div>
            <div class="cost info-item short">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">10 IOI</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" *ngIf="myDriverBalances.game_wallet_ioi >= 10" [routerLink]="['/car/fuel-car/car_race_enduro_10']"></div>
        <div class="click-dummy"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'deposit' }"
        *ngIf="myDriverBalances.game_wallet_ioi < 10"></div>
      </div>
      
      <div class="race-item expert">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[21].fav" (click)="this.baseFavRaces[21].fav = !this.baseFavRaces[21].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[21].fav" (click)="this.baseFavRaces[21].fav = !this.baseFavRaces[21].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'car_race_enduro_50'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Expert</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ cstart?.players_count }} <span>| 200</span></p>
            </div>
            <div class="diff info-item">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Expert</p>
            </div>
            <div class="cost info-item">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">50 IOI</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" *ngIf="myDriverBalances.game_wallet_ioi >= 50" [routerLink]="['/car/fuel-car/car_race_enduro_50']"></div>
        <div class="click-dummy"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'deposit' }"
        *ngIf="myDriverBalances.game_wallet_ioi < 50"></div>
      </div>

      <div class="race-item master">
        <div class="control-btns">
          <img *ngIf="!this.baseFavRaces[22].fav" (click)="this.baseFavRaces[22].fav = !this.baseFavRaces[22].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-blank.svg" alt="">
          <img *ngIf="this.baseFavRaces[22].fav" (click)="this.baseFavRaces[22].fav = !this.baseFavRaces[22].fav" (click)="updateFavRaces();"
          src="/assets/base/images/icons/favourite-full.svg" alt="">
          <img
          *ngIf="fastEnabled === true"
          (click)="selRaceType = 'car_race_enduro_100'"
          class="fast" src="/assets/base/images/icons/fast-fuel-icon.svg" alt="">
        </div>
        <div class="text-holder">
          <p class="name">Master</p>
          <div class="info-box">
            <div class="players info-item">
              <p><img src="/assets/base/images/race-type/player.svg" alt=""> {{ enestart?.players_count }} <span>| 200</span></p>
            </div>
            <div class="diff info-item">
              <p><img src="/assets/base/images/race-type/star.svg" alt=""> Master</p>
            </div>
            <div class="cost info-item">
              <p><img src="/assets/base/images/race-type/dollar.svg" alt="">100 IOI</p>
            </div>
          </div>
        </div>
        <div class="click-dummy" *ngIf="myDriverBalances.game_wallet_ioi >= 100" [routerLink]="['/car/fuel-car/car_race_enduro_100']"></div>
        <div class="click-dummy"
        [routerLink]="['/other/wallet-control']"
        [queryParams]="{ controlType: 'deposit' }"
        *ngIf="myDriverBalances.game_wallet_ioi < 100"></div>
      </div>

    </div>

    <div class="fuel-strategy">
      <img
          class="tip red-star"
          src="assets/base/images/race-type/tip-red.svg"
          alt=""
        />
        <img
          class="tip blue-star"
          src="assets/base/images/race-type/tip-blue.svg"
          alt=""
        />
        <p class="tip-text">
          Set up your fuel strategy for a race and start with one click
        </p>
        <button
          [routerLink]="['/car/favourite-cars']"
          class="set-up my-border-color"
        >
          Set up fast fuel
        </button>
    </div>
  </div>

</div>

<div class="intro-modal" *ngIf="selRaceType">
  <app-fast-fuel [raceId]="selRaceType"></app-fast-fuel>
</div>
