* {
  margin: 0px;
}
.title-text {
  font-family: Orbitron;
  color: #ffffff;
}
.content {
  max-width: 2400px;
  width: 90%;
  margin: 0 auto;
}
footer {
  overflow: hidden;
  background: #111111;
  padding-bottom: 170px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .white-space-line {
      margin: 30px 0px;
      background: rgba(255, 255, 255, 0.25);
      height: 2px;
      width: 300%;
    }
    .partners {
      &.featured-on {
        .partners-content {
          .partners-holder {
            img {
              height: 156px;
            }
          }
        }
      }
      .partners-content {
        padding: 80px 0px;
        text-align: center;
        .partners-holder {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          img {
            margin: 15px 15px;
            height: 88px;
          }
        }
      }
    }
    .info-line {
      width: 100%;
      height: 100px;
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .title-text {
        position: relative;
        z-index: 1;
        color: #000000;
        font-family: Orbitron;
      }
      .info-back {
        left: -10%;
        position: absolute;
        width: 120%;
        background: #ffffff;
        height: inherit;
        top: 0px;
      }
    }
    .active-users {
      width: 100%;
      padding: 130px 0px;
      display: flex;
      justify-content: space-evenly;
      .active-item {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .active-image {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 350px;
          height: 150px;
          position: relative;
          svg {
            transition: 0.25s;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            fill: #111111;
          }
          &:hover {
            svg {
              fill: #ffffff;
            }
            .title-text {
              color: #111111;
            }
          }
        }
        .title-text {
          font-family: Orbitron;
          transition: 0.25s;
          position: relative;
          z-index: 1;
          &.smallest {
            font-weight: bold;
          }
        }
      }
    }
    .footer-links {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-bottom: 30px;
      .logo {
        cursor: pointer;
        width: 300px;
        margin-bottom: 40px;
      }
      .links-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .links-spacing {
        margin-top: 5px;
      }

      .text {
        &.big {
          font-weight: bold;
        }
        &.medium {
          width: fit-content;
          color: rgba(255, 255, 255, 0.7);
          letter-spacing: 0.015em;
          &.mail {
            color: #ffffff;
          }
          &.linked {
            transition: 0.25s;
            cursor: pointer;

            &:hover {
              color: #1cffff;
            }
          }
        }
      }
    }
    .join-community {
      padding: 100px 0px 50px 0px;
      display: flex;
      justify-content: center;
      align-items: center;

      .right-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          margin: 0px 40px;
          cursor: pointer;
          transition: 0.25s;
          height: 60px;
          fill: #ffffff;
          &.bigger {
            margin-top: 6px;
            height: 69px;
          }
          &.last {
            margin-right: 0px;
          }
          &:hover {
            fill: #1cffff;
            transform: translateY(1px);
          }
        }
      }
    }
    .copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 0px 0px;
      p {
        transition: 0.25s;
        margin: 5px 20px;
        opacity: 0.4;
        font-weight: 600;
        &.linked {
          cursor: pointer;
          &:hover {
            color: #1cffff;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
@media screen and(max-width: 2300px) {
  footer {
    .content {
      .partners {
        .partners-content {
          .partners-holder {
            img {
              height: 83px;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width: 2200px) {
  footer {
    .content {
      .partners {
        .partners-content {
          .partners-holder {
            img {
              height: 83px;
              margin: 15px 9px;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 2000px) {
  footer {
    .content {
      .partners {
        &.featured-on {
          .partners-content {
            .partners-holder {
              img {
                height: 134px;
              }
            }
          }
        }
        .partners-content {
          .partners-holder {
            img {
              height: 78px;
              margin: 15px 6px;
            }
          }
        }
      }
      .active-users {
        .active-item {
          .active-image {
            width: 300px;
            height: 120px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1900px) {
  footer {
    .content {
      .partners {
        .partners-content {
          .partners-holder {
            img {
              height: 75px;
              margin: 15px 5px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1800px) {
  footer {
    .content {
      .partners {
        .partners-content {
          .partners-holder {
            img {
              height: 71px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1700px) {
  footer {
    .content {
      .partners {
        &.featured-on {
          .partners-content {
            .partners-holder {
              img {
                height: 120px;
              }
            }
          }
        }
        .partners-content {
          .partners-holder {
            img {
              height: 66px;
            }
          }
        }
      }
      .footer-links {
        .logo {
          width: 220px;
        }
      }
    }
  }
}
@media screen and (max-width: 1600px) {
  footer {
    .content {
      .partners {
        .partners-content {
          .partners-holder {
            img {
              height: 64px;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width: 1550px) {
  footer {
    padding-bottom: 140px;
    .content {
      .white-space-line {
        margin: 15px 0px;
      }
      .partners {
        &.featured-on {
          .partners-content {
            .partners-holder {
              img {
                height: 120px;
              }
            }
          }
        }
        .partners-content {
          .partners-holder {
            img {
              height: 60px;
            }
          }
        }
      }
      .info-line {
        height: 75px;
      }
      .active-users {
        padding: 100px 0px;
        .active-item {
          .active-image {
            width: 250px;
            height: 90px;
          }
        }
      }
      .footer-links {
        .logo {
          width: 180px;
          margin-bottom: 30px;
        }
      }
      .join-community {
        padding: 80px 0px 40 0px;
        .right-holder {
          svg {
            height: 45px;
            margin: 0px 30px;
            &.bigger {
              margin-top: 6px;
              height: 54px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1450px) {
  footer {
    .content {
      .partners {
        .partners-content {
          .partners-holder {
            img {
              height: 58px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  footer {
    .content {
      .partners {
        .partners-content {
          .partners-holder {
            img {
              height: 54px;
              margin: 13px 4px;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width: 1300px) {
  footer {
    .content {
      .partners {
        &.featured-on {
          .partners-content {
            .partners-holder {
              img {
                height: 87px;
              }
            }
          }
        }
        .partners-content {
          .partners-holder {
            img {
              height: 50px;
              margin: 11px 4px;
            }
          }
        }
      }
      .info-line {
        height: 65px;
      }
      .active-users {
        padding: 80px 0px;
        .active-item {
          .active-image {
            width: 220px;
            height: 70px;
          }
        }
      }
      .join-community {
        padding: 60px 0px 30px 0px;
        .right-holder {
          svg {
            height: 40px;
            &.bigger {
              margin-top: 5px;
              height: 47px;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width: 1200px) {
  footer {
    .content {
      .partners {
        .partners-content {
          .partners-holder {
            img {
              height: 46px;
              margin: 10px 4px;
            }
          }
        }
      }
      .info-line {
        height: 60px;
      }
      .active-users {
        padding: 70px 0px;
        .active-item {
          .active-image {
            width: 200px;
            height: 60px;
          }
        }
      }
      .join-community {
        padding: 50px 0px 25px 0px;
        .right-holder {
          svg {
            height: 35px;
            &.bigger {
              height: 42px;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width: 1100px) {
  footer {
    .content {
      .partners {
        &.featured-on {
          .partners-content {
            .partners-holder {
              img {
                height: 75px;
              }
            }
          }
        }
        .partners-content {
          .partners-holder {
            img {
              height: 42px;
              margin: 8px 4px;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width: 1024px) {
  .content {
    padding: 50px 0px;
  }
  footer {
    padding-bottom: 50px;
    .content {
      .partners {
        &.featured-on {
          .partners-content {
            .partners-holder {
              img {
                height: 44px;
              }
            }
          }
        }
        .partners-content {
          .partners-holder {
            img {
              height: 46px;
              margin: 6px 4px;
            }
          }
        }
      }
      .info-line {
        height: 90px;
      }
      .active-users {
        padding: 20px 0px 50px 0px;
        flex-wrap: wrap;
        .active-item {
          width: 50%;
          margin-top: 40px;
        }
      }
      .footer-links {
        align-items: center;
        .links-content {
          flex-wrap: wrap;
        }
        .links-item {
          width: 50%;
          margin-top: 30px;
        }
      }
      .join-community {
        .right-holder {
          svg {
            margin: 0px 20px;
          }
        }
      }
    }
  }
}
@media screen and(max-width: 640px) {
  footer {
    .content {
      .partners {
        .partners-content {
          padding: 20px 0px 45px 0px;
          .partners-holder {
            justify-content: center;
            img {
              height: 35px;
              margin: 5px 2px;
            }
          }
        }
      }
      .footer-links {
        .logo {
          margin-top: 15px;
          margin-bottom: 10px;
          width: 165px;
        }
        .links-item {
          width: 100%;
        }
      }
      .active-users {
        padding: 20px 0px 10px 0px;
        .active-item {
          width: 100%;
        }
      }
      .join-community {
        padding: 20px 0px 10px 0px;
        flex-direction: column;

        .right-holder {
          margin-top: 30px;
          width: 90%;
          justify-content: space-between;
          svg {
            margin: 0px 12px;
            height: 31px;
            &.bigger {
              height: 37px;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width: 500px) {
  footer {
    .content {
      .info-line {
        height: 100px;
      }
      .copyright {
        p {
          margin: 5px 15px;
        }
      }
    }
  }
}
@media screen and(max-width: 400px) {
  footer {
    .content {
      .partners {
        &.featured-on {
          .partners-content {
            .partners-holder {
              img {
                height: 38px;
              }
            }
          }
        }
        .partners-content {
          .partners-holder {
            justify-content: center;
            img {
              height: 32px;
              margin: 3px 2px;
            }
          }
        }
      }
      .join-community {
        .right-holder {
          svg {
            margin: 0px 10px;
            height: 26px;
            &.bigger {
              height: 32px;
            }
          }
        }
      }
      .copyright {
        p {
          margin: 4px 10px;
        }
      }
    }
  }
}
@media screen and(max-width: 350px) {
  footer {
    .content {
      .partners {
        .partners-content {
          .partners-holder {
            justify-content: center;
            img {
              height: 30px;
              margin: 2px 1px;
            }
          }
        }
      }
    }
  }
}

//text queries
.space-big {
  margin-top: 60px;
}
.space {
  margin-top: 40px;
}
.space-small {
  margin-top: 15px;
}
.bold {
  font-weight: bold !important;
}
.title-text {
  text-transform: uppercase;
  &.big {
    font-weight: 900;
    font-size: 80px;
    line-height: 84px;
  }
  &.medium {
    font-weight: 800;
    font-size: 65px;
    line-height: 69px;
  }
  &.small {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
  &.smallest {
    font-weight: 900;
    font-size: 30px;
    line-height: 34px;
  }
}
.text {
  &.biggest {
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
  }
  &.big {
    color: #ffffff;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
  }
  &.medium {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
  }
  &.small {
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
  }
  &.smallest {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 2000px) {
  .space-big {
    margin-top: 55px;
  }
  .space {
    margin-top: 37px;
  }
  .space-small {
    margin-top: 13px;
  }
  .title-text {
    &.big {
      font-size: 75px;
      line-height: 79px;
    }
    &.medium {
      font-size: 57px;
      line-height: 61px;
    }
    &.small {
      font-size: 36px;
      line-height: 40px;
    }
    &.smallest {
      font-size: 25px;
      line-height: 29px;
    }
  }
  .text {
    &.biggest {
      font-size: 24px;
      line-height: 27px;
    }
    &.big {
      font-size: 20px;
      line-height: 23px;
    }
    &.medium {
      font-size: 16px;
      line-height: 19px;
    }
    &.small {
      font-size: 15px;
      line-height: 18px;
    }
    &.smallest {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
@media screen and (max-width: 1700px) {
  .space-big {
    margin-top: 50px;
  }
  .space {
    margin-top: 35px;
  }
  .space-small {
    margin-top: 11px;
  }
  .title-text {
    &.big {
      font-size: 70px;
      line-height: 74px;
    }
    &.medium {
      font-size: 52px;
      line-height: 56px;
    }
    &.small {
      font-size: 32px;
      line-height: 36px;
    }
    &.smallest {
      font-size: 23px;
      line-height: 27px;
    }
  }
  .text {
    &.biggest {
      font-size: 22px;
      line-height: 25px;
    }
    &.big {
      font-size: 18px;
      line-height: 21px;
    }
    &.medium {
      font-size: 14px;
      line-height: 17px;
    }
    &.small {
      font-size: 14px;
      line-height: 17px;
    }
    &.smallest {
      font-size: 11px;
      line-height: 13px;
    }
  }
}
@media screen and (max-width: 1550px) {
  .space-big {
    margin-top: 45px;
  }
  .space {
    margin-top: 30px;
  }
  .space-small {
    margin-top: 8px;
  }
  .title-text {
    &.big {
      font-size: 64px;
      line-height: 68px;
    }
    &.medium {
      font-size: 49px;
      line-height: 53px;
    }
    &.small {
      font-size: 29px;
      line-height: 33px;
    }
    &.smallest {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .text {
    &.biggest {
      font-size: 21px;
      line-height: 24px;
    }
    &.big {
      font-size: 17px;
      line-height: 20px;
    }
    &.medium {
      font-size: 13px;
      line-height: 16px;
    }
    &.small {
      font-size: 13px;
      line-height: 16px;
    }
    &.smallest {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
@media screen and (max-width: 1400px) {
  .space-big {
    margin-top: 40px;
  }
  .space {
    margin-top: 27px;
  }
  .space-small {
    margin-top: 7px;
  }
  .title-text {
    &.big {
      font-size: 57px;
      line-height: 61px;
    }
    &.medium {
      font-size: 43px;
      line-height: 47px;
    }
    &.small {
      font-size: 28px;
      line-height: 32px;
    }
    &.smallest {
      font-size: 19px;
      line-height: 23px;
    }
  }
  .text {
    &.biggest {
      font-size: 20px;
      line-height: 23px;
    }
    &.big {
      font-size: 16px;
      line-height: 19px;
    }
    &.medium {
      font-size: 13px;
      line-height: 16px;
    }
    &.small {
      font-size: 12px;
      line-height: 14px;
    }
    &.smallest {
      font-size: 9px;
      line-height: 11px;
    }
  }
}
@media screen and (max-width: 1300px) {
  .space-big {
    margin-top: 35px;
  }
  .space {
    margin-top: 25px;
  }
  .space-small {
    margin-top: 6px;
  }
  .title-text {
    &.big {
      font-size: 53px;
      line-height: 57px;
    }
    &.medium {
      font-size: 40px;
      line-height: 44px;
    }
    &.small {
      font-size: 27px;
      line-height: 31px;
    }
    &.smallest {
      font-size: 18px;
      line-height: 22px;
    }
  }
  .text {
    &.biggest {
      font-size: 18px;
      line-height: 21px;
    }
    &.big {
      font-size: 15px;
      line-height: 18px;
    }
    &.medium {
      font-size: 12px;
      line-height: 15px;
    }
    &.small {
      font-size: 11px;
      line-height: 13px;
    }
    &.smallest {
      font-size: 8px;
      line-height: 10px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .space-big {
    margin-top: 30px;
  }
  .space {
    margin-top: 20px;
  }
  .space-small {
    margin-top: 5px;
  }
  .title-text {
    &.big {
      font-size: 48px;
      line-height: 52px;
    }
    &.medium {
      font-size: 37px;
      line-height: 41px;
    }
    &.small {
      font-size: 25px;
      line-height: 28px;
    }
    &.smallest {
      font-size: 17px;
      line-height: 20px;
    }
  }
  .text {
    &.biggest {
      font-size: 17px;
      line-height: 20px;
    }
    &.big {
      font-size: 14px;
      line-height: 17px;
    }
    &.medium {
      font-size: 11px;
      line-height: 14px;
    }
    &.small {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
@media screen and (max-width: 640px) {
  .space-big {
    margin-top: 25px;
  }
  .space {
    margin-top: 20px;
  }
  .space-small {
    margin-top: 5px;
  }
  .title-text {
    &.big {
      font-size: 42px;
      line-height: 36px;
    }
    &.medium {
      font-size: 31px;
      line-height: 35px;
    }

    &.smallest {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
