
<div class="content-holder">
  <div class="left-holder">
    <div class="curr-holder">
      <p class="common-heading">Currency</p>
      <p class="desc-text">Choose a currency you want to withdraw from your account</p>
      <div class="boxes-holder">
        <div class="box-item ioi" [ngClass]="{'active': tokenSelected === 'ioi'}" (click)="tokenSelected = 'ioi'">
          <div class="inner">
            <img src="/assets/base/images/tankovanie/ioi-token.png" alt="Logo of ioi token" class="curr-logo">
            <div class="text-holder">
              <ng-container *ngIf="myIoiBalance > 0">
                <p class="value">{{myIoiBalance | number:'1.0-2':'fr' }} IOI</p>
              <p class="dollars">&#36; {{(myIoiBalance * 0.4 | number:'1.0-2':'fr')}}</p>
              </ng-container>

              <ng-container *ngIf="myIoiBalance === 0">
                <p class="value">0 IOI</p>
                <p class="dollars">&#36; 0</p>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="soon-curs">
          <p class="mid-text">More currencies coming soon</p>
          <div class="box-item">
            <div class="inner">
              <img src="/assets/base/images/tankovanie/btc-token.png" alt="Logo of Bitcoin token" class="curr-logo">
              <div class="text-holder">
                <p class="value">Bitcoin</p>
                <p class="dollars">&#36; 1,235.12</p>
              </div>
            </div>
          </div>
          <div class="box-item">
            <div class="inner">
              <img src="/assets/base/images/tankovanie/eth-token.png" alt="Logo of Ethereum token" class="curr-logo">
              <div class="text-holder">
                <p class="value">Ethereum</p>
                <p class="dollars">&#36; 1,235.12</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="amount-holder">
      <p class="common-heading">Amount</p>
      <div class="amount-input my-cta-btn-back">
        <div class="inner">
          <input type="number" min="100" [(ngModel)]="amount" [ngModelOptions]="{standalone: true}" placeholder="Enter the ammount you want to withdraw">
          <p class="curr-desc" *ngIf="tokenSelected === 'matic'">MATIC</p>
          <p class="curr-desc" *ngIf="tokenSelected === 'ioi'">IOI</p>
        </div>
        <p class="input-note">Minimal withdrawal amount is 100 {{tokenSelected.toUpperCase()}}</p>
      </div>
      <p class="common-heading">Crypto wallet address</p>
      <div class="crypto-input">
        <input type="text" placeholder="Enter an address  of crypto wallet you want to send funds into" [(ngModel)]="cryptoMtfrckr" [ngModelOptions]="{standalone: true}">
      </div>
    </div>

  </div>
  <div class="right-holder">
    <p class="common-heading">Your withdrawal summary</p>
    <div class="main-panel">
      <div class="withdraw-info">
        <p class="text">You are withdrawing</p>
        <p class="value"><span *ngIf="amount > 0">{{amount}}</span> <span *ngIf="amount < 1">0</span>
          <span *ngIf="tokenSelected === 'matic'" class="value-desc">MATIC</span>
          <span *ngIf="tokenSelected === 'ioi'" class="value-desc">IOI</span>
        </p>
        <p *ngIf="tokenSelected === 'matic'" class="desc">market value 1 MATIC = 20 USD</p>
        <p *ngIf="tokenSelected === 'ioi'" class="desc">market value 1 IOI = 0.4$</p>
      </div>
      <div class="summary-box">
        <div class="border-maker my-cta-btn-back"></div>
        <div class="info-item crypto-adress">
          <p class="desc">Crypto wallet address</p>
          <input type="text" [(ngModel)]="cryptoMtfrckr" [ngModelOptions]="{standalone: true}" readonly>
        </div>
        <div class="info-item second">
          <p class="desc">Currency you will receive</p>
          <p *ngIf="tokenSelected === 'matic'" class="value">MATIC</p>
          <p *ngIf="tokenSelected === 'ioi'" class="value">IOI</p>
        </div>
      </div>

      <button class="confirm-btn my-cta-btn-back hoverable" (click)="resolveWithdrawal()" [disabled]="tokenSelected.length < 1 || amount < 100 || cryptoMtfrckr.length === 0"
         *ngIf="myDriver?.is_using_authenticator === false">Confirm</button>

      <button class="confirm-btn my-cta-btn-back hoverable" (click)="resolveWithdrawal()" [disabled]="tokenSelected.length < 1 || amount < 100 || authcode.length < 1 || cryptoMtfrckr.length === 0"
         *ngIf="myDriver?.is_using_authenticator === true">Confirm</button>
    </div>
  </div>
</div>


<div class="confirm-code-modal" *ngIf="confirmed === false && confirming === true">

  <div class="inner-modal-content">
    <div class="modal-close" [routerLink]="['/race/start-race']"><img src="/assets/base/images/garage/red-close-cross.svg" alt="Close modal icon"></div>

    <div class="deposit-modal-body">

        <h1 class="main-heading">Enter confirmation code from your email</h1>
        <div class="input-box modal-box desc-box">
          <div class="input-holder my-cta-btn-back">
            <input [(ngModel)]="confirmCode" [ngModelOptions]="{standalone: true}">
          </div>
          <p class="disclaim"></p>
        </div>

        <button class="confirm-btn my-cta-btn-back" (click)="confirmWithdrawal()">Confirm</button>
        
    </div>
  </div>
  
</div> 