.content-holder {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  .common-heading {
    font-family: Earth Orbiter;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
  }
  .disabled {
    opacity: 0.5;
  }
  .left-holder {
    width: 49%;
    height: 100%;
    .curr-holder {
      width: 100%;
      margin-bottom: 20px;
      &.chain {
        .boxes-holder {
          .box-item {
            .inner {
              .text-holder {
                max-width: 100%;
                margin-left: 0;
              }
            }
          }
        }
      }
      .common-heading {
        margin-bottom: 20px;
      }
      .desc-text {
        font-size: 16px;
        font-weight: 300;
        margin: 0 0 30px 0;
      }
      .boxes-holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        width: 100%;
        .box-item {
          width: 48%;
          height: 100%;
          border: 3px solid rgba(255, 255, 255, 0.4);
          position: relative;
          transition: 0.2s;
          cursor: pointer;
          &:hover {
            .back-img {
              opacity: 0.7;
            }
          }
          &.active {
            .back-img {
              opacity: 1;
            }
            .active-border {
              opacity: 1;
            }
          }
          .back-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.4;
            transition: 0.2s;
          }
          .active-border {
            position: absolute;
            bottom: -3px;
            left: -3px;
            height: 3px;
            width: calc(100% + 6px);
            opacity: 0;
          }
          p {
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);
            font-size: 20px;
            font-weight: 700;
            img {
              display: inline-block;
              margin-right: 30px;
              width: 40px;
            }
          }
        }
      }
    }
    .amount-holder {
      width: 100%;
      height: 60%;
      padding: 20px 0 0 0;
      position: relative;
      .common-heading {
        margin-bottom: 5px;
        margin-left: 15px;
      }
      .selected-curr {
        background: #111111;

        width: 80%;
        max-width: 316px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 40px;
        margin-bottom: 27px;
        .desc {
          height: 100%;
          width: 70%;
          padding: 0 10px 0 25px;
          border-right: 1px solid #222;
          p {
            line-height: 40px;
            margin: 0;
            color: #868686;
            font-size: 16px;
          }
        }
        .value {
          height: 100%;
          width: 30%;
          text-align: center;
          p {
            line-height: 40px;
            margin: 0;
            font-size: 16px;
          }
        }
      }
      .amount-input {
        width: 100%;

        position: relative;
        margin-bottom: 40px;
        .inner {
          background: white;
          width: 100%;
          position: relative;
          input {
            padding: 13px 64px 13px 30px;
            background: transparent;
            width: 100%;
            border: none;
            outline: none;
            color: #333;
            font-weight: 600;
          }
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type="number"] {
            -moz-appearance: textfield;
          }
          .curr-desc {
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
            font-weight: 500;
            font-size: 16px;
            margin: 0;
          }
        }
        .input-note {
          position: absolute;
          top: -10px;
          right: 0;
          transform: translateY(-100%);
          font-size: 16px;
          font-weight: 300;
          opacity: 0.4;
          margin: 0;
        }
      }
      .crypto-input {
        width: 100%;
        input {
          background: white;
          padding: 13px 30px;
          width: 100%;
          border: none;
          outline: none;
          color: #333;
          font-weight: 600;
        }
      }
    }
  }
  .right-holder {
    width: 49%;
    height: 100%;
    .common-heading {
      margin-bottom: 20px;
    }
    .main-panel {
      width: 100%;
      height: calc(100% - 50px);
      text-align: center;
      .inner {
        background: rgba(17, 17, 17, 0.6);
        padding: 10px 40px 10px 40px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .withdraw-info {
          text-align: center;
          .text {
            font-size: 18px;
            font-weight: 300;
            margin: 0 0 40px 0;
          }
          .value {
            font-weight: 600;
            font-size: 40px;
            margin: 0;
            display: inline-block;
            position: relative;
            margin-bottom: 15px;
            span {
              font-family: Earth Orbiter;
            }
            img {
              width: 40px;
              display: inline-block;
              margin-right: 20px;
            }
          }
          .desc {
            font-size: 18px;
            margin: 0;
            opacity: 0.4;
          }
        }
        .summary-box {
          position: relative;
          margin-top: 75px;
          width: 100%;
          .info-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background: #111111;
            height: 40px;
            &.second {
              margin-top: 1px;
            }
            input {
              background: transparent;
              padding: 5px 10px;
              border: none;
            }
            .desc {
              width: 50%;
              height: 100%;
              border-right: 2px solid #222;
              p {
                margin: 0;
                font-size: 18px;
                text-align: center;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
              }
            }
            .text {
              width: 50%;
              padding: 0 10px 0 30px;
              p {
                font-size: 16px;
                text-align: center;
                margin: 0;
              }
            }
          }
        }
        .confirm-btn {
          width: 180px;
          height: 40px;
          font-size: 16px;
          font-weight: 400;
          padding: 11px 40px;
          margin-top: 95px;
          &.inactive {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.confirm-code-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  transition: 0.2s;
  z-index: 10000000;
  background: rgba(17, 17, 17, 0.8);
  .inner-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #111;

    width: 90%;
    max-width: 600px;
    box-shadow: 0px 0px 40px #000000;
    padding: 20px;
    .modal-close {
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 5px;
      cursor: pointer;
      transition: 0.15s;
      &:hover {
        transform: rotate(90deg);
      }
    }
    .deposit-modal-body {
      padding: 30px 5px;
      .main-heading {
        font-size: 21px;
        margin: 5px 0 25px;
        text-align: center;
      }
      .input-holder {
        padding: 2px;
        width: 90%;
        margin: 20px auto;
        input {
          width: 100%;
          text-align: center;
          color: white;
          font-size: 18px;
          padding: 15px 10px;
          border: none;
          background: #111;
        }
      }
      .confirm-btn {
        font-size: 17px;
        font-weight: 400;
        text-align: center;
        padding: 17px 35px;
        box-shadow: 0px 0px 20px rgb(254 23 63 / 40%);

        color: white;
        border: none;
        display: block;
        margin: 40px auto 10px;
        opacity: 1;
        outline: none;
        &.inactive {
          opacity: 0.6;
          box-shadow: none;
          cursor: default;
        }
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .content-holder {
    .common-heading {
      font-size: 18px;
    }
    .left-holder {
      .curr-holder {
        margin-bottom: 15px;
        .common-heading {
          margin-bottom: 15px;
        }
        .desc-text {
          font-size: 15px;
          margin: 0 0 15px 0;
        }
        .boxes-holder {
          height: 75px;
          .box-item {
            p {
              font-size: 18px;
              margin: 0;
              img {
                width: 37px;
              }
            }
          }
          .soon-curs {
            width: 32%;
            .box-item {
              .soon-text {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
    .right-holder {
      .common-heading {
        margin-bottom: 15px;
      }
      .main-panel {
        .inner {
          padding: 25px 30px 10px 30px;
          .summary-box {
            .info-item {
              .desc {
                p {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .content-holder {
    .common-heading {
      font-size: 17px;
    }
    .left-holder {
      .curr-holder {
        .common-heading {
          margin-bottom: 12px;
        }
        .desc-text {
          font-size: 14px;
          margin: 0 0 12px 0;
        }
        .boxes-holder {
          height: 70px;
          .box-item {
            .inner {
              .curr-logo {
                width: 30px;
                &.matic {
                  padding: 7px 0 0 12px;
                }
              }
              .text-holder {
                left: 12px;
                .value {
                  font-size: 16px;
                  margin: 0 0 2px 0;
                }
              }
            }
          }
          .soon-curs {
            .mid-text {
              font-size: 13px;
            }
          }
        }
      }
      .amount-holder {
        margin: 20px 0 10px;
        .common-heading {
          margin-bottom: 10px;
          margin-left: 11px;
        }
        .selected-curr {
          max-width: 276px;
          height: 36px;
          .desc {
            p {
              font-size: 15px;
              line-height: 36px;
            }
          }
          .value {
            p {
              line-height: 36px;
              font-size: 15px;
            }
          }
        }
        .amount-input {
          margin-bottom: 27px;
          .inner {
            input {
              padding: 10px 60px 10px 25px;
              font-size: 15px;
            }
            .curr-desc {
              right: 25px;
              font-size: 14px;
            }
          }
          .input-note {
            font-size: 14px;
          }
        }
        .crypto-input {
          input {
            padding: 10px 25px;
          }
        }
      }
    }
    .right-holder {
      .common-heading {
        margin-bottom: 12px;
      }
      .main-panel {
        .inner {
          padding: 0 22px 7px 22px;
          .withdraw-info {
            .text {
              font-size: 16px;
              margin: 22px 0;
            }
            .value {
              font-size: 30px;
              .value-desc {
                font-size: 15px;
              }
            }
            .desc {
              font-size: 16px;
            }
          }
          .summary-box {
            margin-top: 40px;
            .info-item {
              text-align: left;
              .desc {
                p {
                  font-size: 13px;
                }
              }
            }
          }
          .confirm-btn {
            margin-top: 50px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .content-holder {
    .left-holder {
      .curr-holder {
        .boxes-holder {
          height: 65px;
          .box-item {
            p {
              font-size: 15px;
              img {
                width: 31px;
                margin-right: 15px;
              }
            }
          }
        }
      }
      .amount-holder {
        .big-text {
          font-size: 15px;
        }
      }
    }
    .right-holder {
      .main-panel {
        .inner {
          padding: 30px 20px 10px 20px;
          .depositing-info {
            .text {
              font-size: 12px;
            }
          }
          .my-wallet-info {
            .info-item {
              &.crypto-adress {
                margin-bottom: 45px;
                input {
                  font-size: 17px;
                }
              }
            }
          }
          .qr-code-holder {
            .info-text {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .content-holder {
    .left-holder {
      .curr-holder {
        .boxes-holder {
          .box-item {
            background: rgba(0, 0, 0, 0.8);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .content-holder {
    .left-holder {
      .curr-holder {
        .boxes-holder {
          height: 60px;
          .box-item {
            p {
              font-size: 13px;
              img {
                width: 26px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape){
  .content-holder{
    .right-holder{
      .main-panel{
        max-height: 463px;
      }
    }
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .content-holder {
    height: 317px;
    margin-top: 0;
    .common-heading {
      font-size: 11px;
    }
    .left-holder {
      width: 47%;
      .curr-holder {
        .common-heading {
          margin-bottom: 2px;
        }
        .boxes-holder {
          height: 39px;
          .box-item {
            p {
              font-size: 10px;
              img {
                width: 20px;
                margin-right: 7px;
              }
            }
          }
        }
      }
      .amount-holder {
        margin: 5px 0;
        .common-heading {
          margin-bottom: 4px;
          margin-left: 0;
        }
        .amount-input {
          margin-bottom: 7px;
          .input-note {
            font-size: 11px;
            top: -5px;
          }
          .inner {
            input {
              padding: 7px 30px 7px 10px;
              font-size: 11px;
            }
          }
        }
        .crypto-input {
          input {
            padding: 7px 30px 7px 10px;
            font-size: 11px;
          }
        }
      }
      .address-holder {
        margin-bottom: 11px;
        .common-heading {
          margin-bottom: 2px;
        }
        input {
          font-size: 11px;
          padding: 5px 35px 5px 18px;
        }
        .input-holder {
          .correct-input {
            width: 26px;

            svg {
              width: 13px;
            }
          }
        }
        button {
          height: 25px;
          font-size: 11px;
          padding: 6px 20px;

          margin-top: 10px;
        }
      }
      .deposit-disclaim {
        margin: 9px 0 6px;
        height: 70px;
        .border-maker {
          .inner-holder {
            img {
              margin-right: 15px;
              width: 20px;
            }
            p {
              font-size: 9px;
            }
          }
        }
      }
    }
    .right-holder {
      .common-heading {
        margin-bottom: 2px;
      }
      .main-panel {
        height: calc(100% - 18px);
        .inner {
          padding: 7px 10px 6px 10px;
          .withdraw-info {
            .text {
              font-size: 11px;
              margin: 6px 0;
            }
            .value {
              margin-bottom: 10px;
              font-size: 16px;
              img {
                width: 21px;
                margin-right: 10px;
              }
            }
            .desc {
              font-size: 11px;
            }
          }
          .summary-box {
            margin-top: 15px;
            .info-item {
              height: 27px;
              .desc {
                p {
                  font-size: 8px;
                }
              }
              .text {
                padding: 0 5px 0 10px;
                p {
                  font-size: 13px;
                }
              }
              input {
                padding: 3px 5px;
                font-size: 10px;
              }
            }
          }
          .confirm-btn {
            margin-top: 30px;
            width: 160px;
            height: 32px;
            font-size: 13px;
            padding: 7px 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) and (orientation: portrait) {
  .content-holder {
    flex-wrap: wrap;
    .left-holder,
    .right-holder {
      width: 90%;
      margin: 0 auto;
    }
    .left-holder {
      height: unset;
      .curr-holder {
        .boxes-holder {
          .box-item {
            .inner {
              .arrow-btn {
                display: none;
              }
              .text-holder {
                .dollars {
                  display: none;
                }
              }
            }
          }
        }
      }
      .amount-holder {
        background: transparent;
        padding: 20px 0;
        .selected-curr {
          display: none;
        }
        .amount-input {
          .inner {
            input {
              padding: 11px 50px 11px 20px;
              font-size: 17px;
            }
          }
        }
        .crypto-input {
          input {
            padding: 11px 20px;
            font-size: 17px;
          }
        }
      }
    }
    .right-holder {
      height: unset;
      margin-bottom: 15px;
      .main-panel {
        height: unset;
        .inner {
          padding: 16px 18px;
          .summary-box {
            margin-top: 0;
            .info-item {
              background: transparent;
              input {
                padding: 0;
              }
              .desc {
                border-right: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .content-holder {
    .left-holder,
    .right-holder {
      width: 100%;
    }
    .left-holder {
      .amount-holder {
        margin: 0 0 10px;
        padding: 0;
        .selected-curr {
          max-width: 100%;
          width: 100%;
        }
      }
    }
    .right-holder {
      .main-panel {
        .withdraw-info {
          .text {
            font-size: 13px;
            margin: 17px 0;
          }
          .value {
            font-size: 22px;
            .value-desc {
              font-size: 12px;
            }
          }
          .desc {
            font-size: 13px;
          }
        }
        .summary-box {
          padding-top: 30px;
          margin-top: 30px;
          .info-item {
            p {
              font-size: 12px;
              &.desc {
                font-size: 11px;
              }
            }
            input {
              font-size: 12px;
            }
            &.second {
              margin-top: 18px;
            }
          }
        }
        .confirm-btn {
          margin-top: 30px;
          font-size: 14px;
          padding: 9px 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  .content-holder {
    height: 270px;
    .common-heading {
      font-size: 8px;
    }
    .left-holder {
      .curr-holder {
        .boxes-holder {
          height: 31px;
          .box-item {
            border: 2px solid rgba(255, 255, 255, 0.4);
            p {
              font-size: 8px;
              img {
                width: 14px;
                margin-right: 4px;
              }
            }
            .active-border {
              bottom: -2px;
              left: -2px;
              height: 2px;
              width: calc(100% + 4px);
            }
          }
        }
      }
      .amount-holder {
        margin: 2px 0;
        .common-heading {
          margin-bottom: 2px;
        }
        .amount-input {
          margin-bottom: 4px;
          .input-note {
            font-size: 9px;
            top: -3px;
          }
          .inner {
            input {
              padding: 5px 20px 5px 7px;
              font-size: 10px;
            }
          }
        }
        .crypto-input {
          input {
            padding: 5px 20px 5px 7px;
            font-size: 10px;
          }
        }
      }
    }
    .right-holder {
      .main-panel {
        .inner {
          .withdraw-info {
            .text {
              font-size: 10px;
              margin: 4px 0;
            }
            .value {
              margin-bottom: 8px;
              font-size: 14px;
              img {
                width: 16px;
                margin-right: 8px;
              }
            }
            .desc {
              font-size: 10px;
            }
          }
          .summary-box {
            margin-top: 12px;
            .info-item {
              height: 27px;
              .desc {
                p {
                  font-size: 7px;
                }
              }
              .text {
                p {
                  font-size: 11px;
                }
              }
              input {
                font-size: 9px;
              }
            }
          }
          .confirm-btn {
            margin-top: 25px;
            width: 130px;
            height: 28px;
            font-size: 11px;
            padding: 3px 8px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .content-holder {
    .left-holder {
      .curr-holder {
        .boxes-holder {
          height: unset;
          .box-item {
            height: 60px;
            margin-bottom: 10px;
            .inner {
              padding: 3px 5px 5px 5px;
              .text-holder {
                margin-left: 10px;
                .curr-type {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
