<ion-app style=" overflow: auto;" class="app-ioi">
  <app-synergizer style="display:none"></app-synergizer>
    <ion-content class="masters">
      <div id="android-starter" style="display:none"><a href="https://play.google.com/store/apps/details?id=ioi.game" class="icons"><img src="/assets/base/images/icon.png"></a><span>Find us on</span> <a href="https://play.google.com/store/apps/details?id=ioi.game" class="gicon"><img src="/assets/base/images/gplay.png"></a></div>
      <router-outlet>
      </router-outlet>
      <div class="cookie-box" *ngIf="showCookieBox === true">
        <div class="inner-box">
          <div class="cookie-text">
            <h1>This site uses cookies to make it more useful for you.</h1>
            <p>Learn more about <a href="https://ioi-game.com/subpages/cookies.html" title="IOI Corporation cookie policy">cookies.</a></p>
          </div>
          <button class="my-cta" (click)="cookieConsent()">I understand</button>
        </div>
      </div>
    </ion-content>
</ion-app>