<ion-app style="overflow: auto" class="app-ioi">
  <app-synergizer style="display: none"></app-synergizer>
  <ion-content class="masters">
    <div id="android-starter" style="display: none">
      <a
        href="https://play.google.com/store/apps/details?id=ioi.game"
        class="icons"
        target="_blank"
        ><img src="/assets/base/images/icon.png" /></a
      ><span>Find us on</span>
      <a
        href="https://play.google.com/store/apps/details?id=ioi.game"
        class="gicon"
        target="_blank"
        ><img src="/assets/base/images/gplay.png"
      /></a>
    </div>
    <div style="display: none" #outlet></div>
    <router-outlet (activate)="onActivate($event, outlet)"> </router-outlet>
    
  </ion-content>
</ion-app>
