* {
    font-family: 'Poppins';
}
  
body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

p {
    margin-bottom: 0;
}

button:focus {outline:0;}

.sky-blue {
    color: #3dffff;
}

.pink {
    color: #fd00f5;
}

.main-content {
    flex: 1;
    margin-right: 0;
}

.background-primary {
    background-color: #fd00f5;
}

.background-secondary {
    background-color: #3dffff;
}

.text-blue {
    color: #3dffff;
}

.text-black {
    color: black !important;
}

.half-opacity {
    opacity: 0.5;
}

.opacity-2 {
    opacity: 0.2;
}

.border-right {
    border-width: 0 1px 0 0;
}

.gradient-border-primary {  
    border-style: solid;
    border-image: linear-gradient(to bottom, black, black, #fd00f5, #fd00f5, #fd00f5, black, black) 40;
}

.input-blue {
    border: 1px solid #3dffff;
    border-radius: 5px;
    padding: 5px 15px;
    background: transparent;
    color: #3dffff;
    font-size: 16px;
    caret-color: #3dffff;
}

.input-blue::placeholder {
    color: #3dffff;
    opacity: 0.2;
}

.input-blue:focus {
    outline: none;
}

.flex-1 {
    flex: 1;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
}

.contents {
    display: flex;
    flex-direction: row;
    width: 100%;
}

button:focus {
    outline: none;
}