

<div class="banner-container team" *ngIf="bannerType.type === 'team'">

  <div class="banner-holder banner1" [ngClass]="bannerIndicator === 1 ? 'show-banner' : 'hide-banner'">
    <div class="banner-text">
      <p>JOIN A TEAM TO GET UP TO 5% FROM TURNOVER</p>
    </div>
  </div>

  <div class="banner-holder banner2" [ngClass]="bannerIndicator === 2 ? 'show-banner' : 'hide-banner'">
    <div class="banner-text">
      <p>TEAM MEMBERSHIP APPLIES FROM THE 1ST OF THE CALENDAR MONTH</p>
    </div>
  </div>

  <div class="banner-dots">
    <span [ngClass]="bannerIndicator === 1 ? 'active' : ''" (click)="manualChange(1)"></span>
    <span [ngClass]="bannerIndicator === 2 ? 'active' : ''" (click)="manualChange(2)"></span>
  </div>

</div>

<div class="banner-container reward" *ngIf="bannerType.type === 'reward'">

  <div class="banner-holder banner1" [ngClass]="bannerIndicator === 1 ? 'show-banner' : 'hide-banner'">
    <div class="banner-text">
      <p>Our tokens are key to a successful ecosystem</p>
    </div>
  </div>

  <div class="banner-holder banner2" [ngClass]="bannerIndicator === 2 ? 'show-banner' : 'hide-banner'">
    <div class="banner-text">
      <p>FOR HOLDERS WHO HAD MORE THAN 100 <img class="ioi-logo" src="/assets/base/images/blue-ioi.png" alt=""> TOKENS IN THEIR WALLETS THROUGHOUT THE PREVIOUS MONTH</p>
    </div>
  </div>

  <div class="banner-dots" [ngClass]="bannerIndicator === 2 ? 'not-centered' : ''">
    <span [ngClass]="bannerIndicator === 1 ? 'active' : ''" (click)="manualChange(1)"></span>
    <span [ngClass]="bannerIndicator === 2 ? 'active' : ''" (click)="manualChange(2)"></span>
  </div>

</div>


<div class="banner-container-live-races" *ngIf="bannerType.type === 'races'">

  <div class="banner-holder" [ngClass]="bannerIndicator === 1 ? 'show-banner' : 'hide-banner'" (click)="playFree()">
    <p class="banner-text">Turn passion into <span>WINS</span> and earn TRON every 2 minutes for FREE!</p>
    <button class="cta-btn">PLAY GAME</button>
  </div>

  <div class="banner-holder" [ngClass]="bannerIndicator === 2 ? 'show-banner' : 'hide-banner'" (click)="playFree()">
    <p class="banner-text">The only provably fair <span>TRADING GAME</span>, ready to beat the market?!</p>
    <button class="cta-btn">PLAY GAME</button>
  </div>

  <div class="banner-holder" [ngClass]="bannerIndicator === 3 ? 'show-banner' : 'hide-banner'" data-toggle="modal" data-target="#deposit-modal">
    <p class="banner-text">First deposit bonus 1000 TRX get a <span>SPECIAL CAR.</span></p>
    <button class="cta-btn">DEPOSIT</button>
  </div>

  <div class="banner-holder" [ngClass]="bannerIndicator === 4 ? 'show-banner' : 'hide-banner'" data-toggle="modal" data-target="#bonus-race-modal">
    <p class="banner-text"><span class="golden">BONUS RACE</span> starts in 14.8.2020 get tickets NOW!</p>
    <button class="cta-btn">GET</button>
  </div>

  <div class="banner-holder banner2" [ngClass]="bannerIndicator === 5 ? 'show-banner' : 'hide-banner'" data-toggle="modal" data-target="#passive-income-modal">
    <p class="banner-text">LIFETIME PASSIVE INCOME EVERY 2 MINUTES</p>
  </div>

  <div class="banner-dots">
    <span [ngClass]="bannerIndicator === 1 ? 'active' : ''" (click)="manualChange(1)"></span>
    <span [ngClass]="bannerIndicator === 2 ? 'active' : ''" (click)="manualChange(2)"></span>
    <span [ngClass]="bannerIndicator === 3 ? 'active' : ''" (click)="manualChange(3)"></span>
    <span [ngClass]="bannerIndicator === 4 ? 'active' : ''" (click)="manualChange(4)"></span>
    <span [ngClass]="bannerIndicator === 5 ? 'active' : ''" (click)="manualChange(5)"></span>
  </div>

</div>


<div class="modal fade" id="bonus-race-modal" tabindex="-1" role="dialog" aria-labelledby="bonus race entrance" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bonus-race-modal" role="document">
    <div class="modal-content my-modal-content" [ngClass]="bonusTicketOpened ? 'opened' : ''">
      <div class="modal-header">
        <div class="header-cont">
            <h3>race starts in</h3>
            <p>14.8.2020</p>
            <h4>win {{myRewards.race_bonus | number:'1.2-2':'fr'}}<img src="/assets/base/images/triangle.png" alt=""></h4>
        </div>
        <button type="button" class="close my-modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="assets/rewards/X-modal.png" alt=""></span>
        </button>
      </div>
      <div class="modal-body">
          <div class="deposit-cont">
              <img src="/assets/base/images/ticket/bonus-lambo.png" alt="">
              <p>You collected <br>
              {{rewardsMe.bonus_tickets}} tickets</p>
              <button class="button" data-dismiss="modal" data-toggle="modal" data-target="#deposit-modal">
                  Deposit
              </button>
          </div>
          <div class="bonus-info-btn" (click)="bonusTicketOpened = !bonusTicketOpened">
              <p>How to get ticket</p>
              <img src="/assets/base/images/infomation.png" alt="">
          </div>
      </div>
      <div class="modal-footer">
          <div class="top-text">
              <p>Prize pool for the bonus race is based on the 10% TRX value of IOI tokens sold in one month. <br>
                  Only those users who have held enough IOI tokens in the previous month will be allowed to enter this race.</p>
          </div>
          <div class="steps-cont">
              <div class="step-item">
                  <div class="step-image">
                      <img src="/assets/base/images/ticket/bonus-ticket-step.png" alt="">
                      <p>1</p>
                  </div>
                  <div class="step-text">
                      <p>100 - 999 <img src="/assets/base/images/blue-ioi.png" alt=""></p>
                      <p>get 1 ticket</p>
                  </div>
              </div>
              <div class="step-item">
                  <div class="step-image">
                      <img src="/assets/base/images/ticket/bonus-ticket-step.png" alt="">
                      <p class="left-adjust">2</p>
                  </div>
                  <div class="step-text">
                      <p>1 000 - 4 999 <img src="/assets/base/images/blue-ioi.png" alt=""></p>
                      <p>get 2 ticket</p>
                  </div>
              </div>
              <div class="step-item">
                  <div class="step-image">
                      <img src="/assets/base/images/ticket/bonus-ticket-step.png" alt="">
                      <p class="left-adjust">3</p>
                  </div>
                  <div class="step-text">
                      <p>5 000 - 9 999 <img src="/assets/base/images/blue-ioi.png" alt=""></p>
                      <p>get 3 ticket</p>
                  </div>
              </div>
              <div class="step-item">
                  <div class="step-image">
                      <img src="/assets/base/images/ticket/bonus-ticket-step.png" alt="">
                      <p>4</p>
                  </div>
                  <div class="step-text">
                      <p>10 000+ <img src="/assets/base/images/blue-ioi.png" alt=""></p>
                      <p>get 4 ticket</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<app-quick-deposit></app-quick-deposit>

<div class="modal fade" id="passive-income-modal" tabindex="-1" role="dialog" aria-labelledby="bonus race entrance" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bonus-race-modal" role="document">
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <div class="header-cont">
        </div>
        <button type="button" class="close my-modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="assets/rewards/X-modal.png" alt=""></span>
        </button>
      </div>
      <div class="modal-body">
          <div class="deposit-cont">
            <p class="passive-text">
              THE ULTIMATE BONUS IS THE TURNOVER AIRDROP WHERE HOLDERS
              WITH THE 10 000 IOI AND MORE ARE GETTING A PORTION OF THE
              PLATFORMS TURNOVER, NOW THATS WHAT I CALL A BONUS!
            </p>
            <a class="cta-btn" href="https://play.google.com/store/apps/details?id=ioi.wallet" target="_blank">BUY</a>
          </div>
      </div>
    </div>
  </div>
</div>