

<div class="my-modal-body">

  <div class="content-wrapper">
    <div class="tip-wrapper my-cta-btn-back">
      <div class="tip-border ">
        <div class="tip-item">
          <div class="tip-stats">
            <img src="assets/base/images/teams/long.png" alt="">
            <div>
              <h5>BTC</h5>
              <p class="up" >&#9650; +34% {{'teams.my_team.in_last' | translate}} 24h</p>
            </div>
          </div>
  
          <div>
            <h5>70%</h5>
            <p><span>{{'teams.my_team.team_raiting' | translate}}</span></p>
          </div>
  
          <div class="raiting">
            <img class="active" src="assets/base/images/teams/like.png" alt="">
            <img src="assets/base/images/teams/dis-like.png" alt="">
          </div>
        </div>
  
        <div class="tip-item">
          <div class="tip-stats">
            <img src="assets/base/images/teams/short.png" alt="">
            <div>
              <h5>BTC</h5>
              <p class="down">&#9660; -34% {{'teams.my_team.in_last' | translate}} 24h</p>
            </div>
          </div>
  
          <div>
            <h5>20%</h5>
            <p><span>{{'teams.my_team.team_raiting' | translate}}</span></p>
          </div>
  
          <div class="raiting">
            <img src="assets/base/images/teams/like.png" alt="">
            <img class="active" src="assets/base/images/teams/dis-like.png" alt="">
          </div>
        </div>
  
        <div class="tip-item">
          <div class="tip-stats">
            <img src="assets/base/images/teams/short.png" alt="">
            <div>
              <h5>BTC</h5>
              <p class="down"> &#9660; -34% {{'teams.my_team.in_last' | translate}} 24h</p>
            </div>
          </div>
  
          <div>
            <h5>100%</h5>
            <p><span>{{'teams.my_team.team_raiting' | translate}}</span></p>
          </div>
  
          <div class="raiting">
            <img src="assets/base/images/teams/like.png" alt="">
            <img src="assets/base/images/teams/dis-like.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>