

<div class="my-modal-body" [ngClass]="{'team-version': teamVersion === true}">

  <div class="content-wrapper">
    <div class="tip-wrapper">
      <div class="tip-border ">
        <ng-container *ngIf="tips.length > 0 && (isPremium === true || isManager === true)">
          <div class="tip-item" *ngFor="let tip of tips">
            <div class="tip-stats">
              <img src="assets/base/images/teams/long.png" alt="" *ngIf="tip.short === false">
              <img src="assets/base/images/teams/short.png" alt="" *ngIf="tip.short === true">
              <div>
                <h5>{{tip.symbol}}</h5>
                <p class="up"  style="display:none">&#9650; ?% {{'teams.my_team.in_last' | translate}} 24h</p>
              </div>
            </div>
    
            <div style="display:none">
              <h5>?%</h5>
              <p><span>{{'teams.my_team.team_raiting' | translate}}</span></p>
            </div>
    
            <div class="raiting" style="display:none">
              <img class="active" src="assets/base/images/teams/like.png" alt="">
              <img src="assets/base/images/teams/dis-like.png" alt="">
            </div>
          </div>
        </ng-container>
        
        <p class="no-tips" *ngIf="tips.length === 0 && (isPremium === true || isManager === true)">No tips at the moment</p>

        <p class="no-tips" *ngIf="isPremium === false && isManager === false">Available only for premium members</p>
        
      </div>
    </div>
  </div>

</div>