@-webkit-keyframes fa-spin-one {
  0% {
    -webkit-transform: translateY(-2rem) rotate(0deg);
    transform: translateY(-2rem) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-2rem) rotate(-359deg);
    transform: translateY(-2rem) rotate(-359deg);
  }
}
@keyframes fa-spin-one {
  0% {
    -webkit-transform: translateY(-2rem) rotate(0deg);
    transform: translateY(-2rem) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-2rem) rotate(-359deg);
    transform: translateY(-2rem) rotate(-359deg);
  }
}
.fa-spin-one {
  -webkit-animation: fa-spin-one 1s infinite linear;
  animation: fa-spin-one 1s infinite linear;
}

@-webkit-keyframes fa-spin-two {
  0% {
    -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
    transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
    transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
  }
}
@keyframes fa-spin-two {
  0% {
    -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
    transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
    transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
  }
}
@-webkit-keyframes fa-spin-three {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin-three {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-spin-two {
  -webkit-animation: fa-spin-two 4s infinite ease;
  animation: fa-spin-two 4s infinite ease;
}
.fa-spin-one {
  -webkit-animation: fa-spin-one 4s infinite ease;
  animation: fa-spin-one 4s infinite ease;
}
.fa-spin-three {
  -webkit-animation: fa-spin-three 4s infinite ease;
  animation: fa-spin-three 4s infinite ease;
}
.space {
  margin-top: 20px;
}
.space-big {
  margin-top: 60px;
}
.category-title-first {
  font-family: Earth Orbiter;
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  line-height: 72px;
}
.category-title-second {
  font-family: Earth Orbiter;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 37px;
}
.desc {
  opacity: 0.8;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 26px;
  position: absolute;
  bottom: 15px;
  right: 25px;
}
.main-holder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("/assets/base/images/maintenance/tesla-back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.style-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.text-holder {
  text-align: center;
  z-index: 1;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  .cogwheels {
    .first {
      font-size: 45px;
      margin-right: 10px;
      margin-top: 5px;
      opacity: 0.6;
    }
    .second {
      font-size: 150px;
      margin-bottom: 5px;
      opacity: 0.7;
    }
    .third {
      font-size: 90px;
      margin-left: 10px;
      opacity: 0.6;
    }
  }
}
@media screen and (max-width: 1550px) {
  .space {
    margin-top: 10px;
  }
  .space-big {
    margin-top: 50px;
  }
  .category-title-first {
    font-size: 50px;
    line-height: 52px;
  }
  .category-title-second {
    font-size: 30px;
    line-height: 32px;
  }
  .desc {
    font-size: 20px;
    line-height: 22px;
  }
  .text-holder {
    .cogwheels {
      .first {
        font-size: 30px;
        margin-right: 5px;
        margin-top: 5px;
      }
      .second {
        font-size: 140px;
        margin-bottom: 5px;
      }
      .third {
        font-size: 65px;
        margin-left: 0px;
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .space-big {
    margin-top: 40px;
  }
  .category-title-first {
    font-size: 45px;
    line-height: 47px;
  }
  .category-title-second {
    font-size: 28px;
    line-height: 30px;
  }
  .desc {
    font-size: 19px;
    line-height: 21px;
  }
  .text-holder {
    .cogwheels {
      .first {
        font-size: 27px;
      }
      .second {
        font-size: 130px;
        margin-bottom: 5px;
      }
      .third {
        font-size: 62px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .space-big {
    margin-top: 30px;
  }
  .category-title-first {
    font-size: 40px;
    line-height: 42px;
  }
  .category-title-second {
    font-size: 25px;
    line-height: 37px;
  }
  .desc {
    font-size: 17px;
    line-height: 19px;
  }
  .text-holder {
    .cogwheels {
      .first {
        font-size: 25px;
      }
      .second {
        font-size: 110px;
        margin-bottom: 5px;
      }
      .third {
        font-size: 55px;
      }
    }
  }
}
@media screen and (max-width: 900px) and(orientation: landscape) {
  .space {
    margin-top: 0px;
  }
  .space-big {
    margin-top: 20px;
  }
  .category-title-first {
    font-size: 30px;
    line-height: 32px;
  }
  .category-title-second {
    font-size: 17px;
    line-height: 19px;
  }
  .desc {
    font-size: 13px;
    line-height: 15px;
  }
  .text-holder {
    .cogwheels {
      .first {
        font-size: 23px;
      }
      .second {
        font-size: 90px;
      }
      .third {
        font-size: 48px;
      }
    }
  }
}
@media screen and (max-width: 640px) and(orientation: landscape) {
  .category-title-first {
    font-size: 25px;
    line-height: 27px;
  }
  .category-title-second {
    font-size: 15px;
    line-height: 17px;
  }
  .desc {
    font-size: 12px;
    line-height: 14px;
    bottom: 5px;
    right: 5px;
  }
  .text-holder {
    .cogwheels {
      .first {
        font-size: 21px;
      }
      .second {
        font-size: 85px;
      }
      .third {
        font-size: 45px;
      }
    }
  }
}
@media screen and (max-width: 640px) and(orientation: portrait) {
  .space {
    margin-top: 0px;
  }
  .space-big {
    margin-top: 20px;
  }
  .category-title-first {
    font-size: 30px;
    line-height: 32px;
  }
  .category-title-second {
    font-size: 17px;
    line-height: 19px;
  }
  .desc {
    font-size: 13px;
    line-height: 15px;
  }
  .text-holder {
    .cogwheels {
      .first {
        font-size: 30px;
      }
      .second {
        font-size: 110px;
      }
      .third {
        font-size: 60px;
      }
    }
  }
}
