

<div class="exp-holder">
  <div class="desc-holder">
    <p class="heading">Next NFT car</p>
    <p class="desc">Play IOI Races to unlock NFT cars</p>
    <p class="value">{{needExpToNextLevel | number:'1.2-2':'fr'}} IOI <span>/ {{nextLevelExp | number:'1.2-2':'fr'}} IOI</span></p>
    <div class="info-icon">
      <img src="/assets/base/images/menu/info-icon.svg" alt="">
      <div class="info-bubble">
        <div class="img-holder">
          <img src="/assets/base/images/icons/inner-info-icon.png" alt="">
        </div>
        <p>Buy IOI tokens and spend them in IOI Races to unlock more NFTs cars.</p>
      </div>
    </div>
  </div>
  <div class="exp-bar">
    <div class="inner-bar my-cta-btn-back"
      [ngStyle]="{'width.%': progressBarPercentage}">&nbsp;</div>
  </div>
</div>


<!-- <div class="exp-holder">
  <div class="exp-cont">
    <div class="exp-bar-holder">
      <div class="exp-bar">
        <div class="inner-bar"
          [ngStyle]="{'width.%': progressBarPercentage}">&nbsp;</div>
      </div>
      <div class="bar-desc">
        <p>{{previousLevelExp}}</p>
        <p *ngIf="activeFastRace">{{'rewards.spend' | translate}} {{needExpToNextLevel}} {{'shared.trx' | translate}}</p>
        <p *ngIf="!activeFastRace">{{'shared.play_btn' | translate}} {{needExpToNextLevel}} {{'race.race' | translate}}</p>
        <p>{{nextLevelExp}}</p>
      </div>
    </div>
    <div class="gift-holder">
      <img *ngIf="activeFastRace" src="/assets/base/images/garage/hidden-car.png">
      <img *ngIf="!activeFastRace" src="/assets/base/images/icons/flash.png">
    </div>
  </div>
</div> -->