
<div class="cars-holder">
  <div class="inner-slider">
    <ng-container *ngFor="let item of allCarsCosts; let i = index">
      <div class="car-item" [ngClass]="{'locked': nextLevelExp <= item}">
        <p class="level">LVL. {{ i + 1 }}</p>
        <div class="img-holder">
          <img src="/assets/base/images/teams/lock-icon.svg" alt="" class="lock-img">
          <img class="car-img" [src]="'/assets/base/images/nft-cars/car' + (i + 1) + '.png'" alt="">
        </div>
        <button *ngIf="nextLevelExp === item" class="spend-btn my-cta-btn-back">Spend <img src="/assets/base/images/teams/reward-token.png" alt=""> {{ nextLevelExp - needExpToNextLevel | number:'1.0-2':'fr'}} to receive</button>
      </div>
    </ng-container>
  </div>
</div>


<!-- <div class="exp-holder">
  <div class="desc-holder">
    <p class="heading">{{"site-layout.next_nft" | translate}}</p>
    <p class="desc">{{"site-layout.play_races" | translate}}</p>
    <p class="value">{{needExpToNextLevel | number:'1.2-2':'fr'}} IOI <span>/ {{nextLevelExp | number:'1.2-2':'fr'}} IOI</span></p>
    <div class="info-icon">
      <img src="/assets/base/images/menu/info-icon.svg" alt="">
      <div class="info-bubble">
        <div class="img-holder">
          <img src="/assets/base/images/icons/inner-info-icon.png" alt="">
        </div>
        <p>{{"site-layout.buy_ioi" | translate}}</p>
      </div>
    </div>
  </div>
  <div class="exp-bar">
    <div class="inner-bar my-cta-btn-back"
      [ngStyle]="{'width.%': (needExpToNextLevel /nextLevelExp) * 100}">&nbsp;</div>
  </div>
</div> -->

