img {
  vertical-align: unset;
}

@media only screen and (max-width: 1024px) {
  .right-container {
    width: 100% !important;
  }
}

.currency--tokens {
  position: absolute;
  top: 43px;
  right: 116px;
}

.currency--tokens p {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.currency--tokens p img {
  width: 16px;
}

.currency--tokens p img:first-child {
  width: 39px;
}

.top-part--tokens {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 32px;
}

@media only screen and (max-width: 640px) {
  .top-part--tokens .buy-button--tokens {
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 640px) {
  .top-part--tokens .buy-button--tokens img {
    display: block;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 1200px) {
  .top-part--tokens {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 640px) {
  .top-part--tokens {
    flex-wrap: wrap;
    height: unset;
    margin-bottom: 0;
  }
}

#range-input--tokens {
  -webkit-appearance: none;
  margin: 10px;
  width: 41.79%;
  border-radius: 6px;
  display: block;
  max-width: 800px;
  min-width: 470px;
  position: relative;
  height: 11px;
}

@media only screen and (max-width: 640px) {
  #range-input--tokens {
    margin: 59px auto 10px auto;
    width: 80%;
    min-width: 290px;
  }
}

#range-input--tokens:focus {
  outline: none;
}

#range-input--tokens::-webkit-slider-runnable-track {
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.51);
  background: #22ffff;
  border-radius: 6px;
  width: 100%;
}

#range-input--tokens::-webkit-slider-thumb {
  height: 31px;
  width: 31px;
  border-radius: 50px;
  background: #ff00ff;
  opacity: 0.7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.5px;
  position: relative;
}

#range-input--tokens:focus::-webkit-slider-runnable-track {
  background: #22ffff;
}

.cards-cont--wallet {
  display: flex;
  padding: 4.5rem 0 0 0;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .cards-cont--wallet {
    width: 90%;
  }
}

.my-card--wallet {
  position: relative;
}

.my-card--wallet .my-margin {
  margin-bottom: 35px !important;
  margin-top: 10px !important;
}

.my-card--wallet > small {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -31px;
  opacity: 0.5;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.my-card--wallet > img {
  padding: 5px;
  border-radius: 8px;
}

.my-card--wallet:nth-child(1) > img {
  box-shadow: 0px 0px 0px 3px #00fff0, 0px 0px 15px 0px #00fff0;
}

.my-card--wallet:nth-child(2) > img {
  box-shadow: 0px 0px 0px 3px #d1d1d1, 0px 0px 15px 0px #d1d1d1;
}

.my-card--wallet:nth-child(3) > img {
  box-shadow: 0px 0px 0px 3px #eeff00, 0px 0px 15px 0px #eeff00;
}

.my-card--wallet:nth-child(4) > img {
  box-shadow: 0px 0px 0px 3px #ff00ba, 0px 0px 15px 0px #ff00ba;
}

.my-card--wallet.card1 > img {
  box-shadow: 0px 0px 0px 3px #00fff0, 0px 0px 15px 0px #00fff0;
}

.my-card--wallet.card2 > img {
  box-shadow: 0px 0px 0px 3px #d1d1d1, 0px 0px 15px 0px #d1d1d1;
}

.my-card--wallet.card3 > img {
  box-shadow: 0px 0px 0px 3px #eeff00, 0px 0px 15px 0px #eeff00;
}

.my-card--wallet.card4 > img {
  box-shadow: 0px 0px 0px 3px #ff00ba, 0px 0px 15px 0px #ff00ba;
}

@media only screen and (max-width: 1024px) {
  .my-card--wallet {
    margin: 25px 5%;
  }
}

.my-card-cont--wallet {
  position: absolute;
  top: 19px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 0;
  padding: 0 5px;
}

.my-card-cont--wallet h4 img {
  width: 50px;
}

.my-card-cont--wallet h4 {
  font-size: 25px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 2.8rem;
  line-height: 1;
}

.my-card-cont--wallet ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.my-card-cont--wallet li {
  padding: 0;
  margin: 0 auto;
  text-shadow: -1px 1px 1px #000000, 0 0 7px rgba(0, 0, 0, 0.35);
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 130px;
  line-height: 1.3;
}

.my-card-cont--wallet li img {
  width: 28px;
}

@media only screen and (max-width: 1024px) {
  .cards-cont--wallet {
    min-width: unset;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
  }
  .menu,
  .menu-top {
    display: none;
  }
  .main-cont--tokens {
    width: 100%;
    margin: 0;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .cards-cont--wallet {
    min-width: unset;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
  }
}

/*MODALS*/

@media (min-width: 640px) {
  .modal-dialog {
    max-width: 534px;
    margin: 1.75rem auto;
  }
}
@media (max-width: 640px) {
  .my-modal-content--tokens {
    height: unset;
  }
}
.my-modal-content--tokens {
  background-color: black;
  border: 2px solid #ff00ff;
  border-radius: 8px;
}
.my-modal-content--tokens .modal-header {
  border-bottom: none;
  padding: 20px 1rem;
  text-align: center;
}
.my-modal-content--tokens .my-modal-close {
  opacity: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.modal-header {
  flex-wrap: wrap;
}
.modal-header small {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}
.modal-header h2 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.6rem;
}
.modal-header h2.deposit-header {
  font-size: 32px;
}
.modal-header h2 img {
  width: 18px;
}
.modal-header h2,
.modal-header small {
  display: block;
  width: 100%;
}

.modal-body {
  padding: 0.4rem 0.7rem;
  text-align: center;
  .modal-header--nm {
    margin-top: 18px;
    font-size: 30px;
    padding: 0 10px;
  }
  .buttons-holder--nm {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 50%;
    align-items: center;
  }
}
.modal-body > h1 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}
.card-holder-modal {
  display: flex;
  justify-content: space-around;
  position: relative;
  .tron-card {
    h6 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 20px;
      p {
        position: relative;
        margin: 0;
        img {
          position: absolute;
          right: -25px;
          top: 1px;
          width: 20px;
        }
      }
    }
  }
}
.my-input--tokens.coming-soon {
  text-align: center;
}

.tron-card,
.visa-card {
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2.5rem;
  text-align: left;
}
.visa-card label,
.tron-card label {
  width: 100%;
  cursor: pointer;
}
.visa-card label img,
.tron-card label img {
  width: 200px;
}

.my-input--tokens {
  position: relative;
  padding: 0 10px;
  color: white;
}
.my-input--tokens input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.my-input--tokens .my-checkmark {
  position: absolute;
  top: 6px;
  right: 10px;
  height: 20px;
  width: 20px;
  background-image: url("/assets/base/images/tokens/chceckbox-back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.my-input--tokens input:checked ~ .my-checkmark {
  background-image: url("/assets/base/images/tokens/checkbox-checked.png");
}

.card-holder-modal:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100%;
  width: 1px;
  background: linear-gradient(
    0deg,
    transparent 0%,
    #ff00ff 20%,
    #ff00ff 80%,
    transparent 100%
  );
}

.confirm-modal-btn-buy {
  display: inline-block;
  margin: 30px 0 20px -3px;
}
.confirm-modal-btn img {
  width: 100px;
}

.modal-header.qr-code-header-modal {
  padding-bottom: 0;
}
.modal-body.modal-qr-code img {
  width: 180px;
}

.modal-body.modal-qr-code p {
  font-size: 0.85rem;
  font-weight: 300;
  color: white;
  margin: 11px 0 8px 0;
}
.modal-body.modal-qr-code .time-modal p {
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
}
.modal-body.modal-qr-code .time-modal p:first-child {
  margin: 5px 0 10px 0;
}
.modal-body.modal-qr-code .time-modal p:last-child {
  margin: 5px 0;
}
.modal-body.modal-qr-code .time-modal h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  margin-bottom: 0;
  line-height: 1;
}

@media only screen and (max-width: 640px) {
  .card-holder-modal {
    flex-wrap: wrap;
  }
  .tron-card,
  .visa-card {
    width: 51%;
    min-width: 222px;
    max-width: unset;
  }
  .tron-card img,
  .visa-card img {
    margin: 0 auto;
    display: block;
  }
  .card-holder-modal:before {
    content: none;
  }
  .tron-card {
    position: relative;
    padding-bottom: 15px;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 100%;
      width: 120%;
      height: 1px;
      background: linear-gradient(
        90deg,
        transparent 0%,
        #ff00ff 20%,
        #ff00ff 80%,
        transparent 100%
      );
    }
  }
}

.enter-buy {
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 60px;
  input {
    border-radius: 4px;
    border: 1px solid #22fdfd;
    color: #22fdfd;
    background-color: black;
    text-align: center;
  }
  @media screen and (max-width: 640px) {
    position: relative;
    top: unset;
  }
}

h6 {
  font-size: 15px;
  color: white;
  span {
    color: #f901e5;
  }
}

.carousel-wrap {
  width: 80%;
  margin: 20px auto;
  padding-top: 20px;
  .carousel-card {
    max-width: 163px;
    max-height: 255px;
    margin: 30px auto;
    img {
      display: inline;
    }
  }
}
@media (min-width: 2000px) {
  .carousel-wrap {
    .carousel-card {
      max-width: 223px;
      max-height: 345px;
      .my-card-cont--wallet {
        h4 {
          font-size: 34px;
          img {
            width: 63px;
          }
        }
        ul {
          li {
            width: 90%;
            font-size: 20px;
            img {
              width: 38px;
            }
          }
        }
      }
    }
  }
}
.my-modal-content--tokens {
  .deposit-warning {
    width: 100%;
    margin-top: 20px;
    h1,
    h2 {
      color: white;
      text-align: center;
      font-size: 17px;
    }
    h2 {
      color: #fd00f5;
    }
  }
  .modal-header {
    h2 {
      color: #fd00f5;
    }
  }
}
.my-modal-content--tokens.deposit-modal {
  height: 530px;
}
.modal-body {
  .crypto-adress {
    text-transform: none !important;
  }
}

.modal-body {
  .middle-part {
    display: flex;
    align-items: center;
    span {
      font-size: 14px;
      line-height: 33px;

      width: 75px;
      height: 33px;
      @media screen and (max-width: 640px) {
        width: 60px;
      }
    }
  }
  .qr-code {
    img {
      width: 180px;
      margin: 0 auto;
    }
  }
  .deposit-adress {
    text-align: center;
    .button {
      width: 115px;
      height: 46px;
      line-height: 46px;
      margin: 0 auto;
    }
    .transfer-text-input {
      width: 80%;
      margin: 20px 0 15px 0;
      text-align: center;
    }
  }
  .timer {
    text-align: center;
    p {
      margin: 15px;
    }
  }
  .final-ammount {
    p {
      margin-bottom: 10px;
      font-size: 22px;
      img {
        width: 40px;
        vertical-align: baseline;
      }
      img.qr-tron-logo {
        width: 20px;
      }
    }
  }
  .right-part {
    .available-balance {
      position: absolute;
      bottom: -30px;
      left: 0;
      color: #00c8fe;
      font-size: 0.9rem;
      span {
        color: white;
      }
    }
  }
}
.modal-body {
  .crypto-adress {
    text-transform: none !important;
  }
}
.edit-adress-wrap {
  width: 75%;
  margin: 10px auto;
}
.modal-header h2.deposti-header {
  font-size: 32px;
}
.ion-item {
  width: 100%;
  max-height: 36px;
  margin-top: 0.5rem;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  border-radius: 4px;
  --background: transparent;
  border: 1px solid #00c8fe;
  --padding-start: 0;
  .ion-select {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    min-height: 34px;
    min-width: 100%;
    box-sizing: border-box;
    color: #00c8fe;
    padding-left: 16px;
    --placeholder-color: #00ffff;
    --placeholder-opacity: 0.2;
    text-transform: none;
  }
}

@media only screen and (max-width: 640px) {
  .tokens-left {
    position: relative;
    top: unset;
    left: unset;
    a {
      margin: 0 auto;
    }
  }
  .top-part--tokens {
    margin-top: 10px;
  }
  .currency--tokens {
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
  }
}
.my-modal-dialog {
  max-width: 1026px;
  .my-modal-content--tokens {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    border: 2px solid #fd00f5;
    height: 400px;
    .modal-body {
      width: 57%;
      @media screen and (max-width: 640px) {
        width: 100%;
      }
    }
  }
  .confirm-modal-btn {
    left: unset;
    transform: none;
    right: 4%;
    @media screen and (max-width: 640px) {
      left: 49.7%;
      transform: translateX(-50%);
      right: unset;
    }
  }
}

.main-holder {
  width: calc(100% - 457px);
  .top-holder {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: linear-gradient(
      270.56deg,
      #111111 1.63%,
      rgba(17, 17, 17, 0.9) 52.92%,
      #111111 98.48%,
      #000000 98.48%
    );
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03),
      2px 3px 10px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    button {
      background-color: transparent;
      width: 110px;
      height: 40px;
      line-height: 40px;
      background-size: 110px 40px;
      margin-top: 13px;
      img {
        width: 55px;
      }
    }
    .exchange {
      background-image: url("/assets/base/images/cockpit2/exchange.png");
    }
    .deposit {
	  background-image: url("/assets/base/images/cockpit2/deposit.png");
	  font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
flex-grow:0.25;
color: #FFFFFF;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #FFFFFF;
    }
    .head {
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 45px;
		color: #ffffff;
		width: 271px;
		line-height: 76px;
		padding-left: 20px;
    }
    .panel {
      position: relative;

      &.buy-tokens {
        margin: 20px 0;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        .token-img {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, -43%);
        }
        .input-holder {

          position: relative;
          .input-desc {
            position: absolute;
            top: -47px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height */

            text-align: center;

            color: #ffffff;
            margin: 0;
            &.min {
              left: 0;
            }
            &.max {
              right: 0;
            }
          }
          .amount-ind {
            position: absolute;
            top: -53px;
            left: 50%;
            transform: translateX(-50%);
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 30px;
			/* identical to box height */
			
			text-align: right;
            margin: 0;

            background: #111111;
box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03), 2px 3px 20px rgba(0, 0, 0, 0.2), inset -3px -3px 10px rgba(255, 255, 255, 0.03), inset 2px 3px 10px rgba(0, 0, 0, 0.5);
border-radius: 10px;
            
          }
          #range-input--tokens {
            -webkit-appearance: none;
            margin: 85px 0 10px 0;
            width: 100%;
            border-radius: 6px;
            display: block;
            position: relative;
            height: 10px;
            min-width: unset;
          }

          #range-input--tokens:focus {
            outline: none;
          }

          #range-input--tokens::-webkit-slider-runnable-track {
			height: 10px;

            cursor: pointer;
            animate: 0.2s;
            //background: #22ffff;
            background: #222222;
            border-radius: 6px;
			width: 100%;
			border:none!important;
			box-shadow:none!important;
          }

          #range-input--tokens::-webkit-slider-thumb {
            height: 60px;
            width: 60px;
            border-radius: 50px;
            background: transparent;
            cursor: pointer;
            -webkit-appearance: none;
            opacity: 1;
            margin-top: -24px;
            position: relative;
            background-image: url("/assets/base/images/tokens/range-btn.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
          }

          .button-img {
            position: absolute;
            bottom: -80px;
            left: -3px;
            cursor: pointer;
            &.add {
              right: -3px;
              left: unset;
            }
          }
        }
        .pay-holder {
			flex-grow:0.25;
          text-align: center;
          .need-pay {
			font-style: normal;
			font-weight: 600;
			font-size: 30px;
			line-height: 45px;
          }
          .pay-amount {
			color: #950552;
			font-style: normal;
			font-weight: 600;
			font-size: 30px;
			line-height: 45px;
          }
        }
        .buy-btn {
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 50%);
          text-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
          color: #ffffff;
          font-size: 31px;
          font-weight: bold;
          &::before {
            width: 231px;
            height: 100px;
            top: -25px;
            left: -43px;
          }
        }
      }
    }
    .right-arrow-holder,
    .left-arrow-holder {
      max-width: 245px;
      text-align: center;
      height: 370px;
      padding: 30px 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      h1 {
        color: #ffffff;
        font-family: "Bungee";
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
      }
      p {
        font-family: "Bungee";
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        color: #6c6c6c;
        text-align: left;
        line-height: 1.2;
        width: 100%;
      }
    }
  }
  .bottom-holder {
    box-shadow: 0 0 7px #000000;
    border-radius: 10px;
    background-color: #000000;
    width: 93%;
    height: 377px;
    margin: 0 auto 40px;
    position: relative;
    .top-desc {
      color: #26d2d2;
      font-family: Bungee;
      font-size: 36px;
      font-weight: 400;
      text-transform: uppercase;
      position: absolute;
      left: 20px;
      top: 18px;
      line-height: 1;
      z-index: 2;
    }
    .right-arrow {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translate(50%, -50%);
      z-index: 2;
      cursor: pointer;
    }
    .ben-content {
      padding: 15px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: 0.3s;
      opacity: 0;
      &.ben1 {
        opacity: 1;
        z-index: 1;
      }
      &.ben2 {
        .bottom-desc {
          color: white;
        }
        .back-text {
          top: 46px;
          p {
            font-size: 300px;
            color: white;
          }
          small {
            left: 20px;
            top: 45px;
            position: absolute;
            transform: translateY(-100%);
            color: #ffffff;
            font-family: "Bungee";
            font-size: 57px;
            font-weight: 400;
            text-transform: uppercase;
          }
        }
      }
      &.ben3 {
        .bottom-desc {
          color: #fcff00;
        }
        .back-text {
          top: 46px;
          opacity: 1;
          p {
            font-size: 300px;
            color: #fcff00;
            opacity: 0.09;
          }
          small {
            left: 20px;
            top: 45px;
            position: absolute;
            transform: translateY(-100%);
            color: #fcff00;
            font-family: "Bungee";
            font-size: 57px;
            font-weight: 400;
            text-transform: uppercase;
            opacity: 0.3;
          }
        }
      }
      &.ben4 {
        .bottom-desc {
          color: #fc00ff;
        }
        .back-text {
          top: 46px;
          opacity: 1;
          p {
            font-size: 280px;
            color: #fc00ff;
            opacity: 0.09;
          }
          small {
            left: 250px;
            top: 45px;
            position: absolute;
            transform: translateY(-100%);
            color: #fc00ff;
            font-family: "Bungee";
            font-size: 57px;
            font-weight: 400;
            text-transform: uppercase;
            opacity: 0.3;
          }
        }
      }
      &.visible {
        opacity: 1 !important;
        z-index: 1 !important;
      }
      &.hidden {
        opacity: 0 !important;
        z-index: -0 !important;
      }
      .back-text {
        opacity: 0.3;
        font-family: "Bungee";
        position: absolute;
        right: 0;
        top: -24px;
        transition: 0.3s;
        z-index: 0;
        p {
          line-height: 1;
          color: #00f7f4;
          font-size: 392px;
          font-family: "Bungee";
        }
      }
      .text-holder {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        p {
          color: #ffffff;
          font-family: "Bungee";
          font-size: 29px;
          font-weight: 400;
          text-transform: uppercase;
          line-height: 1.3;
          margin: 0;
        }
      }
      .bottom-desc {
        color: #26d2d2;
        font-family: "Bungee";
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        position: absolute;
        bottom: 3px;
        left: 15px;
        margin: 0;
      }
    }
  }
}
:host {
  width: 100%;
  height: 100%;
  //background: url('/assets/base/images/garage/garage-main-back.png')left top repeat-y;
  background-size: 100%;
}

@media only screen and (max-width: 1700px){
  .main-holder{
    width: calc(100% - 410px);
  }
}

@media only screen and (max-width: 1550px){
  .main-holder{
    width: calc(100% - 380px);
  }
}

@media only screen and (max-width: 1330px) {
  .main-holder {
    .bottom-holder {
      .ben-content {
        .back-text {
          top: 16px;
          p {
            font-size: 342px;
          }
        }
        .text-holder {
          p {
            font-size: 26px;
          }
        }
        .bottom-desc {
          font-size: 30px;
        }
        &.ben2,
        &.ben3 {
          .back-text {
            top: 76px;
            small {
              font-size: 47px;
            }
            p {
              font-size: 270px;
            }
          }
        }
        &.ben4 {
          .back-text {
            top: 66px;
            small {
              font-size: 47px;
            }
            p {
              font-size: 240px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px){
  .main-holder{
    width: calc(100% - 340px);
  }
}

@media only screen and (max-width: 1024px){
  .main-holder{
    width: 100%;
    padding: 0 15px;
  }
}

