<div class="main-holder">
  <div [routerLink]="['/profile/my-profile']" class="content-title">
    <img
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>WITHDRAW</p>
  </div>

  <div class="content-holder">
    <div class="left-holder">
      <div class="img-holder" [ngClass]="{ racer: this.nftType === 'racer' }">
        <img
          class="car-img"
          *ngIf="this.nftType === 'car'"
          [src]="'assets/base/images/nft-cars/car' + nftId + '.png'"
          alt="Image of selected car"
        />
        <img
          class="car-img"
          *ngIf="this.nftType === 'racer'"
          [src]="
            'assets/base/images/nft-racers/' + products[0]['image'] + '.png'
          "
          alt="Image of selected car"
        />
        <div class="car-stats">
          <div class="name">
            <p>{{ products[0]["name"] }}</p>
            <p class="desc">{{ products[0]["collection"] }}</p>
          </div>
          <div class="value">
            <p>
              {{ nftIoiValue }}
              <img src="assets/base/images/icons/ioi-big.svg" alt="ioi logo" />
            </p>
            <p class="desc">IOI value</p>
          </div>
          <div class="value">
            <p>
              {{ nftIoiValue * driverBalances.ioi_usdt }}
              <img
                src="assets/base/images/icons/dollar-big.svg"
                alt="dollar logo"
              />
            </p>
            <p class="desc">USD value</p>
          </div>
          <div class="value">
            <p>
              <img
                src="assets/base/images/icons/polygon-big.svg"
                alt="polygonlogo"
              />
            </p>
            <p class="desc">Polygon</p>
          </div>
        </div>
      </div>

      <div class="amount-holder">
        <p class="common-heading">Amount</p>
        <div class="amount-input">
          <div class="inner">
            <input
              min="1"
              type="number"
              [(ngModel)]="amount"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Enter the ammount you want to withdraw"
            />
          </div>
        </div>
        <p class="common-heading">Crypto wallet address</p>
        <div class="amount-input">
          <div class="inner">
            <input
              type="text"
              [(ngModel)]="cryptoMtfrckr"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Enter valid crypto address"
            />
            <div
              class="correct-input my-cta-btn-back"
              [ngClass]="{
                incorrect:
                  cryptoMtfrckr.substring(0, 2) !== '0x' ||
                  cryptoMtfrckr.length < 26
              }"
            >
              <svg
                width="20"
                height="16"
                viewBox="0 0 20 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.7747 0.949537C19.4743 0.649145 18.9872 0.649145 18.6868 0.949537L6.21765 13.4187L1.31315 8.5142C1.01279 8.21377 0.525724 8.21377 0.225293 8.5142C-0.0750978 8.81459 -0.0750978 9.30162 0.225293 9.60205L5.67378 15.0505C5.97405 15.3508 6.46128 15.3509 6.76163 15.0505L19.7747 2.03739C20.0751 1.73696 20.0751 1.24993 19.7747 0.949537Z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-holder">
      <p class="common-heading">Your withdraw summary</p>
      <div class="main-panel">
        <div class="withdraw-info">
          <p class="text">You are withdrawing</p>
          <p class="value">
            <span *ngIf="amount > 0">{{ amount }}</span>
            <span *ngIf="amount < 1">0</span>
            <span class="value-desc">NFTs</span>
          </p>
          <div class="border-maker my-cta-btn-back"></div>
          <p class="desc">{{ products[0]["name"] }}</p>
          <div class="border-maker my-cta-btn-back"></div>
        </div>
        <div class="summary-box">
          <div class="border-maker my-cta-btn-back"></div>
          <div class="info-item">
            <p class="desc">Crypto wallet address</p>
            <p class="value">{{ cryptoMtfrckr }}</p>
          </div>
        </div>
        <button
          class="confirm-btn my-cta-btn-back hoverable"
          (click)="withdrawCar()"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
