
:host{
    width: 100%;
    height: 100%;
}

.content-holder{
    width: 100%;
    height: 100%;
    padding: 0 3.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .img-holder{
        animation-name: rotateGlass;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }
    p{
        font-size: 20px;
        font-weight: 300;
        margin: 0 0 0 20px;
        span{
            font-weight: 600;
        }
        a{
            font-weight: 600;
            color: white;
            text-decoration: underline;
        }
    }
}

@keyframes rotateGlass {
    0% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1550px){
    .content-holder{
        .img-holder{
            img{
                width: 22px;
            }
        }
        p{
            font-size: 17px;
        }
    }
}

@media screen and (max-width: 1024px){
    .content-holder{
        p{
            font-size: 16px;
            line-height: 1.2;
            span{
                display: block;
            }
        }
    }
}

@media screen and (max-width: 640px){
    .content-holder{
        padding: 7px 3%;
        p{
            font-size: 14px;
        }
    }
}