

.main-cont{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: url('/assets/base/images/binary-race/main-back.jpg') center no-repeat;
    background-size: cover;

    .race-menu{
        width: 100%;
        height: 86px;
        background: #222222;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 46px;
        position: relative;
        .mobile-handler{
            height: 100%;
        }
        .center-items{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .small-box{
                background: #111111;
                border-radius: 10px;
                padding: 12px 20px;
                margin: 0 2px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    margin: 0 0 0 14px;
                }
                img{
                    max-height: 20px;
                }
            }
            .quit-btn{
                display: none;
            }
        }
        .right-items{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .name-holder{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 25px;
                .avatar{
                    background: #111111;
                    border-radius: 10px;
                    width: 73px;
                    height: 73px;
                    position: relative;
                    img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                p{
                    font-weight: 500;
                    font-size: 12px;
                    margin: 0 12px;
                }
            }
            .switch-btn {
                width: 92px;
                height: 100%;
                position: relative;
                cursor: pointer;
                border-left: 1px solid rgba(255, 255, 255, 0.15);
                background: transparent;
                img {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
                &.active {
                  background: linear-gradient(236.12deg, #24ffff 6%, #25ccfe 102.68%);
                  border-left: 1px solid black;
                }
            }
        }
        .my-mobile-button{
            display: none;
        }
    }

    .content-holder{
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1018px;
        z-index: 10;
        .chart-holder{
            width: 100%;
            z-index: 50;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 442px;
            .react-controls{
                width: 120px;
                background: #222222;
                height: 100%;
                border-radius: 15px 0px 0px 15px;
                p{
                    margin: 63px 0 18px;
                    font-weight: 500;
                    font-size: 16px;
                    text-align: center;
                }
                .control-btns{
                    .react-btn{
                        background: linear-gradient(to bottom right,#fe183f 0%,rgba(254, 24, 63, 0.1) 80%);
                        padding: 1px;
                        border-radius: 10px;
                        width: 70px;
                        height: 70px;
                        margin: 0 auto 8px;
                        cursor: pointer;
                        &:hover{
                            .inner{
                                background: rgba(34,34,34,.4);
                            }
                        }
                        .inner{
                            background: rgba(34,34,34,.6);
                            width: 100%;
                            height: 100%;
                            position: relative;
                            border-radius: 10px;
                            transition: .15s;
                            img{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
                .conv-box{
                    width: 82%;
                    height: 40px;
                    background: #333333;
                    border-radius: 10px;
                    position: relative;
                    margin: 39px auto 0;
                    p{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        margin: 0;
                        text-align: center;
                        font-weight: 500;
                        font-size: 12px;
                    }
                }
            }
            #container{
                width: calc(100% - 120px);
                height: 100%;
            }
        }
        .control-panel{
            margin: 55px 0 0 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .player-stats{
                width: 40%;
                max-width: 163px;
                &.rival{
                    .name{
                        color: #00D1FF;
                    }
                    .my-progress{
                        .inner-bar{
                            background: #00D1FF;
                        }
                    }
                }
                .name{
                    font-size: 24px;
                    font-family: 'True-lies';
                    margin: 0 0 20px;
                    color: #FE183F;
                }
                .targets-holder{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    .target-item{
                        width: 24px;
                        height: 24px;
                        background: #B9B9B9;
                        border-radius: 50%;
                        position: relative;
                        img{
                            display: none;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        &.okey{
                            background: white;
                            img{
                                &.okey{
                                    display: block;
                                }
                                &.wrong{
                                    display: none;
                                }
                            }
                        }
                        &.wrong{
                            background: white;
                            img{
                                &.okey{
                                    display: none;
                                }
                                &.wrong{
                                    display: block;
                                }
                            }
                        }
                    }
                }
                .my-progress{
                    width: 100%;
                    background: white;
                    border-radius: 5px;
                    height: 10px;
                    position: relative;
                    margin: 6px 0;
                    .inner-bar{
                        height: 100%;
                        background: #FE183F;
                        border-radius: 5px;
                        width: 20%;
                    }
                }
                .percent{
                    font-weight: 500;
                    font-size: 16px;
                    margin: 0;
                }
            }
            .player-controls{
                width: 100%;
                max-width: 480px;
                border-radius: 10px;
                height: 90px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                & > div{
                    height: 100%;
                }
                .control-btn{
                    width: 19%;
                    position: relative;
                    cursor: pointer;
                    background: linear-gradient(238.54deg, #FE173F -1.25%, #950552 100.91%);
                    &.up{
                        background: linear-gradient(90deg, #00A363 -1.82%, #00EE91 97.27%);
                        img{
                            top: 55%;
                        }
                    }
                    img{
                        position: absolute;
                        top: 45%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .data-box{
                    width: 31%;
                    background: white;
                    text-align: center;
                    &.bordered{
                        border-right: 1px solid #EBEBEB;
                    }
                    img{
                        margin-top: 7px;
                    }
                    p{
                        color: #333333;
                        font-weight: 500;
                        font-size: 20px;
                        margin: 10px 0;
                        line-height: 1;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1700px) {
    .main-cont{
        .race-menu{
            height: 75px;
            padding: 0 0 0 40px;
            .menu-logo{
                width: 65px;
            }
            .center-items{
                .small-box{
                    padding: 6px 17px;
                    height: 44px;
                    img{
                        max-height: 18px;
                    }
                    p{
                        margin: 0 0 0 11px;
                        font-size: 15px;
                    }
                }
            }
            .right-items{
                .name-holder{
                    margin-right: 15px;
                    .avatar{
                        width: 60px;
                        height: 60px;
                    }
                }
                .switch-btn{
                    width: 78px;
                    img{
                        height: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1550px) {
    .main-cont{
        .race-menu{
            height: 65px;
            padding: 0 0 0 30px;
            .menu-logo{
                width: 60px;
            }
            .center-items{
                .small-box{
                    padding: 4px 15px;
                    height: 40px;
                    img{
                        max-height: 17px;
                    }
                    p{
                        margin: 0 0 0 10px;
                        font-size: 14px;
                    }
                }
            }
            .right-items{
                .name-holder{
                    margin-right: 13px;
                    .avatar{
                        width: 53px;
                        height: 53px;
                        img{
                            width: 17px;
                        }
                    }
                }
                .switch-btn{
                    width: 70px;
                    img{
                        height: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .main-cont{
        .race-menu{
            .center-items{
                left: 46%;
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .main-cont{
        .race-menu{
            z-index: 100;
            &::before{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: #222222;
                z-index: 10;
            }
            .menu-logo{
                position: relative;
                z-index: 11;
            }
            .my-mobile-button {
                width: 33px;
                height: 24px;
                position: relative;
                margin: 0 10px;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: 0.5s ease-in-out;
                -moz-transition: 0.5s ease-in-out;
                -o-transition: 0.5s ease-in-out;
                transition: 0.5s ease-in-out;
                cursor: pointer;
                display: block;
                z-index: 11;
                span {
                  display: block;
                  position: absolute;
                  height: 4px;
                  width: 100%;
                  border-radius: 9px;
                  opacity: 1;
                  left: 0;
                  -webkit-transform: rotate(0deg);
                  -moz-transform: rotate(0deg);
                  -o-transform: rotate(0deg);
                  transform: rotate(0deg);
                  -webkit-transition: 0.25s ease-in-out;
                  -moz-transition: 0.25s ease-in-out;
                  -o-transition: 0.25s ease-in-out;
                  transition: 0.25s ease-in-out;
                }
                span:nth-child(1) {
                  top: 0px;
                }
                span:nth-child(2),
                span:nth-child(3) {
                  top: 10px;
                }
                span:nth-child(4) {
                  top: 20px;
                }
                &.open {
                  span:nth-child(1) {
                    top: 10px;
                    width: 0%;
                    left: 50%;
                  }
                  span:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                  }
                  span:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                  }
                  span:nth-child(4) {
                    top: 10px;
                    width: 0%;
                    left: 50%;
                  }
                }
            }
            .mobile-handler{
                position: absolute;
                top: 65px;
                left: 0;
                width: 100%;
                background: #222222;
                z-index: 9;
                border-width: 1px 0 1px 0;
                border-style: solid;
                border-color: #333333;
                height: unset;
                padding-bottom: 48px;
                transition: .25s cubic-bezier(.5,.09,.22,.34);
                transform: translateY(-100%);
                &.mobile-open{
                    transform: translateY(0);
                }
                .right-items{
                    height: unset;
                    margin: 48px 0;
                    .name-holder{
                        display: none;
                    }
                    .switch-btn{
                        border: 1px solid #FE183F;
                        border-radius: 10px;
                        width: 60px;
                        height: 60px;
                        margin: 0 7px;
                    }
                }
                .center-items{
                    height: unset;
                    position: relative;
                    top: 0;
                    left: 0;
                    transform: none;
                }
            }
        }
    }
}


@media screen and (max-width: 640px){
    .main-cont{
        .race-menu{
            .mobile-handler{
                .right-items{
                    justify-content: flex-end;
                    margin: 48px 11px 48px 0;
                    .switch-btn{
                        width: 45px;
                        height: 45px;
                    }
                }
                .center-items{
                    display: block;
                    .small-box{
                        width: calc(100% - 36px);
                        margin: 0 auto 8px;
                        height: 45px;
                    }
                    .quit-btn{
                        width: calc(100% - 36px);
                        height: 45px;
                        border: 1px solid #FE183F;
                        border-radius: 10px;
                        display: block;
                        margin: 60px auto 0;
                        background: transparent;
                    }
                }
            }
        }
    }
}