

<div class="fake-button">
  <div class="flag-holder">
    <img [src]="'/assets/base/images/lang-flags/' + langSelected + '-flag.png'" alt="">
  </div>
  <!-- <img src="/assets/base/images/zavod/select-arrow.png" alt="" class="select-arrow"> -->
</div>

<!-- <ion-select [(ngModel)]="langSelected" [ngModelOptions]="{standalone: true}" class="ion-select lang-select"
ok-text="Okay"  placeholder="Select language" 
(ionChange)="switchLanguage($event)">>
  <ion-select-option *ngFor="let food of availableLangs" [value]="food">
    {{food}}
  </ion-select-option>
</ion-select> -->
