
<div class="main-holder">
    <div class="page-info"> 
        <div class="back" [routerLink]="['/race/start-race']">
          <p>&lt;</p>
          <p>BACK</p>
        </div>
        <div class="text-info">
          <h1>Races</h1>
          <p>Manage your car in virtual trading races in real time. Set up your trading strategy, and fight your oponents with the best crypto combination.</p>
        </div>
        <div class="info-modal">
            <h6>Free money every day</h6>
            <div>
            <div>
                <p>1440<sup>IOI</sup></p>
                <p>free member</p>
            </div>
            <div class="my-low-gradient">
                <p>4320<sup>IOI</sup></p>
                <p>premium member</p>
            </div>
            </div>
        </div>
      </div>
    <!--<div class="race-type-info">
        
        <p class="path"> <span [routerLink]="['/race/start-race']">Dashboard</span>  > <strong>Races</strong></p>

        <div class="race-info">
        <div class="info-text">
            <h1>Races</h1>
            <p>Description how to play and what to do to win. Manage your car in virtual trading races in real time, and set up your trading</p>
        </div>

        <div class="info-modal">
            <h6>Free money every day</h6>
            <div>
            <div>
                <p>1440<sup>IOI</sup></p>
                <p>free member</p>
            </div>
            <div>
                <p>4320<sup>IOI</sup></p>
                <p>premium member</p>
            </div>
            </div>
        </div>
        </div>


    </div>-->

    <h6 class="category-heading">Categories</h6>

    <div class="categories">
        <div class="category" [routerLink]="['/race/race-type']" [queryParams]="{ raceType: 'fast' }">
            <div class="hover-maker my-cta-category-hover"></div>
            <div class="race-img"><img src="/assets/base/images/all-races/fast-race.png" alt=""></div>
            <div class="race-description">
                <h6>Fast races</h6>
                <p>30 second duration</p>
            </div>
        </div>

       
        
        <div class="category" [routerLink]="['/race/race-type/']" [queryParams]="{ raceType: 'tournament' }">
            <div class="hover-maker my-cta-category-hover"></div>
            <div class="race-img"><img src="/assets/base/images/all-races/tournament-race.png" alt=""></div>
            <div class="race-description">
                <h6>Tournaments</h6>
                <p>19 Fast races in one Tournament</p>
            </div>
        </div>

        <div class="category" [routerLink]="['/race/race-type']" [queryParams]="{ raceType: 'special' }">
            <div class="hover-maker my-cta-category-hover"></div>
            <div class="race-img"><img src="/assets/base/images/all-races/special-event.png" alt=""></div>
            <div class="race-description">
                <h6>Special events</h6>
                <p>IOI holder events</p>
            </div>
        </div>

        <div class="category" [routerLink]="['/race/race-type/']" [queryParams]="{ raceType: 'enduration' }">
            <div class="race-img"><img src="/assets/base/images/all-races/enduration-race.png" alt=""></div>
            <div class="race-description">
                <h6>Enduration races</h6>
                <p>1 hour duration</p>
            </div>
        </div>
    </div>

    <div class="tutorial-wrapper">
       <div class="tutorial">
            <h6>Tutorial</h6>
            <div class="wrapper">
                <div class="tutorial-text">
                    <h5>
                        Want to play like a pro?
                    </h5>
                    <p>Watch our newest video, learn everything you need to become the best racer and start making more money today!</p>
                </div>
                <a href="https://www.youtube.com/watch?v=isUGa3-AUVk&t=24s" >
                    <div class="button my-cta-btn-back hoverable">
                        Watch video
                    </div>
                </a>
            </div>
       </div>
       <div class="next-race-join">
        <h6>Next race to join</h6>
            <div class="wrapper">
                <div class="border-maker my-border-grad"></div>
                <img class="back-image" src="/assets/base/images/all-races/next-race-car.png" alt="">
                <div class="next-race-text">
                    <div>
                        <h6>Beginner IOI</h6>
                        <p>1 IOI</p>
                    </div>
                    <div class="button my-cta-btn-back hoverable" [routerLink]="['/car/fuel-car/car_race_ioi_1']">
                        Join race
                    </div>
                </div>
                <div class="next-race-img"></div>
            </div>
       </div>
    </div>
</div>
  

