*{
    color: white;
}
:host{
    width: 100%;
}

.main-holder{
    width: calc(100% - 457px);
    padding-left: 40px;
    margin-right: auto;
    h5{
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
    }
    h6{
        font-size: 20px;
        list-style: 30px;
        font-weight: 600;
        font-family: Poppins;
    }
    p{
        font-size: 16px;
        line-height: 24px;
    }
    h1{
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
    }
}

.category-heading{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 30px;
    opacity: 1;
    margin-bottom: 20px;
}

    .page-info{
        margin: 30px 0;
        padding-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
    .back{
        cursor: pointer;
        transition: .2s;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        text-align: center;
        min-height: 132px;
        background: linear-gradient(0deg, #111111, #111111);
        box-shadow: 0px 0px 80px #000000;
        border-radius: 20px;
        p{
            line-height: 20px;
            margin-bottom: 22px;
        }
    }
    .back:hover{
        transform: scale(1.1);
    }
    .text-info{
        max-width: 812px;
        margin: 0 20px;
    }
    .info-modal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 448px;
        height: 162px;
        background: linear-gradient(0deg, #111111, #111111);
        box-shadow: 0px 0px 80px #000000;
        border-radius: 20px;
        h6{
            margin: 10px;
            text-align: center;
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            div{
                text-align: center;
                width: 188px;
                height: 94px;
                flex-direction: column;
                p{
                    margin: 0;
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 30px;
                    color: rgba(255,255,255, 1);
                    sup{
                        margin: 3px;
                    }
                }
                p:last-child, sup{
                    font-size: 16px;
                    color: rgba(255,255,255, .4);
                }
            }
            div:last-child{
                border-radius: 10px;
            }
        }
    }
        
    .categories{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .category{
            cursor: pointer;
            transition: .2s;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: flex-end;
            height: 300px;
            width: 320px;
            background: linear-gradient(0deg, #111111, #111111);
            box-shadow: 0px 0px 80px #000000;
            border-radius: 20px;
            margin: 0 4px;
            div.race-img{
                border-radius: 20px;
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                img{
                    border-radius: 20px;
                    width: 100%;
                    height: 100%;
                }
            }
            div.race-description{
                z-index: 2;
                justify-self: flex-end;
                padding: 30px;
                padding-bottom: 25px;
                display: inline;
                p{
                    color: rgba(255,255,255, 0.6);
                    margin: 0;
                }
                h6{
                    margin: 0px;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .category:hover{
        transform: scale(1.06);
    }
    .coming-soon:hover{
        transform: scale(1.00);
        filter: grayscale(100%);
        
    }
    .hover-maker{
        transition: .2s;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 5;
        opacity: 0;
        border-radius: 20px;
    }
    .hover-maker:hover{
        opacity: 1;
    }

    .tutorial-wrapper{
        margin-top: 15px;
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .button{
            cursor: pointer;
            min-width: 150px;
            display: inline-block;
            text-align: center;
            max-width: 120px;
            border-radius: 15px;
            transition: .2s;
            padding: 12px 20px;
            opacity: 1;
            p{
                font-size: 16px;
                line-height: 24px;
                font-weight: normal;
                margin-bottom: 0;
            }
            z-index: 1;
        }
        .button:hover{
            transform: scale(1.02)
        }
        h6{
            margin: 20px 0 20px 30px;
        }
        div.tutorial{
            flex-basis: 62%;
            div.wrapper{
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                height: 205px;
                background: url("/assets/base/images/all-races/tutorial-bg.png");
                background-position: right;
                background-repeat: no-repeat;
                box-shadow: 0px 0px 80px #000000;
                border-radius: 20px;
                div.tutorial-text{
                    z-index: 1;
                    max-width: 500px;
                }
                p{
                    opacity: .6;
                }
            }
        }
        div.next-race-join{
            flex-basis: 30%;
            
            div.wrapper{
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 205px;
                display: flex;
                border-radius: 20px;
                justify-content: center;
                justify-content: space-between;
                div.next-race-text {
                    z-index: 2;
                    border-radius: 20px;
                    position: absolute;
                    left: 1px;
                    top: 1px;
                    width: calc(100% - 1px);
                    height: calc(100% - 1px);
                    background: linear-gradient( to bottom right, rgba(17,17,17,.86) 50%, rgba(17,17,17,0.3) 100%);
                    padding:0 0 30px 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    h6{
                        margin: 0;
                    }
                    p{
                        font-size: 14px;
                        opacity: .6;
                    }
                }
                .back-image{
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    right: 0;
                  }
                  .border-maker{
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    position: relative;
                    z-index: 1;
                  }
                  .button{           
                      min-width: 116px;    
                  }
            }
        }
    }

@media screen and ( max-width: 1850px )
{
    .main-holder{
        div.categories{
            div.category{
                cursor: pointer;
                height: 250px;
                width: 300px;
                div.race-description{
                    h6{
                        font-size: 17px;
                    }
                    p{
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
}

@media screen and ( max-width: 1700px )
{
    .main-holder{
        width: calc(100% - 410px);
        h6{
            font-size: 17px;
            line-height: 25px;
        }
        h5{
            font-size: 20px;
            line-height: 25px;
        }
        p{
            font-size: 16px;
        }
        h1{
            font-size: 30px;
        }
        .page-info{
            padding-bottom: 10px;
        }
        
        div.categories{
            div.category{
                height: 230px;
                width: 270px;
                div.race-description{
                    padding: 15px;
                    h6{
                        font-size: 17px;
                    }
                    p{
                        font-size: 12px;
                        line-height: 19px;
                    }
                }
            }
        }

        div.tutorial-wrapper{
            div.tutorial{
                div.wrapper{
                    height: 180px;
                    div.tutorial-text{
                        max-width: 350px;
                    }
                }
            }
            div.next-race-join{
                width: 400px;
                div.wrapper{
                    height: 180px;
                }
            }
        }
    }
}

@media screen and ( max-width: 1550px )
{
    .main-holder{
        width: calc(100% - 380px);
        padding-left: 20px;
        h6{
            font-size: 16px;
            line-height: 22px;
        }
        h5{
            font-size: 18px;
            line-height: 20px;
        }
        p{
            font-size: 12px;
        }
        h1{
            font-size: 25px;
        }
    }

    .page-info{
        margin: 0;
        padding-bottom: 20px;
    }
    .text-info{
        max-width: 555px;
        margin: 0 10px;
        h1{
          font-size: 26px;
          margin: 5px 0 7px;
        }
        p{
          font-size: 13px;
        }
    }
    .back{
        min-height: 120px;
    }
    .bonus-info{
        min-height: 120px;
        width: 380px;
    }
    .info-modal{
        margin: 0px;
        min-width: 348px;
        height: 120px;
        h6{
            font-size: 16px;
            line-height: 22px;
        }
        div{
            div{
                width: 160px;
                height: 65px;
                p{
                    font-size: 14px;
                    line-height: 15px;
                }
                p:last-child, sup{
                    font-size: 14px;
                    line-height: 17px;
                }    
            }
        }
    }
        
        
        div.categories{
            div.category{
                height: 210px;
                width: 220px;
                div.race-description{
                    h6{
                        font-size: 15px;
                    }
                    p{
                        font-size: 11px;
                        line-height: 15px;
                    }
                }
            }
        }

        div.tutorial-wrapper{
            div.button{
                padding: 5px 10px;
                border-radius: 9px;
                p{
                    font-size: 12px;
                }
            }
            div.tutorial{
                div.wrapper{
                    height: 150px;
                    div.tutorial-text{
                        max-width: 300px;
                    }
                }
            }
            div.next-race-join{
                width: 300px;
                div.wrapper{
                    width: 300px;
                    height: 150px;
                }
            }
        }
    }
@media screen and ( max-width: 1200px )
{
    .main-holder{
        width: calc(100% - 340px);
        padding-left: 13px;
        div.categories{
            div.category{
                height: 190px;
                .race-description{
                    padding: 7px 20px;
                    h6{
                        margin: 0 0 5px 0;
                    }
                    p{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .page-info{
        margin-top: 20px;
    }
    .text-info{
        max-width: 555px;
        h1{
          font-size: 20px;
        }
        p{
          font-size: 12px;
        }
    }
}

@media screen and ( max-width: 1024px )
{
    .main-holder{
        width: 100%;
        padding: 30px 13px 0px 10px;
    }
    .page-info{
        margin-top: 0;
        padding-bottom: 10px;
    }
}

@media screen and ( max-width: 800px )
{ 
    .text-info{
        order: 3;
        margin: 15px auto;
        text-align: center;
      }
}


@media screen and ( max-width: 640px )
{   
    .page-info{
        box-sizing: border-box;
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    .back{
        box-sizing: border-box;
        padding: 0 10px;
        flex-basis: 23%;
        order: 1;
    }
    .text-info{
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        order: 3;
    }
    .info-modal{
        flex-basis: 70%;
        order: 2;
        div{
            div{
                width: 140px;
                height: 60px;
                p{
                    font-size: 14px;
                    line-height: 15px;
                }
                p:last-child, sup{
                    font-size: 14px;
                    line-height: 15px;
                }    
            }
        }
    }

    .main-holder{
        width: 100%;
        padding: 30px 20px 0px 20px;

        .race-type-info{
            margin-left: 0;
            padding: 0 30px;
            .race-info{
                flex-direction: column;
                margin: auto;
                .info-modal{
                    min-width: 0;
                    width: 100%;
                    div{
                        div{
                            width: 140px;
                            height: 60px;
                            p{
                                font-size: 14px;
                                line-height: 15px;
                            }
                            p:last-child, sup{
                                font-size: 14px;
                                line-height: 15px;
                            }    
                        }
                    }
                }
            }
            h6{
                text-align: center;
            }
        }



        .categories{
            flex-wrap: wrap;
            align-items: center;
            .category{
                margin: auto;
                margin-bottom: 30px;
                .race-description{
                    padding: 7px 20px;
                    h6{
                        margin: 0 0 5px 0;
                    }
                    p{
                        margin-bottom: 10px;
                    }
                }
            }
        }

        div.tutorial-wrapper{
            padding: 0 10px;
            flex-direction: column;
            margin: auto;
            div.button{
                padding: 5px 10px;
                border-radius: 9px;
                p{
                    font-size: 12px;
                }
            }
            div.tutorial{
                width: 100%;
                div.wrapper{
                    padding: 0 0 30px 30px;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    max-height: auto;
                    height: auto;
                    div.tutorial-text{
                        width: 90%;
                    }
                }
            }
            div.next-race-join{
                width: 100%;
                div.wrapper{
                    width: 100%;
                    height: 150px;
                }
            }
        }
    }
}

@media screen and ( max-width: 480px )
{  

    .text-info{
        h1{
          font-size: 17px;
        }
        p{
          font-size: 11px;
        }
      }

    .info-modal{
        min-width: 0px;
        flex-basis: 70%;
        order: 2;
        div{
            div{
                width: 100px;
                height: 60px;
                p{
                    font-size: 12px;
                    line-height: 12px;
                }
                p:last-child, sup{
                    font-size: 12px;
                    line-height: 12px;
                }    
            }
        }
    }
}

@media screen and ( max-width: 480px )
{  
    .page-info{
        .back{
            font-size: 9px;
            padding: 0 6px;
        }
    }
}



@media screen and (min-width: 2100px){
    .categories{
        .category{
            width: 23%;
            padding-top: 20%;
        }
    }
    .tutorial-wrapper{
        margin-top: 50px;
        .tutorial{
            .wrapper{
                height: 300px;
                background-size: cover;
            }
        }
        .next-race-join{
            .wrapper{
                height: 300px;
                .next-race-text{
                    padding: 0 0 0 30px;
                    justify-content: center;
                }
            }
        }
    }
    .main-holder{
        h5{
            font-weight: 600;
            font-size: 28px;
            line-height: unset
        }
        h6{
            font-size: 24px;
            font-weight: 600;
            font-family: Poppins;
        }
        p{
            font-size: 18px;
            line-height: unset
        }
        h1{
            font-weight: 600;
            font-size: 40px;
            line-height: unset
        }
    }
}

@media screen and (min-width: 2300px) and (min-height: 1350px){
    .main-holder{
        h5{
            font-weight: 600;
            font-size: 30px;
            line-height: unset
        }
        h6{
            font-size: 26px;
            font-weight: 600;
            font-family: Poppins;
        }
        p{
            font-size: 20px;
            line-height: unset
        }
        h1{
            font-weight: 600;
            font-size: 43px;
            line-height: unset
        }
    }
    .page-info{
        .back{
            padding: 0 30px;
            min-height: 160px;
            p{
                line-height: 20px;
                margin-bottom: 32px;
            }
        }
        .back:hover{
            transform: scale(1.1);
        }
        .text-info{
            max-width: 1200px;
            margin: 0 35px;
        }
        .top-info{
            margin-left: 35px;
        }
        .bonus-info{
            width: 500px;
            min-height: 160px;
            h4{
              font-size: 24px;
            }
            img{
              width: 65px;
              height: 65px;
            }
        }
      }
    .categories{
        .category{
            width: 23%;
            padding-top: 22%;
        }
    }
    .category-heading{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .tutorial-wrapper{
        margin-top: 50px;
        .tutorial{
            h6{
                margin-top: 40px;
                margin-bottom: 40px;
            }
            .wrapper{
                height: 300px;
                background-size: cover;
            }
        }
        .next-race-join{
            h6{
                margin-top: 40px;
                margin-bottom: 40px;
            }
            .wrapper{
                height: 300px;
                .next-race-text{
                    padding: 0 0 0 30px;
                    justify-content: center;
                }
            }
        }
    }

}



.tank-fast {
  background-image: url("/assets/base/images/sidenav/ff-menu.png");
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  z-index: 10;
  background-size: 100%;
  cursor: pointer;
}

.intro-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    background-color: #111111;
    overflow: auto;
    width: 100%;
    height: 100vh;
}

