* {
  margin: 0px;
}
.dissapear-right-animation {
  animation: dissapear-right 0.3s linear;
  -webkit-animation: dissapear-right 0.3s linear;
}
.dissapear-left-animation {
  animation: dissapear-left 0.3s linear;
  -webkit-animation: dissapear-left 0.3s linear;
}
.engage-right-animation {
  animation: engage-right 0.3s linear;
  -webkit-animation: engage-right 0.3s linear;
}
.engage-left-animation {
  animation: engage-left 0.3s linear;
  -webkit-animation: engage-left 0.3s linear;
}
@keyframes dissapear-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes dissapear-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes engage-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes engage-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
.main-holder {
  width: calc(100% - 40px);
  height: calc(100vh - 80px);
  padding: 40px 0px 40px 40px;
  display: flex;
  position: relative;
  align-items: flex-end;
}

//FONT SETTINGS
.content-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 80px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  img {
    width: 21px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.09em;
    font-family: "Earth Orbiter";
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

.menu-title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-left: 20px;
  font-family: "Earth Orbiter";
}
.category-title-first {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  font-family: "Earth Orbiter";
  letter-spacing: 0.09em;
}
.category-title-second {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  font-family: "Earth Orbiter";
  letter-spacing: 0.09em;
}
.category-title-third {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  font-family: "Earth Orbiter";
  letter-spacing: 0.09em;
}
.category-title-fourth {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  font-family: "Earth Orbiter";
  letter-spacing: 0.09em;
}

.races-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.6;
}
//CONTENT SETTINGS

.races-content {
  position: relative;

  width: 100%;
  height: 95%;
  display: flex;
  justify-content: space-between;

  .content-menu {
    width: 22.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .item {
      background: transparent;
      cursor: pointer;
      position: relative;
      transition: 0.3s;
      height: 12%;
      border-top: 3px solid rgba(255, 255, 255, 0.4);
      border-left: 3px solid rgba(255, 255, 255, 0.4);
      border-bottom: 3px solid rgba(255, 255, 255, 0.4);
      border-right: 3px solid rgba(255, 255, 255, 0.4);
      width: 100%;
      display: flex;
      align-items: center;
      opacity: 0.6;
      img {
        margin-left: 10%;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
      }
      .item-content {
        display: flex;
        overflow: hidden;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
      }
      .hover-effect {
        position: absolute;
        left: -25px;
        top: 0px;
        transition: 0.3s;
        width: 0%;
        margin-left: -25px;
        height: 100%;
        background: white;
        transform: translate3d(0, 0, 0) skew(-25deg);
        -webkit-transform: translate3d(0, 0, 0) skew(-25deg);
        -moz-transform: translate3d(0, 0, 0) skew(-25deg);
        -ms-transform: translate3d(0, 0, 0) skew(-25deg);
        -o-transform: translate3d(0, 0, 0) skew(-25deg);
        transform-origin: top;
      }
      .bottom-border {
        transition: 0.3s;
        bottom: -3px;
        left: -3px;
        position: absolute;
        width: calc(100% + 6px);
        height: 0px;
      }
      &.active {
        background: url("/assets/base/images/all-races/active-back.png");
        background-position: center;
        background-size: cover;

        opacity: 1;
        border-bottom: 3px solid transparent;
        border-top: 3px solid rgba(255, 255, 255, 0.6);
        border-left: 3px solid rgba(255, 255, 255, 0.6);

        border-right: 3px solid rgba(255, 255, 255, 0.6);
        .bottom-border {
          height: 4px;
        }
      }
    }
    .item:hover {
      transform: scale(1.01);
      -webkit-transform: scale(1.01);
      -moz-transform: scale(1.01);
      -ms-transform: scale(1.01);
      -o-transform: scale(1.01);
      .hover-effect {
        width: 40%;
      }
      img {
        margin-left: 27.5%;
      }
    }
  }
  .content-side {
    width: 75%;
    display: flex;
    justify-content: space-between;
    &.tips {
      align-items: center;
      .tip-content {
        position: relative;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .left-premium {
        height: auto;
        width: 100%;
        .boxes {
          display: flex;
          margin-top: 2.5%;
        }
        .tip-button {
          transition: 0.3s;
          margin-top: 5%;
          padding: 1.5% 10%;
          opacity: 1;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
        }
        .tip-button:hover {
          transform: scale(1.01);
          -webkit-transform: scale(1.01);
          -moz-transform: scale(1.01);
          -ms-transform: scale(1.01);
          -o-transform: scale(1.01);
          box-shadow: (0px 0px 15px rgba(255, 255, 255, 0.9));
        }
        .item-box {
          padding: 2.5%;
          width: 40%;
          p {
            &.menu-title {
              margin-left: 0px;
            }
            &.space {
              margin-top: 10%;
            }
            &.hidden {
              pointer-events: none;
              opacity: 0;
            }
          }
          &.first {
            border: 3px solid gold;
            background: rgba(17, 17, 17, 0.8);
          }
          &.second {
            margin-left: 10%;
            border: 3px solid transparent;
          }
          .item {
            margin-top: 5%;
            display: flex;
            img {
              width: 7.5%;
              height: auto;
            }
            p {
              margin-left: 5%;
            }
          }
        }
        .golden {
          color: gold;
        }
      }
      .left-content {
        width: 49%;
        .category-title-fourth {
          margin-bottom: 2.5%;
        }
        .line {
          transition: 0.3s;
          margin-top: 2.5%;
          &.active {
            opacity: 1;
          }
        }
        .tip-button {
          transition: 0.3s;
          margin-top: 10%;
          padding: 2.5% 10%;
          opacity: 1;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
        }
        .tip-button:hover {
          transform: scale(1.01);
          -webkit-transform: scale(1.01);
          -moz-transform: scale(1.01);
          -ms-transform: scale(1.01);
          -o-transform: scale(1.01);
          box-shadow: (0px 0px 15px rgba(255, 255, 255, 0.9));
        }
      }
      .right-content {
        width: 49%;
        min-height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        .how-to-image {
          width: 100%;
          position: absolute;
          top: 60%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
        }
        .switchers {
          z-index: 1;
          width: 80%;
          display: flex;
          justify-content: space-between;
          .switcher {
            cursor: pointer;
            transition: 0.3s;
            height: 3px;
            width: 19%;
            opacity: 0.15;
            &.active {
              opacity: 1;
            }
          }
        }
      }
    }
    .fast-races {
      transition: 0.2s;
      cursor: pointer;
      cursor: pointer;

      width: 40%;
      height: 100%;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/base/images/all-races/fast-race.png);

      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .group {
      width: 57.5%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .tournaments {
      transition: 0.2s;
      cursor: pointer;

      width: 100%;
      height: 40%;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/base/images/all-races/tournaments.png);

      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .category-group {
      height: 55%;
      display: flex;
      justify-content: space-between;
    }
    .enduration {
      transition: 0.2s;
      cursor: pointer;

      width: 47.5%;
      height: 100%;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/base/images/all-races/enduration.png);

      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .special-events {
      transition: 0.2s;
      cursor: pointer;

      width: 47.5%;
      height: 100%;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/base/images/all-races/special-events.png);

      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
    }
    .hoverable-category {
      padding: 25px;
    }
    .hoverable-category:hover {
      transform: scale(1.01);
      -webkit-transform: scale(1.01);
      -moz-transform: scale(1.01);
      -ms-transform: scale(1.01);
      -o-transform: scale(1.01);
      box-shadow: (6px 8px 35px rgba(255, 255, 255, 0.9));
    }
  }
}

@media screen and(max-width: 1700px) {
  .main-holder {
    width: calc(100% - 30px);
    padding: 30px 0px 30px 30px;
  }
  .content-title {
    img {
      width: 17px;
    }
    p {
      font-size: 26px;
    }
  }
}
@media screen and(max-width: 1550px) {
  .main-holder {
    width: calc(100% - 20px);
    height: calc(100vh - 65px);
    padding: 20px 0px 20px 20px;
  }
  .content-title {
    height: 65px;
    img {
      width: 15px;
    }
    p {
      font-size: 22px;
    }
  }
  .races-content {
    .content-menu {
      .item {
        img {
          width: 27.5px;
        }
      }
    }
  }

  .menu-title {
    font-size: 18px;
  }
  .category-title-first {
    font-size: 32px;
  }
  .category-title-second {
    font-size: 26px;
  }
  .category-title-third {
    font-size: 20px;
  }
  .category-title-fourth {
    font-size: 50px;
  }
  .races-desc {
    font-size: 14px;
  }
}
@media screen and(max-width: 1400px) {
  .menu-title {
    font-size: 16px;
  }
  .category-title-first {
    font-size: 26px;
  }
  .category-title-second {
    font-size: 22px;
  }
  .category-title-third {
    font-size: 18px;
  }
  .category-title-fourth {
    font-size: 40px;
  }
  .races-desc {
    font-size: 12px;
  }
}
@media screen and(max-width: 1200px) {
  .main-holder {
    width: calc(100% - 13px);
    padding: 13px 0px 13px 13px;
    padding-bottom: 13px;
    padding-top: 13px;
  }
}
@media screen and(max-width: 1024px) {
  .races-content {
    .content-menu {
      .item:hover {
        transform: none;
        .hover-effect {
          width: 0px;
        }
        img {
          margin-left: 10%;
        }
      }
    }
    .content-side {
      .hoverable-category:hover {
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
      }

      &.tips {
        .left-premium {
          .item-box {
            .item {
              img {
                width: 12.5px;
                height: 12.5px;
              }
            }
          }
        }
      }
    }
  }
  .main-holder {
    width: calc(100% - 10px);
    padding: 10px 0px 10px 10px;
  }
  .content-title {
    img {
      width: 13px;
    }
    p {
      font-size: 20px;
    }
  }
}

//LANDSCAPE
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content-title {
    height: 40px;
  }
  .menu-title {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-first {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-second {
    font-size: 17px;
    line-height: 19px;
  }
  .category-title-third {
    font-size: 15px;
    line-height: 17px;
  }
  .category-title-fourth {
    font-size: 25px;
    line-height: 27px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
  }
  .races-content {
    .content-menu {
      .item {
        img {
          width: 18px;
        }
        border-top: 2px solid rgba(255, 255, 255, 0.4);
        border-left: 2px solid rgba(255, 255, 255, 0.4);
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
        border-right: 2px solid rgba(255, 255, 255, 0.4);
        .bottom-border {
          bottom: -2px;
          left: -2px;

          width: calc(100% + 4px);
        }
        &.active {
          border-bottom: 2px solid transparent;
          border-top: 2px solid rgba(255, 255, 255, 0.6);
          border-left: 2px solid rgba(255, 255, 255, 0.6);

          border-right: 2px solid rgba(255, 255, 255, 0.6);
          .bottom-border {
            height: 3px;
          }
        }
      }
    }
    .content-side {
      .hoverable-category {
        padding: 15px;
      }
    }
  }
}
@media screen and(max-width: 700px) and (orientation: landscape) {
  .content-title {
    img {
      width: 8.5px;
    }
    p {
      font-size: 9px;
      margin-left: 5px;
    }
  }

  .menu-title {
    font-size: 10px;
    line-height: 12px;
  }
  .category-title-first {
    font-size: 17px;
    line-height: 19px;
  }
  .category-title-second {
    font-size: 15px;
    line-height: 17px;
  }
  .category-title-third {
    font-size: 13px;
    line-height: 15px;
  }
  .category-title-fourth {
    font-size: 20px;
    line-height: 22px;
  }
  .races-desc {
    font-size: 8px;
    line-height: 10px;
  }
  .races-content {
    .content-menu {
      .item {
        img {
          width: 12.5px;
        }
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-left: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        border-right: 1px solid rgba(255, 255, 255, 0.4);
        .bottom-border {
          bottom: -1px;
          left: -1px;

          width: calc(100% + 2px);
        }
        &.active {
          border-bottom: 1px solid transparent;
          border-top: 1px solid rgba(255, 255, 255, 0.6);
          border-left: 1px solid rgba(255, 255, 255, 0.6);

          border-right: 1px solid rgba(255, 255, 255, 0.6);
          .bottom-border {
            height: 2px;
          }
        }
      }
    }
    .content-side {
      .hoverable-category {
        padding: 10px;
      }
    }
  }
}
@media screen and(max-width: 1024px) and (orientation: portrait) {
  .main-holder {
    height: auto;
    align-items: flex-start;
  }
  .races-content {
    height: auto;

    flex-direction: column;
    justify-content: unset;
    .content-menu {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      height: 200px;
      .item {
        width: 30%;
        height: 30%;
      }
    }
    .content-side {
      width: 100%;
      height: 500px;

      flex-direction: column;

      &.tips {
        height: auto;

        .tip-content {
          flex-direction: column-reverse;
          .left-content {
            width: 100%;
            margin-top: 25px;
            .tip-button {
              margin-top: 15px;
            }
          }
          .right-content {
            margin-top: 25px;
            width: 100%;
            min-height: unset;
            display: flex;

            position: relative;
            height: 200px;
            .how-to-image {
              max-height: 100%;
              height: 100%;
              width: auto;
            }
          }
        }
        .left-premium {
          margin-top: 25px;
          .boxes {
          }
          .tip-button {
            margin-top: 15px;
          }

          .item-box {
            padding: 2.5%;
            width: 49%;
            .item {
              img {
                width: 12.5px;
                height: 12.5px;
              }
            }
            &.second {
              margin-left: 2.5%;
            }
          }
        }
      }
      .fast-races {
        width: 100%;
        height: 30%;
      }
      .group {
        height: 67.5%;
        width: 100%;
      }
      .tournaments {
        height: 47.5%;
      }
      .category-group {
        height: 48%;
      }
      .enduration {
        width: 48%;
      }
      .special-events {
        width: 48%;
      }
      .hoverable-category {
        padding: 10px;
      }
    }
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .content-title {
    img {
      width: 10px;
    }
    p {
      font-size: 17px;
    }
  }
  .menu-title {
    font-size: 10px;
    line-height: 12px;
    margin-left: 5px;
  }
  .category-title-first {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-second {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-third {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-fourth {
    font-size: 18px;
    line-height: 20px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
    opacity: 0.6;
  }
  .races-content {
    .content-menu {
      .item {
        width: 31%;
        border-top: 2px solid rgba(255, 255, 255, 0.4);
        border-left: 2px solid rgba(255, 255, 255, 0.4);
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
        border-right: 2px solid rgba(255, 255, 255, 0.4);
        &.active {
          border-bottom: 2px solid transparent;
          border-top: 2px solid rgba(255, 255, 255, 0.6);
          border-left: 2px solid rgba(255, 255, 255, 0.6);

          border-right: 2px solid rgba(255, 255, 255, 0.6);
          .bottom-border {
            height: 3px;
          }
        }
        img {
          margin-left: 0%;
          width: 15px;
          height: auto;
        }
      }
      .item:hover {
        img {
          margin-left: 0%;
        }
      }
      .item-content {
        justify-content: center;
      }
    }
  }
}
