* {
  margin: 0px;
}
.dissapear-right-animation {
  animation: dissapear-right 0.3s linear;
  -webkit-animation: dissapear-right 0.3s linear;
}
.dissapear-left-animation {
  animation: dissapear-left 0.3s linear;
  -webkit-animation: dissapear-left 0.3s linear;
}
.engage-right-animation {
  animation: engage-right 0.3s linear;
  -webkit-animation: engage-right 0.3s linear;
}
.engage-left-animation {
  animation: engage-left 0.3s linear;
  -webkit-animation: engage-left 0.3s linear;
}
@keyframes dissapear-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes dissapear-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes engage-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes engage-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
.main-holder {
  width: calc(100% - 40px);
  height: calc(100vh - 80px);
  overflow: hidden;
  padding: 40px 0px 40px 40px;
  display: flex;

  align-items: flex-end;
}

//FONT SETTINGS
.content-title {
  position: absolute;
  top: 20px;
  left: 40px;
  display: flex;
  img {
    width: 30px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.09em;
    margin-left: 20px;
  }
}

.menu-title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-left: 20px;
}
.category-title-first {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
}
.category-title-second {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
}
.category-title-third {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
}
.races-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.6;
}
//CONTENT SETTINGS

.races-content {
  position: relative;

  width: 100%;
  height: 95%;
  display: flex;
  justify-content: space-between;

  .content-menu {
    width: 22.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .item {
      background: transparent;
      cursor: pointer;
      position: relative;
      transition: 0.3s;
      height: 12%;
      border-top: 3px solid rgba(255, 255, 255, 0.4);
      border-left: 3px solid rgba(255, 255, 255, 0.4);
      border-bottom: 3px solid rgba(255, 255, 255, 0.4);
      border-right: 3px solid rgba(255, 255, 255, 0.4);
      width: 100%;
      display: flex;
      align-items: center;
      opacity: 0.6;
      img {
        margin-left: 10%;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
      }
      .item-content {
        display: flex;
        overflow: hidden;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
      }
      .hover-effect {
        position: absolute;
        left: -25px;
        top: 0px;
        transition: 0.3s;
        width: 0%;
        margin-left: -25px;
        height: 100%;
        background: white;
        transform: translate3d(0, 0, 0) skew(-25deg);
        -webkit-transform: translate3d(0, 0, 0) skew(-25deg);
        -moz-transform: translate3d(0, 0, 0) skew(-25deg);
        -ms-transform: translate3d(0, 0, 0) skew(-25deg);
        -o-transform: translate3d(0, 0, 0) skew(-25deg);
        transform-origin: top;
      }
      .bottom-border {
        transition: 0.3s;
        bottom: -3px;
        left: -3px;
        position: absolute;
        width: calc(100% + 6px);
        height: 0px;
      }
      &.active {
        background: url("/assets/base/images/all-races/active-back.png");
        background-position: center;
        background-size: cover;

        opacity: 1;
        border-bottom: 3px solid transparent;
        border-top: 3px solid rgba(255, 255, 255, 0.6);
        border-left: 3px solid rgba(255, 255, 255, 0.6);

        border-right: 3px solid rgba(255, 255, 255, 0.6);
        .bottom-border {
          height: 4px;
        }
      }
    }
    .item:hover {
      transform: scale(1.01);
      -webkit-transform: scale(1.01);
      -moz-transform: scale(1.01);
      -ms-transform: scale(1.01);
      -o-transform: scale(1.01);
      .hover-effect {
        width: 40%;
      }
      img {
        margin-left: 27.5%;
      }
    }
  }
  .content-side {
    width: 75%;
    display: flex;
    justify-content: space-between;
    .fast-races {
      transition: 0.2s;
      cursor: pointer;
      cursor: pointer;

      width: 40%;
      height: 100%;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/base/images/all-races/fast-race.png);

      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .group {
      width: 57.5%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .tournaments {
      transition: 0.2s;
      cursor: pointer;

      width: 100%;
      height: 40%;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/base/images/all-races/tournaments.png);

      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .category-group {
      height: 55%;
      display: flex;
      justify-content: space-between;
    }
    .enduration {
      transition: 0.2s;
      cursor: pointer;

      width: 47.5%;
      height: 100%;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/base/images/all-races/enduration.png);

      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .special-events {
      transition: 0.2s;
      cursor: pointer;

      width: 47.5%;
      height: 100%;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(/assets/base/images/all-races/special-events.png);

      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
    }
    .hoverable-category {
      padding: 25px;
    }
    .hoverable-category:hover {
      transform: scale(1.01);
      -webkit-transform: scale(1.01);
      -moz-transform: scale(1.01);
      -ms-transform: scale(1.01);
      -o-transform: scale(1.01);
    }
  }
}

@media screen and(max-width: 1700px) {
  .main-holder {
    width: calc(100% - 30px);
    padding: 30px 0px 30px 30px;
  }
  .content-title {
    left: 30px;
  }
}
@media screen and(max-width: 1550px) {
  .main-holder {
    width: calc(100% - 20px);
    height: calc(100vh - 65px);
    padding: 20px 0px 20px 20px;
  }
  .content-title {
    top: 15px;
    left: 20px;
    img {
      width: 20px;
    }
    p {
      margin-left: 15px;
      font-size: 20px;
    }
  }
  .races-content {
    .content-menu {
      .item {
        img {
          width: 27.5px;
        }
      }
    }
  }

  .menu-title {
    font-size: 18px;
  }
  .category-title-first {
    font-size: 32px;
  }
  .category-title-second {
    font-size: 26px;
  }
  .category-title-third {
    font-size: 20px;
  }
  .races-desc {
    font-size: 14px;
  }
}
@media screen and(max-width: 1400px) {
  .content-title {
    img {
      width: 18px;
    }
  }
  .menu-title {
    font-size: 16px;
  }
  .category-title-first {
    font-size: 26px;
  }
  .category-title-second {
    font-size: 22px;
  }
  .category-title-third {
    font-size: 18px;
  }
  .races-desc {
    font-size: 12px;
  }
}
@media screen and(max-width: 1200px) {
  .main-holder {
    width: calc(100% - 13px);
    padding: 13px 0px 13px 13px;
    padding-bottom: 13px;
    padding-top: 13px;
  }
  .content-title {
    top: 22.5px;
    left: 13px;
    img {
      width: 15px;
    }
    p {
      font-size: 15px;
    }
  }
}
@media screen and(max-width: 1024px) {
  .races-content {
    .content-menu {
      .item:hover {
        transform: none;
        .hover-effect {
          width: 0px;
        }
        img {
          margin-left: 10%;
        }
      }
    }
    .content-side {
      .hoverable-category:hover {
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
      }
    }
  }
  .main-holder {
    width: calc(100% - 10px);
    padding: 10px 0px 10px 10px;
  }
  .content-title {
    top: 10px;
    left: 10px;

    p {
      margin-left: 10px;
      font-size: 14px;
    }
  }
}
@media screen and(max-width: 800px) {
  .main-holder {
  }
}
@media screen and(max-width: 640px) {
  .main-holder {
    padding: 20px;
  }
}

@media screen and (min-width: 2100px) and (min-height: 1081px) {
  .main-holder {
  }
}

//LANDSCAPE
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .menu-title {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-first {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-second {
    font-size: 17px;
    line-height: 19px;
  }
  .category-title-third {
    font-size: 15px;
    line-height: 17px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
  }
  .races-content {
    .content-menu {
      .item {
        img {
          width: 18px;
        }
        border-top: 2px solid rgba(255, 255, 255, 0.4);
        border-left: 2px solid rgba(255, 255, 255, 0.4);
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
        border-right: 2px solid rgba(255, 255, 255, 0.4);
        .bottom-border {
          bottom: -2px;
          left: -2px;

          width: calc(100% + 4px);
        }
        &.active {
          border-bottom: 2px solid transparent;
          border-top: 2px solid rgba(255, 255, 255, 0.6);
          border-left: 2px solid rgba(255, 255, 255, 0.6);

          border-right: 2px solid rgba(255, 255, 255, 0.6);
          .bottom-border {
            height: 3px;
          }
        }
      }
    }
    .content-side {
      .hoverable-category {
        padding: 15px;
      }
    }
  }
}
@media screen and(max-width: 700px) and (orientation: landscape) {
  .content-title {
    top: 15px;
    img {
      width: 8.5px;
    }
    p {
      font-size: 9px;
      margin-left: 5px;
    }
  }

  .menu-title {
    font-size: 10px;
    line-height: 12px;
  }
  .category-title-first {
    font-size: 17px;
    line-height: 19px;
  }
  .category-title-second {
    font-size: 15px;
    line-height: 17px;
  }
  .category-title-third {
    font-size: 13px;
    line-height: 15px;
  }
  .races-desc {
    font-size: 8px;
    line-height: 10px;
  }
  .races-content {
    .content-menu {
      .item {
        img {
          width: 12.5px;
        }
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-left: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        border-right: 1px solid rgba(255, 255, 255, 0.4);
        .bottom-border {
          bottom: -1px;
          left: -1px;

          width: calc(100% + 2px);
        }
        &.active {
          border-bottom: 1px solid transparent;
          border-top: 1px solid rgba(255, 255, 255, 0.6);
          border-left: 1px solid rgba(255, 255, 255, 0.6);

          border-right: 1px solid rgba(255, 255, 255, 0.6);
          .bottom-border {
            height: 2px;
          }
        }
      }
    }
    .content-side {
      .hoverable-category {
        padding: 10px;
      }
    }
  }
}
@media screen and(max-width: 1024px) and (orientation: portrait) {
}
