<div
  [ngClass]="{
    'dissapear-right-animation': animation === 1,
    'engage-right-animation': animation === 0
  }"
  class="main-holder"
>
  <div class="all-races-back"></div>
  <div (click)="back()" class="content-title">
    <img
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>BACK</p>
  </div>
  <div class="races-content">
    <div class="content-menu">
      <div
        (click)="title = 'ALL RACES'; switchContent(1)"
        [ngClass]="{
          active: title === 'ALL RACES'
        }"
        class="item"
      >
        <div class="item-content">
          <div class="hover-effect"></div>
          <img src="assets/base/images/icons/flag.svg" alt="flag" />
          <p class="menu-title">ALL RACES</p>
        </div>
        <div class="bottom-border my-cta-btn-back"></div>
      </div>
      <div
        (click)="title = 'HOW TO PLAY'; switchContent(2)"
        [ngClass]="{
          active: title === 'HOW TO PLAY'
        }"
        class="item"
      >
        <div class="item-content">
          <div class="hover-effect"></div>
          <img src="assets/base/images/icons/gamepad.svg" alt="gamepad" />
          <p class="menu-title">HOW TO PLAY</p>
        </div>
        <div class="bottom-border my-cta-btn-back"></div>
      </div>

      <div
        (click)="title = 'CARS'; switchContent(3)"
        [ngClass]="{
          active: title === 'CARS'
        }"
        class="item"
      >
        <div class="item-content">
          <div class="hover-effect"></div>
          <img src="assets/base/images/icons/car.svg" alt="car" />
          <p class="menu-title">CARS</p>
        </div>
        <div class="bottom-border my-cta-btn-back"></div>
      </div>
      <div
        (click)="title = 'FAST FUEL'; switchContent(4)"
        [ngClass]="{ active: title === 'FAST FUEL' }"
        class="item"
      >
        <div class="item-content">
          <div class="hover-effect"></div>
          <img src="assets/base/images/icons/fire.svg" alt="fire" />
          <p class="menu-title">FAST FUEL</p>
        </div>
        <div class="bottom-border my-cta-btn-back"></div>
      </div>
      <div
        (click)="title = 'PREMIUM'; switchContent(5)"
        [ngClass]="{ active: title === 'PREMIUM' }"
        class="item"
      >
        <div class="item-content">
          <div class="hover-effect"></div>
          <img src="assets/base/images/icons/badge.svg" alt="badge" />
          <p class="menu-title">PREMIUM</p>
        </div>
        <div class="bottom-border my-cta-btn-back"></div>
      </div>
      <div
        (click)="title = 'HELPFUL TIPS'; switchContent(6)"
        [ngClass]="{ active: title === 'HELPFUL TIPS' }"
        class="item"
      >
        <div class="item-content">
          <div class="hover-effect"></div>
          <img src="assets/base/images/icons/idea.svg" alt="idea" />
          <p class="menu-title">
            Seasons and <br />
            Ranking
          </p>
        </div>
        <div class="bottom-border my-cta-btn-back"></div>
      </div>
      <div
        (click)="title = 'TEAMS'; switchContent(7)"
        [ngClass]="{ active: title === 'TEAMS' }"
        class="item"
      >
        <div class="item-content">
          <div class="hover-effect"></div>
          <img src="assets/base/images/icons/star-group.svg" alt="group" />
          <p class="menu-title">Leaderboard</p>
        </div>
        <div class="bottom-border my-cta-btn-back"></div>
      </div>
    </div>
    <div
      [ngClass]="{
        'dissapear-right-animation': contentAnimation === 1,
        'engage-right-animation': contentAnimation === 2
      }"
      *ngIf="content === 1"
      class="content-side"
    >
      <div class="big-box first" [ngClass]="{'tutorial-high disabled': tutorialStep === 1}">
        <div class="info-cont">
          <div class="info-flex">
            <div class="info-box">
              <img src="/assets/base/images/race-type/clock.svg" alt="" />
              <p>
                <app-timer
                  *ngIf="premiumTournament"
                  [value]="premiumTournament?.starts_in_seconds"
                  (onComplete)="onTimerComplete()"
                ></app-timer>
              </p>
            </div>

            <div class="info-box">
              <img src="/assets/base/images/race-type/timer.svg" alt="">
              <p>37 min</p>
            </div>
          </div>

          <div class="text-holder">
            <p class="heading">only NFT tournament</p>
            <p class="text bordered">
              Exclusively for NFT Holders with a guaranteed 100 IOI prizepool
            </p>
            <p class="sub-heading">Underground</p>
          </div>

          <div class="info-flex">
            <div class="info-box">
              <img src="/assets/base/images/race-type/player.svg" alt="" />
              <p>{{ premiumTournament?.players_count }} <span>| 100</span></p>
            </div>

            <div class="info-box">
              <img src="/assets/base/images/race-type/token-white.svg" alt="" />
              <p>{{ premiumTournament?.prize_pool }}</p>
            </div>
          </div>
        </div>

        <div class="controls-holder">
          <div
            class="control-item"
            *ngIf="fastEnabled === true"
            (click)="selRaceType = premiumTournament?.race_hash"
          >
            <img src="/assets/base/images/race-type/fast-blue.svg" alt="" />
          </div>
          <div
            class="control-item"
            *ngIf="baseFavRaces[2].fav !== undefined"
            (click)="
              baseFavRaces[2].fav = !baseFavRaces[2].fav; updateFavRaces()
            "
            [ngClass]="{ active: baseFavRaces[2].fav === true }"
          >
            <img src="/assets/base/images/race-type/fav-blue.svg" alt="" />
          </div>
        </div>

        <div class="btns-holder">
          <button
            [routerLink]="['/car/fuel-car/' + premiumTournament?.race_hash]"
            class="active-btn"
          >
            Join <img src="/assets/base/images/icons/play-icon.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="small-box" [ngClass]="{'tutorial-high clickable': tutorialStep === 3}">
        <p class="box-heading">Free race</p>
        <div class="inner-box">
          <img
            src="/assets/base/images/race-type/rookie-shadow.jpg"
            alt=""
            class="back-img"
          />

          <div class="info-flex">
            <div class="info-box">
              <img src="/assets/base/images/race-type/clock.svg" alt="" />
              <p>
                <app-timer
                  *ngIf="freeRace"
                  [value]="freeRace?.starts_in_seconds"
                  (onComplete)="onTimerComplete()"
                ></app-timer>
              </p>
            </div>

            <div class="info-box">
              <img src="/assets/base/images/race-type/timer.svg" alt="" />
              <p>30 sec</p>
            </div>
          </div>

          <div class="cont-holder">
            <p class="heading">Free fast race</p>

            <div class="info-box">
              <img src="/assets/base/images/race-type/player.svg" alt="" />
              <p>{{ freeRace?.players_count }} <span>| 100</span></p>
            </div>

            <div class="info-box">
              <img src="/assets/base/images/race-type/token-white.svg" alt="" />
              <p>{{ freeRace?.prize_pool }}</p>
            </div>

            <button
              class="play-btn"
              [routerLink]="['/car/fuel-car/' + freeRace?.race_hash]"
            >
              <span
                >Join <img src="/assets/base/images/icons/play-icon.svg" alt=""
              /></span>
              <div class="back-maker"></div>
            </button>

            <div
              class="control-item"
              *ngIf="fastEnabled === true"
              (click)="selRaceType = freeRace?.race_hash"
            >
              <img src="/assets/base/images/race-type/fast-blue.svg" alt="" />
            </div>

            <div
              class="control-item"
              *ngIf="baseFavRaces[0].fav !== undefined"
              (click)="
                baseFavRaces[0].fav = !baseFavRaces[0].fav; updateFavRaces()
              "
              [ngClass]="{ active: baseFavRaces[0].fav === true }"
            >
              <img src="/assets/base/images/race-type/fav-blue.svg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <p class="box-heading big">Competition races with guaranteed prizepool</p>

      <div class="big-box second" [ngClass]="'type' + fastRaces[0]?.map_id">
        <div class="info-cont">
          <div class="info-flex">
            <div class="info-box">
              <img src="/assets/base/images/race-type/clock.svg" alt="" />
              <p>
                <app-timer
                  *ngIf="fastRaces[0]"
                  [value]="fastRaces[0]?.starts_in_seconds"
                  (onComplete)="onTimerComplete()"
                ></app-timer>
              </p>
            </div>

            <div class="info-box">
              <img src="/assets/base/images/race-type/timer.svg" alt="" />
              <p>30 sec</p>
            </div>
          </div>

          <div class="text-holder">
            <p class="heading bordered">Starting soon</p>
            <p class="sub-heading">
              {{ "race.type.fast_race" + fastRaces[0]?.map_id | translate }}
            </p>
          </div>

          <div class="info-flex">
            <div class="info-box">
              <img src="/assets/base/images/race-type/player.svg" alt="" />
              <p>{{ fastRaces[0]?.players_count }} <span>| 100</span></p>
            </div>

            <div class="info-box">
              <img src="/assets/base/images/race-type/token-white.svg" alt="" />
              <p>{{ fastRaces[0]?.prize_pool }}</p>
            </div>
          </div>
        </div>

        <div class="controls-holder">
          <div
            class="control-item"
            *ngIf="fastEnabled === true"
            (click)="selRaceType = fastRaces[0]?.race_hash"
          >
            <img src="/assets/base/images/race-type/fast-red.svg" alt="" />
          </div>
          <div
            class="control-item"
            *ngIf="baseFavRaces[1].fav !== undefined"
            (click)="
              baseFavRaces[1].fav = !baseFavRaces[1].fav; updateFavRaces()
            "
            [ngClass]="{ active: baseFavRaces[1].fav === true }"
          >
            <img src="/assets/base/images/race-type/fav-red.svg" alt="" />
          </div>
        </div>

        <div class="btns-holder">
          <button class="inactive" (click)="openRulesModal()">
            Win more with NFTs
          </button>
          <button
            class="active-btn"
            [routerLink]="['/car/fuel-car/' + fastRaces[0]?.race_hash]"
          >
            Join <img src="/assets/base/images/icons/play-icon.svg" alt="" />
          </button>
        </div>
      </div>
      <div class="small-box" [ngClass]="{'tutorial-high disabled': tutorialStep === 2}">
        <div class="inner-box" *ngIf="fastRaces">
          <img
            [src]="
              '/assets/base/images/race-type/race' +
              fastRaces[fastRaceIndex]?.map_id +
              '.jpg'
            "
            alt=""
            class="back-img"
          />

          <div class="info-flex">
            <div class="info-box">
              <img src="/assets/base/images/race-type/clock.svg" alt="" />
              <p>
                <app-timer
                  *ngIf="fastRaces[fastRaceIndex]"
                  [value]="fastRaces[fastRaceIndex]?.starts_in_seconds"
                  (onComplete)="onTimerComplete()"
                ></app-timer>
              </p>
            </div>

            <div class="info-box">
              <img src="/assets/base/images/race-type/timer.svg" alt="" />
              <p>30 sec</p>
            </div>
          </div>

          <div class="cont-holder">
            <p class="heading">
              {{
                "race.type.fast_race" + fastRaces[fastRaceIndex]?.map_id
                  | translate
              }}
            </p>

            <div class="info-box">
              <img src="/assets/base/images/race-type/player.svg" alt="" />
              <p>
                {{ fastRaces[fastRaceIndex]?.players_count }} <span>| 100</span>
              </p>
            </div>

            <div class="info-box">
              <img src="/assets/base/images/race-type/token-white.svg" alt="" />
              <p>{{ fastRaces[fastRaceIndex]?.prize_pool }}</p>
            </div>

            <button
              class="play-btn"
              [routerLink]="[
                '/car/fuel-car/' + fastRaces[fastRaceIndex]?.race_hash
              ]"
            >
              <span
                >Join <img src="/assets/base/images/icons/play-icon.svg" alt=""
              /></span>
              <div class="back-maker"></div>
            </button>

            <div
              class="control-item"
              *ngIf="fastEnabled === true"
              (click)="selRaceType = fastRaces[fastRaceIndex]?.race_hash"
            >
              <img src="/assets/base/images/race-type/fast-blue.svg" alt="" />
            </div>

            <div
              class="control-item"
              *ngIf="baseFavRaces[1].fav !== undefined"
              (click)="
                baseFavRaces[1].fav = !baseFavRaces[1].fav; updateFavRaces()
              "
              [ngClass]="{ active: baseFavRaces[1].fav === true }"
            >
              <img src="/assets/base/images/race-type/fav-blue.svg" alt="" />
            </div>
          </div>
        </div>

        <div class="switcher-holder">
          <ng-container *ngFor="let item of fastRaces; let i = index">
            <button
              class="switch-item"
              (click)="fastRaceIndex = i"
              [ngClass]="{ active: i === fastRaceIndex }"
              *ngIf="i !== 0"
            ></button>
          </ng-container>
        </div>
      </div>
    </div>

    <div
      [ngClass]="{
        'dissapear-right-animation': contentAnimation === 1,
        'engage-right-animation': contentAnimation === 2
      }"
      *ngIf="content === 2"
      class="content-side how-to"
    >
      <div class="tip-content">
        <div class="left-content">
          <p class="category-title-fourth">Gameplan</p>
          <div class="text-holder">
            <p>
              Trade Race Manager (TRM) is a completely
              <span class="my-text-color">free-to-play model</span> with the
              possibility to maximize your profits with NFTs.
            </p>
            <p>
              The new game system is based on every-day rewards
              <span class="my-text-color">up to 1 500 IOI.</span> Become part of
              IOI Army and play TRM to enjoy unlimited rewards.
            </p>
            <p>
              Guaranteed prize pools
              <span class="my-text-color">up to 10 IOI</span> in NFT races take
              place every 10 minutes and special every-day NFT tournament with a
              <span class="my-text-color"
                >guaranteed prize pool of 100 IOI</span
              >
              for NFT holders.
            </p>
            <p>
              Free Fast races take place every 2 minutes for everybody with a
              <span class="my-text-color"
                >guaranteed prize pool of 0.28 IOI.</span
              >
            </p>
            <p>
              Free members can race with NON-NFT car but receive
              <span class="my-text-color">only 0.1 IOI per win</span> in TOP 3
              spots.
            </p>
          </div>

          <button
            class="race-btn my-cta-btn-back"
            (click)="title = 'ALL RACES'; switchContent(1)"
          >
            Race now
          </button>
        </div>
        <div class="right-content">
          <img src="/assets/base/images/nft-racers/black-trm.png" alt="" />
        </div>
      </div>

      <div class="races-text">
        <p class="category-title-fourth">Races</p>
        <div class="text-holder">
          <p>
            Every 10 minutes for
            <span class="my-text-color">max win 10 IOI</span> - Entry: NFT cars
            and NON NFT cars
          </p>
          <p>
            Every 2 minutes for
            <span class="my-text-color">max win 0,28 IOI</span> - Entry: NFT
            cars and NON NFT cars
          </p>
          <p>
            Daily special NFT tournament for
            <span class="my-text-color">guaranteed prize pool of 100 IOI</span>
            - Entry: NFT cars only
          </p>
          <p>
            NFT tournament prize pool distribution TOP 3: 50 IOI, 30 IOI, 20 IOI
          </p>
        </div>
      </div>

      <div class="tables-cont">
        <div class="table-box big">
          <p class="category-title-first">Nft cars</p>
          <div class="my-table-holder">
            <div class="table-row header">
              <div class="table-item desc">
                <p>Races</p>
              </div>
              <div class="table-item">
                <p>Depending on car</p>
              </div>
              <div class="table-item big">
                <p>Possible win in IOI</p>
              </div>
            </div>

            <div class="table-row">
              <div class="table-item desc">
                <p>1st position</p>
              </div>
              <div class="table-item">
                <p>100 %</p>
              </div>
              <div class="table-item big">
                <p>0,33 - 5,94</p>
              </div>
            </div>

            <div class="table-row">
              <div class="table-item desc">
                <p>2nd position</p>
              </div>
              <div class="table-item">
                <p>50 %</p>
              </div>
              <div class="table-item big">
                <p>0,165 - 2,97</p>
              </div>
            </div>

            <div class="table-row">
              <div class="table-item desc">
                <p>3rd position</p>
              </div>
              <div class="table-item">
                <p>20 %</p>
              </div>
              <div class="table-item big">
                <p>0,066 - 1,188</p>
              </div>
            </div>
          </div>
        </div>

        <div class="table-box">
          <p class="category-title-first">Non-Nft cars</p>
          <div class="my-table-holder">
            <div class="table-row header">
              <div class="table-item desc">
                <p>NFT Car Tier</p>
              </div>
              <div class="table-item">
                <p>Win in IOI</p>
              </div>
            </div>

            <div class="table-row">
              <div class="table-item desc">
                <p>1st position</p>
              </div>
              <div class="table-item">
                <p>0,1</p>
              </div>
            </div>

            <div class="table-row">
              <div class="table-item desc">
                <p>2nd position</p>
              </div>
              <div class="table-item">
                <p>0,1</p>
              </div>
            </div>

            <div class="table-row">
              <div class="table-item desc">
                <p>3rd position</p>
              </div>
              <div class="table-item">
                <p>0,1</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      [ngClass]="{
        'dissapear-right-animation': contentAnimation === 1,
        'engage-right-animation': contentAnimation === 2
      }"
      *ngIf="content === 3"
      class="content-side cars"
    >
      <div class="tip-content">
        <div class="left-content">
          <p class="category-title-fourth">Cars</p>
          <div class="text-holder">
            <p>
              Each car is unparalleled way of owning IOI tokens, staking and
              APY. The main benefit is that you can
              <span class="my-text-color"
                >use your NFTs in-game, buy, sell and trade</span
              >
              on open markets. The new era of NFTs in your pocket.
            </p>
          </div>

          <button
            class="race-btn my-cta-btn-back"
            [routerLink]="['/car/nft-market']"
          >
            Market
          </button>
        </div>
        <div class="right-content">
          <img src="/assets/base/images/nft-cars/car28.png" alt="" />
        </div>
      </div>

      <div class="tip-content">
        <div class="left-content">
          <p class="category-title-first">NFT Cars</p>

          <div class="text-holder cars-text">
            <p>
              Your winnings are
              <span class="my-text-color">based on the NFT car tier</span> you
              own. There are several NFT car tiers ranging from common to
              legendary.
            </p>
            <p>
              There is also a special
              <span class="my-text-color">RARE NFT</span> car in each tier that
              is received for FREE when you own every car from the specific
              tier! RARE NFT cars are
              <span class="my-text-color">adding multiplier</span> to possible
              IOI win from every race.
            </p>
            <p>
              A race takes place every 10 minutes and is completely free to play
              - every race is happening on a different track.
            </p>
            <p>
              Races are free for NFT car holders as well as for NON NFT cars
              holders. However
              <span class="my-text-color"
                >NON NFT car holders can win maximum</span
              >
              of 0.1 IOI for any of top 3 positions in the race.
            </p>
            <p>Winnings with each car in NFT races are calculated here:</p>
          </div>
        </div>
        <div class="right-content">
          <img
            class="nft-car"
            src="/assets/base/images/nft-cars/car27.png"
            alt=""
          />
        </div>
      </div>

      <div class="my-table-holder nft-cars-table">
        <div class="table-row header">
          <div class="table-item desc">
            <p>NFT Car Tier</p>
          </div>
          <div class="table-item">
            <p>Win in IOI</p>
          </div>
          <div class="table-item big">
            <p>Rare NFT multiplier</p>
          </div>
        </div>

        <div class="table-row">
          <div class="table-item desc">
            <p>Common</p>
          </div>
          <div class="table-item">
            <p>0,33</p>
          </div>
          <div class="table-item big">
            <p class="my-text-color">x 1,5</p>
          </div>
        </div>

        <div class="table-row">
          <div class="table-item desc">
            <p>Super</p>
          </div>
          <div class="table-item">
            <p>0,66</p>
          </div>
          <div class="table-item big">
            <p class="my-text-color">x 2</p>
          </div>
        </div>

        <div class="table-row">
          <div class="table-item desc">
            <p>Epic</p>
          </div>
          <div class="table-item">
            <p>1,32</p>
          </div>
          <div class="table-item big">
            <p class="my-text-color">x 2,5</p>
          </div>
        </div>

        <div class="table-row">
          <div class="table-item desc">
            <p>Legendary</p>
          </div>
          <div class="table-item">
            <p>1,98</p>
          </div>
          <div class="table-item big">
            <p class="my-text-color">x 3</p>
          </div>
        </div>
      </div>

      <div class="tip-content non-nft">
        <div class="left-content">
          <p class="category-title-first">NON-NFT Cars</p>

          <div class="text-holder cars-text">
            <p>
              Free members can race with NON NFT car but can
              <span class="my-text-color"
                >win only 0.1 IOI in TOP 3 positions</span
              >
              in a race and do not receive any further points for their effort.
            </p>
            <p>
              Join <span class="my-text-color">premium membership</span> to
              start get rewards.
            </p>
            <div class="list-holder">
              <p>
                Play FREE races every 2 minutes and compete for a prize pool of
                0.28 IOI
              </p>
              <p>- Both NON NFT and NFT cars can enter</p>
              <p>- Win is split between first 3 racers</p>
            </div>
          </div>

          <div class="my-table-holder">
            <div class="table-row header">
              <div class="table-item desc">
                <p>NFT Car Tier</p>
              </div>
              <div class="table-item">
                <p>Win in IOI</p>
              </div>
            </div>

            <div class="table-row">
              <div class="table-item desc">
                <p>1st position</p>
              </div>
              <div class="table-item">
                <p>0,1</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>2nd position</p>
              </div>
              <div class="table-item">
                <p>0,1</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>3rd position</p>
              </div>
              <div class="table-item">
                <p>0,1</p>
              </div>
            </div>
          </div>
        </div>
        <div class="right-content">
          <img
            class="nft-car"
            src="/assets/base/images/nft-cars/car0.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div
      [ngClass]="{
        'dissapear-right-animation': contentAnimation === 1,
        'engage-right-animation': contentAnimation === 2
      }"
      *ngIf="content === 4"
      class="content-side fast-fuel"
    >
      <div class="tip-content">
        <div class="left-content">
          <p class="category-title-fourth">FAST FUEl</p>
          <div class="text-holder">
            <p>
              Get your cars on the track as soon as possible. Set up your fast
              fuel, and win more faster!
            </p>
            <p>This feature is available only for premium members.</p>
          </div>

          <button
            class="race-btn my-cta-btn-back"
            [routerLink]="['/car/favourite-cars']"
          >
            Set up Fast fuel
          </button>
        </div>
        <div class="right-content">
          <img
            src="/assets/base/images/all-races/how-to-fuel.png"
            alt="notebook image"
          />
        </div>
      </div>
    </div>
    <div
      [ngClass]="{
        'dissapear-right-animation': contentAnimation === 1,
        'engage-right-animation': contentAnimation === 2
      }"
      *ngIf="content === 5"
      class="content-side premium"
    >
      <div class="tip-content">
        <p class="category-title-fourth">PREMIUM MEMBERSHIP</p>
        <div class="item-box">
          <p class="menu-title golden">SALE NOW</p>
          <p class="category-title-second">PREMIUM</p>
          <p class="menu-title space">ONLY WITH PREMIUM</p>

          <div class="item">
            <img src="assets/base/images/start-race/teams.svg" alt="team" />
            <p class="races-desc">Team membership</p>
          </div>
          <div class="item">
            <img src="assets/base/images/team-membership/tip.png" alt="tip" />
            <p class="races-desc">Tip of the day from your team manager</p>
          </div>
          <div class="item">
            <img src="assets/base/images/team-membership/gift.png" alt="gift" />
            <p class="races-desc">Guaranteed 2000 IOI prizepool every month for TOP 3 teams</p>
          </div>
          <div class="item">
            <img
              src="assets/base/images/team-membership/coin.png"
              alt="coins"
            />
            <p class="races-desc">Extra bonus for 3 months and 1 year premium memberships</p>
          </div>
          <div class="item">
            <img src="assets/base/images/team-membership/gift.png" alt="gift" />
            <p class="races-desc">Guarenteed 1000 IOI prizepool for TOP 10 racers every month</p>
          </div>
          <div class="item">
            <img src="assets/base/images/start-race/games.png" alt="gift" />
            <p class="races-desc">Earn points to get a chance to win a special ring and your place <br> in the end of the year competitors tournament for the  custom 
              Legendary NFT car</p>
          </div>
        </div>
        <button
          [routerLink]="['/teams/join-teams']"
          class="my-cta-btn-back race-btn"
        >
          Get Premium
        </button>
      </div>
    </div>
    <div
      [ngClass]="{
        'dissapear-right-animation': contentAnimation === 1,
        'engage-right-animation': contentAnimation === 2
      }"
      *ngIf="content === 6"
      class="content-side seasons"
    >
      <div class="tip-content">
        <div class="left-content">
          <p class="category-title-fourth">Seasons and Ranking</p>

          <div class="text-holder">
            <p>
              What you need to start the season is the
              <span class="my-text-color">Premium membership.</span>
            </p>
            <p>
              Sooner you get the premium membership, the sooner you start
              getting points to the ranking system for
              <span class="my-text-color">sharing IOI prize pool</span> at the
              end of the season.
            </p>
            <p>
              The season takes 1 month (start is always on the first day of the
              month) and resets on the last day of the month.
            </p>
            <p>
              The ranking system is simple. You receive points (check the point
              chart below) for every race you
              <span class="my-text-color">win as the premium member.</span> At
              the end of the season (month), the first 10 Leaderboard racers are
              splitting the
              <span class="my-text-color">prize pool of 1 000 IOI</span> based
              on their results by the end of the season.
            </p>
            <p>
              The premium members are playing for 3 000 IOI every month — 2 000
              IOI prize pool with their teams (TOP 3 teams) and 1 000 IOI prize
              pool for the overall best racers (TOP 10 racers).
            </p>
          </div>
        </div>
      </div>

      <div class="tip-content points-chart">
        <div class="left-content">
          <p class="category-title-first">Points chart</p>
          <div class="my-table-holder">
            <div class="table-row header">
              <div class="table-item desc">
                <p>Position</p>
              </div>
              <div class="table-item">
                <p>Points</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>1st position</p>
              </div>
              <div class="table-item">
                <p>25</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>2nd position</p>
              </div>
              <div class="table-item">
                <p>18</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>3rd position</p>
              </div>
              <div class="table-item">
                <p>15</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>4th position</p>
              </div>
              <div class="table-item">
                <p>12</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>5th position</p>
              </div>
              <div class="table-item">
                <p>10</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>6th position</p>
              </div>
              <div class="table-item">
                <p>8</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>7th position</p>
              </div>
              <div class="table-item">
                <p>6</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>8th position</p>
              </div>
              <div class="table-item">
                <p>4</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>9th position</p>
              </div>
              <div class="table-item">
                <p>2</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item desc">
                <p>10th position</p>
              </div>
              <div class="table-item">
                <p>1</p>
              </div>
            </div>
          </div>
        </div>

        <div class="right-content">
          <img src="/assets/base/images/all-races/big-trophy.png" alt="" />
        </div>
      </div>
    </div>
    <div
      [ngClass]="{
        'dissapear-right-animation': contentAnimation === 1,
        'engage-right-animation': contentAnimation === 2
      }"
      *ngIf="content === 7"
      class="content-side leaderboard"
    >
      <div class="tip-content">
        <div class="left-content">
          <p class="category-title-fourth">Leaderboard</p>

          <div class="text-holder">
            <p>
              Team leaderboard — Top 3 teams with the most points in the season
              <span class="my-text-color">win prize pool of 2 000 IOI</span> at
              the end of the season
            </p>
            <p>
              Racer leaderboard — Top 10 overall racers with the most points
              <span class="my-text-color">win a prize pool of 1 000 IOI</span>
              at the end of the season
            </p>
            <p>
              Racer of the season receives a
              <span class="my-text-color">special NFT ring</span> which is an
              entry ticket to the special end of the YEAR tournament for
              <span class="my-text-color">Ultra Rare Custom NFT car</span>
            </p>
            <button
              class="race-btn my-cta-btn-back"
              [routerLink]="['/teams/join-teams']"
            >
              Join team
            </button>
          </div>
        </div>

        <div class="right-content">
          <img
            src="assets/base/images/all-races/how-to-team-badges.png"
            alt=""
          />
        </div>
      </div>

      <div class="table-holder">
        <p class="category-title-first my-text-color">Team bonus 2 000 IOI</p>

        <div class="my-table-holder team-bonus">
          <div class="table-row header">
            <div class="table-item desc">
              <p>Position</p>
            </div>
            <div class="table-item">
              <p>Nr.1 Team - 1 000 IOI</p>
            </div>
            <div class="table-item">
              <p>Nr.2 Team - 700 IOI</p>
            </div>
            <div class="table-item">
              <p>Nr.3 Team - 300 IOI</p>
            </div>
          </div>

          <div class="table-row">
            <div class="table-item desc">
              <p>1st position</p>
            </div>
            <div class="table-item">
              <p>300</p>
            </div>
            <div class="table-item">
              <p>200</p>
            </div>
            <div class="table-item">
              <p>100</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item desc">
              <p>2nd position</p>
            </div>
            <div class="table-item">
              <p>200</p>
            </div>
            <div class="table-item">
              <p>120</p>
            </div>
            <div class="table-item">
              <p>60</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item desc">
              <p>3rd position</p>
            </div>
            <div class="table-item">
              <p>100</p>
            </div>
            <div class="table-item">
              <p>85</p>
            </div>
            <div class="table-item">
              <p>50</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item desc">
              <p>4th position</p>
            </div>
            <div class="table-item">
              <p>90</p>
            </div>
            <div class="table-item">
              <p>70</p>
            </div>
            <div class="table-item">
              <p>30</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item desc">
              <p>5th position</p>
            </div>
            <div class="table-item">
              <p>80</p>
            </div>
            <div class="table-item">
              <p>60</p>
            </div>
            <div class="table-item">
              <p>20</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item desc">
              <p>6th position</p>
            </div>
            <div class="table-item">
              <p>70</p>
            </div>
            <div class="table-item">
              <p>50</p>
            </div>
            <div class="table-item">
              <p>10</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item desc">
              <p>7th position</p>
            </div>
            <div class="table-item">
              <p>60</p>
            </div>
            <div class="table-item">
              <p>40</p>
            </div>
            <div class="table-item">
              <p>10</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item desc">
              <p>8th position</p>
            </div>
            <div class="table-item">
              <p>50</p>
            </div>
            <div class="table-item">
              <p>30</p>
            </div>
            <div class="table-item">
              <p>10</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item desc">
              <p>9th position</p>
            </div>
            <div class="table-item">
              <p>30</p>
            </div>
            <div class="table-item">
              <p>25</p>
            </div>
            <div class="table-item">
              <p>10</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item desc">
              <p>10th position</p>
            </div>
            <div class="table-item">
              <p>20</p>
            </div>
            <div class="table-item">
              <p>20</p>
            </div>
            <div class="table-item">
              <p>10</p>
            </div>
          </div>
        </div>

        <p class="category-title-first my-text-color imaged-text">
          Racer leaderboard with 1 000 IOI Win
          <img
            src="/assets/base/images/home-page/ring.png"
            alt=""
            class="ring-img"
          />
        </p>

        <div class="my-table-holder racers">
          <div class="table-row header">
            <div class="table-item desc">
              <p>Racer position by points</p>
            </div>
            <div class="table-item">
              <p>1st</p>
            </div>
            <div class="table-item">
              <p>2nd</p>
            </div>
            <div class="table-item">
              <p>3rd</p>
            </div>
            <div class="table-item">
              <p>4th</p>
            </div>
            <div class="table-item">
              <p>5th</p>
            </div>
            <div class="table-item">
              <p>6th</p>
            </div>
            <div class="table-item">
              <p>7th</p>
            </div>
            <div class="table-item">
              <p>8th</p>
            </div>
            <div class="table-item">
              <p>9th</p>
            </div>
            <div class="table-item">
              <p>10th</p>
            </div>
          </div>

          <div class="table-row">
            <div class="table-item desc">
              <p>WIn in IOI</p>
            </div>
            <div class="table-item">
              <p>300</p>
            </div>
            <div class="table-item">
              <p>200</p>
            </div>
            <div class="table-item">
              <p>130</p>
            </div>
            <div class="table-item">
              <p>100</p>
            </div>
            <div class="table-item">
              <p>70</p>
            </div>
            <div class="table-item">
              <p>60</p>
            </div>
            <div class="table-item">
              <p>50</p>
            </div>
            <div class="table-item">
              <p>40</p>
            </div>
            <div class="table-item">
              <p>30</p>
            </div>
            <div class="table-item">
              <p>20</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-rules-info-modal #rulesModal></app-rules-info-modal>

<div class="intro-modal" *ngIf="selRaceType">
  <app-fast-fuel (closeModal)="closeModal($event)" [raceId]="selRaceType"></app-fast-fuel>
</div>

<div
    class="tutorial-modal"
    [ngClass]="'step' + tutorialStep"
    *ngIf="introModal === true"
  >

    <div class="box-content only-cta content0">
      <img
        src="/assets/base/images/modal/tutorial-racer.png"
        alt=""
        class="racer-boi big"
      />
      <div class="text-holder centered">
        <p class="heading">{{ "tutorial.skip_tutorial" | translate }}</p>
        <p class="text">{{ "tutorial.skip_desc" | translate }}</p>
      </div>
      <button class="my-cta-btn-back hoverable" (click)="skipModal()">
        {{ "tutorial.skip_tutorial" | translate }}
      </button>
    </div>

    <div class="box-content content1">
      <img
        src="/assets/base/images/modal/tutorial-racer.png"
        alt=""
        class="racer-boi"
      />
      <div class="text-holder">
        <p class="heading">NFT tournament</p>
        <p class="text">This tournament is only for holders of NFT car.</p>
        <div class="pointing-line to-right"></div>
      </div>
      <div class="btns-holder">
        <button class="my-cta-btn-back hoverable" (click)="nextTutorialStep()">
          {{ "race.continue" | translate }}
        </button>
      </div>
    </div>

    <div class="box-content content2">
      <img
        src="/assets/base/images/modal/tutorial-racer.png"
        alt=""
        class="racer-boi"
      />
      <div class="text-holder">
        <p class="heading">Competition races</p>
        <p class="text">Here you can see other races, each of them is free and starts 10 minutes apart. It's benefitial to enter these races with NFT car.</p>
        <div class="pointing-line to-right"></div>
      </div>
      <div class="btns-holder">
        <button class="my-cta-btn-back hoverable" (click)="nextTutorialStep()">
          {{ "race.continue" | translate }}
        </button>
        <p class="skip-text my-cta-btn-back" (click)="tutorialStep = 0">
          {{ "tutorial.skip_the_tutorial" | translate }} &gt;
        </p>
      </div>
    </div>

    <div class="box-content content3">
      <img
        src="/assets/base/images/modal/tutorial-racer.png"
        alt=""
        class="racer-boi"
      />
      <div class="text-holder">
        <p class="heading">Free fast race</p>
        <p class="text">Hit join button to enter regular free race.</p>
        <div class="pointing-line to-right"></div>
      </div>
      <div class="btns-holder">
        <button class="my-cta-btn-back hoverable" [routerLink]="['/car/fuel-car/' + freeRace?.race_hash]">
          {{ "race.continue" | translate }}
        </button>
        <p class="skip-text my-cta-btn-back" (click)="tutorialStep = 0">
          {{ "tutorial.skip_the_tutorial" | translate }} &gt;
        </p>
      </div>
    </div>

    <div
      class="skip-text absolute my-cta-btn-back"
      *ngIf="tutorialStep === 1"
      (click)="tutorialStep = 0"
    >
      <p>{{ "tutorial.skip_the_tutorial" | translate }} &gt;</p>
    </div>

  </div>
