.modal-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000001;
  .modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.8);
  }
  .info-modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    background: rgba(17, 17, 17, 1);
    max-width: 600px;
    padding: 40px 30px;
    .modal-close {
      position: absolute;
      padding: 5px;
      top: 15px;
      right: 15px;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        transform: rotate(90deg);
      }
    }
    h2 {
      color: #24e3fe;
      font-size: 30px;
      margin: 10px 0 25px;
      text-align: center;
    }
    p {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 900px) {
  .modal-holder {
    .info-modal-body {
      padding: 25px 15px;
      h2 {
        font-size: 22px;
        margin: 10px 0 20px;
      }
      ul {
        li {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) and (orientation: portrait) {
  .modal-holder {
    height: 100%;
    .info-modal-body {
      max-height: 100vh;
      overflow: auto;
      min-height: unset;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 640px) {
  .modal-holder {
    .info-modal-body {
      h2 {
        font-size: 22px;
        margin: 10px 0 19px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
