.main-content{
    .sub-content{
        .table-holder {
            width: 100%;
            .table-header {
              display: flex;
              justify-content: center;
              align-items: center;
              .my-col {
                p {
                  font-size: 15px;
                  margin: 0 0 7px 0;
                  color: white;
                  text-align: left;
                  padding-left: 30px;
                  font-weight: 300;
                }
                &.position{
                    width: 11%;
                    p{
                        padding-left: 6px;
                    }
                }
                &.player {
                    width: 28%;
                }
                &.points{
                    width: 20%;
                }
                &.roi{
                    width: 15%;
                    p{
                        padding-left: 18px;
                    }
                }
                &.win {
                    width: 26%;
                }
              }
            }
            .table-item {
              width: 100%;
              background: #111111;
              border-radius: 8px;
              overflow: hidden;
              height: 40px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 1px;
              position: relative;
              &.my-item {
                background: #ffffff;
                .my-col {
                  p,
                  span {
                    color: #111111;
                  }
                  &.position {
                    background: linear-gradient(238.54deg,#fe173f -1.25%, #950552 100.91%);
                    p {
                      color: white;
                    }
                  }
                }
                &.not-in-tour{
                    &::after{
                        background: linear-gradient(238.54deg,#fe173f -1.25%, #950552 100.91%);
                    }
                }
              }
              .my-col {
                height: 100%;
                position: relative;
                padding-top: 10px;
                border-right: 1px solid #343434;
                padding-left: 30px;
                p,
                span {
                  font-size: 14px;
                  font-weight: 500;
                  margin: 0;
                }
                &.position {
                  background: linear-gradient(236.12deg, #24ffff 6%, #25ccfe 102.68%);
                  width: 11%;
                  padding: 0;
                  border: none;
                  p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }
                }
                &.username {
                  width: 28%;
                }
                &.points{
                    width: 20%;
                }
                &.roi{
                    padding-left: 18px;
                    width: 15%;
                }
                &.win {
                  border: none;
                  width: 26%;
                }
              }
              &.not-in-tour{
                &::after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 100%;
                    height: 4px;
                    background: linear-gradient(236.12deg, #24ffff 6%, #25ccfe 102.68%);
                    z-index: 5;
                }
              }
            }
            .bottom-border{
                width: 100%;
                height: 5px;
                border-radius: 5px;
                margin: 7px 0;
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .main-content{
        .sub-content{
            .table-holder{
                .table-header{
                    .my-col{
                        p{
                            font-size: 10px;
                            padding-left: 10px;
                        }
                        &.position{
                            p{
                                padding-left: 3px;
                            }
                        }
                        &.points{
                            width: 15%;
                        }
                        &.roi{
                            p{
                                padding-left: 5px;
                            }
                            width: 20%;
                        }
                    }
                }
                .table-item{
                    height: 25px;
                    border-radius: 6px;
                    .my-col{
                        padding-left: 10px;
                        padding-top: 7px;
                        p{
                            font-size: 10px;
                        }
                        &.points{
                            width: 15%;
                        }
                        &.roi{
                            padding-left: 5px;
                            width: 20%;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 400px){
    .main-content{
        .sub-content{
            .table-holder{
                .table-header{
                    .my-col{
                        p{
                            font-size: 10px;
                            padding-left: 8px;
                            span{
                                display: none;
                            }
                        }
                        &.position{
                            p{
                                padding-left: 2px;
                            }
                        }
                    }
                }
                .table-item{
                    height: 27px;
                    .my-col{
                        padding-left: 8px;
                        padding-top: 5px;
                        p{
                            font-size: 11px;
                        }
                        &.roi{
                            padding-left: 3px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) and (orientation: landscape){
    .main-content{
        .sub-content{
            .table-holder{
                .table-header{
                    .my-col{
                        p{
                            font-size: 8px;
                            padding-left: 10px;
                        }
                        &.position{
                            p{
                                padding-left: 3px;
                            }
                        }
                        &.points{
                            width: 15%;
                        }
                        &.roi{
                            p{
                                padding-left: 5px;
                            }
                            width: 20%;
                        }
                    }
                }
                .table-item{
                    height: 20px;
                    border-radius: 3px;
                    .my-col{
                        padding-left: 10px;
                        padding-top: 3px;
                        p{
                            font-size: 8px;
                        }
                        &.points{
                            width: 15%;
                        }
                        &.roi{
                            padding-left: 5px;
                            width: 20%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .main-content{
        .sub-content{
            .table-holder{
                .table-header{
                    .my-col{
                        p{
                            font-size: 8px;
                            padding-left: 10px;
                        }
                        &.position{
                            p{
                                padding-left: 3px;
                            }
                        }
                        &.points{
                            width: 15%;
                        }
                        &.roi{
                            p{
                                padding-left: 5px;
                            }
                            width: 20%;
                        }
                    }
                }
                .table-item{
                    height: 20px;
                    border-radius: 3px;
                    .my-col{
                        padding-left: 10px;
                        padding-top: 3px;
                        p{
                            font-size: 8px;
                        }
                        &.points{
                            width: 15%;
                        }
                        &.roi{
                            padding-left: 5px;
                            width: 20%;
                        }
                    }
                }
            }
        }
    }
}