<div class="owner-holder">
  <div class="config-holder">
    <p class="heading">Choose a team badge</p>
    <div class="logos-holder">
      <ng-container *ngFor="let item of myTeams | slice:startTeamIndex:(startTeamIndex + 4)">
        <div class="logo-item" (click)="selectColor(item.id)" [ngClass]="teamType === item.id ? 'active' : null">
          <img [src]="'assets/base/images/custom-teams/custom-team' + (item.id + 1) + '.png'" alt="">
        </div>
      </ng-container>
      <div class="arrow right" (click)="nextTeam()">
        <p>&gt;</p>
      </div>
      <div class="arrow left" (click)="prevTeam()">
        <p>&lt;</p>
      </div>
    </div>
    <p class="heading">Choose a team name</p>
    <div class="name-holder">
      <input type="text" maxlength="6" class="name-input" placeholder="Team name" [(ngModel)]="teamName"
    [ngModelOptions]="{ standalone: true }">
      <button class="apply-btn" style="display: none;">Apply</button>
    </div>
  </div>
  <div class="summary-holder">
    <p class="heading">Summary</p>
    <div class="summary-box">
      <div class="inner">
        <div class="img-holder">
          <img [src]="'assets/base/images/custom-teams/custom-team' + (teamType + 1) + '.png'" alt="">
          <div class="team-name">
            <p class="name">{{teamName ? teamName : '-'}}</p>
            <p class="team">TEAM</p>
          </div>
        </div>
        <div class="text-holder">
          <h2>Team {{teamName ? teamName : '-'}}</h2>
  
          <div class="invite-item">
            <p class="desc">Invite a team manager</p>
            <button class="invite-btn" (click)="notifyTeam('managers')" *ngIf="managersInvited === false">Invite</button>
            <button class="invite-btn"  *ngIf="managersInvited === true">Invited!</button>
          </div>
  
          <div class="invite-item">
            <p class="desc">Invite a racer</p>
            <button class="invite-btn" (click)="notifyTeam('racers')" *ngIf="racerInvited === false">Invite</button>
            <button class="invite-btn" *ngIf="racerInvited === true">Invited!</button>
          </div>
  
          <div class="total-box">
            <p class="desc">Subtotal:</p>
            <p class="value">1 000 IOI</p>
          </div>
          <!-- <button class="confirm-btn">Confirm</button> -->
          <button class="confirm-btn" (click)="createTeam()" *ngIf="teamName && loading === false && teamCreated === false">CREATE TEAM</button>
          <button class="confirm-btn" disabled *ngIf="!teamName && loading === false && teamCreated === false">CHOOSE NAME</button>
          <button class="confirm-btn" disabled *ngIf="teamCreated === true">Team created</button>
        </div>
      </div>
    </div>
  </div>
</div>