<div class="owner">
  
  <h2>{{"owners_managers.owner-heading" | translate}}</h2>

  <div class="owner-box">
    <div class="create-team">
      <div class="arrows">
        <div class="arrow-left unactive-arrow">
          &lt;
        </div>
        <div class="arrow-right active-arrow">
          &gt;
        </div>
      </div>
      <h5>{{"owners_managers.choose_team_logo" | translate}}</h5>
      <div class="logos">
        <div class="logo logo-active"><img src="/assets/base/images/owners-managers/team-logo.png" alt=""></div>
        <div class="logo"><img src="/assets/base/images/owners-managers/team-logo.png" alt=""></div>
        <div class="logo"><img src="/assets/base/images/owners-managers/team-logo.png" alt=""></div>
        <div class="logo"><img src="/assets/base/images/owners-managers/team-logo.png" alt=""></div>
        <div class="logo"><img src="/assets/base/images/owners-managers/team-logo.png" alt=""></div>
        <div class="logo"><img src="/assets/base/images/owners-managers/team-logo.png" alt=""></div>
        <div class="logo"><img src="/assets/base/images/owners-managers/team-logo.png" alt=""></div>
        <div class="logo"><img src="/assets/base/images/owners-managers/team-logo.png" alt=""></div>
        <div class="logo"><img src="/assets/base/images/owners-managers/team-logo.png" alt=""></div>
        <div class="logo"><img src="/assets/base/images/owners-managers/team-logo.png" alt=""></div>
      </div>
      <h5 class="team-name">{{"owners_managers.choose_team_name" | translate}}</h5>
      <div class="input-name">
        <input type="text" placeholder='{{"owners_managers.team_name" | translate}}'>
        <p><span>✓</span> {{"teams.my_team.members" | translate}}</p>
        <!--<p class="taken"><span>✗</span> {{"owners_managers.choose_team_name" | translate}}</p>-->
      </div>
    </div>
    <div class="manage-team">
      <span>
        <img src="/assets/base/images/owners-managers/team-logo.png" alt="" class="team-image">
        <h2>Team GodzilaRaccer</h2>
        <div class="invite-box">
          <p>{{"owners_managers.invite_team_manager" | translate}}</p>
          <button>{{"owners_managers.invite" | translate}}</button>
        </div>

        <div class="invite-box">
          <p>{{"owners_managers.invite_team_racer" | translate}}: </p>
          <button>{{"owners_managers.invite" | translate}}</button>
        </div>

        <div class="confirm-create">
          <p>{{"owners_managers.subtotal" | translate}}</p>
          <p>1000 <img src="/assets/base/images/owners-managers/ioi-logo.png" alt=""></p>
          <button>{{"shared.soon" | translate}}</button>
        </div>
      </span>
    </div>
  </div>
</div>