<div class="owner-holder">
  <div class="config-holder">
    <p class="heading">Choose a team logo</p>
    <div class="logos-holder">
      <div class="logo-item">
        <img src="assets/base/images/avatars/avatar1-small.png" alt="">
      </div>
      <div class="logo-item">
        <img src="assets/base/images/avatars/avatar1-small.png" alt="">
      </div>
      <div class="logo-item">
        <img src="assets/base/images/avatars/avatar1-small.png" alt="">
      </div>
      <div class="logo-item">
        <img src="assets/base/images/avatars/avatar1-small.png" alt="">
      </div>
    </div>
    <p class="heading">Choose a team name</p>
    <div class="name-holder">
      <input type="text" class="name-input" placeholder="Team name">
      <button class="apply-btn">Apply</button>
    </div>
  </div>
  <div class="summary-holder">
    <p class="heading">Summary</p>
    <div class="summary-box">
      <div class="inner">
        <div class="img-holder">
          <img src="/assets/base/images/home-page/avatar-white-small.png" alt="">
        </div>
        <div class="text-holder">
          <h2>Team Godzillaracer</h2>
  
          <div class="invite-item">
            <p class="desc">Invite a team manager</p>
            <button class="invite-btn">Invite</button>
          </div>
  
          <div class="invite-item">
            <p class="desc">Invite a racer</p>
            <button class="invite-btn">Invite</button>
          </div>
  
          <div class="total-box">
            <p class="desc">Subtotal:</p>
            <p class="value">1 000 IOI</p>
          </div>
          <button class="confirm-btn">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>