<div class="edit-car-modal open" *ngIf="createFavCar === true">
  <div class="modal-holder" *ngIf="createFavCar === true && favCarId">
    <app-create-fast [myCar]="favCarId"></app-create-fast>
  </div>
</div>

<div class="edit-car-modal" [ngClass]="{ open: showEditModal === true }">
  <div class="modal-back" (click)="favEditCarId = null; showEditModal = false">
    &nbsp;
  </div>
  <div class="modal-holder" *ngIf="showEditModal === true && favEditCarId">
    <app-edit-fast [myCar]="favEditCarId" [magic]="editCar.bet"></app-edit-fast>
  </div>
</div>

<div class="main-holder">

  <div  (click)="back()" class="content-title">
    <img
      (click)="back()"
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
      (click)="back()"
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>BACK</p>
  </div>

  
  <!-- <div class="page-info">
    <div class="back" [routerLink]="['/race/all-races']">
      <p>&lt;</p>
      <p>{{ "shared.back" | translate }}</p>
    </div>
    <div class="text-info">
      <h1>{{ "favourite_cars.page_heading" | translate }}</h1>
      <p>{{ "favourite_cars.page_info" | translate }}</p>
    </div>
    <div class="bonus-info">
      <h5>
        {{ teamreward | number: "1.2-2":"fr" }}
        <img src="assets/base/images/tokens/ioi-logo.png" alt="" />
      </h5>
      <p>{{ "teams.shared.current_team_bonus" | translate }}</p>
    </div>
  </div> -->

  <div class="content-holder">
    <div class="switchers-holder">
      <p
        class="my-cta-btn-back"
        (click)="changeEdition(1)"
        [ngClass]="{ inactive: editionIndex !== 1 }"
      >
        Common
      </p>
      <p
        class="my-cta-btn-back"
        (click)="changeEdition(2)"
        [ngClass]="{ inactive: editionIndex !== 2 }"
      >
        Super
      </p>
      <p
        class="my-cta-btn-back"
        (click)="changeEdition(3)"
        [ngClass]="{ inactive: editionIndex !== 3 }"
      >
        Epic
      </p>
      <p
        class="my-cta-btn-back"
        (click)="changeEdition(4)"
        [ngClass]="{ inactive: editionIndex !== 4 }"
      >
        Legendary
      </p>
    </div>

    <div class="cars-holder">
      <div class="edition-holder">
        <div class="regular-cars">
          <ng-container *ngFor="let mc of myCars; let x = index">
            <div
              class="car-item set"
              *ngIf="
                (mc.favourite !== undefined &&
                  mc.car_id > editionIndex * 6 - 6 &&
                  mc.car_id <= editionIndex * 6) ||
                (mc.favourite !== undefined && mc.car_id === 24 + editionIndex)
              "
            >
              <div class="fast-race">
                <img
                  class="red-light"
                  src="/assets/base/images/all-races/lighting.png"
                  alt=""
                />
                <img
                  class="blue-light"
                  src="/assets/base/images/all-races/lighting-blue.png"
                  alt=""
                />
              </div>
              <div class="car-info">
                <div class="name">
                  <ng-container *ngIf="mc.car_id <= 24">
                    <p class="value" *ngIf="editionIndex === 1">
                      {{ carsNames[mc.car_id - 1]["name"] }}
                    </p>
                    <p class="value" *ngIf="editionIndex === 2">
                      {{ carsNames[mc.car_id - 1]["name"] }}
                    </p>
                    <p class="value" *ngIf="editionIndex === 3">
                      {{ carsNames[mc.car_id - 1]["name"] }}
                    </p>
                    <p class="value" *ngIf="editionIndex === 4">
                      {{ carsNames[mc.car_id - 1]["name"] }}
                    </p>
                  </ng-container>

                  <p class="value" *ngIf="mc.car_id === 25">
                    {{ carsNames[24]["name"] }}
                  </p>
                  <p class="value" *ngIf="mc.car_id === 26">
                    {{ carsNames[25]["name"] }}
                  </p>
                  <p class="value" *ngIf="mc.car_id === 27">
                    {{ carsNames[26]["name"] }}
                  </p>
                  <p class="value" *ngIf="mc.car_id === 28">
                    {{ carsNames[27]["name"] }}
                  </p>
                </div>
                <div class="fuel-wrapper" *ngIf="mc.favourite === true">
                  <div class="fuel-inner">
                    <div
                      class="fuel"
                      *ngFor="let coin of mc.bet"
                      [hidden]="coin.bet === 0"
                    >
                      <p>
                        <img
                          [src]="
                            '/assets/base/images/curr-logos/' +
                            coin.symbol +
                            '-logo.png'
                          "
                          alt=""
                        />
                        <small>{{ coin.bet }}%</small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <img
                class="car-img"
                [src]="'/assets/base/images/nft-cars/car' + mc.car_id + '.png'"
                alt=""
              />
              <div class="bottom-info">
                <div class="play-now">
                  <div class="play-inner">
                    <button
                      class="my-cta-btn-back delete-btn"
                      (click)="deleteCar(mc.custom_index)"
                    >
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngFor="let mc of myCars; let x = index">
            <div
              class="car-item"
              *ngIf="
                (mc.favourite !== true &&
                  mc.car_id > editionIndex * 6 - 6 &&
                  mc.car_id <= editionIndex * 6) ||
                (mc.favourite !== true && mc.car_id === 24 + editionIndex)
              "
              data-toggle="modal"
              data-target="#cars-modal"
            >
              <div class="fast-race">
                <img
                  class="red-light"
                  src="/assets/base/images/all-races/lighting.png"
                  alt=""
                />
                <img
                  class="blue-light"
                  src="/assets/base/images/all-races/lighting-blue.png"
                  alt=""
                />
              </div>
              <div class="car-info">
                <div class="name">
                  <ng-container *ngIf="mc.car_id <= 24">
                    <p class="value" *ngIf="editionIndex === 1">
                      {{ carsNames[mc.car_id - 1]["name"] }}
                    </p>
                    <p class="value" *ngIf="editionIndex === 2">
                      {{ carsNames[mc.car_id - 1]["name"] }}
                    </p>
                    <p class="value" *ngIf="editionIndex === 3">
                      {{ carsNames[mc.car_id - 1]["name"] }}
                    </p>
                    <p class="value" *ngIf="editionIndex === 4">
                      {{ carsNames[mc.car_id - 1]["name"] }}
                    </p>
                  </ng-container>

                  <p class="value" *ngIf="mc.car_id === 25">
                    {{ carsNames[24]["name"] }}
                  </p>
                  <p class="value" *ngIf="mc.car_id === 26">
                    {{ carsNames[25]["name"] }}
                  </p>
                  <p class="value" *ngIf="mc.car_id === 27">
                    {{ carsNames[26]["name"] }}
                  </p>
                  <p class="value" *ngIf="mc.car_id === 28">
                    {{ carsNames[27]["name"] }}
                  </p>
                </div>
              </div>
              <img
                class="car-img"
                [src]="'/assets/base/images/nft-cars/car' + mc.car_id + '.png'"
                alt=""
              />
              <div class="bottom-info">
                <div class="buy-now my-cta-btn-back">
                  <div
                    class="buy-inner set-up"
                    (click)="
                      showCreateModal = !showCreateModal;
                      favCarId = mc.pk;
                      createFavCar = true
                    "
                  >
                    <p>Set up Fast fuel</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="no-cars-box">
          <p>You dont have any cars in this edition.</p>
          <button
            class="my-cta-btn-back hoverable"
            [routerLink]="['/car/nft-market']"
          >
            Buy NFT cars
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
