



<div class="modal fade" id="send-gift-modal" tabindex="-1" role="dialog" aria-labelledby="turn-lux-modal"
aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered my-modal-dialog" role="document">
    <div class="modal-content my-modal-content--tokens" [ngClass]="{'big': stepIndex === 4, 'small': stepIndex === 5}">

      <div class="modal-close" data-dismiss="modal" aria-label="Close"><img src="/assets/base/images/icons/close.png" alt=""></div>

      <div class="step-indicator">
        <div class="active"></div>
        <div [ngClass]="{'active': stepIndex > 1}"></div>
      </div>

      <div class="deposit-modal-body step-body step1" [ngClass]="stepIndex === 1 ? 'visible' : 'hidden'">

        <h1 class="top-msg">{{'modals.gift_modal.what_gift' | translate}}</h1>
        <div class="payment-holders">
          <div class="token car" [ngClass]="{'active': giftSelected === 'car'}" (click)="giftSelected = 'car'">
            <img src="/assets/base/images/cars/car0.png" alt="">
          </div>
          <div class="token trx" [ngClass]="{'active': giftSelected === 'trx'}" (click)="giftSelected = 'trx'">
            <img src="/assets/base/images/trx2.png" alt="">
          </div>
          <div class="token ioi" [ngClass]="{'active': giftSelected === 'ioi'}" (click)="giftSelected = 'ioi'">
            <img src="/assets/base/images/ioi-logo-big.png" alt="">
          </div>
        </div>

        <button class="next-btn cta-button active" (click)="secondStep()" [ngClass]="{'visible': giftSelected.length > 1}"
        [disabled]="giftSelected.length < 1">{{'shared.next' | translate}}</button>

      </div>

      <div class="deposit-modal-body step-body step2" [ngClass]="stepIndex === 2 ? 'visible' : 'hidden'">

        <div class="payment-holders">
          <div class="token ioi">
            <img src="/assets/base/images/ioi-logo-big.png" alt="">
          </div>
        </div>

        <div class="amount">
          <p class="desc">{{'modals.amount' | translate}}</p>
          <input class="transfer-text-input" type="number" [(ngModel)]="amount" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="nick">
          <p class="desc">{{'modals.gift_modal.recipient' | translate}}</p>
          <input class="transfer-text-input" type="text" [value]="recipient" readonly>
        </div>

        <button class="next-btn cta-button active" (click)="sendGift()" [ngClass]="{'visible': amount > 0}"
        [disabled]="amount < 1">{{'shared.send_btn' | translate}}</button>

      </div>

      <div class="deposit-modal-body step-body step3" [ngClass]="stepIndex === 3 ? 'visible' : 'hidden'">

        <div class="payment-holders">
          <div class="token trx" [ngClass]="{'active': giftSelected === 'trx'}" (click)="giftSelected = 'trx'">
            <img src="/assets/base/images/trx2.png" alt="">
          </div>
        </div>

        <div class="amount">
          <p class="desc">{{'modals.amount' | translate}}</p>
          <input class="transfer-text-input" type="number" [(ngModel)]="amount" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="nick">
          <p class="desc">{{'modals.gift_modal.recipient' | translate}}</p>
          <input class="transfer-text-input" type="text" [value]="recipient" readonly>
        </div>

        <button class="next-btn cta-button active" (click)="sendGift()" [ngClass]="{'visible': amount > 0}"
        [disabled]="amount < 1">{{'shared.send_btn' | translate}}</button>

      </div>

      <div class="deposit-modal-body step-body step4" [ngClass]="stepIndex === 4 ? 'visible' : 'hidden'">

        <div class="content-holder">
          <div class="arrow-left" (click)="prevEdition()"><img src="/assets/base/images/garage/edition-arrow-left.png" alt=""></div>
          <div class="arrow-right" (click)="nextEdition()"><img src="/assets/base/images/garage/edition-arrow-right.png" alt=""></div>
          <div class="cars-wrapper">
            <div class="sliding-item" [ngStyle]="{'left': '-' + editionStylePx + 'px'}">
              <div class="car-item" *ngFor="let car of myCars;let i = index" (click)="selectCar(i)" [ngClass]="{'selected-car': i === selectedCarIndex}">
                <img [src]="'/assets/base/images/cars/car' + car.car_id + '.png'" alt="">
                <div class="info-button"><img src="/assets/base/images/infomation.png" alt=""></div>
              </div>
            </div>
          </div>
        </div>
        <p class="bottom-desc">{{'modals.gift_modal.choose_car' | translate}}</p>

        <button class="next-btn cta-button active" (click)="sendGift()" [ngClass]="{'visible': selectedCarIndex !== undefined}"
          [disabled]="selectedCarIndex === undefined">{{'shared.send_btn' | translate}}</button>

      </div>

      <div class="deposit-modal-body step-body step5" [ngClass]="stepIndex === 5 ? 'visible' : 'hidden'">

        <h1 class="top-msg">{{'modals.gift_modal.succ_send' | translate}}</h1>

        <button class="next-btn cta-button active visible" data-dismiss="modal" (click)="reset()">{{'modals.gift_modal.close' | translate}}</button>

      </div>

    </div>
  </div>
</div>