
:host{
    width: 100%;
}
.edit-adress-wrap {
    margin: 10px auto;
  }

  .my-modal-dialog{
    max-width: 1026px;
    .my-modal-content--tokens{
      border: 2px solid #fd00f5;
      background: url("/assets/base/images/modal/deposit-modal-back.png");
      background-size: 110% auto;
      background-position: bottom;
      margin-left: 60px;
      &.big{
          transition: .2s;
          height: 630px;
      }
      &.small{
        transition: .2s;
        height: 400px;
      }
    }
    &.modal-dialog-centered{
      @media screen and (max-width: 1024px){
        align-items: flex-start;
      }
    }
  }

  .my-modal-content--tokens {
    height: 520px;
  }
  .my-modal-content--tokens .modal-header {
    border-bottom: none;
    padding: 20px 1rem;
    text-align: center;
    width: 100%;
  }

  
  .transfer-text-input {
    width: 100%;
    padding: 6px 15px 6px 15px;
    background-color: black;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
  }
  .transfer-text-input:focus {
    outline: none;
  }
  
  .my-modal-content--tokens {

    .deposit-warning {
      width: 100%;
      margin-top: 20px;
      h1,
      h2 {
        color: white;
        text-align: center;
        font-size: 17px;
      }
      h2 {
        color: #fd00f5;
      }
    }
    .modal-header {
      h2 {
        color: #fd00f5;
      }
    }
  }
  .modal-body {
    .crypto-adress {
      text-transform: none !important;
    }
    .com-soon {
      font-size: 32px;
      color: white;
    }
  }



  .modal-dialog{
    .modal-content{
      position: relative;
      .modal-close{
        position: absolute;
        top: 5px;
        right: 10px;
        transition: .2s;
        cursor: pointer;
        padding: 10px;
        &:hover{
          transform: scale(1.05);
        }
      }
      &.my-modal-content--tokens{
        border: 2px solid #fd00f5;
        background: url("/assets/base/images/modal/deposit-modal-back.png");
        background-size: 110% auto;
        background-position: bottom;
        margin-left: 60px;
      }
      .step-indicator{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        div{
          width: 50px;
          height: 6px;
          border-radius: 3px;
          opacity: 0.4;
          margin: 0 15px;
          box-shadow: 0 0 6px 1px rgba(129, 226, 252, 0.2), 0 0 13px 1px rgba(255, 255, 255, 0.4), inset 0 0 3px 0px rgba(0, 0, 0, 0.6);
          background-color: #b6ecfa;
          &.active{
            opacity: 1;
          }
        }
      }
      .deposit-modal-body{
        &.step-body{
          position: absolute;
          top: 36px;
          left: 0;
          width: 100%;
          transition: .3s;
          &.visible{
            opacity: 1;
            z-index: 1;
          }
          &.hidden{
            opacity: 0;
            z-index: -1;
          }
          .next-btn{
            position: absolute;
            right: 20px;
            bottom: -110px;
            opacity: 0;
            transition: .3s;
            &.visible{
              opacity: 1;
            }
          }
          .back-btn{
            position: absolute;
            bottom: -40px;
            left: 20px;
          }
        }
        margin-top: 40px;
        &.step1{
            .top-msg{
                color: white;
                font-size: 30px;
                margin-bottom: 50px;
                text-align: center;
            }
            .payment-holders{
                display: flex;
                justify-content: center;
                align-items: center;
                .token{
                width: 220px;
                height: 185px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.5);
                position: relative;
                margin: 0 10px;
                transition: 0.15s;
                cursor: pointer;
                &.active{
                    background-color: rgba(240, 0, 255, 0.5);
                }
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &.trx{
                    img{
                        width: 94px;
                    }
                }
                &.ioi{
                    img{
                        width: 135px;
                    }
                }
                &.car{
                    img{
                        height: 150px;
                    }
                }
              }
            }
        }
        &.step2{
            .top-msg{
                color: white;
                font-size: 30px;
                margin-bottom: 50px;
                text-align: center;
            }
            .payment-holders{
                display: flex;
                justify-content: center;
                align-items: center;
                .token{
                width: 220px;
                height: 185px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.5);
                position: relative;
                margin: 0 10px;
                transition: 0.15s;
                cursor: pointer;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &.ioi{
                    img{
                        width: 135px;
                    }
                }
              }
            }
            .amount{
                max-width: 460px;
                margin: 40px auto 0;
                position: relative;
                .desc{
                  color: white;
                  position: absolute;
                  left: -43px;
                  bottom: 3px;
                  font-size: 20px;
                  margin: 0;
                  transform: translateX(-100%);
                }
                input{
                  border-radius: 10px;
                  background-color: rgba(0, 0, 0, 0.5);
                  border: none;
                  color: white;
                  text-align: center;
                }
            }
            .nick{
                max-width: 460px;
                margin: 40px auto 0;
                position: relative;
                .desc{
                  color: white;
                  position: absolute;
                  left: -43px;
                  bottom: 3px;
                  font-size: 20px;
                  margin: 0;
                  transform: translateX(-100%);
                }
                input{
                  border-radius: 10px;
                  background-color: rgba(0, 0, 0, 0.5);
                  border: none;
                  color: white;
                  text-align: center;
                }
            }
            .next-btn{
                bottom: -80px;
            }
        }
        &.step3{
            .top-msg{
                color: white;
                font-size: 30px;
                margin-bottom: 50px;
                text-align: center;
            }
            .payment-holders{
                display: flex;
                justify-content: center;
                align-items: center;
                .token{
                width: 220px;
                height: 185px;
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.5);
                position: relative;
                margin: 0 10px;
                transition: 0.15s;
                cursor: pointer;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &.trx{
                    img{
                        width: 94px;
                    }
                }
              }
            }
            .amount{
                max-width: 460px;
                margin: 40px auto 0;
                position: relative;
                .desc{
                  color: white;
                  position: absolute;
                  left: -43px;
                  bottom: 3px;
                  font-size: 20px;
                  margin: 0;
                  transform: translateX(-100%);
                }
                input{
                  border-radius: 10px;
                  background-color: rgba(0, 0, 0, 0.5);
                  border: none;
                  color: white;
                  text-align: center;
                }
            }
            .nick{
                max-width: 460px;
                margin: 40px auto 0;
                position: relative;
                .desc{
                  color: white;
                  position: absolute;
                  left: -43px;
                  bottom: 3px;
                  font-size: 20px;
                  margin: 0;
                  transform: translateX(-100%);
                }
                input{
                  border-radius: 10px;
                  background-color: rgba(0, 0, 0, 0.5);
                  border: none;
                  color: white;
                  text-align: center;
                }
            }
            .next-btn{
                bottom: -80px;
            }
        }
        &.step4{
            .content-holder{
                position: relative;
                max-width: 651px;
                margin: 0 auto;
                .cars-wrapper{
                  width: 100%;
                  height: 480px;
                  max-height: 480px;
                  max-width: 651px;
                  width: 651px;
                  overflow: hidden;
                  position: relative;
                  .sliding-item{
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: space-between;
                    max-height: 510px;
                    min-width: 651px;
                    align-items: center;
                    padding-top: 30px;
                    transition: 0.4s;
                    .car-item{
                      min-height: 170px;
                      max-height: 170px;
                      min-width: 190px;
                      margin: 0 13.5px 50px;
                      position: relative;
                      z-index: 1;
                      cursor: pointer;
                      &::before{
                        content: '';
                        position: absolute;
                        top: -19px;
                        left: 25px;
                        width: 138px;
                        height: 225px;
                        background-image: url('/assets/base/images/garage/car-back.png');
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                        z-index: -2;
                      }
                      &::after{
                        z-index: -1;
                        content: '';
                        position: absolute;
                        top: 6px;
                        left: 16px;
                        width: 153px;
                        height: 153px;
                        background: url('/assets/base/images/tankovanie/selected-back.png') left top no-repeat;
                        background-size: 100%;
                        opacity: 0;
                        transform: scale(0.9) rotate(0);
                        transition: .1s;
                        pointer-events: none;
                      }
                      &.selected-car{
                        &::after{
                          opacity: 1;
                          transform: scale(1) rotate(10deg);
                        }
                      }
                      img{
                        max-height: 170px;
                        position: relative;
                        left: 10px;
                      }
                      .info-button{
                        position: absolute;
                        bottom: -17px;
                        right: 0;
                        width: 35px;
                        img{
                          opacity: 1 !important;
                        }
                      }
                    }
                  }
                }
                .arrow-left{
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: -175px;
                  cursor: pointer;
                }
                .arrow-right{
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  right: -185px;
                  cursor: pointer;
                }
              }
              .bottom-desc{
                position: relative;
                color: #ffffff;
                font-size: 26px;
                margin: 0;
                text-transform: uppercase;
                text-align: center;
                }
            .next-btn{
                bottom: -10px;
            }
        }
        &.step5{
          .top-msg{
              color: white;
              font-size: 37px;
              text-transform: uppercase;
              margin-top: 60px;
              margin-bottom: 50px;
              text-align: center;
          }
        }
      }
    }
  }