* {
  margin: 0px;
}
.dissapear-right-animation {
  animation: dissapear-right 0.3s linear;
  -webkit-animation: dissapear-right 0.3s linear;
}
.dissapear-left-animation {
  animation: dissapear-left 0.3s linear;
  -webkit-animation: dissapear-left 0.3s linear;
}
.engage-right-animation {
  animation: engage-right 0.3s linear;
  -webkit-animation: engage-right 0.3s linear;
}
.engage-left-animation {
  animation: engage-left 0.3s linear;
  -webkit-animation: engage-left 0.3s linear;
}
@keyframes dissapear-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes dissapear-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes engage-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes engage-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
.main-holder {
  width: calc(100% - 40px);
  height: calc(var(--vh, 1vh) * 100 - 80px);
  padding: 40px 0px 40px 40px;
  display: flex;
  position: relative;
  align-items: flex-end;
  .detail-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

//FONT SETTINGS

.menu-title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-left: 20px;
  font-family: "Earth Orbiter";
}
.category-title-first {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  font-family: "Earth Orbiter";
}
.category-title-second {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  font-family: "Earth Orbiter";
}
.category-title-third {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  font-family: "Earth Orbiter";
}
.races-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.6;
}
//CONTENT SETTINGS

.races-content {
  position: relative;

  width: 100%;
  height: 95%;
  display: flex;
  justify-content: space-between;

  .content-menu {
    width: 22.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .avatar {
      background: rgba(255, 255, 255, 0.05);
      height: 25%;
      position: relative;
      width: 100%;
      .avatar-img {
        max-height: 100%;
        min-height: 100%;
        width: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        bottom: 0%;
      }
    }
    .menu-items {
      width: 100%;
      height: 70%;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      &.show-deposit {
        .item {
          height: 13%;

          &.my-nfts {
            height: 17%;
            align-items: unset;
            .item-content {
              height: 70%;
            }
          }
        }
      }
    }
    .item {
      background: transparent;
      cursor: pointer;
      position: relative;
      transition: 0.3s;
      height: 17%;
      border-top: 3px solid rgba(255, 255, 255, 0.4);
      border-left: 3px solid rgba(255, 255, 255, 0.4);
      border-bottom: 3px solid rgba(255, 255, 255, 0.4);
      border-right: 3px solid rgba(255, 255, 255, 0.4);
      width: 100%;
      display: flex;
      align-items: center;
      opacity: 0.6;
      &.deposit-funds {
        display: none;
      }
      img {
        margin-left: 10%;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
      }
      .item-content {
        display: flex;
        overflow: hidden;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
      }
      .hover-effect {
        position: absolute;
        left: -25px;
        top: 0px;
        transition: 0.3s;
        width: 0%;
        margin-left: -25px;
        height: 100%;
        background: white;
        transform: translate3d(0, 0, 0) skew(-25deg);
        -webkit-transform: translate3d(0, 0, 0) skew(-25deg);
        -moz-transform: translate3d(0, 0, 0) skew(-25deg);
        -ms-transform: translate3d(0, 0, 0) skew(-25deg);
        -o-transform: translate3d(0, 0, 0) skew(-25deg);
        transform-origin: top;
      }
      .bottom-border {
        transition: 0.3s;
        bottom: -3px;
        left: -3px;
        position: absolute;
        width: calc(100% + 6px);
        height: 0px;
      }
      .bottom-border-deposit {
        z-index: 1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        bottom: -3px;
        left: -3px;
        position: absolute;
        width: calc(100% + 6px);
        height: 0px;
        .races-desc {
          opacity: 1;
        }
      }
      &.active {
        background: url("/assets/base/images/all-races/active-back.png");
        background-position: center;
        background-size: cover;

        opacity: 1;
        border-bottom: 3px solid transparent;
        border-top: 3px solid rgba(255, 255, 255, 0.6);
        border-left: 3px solid rgba(255, 255, 255, 0.6);

        border-right: 3px solid rgba(255, 255, 255, 0.6);
        .bottom-border {
          height: 4px;
        }
        .bottom-border-deposit {
          bottom: -10px;
          left: -3px;

          width: calc(100% + 6px);
          height: 50%;
        }
      }
    }
    .item:hover {
      transform: scale(1.01);
      -webkit-transform: scale(1.01);
      -moz-transform: scale(1.01);
      -ms-transform: scale(1.01);
      -o-transform: scale(1.01);
      .hover-effect {
        width: 40%;
      }
      img {
        margin-left: 27.5%;
      }
    }
  }
  .content-side {
    width: 75%;
  }
}

@media screen and(max-width: 1700px) {
  .main-holder {
    width: calc(100% - 30px);
    padding: 30px 0px 30px 30px;
  }
}
@media screen and(max-width: 1550px) {
  .main-holder {
    width: calc(100% - 20px);
    height: calc(var(--vh, 1vh) * 100 - 65px);
    padding: 20px 0px 20px 20px;
  }

  .menu-title {
    font-size: 18px;
  }
  .category-title-first {
    font-size: 32px;
  }
  .category-title-second {
    font-size: 26px;
  }
  .category-title-third {
    font-size: 20px;
  }
  .races-desc {
    font-size: 14px;
  }
}
@media screen and(max-width: 1400px) {
  .menu-title {
    font-size: 16px;
  }
  .category-title-first {
    font-size: 26px;
  }
  .category-title-second {
    font-size: 22px;
  }
  .category-title-third {
    font-size: 18px;
  }
  .races-desc {
    font-size: 12px;
  }
}
@media screen and(max-width: 1200px) {
  .main-holder {
    width: calc(100% - 13px);

    padding: 13px 0px 13px 13px;
    padding-bottom: 13px;
    padding-top: 13px;
  }
}
@media screen and(max-width: 1024px) {
  .races-content {
    .content-menu {
      .item:hover {
        transform: none;
        .hover-effect {
          width: 0px;
        }
        img {
          margin-left: 10%;
        }
      }
    }
    .content-side {
      .hoverable-category:hover {
        transform: unset;
        -webkit-transform: unset;
        -moz-transform: unset;
        -ms-transform: unset;
        -o-transform: unset;
      }
    }
  }
  .main-holder {
    width: calc(100% - 10px);
    padding: 10px 0px 10px 10px;
  }
}

//LANDSCAPE
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .menu-title {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-first {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-second {
    font-size: 17px;
    line-height: 19px;
  }
  .category-title-third {
    font-size: 15px;
    line-height: 17px;
  }
  .races-desc {
    font-size: 8px;
    line-height: 10px;
  }
  .races-content {
    .content-menu {
      .item {
        img {
          width: 18px;
        }
        border-top: 2px solid rgba(255, 255, 255, 0.4);
        border-left: 2px solid rgba(255, 255, 255, 0.4);
        border-bottom: 2px solid rgba(255, 255, 255, 0.4);
        border-right: 2px solid rgba(255, 255, 255, 0.4);
        .bottom-border {
          bottom: -2px;
          left: -2px;

          width: calc(100% + 4px);
        }
        &.active {
          border-bottom: 2px solid transparent;
          border-top: 2px solid rgba(255, 255, 255, 0.6);
          border-left: 2px solid rgba(255, 255, 255, 0.6);

          border-right: 2px solid rgba(255, 255, 255, 0.6);
          .bottom-border {
            height: 3px;
          }
        }
      }
    }
    .content-side {
      .hoverable-category {
        padding: 15px;
      }
    }
  }
}
@media screen and(max-width: 640px) and (orientation: landscape) {
  .menu-title {
    font-size: 10px;
    line-height: 12px;
  }
  .category-title-first {
    font-size: 17px;
    line-height: 19px;
  }
  .category-title-second {
    font-size: 15px;
    line-height: 17px;
  }
  .category-title-third {
    font-size: 13px;
    line-height: 15px;
  }
  .races-desc {
    font-size: 6px;
    line-height: 8px;
  }
  .races-content {
    .content-menu {
      .item {
        img {
          width: 12.5px;
        }
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-left: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        border-right: 1px solid rgba(255, 255, 255, 0.4);
        .bottom-border {
          bottom: -1px;
          left: -1px;

          width: calc(100% + 2px);
        }
        &.active {
          border-bottom: 1px solid transparent;
          border-top: 1px solid rgba(255, 255, 255, 0.6);
          border-left: 1px solid rgba(255, 255, 255, 0.6);

          border-right: 1px solid rgba(255, 255, 255, 0.6);
          .bottom-border {
            height: 2px;
          }
        }
      }
    }
    .content-side {
      .hoverable-category {
        padding: 10px;
      }
    }
  }
}
@media screen and(max-width: 1024px) and (orientation: portrait) {
  .main-holder {
    align-items: flex-start;
    height: auto;
  }
  .races-content {
    flex-direction: column;
    .content-menu {
      width: 100%;

      height: calc(var(--vh, 1vh) * 100 - 65px);
      align-items: center;
      .menu-items {
        &.show-deposit {
          .item {
            &.my-nfts {
              height: 17%;
              align-items: unset;
              .item-content {
                height: 70%;
              }
            }
          }
        }
      }

      .item {
        height: 13%;
        opacity: 1;
        width: 100%;
        img {
          height: 60%;
          width: auto;
        }
        &.deposit-funds {
          display: block;
        }
        .bottom-border {
          display: none;
        }
        &.my-nfts {
          height: 17%;
          align-items: unset;
          .item-content {
            height: 70%;
          }
        }
        .bottom-border-deposit {
          height: 50%;
          bottom: -10px;
        }
        &.active {
          background: none;
          border-bottom: 3px solid rgba(255, 255, 255, 0.6);
        }
      }
      &.mobile-content-menu {
        display: none;
      }
    }
    .content-side {
      width: 100%;
      height: 65%;
      flex-direction: column;
      .fast-races {
        width: 100%;
        height: 30%;
      }
      .group {
        height: 67.5%;
        width: 100%;
      }
      .tournaments {
        height: 47.5%;
      }
      .category-group {
        height: 48%;
      }
      .enduration {
        width: 48%;
      }
      .special-events {
        width: 48%;
      }
      .hoverable-category {
        padding: 10px;
      }
      &.mobile-content-side {
        display: none;
      }
    }
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .menu-title {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-first {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-second {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-third {
    font-size: 12px;
    line-height: 14px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
    opacity: 0.6;
  }
}

//CONTENT TO CSS AT THE BOTTOM!
.content-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 80px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  img {
    width: 21px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.09em;
    font-family: "Earth Orbiter";
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

@media screen and(max-width: 1700px) {
  .content-title {
    img {
      width: 17px;
    }
    p {
      font-size: 26px;
    }
  }
}
@media screen and(max-width: 1550px) {
  .content-title {
    height: 65px;
    img {
      width: 15px;
    }
    p {
      font-size: 22px;
    }
  }
}
@media screen and(max-width: 1024px) {
  .content-title {
    img {
      width: 13px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content-title {
    height: 40px;
  }
}
@media screen and(max-width: 700px) and (orientation: landscape) {
  .content-title {
    img {
      width: 8.5px;
    }
    p {
      font-size: 9px;
      margin-left: 5px;
    }
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .content-title {
    img {
      width: 10px;
    }
    p {
      font-size: 17px;
    }
  }
}
