<div
  (window:resize)="width()"
  [ngClass]="{
    'dissapear-right-animation': animation === 1,
    'engage-right-animation': animation === 0
  }"
  class="main-holder"
>
  <div (click)="back()" class="content-title">
    <img
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>Dashboard</p>
  </div>
  <div class="races-content">
    <div
      [ngClass]="{ 'mobile-content-menu': mobileMenu === false }"
      class="content-menu"
    >
      <div class="avatar">
        <img
          *ngIf="ownedRacers.length <= 0"
          class="avatar-img"
          [src]="'assets/base/images/avatars/rookie-basic.png'"
          alt="nft racer"
        />
        <img
          *ngIf="ownedRacers.length > 0"
          class="avatar-img"
          [src]="
            'assets/base/images/avatars/' +
            ownedRacers[ownedRacers.length - 1]['image'] +
            '.png'
          "
          alt="nft racer"
        />
      </div>
      <div
        [ngClass]="{
          'show-deposit': title === 'mynfts'
        }"
        class="menu-items"
      >
        <div
          [ngClass]="{
            active: title === 'mynfts'
          }"
          class="item my-nfts"
        >
          <div
            (click)="
              title = 'mynfts';
              mobileMenu = false;
              marketState = 1;
              depositFlow = false
            "
            class="item-content"
          >
            <div class="hover-effect"></div>
            <img src="assets/base/images/icons/car.svg" alt="car" />
            <p class="menu-title">MY NFTs</p>
          </div>
          <div
            (click)="toggleDeposit()"
            class="bottom-border-deposit my-cta-btn-back"
          >
            <p class="races-desc">&#43; Deposit NFTs</p>
          </div>
        </div>
        <div
          (click)="title = 'overview'; mobileMenu = false"
          [ngClass]="{
            active: title === 'overview'
          }"
          class="item"
        >
          <div class="item-content">
            <div class="hover-effect"></div>
            <img src="assets/base/images/icons/overview.svg" alt="graph icon" />
            <p class="menu-title">NFTs Overview</p>
          </div>
          <div class="bottom-border my-cta-btn-back"></div>
        </div>
        <div
          (click)="
            title = 'history'; mobileMenu = false; showSecond = 'transactions'
          "
          [ngClass]="{ active: title === 'history' }"
          class="item"
        >
          <div class="item-content">
            <div class="hover-effect"></div>
            <img
              src="assets/base/images/icons/history.svg"
              alt="history icon"
            />
            <p class="menu-title">History</p>
          </div>
          <div class="bottom-border my-cta-btn-back"></div>
        </div>
        <div
          (click)="title = 'settings'; mobileMenu = false"
          [ngClass]="{
            active: title === 'settings'
          }"
          class="item"
        >
          <div class="item-content">
            <div class="hover-effect"></div>
            <img src="assets/base/images/icons/settings.svg" alt="settings" />
            <p class="menu-title">Settings</p>
          </div>
          <div class="bottom-border my-cta-btn-back"></div>
        </div>
        <div (click)="logout()" class="item">
          <div class="item-content">
            <div class="hover-effect"></div>
            <img src="assets/base/images/icons/logout.svg" alt="door icon" />
            <p class="menu-title">Log out</p>
          </div>
          <div class="bottom-border my-cta-btn-back"></div>
        </div>
      </div>
    </div>
    <div
      [ngClass]="{ 'mobile-content-side': mobileMenu === true }"
      class="content-side"
    >
      <app-about-tokens
        *ngIf="title === 'rewards' && showSecond === 'about rewards'"
      ></app-about-tokens>
      <app-affilate *ngIf="title === 'affiliate'"></app-affilate>
      <app-transactions
        *ngIf="title === 'history' && showSecond === 'transactions'"
      ></app-transactions>
      <app-nft-overview *ngIf="title === 'overview'"></app-nft-overview>

      <app-my-nft
        (data)="resolveMarketAsset($event)"
        [depositFlow]="depositFlow"
        *ngIf="title === 'mynfts' && marketState === 1"
      ></app-my-nft>
      <app-my-nft-detail
        class="detail-content"
        *ngIf="title === 'mynfts' && marketState === 2"
        [assetId]="selectedId"
        [assetType]="selectedType"
        [owned]="ownedItems"
        (marketState)="resolveDetailAsset($event)"
      ></app-my-nft-detail>
      <app-my-settings *ngIf="title === 'settings'"></app-my-settings>
    </div>
  </div>
</div>
