.main-holder {
  width: calc(100% - 457px);
  padding-left: 40px;
}
p {
  font-size: 16px;
}
h6 {
  font-size: 20px;
}
h1 {
  font-weight: 600;
  font-size: 36px;
}

.content {
  margin-top: 40px;
  width: 92.5%;
  margin-left: 7%;
}

.profile-nav {
  padding: 30px 0px 10px 0px;
  width: 100%;

  display: flex;
  > div {
    height: 142px;
  }
  .left-nav {
    .back {
      transition: 0.2s;
      cursor: pointer;
      width: 82px;
      height: 100%;
      background: #222222;
      border-radius: 15px;
      > div {
        position: relative;
        p {
          position: absolute;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          left: 50%;
        }
      }

      .upper-back {
        height: 60%;
        p {
          top: 60%;
          font-size: 25px;
          font-weight: 500;
        }
      }
      .lower-back {
        height: 40%;
        p {
          top: 40%;
        }
      }
    }
    .back:hover {
      transform: scale(1.02);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02);
    }
  }

  .right-nav {
    position: relative;
    padding: 0px 0px 0px 30px;
    width: 100%;

    .name {
      h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
      }
    }
  }
}

.my-menu-nav {
  position: absolute;
  bottom: 0px;
  border-radius: 10px;
  background: #222222;
  width: 90%;
  display: flex;

  .menu-item {
    transition: 0.2s;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    position: relative;
    &.inactive {
      background: transparent;
      p {
        font-weight: 400;
      }
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      text-align: center;
      margin: 0;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .menu-item:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
  }
}
.my-menu {
  margin: 0 auto;
  border-radius: 10px;
  background: #222222;
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .menu-item {
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    position: relative;
    &.inactive {
      background: transparent;
      p {
        font-weight: 400;
      }
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      text-align: center;
      margin: 0;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 1700px) {
  .my-menu-nav {
    .menu-item {
      height: 45px;
      p {
        font-size: 15px;
      }
    }
  }
  .my-menu {
    .menu-item {
      height: 45px;
      p {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .main-holder {
    width: calc(100% - 380px);
    padding-left: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .my-menu-nav {
    .menu-item {
      height: 40px;
      p {
        font-size: 14px;
      }
    }
  }
  .main-holder {
    width: calc(100% - 340px);
    padding-left: 13px;
  }
  .my-menu {
    .menu-item {
      height: 40px;
      p {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-holder {
    width: 100%;
    padding: 30px 10px 0px 10px;
  }
  .content {
    width: 95%;
    margin-left: 2.5%;
  }
}

@media screen and (max-width: 640px) {
  .profile-nav {
    margin-top: 10px;
    .left-nav {
    }
    .right-nav {
      height: auto;
      .name {
        h2 {
          font-size: 25px;
        }
      }
    }
  }
  .my-menu-nav {
    position: relative;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    .menu-item {
      width: 100%;

      p {
        font-size: 13px;
      }
    }
  }
  .my-menu {
    position: relative;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    .menu-item {
      width: 100%;

      p {
        font-size: 13px;
      }
    }
  }

  .content {
    margin-top: 5px;
  }
}
