.main-holder {
  width: 100%;
  height: 100vh;
  position: relative;
  .login-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .countdown {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 4;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &.hidden {
        display: none;
      }
      .countdown-title {
        p {
          font-family: Earth Orbiter;
          font-size: 35px;
          line-height: 130%;
        }
      }
      .items {
        margin-bottom: 20px;
        margin-top: 20px;
        display: flex;
        .item {
          margin: 0px 25px;
          display: flex;
          align-items: flex-end;
          &.days {
            display: none;
          }
          p {
            margin: 0px 10px;
            font-family: Earth Orbiter;
            font-weight: bold;
            line-height: 160px;
            &.time {
              font-size: 150px;
              background-image: linear-gradient(
                236.12deg,
                #00f0ff 6%,
                #0098d9 102.68%,
                #0098d9 102.68%
              );
              background-clip: text;
              text-fill-color: transparent;
              -webkit-background-clip: text;
              -moz-background-clip: text;
              -webkit-text-fill-color: transparent;
              -moz-text-fill-color: transparent;
              color: transparent;
            }
            &.desc {
              font-size: 85px;
            }
          }
        }
      }
    }
  }
  .center-content {
    transition: 0.5s;
    text-align: center;
    width: 100%;
    max-width: 600px;
    position: relative;
    opacity: 1;
    &::before {
      transition: 0.5s;
      content: "";
      position: absolute;
      z-index: 3;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      opacity: 0;
      pointer-events: none;
    }
    &.hidden {
      opacity: 0.2;
      &::before {
        pointer-events: all;
        opacity: 1;
      }
    }
    .form-logo-holder {
      margin-bottom: 55px;
    }
    .clickers-holder {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 28px;
      .regular-box {
        p {
          display: inline-block;
          font-size: 16px;
          opacity: 0.6;
          margin: 0;
          cursor: pointer;
          transition: 0.15s;
          &.register {
            margin: 0 40px 0 0;
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
      .cta-button {
        background: linear-gradient(
          236.12deg,
          #00f0ff 6%,
          #0098d9 102.68%,
          #0098d9 102.68%
        );
        padding: 16px 5px;
        width: 200px;
        font-weight: 600;
        font-size: 16px;
        transition: 0.2s;
        &:hover {
          transform: scale(1.04);
        }
      }
    }
    .or-text {
      margin: 40px 0;
      font-size: 16px;
      opacity: 0.6;
      text-align: center;
      width: 100%;
    }
    .big-cta {
      background: linear-gradient(
        236.12deg,
        #00f0ff 6%,
        #0098d9 102.68%,
        #0098d9 102.68%
      );
      border: none;
      font-weight: 600;
      font-size: 16px;
      padding: 16px 5px;
      width: 100%;
    }
    .create-box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 40px 0 0 0;
      .login-text {
        font-size: 16px;
        opacity: 0.6;
        margin: 0;
        text-align: left;
        span {
          font-weight: 600;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      .cta-button {
        background: linear-gradient(
          236.12deg,
          #00f0ff 6%,
          #0098d9 102.68%,
          #0098d9 102.68%
        );
        border: none;
        font-weight: 600;
        font-size: 16px;
        padding: 16px 5px;
        width: 200px;
      }
    }
  }
  .my-input {
    width: 100%;
    margin: 0 auto 20px;
    background-repeat: no-repeat;
    background-position: -15px 32px;
    background-color: transparent;
    position: relative;
    .icon {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
    .input-placeholder {
      font-weight: 400;
      font-size: 18px;
      color: rgba(34, 34, 34, 0.4);
      margin: 0;
      position: absolute;
      left: 60px;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.2s;
      display: inline-block;
      text-align: left;
      pointer-events: none;
    }
    &.filled {
      .input-placeholder {
        font-size: 12px;
        top: 21%;
      }
    }
    span {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      &.eyeball {
        transition: 0.2s;
        opacity: 0;
        z-index: 1;
        &.show {
          z-index: 2;
          opacity: 1;
        }
      }
      img {
        width: 24px;
      }
    }
    input {
      background-color: white;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border: none;
      padding: 19px 10px 13px 60px;
      font-size: 22px;
      width: 100%;
      color: #222222;
      font-weight: normal;
      font-size: 18px;
      &::placeholder {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: rgba(34, 34, 34, 0.4);
      }
      &:focus {
        & ~ .input-placeholder {
          font-size: 12px;
          top: 21%;
        }
      }
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 50px #fff inset;
      -webkit-text-fill-color: #222222;
    }

    input:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 50px #fff inset;
      -webkit-text-fill-color: #222222;
    }
  }
}

@media screen and (max-width: 1024px) {
  :host {
    //   zoom: 160%;
  }
  .main-holder {
    .form-holder {
      width: 90%;
      height: unset;
      padding-bottom: 40px;
    }
  }
}
.register-text {
  margin-top: 38px;
  text-align: left;
  &.check {
    p {
      font-size: 18px;
      line-height: 27px;
      text-align: left;
      width: 100%;
    }
  }
}
.social-button {
  background: rgba(0, 208, 255, 0);
  height: 50px;
  line-height: 46px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  display: block;
  margin: 10px auto 0;
  position: relative;
  border: 2px solid #00d1ff;
  transition: 0.2s;
  &:hover {
    background: rgba(0, 208, 255, 0.2);
  }
  img {
    display: inline-block;
    margin-right: 20px;
    max-height: 22px;
  }
}

#terms {
  display: none;
}
#terms + label {
  background-image: url("/assets/base/images/checkbox.png");
  background-repeat: no-repeat;
  padding-left: 40px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  margin-left: 24px;
  a {
    color: #00d1ff;
  }
}
#terms:checked + label {
  background-image: url("/assets/base/images/checkbox-checked.png");
}
#news {
  display: none;
}
#news + label {
  background-image: url("/assets/base/images/checkbox.png");
  background-repeat: no-repeat;
  padding-left: 40px;
  cursor: pointer;
  margin-left: 24px;
}
#news:checked + label {
  background-image: url("/assets/base/images/checkbox-checked.png");
}

.grecaptcha-badge {
  visibility: visible !important;
}

@media screen and (max-width: 1550px) {
  .main-holder {
    .back-btn {
      top: 30px;
      left: 30px;
      img {
        width: 15px;
      }
      p {
        font-size: 24px;
        margin-left: 8px;
      }
    }
    .center-content {
      max-width: 500px;
      .form-logo-holder {
        margin-bottom: 40px;
        img {
          width: 150px;
        }
      }
      .create-box {
        .login-text {
          font-size: 14px;
        }
        .cta-button {
          padding: 13px 5px;
          width: 150px;
          font-size: 14px;
        }
      }
      .or-text {
        margin: 30px 0;
        font-size: 14px;
      }
      .big-cta {
        font-size: 14px;
      }
    }
    .my-input {
      margin: 0 auto 15px;
      &.filled {
        .input-placeholder {
          font-size: 10px;
        }
      }
      .icon {
        left: 16px;
        height: 21px;
      }
      input {
        font-size: 16px;
        padding: 16px 8px 10px 50px;
        &:focus {
          & ~ .input-placeholder {
            font-size: 10px;
          }
        }
      }
      .input-placeholder {
        left: 50px;
        font-size: 16px;
      }
    }
  }
  .social-button {
    height: 46px;
    line-height: 42px;
    font-size: 14px;
    img {
      margin-right: 15px;
      max-height: 18px;
    }
  }
  .register-text {
    margin-top: 28px;
    &.check {
      p {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-holder {
    min-height: 650px;
    .login-content {
      .countdown {
        .countdown-title {
          p {
            font-size: 24px;
          }
        }
        .items {
          margin-top: 15px;

          .item {
            margin: 0px 20px;

            p {
              margin: 0px 7px;
              line-height: 100px;
              &.time {
                font-size: 85px;
              }
              &.desc {
                font-size: 55px;
              }
            }
          }
        }
      }
    }
    .back-btn {
      top: 20px;
      left: 20px;
      img {
        width: 13px;
      }
      p {
        font-size: 21px;
      }
    }
    .center-content {
      .form-logo-holder {
        margin-bottom: 25px;
        img {
          width: 130px;
        }
      }
      .create-box {
        margin: 25px 0 0 0;
        .login-text {
          font-size: 13px;
        }
        .cta-button {
          padding: 11px 5px;
          width: 130px;
          font-size: 13px;
        }
      }
      .or-text {
        margin: 22px 0;
        font-size: 13px;
      }
      .big-cta {
        padding: 14px 5px;
        font-size: 13px;
      }
    }
    .my-input {
      margin: 0 auto 12px;
      &.filled {
        .input-placeholder {
          font-size: 9px;
        }
      }
      .icon {
        left: 14px;
        height: 19px;
      }
      input {
        font-size: 15px;
        padding: 14px 7px 8px 40px;
        &:focus {
          & ~ .input-placeholder {
            font-size: 9px;
          }
        }
      }
      .input-placeholder {
        left: 40px;
        font-size: 15px;
      }
    }
  }
  .social-button {
    height: 42px;
    line-height: 37px;
    font-size: 13px;
    img {
      margin-right: 12px;
      max-height: 16px;
    }
  }
  .register-text {
    margin-top: 20px;
    &.check {
      p {
        font-size: 14px;
        margin-bottom: 6px;
      }
    }
  }
  #terms + label {
    font-size: 14px;
    background-size: contain;
    margin-left: 14px;
  }
  #news + label {
    background-size: contain;
    margin-left: 14px;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .main-holder {
    min-height: 400px;
    .back-btn {
      top: 15px;
      left: 15px;
      img {
        width: 10px;
      }
      p {
        font-size: 17px;
      }
    }
    .center-content {
      max-width: 400px;
      .form-logo-holder {
        margin-bottom: 15px;
        img {
          width: 90px;
        }
      }
      .create-box {
        margin: 15px 0 0 0;
        .login-text {
          font-size: 12px;
        }
        .cta-button {
          padding: 9px 5px;
          width: 100px;
          font-size: 11px;
        }
      }
      .or-text {
        margin: 14px 0;
        font-size: 11px;
      }
      .big-cta {
        padding: 12px 5px;
        font-size: 12px;
      }
    }
    .my-input {
      margin: 0 auto 9px;
      &.filled {
        .input-placeholder {
          font-size: 5px;
          top: 19%;
        }
      }
      .icon {
        left: 14px;
        height: 19px;
      }
      input {
        font-size: 11px;
        padding: 7px 5px 5px 40px;
        &:focus {
          & ~ .input-placeholder {
            font-size: 5px;
            top: 19%;
          }
        }
      }
      .input-placeholder {
        left: 40px;
        font-size: 13px;
      }
      span {
        img {
          width: 17px;
        }
      }
    }
  }
  .social-button {
    height: 37px;
    line-height: 32px;
    font-size: 12px;
    border: 1px solid #00d1ff;
    img {
      margin-right: 12px;
      max-height: 16px;
    }
  }
  #terms + label,
  #news + label {
    font-size: 12px;
    margin-left: 10px;
    padding-left: 24px;
  }
  .register-text {
    margin-top: 10px;
    &.check {
      p {
        line-height: 18px;
      }
    }
  }
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  .main-holder {
    min-height: 350px;
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .main-holder {
    min-height: 300px;
    .back-btn {
      top: 15px;
      left: 15px;
      img {
        width: 10px;
      }
      p {
        font-size: 17px;
      }
    }
    .login-content {
      .countdown {
        .countdown-title {
          p {
            font-size: 16px;
          }
        }
        .items {
          margin-top: 10px;

          .item {
            margin: 0px 7px;

            p {
              margin: 0px 3px;
              line-height: 70px;
              &.time {
                font-size: 55px;
              }
              &.desc {
                font-size: 35px;
              }
            }
          }
        }
      }
    }
    .center-content {
      max-width: 90%;
      .form-logo-holder {
        margin-bottom: 15px;
        img {
          width: 100px;
        }
      }
      .create-box {
        .login-text {
          font-size: 12px;
        }
        .cta-button {
          padding: 9px 5px;
          width: 100px;
          font-size: 11px;
        }
      }
      .or-text {
        margin: 14px 0;
        font-size: 11px;
      }
      .big-cta {
        padding: 12px 5px;
        font-size: 12px;
      }
    }
    .my-input {
      margin: 0 auto 9px;
      &.filled {
        .input-placeholder {
          font-size: 7px;
        }
      }
      .icon {
        left: 14px;
        height: 19px;
      }
      input {
        font-size: 13px;
        padding: 10px 5px 8px 40px;
        &:focus {
          & ~ .input-placeholder {
            font-size: 7px;
          }
        }
      }
      .input-placeholder {
        left: 40px;
        font-size: 13px;
      }
      span {
        img {
          width: 19px;
        }
      }
    }
  }
  .social-button {
    height: 37px;
    line-height: 32px;
    font-size: 12px;
    border: 1px solid #00d1ff;
    img {
      margin-right: 12px;
      max-height: 16px;
    }
  }
  #terms + label,
  #news + label {
    font-size: 11px;
    margin-left: 10px;
    padding-left: 24px;
  }
}
@media screen and (max-width: 400px) {
  .main-holder {
    .login-content {
      .countdown {
        .countdown-title {
          p {
            font-size: 15px;
          }
        }
        .items {
          .item {
            p {
              &.time {
                font-size: 50px;
              }
              &.desc {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .main-holder {
    .login-content {
      .countdown {
        .countdown-title {
          p {
            font-size: 13px;
          }
        }
        .items {
          margin-top: 6px;

          .item {
            margin: 0px 10px;

            p {
              margin: 0px 2px;
              line-height: 50px;
              &.time {
                font-size: 40px;
              }
              &.desc {
                font-size: 25px;
              }
            }
          }
        }
      }
    }
  }
}
