<div class="main-holder">
  <div class="login-content">
    <!-- <div [ngClass]="{hidden: countDownActive === false}" class="countdown">
      <div class="countdown-title">
        <p>TRM2 Alpha starts in:</p>
      </div>
      <div class="items">
        <div class="item days">
          <p class="time" id="days">1</p>
          <p class="desc">D</p>
        </div>
        <div class="item">
          <p class="time" id="hours">2</p>
          <p class="desc">H</p>
        </div>
        <div class="item">
          <p class="time" id="minutes">3</p>
          <p class="desc">M</p>
        </div>
        <div class="item">
          <p class="time" id="seconds">4</p>
          <p class="desc">S</p>
        </div>
      </div>
    </div> -->
    <div class="center-content">
      <div class="form-logo-holder">
        <img
          src="/assets/base/images/trm2-logo.svg"
          alt="TradeRaceManager2 logo"
        />
      </div>

      <form [formGroup]="registerForm">
        <div
          class="my-input"
          [ngClass]="{'filled': username !== '' && username !== undefined}"
          #user
        >
          <img src="/assets/base/images/user-icon.svg" alt="" class="icon" />
          <input
            (click)="this.passwordClicked = false"
            type="text"
            required
            formControlName="nickname"
            autocomplete="off"
            minlength="5"
            maxlength="12"
            [(ngModel)]="username"
          />
          <span class="input-placeholder"
            >{{'login.username' | translate}}</span
          >
        </div>
        <div
          class="my-input"
          [ngClass]="{'filled': email !== '' && email !== undefined}"
          #mail
        >
          <img src="/assets/base/images/mail-icon.svg" alt="" class="icon" />
          <input
            (click)="this.passwordClicked = false"
            type="email"
            required
            formControlName="email"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,10}$"
            autocomplete="off"
            [(ngModel)]="email"
          />
          <span class="input-placeholder">{{'login.e_mail' | translate}}</span>
        </div>
        <div
          class="my-input password"
          [ngClass]="{'filled': password !== '' && password !== undefined}"
          *ngIf="showMmew === false"
          #pass
        >
          <div
            [ngClass]="{showed: passwordClicked === true}"
            class="requirements"
          >
            <img
              class="background"
              src="/assets/base/images/requirements-back.png"
              alt="background"
            />
            <img
              class="background mobile"
              src="/assets/base/images/requirements-back-mobile.png"
              alt="background"
            />
            <p class="req-title">
              Password <span class="bold">must</span> contain:
            </p>
            <div class="req-row first">
              <div class="req-check">
                <img
                  *ngIf="minLength === true"
                  class="check"
                  src="/assets/base/images/check-white.svg"
                  alt="White check icon"
                />

                <p *ngIf="minLength === false" class="check">-</p>
              </div>
              <p class="req-text">
                At least <span class="bold">8 characters</span>
              </p>
            </div>
            <div class="req-row">
              <div class="req-check">
                <img
                  *ngIf="capitalLetter === true"
                  class="check"
                  src="/assets/base/images/check-white.svg"
                  alt="White check icon"
                />

                <p *ngIf="capitalLetter === false" class="check">-</p>
              </div>
              <p class="req-text">
                At least one <span class="bold">capital letter</span>
              </p>
            </div>
            <div class="req-row">
              <div class="req-check">
                <img
                  *ngIf="smallLetter === true"
                  class="check"
                  src="/assets/base/images/check-white.svg"
                  alt="White check icon"
                />

                <p *ngIf="smallLetter === false" class="check">-</p>
              </div>
              <p class="req-text">
                At least one <span class="bold">small letter</span>
              </p>
            </div>
            <div class="req-row">
              <div class="req-check">
                <img
                  *ngIf="oneNumber === true"
                  class="check"
                  src="/assets/base/images/check-white.svg"
                  alt="White check icon"
                />

                <p *ngIf="oneNumber === false" class="check">-</p>
              </div>
              <p class="req-text">
                At least one <span class="bold">number</span>
              </p>
            </div>
            <div class="req-row">
              <div class="req-check">
                <img
                  *ngIf="specialCharacter === true"
                  class="check"
                  src="/assets/base/images/check-white.svg"
                  alt="White check icon"
                />

                <p *ngIf="specialCharacter === false" class="check">-</p>
              </div>
              <p class="req-text">
                At least one <span class="bold">special character</span>
              </p>
            </div>
          </div>
          <img src="/assets/base/images/lock-icon.svg" alt="" class="icon" />
          <input
            (click)="this.passwordClicked = true"
            [type]="show"
            required
            formControlName="password"
            autocomplete="off"
            [(ngModel)]="password"
            (ngModelChange)="checkPasswordRequirements()"
            minlength="8"
            maxlength="20"
          />
          <span class="input-placeholder">{{'login.pass' | translate}}</span>
          <span
            class="eyeball show-span"
            (click)="show = 'text'"
            [ngClass]="{'show': show === 'password'}"
            ><img src="/assets/base/images/pass-hidden.png"
          /></span>
          <span
            class="eyeball show-span"
            (click)="show = 'password'"
            [ngClass]="{'show': show === 'text'}"
            ><img src="/assets/base/images/pass-unhidden.png"
          /></span>
        </div>

        <div
          class="my-input"
          [ngClass]="{'filled': repeatPassword !== '' && repeatPassword !== undefined}"
          *ngIf="showMmew === false"
          #repeatpass
        >
          <img src="/assets/base/images/lock-icon.svg" alt="" class="icon" />
          <input
            (click)="this.passwordClicked = false"
            [type]="repeatShow"
            required
            formControlName="repeatPassword"
            autocomplete="off"
            [(ngModel)]="repeatPassword"
            minlength="8"
            maxlength="20"
          />
          <span class="input-placeholder"
            >{{'login.repeat_pass' | translate}}</span
          >
          <span
            class="eyeball show-span"
            (click)="repeatShow = 'text'"
            [ngClass]="{'show': repeatShow === 'password'}"
            ><img src="/assets/base/images/pass-hidden.png"
          /></span>
          <span
            class="eyeball show-span"
            (click)="repeatShow = 'password'"
            [ngClass]="{'show': repeatShow === 'text'}"
            ><img src="/assets/base/images/pass-unhidden.png"
          /></span>
        </div>

        <div
          class="my-input"
          [ngClass]="{'filled': referralId !== '' && referralId !== undefined}"
          *ngIf="referralId"
          #referral
        >
          <input type="text" readonly autocomplete="off" [value]="referralId" />
          <span class="input-placeholder">Refferal</span>
        </div>
        <div class="create-box disclaimer">
          <div class="left-holder">
            <p class="login-text"><span>NOTE:</span></p>
            <p class="login-text">
              Alpha tesing is only available for users that hold at least
              <span>100 &#36;IOI</span> in QORPO Wallet or Trade Race Manager
              game wallet.
            </p>
          </div>
          <div class="right-holder">
            <button
              class="cta-button"
              (click)="openLink('https://qorpo.finance/')"
            >
              <img
                src="/assets/base/images/icons/qorpo-wallet.svg"
                alt="Qorpo wallet logo"
              />
            </button>
          </div>
        </div>
        <div class="register-text check">
          <p>
            <input
              type="checkbox"
              [(ngModel)]="agreeChecked"
              [ngModelOptions]="{standalone: true}"
              required
              id="terms"
              name="terms"
            />
            <label for="terms" class="terms"
              >{{'login.agree_to_terms' | translate}}
              <a
                [routerLink]="['/user/terms-conditions']"
                title="Terms & Conditions of service"
                >{{'login.terms_cond' | translate}}</a
              ></label
            >
          </p>
        </div>
      </form>

      <div class="create-box">
        <p class="login-text">
          Already have an account?
          <span [routerLink]="'/user/sign-in'">Log in</span>
        </p>
        <button
          class="cta-button"
          [disabled]="agreeChecked === false"
          *ngIf="loading === false"
          (click)="onSubmit()"
        >
          Create account
        </button>
        <button
          class="cta-button"
          [disabled]="agreeChecked === false"
          *ngIf="loading === true"
        >
          Loading...
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="meta-holder"
  style="
    opacity: 0;
    position: absolute;
    pointer-events: none;
    height: 0px;
    width: 0px;
    overflow: hidden;
  "
>
  <app-metamask-signup *ngIf="metaSwitch === true"></app-metamask-signup>
</div>
