<div class="main-holder">
  <div class="login-content">
    <div [ngClass]="{hidden: countDownActive === false}" class="countdown">
      <div class="countdown-title">
        <p>TRM2 Alpha starts in:</p>
      </div>
      <div class="items">
        <div class="item days">
          <p class="time" id="days">1</p>
          <p class="desc">D</p>
        </div>
        <div class="item">
          <p class="time" id="hours">2</p>
          <p class="desc">H</p>
        </div>
        <div class="item">
          <p class="time" id="minutes">3</p>
          <p class="desc">M</p>
        </div>
        <div class="item">
          <p class="time" id="seconds">4</p>
          <p class="desc">S</p>
        </div>
      </div>
    </div>
    <div [ngClass]="{hidden: countDownActive === true}" class="center-content">
      <div class="form-logo-holder">
        <img
          src="/assets/base/images/trm2-logo.svg"
          alt="TradeRaceManager2 logo"
        />
      </div>

      <form [formGroup]="registerForm">
        <div
          class="my-input"
          [ngClass]="{'filled': username !== '' && username !== undefined}"
          #user
        >
          <img src="/assets/base/images/user-icon.svg" alt="" class="icon" />
          <input
            type="text"
            required
            formControlName="nickname"
            autocomplete="off"
            minlength="5"
            maxlength="12"
            [(ngModel)]="username"
          />
          <span class="input-placeholder"
            >{{'login.username' | translate}}</span
          >
        </div>
        <div
          class="my-input"
          [ngClass]="{'filled': email !== '' && email !== undefined}"
          #mail
        >
          <img src="/assets/base/images/mail-icon.svg" alt="" class="icon" />
          <input
            type="email"
            required
            formControlName="email"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,10}$"
            autocomplete="off"
            [(ngModel)]="email"
          />
          <span class="input-placeholder">{{'login.e_mail' | translate}}</span>
        </div>
        <div
          class="my-input"
          [ngClass]="{'filled': password !== '' && password !== undefined}"
          *ngIf="showMmew === false"
          #pass
        >
          <img src="/assets/base/images/lock-icon.svg" alt="" class="icon" />
          <input
            [type]="show"
            required
            formControlName="password"
            autocomplete="off"
            [(ngModel)]="password"
            minlength="5"
            maxlength="20"
          />
          <span class="input-placeholder">{{'login.pass' | translate}}</span>
          <span
            class="eyeball"
            (click)="show = 'text'"
            [ngClass]="{'show': show === 'password'}"
            ><img src="/assets/base/images/pass-hidden.png"
          /></span>
          <span
            class="eyeball"
            (click)="show = 'password'"
            [ngClass]="{'show': show === 'text'}"
            ><img src="/assets/base/images/pass-unhidden.png"
          /></span>
        </div>

        <div
          class="my-input"
          [ngClass]="{'filled': repeatPassword !== '' && repeatPassword !== undefined}"
          *ngIf="showMmew === false"
          #repeatpass
        >
          <img src="/assets/base/images/lock-icon.svg" alt="" class="icon" />
          <input
            [type]="repeatShow"
            required
            formControlName="repeatPassword"
            autocomplete="off"
            [(ngModel)]="repeatPassword"
            minlength="5"
            maxlength="20"
          />
          <span class="input-placeholder"
            >{{'login.repeat_pass' | translate}}</span
          >
          <span
            class="eyeball"
            (click)="repeatShow = 'text'"
            [ngClass]="{'show': repeatShow === 'password'}"
            ><img src="/assets/base/images/pass-hidden.png"
          /></span>
          <span
            class="eyeball"
            (click)="repeatShow = 'password'"
            [ngClass]="{'show': repeatShow === 'text'}"
            ><img src="/assets/base/images/pass-unhidden.png"
          /></span>
        </div>

        <div
          class="my-input"
          [ngClass]="{'filled': referralId !== '' && referralId !== undefined}"
          *ngIf="referralId"
          #referral
        >
          <input type="text" readonly autocomplete="off" [value]="referralId" />
          <span class="input-placeholder">Refferal</span>
        </div>

        <div class="register-text check">
          <p>
            <input
              type="checkbox"
              [(ngModel)]="agreeChecked"
              [ngModelOptions]="{standalone: true}"
              required
              id="terms"
              name="terms"
            />
            <label for="terms" class="terms"
              >{{'login.agree_to_terms' | translate}}
              <a
                [routerLink]="['/user/terms-conditions']"
                title="Terms & Conditions of service"
                >{{'login.terms_cond' | translate}}</a
              ></label
            >
          </p>
        </div>
      </form>

      <div class="create-box">
        <p class="login-text">
          Already have an account?
          <span [routerLink]="'/user/sign-in'">Log in</span>
        </p>
        <button
          class="cta-button"
          [disabled]="agreeChecked === false"
          *ngIf="loading === false"
          (click)="onSubmit()"
        >
          Create account
        </button>
        <button
          class="cta-button"
          [disabled]="agreeChecked === false"
          *ngIf="loading === true"
        >
          Loading...
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="meta-holder"
  style="
    opacity: 0;
    position: absolute;
    pointer-events: none;
    height: 0px;
    width: 0px;
    overflow: hidden;
  "
>
  <app-metamask-signup *ngIf="metaSwitch === true"></app-metamask-signup>
</div>
