.content-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.grapha{
  position: relative;
}
.curr-table {
  width: calc(100% - 345px);
  margin-top: 20px;
  .table-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111111;
    box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin-bottom: 32px;
    padding: 7px;
    .stat-item {
      width: 100px;
      &.big {
        width: 150px;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        color: white;
        text-align: center;
        margin: 0;
      }
      &.curr {
        p {
          text-align: left;
        }
      }
      &.btns {
        width: 220px;
        button {
          width: 105px;
          padding: 11px 7px;
          color: white;
          border: none;
          font-size: 14px;
          font-weight: 400;
          box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05),
            10px 10px 20px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          cursor: pointer;
          img {
            display: inline-block;
          }
          &.deposit-btn {
            background: linear-gradient(99.76deg, #FE173F 117.01%, #240B36 187.56%);
          }
          &.exchange-btn {
            background: linear-gradient(236.12deg, #24FFFF 6%, #25CCFE 102.68%);
            margin-left: 10px;
            &.no-ex {
              opacity: 0.5;
              cursor: default;
            }
          }
          &.withdraw-btn {
            background: linear-gradient(
              45deg,
              rgba(43, 22, 247, 1) 0%,
              rgba(35, 255, 255, 1) 100%
            );
            margin-left: 10px;
          }
        }
      }
    }
    &.header {
      box-shadow: none;
      margin-bottom: 11px;
      .stat-item {
        &.curr {
          padding-left: 25px;
        }
        p {
          font-weight: 600;
        }
      }
    }
  }
}

.a-balance {
  width: 315px;
  position: relative;
  margin-top: 13px;
  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: white;
    &.top-heading{
      margin-top: 18px;
      margin-bottom: 16px;
      text-align: left;
      img{
        margin-right: 7px;
      }
    }
  }
  .addres-panel{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 118px;
    width: 100%;
    position: relative;
    background: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
    &.empty{
      background: linear-gradient(110.81deg, #EB2163 27.77%, #950552 179.3%), #111111;
      cursor: pointer;
    }
    &.filled{
      flex-wrap: nowrap;
      .my-address{
        max-width: 75%;
        width: unset;
        margin-right: 10px;
      }
      .edit-btn{
        max-width: 20%;
        font-size: 14px;
        color: rgba(35, 255, 255, .2);
        cursor: pointer;
      }
    }
    input,
    button{
      width: 100%;
    }
    .my-input{
      position: relative;
      width: 87%;
      input{
        background: transparent;
        border: none;
        color: white;
      }
      &::before{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, #950552 0%, #eb2163 100%);
        border-radius: 2px;
      }
    }
    .save-btn{
      color: #ffffff;
      font-size: 14px;
      text-shadow: none;
      font-weight: 400;
      transition: .3s;
      background: linear-gradient(250.32deg, #EB2163 22.61%, #950552 85.16%), #333333;
      box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      width: 90%;
      padding: 6px;
      text-align: center;
    }
    p{
      margin: 0;
      width: 100%;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      color: white;
    }
  }
  .right-cont {
    padding: 15px 25px;
    background: #111111;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    .svg-item {
      width: 150px;
      font-size: 16px;
      margin: 25px auto;
    }
    .donut-ring {
      stroke: #100f0f;
    }
    .donut-hole {
      fill: transparent;
    }
    .donut-segment {
      transform-origin: center;
      transition: 0.3s;
    }
    .segment-1 {
      fill: #ccc;
    }
    .segment-2 {
      fill: #fff;
    }

    .donut-text-1 {
      fill: white;
    }
    .donut-label {
      font-size: 0.28em;
      font-weight: 700;
      line-height: 1;
      fill: #000;
      transform: translateY(0.25em);
    }
    .donut-percent {
      font-size: 7px;
      line-height: 1;
      font-weight: 400;
      position: relative;
      bottom: -3px;
      opacity: 0.4;
      color: #333333;
    }
    .own-coins {
      .my-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-weight: 600;
          font-size: 30px;
          color: white;
          margin: 0;
        }
      }
    }
  }
}
.own-coins {
  margin-top: 28px;
}


#yourCavasId {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-container {
  object-fit: contain;
  margin-top: 9px;
}

.price {
  color: #ffffff;
  font-size: 21px;
  font-weight: 500;
}

.euro {
  font-size: 0.6em;
}

.circle-container {
  background-color: rgba(0, 0, 0, 0.6);

  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 90%;
  height: 90%;
  overflow: hidden;

  margin: 0 auto;

  text-align: center;
  position: relative;

}

.circle-container::before {
  content: "";
  float: left;
  /* padding-top: 100%; */
}

.circle-container {
  width: 150px;
  height: 150px;
  background: #111111;
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03),
    2px 3px 10px rgba(0, 0, 0, 0.6);
  border-radius: 100px;
}

:host {
  width: 100%;
}
.edit-adress-wrap {
  margin: 10px auto;
}

.my-modal-dialog {
  max-width: 1026px;
  .my-modal-content--tokens {
    box-shadow: 0 0 13px #000000;
    border-radius: 20px;
    background-color: #111111;
    height: unset;
  }
  &.modal-dialog-centered {
    @media screen and (max-width: 1024px) {
      align-items: flex-start;
    }
  }
}

.my-modal-content--tokens {
  height: 570px;
}
.my-modal-content--tokens .modal-header {
  border-bottom: none;
  padding: 20px 1rem;
  text-align: center;
  width: 100%;
}

.transfer-text-input {
  width: 100%;
  padding: 6px 15px 6px 25px;
  background-color: black;
  text-transform: uppercase;
  cursor: pointer;
}
.transfer-text-input:focus {
  outline: none;
}

.my-modal-content--tokens {
  .deposit-warning {
    width: 100%;
    margin-top: 20px;
    h1,
    h2 {
      color: white;
      text-align: center;
      font-size: 17px;
    }
    h2 {
      color: #fd00f5;
    }
  }
  .modal-header {
    h2 {
      color: #fd00f5;
    }
  }
}
.modal-body {
  &.processing-message{
    p{
      text-align: center;
      margin: 25px 0;
      color: white;
      font-size: 30px;
    }
  }
  .com-soon {
    font-size: 32px;
    color: white;
  }
}
.crypto-adress {
  text-transform: none !important;
}

.modal-dialog {
  .modal-content {
    position: relative;
    .modal-close {
      position: absolute;
      top: 5px;
      right: 5px;
      transition: 0.2s;
      cursor: pointer;
      padding: 10px;
      opacity: 0.8;
      z-index: 2;
      p {
        font-weight: 700;
        color: red;
        font-size: 18px;
        line-height: 1;
        margin: 0;
      }
      &:hover {
        opacity: 1;
      }
    }
    .deposit-modal-body {
      .next-btn,
      .back-btn {
        position: absolute;
        right: 29px;
        bottom: 19px;
        opacity: 0;
        transition: 0.3s;
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        background: linear-gradient(250.32deg, #eb2163 22.61%, #950552 85.16%),
          #333333;
        box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05),
          10px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 11px 45px;
        &.visible {
          opacity: 1;
        }
      }
      margin-top: 40px;
      .modal-box {
        box-shadow: 0 -1px 8px 1px rgba(0, 0, 0, 0.47);
        border-radius: 30px;
        background-color: #111111;
        padding: 7px;
        margin-bottom: 16px;
        .text {
          max-width: 90%;
          margin: 7px 0 7px 10px;
          p {
            color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            margin: 0;
            line-height: 1.2;
            &.header {
              font-size: 18px;
              font-weight: 600;
              margin-bottom: 7px;
            }
          }
        }
      }
      .desc-box {
        position: relative;
        margin-bottom: 37px;
        .disclaim {
          font-size: 11px;
          color: white;
          font-weight: 500;
          line-height: 1;
          position: absolute;
          right: 7px;
          bottom: -13px;
          margin: 0;
          transform: translateY(100%);
        }
      }
      .token-option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        .text {
          max-width: 50%;
        }
        .tokens-holder {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .token-item {
            width: 69px;
            height: 60px;
            border-radius: 20px;
            border: 1px solid #0e0e0e;
            background-color: #060a0b;
            padding: 7px 10px;
            margin: 0 7px;
            opacity: 0.6;
            position: relative;
            cursor: pointer;
            img {
              max-width: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              align-self: center;
            }
            &.trx {
              img {
                width: 67%;
                left: 53%;
              }
            }
            &.ioi {
              img {
                width: 70%;
              }
            }
            &.active {
              opacity: 1;
            }
          }
        }
      }
      .input-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .text {
          max-width: 300px;
          width: 100%;
        }
        .input-holder {
          width: calc(100% - 310px);
          border-radius: 20px;
          background-color: #0c0c0c;
          height: 55px;
          input {
            width: 100%;
            height: 100%;
            background-color: transparent;
            color: white;
            font-size: 16px;
            padding: 5px 15px;
            border: none;
            outline: none;
            opacity: 0.7;
          }
        }
        &.small-input {
          .input-holder {
            width: 300px;
            margin-right: auto;
          }
        }
        .switch-arrow {
          position: absolute;
          right: -15px;
          bottom: 0;
          transform: translate(100%, 100%);
          cursor: pointer;
          &:active {
            img {
              transform: translateY(2px);
            }
          }
        }
      }
      &.step2 {
        margin-top: 30px;
        .top-desc {
          color: #ffffff;
          font-size: 19px;
          margin: 0px 0 10px 0;
          text-align: center;
          text-transform: uppercase;
        }
        .qr-cont {
          text-align: center;
          p {
            color: #ffffff;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 8px;
            .ioi-logo {
              width: 32px;
              vertical-align: baseline;
            }
            .trx-logo {
              position: relative;
              width: 18px;
              vertical-align: baseline;
              bottom: -2px;
            }
          }
          .qr-code {
            width: 200px;
          }
        }
        .adress-cont {
          max-width: 460px;
          margin: 0 auto;
          position: relative;
          input {
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            border: none;
            color: white;
            text-align: center;
            margin-top: 18px;
          }
          .desc {
            color: #ff0000;
            font-size: 19px;
            margin: 13px 0;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            line-height: 1.2;
          }
          .cta-button {
            text-transform: uppercase;
            position: absolute;
            top: 6px;
            left: 0px;
            transform: translateX(-100%);
            font-size: 18px;
            &::before {
              width: 131px;
              height: 65px;
              top: -8px;
              left: 11px;
            }
          }
        }
        .qr-panel {
          position: relative;
          width: 100%;
          h1 {
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            color: white;
            text-align: center;
            width: 100%;
          }
          img {
            width: 210px;
            margin-bottom: 20px;
          }
        }
      }
      &.step3 {
        position: unset;
        padding: 80px 0;
        .main-heading {
          color: #ffffff;
          font-size: 27px;
          margin: 13px 0;
          text-align: center;
          text-transform: uppercase;
        }
        .edit-adress-wrap {
          max-width: 460px;
          input {
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            border: none;
            color: white;
            text-align: center;
            margin-top: 18px;
          }
        }
      }
    }
  }
}

.edit-button {
  background: #0c0c0c;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 34px;
  right: 20px;
  box-shadow: 1px 1px 5px #383838;
}

.step3 .next-btn.cta-button::before {
  display: none;
}

.step3 button {
  position: relative!important;
  top: 50px;
}

.deposit-modal-body {
  width: 100%;
  padding: 10px 30px 80px 30px;
  position: relative!important;
}


button.next-btn.visible:disabled {
  background: #111!important;
}

.step2 {
  width: 100%!important;
}

button.back-btn.visible {
  background-color: black!important;
  background-image: none!important;
  left: 27px!important;
  position: absolute;
}

.veticka {
  position: absolute;
  bottom:7px;
  left:calc(50% - 100px);
}

@media screen and (max-width: 1650px) {
  .a-balance {
    width: 270px;
    .addres-panel{
      height: 100px;
    }
    h2 {
      font-size: 14px;
      margin-top: 11px;
      &.top-heading{
        margin-top: 13px;
      }
    }
    .right-cont {
      .own-coins {
        .my-item {
          img {
            width: 48px;
          }
          p {
            font-size: 22px;
          }
        }
      }
    }
  }
  .curr-table {
    width: calc(100% - 290px);
    .table-item {
      margin-bottom: 38px;
      &:last-child{
        margin-bottom: 15px;
      }
      .stat-item {
        width: 80px;
        &.big {
          width: 110px;
        }
        &.btns {
          width: 182px;
          button {
            width: 89px;
            padding: 9px 4px;
            font-size: 12px;
            &.exchange-btn {
              margin-left: 2px;
            }
          }
        }
        p {
          font-size: 14px;
        }
        &.curr {
          p {
            img {
              width: 45px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1420px) {
  .a-balance {
    width: 240px;
    h2 {
      font-size: 12px;
      margin-top: 10px;
    }
    .right-cont {
      .own-coins {
        margin-top: 5px;
        .my-item {
          img {
            width: 38px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
  .curr-table {
    width: calc(100% - 255px);
    .table-item {
      margin-bottom: 21px;
      &:last-child{
        margin-bottom: 10px;
      }
      .stat-item {
        width: 67px;
        &.big {
          width: 93px;
        }
        &.btns {
          width: 160px;
          button {
            width: 78px;
            padding: 7px 2px;
            font-size: 10px;
            &.exchange-btn {
              margin-left: 2px;
            }
          }
        }
        p {
          font-size: 12px;
        }
        &.curr {
          p {
            img {
              width: 40px;
            }
          }
        }
      }
    }
  }
  .circle-container{
    width: 100px;
    height: 100px;
  }
  #yourCavasId{
    width: 100px !important;
    height: 100px !important;
  }
  .price{
    font-size: 14px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1270px) {
  .a-balance {
    width: 225px;
    h2 {
      font-size: 12px;
      margin-top: 10px;
    }
    .right-cont {
      .svg-item {
        width: 120px;
        margin: 20px auto;
      }
      .own-coins {
        .my-item {
          img {
            width: 40px;
          }
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
  .curr-table {
    width: calc(100% - 240px);
    .table-item {
      margin-bottom: 12px;
      &.header {
        padding: 4px;
        margin-bottom: 7px;
      }
      .stat-item {
        &.big {
          width: 81px;
        }
        &.btns {
          width: 136px;
          button {
            width: 58px;
            padding: 5px 2px;
            font-size: 8px;
            &.exchange-btn {
              margin-left: 5px;
            }
            img {
              width: 10px;
            }
          }
        }
        p {
          font-size: 10px;
        }
        &.curr {
          p {
            img {
              width: 35px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .a-balance {
    width: 420px;
    margin: 0 auto;
    .right-cont {
      display: flex;
      justify-content: center;
      align-items: center;
      .grapha {
        width: 150px;
      }
      .own-coins {
        width: 200px;
        margin-top: 0;
        margin-left: 15px;
      }
    }
  }
  .curr-table {
    width: 90%;
    margin: 20px auto;
    .table-item {
      margin-bottom: 15px;
      .stat-item {
        width: 80px;
        &.big {
          width: 110px;
        }
        &.btns {
          width: 160px;
          button {
            width: 78px;
            padding: 7px 2px;
            font-size: 10px;
            &.exchange-btn {
              margin-left: 2px;
            }
          }
        }
        p {
          font-size: 14px;
        }
        &.curr {
          p {
            img {
              width: 40px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .a-balance {
    width: 300px;
    .right-cont {
      display: block;
      .grapha {
        width: 100%;
      }
      .own-coins {
        width: 100%;
        margin-left: 0;
        margin-top: 25px;
      }
    }
  }
  .curr-table {
    width: 100%;
    .table-item {
      margin-bottom: 12px;
      &.header {
        padding: 4px;
        margin-bottom: 7px;
      }
      .stat-item {
        &.big {
          width: 81px;
        }
        &.btns {
          width: 136px;
          button {
            width: 58px;
            padding: 5px 2px;
            font-size: 8px;
            &.exchange-btn {
              margin-left: 5px;
            }
            img {
              width: 10px;
            }
          }
        }
        p {
          font-size: 10px;
        }
        &.curr {
          p {
            img {
              width: 35px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .curr-table {
    .table-item {
      .stat-item {
        width: 60px;
        &.btns {
          width: 85px;
          button {
            font-size: 12px;
            width: 38px;
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .curr-table {
    .table-item {
      margin-bottom: 12px;
      &.header {
        padding: 4px;
        margin-bottom: 7px;
      }
      .stat-item {
        width: 48px;
        &.btns {
          width: 65px;
          button {
            width: 28px;
          }
        }
        &.big {
          width: 65px;
        }
        p {
          font-size: 8px;
        }
        &.curr {
          padding-left: 5px;
          p {
            img {
              width: 30px;
            }
          }
        }
      }
    }
  }
}
