<div
  [ngClass]="{ 'filter-overlay-active': mobileFilter === true }"
  class="filter-overlay"
></div>
<div
  *ngIf="marketState === 1"
  (window:resize)="width()"
  class="shop-section"
  #myScroll2
>
  <div class="shop-header">
    <div *ngIf="display <= 1350" class="filter-mobile">
      <div class="filter-tit">
        <h2 class="f">{{ title }}</h2>
      </div>
      <div class="filter-img">
        <img
          [ngClass]="{ 'filter-unfilled': mobileFilter === true }"
          class="red-star"
          (click)="filterMobile()"
          src="assets/base/images/market/filter-red.svg"
          alt="Red empty filter icon"
        />
        <img
          [ngClass]="{ 'filter-unfilled': mobileFilter === false }"
          class="red-star"
          (click)="filterMobile()"
          src="assets/base/images/market/filter-full-red.svg"
          alt="Red full filter icon"
        />
        <img
          [ngClass]="{ 'filter-unfilled': mobileFilter === true }"
          class="blue-star"
          (click)="filterMobile()"
          src="assets/base/images/market/filter-blue.svg"
          alt="Blue empty filter icon"
        />
        <img
          [ngClass]="{ 'filter-unfilled': mobileFilter === false }"
          class="blue-star"
          (click)="filterMobile()"
          src="assets/base/images/market/filter-full-blue.svg"
          alt="Blue full filter icon"
        />
      </div>
      <div
        [ngClass]="{ 'filter-content-active': mobileFilter === true }"
        class="filter-content"
      >
        <div class="item-title"><h3>Filter</h3></div>
        <div
          [ngClass]="{ 'item-active': carsActive === true }"
          class="item"
          (click)="filterCars()"
        >
          <p>Cars</p>
          <div class="checkbox">
            <img
              class="red-star"
              src="assets/base/images/market/check-red.svg"
              alt="Red check icon"
            /><img
              class="blue-star"
              src="assets/base/images/market/check-blue.svg"
              alt="Blue check icon"
            />
          </div>
        </div>
        <div
          [ngClass]="{ 'item-active': racersActive === true }"
          class="item"
          (click)="filterRacers()"
        >
          <p>Racers</p>
          <div class="checkbox">
            <img
              class="red-star"
              src="assets/base/images/market/check-red.svg"
              alt="Red check icon"
            /><img
              class="blue-star"
              src="assets/base/images/market/check-blue.svg"
              alt="Blue check icon"
            />
          </div>
        </div>

        <div
          [ngClass]="{ 'item-active': tracksActive === true }"
          class="item"
          (click)="filterTracks()"
        >
          <p>Tracks</p>
          <div class="checkbox">
            <img
              class="red-star"
              src="assets/base/images/market/check-red.svg"
              alt="Red check icon"
            /><img
              class="blue-star"
              src="assets/base/images/market/check-blue.svg"
              alt="Blue check icon"
            />
          </div>
        </div>
        <div
          [ngClass]="{ 'item-active': teamsActive === true }"
          class="item"
          (click)="filterTeams()"
        >
          <p>Teams</p>
          <div class="checkbox">
            <img
              class="red-star"
              src="assets/base/images/market/check-red.svg"
              alt="Red check icon"
            /><img
              class="blue-star"
              src="assets/base/images/market/check-blue.svg"
              alt="Blue check icon"
            />
          </div>
        </div>
        <div
          [ngClass]="{ 'item-active': specialActive === true }"
          class="item"
          (click)="filterSpecial()"
        >
          <p>Special</p>
          <div class="checkbox">
            <img
              class="red-star"
              src="assets/base/images/market/check-red.svg"
              alt="Red check icon"
            /><img
              class="blue-star"
              src="assets/base/images/market/check-blue.svg"
              alt="Blue check icon"
            />
          </div>
        </div>
        <div
          [ngClass]="{ 'item-active': allActive === true }"
          class="item"
          (click)="filterAll()"
        >
          <p>All products</p>
          <div class="checkbox">
            <img
              class="red-star"
              src="assets/base/images/market/check-red.svg"
              alt="Red check icon"
            /><img
              class="blue-star"
              src="assets/base/images/market/check-blue.svg"
              alt="Blue check icon"
            />
          </div>
        </div>
        <button class="my-cta-btn-back hoverable" (click)="filterMobile()">
          Apply
        </button>
      </div>
    </div>
    <div *ngIf="display > 1350" class="filter-featured">
      <div class="filter-title">
        <p>Filters</p>
      </div>
      <div class="filter-boxes">
        <div>
          <div
            (click)="filterCars()"
            [ngClass]="{
              'filter-active': carsActive === true
            }"
            class="filter-box"
          ></div>
          <p (click)="filterCars()">Cars</p>
        </div>
        <div>
          <div
            (click)="filterRacers()"
            [ngClass]="{
              'filter-active': racersActive === true
            }"
            class="filter-box"
          ></div>
          <p (click)="filterRacers()">Racers</p>
        </div>

        <div>
          <div
            (click)="filterTracks()"
            [ngClass]="{
              'filter-active': tracksActive === true
            }"
            class="filter-box"
          ></div>
          <p (click)="filterTracks()">Tracks</p>
        </div>
        <div>
          <div
            (click)="filterTeams()"
            [ngClass]="{
              'filter-active': teamsActive === true
            }"
            class="filter-box"
          ></div>
          <p (click)="filterTeams()">Teams</p>
        </div>
        <div>
          <div
            (click)="filterSpecial()"
            [ngClass]="{
              'filter-active': specialActive === true
            }"
            class="filter-box"
          ></div>
          <p (click)="filterSpecial()">Special</p>
        </div>
        <div>
          <div
            (click)="filterAll()"
            [ngClass]="{
              'filter-active': allActive === true
            }"
            class="filter-box"
          ></div>
          <p (click)="filterAll()">All</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-section-center" #myScroll>
    <p *ngIf="newProducts.length === 0 && !teamsActive" class="info-message">
      You don't have any products, you can buy them in
      <span [routerLink]="['/car/nft-market']" class="red-box-detail"
        >market</span
      >
      <span [routerLink]="['/car/nft-market']" class="blue-box-detail"
        >market</span
      >.
    </p>
    <p *ngIf="newProducts.length === 0 && teamsActive" class="info-message">
      Coming soon.
    </p>
    <div *ngIf="newProducts.length > 0" class="boxes">
      <div
        *ngFor="let item of newProducts | slice: sliceStart:sliceMiddle"
        class="box my-box-shadow"
      >
        <div class="owned my-border-grad-reverse-top">
          <div class="inner-owned">
            <p class="owned-text">
              Owned
              <span class="red-box-detail">{{ item["amount"].length }}</span>
              <span class="blue-box-detail">{{ item["amount"].length }}</span>
            </p>
          </div>
        </div>
        <div class="boximage">
          <img
            class="img"
            *ngIf="item['type'] === 'car'"
            [src]="'/assets/base/images/nft-cars/' + item['image'] + '.png'"
            [alt]="item['alt']"
          />

          <img
            class="img"
            *ngIf="item['type'] === 'racer'"
            [src]="'/assets/base/images/nft-racers/' + item['image'] + '.png'"
            [alt]="item['alt']"
          />
          <img
            class="img"
            *ngIf="item['type'] === 'track'"
            [src]="
              '/assets/base/images/home-page/' + item['image'] + '-small.png'
            "
            [alt]="item['alt']"
          />

          <img
            class="img"
            *ngIf="item['type'] === 'team'"
            [src]="
              '/assets/base/images/home-page/' + item['image'] + '-small.png'
            "
            [alt]="item['alt']"
          />
          <img
            class="img special"
            *ngIf="item['type'] === 'special'"
            [src]="'/assets/base/images/home-page/' + item['image'] + '.png'"
            [alt]="item['alt']"
          />
        </div>
        <div class="txt">
          <p [ngClass]="{ gold: item['rare'] === true }" class="collection">
            {{ item["collection"] }}
          </p>

          <p *ngIf="item['type'] === 'team'" class="namefont">
            Team {{ item["name"] }}
          </p>
          <p *ngIf="item['type'] != 'team'" class="namefont">
            {{ item["name"] }}
          </p>

          <p class="prize">{{ item["prize"] }}</p>
          <button
            (click)="
              showAsset(item['id'], item['type'], item['amount'].length);
              scrollTop(myScroll2)
            "
            class="my-cta-btn-back my-box-shadow"
            *ngIf="item['type'] != 'team'"
          >
            See details
          </button>
          <button
            class="my-cta-btn-back my-box-shadow"
            [ngStyle]="{ opacity: '0.3' }"
            *ngIf="item['name'] != 'Team You' && item['type'] === 'team'"
          >
            Sold out
          </button>
          <button
            class="my-cta-btn-back my-box-shadow"
            *ngIf="item['name'] === 'Team You' && item['type'] === 'team'"
            (click)="
              showAsset(item['id'], item['type'], item['amount'].length);
              scrollTop(myScroll2)
            "
          >
            See details
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="newProducts.length > inRow">
    <div class="pages">
      <div class="page-left">
        <button
          (click)="prevPageCars(); resetPageArrowLeft(); scrollTop(myScroll)"
          [disabled]="sliceStart <= 0"
          class="pagebtn-l"
        >
          <img
            class="red-box-detail"
            [ngClass]="{ 'page-opacity': sliceStart === 0 }"
            src="/assets/base/images/home-page/arrowleftred.png"
            alt="arrow left"
          />
          <img
            class="blue-box-detail"
            [ngClass]="{ 'page-opacity': sliceStart === 0 }"
            src="/assets/base/images/home-page/arrowleftblue.png"
            alt="arrow left"
          />
        </button>
      </div>
      <div class="page-middle">
        <p>
          Page
          <span class="leftspan">{{ currentPage }} /</span>
          <span class="rightspan blue-box-detail">{{ lastPage }}</span>
          <span class="rightspan red-box-detail">{{ lastPage }}</span>
        </p>
      </div>
      <div class="page-right">
        <button
          (click)="nextPageCars(); resetPageArrowRight(); scrollTop(myScroll)"
          [disabled]="sliceMiddle >= newProducts.length"
          class="pagebtn-r"
        >
          <img
            class="red-box-detail"
            [ngClass]="{
              'page-opacity': sliceMiddle >= this.newProducts.length
            }"
            src="/assets/base/images/home-page/arrowrightred.png"
            alt="arrow rigth"
          />
          <img
            class="blue-box-detail"
            [ngClass]="{
              'page-opacity': sliceMiddle >= this.newProducts.length
            }"
            src="/assets/base/images/home-page/arrowrightblue.png"
            alt="arrow right"
          />
        </button>
      </div>
    </div>
  </ng-container>
</div>

<app-my-nft-detail
  *ngIf="marketState === 2"
  [assetId]="selectedId"
  [assetType]="selectedType"
  [owned]="owned"
  (marketState)="showAssetBuy($event)"
></app-my-nft-detail>
