<div
  *ngIf="marketState === 1"
  (window:resize)="width()"
  class="shop-section"
  #myScroll2
>
  <div class="title">
    <h1>{{ title }}</h1>
  </div>

  <div *ngIf="display <= 1350" class="filter-mobile">
    <div (click)="filterMobile()" class="filter-tit">
      <h1 class="f">Filters</h1>
      <h1 class="a"><i class="fa fa-sort-down"></i></h1>
    </div>
    <div
      [ngClass]="{ 'filter-content-active': mobileFilter === true }"
      class="filter-content"
    >
      <div (click)="filterCars(); filterMobile()"><p>Cars</p></div>
      <div (click)="filterRacers(); filterMobile()"><p>Racers</p></div>
      <div (click)="filterTracks(); filterMobile()"><p>Tracks</p></div>
      <div (click)="filterTeams(); filterMobile()"><p>Teams</p></div>
      <div (click)="filterSpecial(); filterMobile()"><p>Special</p></div>
      <div (click)="filterAll(); filterMobile()"><p>All</p></div>
    </div>
  </div>
  <div class="shop-header">
    <div *ngIf="display > 1350" class="filter-featured">
      <div class="filter-title">
        <p>Filters</p>
      </div>
      <div class="filter-boxes">
        <div>
          <div
            (click)="filterCars()"
            [ngClass]="{
              'filter-active': carsActive === true
            }"
            class="filter-box"
          ></div>
          <p>Cars</p>
        </div>
        <div>
          <div
            (click)="filterRacers()"
            [ngClass]="{
              'filter-active': racersActive === true
            }"
            class="filter-box"
          ></div>
          <p>Racers</p>
        </div>

        <div>
          <div
            (click)="filterTracks()"
            [ngClass]="{
              'filter-active': tracksActive === true
            }"
            class="filter-box"
          ></div>
          <p>Tracks</p>
        </div>
        <div>
          <div
            (click)="filterTeams()"
            [ngClass]="{
              'filter-active': teamsActive === true
            }"
            class="filter-box"
          ></div>
          <p>Teams</p>
        </div>
        <div>
          <div
            (click)="filterSpecial()"
            [ngClass]="{
              'filter-active': specialActive === true
            }"
            class="filter-box"
          ></div>
          <p>Special</p>
        </div>
        <div>
          <div
            (click)="filterAll()"
            [ngClass]="{
              'filter-active': allActive === true
            }"
            class="filter-box"
          ></div>
          <p>All</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-section-center" #myScroll>
    <div class="boxes">
      <div
        *ngFor="let item of newProducts | slice: sliceStart:sliceMiddle"
        class="box my-box-shadow"
      >
        <div class="owned my-border-grad">
          <div class="inner-owned">
            <p class="owned-text">
              Owned
              <span class="red-box-detail">{{ item["amount"].length }}</span>
              <span class="blue-box-detail">{{ item["amount"].length }}</span>
            </p>
          </div>
        </div>
        <div class="boximage">
          <img
            class="img"
            *ngIf="item['type'] === 'car'"
            [src]="'/assets/base/images/nft-cars/' + item['image'] + '.png'"
            alt=""
          />

          <img
            class="img"
            *ngIf="item['type'] === 'racer'"
            [src]="'/assets/base/images/nft-racers/' + item['image'] + '.png'"
            alt=""
          />
          <img
            class="img"
            *ngIf="item['type'] === 'track'"
            [src]="
              '/assets/base/images/home-page/' + item['image'] + '-small.png'
            "
            alt=""
          />

          <img
            class="img"
            *ngIf="item['type'] === 'team'"
            [src]="
              '/assets/base/images/home-page/' + item['image'] + '-small.png'
            "
            alt=""
          />
          <img
            class="img special"
            *ngIf="item['type'] === 'special'"
            [src]="'/assets/base/images/home-page/' + item['image'] + '.png'"
            alt=""
          />
        </div>
        <div class="txt">
          <p [ngClass]="{ gold: item['rare'] === true }" class="collection">
            {{ item["collection"] }}
          </p>
          <p
            *ngIf="item['type'] != 'racer' && item['type'] != 'team'"
            class="namefont"
          >
            {{ item["name"] }}
          </p>
          <p *ngIf="item['type'] === 'racer'" class="name">
            Racer
            <span
              [ngClass]="{ racername: item['type'] === 'racer' }"
              class="racername"
              >{{ item["name"] }}</span
            >
          </p>
          <p *ngIf="item['name'] === 'Team You'" class="namefont">
            {{ item["name"] }}
          </p>
          <p
            *ngIf="item['type'] === 'team' && item['name'] != 'Team You'"
            class="namefont"
          >
            <span
              *ngIf="item['name'] === 'BTC'"
              [ngStyle]="{ color: 'red' }"
              class=""
              >{{ item["name"] }}</span
            >
            <span
              *ngIf="item['name'] === 'IOI'"
              [ngStyle]="{ color: '#30cece' }"
              class=""
              >{{ item["name"] }}</span
            >
            <span
              *ngIf="item['name'] === 'ALT'"
              [ngStyle]="{ color: 'green' }"
              class=""
              >{{ item["name"] }}</span
            >
          </p>
          <p class="prize">{{ item["prize"] }}</p>
          <button
            (click)="
              showAsset(item['id'], item['type'], item['amount'].length);
              scrollTop(myScroll2)
            "
            class="my-cta-btn-back my-box-shadow"
            *ngIf="item['type'] != 'team'"
          >
            See details
          </button>
          <button
            class="my-cta-btn-back my-box-shadow"
            [ngStyle]="{ opacity: '0.3' }"
            *ngIf="item['name'] != 'Team You' && item['type'] === 'team'"
          >
            Sold out
          </button>
          <button
            class="my-cta-btn-back my-box-shadow"
            *ngIf="item['name'] === 'Team You' && item['type'] === 'team'"
            (click)="
              showAsset(item['id'], item['type'], item['amount'].length);
              scrollTop(myScroll2)
            "
          >
            See details
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="newProducts.length > inRow">
    <div class="pages">
      <div class="page-left">
        <button
          (click)="prevPageCars(); resetPageArrowLeft(); scrollTop(myScroll)"
          [disabled]="sliceStart <= 0"
          class="pagebtn-l"
        >
          <img
            class="red-box-detail"
            [ngClass]="{ 'page-opacity': sliceStart === 0 }"
            src="/assets/base/images/home-page/arrowleftred.png"
            alt=""
          />
          <img
            class="blue-box-detail"
            [ngClass]="{ 'page-opacity': sliceStart === 0 }"
            src="/assets/base/images/home-page/arrowleftblue.png"
            alt=""
          />
        </button>
      </div>
      <div class="page-middle">
        <p>
          Page
          <span class="leftspan">{{ currentPage }} /</span>
          <span class="rightspan blue-box-detail">{{ lastPage }}</span>
          <span class="rightspan red-box-detail">{{ lastPage }}</span>
        </p>
      </div>
      <div class="page-right">
        <button
          (click)="nextPageCars(); resetPageArrowRight(); scrollTop(myScroll)"
          [disabled]="sliceMiddle >= newProducts.length"
          class="pagebtn-r"
        >
          <img
            class="red-box-detail"
            [ngClass]="{
              'page-opacity': sliceMiddle >= this.newProducts.length
            }"
            src="/assets/base/images/home-page/arrowrightred.png"
            alt=""
          />
          <img
            class="blue-box-detail"
            [ngClass]="{
              'page-opacity': sliceMiddle >= this.newProducts.length
            }"
            src="/assets/base/images/home-page/arrowrightblue.png"
            alt=""
          />
        </button>
      </div>
    </div>
  </ng-container>
</div>

<app-my-nft-detail
  *ngIf="marketState === 2"
  [assetId]="selectedId"
  [assetType]="selectedType"
  [owned]="owned"
  (marketState)="showAssetBuy($event)"
></app-my-nft-detail>
