<div class="main-holder">
  <div class="content">
    <img class="logo" src="/assets/base/images/welcome/trm2-logo.svg" alt="TRM2 logo" />
    <p class="title-big space">New era of Trade Race Manager begins soon</p>
    <button
      (click)="openLink('https://qorpo.co/traderacemanager2/home')"
      class="visit space"
    >
      Visit website
    </button>
    <img
      class="warning space-big"
      src="/assets/base/images/welcome/warning-icon.svg"
      alt="Warning icon"
    />
    <div class="text-holder space-small">
      <p class="text-normal">
        All assets from TRM1 will be automatically transferred to TRM2 with the
        game launch in Mid January. <br />
        Your assets can be found in your
        <span (click)="openLink('https://qorpo.finance')" class="bold linked"
          >QORPO Wallet</span
        >
        account beforehand. <br /><br />
        ALL ACCOUNTS FROM TRM1 WILL WORK IN TRM2 AS WELL.
      </p>
    </div>
  </div>
</div>
