* {
  color: #ffffff;
}
.space-big {
  margin-top: 90px;
}
.space {
  margin-top: 60px;
}
.space-small {
  margin-top: 30px;
}
.title-big {
  letter-spacing: 0.35em;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 36px;
  line-height: 135%;
}
.text-normal {
  font-weight: normal;
  font-size: 18px;
  line-height: 135%;
}
.bold {
  font-weight: bold !important;
}
span {
  &.linked {
    text-decoration: underline;
    cursor: pointer;
  }
}
.main-holder {
  position: relative;
  height: 100vh;
  min-height: 900px;
  background: url("/assets/base/images/welcome/car-back.png");
  background-position: 30% 50%;;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  .content {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo {
      height: 220px;
      margin-bottom: -30px;
    }
    .visit {
      cursor: pointer;
      transition: 0.25s;
      background: linear-gradient(
        236.12deg,
        #00f0ff 6%,
        #0098d9 102.68%,
        #0098d9 102.68%
      );
      border: none;
      padding: 13px 35px;
      font-size: 30px;
      font-family: Earth Orbiter;
      font-weight: 800;
      &:hover {
        filter: drop-shadow(0px 0px 15px #00d1ff);
      }
    }
    .warning {
      height: 50px;
    }
  }
}
@media screen and (max-width: 2000px) {
  .space-big {
    margin-top: 80px;
  }
  .space {
    margin-top: 50px;
  }
  .space-small {
    margin-top: 27px;
  }
  .title-big {
    font-size: 35px;
  }
  .text-normal {
    font-size: 16px;
  }
}
@media screen and(max-width: 1700px) {
  .space-big {
    margin-top: 70px;
  }
  .space {
    margin-top: 45px;
  }
  .space-small {
    margin-top: 25px;
  }
  .title-big {
    font-size: 33px;
  }
  .text-normal {
    font-size: 15px;
  }
  .main-holder {
    min-height: 800px;
    .content {
      .logo {
        height: 200px;
      }
      .visit {
        font-size: 25px;
      }
      .warning {
        height: 45px;
      }
    }
  }
}
@media screen and(max-width: 1550px) {
  .space-big {
    margin-top: 65px;
  }
  .space {
    margin-top: 40px;
  }
  .space-small {
    margin-top: 20px;
  }
  .title-big {
    font-size: 30px;
  }
  .text-normal {
    font-size: 14px;
  }
  .main-holder {
    min-height: 700px;
    .content {
      .logo {
        height: 180px;
      }
      .visit {
        font-size: 23px;
      }
      .warning {
        height: 40px;
      }
    }
  }
}
@media screen and(max-width: 1400px) {
  .main-holder {
    min-height: 650px;
  }
}
@media screen and(max-width: 1300px) {
  .space-big {
    margin-top: 60px;
  }
  .space {
    margin-top: 37px;
  }
  .space-small {
    margin-top: 15px;
  }
  .title-big {
    font-size: 28px;
    letter-spacing: 0.25em;
  }
  .text-normal {
    font-size: 13px;
  }
  .main-holder {
    min-height: 600px;
    .content {
      .logo {
        height: 160px;
      }
      .visit {
        font-size: 20px;
        padding: 9px 25px;
      }
      .warning {
        height: 35px;
      }
    }
  }
}
@media screen and(max-width: 1200px) {
  .main-holder {
    min-height: 550px;
  }
}
@media screen and(max-width: 1024px) {
  .main-holder {
    min-height: 100vh;
    height: auto;
  }
}
@media screen and(max-width: 640px) {
  .title-big {
    font-size: 26px;
  }
}
@media screen and(max-width: 400px) {
  .title-big {
    font-size: 22px;
    letter-spacing: 0.2em;
  }
}
