* {
  margin: 0px;
}
.dissapear-right-animation {
  animation: dissapear-right 0.3s linear;
  -webkit-animation: dissapear-right 0.3s linear;
}
.dissapear-left-animation {
  animation: dissapear-left 0.3s linear;
  -webkit-animation: dissapear-left 0.3s linear;
}
.engage-right-animation {
  animation: engage-right 0.3s linear;
  -webkit-animation: engage-right 0.3s linear;
}
.engage-left-animation {
  animation: engage-left 0.3s linear;
  -webkit-animation: engage-left 0.3s linear;
}
.paging-img {
  width: 21px;
}
@keyframes dissapear-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes dissapear-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes engage-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes engage-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

.detail-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 80%;
  width: 100%;
  .detail-text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 30%;

    .category-title-second {
      margin-top: 10%;
    }
    .races-desc {
      margin-top: 5%;
    }
    .text-buttons {
      height: 25%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 5%;
      .buy {
        img {
          height: 75%;
          margin-right: 5%;
        }
      }
      .left-btn {
        background: rgba(255, 255, 255, 0.05);
      }
      button {
        width: 45%;
        height: 35%;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
      }
      button:hover {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
        box-shadow: (0px 0px 15px rgba(255, 255, 255, 0.9));
      }
    }
  }
  .detail-image {
    height: 75%;
    width: 30%;
    position: relative;
    img {
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      &.car-gif {
        max-width: 110%;
        height: auto;
      }
      &.racer {
        max-width: 110%;
        height: auto;
      }
      &.track {
        max-width: 110%;
        height: auto;
      }
      &.special {
        max-width: 130%;
        height: auto;
      }
    }
  }
  .detail-abilities {
    height: 75%;
    width: 25%;
    .category-title-second {
      text-align: right;
    }
    .ability-boxes {
      height: 90%;
      margin-top: 10%;
      width: 100%;
      .ability-box {
        background: rgba(17, 17, 17, 0.8);
        width: 100%;
        display: flex;
        padding: 5%;
        align-items: center;
        img {
          height: 50%;
          margin-left: 5%;
        }
        .ability-text {
          margin-left: 10%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .races-desc {
            opacity: 0.5;
          }
        }
      }
      .cars {
        margin-top: 5%;
        height: 30%;
      }
      .racers {
        margin-top: 5%;
        height: 30%;
      }
      .tracks {
        margin-top: 4%;
        height: 22%;
      }
      .special {
        margin-top: 5%;
        height: 30%;
      }
      &.racers-more-boxes {
        .ability-box {
          img {
            height: 80%;
          }
        }

        .racers {
          margin-top: 4%;
          height: 22%;
        }
      }
      &.first {
        margin-top: 0%;
      }
    }
    &.bundles {
      height: 100%;
      width: 30%;
      .abilities-content {
        margin-top: 5%;
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .abilities-section {
          width: 100%;
          height: 42.5%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .image {
            width: 35%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .category-title-second {
              height: 10%;
            }
            .ability-image {
              height: 90%;
              &.ability-racer {
                min-width: 110%;
                max-width: 110%;
                height: auto;
              }
              &.ability-car {
                min-width: 170%;
                max-width: 170%;
                height: auto;
              }
            }
          }
          .text {
            width: 60%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .ability-box {
              background: rgba(17, 17, 17, 0.8);
              width: 100%;
              height: 35%;
              display: flex;
              align-items: center;
              img {
                height: 50%;
                margin-left: 5%;
              }
              &.second {
                margin-top: 5%;
              }
              .ability-text {
                margin-left: 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .races-desc {
                  opacity: 0.5;
                }
              }
            }
          }
        }
        .plus {
          height: 5%;
          width: 100%;

          display: flex;
          .category-title-third {
            width: 35%;
          }
        }

        .ability-desc {
          text-align: center;
        }
      }
    }
  }
}

.category-title-first {
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  font-family: "Earth Orbiter";
  white-space: nowrap;
}
.category-title-second {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  font-family: "Earth Orbiter";
}
.category-title-third {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
}
.races-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
@media screen and(max-width: 1700px) {
  .paging-img {
    width: 17px;
  }
}
@media screen and(max-width: 1550px) {
  .paging-img {
    width: 15px;
  }

  .category-title-first {
    font-size: 40px;
    line-height: 42px;
  }
  .category-title-second {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-third {
    font-size: 18px;
    line-height: 20px;
  }
  .races-desc {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and(max-width: 1400px) {
  .category-title-first {
    font-size: 35px;
    line-height: 37px;
  }
  .category-title-second {
    font-size: 18px;
    line-height: 20px;
  }
  .category-title-third {
    font-size: 16px;
    line-height: 18px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
  }
}
@media screen and(max-width: 1200px) {
}
@media screen and(max-width: 1024px) {
}

@media screen and (min-width: 2100px) and (min-height: 1081px) {
}
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .detail-content {
    .detail-text {
      .text-buttons {
        .buy {
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
  .category-title-first {
    font-size: 30px;
    line-height: 32px;
  }
  .category-title-second {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-third {
    font-size: 14px;
    line-height: 16px;
  }
  .races-desc {
    font-size: 8px;
    line-height: 10px;
  }
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  .category-title-first {
    font-size: 22px;
    line-height: 24px;
  }
  .category-title-second {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-third {
    font-size: 10px;
    line-height: 12px;
  }
  .races-desc {
    font-size: 6px;
    line-height: 8px;
  }
}
@media screen and(max-width: 640px) and (orientation: landscape) {
  .paging-img {
    width: 8.5px;
  }

  .category-title-first {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-second {
    font-size: 10px;
    line-height: 12px;
  }
  .category-title-third {
    font-size: 8px;
    line-height: 10px;
  }
  .races-desc {
    font-size: 4px;
    line-height: 6px;
  }
}
@media screen and(max-width: 1024px) and (orientation: portrait) {
  .detail-content {
    justify-content: unset;
    flex-direction: column;
    padding: 0px;
    height: auto;
    .detail-text {
      order: 2;
      width: 100%;
      height: auto;
      .text-buttons {
        button {
          height: 30px;
        }
      }
    }
    .detail-image {
      order: 1;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        position: relative;
        margin: 0 auto;
        left: 0%;
        top: 0%;
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
        &.car-gif {
          width: auto;
          max-width: 110%;
          height: 300px;
        }
        &.racer {
          width: auto;
          max-width: 110%;
          height: 300px;
        }
        &.track {
          width: auto;
          max-width: 110%;
          height: 200px;
        }
        &.special {
          width: auto;
          max-width: 90%;
        }
      }
    }
    .detail-abilities {
      order: 3;
      margin-top: 30px;
      height: auto;
      width: 100%;
      .ability-boxes {
        height: auto;
        margin-top: 20px;
        width: 100%;
        .ability-box {
          background: rgba(17, 17, 17, 0.8);
          width: 100%;
          display: flex;
          padding: 0;
          align-items: center;
          img {
            height: 50%;
            margin-left: 5%;
          }
          .ability-text {
            margin-left: 10%;
          }
        }
        .cars {
          margin-top: 10px;
          height: 50px;
        }
        .racers {
          margin-top: 10px;
          height: 50px;
        }
        .tracks {
          margin-top: 10px;
          height: 50px;
        }
        .special {
          margin-top: 10px;
          height: 50px;
        }
        &.racers-more-boxes {
          .ability-box {
            img {
              height: 60%;
            }
          }

          .racers {
            margin-top: 10px;
            height: 50px;
          }
        }
      }
      &.bundles {
        height: 400px;
        width: 100%;
        .abilities-content {
          margin-top: 5%;
          height: 85%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          .abilities-section {
            width: 100%;
            height: 42.5%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .image {
              width: 35%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              .category-title-second {
                height: 10%;
              }
              .ability-image {
                height: 90%;
                &.ability-racer {
                  min-width: 110%;
                  max-width: 110%;
                  height: auto;
                }
                &.ability-car {
                  min-width: 170%;
                  max-width: 170%;
                  height: auto;
                }
              }
            }
            .text {
              width: 60%;
              height: 80%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              .ability-box {
                background: rgba(17, 17, 17, 0.8);
                width: 100%;
                height: 35%;
                display: flex;
                align-items: center;
                img {
                  height: 50%;
                  margin-left: 5%;
                }
                &.second {
                  margin-top: 5%;
                }
                .ability-text {
                  margin-left: 10%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  .races-desc {
                    opacity: 0.5;
                  }
                }
              }
            }
          }
          .plus {
            height: 5%;
            width: 100%;

            display: flex;
            .category-title-third {
              width: 35%;
            }
          }

          .ability-desc {
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 640px) and (orientation: portrait) {
  .paging-img {
    width: 15px;
  }
  .category-title-first {
    font-size: 26px;
    line-height: 28px;
  }
  .category-title-second {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-third {
    font-size: 12px;
    line-height: 14px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
    opacity: 0.6;
  }
}

//BACK BUTTON
.content-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 80px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  img {
    width: 21px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.09em;
    font-family: "Earth Orbiter";
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

@media screen and(max-width: 1700px) {
  .content-title {
    img {
      width: 17px;
    }
    p {
      font-size: 26px;
    }
  }
}
@media screen and(max-width: 1550px) {
  .content-title {
    height: 65px;
    img {
      width: 15px;
    }
    p {
      font-size: 22px;
    }
  }
}
@media screen and(max-width: 1024px) {
  .content-title {
    img {
      width: 13px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content-title {
    height: 40px;
  }
}
@media screen and(max-width: 640px) and (orientation: landscape) {
  .content-title {
    img {
      width: 8.5px;
    }
    p {
      font-size: 9px;
      margin-left: 5px;
    }
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .content-title {
    img {
      width: 10px;
    }
    p {
      font-size: 17px;
    }
  }
}
