.detail-page {
  height: 100vh;
  background: #111111;
  overflow: hidden;
}
.hamburger {
  display: none;
}

.sign-in {
  z-index: 1;
  cursor: pointer;
  transition: 0.2s;
  outline: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: white;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: 200px;
  height: 65px;
  border-radius: 12px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  &.cars,
  &.tracks {
  }

  .btn-content {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    .txt1-span {
      margin-left: 20px;
    }
    img {
      margin-right: 20px;
    }
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
  }
}
.sign-in:hover {
  transform: translateX(-50%) scale(1.05);
  -webkit-transform: translateX(-50%) scale(1.05);
  -moz-transform: translateX(-50%) scale(1.05);
  -ms-transform: translateX(-50%) scale(1.05);
  -o-transform: translateX(-50%) scale(1.05);
}

.detail-racers {
  color: white;
  position: relative;
  padding: 10px;
  display: flex;
  margin-top: 7.5%;
  width: 100%;
  &.cars {
    margin-top: 5.5%;
    .detail-text {
      .detail-name {
        h1 {
          font-size: 48px;
          font-weight: 700;
          margin: 0;
        }
      }
      .detail-info {
        margin: 10px 0px 0px 0px;
        width: 100%;
      }
      .mobile-img {
        display: none;
        text-align: center;
      }
      .car-abilities {
        margin-top: 0px;
        width: 100%;
        h1 {
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
        }
        .ability-boxes {
          width: 100%;
          .ability-box {
            width: 100%;
            .heading {
              text-align: center;
              font-size: 16px;
              margin: 0;
              padding: 0;
            }
            .slider-holder {
              display: flex;
              justify-content: space-between;
              align-items: center;
              p {
                width: 80px;
                margin: 0;
                text-align: center;
              }
              .ab-slider {
                width: calc(100% - 170px);
                border-radius: 5px;
                background: rgba(51, 51, 51, 0.5);
                height: 10px;
                position: relative;
                box-shadow: 0px 1px 3px 0px rgb(255 255 255 / 50%);
                .inner-slider {
                  position: absolute;
                  left: 0;
                  top: 0;
                  height: 100%;
                  border-radius: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
  .detail-text {
    z-index: 1;
    > div {
      margin-top: 10px;
    }
    margin-top: -50px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .detail-name {
      margin: 0;
      position: relative;
      .name-font {
        position: absolute;
        font-family: True-Lies;
        font-style: normal;
        font-weight: normal;
        left: 65px;
        top: 5px;
        font-size: 80px;
        line-height: 65px;
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
      }
      .name-carfont {
        font-family: True-Lies;
        font-style: normal;
        font-weight: normal;
        left: 65px;
        top: 5px;
        font-size: 80px;
        line-height: 65px;
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
      }
    }
    .detail-info {
      margin: 90px 0 30px;
      width: 110%;
      h1 {
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
      }
      p {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        opacity: 0.6;
        color: #ffffff;
      }
    }
    .detail-abilities {
      h1 {
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
      }
      width: 120%;
      > div {
        display: flex;
        flex-wrap: wrap;

        > div {
          width: 30%;
          margin: 15px;
          display: flex;
          align-items: center;
          .ability-image {
            width: 80px;
            position: relative;
            button {
              outline: none;
              border: 0;
              width: 80px;
              height: 80px;
              border-radius: 10px;
              font-style: normal;
              font-weight: 300;
              font-size: 30px;
              line-height: 45px;
              color: #ffffff;
            }
          }
          .ability-type {
            position: relative;
            width: 100%;
            padding: 0 0px 0px 20px;
            h1 {
              font-weight: 600;
              font-size: 20px;
              line-height: 30px;
              margin: 0;
            }
            p {
              margin: 0;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;

              color: #ffffff;

              opacity: 0.6;
            }
          }
        }
      }
    }
  }
  .detail-image {
    position: relative;
    width: 40%;
    > div {
      position: relative;
      height: 100%;
      width: 100%;
      img {
        transition: 0.2s;
        position: absolute;
        top: 40%;
        left: 50%;
        max-width: 130%;
        width: 400px;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.detail-cars {
  color: white;
  position: relative;
  padding: 10px;
  display: flex;
  margin-left: 12.5%;
  margin-top: 7.5%;
  height: 60%;
  width: 75%;
  .detail-text {
    z-index: 1;
    > div {
      margin-top: 10px;
    }
    margin-top: -50px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .back {
      width: fit-content;
      p {
        outline: none;
        cursor: pointer;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        color: #ffffff;

        opacity: 0.2;
      }
    }
    .detail-name {
      margin-top: 20px;
      position: relative;
      height: 20%;
      .racer {
      }
      .name-nofont {
        font-size: 50px;
      }
    }
    .detail-info {
      height: 30%;
      width: 80%;
      h1 {
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */
        color: #ffffff;
      }
      p {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;

        color: #ffffff;
      }
    }
  }
  .detail-image {
    position: relative;
    width: 40%;
    > div {
      position: relative;
      height: 100%;
      width: 100%;
      img {
        transition: 0.2s;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        transform: translate(-50%, -50%);
      }
      img:hover {
        filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.5));
      }
    }
  }
}

@media screen and (max-width: 1800px) {
  .detail-racers {
    .detail-text {
      .detail-info {
        p {
          font-size: 17.5px;
        }
      }
    }
  }
}
@media screen and (max-width: 1700px) {
  .sign-in {
    font-size: 18px;
    img {
      width: 30px;
    }
    .txt-span {
    }
  }
  .detail-racers {
    margin-top: 6%;
    .detail-text {
      .detail-name {
        h1 {
          margin: 10px 0;
        }
        .name-font {
          font-size: 65px;
          left: 74px;
        }
      }
      .detail-info {
        width: 100%;
        margin: 75px 0 25px;
        h1 {
          font-size: 18px;
        }
        p {
          font-size: 17px;
          line-height: 1.5;
        }
      }
      .detail-abilities {
        h1 {
          font-size: 18px;
        }
        & > div {
          & > div {
            .ability-image {
              width: 70px;
              button {
                width: 70px;
                height: 70px;
              }
            }
            .ability-type {
              h1 {
                font-size: 18px;
                line-height: 25px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1550px) {
  .sign-in {
    width: 186px;
    height: 60px;
    font-size: 17px;
    right: -55px;
    &.cars {
      bottom: 50px;
    }
    img {
      width: 25px;
    }
  }
  .detail-racers {
    &.cars {
      .detail-text {
        .detail-name {
          h1 {
            font-size: 38px;
          }
        }
        .detail-info {
          margin: 15px 0 20px;
        }
        .car-abilities {
          h1 {
            margin: 0;
            font-size: 17px;
          }
          .ability-boxes {
            .ability-box {
              .heading {
                font-size: 15px;
              }
              .slider-holder {
                p {
                  font-size: 15px;
                }
                .ab-slider {
                  height: 8px;
                }
              }
            }
          }
        }
      }
    }
    .detail-text {
      .detail-name {
        h1 {
          margin: 7px 0;
          font-size: 21px;
        }
        .name-font {
          font-size: 57px;
          left: 80px;
        }
      }
      .detail-info {
        margin: 65px 0 22px;
        h1 {
          font-size: 17px;
        }
        p {
          font-size: 16px;
          line-height: 1.4;
        }
      }
      .detail-abilities {
        h1 {
          font-size: 17px;
        }
        & > div {
          & > div {
            .ability-image {
              width: 60px;
              button {
                width: 60px;
                height: 60px;
                font-size: 24px;
              }
            }
            .ability-type {
              h1 {
                font-size: 16px;
                line-height: 22px;
              }
              p {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .detail-racers {
    .detail-text {
      .detail-info {
        margin: 45px 0 0px;
      }
      .detail-abilities {
        h1 {
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
        }
        width: 110%;
        > div {
          flex-wrap: wrap;
          > div {
            width: 45%;
            margin: 1%;
            .ability-image {
              button {
                width: 57px;
                height: 57px;
                font-size: 22px;
              }
            }
          }
        }
      }
    }
    &.tracks {
      .detail-text {
        .detail-info {
          width: 90%;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .sign-in {
    .btn-content {
      left: 50%;
    }
    &.cars {
      transform: translateX(-50%);
    }
  }
  .detail-page {
    height: auto;

    background: #111111;
    overflow: hidden;
    position: relative;
  }
  .sign-in {
    z-index: 1;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: white;

    position: absolute;
    right: unset;
    top: unset;
    left: 50%;
    bottom: 3%;
    transform: none;
    transform: translateX(-50%);
    width: 292px;
    height: 70px;
    border-radius: 12px;
    &.cars {
      bottom: 10px;
    }

    .txt {
      margin-right: 10px;
    }
    .txt-span {
      margin-right: 0px;
    }
  }

  .detail-racers {
    color: white;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 100px;
    height: auto;
    width: 90%;
    &.cars {
      .detail-text {
        margin-top: 0;
        .detail-name {
          margin-top: 0;
        }
        .mobile-img {
          display: block;
        }
        .car-abilities {
          margin-bottom: 0px;
        }
      }
      .detail-image {
        height: 150px;
        & > div {
          img {
            display: none;
          }
        }
      }
    }
    &.tracks {
      .detail-text {
        .detail-info {
          width: 100%;
        }
      }
    }
    &.teams {
      .detail-image {
        .img {
          img {
            width: 300px;
          }
        }
      }
    }
    .detail-text {
      height: auto;
      z-index: 1;
      > div {
        margin-top: 10px;
      }
      margin-top: -50px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .detail-name {
        margin-top: -20px;
        position: relative;
        height: 30%;
        .name-font {
          position: absolute;
          font-family: True-Lies;
          font-style: normal;
          font-weight: normal;
          left: 0%;
          top: 5px;
          font-size: 55px;
          line-height: 65px;
          text-align: center;
          width: 100%;
          transform: rotate(-5deg);
          -webkit-transform: rotate(-5deg);
          -moz-transform: rotate(-5deg);
          -ms-transform: rotate(-5deg);
          -o-transform: rotate(-5deg);
        }
      }
      .detail-info {
        overflow: unset;
        height: auto;
        width: 100%;
        margin-top: 100px;
        h1 {
          font-size: 20px;
          line-height: 30px;
          /* identical to box height */
          color: #ffffff;
        }
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          color: #ffffff;
        }
      }
      .detail-abilities {
        position: absolute;
        top: 600px;
        width: 100%;
        height: auto;
        h1 {
          font-size: 20px;
          line-height: 30px;
          color: #ffffff;
        }
        > div {
          display: flex;
          flex-wrap: wrap;
          > div {
            width: 45%;
            margin: 1%;
            height: 100%;
            display: flex;
            .ability-image {
              width: 30%;
              position: relative;
              button {
                outline: none;
                border: 0;
                width: 80px;
                height: 80px;
                border-radius: 10px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 30px;
                line-height: 45px;
                /* identical to box height */

                color: #ffffff;
              }
            }
            .ability-type {
              position: relative;
              width: 70%;
              height: 80px;
              padding: 10px 0px 0px 20px;
              h1 {
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                margin: 0;
              }
              p {
                margin: 0;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;

                color: #ffffff;

                opacity: 0.6;
              }
            }
          }
        }
      }
    }
    .detail-image {
      height: 800px;
      position: relative;
      width: 100%;
      > div {
        position: relative;
        height: 100%;
        width: 100%;
        img {
          transition: 0.2s;
          position: absolute;
          top: 0px;
          left: 50%;
          width: 400px;
          transform: translate(-50%, 0%);
          -webkit-transform: translate(-50%, 0%);
          -moz-transform: translate(-50%, 0%);
          -ms-transform: translate(-50%, 0%);
          -o-transform: translate(-50%, 0%);
        }
        img:hover {
          filter: none;
        }
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .sign-in {
    width: 184px;
    height: 55px;
    font-size: 18px;
    bottom: 0;
  }
  .detail-racers {
    &.cars {
      .detail-image {
        height: 50px;
      }
      .detail-text {
        .car-abilities {
          margin-bottom: 90px;
          .ability-boxes {
            .ability-box {
              .slider-holder {
                .ab-slider {
                  width: calc(100% - 135px);
                }
                p {
                  width: 60px;
                }
              }
            }
          }
        }
      }
    }
    &.tracks {
      .detail-image {
        height: 850px;
      }
    }
    .detail-text {
      .detail-abilities {
        top: 620px;
        h1 {
          font-size: 19px;
          line-height: 30px;
          /* identical to box height */

          color: #ffffff;
        }
        width: 120%;
        height: 30%;
        > div {
          display: flex;
          flex-wrap: wrap;
          > div {
            width: 100%;
            margin: 10px 0px 10px 0px;
            height: 100%;
            display: flex;
            .ability-image {
              width: 100px;
              position: relative;
              button {
                outline: none;
                border: 0;
                width: 80px;
                height: 80px;
                border-radius: 10px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 30px;
                line-height: 45px;
                /* identical to box height */

                color: #ffffff;
              }
            }
            .ability-type {
              position: relative;
              width: 90%;
              height: 80px;
              padding: 10px 0px 0px 10px;
              h1 {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                margin: 0;
              }
              p {
                margin: 0;
                font-weight: normal;
                font-size: 15px;
                line-height: 15px;

                color: #ffffff;

                opacity: 0.6;
              }
            }
          }
        }
      }
    }
    .detail-image {
      height: 900px;
      & > div {
        img {
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .detail-racers {
    width: 100%;
    margin-left: 0;
    &.teams {
      .detail-text {
        .detail-abilities {
          top: 750px;
          .ability-boxes {
            .ability-box {
              .ability-type {
                width: 60%;
              }
            }
          }
        }
      }
    }
  }
}
