<div class="affiliate-page">
  <div class="affiliate-content">
    <div class="left-content">
      <div class="title">
        <p class="category-title-second title-small grey">Affiliate</p>
        <p class="category-title-big red">#RICH</p>
        <p class="category-title-big black">ARMY</p>
      </div>

      <p class="races-desc">
        Buy more, earn more. Becoming an affiliate partner has never been
        easier. The better racer you purchase, the higher will be your revenue
        from each purchase of every affiliate you bring on our platform!
      </p>
    </div>
    <div class="right-content">
      <div class="menu">
        <div
          (click)="title = 'common'"
          [ngClass]="{ active: title === 'common' }"
          class="menu-item first"
        >
          <img src="assets/base/images/affiliate/red-star.svg" alt="red star" />
          <p class="category-title-first">Common</p>
        </div>
        <div
          [ngClass]="{ active: title === 'super' }"
          (click)="title = 'super'"
          class="menu-item"
        >
          <img
            src="assets/base/images/affiliate/red-star.svg"
            alt="red star"
          /><img
            src="assets/base/images/affiliate/red-star.svg"
            alt="red star"
          />
          <p class="category-title-first">Super</p>
        </div>
        <div
          (click)="title = 'epic'"
          [ngClass]="{ active: title === 'epic' }"
          class="menu-item"
        >
          <img
            src="assets/base/images/affiliate/red-star.svg"
            alt="red star"
          /><img
            src="assets/base/images/affiliate/red-star.svg"
            alt="red star"
          /><img
            src="assets/base/images/affiliate/red-star.svg"
            alt="red star"
          />
          <p class="category-title-first">Epic</p>
        </div>
        <div
          (click)="title = 'legendary'"
          [ngClass]="{ active: title === 'legendary' }"
          class="menu-item"
        >
          <img
            src="assets/base/images/affiliate/red-star.svg"
            alt="red star"
          /><img
            src="assets/base/images/affiliate/red-star.svg"
            alt="red star"
          /><img
            src="assets/base/images/affiliate/red-star.svg"
            alt="red star"
          /><img
            src="assets/base/images/affiliate/red-star.svg"
            alt="red star"
          />
          <p class="category-title-first">Legendary</p>
        </div>
      </div>
      <div *ngIf="title === 'common'" class="category-content">
        <div
          [ngClass]="{
            'engage-right-animation': animation === 0,
            'dissapear-left-animation': animation === 1,
            'dissapear-right-animation': animation === 3,
            'engage-left-animation': animation === 2
          }"
          class="content"
        >
          <div class="avatar-image">
            <img
              src="assets/base/images/nft-racers/rookie-basic.png"
              alt="white non-nft avatar"
            />
          </div>
          <div class="content-text">
            <p class="category-title-second">Common</p>
            <p class="races-desc">
              As NON NFT avatar you will gain 3% of price from each NFT any of
              your affiliate member buy.
            </p>
            <div class="abilities">
              <div class="ability first">
                <div class="value flex-div">
                  <p class="category-title-fourth">3%</p>
                </div>
                <div class="desc flex-div">
                  <p class="category-title-fifth">Affiliate</p>
                </div>
              </div>
            </div>
            <button (click)="joinTelegram()" class="buy category-title-third">
              Join Rich Army
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="title === 'super'" class="category-content">
        <div
          [ngClass]="{
            'engage-right-animation': animation === 0,
            'dissapear-left-animation': animation === 1,
            'dissapear-right-animation': animation === 3,
            'engage-left-animation': animation === 2
          }"
          class="content"
        >
          <div class="avatar-image">
            <img
              class="first"
              src="assets/base/images/nft-racers/white-trm.png"
              alt="white nft avatar"
            />
            <img
              class="second"
              src="assets/base/images/nft-racers/red-trm.png"
              alt="red nft avatar"
            />
            <img
              class="third"
              src="assets/base/images/nft-racers/blue-trm.png"
              alt="blue nft avatar"
            />
            <img
              class="fourth"
              src="assets/base/images/nft-racers/black-trm.png"
              alt="black nft avatar"
            />
          </div>
          <div class="content-text">
            <p class="category-title-second">SUPER</p>
            <p class="races-desc">
              As NFT avatar you will gain 10% of price from each NFT any of your
              affiliate member buy. What means your investment can be
              recuperated in a very short time.
            </p>
            <div class="abilities">
              <div class="ability first">
                <div class="value flex-div">
                  <p class="category-title-fourth">10%</p>
                </div>
                <div class="desc flex-div">
                  <p class="category-title-fifth">Affiliate</p>
                </div>
              </div>
            </div>
            <button (click)="joinTelegram()" class="buy category-title-third">
              Join Rich Army
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="title === 'epic'" class="category-content">
        <div
          [ngClass]="{
            'engage-right-animation': animation === 0,
            'dissapear-left-animation': animation === 1,
            'dissapear-right-animation': animation === 3,
            'engage-left-animation': animation === 2
          }"
          class="content"
        >
          <div class="avatar-image">
            <img
              class="second"
              src="assets/base/images/nft-racers/bad-boy.png"
              alt="mrs rich nft avatar"
            />
            <img
              class="third"
              src="assets/base/images/nft-racers/lady-rich.png"
              alt="lady rich nft avatar"
            />
            <img
              class="fourth"
              src="assets/base/images/nft-racers/mrs-rich.png"
              alt="rich jr nft avatar"
            />
          </div>
          <div class="content-text">
            <p class="category-title-second">EPIC</p>
            <p class="races-desc">
              As NFT avatar you will gain 15% of price from each NFT any of your
              affiliate member buy. What means your investment can be
              recuperated in a very short time.
            </p>
            <div class="abilities">
              <div class="ability first">
                <div class="value flex-div">
                  <p class="category-title-fourth">15%</p>
                </div>
                <div class="desc flex-div">
                  <p class="category-title-fifth">Affiliate</p>
                </div>
              </div>
            </div>
            <button (click)="joinTelegram()" class="buy category-title-third">
              Join Rich Army
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="title === 'legendary'" class="category-content">
        <div
          [ngClass]="{
            'engage-right-animation': animation === 0,
            'dissapear-left-animation': animation === 1,
            'dissapear-right-animation': animation === 3,
            'engage-left-animation': animation === 2
          }"
          class="content"
        >
          <div class="avatar-image">
            <img
              src="assets/base/images/nft-racers/mr-rich.png"
              alt="mr rich nft avatar"
            />
          </div>
          <div class="content-text">
            <p class="category-title-second">LEGENDARY</p>
            <p class="races-desc">
              As NFT avatar you will gain 20% of price from each NFT any of your
              affiliate member buy. What means your investment can be
              recuperated in a very short time.
            </p>
            <div class="abilities">
              <div class="ability first">
                <div class="value flex-div">
                  <p class="category-title-fourth">20%</p>
                </div>
                <div class="desc flex-div">
                  <p class="category-title-fifth">Affiliate</p>
                </div>
              </div>
              <div class="ability">
                <div class="value flex-div">
                  <p class="category-title-fourth">18%</p>
                </div>
                <div class="desc flex-div">
                  <p class="category-title-fifth">APY</p>
                </div>
              </div>
            </div>

            <button (click)="joinTelegram()" class="buy category-title-third">
              Join Rich Army
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
