* {
  margin: 0px;
  color: black;
}
.dissapear-right-animation {
  animation: dissapear-right 0.3s linear;
  -webkit-animation: dissapear-right 0.3s linear;
}
.dissapear-left-animation {
  animation: dissapear-left 0.3s linear;
  -webkit-animation: dissapear-left 0.3s linear;
}
.engage-right-animation {
  animation: engage-right 0.3s linear;
  -webkit-animation: engage-right 0.3s linear;
}
.engage-left-animation {
  animation: engage-left 0.3s linear;
  -webkit-animation: engage-left 0.3s linear;
}

@keyframes dissapear-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes dissapear-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes engage-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes engage-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
.affiliate-page {
  display: flex;
  background: white;
  height: 100vh;
}
.affiliate-content {
  height: 60%;
  width: 80%;
  margin: 0 auto;
  margin-top: 15%;
  display: flex;
  justify-content: space-between;
  .left-content {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .grey {
      margin-bottom: -1%;
      opacity: 0.2;
    }
    .red {
      color: #ff183f;
    }
    .black {
      margin-top: -5%;
      text-align: right;
    }
    .races-desc {
      margin-top: 5%;
    }
  }
  .right-content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .menu {
      margin: 0 auto;
      width: 80%;
      height: 10%;
      display: flex;
      justify-content: space-between;
      .menu-item {
        transition: 0.3s;
        opacity: 0.2;
        cursor: pointer;
        align-items: center;
        display: flex;
        img {
          margin-left: 5px;
          width: 20px;
          height: auto;
        }
        p {
          margin-left: 10px;
        }
        &.active {
          opacity: 1;
        }
      }
      .menu-item:hover {
        opacity: 0.6;
      }
    }
    .category-content {
      height: 90%;
      margin: 0 auto;
      width: 90%;
      .content {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .avatar-image {
          position: relative;
          height: 100%;
          width: 40%;
          margin-right: 10%;
          img {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: auto;
            max-height: 100%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            &.first {
              left: 15%;
            }
            &.second {
              left: 35%;
            }
            &.third {
              left: 55%;
            }
            &.fourth {
              left: 75%;
            }
          }
        }

        .content-text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 40%;
          height: 60%;
          .races-desc {
            width: 75%;
          }
          .abilities {
            width: fit-content;

            display: flex;
            .ability {
              width: fit-content;
              overflow: hidden;
              border-radius: 12px;
              height: 100%;
              display: flex;
              margin-left: 5%;

              &.first {
                margin-left: 0%;
              }
              .flex-div {
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .value {
                padding: 10px 20px;
                background: #ff183f;

                .category-title-fourth {
                  color: white;
                  font-family: True-Lies;
                }
              }
              .desc {
                padding: 10px 20px;
                background: rgba(0, 0, 0, 0.05);
              }
            }
          }
          .buy {
            width: fit-content;
            border-radius: 12px;
            background: #ff183f;
            cursor: pointer;
            transition: 0.3s;
            padding: 10px 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
          }
          .buy:hover {
            transform: scale(1.01);
            -webkit-transform: scale(1.01);
            -moz-transform: scale(1.01);
            -ms-transform: scale(1.01);
            -o-transform: scale(1.01);
            box-shadow: (0px 0px 15px rgba(255, 255, 255, 0.9));
          }
        }
      }
    }
  }
}

.category-title-big {
  font-family: True-Lies;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
}
.category-title-first {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
}
.category-title-second {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
}
.category-title-third {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.category-title-fourth {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
}
.category-title-fifth {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
}
.races-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.8;
}
@media screen and(max-width: 1700px) {
}
@media screen and(max-width: 1550px) {
  .affiliate-content {
    .right-content {
      .menu {
        .menu-item {
          img {
            width: 12px;
            margin-left: 3px;
          }
        }
      }
    }
  }
  .category-title-big {
    font-size: 70px;
    line-height: 72px;
  }
  .category-title-first {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-second {
    font-size: 28px;
    line-height: 30px;
  }
  .category-title-third {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-fourth {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-fifth {
    font-size: 14px;
    line-height: 16px;
  }
  .races-desc {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and(max-width: 1400px) {
  .category-title-big {
    font-size: 50px;
    line-height: 52px;
  }
  .category-title-first {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-second {
    font-size: 26px;
    line-height: 28px;
  }
  .category-title-third {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-fourth {
    font-size: 10px;
    line-height: 12px;
  }
  .category-title-fifth {
    font-size: 10px;
    line-height: 12px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
  }
}
@media screen and(max-width: 1200px) {
}
@media screen and(max-width: 1024px) {
}

@media screen and (min-width: 2100px) and (min-height: 1081px) {
}
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .affiliate-content {
    .right-content {
      .menu {
        .menu-item {
          img {
            width: 8px;
            margin-left: 2px;
          }
        }
      }
      .category-content {
        .content {
          .content-text {
            .abilities {
              .ability {
                .value {
                  padding: 5px 15px;
                }
                .desc {
                  padding: 5px 15px;
                }
              }
            }
            .buy {
              padding: 5px 15px;
            }
          }
        }
      }
    }
  }
  .category-title-big {
    font-size: 40px;
    line-height: 42px;
  }
  .category-title-first {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-second {
    font-size: 24px;
    line-height: 26px;
  }
  .category-title-third {
    font-size: 10px;
    line-height: 12px;
  }
  .category-title-fourth {
    font-size: 9px;
    line-height: 10px;
  }
  .category-title-fifth {
    font-size: 9px;
    line-height: 10px;
  }
  .races-desc {
    font-size: 8px;
    line-height: 10px;
  }
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  .category-title-big {
    font-size: 30px;
    line-height: 32px;
  }
  .category-title-first {
    font-size: 8px;
    line-height: 10px;
  }
  .category-title-second {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-third {
    font-size: 9px;
    line-height: 11px;
  }
  .category-title-fourth {
    font-size: 7px;
    line-height: 8px;
  }
  .category-title-fifth {
    font-size: 7px;
    line-height: 8px;
  }
  .races-desc {
    font-size: 6px;
    line-height: 8px;
  }
}
@media screen and(max-width: 640px) and (orientation: landscape) {
  .category-title-big {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-first {
    font-size: 6px;
    line-height: 8px;
  }
  .category-title-second {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-third {
    font-size: 7px;
    line-height: 8px;
  }
  .category-title-fourth {
    font-size: 5px;
    line-height: 6px;
  }
  .category-title-fifth {
    font-size: 5px;
    line-height: 6px;
  }
  .races-desc {
    font-size: 4px;
    line-height: 6px;
  }
}
@media screen and(max-width: 1024px) and (orientation: portrait) {
  .affiliate-page {
    height: auto;
    min-height: 100vh;
  }
  .affiliate-content {
    width: 90%;
    margin-left: 5%;
    margin-top: 120px;
    flex-direction: column;
    .left-content {
      width: 100%;
      .title {
        width: 150px;
      }
    }
    .right-content {
      margin-top: 25px;
      width: 100%;
      .menu {
        overflow-x: scroll;
        width: 100%;
        justify-content: unset;
        .menu-item {
          text-align: center;
          flex-wrap: wrap;
          width: fit-content;
          justify-content: center;
          margin-left: 10px;
          &.first {
            margin-left: 0px;
          }
          p {
            margin-left: 0px;
          }
        }
      }
      .category-content {
        margin-top: 25px;
        width: 100%;
        height: 500px;
        justify-content: unset;

        .content {
          justify-content: unset;
          flex-direction: column;
          .avatar-image {
            margin-right: 0px;
            height: 50%;
            width: 100%;
            img {
              height: 100%;
              width: auto;
            }
          }
          .content-text {
            height: 30%;
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 640px) and (orientation: portrait) {
  .category-title-big {
    font-size: 40px;
    line-height: 42px;
  }
  .category-title-first {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-second {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-third {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-fourth {
    font-size: 11px;
    line-height: 13px;
  }
  .category-title-fifth {
    font-size: 11px;
    line-height: 13px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
    opacity: 0.6;
  }
}
