

.main-holder {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 67%,
    rgba(7, 7, 7, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  .form-holder {
    height: 410px;
    width: 100%;
    max-width: 366px;
    border-radius: 20px;
    border: 3px solid #c19859;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    padding-top: 30px;
    .top-sign {
      display: block;
      margin: 55px auto 0;
      width: 80%;
    }
    .top-msg {
      font-family: "Bungee";
      font-size: 30px;
      font-weight: 400;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      color: white;
      padding: 0 10px;
    }
    .panel {
      width: 100%;
      text-align: center;
      .my-input {
        width: 84%;
        margin: 0 auto 20px;
        input {
          background-color: transparent !important;
          background-image: url("/assets/base/images/login/input-border.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          border: none;
          padding: 10px;
          font-size: 22px;
          width: 100%;
          color: white;
          &::placeholder {
            font-family: "Bungee";
            font-size: 24px;
            font-weight: 700;
            opacity: 0.3;
          }
          &:focus {
            background-color: transparent !important;
          }
        }
      }
      .forgot-pass {
        a {
          text-decoration: none;
          font-size: 12px;
          font-family: "Bungee";
          color: white;
          transition: 0.2s;
          &:hover {
            color: #40e3f5;
          }
        }
      }
      .register-text {
        margin-top: 10px;
        padding: 0 10px;
        p {
          font-size: 19px;
          font-family: "Bungee";
          color: white;
          span {
            font-size: 19px;
            font-family: "Bungee";
            color: #ff12f1;
            cursor: pointer;
            width: 100%;
            display: block;
          }
        }
      }
      .cta-button {
        font-size: 32px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        font-weight: 700;
        text-shadow: none;
        white-space: nowrap;
        &::before {
          width: 345px;
          height: 131px;
          top: -40px;
          left: -106px;
          pointer-events: none;
          background-image: url("/assets/base/images/login/big-btn-back.png");
        }
        &.hoverable {
          &:hover {
            &::before {
              background-image: url("/assets/base/images/login/big-btn-active.png");
            }
          }
        }
      }
      .captcha-cont {
        width: 303px;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  :host {
    zoom: 160%;
  }
  .main-holder {
    .form-holder {
      width: 90%;
      height: unset;
      padding-bottom: 40px;
      .panel {
        .my-input {
          width: 80%;
        }
      }
    }
  }
  .captcha-cont {
    zoom: 120%;
    height: 100px;
  }
}
