



<div class="main-holder">
  <div class="form-holder">

    <form class="panel"  [formGroup]="reactiveForm">
      <div class="my-input">
        <input type="text" required formControlName="username" placeholder="EMAIL"  id="cvewssd943" name="vewf43nivwe" autocomplete="false"/>
      </div>
      <div class="my-input">
        <input type="password"  placeholder="PASSWORD"
             formControlName="password" id="cvew943" name="vewnivwe" autocomplete="false"/>
      </div>
      <div class="my-input" *ngIf="gauthfired === true">
        <input type="text" required [(ngModel)]="gkey" placeholder="AUTH CODE"
             [ngClass]="{ 'is-invalid': submitted  && gkey === '' }"
            [ngModelOptions]="{standalone: true}"/>
      </div>
      <p *ngIf="msg">{{msg.message.content}}</p>
   <!--   <div class="captcha-cont" *ngIf="disCap === false"><re-captcha formControlName="recaptchaReactive" class="speci-captcha"></re-captcha></div>
      <div class="captcha-cont" *ngIf="disCap === true"><re-captcha size="invisible" #invisible (resolved)="response = $event"></re-captcha></div>
   -->   <div class="forgot-pass"><a [routerLink]="['/user/forgot-password']">{{'login.forgot_pass' | translate}}</a></div>
      <div class="register-text"><p>You don't have an account? <span [routerLink]="['/user/sign-up']">register for free here</span></p></div>
      <button class="cta-button hoverable" (click)="submit()" 
      *ngIf="loading === false">{{'shared.log_in_btn' | translate}}</button>
         <button class="cta-button" *ngIf="loading === true" 
      disabled>Loading..</button>
    </form>
  </div>
</div>


