.background-black {
    background-color: black;
  }
  
  .main{
    position: unset;
    .top-back{
      width: 100%;
      height: 84px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(12, 12, 12, 0.6);
    }
  }
  
  .icon-button {
    background: transparent;
    border: 0;
    padding: 0;
    color: white;
  }
  
  .main .wallet {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 80px 0 0;
  }
  
  .main .wallet .icon-button {
    margin-right: 10px;
    display: flex;
  }
  
  .main .wallet .icon-button .icon {
    width: 14px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  
  .main .wallet .coin {
    color: #ff00ff;
    font-size: 14px;
  }
  
  .main .wallet .coin .amount {
    color: white;
    font-size: 14px;
    background-color: #1a0013;
    border-radius: 5px;
    padding: 0 5px;
  }
  
  .team-bonus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 -20px;
    padding: 0 65px 0 160px;
    width: 100%;
  }
  
  .team-bonus .label {
    color: white;
    font-size: 12px;
    color: #c1c1c1;
  }
  
  .team-bonus .button.primary {
    background-image: url(../../../../../assets/base/images/button-third-bg.png);
    font-size: 30.3px;
    line-height: 30.3px;
    padding: 5px 15px;
  }
  
  .logo {
    width: 124px !important;
    height: 62px !important;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    pointer-events: all;
  }
  
  .content-header-border-wrap {
    flex: 1;
    margin-top: 15px;
  }
  
  .content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  .content-header.item-list {
    display: flex;
    flex-direction: row;
    border-width: 1px 0;
    border-style: solid;
    -o-border-image: linear-gradient(
        to right,
        black,
        #ff00ff,
        #ff00ff,
        #ff00ff,
        black
      )
      1;
       border-image: linear-gradient(
        to right,
        black,
        #ff00ff,
        #ff00ff,
        #ff00ff,
        black
      )
      1;
  }
  
  .content-header.item:not(:first-child) {
    border-width: 0 0 0 1px;
    border-style: solid;
    -o-border-image: linear-gradient(
        to bottom,
        black,
        black,
        #ff00ff,
        #ff00ff,
        #ff00ff,
        black,
        black
      )
      1;
       border-image: linear-gradient(
        to bottom,
        black,
        black,
        #ff00ff,
        #ff00ff,
        #ff00ff,
        black,
        black
      )
      1;
  }
  
  .content-header.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    color: white;
    background-color: black;
    height: 130px;
    padding: 20px 0;
    position: relative;
    border: 0;
  }
  
  .content-header.item .button.primary {
    padding: 12px 34px;
    font-size: 18px;
  }
  
  .content-header.item .content {
    margin-bottom: 5px;
    -o-object-fit: contain;
       object-fit: contain;
    position: relative;
  }
  
  .content-header.item .text {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .content-header.item .label {
    font-size: 18px;
  }
  
  .content-header.item .icon-group {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content-header.item .icon {
    width: 20px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  
  .profile-button{
    position: relative;
    z-index: 10;
    margin-right: 17px;
    .profile-info{
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .profile-img{
        max-width: 43px;
        max-height: 43px;
        position: relative;
        top: -2px;
        box-shadow: 0 1px 0 rgba(124, 159, 187, 0.46), inset 0 2px 0 rgba(0, 0, 0, 0.13);
        border: 1px solid #0d3a62;
        background-color: #000000;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(42, 90, 130, 0.29) 100%);
        border-radius: 3px;
        overflow: hidden;
        img{
          // object-fit: cover;
          width: 100%;
          height: auto;
        }
      }
      .profile-stats{
        p{
          margin: 0 0 0 15px;
          &.name{
            background-image: linear-gradient(to bottom, #e3eaf0 0%, #d3dee7 100%);
            background-clip: text;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
            color: #ffffff;
            font-size: 16px;
            line-height: 1.2;
          }
          &.level{
            background-image: linear-gradient(to bottom, #e3eaf0 0%, #d3dee7 100%);
            background-clip: text;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
            font-size: 17px;
            font-weight: 500;
            line-height: 1;
            &.level1{
              color: #00fff0;
            }
            &.level2{
              color: white;
            }
            &.level3{
              color: #eeff00;
            }
            &.level4{
              color: #fc00ff;
            }
          }
        }
      }
    }
    &:hover + .logout-button{
      opacity: 1 !important;
      z-index: 10001 !important;
    }
  }
  
  .ticket-ico{
    margin-right: 18px;
    cursor: pointer;
    position: relative;
    z-index: 3;
    max-width: 42px;
    .number-ind{
      font-size: 10px;
      background-color: #ca1a1a;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      transform: translate(50%,-50%);
      width: 15px;
      height: 15px;
      text-align: center;
      font-weight: 700;
      color: white;
    }
    .desc{
      pointer-events: none;
      opacity: 0;
      transition: .3s;
      font-size: 15px;
      width: 109px;
      text-transform: uppercase;
      background-color: black;
      border: 1px solid #00fffc;
      border-radius: 5px;
      position: absolute;
      bottom: -10px;
      right: 0;
      margin: 0;
      transform: translateY(100%);
      text-align: center;
      font-weight: 700;
      color: white;
      line-height: 1;
      padding: 5px;
      .polygon{
        position: absolute;
        transform: rotate(90deg) translateX(-100%);
        top: -1px;
        width: 10px;
        right: 6px;
      }
    }
    &:hover{
      .desc{
        opacity: 1;
      }
    }
  }
  .team-chat-btn{
    margin-right: 18px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    opacity: 0.7;
    transition: .2s;
    &:hover{
      opacity: 0.8;
    }
  }
  
  .side-nav.item.active {
    background-color: #00ffff;
    .label{
      color: black;
      font-weight: bold;
    }
  }
  .side-nav.item:focus{
    box-shadow: -1px -1px 10px 1px rgba(0, 255, 255, 0.1);
  }
  
  app-root {
    width: 100%;
  }
  
  .team-bonus,
  .wallet,
  .content-header .icon-group {
    display: none !important;
  }
  
  .side-nav.item-list {
    position: fixed;
    z-index: 50;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    .menu-holder{
      min-width: 200px;
      max-width: 200px;
      margin-right: auto;
      min-height: 100vh;
      background-color: black;
      pointer-events: all;
      position: relative;
      left: 0;
      padding-top: 140px;
    }
  }
  .main-content-header {
    position: relative;
    top: 0;
    /* left: 0; */
    background-color: #000;
    z-index: 100;
    width: 100%;
    margin: 0 auto;
  }
  
  .main-content {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    padding-top: 0;
    width: 100%;
    padding-right: 0;
    margin-right: 0;
    flex: inherit;
  }
  
  a {
    cursor: pointer;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .logout-button button {
    background: black;
    color: white;
    border: 1px solid #ff00ff;
    border-radius: 3px;
    padding: 5px 2px;
    transition: box-shadow 0.3s;
    width: 48%;
    &:hover{
      box-shadow: 1px 1px 3px 0px #ff00ff;
    }
  }
  .logout-button {
    position: absolute;
    top: 65px;
    right: 5px;
    width: 134px;
    max-width: 134px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    .social-buttons{
      width: 100%;
      margin: 5px 0;
      display: flex;
      justify-content: space-between;
      a{
        text-decoration: none;
        opacity: 0.8;
        transition: 0.2s;
        img{
          width: 25px;
          padding: 3px;
        }
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  
  .info-item {
    width: 75px;
    height: 15px;
    color: #ffffff;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
  .button-group {
    width: 350px !important;
    margin: 0 auto !important;
    padding: 0 !important;
  }
  .ion-page {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: inherit;
    contain: inherit;
  }
  
  .main {
    background-color: #141414;
    margin: 0 auto;
  }
  
  
  
  .main-content .sub-content {
    background-color: black;
  }
  
  
  .landscape-view {
    display: none;
    margin: 0 auto;
  }
  
  .landscape-view .use {
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 60px;
    margin-top: 100px;
  }
  
  .landscape-view .soon {
    color: #cfcfcf;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    margin-top: 100px;
  }
  
  .edit-adress-wrap {
    width: 75%;
    margin: 10px auto;
  }
  .modal-body {
    .middle-part {
      display: flex;
      align-items: center;
      span {
        font-size: 14px;
        line-height: 33px;
  
        width: 75px;
        height: 33px;
        @media screen and (max-width: 640px) {
          width: 60px;
        }
      }
    }
    .qr-code {
      img {
        width: 180px;
        margin: 0 auto;
      }
    }
    .button {
      background-image: url("/assets/base/images/leaderboard/btn-back.png");
      background-position: top;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-color: transparent;
  
      text-decoration: none;
      color: white;
      display: block;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      &:hover {
        text-decoration: none;
        color: white;
        background-image: url("/assets/base/images/leaderboard/btn-back-active.png");
      }
    }
    .deposit-adress {
      text-align: center;
      .button {
        width: 115px;
        height: 46px;
        line-height: 46px;
        margin: 0 auto;
      }
      .transfer-text-input {
        width: 80%;
        margin: 20px 0 15px 0;
        text-align: center;
      }
    }
    .timer {
      text-align: center;
      p {
        margin: 15px;
        color: white;
      }
    }
    .final-ammount {
      p {
        margin-bottom: 10px;
        font-size: 22px;
        color: white;
        .ioi-logo {
          width: 40px;
          vertical-align: baseline;
        }
        .trx-logo {
          width: 22px;
          vertical-align: baseline;
        }
      }
    }
    .right-part {
      .available-balance {
        position: absolute;
        bottom: -30px;
        left: 0;
        color: #00c8fe;
        font-size: 0.9rem;
        span {
          color: white;
        }
      }
    }
  }
  .avaliable {
    color: white;
  }
  
  @media (min-width: 640px) {
    .modal-dialog {
      max-width: 534px;
      margin: 1.75rem auto;
    }
  }
  .my-modal-content--tokens {
    background: url("/assets/base/images/paymant-modal-back.png"),
      rgba(0, 0, 0, 0.9);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    height: 530px;
  }
  .my-modal-content--tokens .modal-header {
    border-bottom: none;
    padding: 20px 1rem;
    text-align: center;
  }
  .my-modal-content--tokens .my-modal-close {
    opacity: 1;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  .modal-header h2 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .modal-header h2 {
    display: block;
    width: 100%;
  }
  
  .modal-body {
    padding: 0.4rem 1.5rem;
    text-align: center;
  }
  
  .transfer-item {
    display: flex;
    justify-content: space-between;
    padding: 0.9rem 0.2rem;
    .left-part.token-type {
      width: 30%;
    }
    .ion-item {
      width: 100%;
      max-height: 36px;
      margin-top: 0.5rem;
      padding: 0;
      position: relative;
      text-transform: uppercase;
      border-radius: 4px;
      --background: transparent;
      border: 1px solid #00c8fe;
      --padding-start: 0;
      .ion-select {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        min-height: 34px;
        min-width: 100%;
        box-sizing: border-box;
        color: #00c8fe;
        padding-left: 16px;
        --placeholder-color: #00ffff;
        --placeholder-opacity: 0.2;
      }
    }
  }
  .transfer-item .left-part {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
  }
  .transfer-item .left-part img,
  .transfer-item .left-part p {
    align-self: center;
    font-size: 1.1rem;
    color: #00c8fe;
    font-weight: 400;
  }
  .transfer-item .left-part p {
    margin-left: 0.7rem;
    margin-bottom: 2px;
  }
  .transfer-item .right-part {
    width: 50%;
    position: relative;
  }
  
  .transfer-text-input {
    width: 100%;
    padding: 6px 15px 6px 25px;
    border-radius: 5px;
    background-color: black;
    border: 1px solid #00c8fe;
    color: #00c8fe;
    text-transform: uppercase;
    cursor: pointer;
  }
  .transfer-text-input:focus {
    outline: none;
  }
  .avaliable {
    position: absolute;
    bottom: -25px;
    left: 0;
    font-weight: 400;
    font-size: 0.9rem;
  }
  .avaliable span {
    color: #00c8fe;
  }
  
  .confirm-modal-btn {
    display: block;
    width: 105px;
    position: absolute;
    left: 49.7%;
    transform: translateX(-50%);
    bottom: -43px;
  }
  .confirm-modal-btn img {
    width: 100%;
  }
  
  .my-modal-content--tokens {
    .deposit-warning {
      width: 100%;
      margin-top: 20px;
      h1,
      h2 {
        color: white;
        text-align: center;
        font-size: 17px;
      }
      h2 {
        color: #fd00f5;
      }
    }
    .modal-header {
      h2 {
        color: #fd00f5;
      }
    }
  }
  .modal-body {
    .crypto-adress {
      text-transform: none !important;
    }
    .com-soon {
      font-size: 32px;
      color: white;
    }
  }
  .logout-button button.menu-deposit-btn{
    width: 100%;
    font-size: 18px;
    margin-top: 7px;
    background-color: #ff00ff;
    color: black;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px 7px;
    height: 40px;
    transition: box-shadow 0.3s;
  }
  
  .chat {
    position: fixed;
    bottom: 20px;
    width: 334px;
    height: 642px;
    z-index: 1000000;
    right: 30px;
  }
  button.xko {
    position: absolute;
    z-index: 1000000000;
    background: #3e3e3e;
    color: #828282;
    border-radius: 100%;
    border: 0;
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    left: 310px;
  }
  
  .chat_button {
    width: 68px;
    height: 52px;
    position: relative;
    background: none;
    border: none;
    z-index: 100;
    margin-right: 9px;
  }
  .contents{
    -webkit-overflow-scrolling: touch;
    // padding-top: 50px;
    padding-left: 200px;
    .nitro-wallet-button{
      font-size: 20px;
      line-height: 29px;
      text-align: center;
      margin: 10px auto;
      padding: 11px 7px;
      text-shadow: none;
      &::before{
        width: 198px;
        height: 70px;
        top: -10px;
        left: -26px;
      }
      &:hover{
        text-decoration: none;
        color: white;
      }
    }
  }
  
  .side-nav.item{
    .image{
      position: relative;
      img{
        opacity: 0;
      }
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      &.start-race-img{
        background-image: url('/assets/base/images/sidenav/joystick-white.png');
        width: 50px;
      }
      &.daily-tasks-img{
        background-image: url('/assets/base/images/sidenav/daily-task-white.png');
        width: 44px;
        margin-bottom: 5px;
      }
      &.garage-img{
        background-image: url('/assets/base/images/sidenav/car-white.png');
        img{
          max-width: 58px;
          margin-bottom: 20px;
        }
      }
      &.token-img{
        background-image: url('/assets/base/images/ioi.png');
        img{
          max-width: 56px;
          margin-bottom: 17px;
        }
      }
      &.lead-img{
        background-image: url('/assets/base/images/sidenav/leaderboard-white.png');
        margin-bottom: 5px;
        img{
          max-width: 60px;
        }
      }
      &.team-img{
        background-image: url('/assets/base/images/sidenav/men-white.png');
        margin-bottom: 3px;
        img{
          max-width: 56px;
        }
      }
      &.history-img{
        background-image: url('/assets/base/images/sidenav/his.png');
        width: 43px;
        position: relative;
        right: -3px;
      }
      &.aff-img{
        background-image: url('/assets/base/images/sidenav/man-money-white.png');
        width: 43px;
        margin-bottom: 2px;
      }
      &.prom-img{
        background-image: url('/assets/base/images/sidenav/white-ioi.png');
        width: 55px;
        margin-bottom: 10px;
      }
      &.wallet-img{
        background-image: url('/assets/base/images/sidenav/wallet-white.png');
        width: 42px;
      }
      &.reward-img{
        background-image: url('/assets/base/images/sidenav/reward.png');
        width: 43px;
        margin-bottom: 3px;
      }
    }
    &.active{
      .image{
        &.start-race-img{
          background-image: url('/assets/base/images/sidenav/joystick-active.png');
        }
        &.daily-tasks-img{
          background-image: url('/assets/base/images/sidenav/daily-task-active.png');
        }
        &.garage-img{
          background-image: url('/assets/base/images/sidenav/car-active.png');
        }
        &.token-img{
          background-image: url('/assets/base/images/sidenav/ioi-active.png');
        }
        &.lead-img{
          background-image: url('/assets/base/images/sidenav/leaderboard-active.png');
        }
        &.team-img{
          background-image: url('/assets/base/images/sidenav/men-active.png');
        }
        &.history-img{
          background-image: url('/assets/base/images/sidenav/his-active.png');
        }
        &.aff-img{
          background-image: url('/assets/base/images/sidenav/man-money-active.png');
        }
        &.prom-img{
          background-image: url('/assets/base/images/sidenav/white-ioi-active.png');
        }
        &.wallet-img{
          background-image: url('/assets/base/images/sidenav/wallet-active.png');
          width: 42px;
        }
        &.reward-img{
          background-image: url('/assets/base/images/sidenav/reward-active.png');
        }
      }
    }
  }
  
  .contents .side-nav.item-list .menu-holder{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
  }
  .side-nav.item-list {
    
  }
  
  
  .side-nav.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    color: white;
    background-color: black;
    width: 105px;
    height: 98px;
    margin: 8px 5px;
    padding: 0;
    border-radius: 10px;
    transition: .05s;
  }
  
  .side-nav.item .content{
    margin-bottom: 5px;
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 50px;
  }
  
  .side-nav.item .text {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .side-nav.item .label {
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 3px;
    line-height: 1.2;
  }
  
  .contents{
    flex-wrap: wrap;
    .top-menu{
      width: 100%;
      // display: flex;
      display: none;
      justify-content: flex-end;
      align-items: center;
      padding: 16px 0;
      position: relative;
      .my-balance{
        position: relative;
        z-index: 3;
        border-radius: 17px 60px 60px 17px;
        border: 1px solid #00fffc;
        background-color: #0c0c0c;
        margin: -12px 17px 9px 0;
        padding: 3px 60px 4px 2px;
        bottom: -8px;
        .balance{
          display: flex;
          justify-content: flex-end;
          img{
            margin-left: 7px;
          }
          span{
            color: white;
            font-size: 22px;
            line-height: 1;
            margin-left: 7px;
          }
          &.ioi{
            position: relative;
            right: -3px;
            img{
              width: 38px;
              position: relative;
              bottom: -2px;
              align-self: center;
            }
          }
          &.trx{
            margin-right: 18px;
            img{
              width: 18px;
              align-self: center;
            }
          }
        }
        .deposit-btn{
          width: 51px;
          height: 51px;
          box-shadow: 0 2px 4px rgba(64, 42, 42, 0.39);
          border: 1px solid #00fffb;
          background-color: #00fff0;
          background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
          border-radius: 50%;
          position: absolute;
          right: -1px;
          top: 0px;
          cursor: pointer;
          p{
            font-size: 54px;
            line-height: 54px;
            color: white;
            margin: 0;
            position: absolute;
            left: 52%;
            top: 49%;
            transform: translate(-50%, -50%);
          }
        }
      }
      .logout-button{
        z-index: -2;
        opacity: 0;
        transition: .2s;
        &:hover{
          opacity: 1;
          pointer-events: all;
          z-index: 10001;
        }
      }
    }
  }
  
  
  .right-part-holder {
    display: none;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    transition: 0.3s;
    width: 300px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #040404;
    z-index: 10000;
    border-radius: 30px 0 0 0;
    transform: translateX(100%);
    &.mobile-open{
      transform: translateX(0);
    }
    .close-icon{
      position: absolute;
      top: 23px;
      left: 17px;
      padding: 5px;
      cursor: pointer;
    }
  }
  .top-mobile-menu{
    height: 80px;
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    .mobile-logo{
      width: 90px !important;
      height: 46px !important;
      cursor: pointer;
    }
    .mobile-menu-switch{
      display: block;
      width: 70px;
      padding: 15px;
      z-index: 500;
      cursor: pointer;
      span{
        width: 100%;
        margin-bottom: 6px;
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 5px;
        background-color: #00ffff;
      }
    }
  }
  
  @media screen and (max-width: 1550px) {
    .logo{
      width: 105px !important;
      height: 52px !important;
      top: 40px;
    }
    .contents{
      padding-left: 180px;
    }
    .side-nav{
      &.item-list{
        .menu-holder{
          min-width: 180px;
          max-width: 180px;
          padding-top: 100px;
        }
      }
      &.item{
        width: 84px;
        height: 77px;
        .label{
          font-size: 13px;
          margin-bottom: 7px;
        }
        .content{
          max-width: 40px;
        }
        .image{
          &.start-race-img{
            width: 40px;
          }
          &.token-img{
            img{
              max-width: 56px;
              margin-bottom: 17px;
            }
          }
          &.lead-img{
            margin-bottom: 2px;
            img{
              max-width: 53px;
            }
          }
          &.team-img{
            margin-bottom: 0;
            img{
              max-width: 51px;
            }
          }
          &.history-img{
            width: 35px;
          }
          &.aff-img{
            margin-bottom: 2px;
            width: 36px;
          }
          &.prom-img{
            width: 48px;
            margin-bottom: 7px;
          }
          &.wallet-img{
            width: 42px;
          }
          &.reward-img{
            width: 36px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 1200px) {
    .logo{
      width: 90px !important;
      height: 46px !important;
    }
    .contents{
      padding-left: 150px;
    }
    .side-nav{
      &.item-list{
        .menu-holder{
          min-width: 150px;
          max-width: 150px;
          padding-top: 95px;
        }
      }
      &.item{
        width: 73px;
        height: 67px;
        .label{
          font-size: 11px;
          margin-bottom: 5px;
        }
        .content{
          max-width: 35px;
        }
        .image{
          &.start-race-img{
            width: 35px;
          }
          &.token-img{
            img{
              max-width: 56px;
              margin-bottom: 17px;
            }
          }
          &.lead-img{
            margin-bottom: 1px;
            img{
              max-width: 46px;
            }
          }
          &.team-img{
            img{
              max-width: 46px;
            }
          }
          &.history-img{
            width: 31px;
          }
          &.aff-img{
            margin-bottom: 0px;
            width: 31px;
          }
          &.prom-img{
            width: 44px;
            margin-bottom: 6px;
          }
          &.wallet-img{
            width: 42px;
          }
          &.reward-img{
            width: 31px;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 1024px){
    .top-mobile-menu{
      display: flex;
    }
    .main{
      .top-back{
        display: none;
      }
    }
    .right-part-holder{
      display: block;
    }
    .contents{
      padding-left: 0;
      .side-nav.item-list{
        height: 100%;
        .logo{
          display: none;
        }
        .menu-holder{
            display: none;
        }
      }
    }
  }
  
  
  @media screen and (max-width: 640px) {
    .top-mobile-menu{
      height: 60px;
      .mobile-logo{
        width: 70px !important;
        height: 36px !important;
      }
      .mobile-menu-switch{
        width: 60px;
        padding: 11px;
        span{
          margin-bottom: 5px;
          height: 3px;
        }
      }
    }
  }
  