<div class="main-holder">
  <div class="page-info">
    <div class="back" [routerLink]="['/race/all-races']">
      <p>&lt;</p>
      <p>{{ "shared.back" | translate }}</p>
    </div>
    <div class="text-info">
      <h1>{{ "favourite_cars.page_heading" | translate }}</h1>
      <p>{{ "favourite_cars.page_info" | translate }}</p>
    </div>
    <div class="bonus-info">
      <div
        class="start-race-btn my-cta-btn-back"
        *ngIf="selectedCarsToRace.length === 0"
      >
        <div class="inner">
          <p>Cars not selected</p>
        </div>
      </div>

      <div
        class="start-race-btn active my-cta-btn-back"
        *ngIf="selectedCarsToRace.length > 0"
        (click)="signupToRace()"
      >
        <div class="inner">
          <p>Start race</p>
        </div>
      </div>
    </div>
  </div>

  <div class="content-holder">
    <div class="switchers-holder">
      <p
        class="my-cta-btn-back"
        (click)="changeEdition(1)"
        [ngClass]="{ inactive: editionIndex !== 1 }"
      >
        Common
      </p>
      <p
        class="my-cta-btn-back"
        (click)="changeEdition(2)"
        [ngClass]="{ inactive: editionIndex !== 2 }"
      >
        Super
      </p>
      <p
        class="my-cta-btn-back"
        (click)="changeEdition(3)"
        [ngClass]="{ inactive: editionIndex !== 3 }"
      >
        Epic
      </p>
      <p
        class="my-cta-btn-back"
        (click)="changeEdition(4)"
        [ngClass]="{ inactive: editionIndex !== 4 }"
      >
        Legendary
      </p>
    </div>

    <div class="cars-holder">
      <div class="edition-holder">
        <div class="regular-cars">
          <ng-container *ngFor="let mc of myCars; let x = index">
            <div
              class="car-item set"
              *ngIf="
                (mc.favourite === true &&
                  mc.extras.tier > editionIndex * 6 - 6 &&
                  mc.extras.tier <= editionIndex * 6) ||
                (mc.favourite === true && mc.extras.tier === 24 + editionIndex)
              "
            >
              <div class="car-info">
                <div class="name">
                  <ng-container *ngIf="mc.extras.tier <= 24">
                    <p class="value" *ngIf="editionIndex === 1">
                      {{ carsNames[mc.extras.tier - 1]["name"] }}
                    </p>
                    <p class="value" *ngIf="editionIndex === 2">
                      {{ carsNames[mc.extras.tier - 1]["name"] }}
                    </p>
                    <p class="value" *ngIf="editionIndex === 3">
                      {{ carsNames[mc.extras.tier - 1]["name"] }}
                    </p>
                    <p class="value" *ngIf="editionIndex === 4">
                      {{ carsNames[mc.extras.tier - 1]["name"] }}
                    </p>
                  </ng-container>

                  <p class="value" *ngIf="mc.extras.tier === 25">
                    {{ carsNames[24]["name"] }}
                  </p>
                  <p class="value" *ngIf="mc.extras.tier === 26">
                    {{ carsNames[25]["name"] }}
                  </p>
                  <p class="value" *ngIf="mc.extras.tier === 27">
                    {{ carsNames[26]["name"] }}
                  </p>
                  <p class="value" *ngIf="mc.extras.tier === 28">
                    {{ carsNames[27]["name"] }}
                  </p>
                </div>
                <div class="fuel-wrapper">
                  <div class="fuel-inner">
                    <div
                      class="fuel"
                      *ngFor="let coin of mc.newbetfast"
                      [hidden]="coin.bet === 0"
                    >
                      <p>
                        <img
                          [src]="
                            '/assets/base/images/curr-logos/' +
                            coin.symbol +
                            '-logo.png'
                          "
                          alt=""
                        />
                        <small>{{ coin.bet }}%</small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <img
                class="car-img"
                [src]="
                  '/assets/base/images/nft-cars/car' + mc.extras.tier + '.png'
                "
                alt=""
              />

              <div class="bottom-info">
                <div
                  class="buy-now my-cta-btn-back"
                  [ngClass]="{ active: myCars[x]?.selected === true }"
                >
                  <div class="buy-inner set-up" (click)="selectCarToRace(x)">
                    <p>Select</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="no-cars-box" *ngIf="myCarsInEdition?.length === 0">
        <p>You dont have any cars in this edition.</p>
        <button
          class="my-cta-btn-back hoverable"
          [routerLink]="['/car/nft-market']"
        >
          Buy NFT cars
        </button>
      </div>
    </div>
  </div>
</div>
