<div class="multi-panel" (window:resize)="getMobileVersion()">
  <ng-container *ngIf="limitView > 4">
    <button (click)="decreaseStartView()" class="control-arrow" [ngClass]="{'disable': startView === 0}">
      <img src="/assets/base/images/zavod/multi-arrow-left.svg" alt="">
    </button>
    <button class="control-arrow"
      [ngClass]="{'disable': startView === (limitView - stepSize)}"
      (click)="increaseStartView()"
      [hidden]="myRaces?.length === startView">
      <img src="/assets/base/images/zavod/multi-arrow-right.svg" alt="">
    </button>
  </ng-container>
  
</div>

<div *ngIf="loading === false" class="races-holder" [ngClass]="'case' + limitView">
  <div
    *ngFor="
      let mrace of myRaces | slice: startView: startView + stepSize;
      let x = index
    "
    class="my-race" [ngClass]="'race-num' + x"
  >
    <app-watch-race-short
      [myRaceid]="mrace"
      [multiUsed]="true"
      *ngIf="mrace"
    ></app-watch-race-short>
  </div>
</div>


