.side-img {
  width: auto;
  height: 100%;
  position: absolute;
  top: -1%;
  left: 2%;
  transform: translateX(-70%);
  max-height: 100%;
}

.updated_at{
  text-align: center;
  margin: 0;
}

.page {
  outline: none;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  min-width: 30px;
  height: 30px;
  margin: 10px 0;
}
.pagination {
  margin-top: 30px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-active {
  cursor: default;
  background: rgba($color: #ffffff, $alpha: 0.16);
}
.page-disabled {
  cursor: default;
}
.page-opacity {
  opacity: 0.6;
}
.pagebtn-l,
.pagebtn-r {
  background: none;
  height: 30px;
  width: auto;
  img {
    height: 100%;
  }
}


@media screen and (max-width: 1550px) {
  .updated_at{
    font-size: 16px;
  }
  .lead-cont-holder {
    .table-row {
      height: 35px;
    }
  }
  .pagination {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1400px) {
  .updated_at{
    font-size: 14px;
  }
  .lead-cont-holder {
    .table-row {
      height: 30px;
    }
  }

  .pagebtn-l,
  .pagebtn-r {
    height: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .side-img {
    z-index: -1;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .updated_at{
    font-size: 10px;
  }
  .pagination {
    margin-top: 5px;
  }
  .page {
    font-size: 8px;
    height: 100%;
    margin: 0px;
  }
  .lead-cont-holder {
    .table-row {
      height: 19px;
      p {
        font-size: 8px;
      }
    }
  }
  .pagebtn-l,
  .pagebtn-r {
    height: 15px;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) and (min-height: 600px){
  .table-content{
    height: 90%;
  }
  .lead-cont-holder{
    .table-row{
      height: calc(8% - 6px);
      p{
        font-size: 11px;
      }
    }
  }
  .pagebtn-l,
  .pagebtn-r{
    height: 22px;
  }
  .page{
    font-size: 12px;
    padding: 5px;
  }
  .updated_at{
    font-size: 12px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 640px) and (orientation: landscape) {
  .updated_at{
    font-size: 8px;
  }
  .lead-cont-holder {
    .table-row {
      height: 17.5px;
    }
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .updated_at{
    font-size: 10px;
  }
}
