

<div class="lead-cont-holder owner">

  <img class="side-img" src="/assets/base/images/nft-racers/mr-rich.png" alt="">

  <div class="table-row header">
    <div class="table-item small">
      <p>Place</p>
    </div>
    <div class="table-item">
      <p>Name</p>
    </div>
    <div class="table-item big">
      <p>Asset value</p>
    </div>
    <div class="table-item big last">
      <p>Daily stakes</p>
    </div>
  </div>

  <div class="table-row" *ngFor="let pl of myLdrbrd; let yy = index" [ngClass]="{'mine': pl.user_nickname === mydrvr}">
    <div class="table-item small">
      <p>{{pl.rank}}.</p>
    </div>
    <div class="table-item">
      <p>{{pl.user_nickname}}</p>
    </div>
    <div class="table-item big bold">
      <p><img src="/assets/base/images/teams/reward-token.png" alt=""> {{pl.garage_value | number:'1.0-1':'fr'}}</p>
    </div>
    <div class="table-item big bold last">
      <p><img src="/assets/base/images/teams/reward-token.png" alt=""> {{pl.daily_stakes  | number:'1.1-1':'fr'}}</p>
    </div>
    <div class="mine-back my-cta-btn-back"></div>
  </div>
  <div class="pagination">
    <button
      (click)="actualPage = actualPage-1; getMyLeaderboard()"
      class="pagebtn-l"
      [disabled]="actualPage<=1"
    >
      <img
        class="red-box-detail paging-img"
        [ngClass]="{
          'page-opacity': actualPage === 1
        }"
        src="/assets/base/images/icons/icon-back-red.svg"
        alt="red back icon"
      />
      <img
        class="blue-box-detail paging-img"
        [ngClass]="{
          'page-opacity': actualPage === 1
        }"
        src="/assets/base/images/icons/icon-back-blue.svg"
        alt="blue next icon"
      />
    </button>

    <button class="page page-active">{{actualPage}}</button>
    <button (click)="actualPage = actualPage+1; getMyLeaderboard()" class="page" *ngIf="actualPage+1<totalPages">{{actualPage+1}}</button>
    <button (click)="actualPage = actualPage+2; getMyLeaderboard()" class="page" *ngIf="actualPage+2<totalPages">{{actualPage+2}}</button>
    <button (click)="actualPage = actualPage+3; getMyLeaderboard()" class="page" *ngIf="actualPage+3<totalPages">{{actualPage+3}}</button>
    <button class="page page-disabled" *ngIf="actualPage+4<totalPages">...</button>
    <button (click)="actualPage = totalPages; getMyLeaderboard()" class="page" *ngIf="actualPage<totalPages">{{totalPages}}</button>

    <button
      (click)="actualPage = actualPage+1; getMyLeaderboard()"
      class="pagebtn-r"
      [disabled]="actualPage>=totalPages"
    >
      <img
        class="red-box-detail paging-img"
        [ngClass]="{
          'page-opacity': actualPage >=totalPages
        }"
        src="/assets/base/images/icons/icon-next-red.svg"
        alt="red back icon"
      />
      <img
        class="blue-box-detail paging-img"
        [ngClass]="{
          'page-opacity': actualPage === totalPages
        }"
        src="/assets/base/images/icons/icon-next-blue.svg"
        alt="blue next icon"
      />
    </button>

  </div>
  

</div>


<!-- 
<div class="holder">

  <div class="table">

    <div class="table-row header">
      <div class="table-item small"><p>Position</p></div>
      <div class="table-item big"><p>Nickname</p></div>
      <div class="table-item"><p>Asset value</p></div>
      <div class="table-item"><p>Daily stakes</p></div>
    </div>

    <div class="table-row" *ngFor="let pl of myLdrbrd; let yy = index" [ngClass]="{'mine': pl.user_nickname === mydrvr}">
      <div class="table-item small my-cta-btn-back"><p>{{pl.rank}}.</p></div>
      <div class="table-item big"><p>{{pl.user_nickname}}</p></div>
      <div class="table-item"><p>{{pl.garage_value | number:'1.0-1':'fr'}}</p></div>
      <div class="table-item last"><p>{{pl.daily_stakes  | number:'1.1-1':'fr'}}</p></div>
    </div>

    <div class="arrow right" (click)="actualPage = actualPage + 1;getMyLeaderboard()" *ngIf="actualPage < totalPages">
      <p>&gt;</p>
    </div>
    <div class="arrow left" (click)="actualPage = actualPage - 1;getMyLeaderboard()" *ngIf="actualPage > 1">
      <p>&lt;</p>
    </div>
    <div class="arrow right inactive" *ngIf="actualPage === totalPages">
      <p>&gt;</p>
    </div>
    <div class="arrow left inactive" *ngIf="actualPage === 1">
      <p>&lt;</p>
    </div>

    <div class="leaderboard-empty" *ngIf="myLdrbrd.length===0 && actualPage===1">
      <h2>{{"leaderboard.empty" | translate}}</h2>
    </div>

  </div>
  
</div>


<span class="updated" style="font-size: 10px;
text-align: center;
width: 100%;
display: block;
margin: 10px auto;">Updated at {{updateTime | date: "short"}}</span> -->

