.popup-holder {
  position: relative;
  z-index: 1000000;

  height: 100%;
  width: 100%;
  .content-holder {
    width: 100%;
    max-height: 100%;
    padding-bottom: 50px;
    position: relative;
    .switch-holder {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 30px 0 15px;
      padding: 0 3px 0 1px;
      p {
        font-size: 16px;
        font-weight: 300;
        margin: 0;
        opacity: 0.6;
        cursor: pointer;
        color: white;
        &.active {
          opacity: 1;
          font-weight: 500;
          text-decoration: underline;
        }
      }
    }
  }
}
.no-other {
  margin: 100px 0;
  text-align: center;
  .desc {
    color: white;
    opacity: 0.6;
  }
}
.empty-fav-race {
  margin-top: 20px;
  font-size: 14px;
  width: 100%;
  text-align: center;
  p {
    color: white;
  }
  button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03),
      2px 3px 10px rgba(0, 0, 0, 0.6);

    border: none;
    color: white;
    padding: 10px 14px;
  }
}
.box-item {
  width: 100%;
  height: 163px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 1px 0 0 1px;
  &.mine {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  }
  &:hover {
    .back-img {
      transform: scale(1.03);
    }
    .inner-holder {
      .fuel-btn {
        .btn-back {
          opacity: 1;
        }
      }
    }
  }
  .click-dummy {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    &.low-balance {
      background: rgba(17, 17, 17, 0.7);
      .deposit-btn {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding: 11px 19px;

        color: white;
        border: none;
        opacity: 1;
        outline: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .back-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
  }
  .inner-holder {
    z-index: 2;

    position: relative;
    width: 100%;
    height: 100%;
    padding: 22px 0 0 22px;
    transition: 0.3s;
    .race-name {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
      line-height: 1.2;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
    }
    .watch {
      font-size: 16px;
      font-weight: 400;
      margin: 5px 0 0 0;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
    }
    .time {
      font-size: 14px;
      font-weight: 400;
      margin: 5px 0 0 0;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
    }
    .fuel-btn {
      font-weight: 600;
      font-size: 16px;
      width: 130px;
      height: 50px;

      margin-top: 20px;
      padding: 0;
      outline: none;
      position: relative;
      overflow: hidden;
      &.transparent {
        img {
          display: inline-block;
          margin-right: 3px;
        }
      }
      span {
        position: absolute;
        z-index: 2;
      }
      .btn-back {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        transition: 0.2s;
      }
    }
  }
}

.popup-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  background-image: url("/assets/base/images/my-race.png");
  padding: 10px 20px;
  background-size: 100%;
  position: relative;
  width: 100%;
  .img-holder {
    width: 80px;
    height: 60px;
    position: relative;
    transform: rotate(90deg);
    img {
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      height: 60px;
    }
  }
  .text-holder {
    text-align: left;
    width: 85%;
    p {
      font-size: 14px;
      color: #b8b8b8;
      margin: 3px;
      min-width: 130px;
    }
  }
  .button-holder {
    span {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #ffffff21;
      display: block;
    }
    .button:hover {
      background: none;
    }
    .multi-watch {
      position: absolute;
      left: 20px;
      bottom: 0px;
    }
  }
}

.live-type {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
  color: #ffffff;
}

.timer {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
span.starts-in {
  padding: 0 5px;
}

span.live-pricepool {
  padding-right: 10px;
  img {
    margin-right: 5px;
  }
}
span.live-players {
  padding-right: 10px;
  img {
    margin-right: 5px;
  }
}

h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #ffffff21;
  span {
    color: #d41a5f;
  }
}

@media screen and (max-width: 1200px) {
  .popup-holder {
    min-width: 265px;
    .content-holder {
      .switch-holder {
        p {
          font-size: 16px;
          margin: 0 11px 0 0;
        }
      }
    }
  }

  .box-item {
    .inner-holder {
      padding: 10px 0 0 10px;
    }
  }
}

.selected {
  background-color: black;
  color: white;
}
.not-selected {
  background-image: url(/assets/base/images/checkbox.png);
  background-repeat: no-repeat;
  padding-left: 40px;
  cursor: pointer;
  background-color: transparent;
  height: 30px;
}

.selected {
  background-image: url(/assets/base/images/checkbox-checked.png);
  background-repeat: no-repeat;
  padding-left: 40px;
  cursor: pointer;
  background-color: transparent;
  height: 30px;
}

.cta-main {
  position: absolute;
  left: 50%;
  bottom: 7px;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 14px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
  background: linear-gradient(250.32deg, #eb2163 22.61%, #950552 85.16%),
    #333333;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05),
    10px 10px 20px rgba(0, 0, 0, 0.25);

  padding: 12px 53px;
  cursor: pointer;
}

@media screen and (max-width: 1550px) {
  .popup-holder {
    .content-holder {
      padding: 0px;
    }
  }
  .no-other {
    margin: 20px 0px 0px 0px;
  }
  .box-item {
    height: 145px;
    margin-bottom: 15px;
    .back-img {
      top: unset;
      bottom: 0;
    }
    .inner-holder {
      .race-name {
        font-size: 17px;
      }
      .watch {
        font-size: 14px;
      }
      .time {
        font-size: 13px;
        margin: 7px 0 0 0;
        .timer {
          font-size: 13px;
        }
      }
      .fuel-btn {
        font-size: 14px;
        height: 43px;
        margin-top: 14px;
        img {
          width: 15px;
        }
      }
    }
  }
}

span.favis {
  position: absolute;
  top: 23px;
  right: 9px;
  border: 1px solid #a0a0a0;
  border-radius: 100%;
  padding: 5px;
  opacity: 0.9;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .popup-holder {
    min-width: unset;
    .content-holder {
      .switch-holder {
        margin: 10px 0 5px;
        p {
          font-size: 13px;
          margin: 0;
        }
      }
    }
  }
  .box-item {
    min-height: 101px;
    height: unset;
    margin-bottom: 5px;
    .inner-holder {
      padding: 9px 0 0 9px;
      .race-name {
        font-size: 14px;
      }
      .time {
        font-size: 10px;
        margin: 0;
        .timer {
          font-size: 10px;
        }
      }
      .fuel-btn {
        font-size: 12px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 105px;
        img {
          width: 10px;
        }
      }
    }
  }
  .no-other {
    .desc {
      font-size: 12px;
    }
  }
  .empty-fav-race {
    p {
      font-size: 12px;
    }
    button {
      font-size: 11px;
      padding: 8px 12px;
    }
  }
  span.favis {
    padding: 3px;
    width: 26px;
    height: 26px;
    img {
      width: 18px;
      vertical-align: baseline;
    }
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  .popup-holder {
    .content-holder {
      .switch-holder {
        margin: 7px 0 4px;
        p {
          font-size: 10px;
        }
      }
    }
  }
  .box-item {
    min-height: 87px;
    .inner-holder {
      padding: 7px 0 0 7px;
      .race-name {
        font-size: 11px;
      }
      .time {
        font-size: 9px;
        .timer {
          font-size: 9px;
        }
      }
      .fuel-btn {
        font-size: 11px;
        height: 26px;
        margin-top: 8px;
        margin-bottom: 8px;
        width: 95px;
        img {
          width: 8px;
        }
      }
    }
  }
  .no-other {
    .desc {
      font-size: 11px;
    }
  }
  .empty-fav-race {
    p {
      font-size: 11px;
    }
    button {
      font-size: 10px;
      padding: 7px 10px;
    }
  }
}
