

<div class="my-modal-body">
    
  <div class="content-wrapper wrapper2">
    <div class="carousel-holder">
      <div class="inner-item-holder">

        <ng-container *ngFor="let majbet of myBet">
          <div class="item-holder">
            <div class="item-curr my-cta-btn-back" (click)="toggleCoin(majbet.customIndex)" [ngClass]="{'not-selected': majbet.selected !== true}">
              <!-- <div class="marks-holder">
                <img src="/assets/base/images/tankovanie/premium-icon.svg" alt="" class="premium-mark" *ngIf="majbet.symbol === myBetInput[0].symbol || majbet.symbol === myBetInput[1].symbol || majbet.symbol === myBetInput[2].symbol">
              </div> -->
              <img [src]="'/assets/base/images/curr-logos/'+ majbet.symbol +'-logo.png'" alt="">
              <p class="item-symbol">{{majbet.symbol}}</p>
            </div>
          </div>
        </ng-container>
        
      </div>
    </div>
    <div class="selected-bets-holder">

      <div class="selected-item" *ngIf="selectedTips[0] || selectedTips[0] === 0">
        <div class="curr-item selected my-cta-btn-back">
          <div class="inner">
            <img [src]="'/assets/base/images/curr-logos/'+ myBet[selectedTips[0]].symbol +'-logo.png'" alt="">
          </div>
        </div>
        <div class="top-btns active">
          <div class="btn-item long" (click)="myBet[selectedTips[0]].short = false" 
          [ngClass]="myBet[selectedTips[0]].short === false ? 'active' : 'passive'">
            <div class="inner">
              <img class="active-img" src="/assets/base/images/icons/long-icon-active.svg" alt="">
              <img class="passive-img" src="/assets/base/images/icons/long-icon.svg" alt="">
              <p>Long</p>
            </div>
          </div>
          <div class="btn-item short" (click)="myBet[selectedTips[0]].short = true" 
          [ngClass]="myBet[selectedTips[0]].short === true ? 'active' : 'passive'">
            <div class="inner">
              <img class="active-img" src="/assets/base/images/icons/short-icon-active.svg" alt="">
              <img class="passive-img" src="/assets/base/images/icons/short-icon.svg" alt="">
              <p>Short</p>
            </div>
          </div>
        </div>
      </div>

      <div class="selected-item" *ngIf="selectedTips[1] || selectedTips[1] === 0">
        <div class="curr-item selected my-cta-btn-back">
          <div class="inner">
            <img [src]="'/assets/base/images/curr-logos/'+ myBet[selectedTips[1]].symbol +'-logo.png'" alt="">
          </div>
        </div>
        <div class="top-btns active">
          <div class="btn-item long" (click)="myBet[selectedTips[1]].short = false" 
          [ngClass]="myBet[selectedTips[1]].short === false ? 'active' : 'passive'">
            <div class="inner">
              <img class="active-img" src="/assets/base/images/icons/long-icon-active.svg" alt="">
              <img class="passive-img" src="/assets/base/images/icons/long-icon.svg" alt="">
              <p>Long</p>
            </div>
          </div>
          <div class="btn-item short" (click)="myBet[selectedTips[1]].short = true" 
          [ngClass]="myBet[selectedTips[1]].short === true ? 'active' : 'passive'">
            <div class="inner">
              <img class="active-img" src="/assets/base/images/icons/short-icon-active.svg" alt="">
              <img class="passive-img" src="/assets/base/images/icons/short-icon.svg" alt="">
              <p>Short</p>
            </div>
          </div>
        </div>
      </div>

      <div class="selected-item" *ngIf="selectedTips[2] || selectedTips[22] === 0">
        <div class="curr-item selected my-cta-btn-back">
          <div class="inner">
            <img [src]="'/assets/base/images/curr-logos/'+ myBet[selectedTips[2]].symbol +'-logo.png'" alt="">
          </div>
        </div>
        <div class="top-btns active">
          <div class="btn-item long" (click)="myBet[selectedTips[2]].short = false" 
          [ngClass]="myBet[selectedTips[2]].short === false ? 'active' : 'passive'">
            <div class="inner">
              <img class="active-img" src="/assets/base/images/icons/long-icon-active.svg" alt="">
              <img class="passive-img" src="/assets/base/images/icons/long-icon.svg" alt="">
              <p>Long</p>
            </div>
          </div>
          <div class="btn-item short" (click)="myBet[selectedTips[2]].short = true" 
          [ngClass]="myBet[selectedTips[2]].short === true ? 'active' : 'passive'">
            <div class="inner">
              <img class="active-img" src="/assets/base/images/icons/short-icon-active.svg" alt="">
              <img class="passive-img" src="/assets/base/images/icons/short-icon.svg" alt="">
              <p>Short</p>
            </div>
          </div>
        </div>
      </div>

      <div class="selected-item" *ngIf="!selectedTips[0] && selectedTips[0] !== 0">
        <div class="curr-item empty"></div>
        <div class="top-btns">
          <div class="btn-item long">
            <div class="inner">
              <img src="/assets/base/images/icons/long-icon.svg" alt="">
              <p>Long</p>
            </div>
          </div>
          <div class="btn-item short">
            <div class="inner">
              <img src="/assets/base/images/icons/short-icon.svg" alt="">
              <p>Short</p>
            </div>
          </div>
        </div>
      </div>
      <div class="selected-item" *ngIf="!selectedTips[1] && selectedTips[1] !== 0">
        <div class="curr-item empty"></div>
        <div class="top-btns">
          <div class="btn-item long">
            <div class="inner">
              <img src="/assets/base/images/icons/long-icon.svg" alt="">
              <p>Long</p>
            </div>
          </div>
          <div class="btn-item short">
            <div class="inner">
              <img src="/assets/base/images/icons/short-icon.svg" alt="">
              <p>Short</p>
            </div>
          </div>
        </div>
      </div>
      <div class="selected-item" *ngIf="!selectedTips[2] && selectedTips[2] !== 0">
        <div class="curr-item empty"></div>
        <div class="top-btns">
          <div class="btn-item long">
            <div class="inner">
              <img src="/assets/base/images/icons/long-icon.svg" alt="">
              <p>Long</p>
            </div>
          </div>
          <div class="btn-item short">
            <div class="inner">
              <img src="/assets/base/images/icons/short-icon.svg" alt="">
              <p>Short</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="save-btn">
      <button class="my-cta-btn-back hoverable" (click)="saveTips()">Save</button>
    </div>

  </div>

</div>