
.my-modal-body{
    padding: 0 20px 20px;
}

.content-wrapper.wrapper2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 82%;
    position: relative;
    margin: 60px auto 10px;
    .carousel-holder{
        margin-bottom: 10px;
        position: relative;
        .inner-item-holder{
          width: 100%;
          max-width: 612px;
          margin: 0 auto;
          display: grid;
          position: relative;
          grid-gap: 22px;
          grid-template-columns: repeat(5, auto);
          .item-holder{
            position: relative;
            .item-curr{
              width: 100px;
              height: 100px;
              margin: 0;
              text-align: center;
              padding: 16px 0 5px 0;
              position: relative;
              cursor: pointer;
              transition: background-color .2s, box-shadow .1s;
              &.not-selected{
                background: rgba(255, 255, 255, 0.05);
                .item-symbol{
                  opacity: .2;
                }
              }
              .marks-holder{
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(40%, -40%);
                z-index: 5;
                img{
                  display: inline-block;
                  margin-left: 5px;
                }
              }
              img{
                max-width: 65px;
                max-height: 45px;
                position: relative;
                top: 0;
              }
              .item-symbol{
                color: #ffffff;
                font-size: 14px;
                font-weight: 300;
                text-transform: uppercase;
                margin: 0;
                opacity: 1;
                margin-top: 5px;
              }
            }
          }
        }
    }
    .selected-bets-holder{
        .selected-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 47px;
            &:last-child{
                margin-bottom: 0;
            }
            .curr-item{
                margin: 0 50px;
                width: 50px;
                height: 50px;
                &.empty{
                  background: rgba(255, 255, 255, 0.05);
                }
                &.selected{
                    .inner{
                        position: relative;
                        width: 100%;
                        height: 100%;
                        img{
                            max-width: 70%;
                            max-height: 70%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
            .top-btns{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 110px;
                opacity: .4;
                &.active{
                  opacity: 1;
                }
                .btn-item{
                  width: calc(50% - 5px);
                  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.04), 5px 5px 15px rgba(0, 0, 0, 0.9);
                  height: 50px;
                  position: relative;
                  cursor: pointer;
                  padding: 2px;
                  &:active{
                    transform: translateY(2px);
                  }
                  &.active{
                    .inner{
                      .active-img{
                        display: inline-block;
                      }
                      .passive-img{
                        display: none;
                      }
                    }
                    &.short{
                      .inner{
                        background: transparent;
                        p{
                          color: white;
                        }
                      }
                    }
                    &.long{
                      .inner{
                        background: transparent;
                        p{
                          color: white;
                        }
                      }
                    }
                  }
                  &.short{
                    background: linear-gradient(270deg, #EB2163 3.26%, #950552 100%), #111111;
                    .inner{
                      p{
                        color: #FE183F;
                      }
                    }
                  }
                  &.long{
                    background: linear-gradient(270.18deg, #23FFFF 2.49%, #00AEFF 90.85%), #2B16F7;
                    .inner{
                      p{
                        color: #23FFFF;
                      }
                    }
                  }
                  .inner{
                    width: 100%;
                    height: 100%;
                    background: #111;
                    text-align: center;
                    .active-img{
                      display: none;
                    }
                    .passive-img{
                      display: inline-block;
                    }
                    p{
                      margin: 0;
                      text-align: center;
                      font-size: 14px;
                      width: 100%;
                    }
                  }
                }
            }
        }
    }
    .save-btn{
      width: 100%;
      margin-top: 40px;
      text-align: center;
      button{
        font-size: 16px;
        font-weight: 400;
        padding: 14px 0;
        width: 30%;
        min-width: 170px;
      }
    }
}

@media screen and (max-width: 1550px){
    .my-modal-body{
        padding: 0 10px 15px;
    }
    .content-wrapper.wrapper2{
      max-width: 87%;
      margin: 40px auto 10px;
        .carousel-holder{
          .inner-item-holder{
            grid-gap: 17px;
            .item-holder{
              .item-curr{
                width: 80px;
                height: 80px;
                padding: 13px 0 3px 0;
                img{
                  max-width: 45px;
                  max-height: 35px;
                }
                .item-symbol{
                  font-size: 13px;
                }
              }
            }
          }
        }
        .selected-bets-holder{
          .selected-item{
            margin-bottom: 34px;
            .curr-item{
              margin: 0 40px;
              width: 45px;
              height: 45px;
            }
            .top-btns{
              width: 100px;
              .btn-item{
                height: 45px;
                .inner{
                  img{
                    width: 27px;
                  }
                  p{
                    font-size: 12px;
                    line-height: 1.2;
                  }
                }
              }
            }
          }
        }
        .save-btn{
          margin-top: 20px;
          button{
            font-size: 15px;
            padding: 12px 30px;
          }
        }
    }
}


@media screen and (max-width: 1024px) and (orientation: landscape){
  .my-modal-body{
    padding: 0;
  }
  .content-wrapper.wrapper2{
    margin: 0 auto;
    .carousel-holder{
      width: 69%;
      .inner-item-holder{
        grid-gap: unset;
        grid-row-gap: 5px;
        width: 70%;
        .item-holder{
          .item-curr{
            width: 50px;
            height: 50px;
            padding: 7px 0 3px 0;
            border-radius: 0px;
            img{
              max-width: 17px;
              max-height: 17px;
            }
            .item-symbol{
              font-size: 8px;
            }
          }
        }
      }
    }
    .selected-bets-holder{
      width: 29%;
      .selected-item{
        margin-bottom: 27px;
        width: 100%;
        .curr-item{
          margin: 0;
          width: 45px;
          height: 45px;
        }
        .top-btns{
          width: 100px;
          .btn-item{
            height: 45px;
            .inner{
              img{
                width: 27px;
              }
              p{
                font-size: 12px;
                line-height: 1.2;
              }
            }
          }
        }
      }
    }
    .save-btn{
      margin-top: 0;
      button{
        font-size: 14px;
        padding: 10px 27px;
      }
    }
  }

}

@media screen and (max-width: 640px) and (orientation: landscape){
  .content-wrapper.wrapper2{
    margin: 0 auto;
    .carousel-holder{
      width: 69%;
      .inner-item-holder{
        
        .item-holder{
          .item-curr{
            width: 45px;
            height: 45px;
            padding: 5px 0 3px 0;
            border-radius: 0px;
            img{
              max-width: 17px;
              max-height: 17px;
            }
            .item-symbol{
              margin-top: 0;
              font-size: 8px;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 900px) and (orientation: portrait){
    .content-wrapper.wrapper2{
      .carousel-holder{
        width: 69%;
        .inner-item-holder{
          grid-gap: unset;
          grid-row-gap: 17px;
          .item-holder{
            .item-curr{
              width: 67px;
              height: 67px;
              padding: 10px 0 3px 0;
              border-radius: 10px;
              img{
                max-width: 40px;
                max-height: 31px;
              }
              .item-symbol{
                font-size: 11px;
              }
            }
          }
        }
      }
      .selected-bets-holder{
        width: 29%;
        .selected-item{
          margin-bottom: 27px;
          width: 100%;
          .curr-item{
            margin: 0;
            width: 45px;
            height: 45px;
          }
          .top-btns{
            width: 100px;
            .btn-item{
              height: 45px;
              .inner{
                img{
                  width: 27px;
                }
                p{
                  font-size: 12px;
                  line-height: 1.2;
                }
              }
            }
          }
        }
      }
      .save-btn{
        button{
          font-size: 14px;
          padding: 10px 27px;
        }
      }
    }
}

@media screen and (max-width: 640px) and (orientation: portrait){
    .my-modal-body{
        padding: 0 8px 12px;
    }
    .content-wrapper.wrapper2{
      max-width: 100%;
      margin: 30px auto 10px;
        .carousel-holder{
          width: 100%;
          max-width: 440px;
          margin: 10px auto 25px;
          .inner-item-holder{
            grid-gap: unset;
            grid-row-gap: 17px;
            justify-items: center;
            .item-holder{
              .item-curr{
                width: 62px;
                height: 62px;
                padding: 7px 0 3px 0;
                img{
                  max-width: 32px;
                  max-height: 25px;
                }
                .item-symbol{
                  font-size: 10px;
                }
              }
            }
          }
        }
        .selected-bets-holder{
          width: 100%;
          max-width: 210px;
          margin: 0 auto;
          .selected-item{
            margin-bottom: 20px;
            .curr-item{
              width: 38px;
              height: 38px;
            }
            .top-btns{
              width: 86px;
              .btn-item{
                padding: 1px;
                height: 38px;
                .inner{
                  img{
                    width: 20px;
                  }
                  p{
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }
    }
}

@media screen and (max-width: 400px) and (orientation: portrait){
    .my-modal-body{
        padding: 0 8px 7px;
    }
    .content-wrapper.wrapper2{
      margin: 20px auto 10px;
        .carousel-holder{
          .inner-item-holder{
            grid-row-gap: 11px;
            .item-holder{
              .item-curr{
                width: 55px;
                height: 55px;
                padding: 5px 0 3px 0;
                img{
                  max-width: 28px;
                  max-height: 21px;
                }
                .item-symbol{
                  font-size: 9px;
                }
              }
            }
          }
        }
    }
}