.main-holder {
  height: fit-content !important;
}

.month-switchers{
  width: 90%;
  max-width: 500px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
  overflow: hidden;
  transform: translate3d(0,0,0);
  button{
    height: 100%;
    width: 60%;
    min-width: 60%;
    font-weight: 800;
    font-size: 22px;
    font-family: 'Earth Orbiter';
    transform-origin: left;
    transform: skewX(30deg);
    padding: 0 10% 0 0;
    &.first{
      padding: 0 0 0 10%;
    }
    &.inactive{
      background: linear-gradient(270deg, #383838 4.44%, #005163 100.16%);
    }
    span{
      transform: skewX(-30deg);
      font-size: inherit;
      font-family: inherit;
      display: inline-block;
    }
  }
}

.table-row:empty {
  display: none;
}
.team-img {
  .team-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    opacity: 0.6;
    .name {
      font-size: 38px;
      margin-bottom: 10px;
      color: rgba(255, 255, 255, 0.9);
    }
    .team {
      margin: 0;
      font-size: 25px;
      color: rgba(255, 255, 255, 0.9);
    }
  }
}
.first-team {
  height: 90%;
}

.top-teams {
  height: 80%;
  width: 52%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.table-content {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
.lead-cont-holder {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: unset;
}
.top-team {
  width: 31.5%;
  background: rgba(17, 17, 17, 0.8);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .position {
    margin: 0;
    padding-bottom: 5px;
    font-family: "Earth Orbiter";
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    background: -webkit-linear-gradient(180deg, #c7c7c7 0%, #777777 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .team-name {
    margin: 0;
    font-family: "Earth Orbiter";
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    text-align: center;
    padding-bottom: 14px;
  }
  .turnover {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-bottom: 10px;
    img {
      margin-right: 10px;
      width: 22px;
    }
  }
  .win {
    margin: 0;
    text-align: center;
    opacity: 0.8;
    color: white;
    img {
      margin-right: 10px;
      width: 22px;
    }
    span {
      opacity: 1;
    }
  }
  .team-img {
    top: -30%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
}

.secound-team {
  height: 80%;
  padding-bottom: 35px;
}
.first-team {
  padding-bottom: 45px;
  .position {
    background: -webkit-linear-gradient(180deg, #ffe81b 0%, #9f9642 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.third-team {
  height: 75%;
  padding-bottom: 25px;
  .position {
    background: -webkit-linear-gradient(180deg, #e78e3c 0%, #8b580c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.pagination {
  margin-top: 30px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page {
  outline: none;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  min-width: 30px;
  height: 30px;
  margin: 10px 0;
}
.page-active {
  cursor: default;
  background: rgba($color: #ffffff, $alpha: 0.16);
}

.page-disabled {
  cursor: default;
}
.page-opacity {
  opacity: 0.6;
}
.pagebtn-l,
.pagebtn-r {
  background: none;
  height: 30px;
  width: auto;
  img {
    height: 100%;
  }
}
@media screen and (max-width: 1700px) {
  .team-img {
    top: -35%;
    .team-name {
      .name {
        font-size: 34px;
      }
      .team {
        font-size: 22.5px;
      }
    }
  }
  .month-switchers{
    max-width: 450px;
    height: 38px;
    margin: 0 auto 14px;
    button{
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 1550px) {
  .top-team {
    justify-content: flex-end;
    .position {
      font-size: 28px;
      line-height: 28px;
      padding-bottom: 15px;
    }
    .team-name {
      font-size: 18px;
      line-height: 18px;
      padding-bottom: 10px;
    }
    .turnover {
      font-size: 16px;
      line-height: 16px;
      img {
        width: 18px;
        margin-right: 5px;
      }
    }
  }
  .team-img {
    .team-name {
      .name {
        font-size: 28px;
        margin-bottom: 5px;
      }
      .team {
        font-size: 17px;
      }
    }
  }

  .first-team {
    padding-bottom: 40px;
  }
  .secound-team {
    padding-bottom: 20px;
  }
  .third-team {
    padding-bottom: 10px;
  }
  .month-switchers{
    max-width: 420px;
    height: 34px;
    margin: 0 auto 12px;
    button{
      font-size: 17px;
    }
  }
}
@media screen and(max-width: 1300px) {
  .team-img {
    .team-name {
      .name {
        font-size: 25px;
        margin-bottom: 3px;
      }
      .team {
        font-size: 15px;
      }
    }
  }
  .first-team {
    padding-bottom: 25px;
  }
  .secound-team {
    padding-bottom: 10px;
  }
  .third-team {
    padding-bottom: 5px;
  }
  .top-team {
    .position {
      font-size: 24px;
      line-height: 26px;
      padding-bottom: 10px;
    }
    .team-name {
      font-size: 15px;
      line-height: 17px;
      padding-bottom: 5px;
    }
    .turnover {
      font-size: 13px;
      line-height: 15px;
      padding-bottom: 5px;
    }
    .win {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .month-switchers{
    max-width: 400px;
    height: 30px;
    margin: 0 auto 10px;
    button{
      font-size: 15px;
    }
  }
}
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .month-switchers{
    max-width: 330px;
    height: 28px;
    button{
      font-size: 13px;
    }
  }
  .pagination {
    margin-top: 10px;
  }
  .pagebtn-l {
    height: 22px;
  }
  .pagebtn-r {
    height: 22px;
  }

  .page {
    height: 22px;
    font-size: 15px;
  }
  .top-teams {
    width: 57%;
  }
  .table-content {
    width: 40%;
  }
  .team-img {
    .team-name {
      .name {
        font-size: 23px;
        margin-bottom: 3px;
      }
      .team {
        font-size: 14px;
      }
    }
  }
  .first-team {
    padding-bottom: 25px;
  }
  .secound-team {
    padding-bottom: 10px;
  }
  .third-team {
    padding-bottom: 5px;
  }
  .top-team {
    .position {
      font-size: 20px;
      line-height: 22px;
      padding-bottom: 5px;
    }
    .team-name {
      font-size: 14px;
      line-height: 16px;
      padding-bottom: 3px;
    }
    .win {
      font-size: 13px;
      line-height: 15px;
    }
    .turnover {
      font-size: 12px;
      line-height: 15px;
      padding-bottom: 2px;
    }
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) and (min-height: 600px){
  .lead-cont-holder{
    align-items: center;
    .top-teams{
      max-height: 300px;
    }
  }
}
@media screen and(max-width: 900px) and (orientation: landscape) {
  .month-switchers{
    max-width: 230px;
    height: 19px;
    margin: 0 auto 5px;
    button{
      font-size: 9px;
    }
  }
  .team-img {
    .team-name {
      .name {
        font-size: 18px;
        margin-bottom: 2px;
      }
      .team {
        font-size: 12px;
      }
    }
  }
  .first-team {
    padding-bottom: 15px;
  }
  .secound-team {
    padding-bottom: 10px;
  }
  .third-team {
    padding-bottom: 5px;
  }
  .top-team {
    .position {
      font-size: 17px;
      line-height: 19px;
      padding-bottom: 3px;
    }
    .team-name {
      font-size: 12px;
      line-height: 14px;
      padding-bottom: 2px;
    }
    .win {
      font-size: 11px;
      line-height: 13px;
    }
    .turnover {
      font-size: 10px;
      line-height: 12px;
      padding-bottom: 1px;
      img {
        width: 15px;
      }
    }
  }
}
@media screen and(max-width: 640px) and (orientation: landscape) {
  .month-switchers{
    max-width: 230px;
    height: 19px;
    margin: 5px auto;
    button{
      font-size: 9px;
    }
  }
  .pagination {
    margin-top: 5px;
  }
  .pagebtn-l {
    height: 20px;
  }
  .pagebtn-r {
    height: 20px;
  }

  .page {
    height: 20px;
    font-size: 14px;
  }
  .top-teams {
    width: 59%;
    height: 75%;
  }
  .table-content {
    width: 38%;
  }
  .team-img {
    .team-name {
      .name {
        font-size: 18px;
        margin-bottom: 1px;
      }
      .team {
        font-size: 11px;
      }
    }
  }

  .top-team {
    .position {
      font-size: 16px;
      line-height: 18px;
    }
    .team-name {
      font-size: 11px;
      line-height: 13px;
    }
    .win {
      font-size: 10px;
      line-height: 12px;
    }
    .turnover {
      font-size: 9px;
      line-height: 11px;
      img {
        width: 13px;
      }
    }
  }
}
@media screen and(max-width: 1024px) and (orientation: portrait) {
  .month-switchers{
    max-width: 330px;
    height: 28px;
    button{
      font-size: 13px;
    }
  }
  .lead-cont-holder{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .top-teams{
    margin-top: 50px;
    width: 100%;
  }
  .table-content{
    width: 100%;
  }

  .top-team {
    padding-top: 30px;
    .position {
      margin-top: 30px;
      font-size: 26px;
      line-height: 26px;
      padding-bottom: 10px;
    }
    .team-name {
      font-size: 16px;
      line-height: 11px;
      padding-bottom: 8px;
    }
    .turnover {
      font-size: 14px;
      line-height: 14px;
      img {
        width: 16px;
        margin-right: 5px;
      }
    }
    .team-img {
      width: 35%;
      min-width: 80px;
    }
  }

  .team-img {
    .team-name {
      .name {
        font-size: 10px;
      }
      .team {
        font-size: 8px;
      }
    }
  }

  .win {
    font-size: 12px;
  }
}

@media screen and(max-width: 640px) and (orientation: portrait) {
  .month-switchers{
    max-width: 250px;
    height: 23px;
    margin: 0 auto 5px;
    button{
      font-size: 11px;
    }
  }
  .top-teams{
    margin-top: 20px;
  }
  .top-team {
    margin-top: 50px;
    .position {
      font-size: 20px;
      line-height: 20px;
      padding-bottom: 10px;
    }
    .team-name {
      font-size: 14px;
      line-height: 14px;
      padding-bottom: 8px;
    }
    .turnover {
      font-size: 12px;
      line-height: 12px;
      img {
        width: 14px;
        margin-right: 5px;
      }
    }
    .team-img {
      width: 50%;
    }
    .win{
      font-size: 12px;
    }
  }

  .team-img {
    .team-name {
      top: 26%;
      .name {
        font-size: 8px;
        margin-bottom: 0px;
      }
      .team {
        font-size: 8px;
      }
    }
  }
}