<div class="lead-cont-holder team">
  <div class="top-teams">
    <div class="top-team secound-team">
      <img
        class="team-img"
        *ngIf="
          !myStatData[1] ||
          myStatData[1]?.team?.team_name === 'BTC' ||
          myStatData[1]?.team?.team_name === 'IOI' ||
          myStatData[1]?.team?.team_name === 'ALT'
        "
        [src]="
          '/assets/base/images/teams/' + myStatData[1]?.team?.team_name + '-team.png'
        "
        alt=""
      />
      <div
        class="team-img"
        *ngIf="
          myStatData[1]?.team?.team_name !== 'BTC' &&
          myStatData[1]?.team?.team_name !== 'IOI' &&
          myStatData[1]?.team?.team_name !== 'ALT'
        "
      >
        <img
          [src]="
            'assets/base/images/custom-teams/custom-team' +
            (myStatData[1]?.team?.avatar + 1) +
            '.png'
          "
          alt=""
        />
        <div class="team-name">
          <p class="name">{{ myStatData[1]?.team?.team_name }}</p>
          <p class="team">TEAM</p>
        </div>
      </div>
      <p class="position">2ND</p>
      <p class="team-name">Team {{ myStatData[1]?.team?.team_name }}</p>
      <p class="win">Points</p>
      <p class="turnover">{{ myStatData[1]?.team?.points | number: "1.0-1":"fr" }}</p>
      <p class="win">Potentional win</p>
      <p class="turnover">
        <img src="/assets/base/images/teams/reward-token.png" alt="IOI" /> 700
      </p>
    </div>

    <div class="top-team first-team">
      <img
        class="team-img"
        *ngIf="
          !myStatData[0] ||
          myStatData[0]?.team?.team_name === 'BTC' ||
          myStatData[0]?.team?.team_name === 'IOI' ||
          myStatData[0]?.team?.team_name === 'ALT'
        "
        [src]="
          '/assets/base/images/teams/' + myStatData[0]?.team?.team_name+ '-team.png'
        "
        alt=""
      />
      <div
        class="team-img"
        *ngIf="
          myStatData[0]?.team?.team_name !== 'BTC' &&
          myStatData[0]?.team?.team_name !== 'IOI' &&
          myStatData[0]?.team?.team_name !== 'ALT'
        "
      >
        <img
          [src]="
            'assets/base/images/custom-teams/custom-team' +
            (myStatData[0]?.team?.avatar + 1) +
            '.png'
          "
          alt=""
        />
        <div class="team-name">
          <p class="name">{{ myStatData[0]?.team?.team_name }}</p>
          <p class="team">TEAM</p>
        </div>
      </div>

      <p class="position">1ST</p>
      <p class="team-name">Team {{ myStatData[0]?.team?.team_name }}</p>
      <p class="win">Points</p>
      <p class="turnover">{{ myStatData[0]?.team?.points | number: "1.0-1":"fr" }}</p>
      <p class="win">Potentional win</p>
      <p class="turnover">
        <img src="/assets/base/images/teams/reward-token.png" alt="IOI" /> 1000
      </p>
    </div>

    <div class="top-team third-team">
      <img
        class="team-img"
        *ngIf="
          myStatData[2]?.team?.team_name === 'BTC' ||
          myStatData[2]?.team?.team_name === 'IOI' ||
          myStatData[2]?.team?.team_name === 'ALT'
        "
        [src]="
          '/assets/base/images/teams/' + myStatData[2]?.team?.team_name + '-team.png'
        "
        alt=""
      />
      <div
        class="team-img"
        *ngIf="
          myStatData[2]?.team?.team_name !== 'BTC' &&
          myStatData[2]?.team?.team_name !== 'IOI' &&
          myStatData[2]?.team?.team_name !== 'ALT'
        "
      >
        <img
          [src]="
            'assets/base/images/custom-teams/custom-team' +
            (myStatData[2]?.team?.avatar + 1) +
            '.png'
          "
          alt=""
        />
        <div class="team-name">
          <p class="name">{{ myStatData[2]?.team?.team_name }}</p>
          <p class="team">TEAM</p>
        </div>
      </div>
      <p class="position">3RD</p>
      <p class="team-name">Team {{ myStatData[2]?.team?.team_name}}</p>
      <p class="win">Points</p>
      <p class="turnover">{{ myStatData[2]?.team?.points | number: "1.0-1":"fr" }}</p>
      <p class="win">Potentional win</p>
      <p class="turnover">
        <img src="/assets/base/images/teams/reward-token.png" alt="IOI" /> 300
      </p>
    </div>
  </div>

  <div class="table-content">
    <div class="table-row header">
      <div class="table-item small">
        <p>Place</p>
      </div>
      <div class="table-item big">
        <p>Team</p>
      </div>
      <div class="table-item big last">
        <p>Points</p>
      </div>
    </div>

    <div
      class="table-row"
      *ngFor="let team of myLdrbrd; let yy = index"
      [ngClass]="{ mine: team.team_name === myTeamName }"
    >
      <ng-container *ngIf="team.position > 3">
        <div class="table-item small">
          <p>{{ team.position }}.</p>
        </div>
        <div class="table-item big">
          <p>{{ team.team_name }}</p>
        </div>
        <div class="table-item big bold last">
          <p>{{ team.points | number: "1.0-1":"fr" }}</p>
        </div>
        <div class="mine-back my-cta-btn-back"></div>
      </ng-container>
    </div>

    <div class="pagination">
      <button
        (click)="actualPage = actualPage - 1; getMyLeaderboard(); getteamStats()"
        class="pagebtn-l"
        [disabled]="actualPage <= 1"
      >
        <img
          class="red-box-detail paging-img"
          [ngClass]="{
            'page-opacity': actualPage === 1
          }"
          src="/assets/base/images/icons/icon-back-red.svg"
          alt="red back icon"
        />
        <img
          class="blue-box-detail paging-img"
          [ngClass]="{
            'page-opacity': actualPage === 1
          }"
          src="/assets/base/images/icons/icon-back-blue.svg"
          alt="blue next icon"
        />
      </button>

      <button class="page page-active">{{ actualPage }}</button>
      <button
        (click)="actualPage = actualPage + 1; getMyLeaderboard(); getteamStats()"
        class="page"
        *ngIf="actualPage + 1 < totalPages"
      >
        {{ actualPage + 1 }}
      </button>
      <button
        (click)="actualPage = actualPage + 2; getMyLeaderboard(); getteamStats()"
        class="page"
        *ngIf="actualPage + 2 < totalPages"
      >
        {{ actualPage + 2 }}
      </button>
      <button
        (click)="actualPage = actualPage + 3; getMyLeaderboard(); getteamStats()"
        class="page"
        *ngIf="actualPage + 3 < totalPages"
      >
        {{ actualPage + 3 }}
      </button>
      <button class="page page-disabled" *ngIf="actualPage + 4 < totalPages">
        ...
      </button>
      <button
        (click)="actualPage = totalPages; getMyLeaderboard(); getteamStats()"
        class="page"
        *ngIf="actualPage < totalPages"
      >
        {{ totalPages }}
      </button>

      <button
        (click)="actualPage = actualPage + 1; getMyLeaderboard(); getteamStats()"
        class="pagebtn-r"
        [disabled]="actualPage >= totalPages"
      >
        <img
          class="red-box-detail paging-img"
          [ngClass]="{
            'page-opacity': actualPage >= totalPages
          }"
          src="/assets/base/images/icons/icon-next-red.svg"
          alt="red back icon"
        />
        <img
          class="blue-box-detail paging-img"
          [ngClass]="{
            'page-opacity': actualPage === totalPages
          }"
          src="/assets/base/images/icons/icon-next-blue.svg"
          alt="blue next icon"
        />
      </button>
    </div>
  </div>
</div>

<!-- <div (window:resize)="width()" class="teams-table">
  <div class="desktop-header">
    <p class="first"></p>
    <div class="table-header">
      <div class="table-item small">
        <p>{{ "leaderboard.place" | translate }}</p>
      </div>
      <div class="table-item big">
        <p>{{ "affiliate.name" | translate }}</p>
      </div>
      <div class="table-item">
        <p>{{ "leaderboard.team_leaderboard.turnover" | translate }}</p>
      </div>
      <div class="table-item last">
        <p>{{ "shared.potential_win" | translate }}</p>
      </div>
    </div>
  </div>

  <div
    class="first-team team-row"
    *ngFor="let tt of myStatData; let ix = index"
  >
    <div *ngIf="display <= 640" class="position-holder">
      <p *ngIf="ix === 0">1st</p>
      <p *ngIf="ix === 1">2nd</p>
      <p *ngIf="ix === 2">3rd</p>
    </div>
    <div class="team-box">
      <div *ngIf="display > 640" class="position-holder">
        <p *ngIf="ix === 0">1st</p>
        <p *ngIf="ix === 1">2nd</p>
        <p *ngIf="ix === 2">3rd</p>
      </div>
      <div class="image-holder">
        <div class="image">
          <img
            *ngIf="ix === 0"
            class="crown"
            [src]="'assets/base/images/leaderboard/crown.svg'"
            alt=""
          />
          <div
            *ngIf="ix === 0"
            [ngStyle]="{
              'box-shadow': '0px 0px 20px rgba(255, 212, 59, 0.9)',
              border: '1px solid gold'
            }"
            class="shadow-image"
          ></div>
          <div
            *ngIf="ix === 1"
            [ngStyle]="{
              'box-shadow': '0px 0px 20px rgba(197, 197, 197, 0.9)',
              border: '1px solid silver'
            }"
            class="shadow-image"
          ></div>
          <div
            *ngIf="ix === 2"
            [ngStyle]="{
              'box-shadow': '0px 0px 20px rgba(255, 144, 29, 0.9)',
              border: '1px solid #FFB971'
            }"
            class="shadow-image"
          ></div>
          <img
            [src]="
              'assets/base/images/teams/' +
              tt.team.team_name.toUpperCase() +
              '-team.png'
            "
            alt=""
          />
        </div>
        <h6>
          {{ "shared.layout.team" | translate }}
          {{ tt.team.team_name.toUpperCase() }}
        </h6>
      </div>
      <div class="team-info">
        <div class="team-info-text">
          <p>{{ "leaderboard.team_leaderboard.turnover" | translate }}</p>
          <p>{{ tt.team.points | number: "1.2-2":"fr" }}</p>
        </div>
        <div class="team-info-text">
          <p>{{ "leaderboard.team_leaderboard.team_manager" | translate }}</p>
          <p>{{ tt.team.manager_user_nickname | slice: 0:15 }}</p>
        </div>
        <div class="reward-box" [ngClass]="tt.team.team_name.toUpperCase()">
          <div class="inner-box">
            <p>
              <i class="fa fa-trophy"></i>
              <span>
                {{
                  (tt?.team_bonus ? tt?.team_bonus : 0) | number: "1.2-2":"fr"
                }}
                IOI</span
              >
              {{ "leaderboard.team_leaderboard.actual_reward" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="team-leaders-table" [ngClass]="tt.team.team_name.toUpperCase()">
      <div
        class="arrow-right"
        (click)="this.sliceNums[ix] = this.sliceNums[ix] + 3"
        *ngIf="tt.top10.length > this.sliceNums[ix]"
      >
        <p>&gt;</p>
      </div>
      <div
        class="arrow-left"
        (click)="this.sliceNums[ix] = this.sliceNums[ix] - 3"
        *ngIf="this.sliceNums[ix] > 3"
      >
        <p>&lt;</p>
        <p></p>
      </div>

      <div class="table-row header">
        <div class="table-item small">
          <p>{{ "leaderboard.place" | translate }}</p>
        </div>
        <div class="table-item big">
          <p>{{ "affiliate.name" | translate }}</p>
        </div>
        <div class="table-item">
          <p>{{ "leaderboard.team_leaderboard.turnover" | translate }}</p>
        </div>
        <div class="table-item last">
          <p>{{ "shared.potential_win" | translate }}</p>
        </div>
      </div>

      <div
        class="table-row"
        *ngFor="
          let toper of tt.top10
            | slice: this.sliceNums[ix] - 3:this.sliceNums[ix]
        "
      >
        <div class="table-item small">
          <p>{{ toper.position }}.</p>
        </div>
        <div class="table-item big">
          <p>{{ toper.user_nickname | slice: 0:15 }}</p>
        </div>
        <div class="table-item">
          <p>{{ toper.total_bet_amount | number: "1.2-2":"fr" }}</p>
        </div>
        <div class="table-item last">
          <p>
            {{
              tt.applicable_team_bonuses[toper.position - 1] | number: "1.2-2":"fr"
            }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="no-data" *ngIf="myStatData.length < 3">
    <p>There are incomplete data in this leaderboard so far</p>
  </div>
</div> -->
