<div class="contents--promotion">

  <div class="left-content">

    <div class="text-holder">
      <h1>{{'promotion.prom1_h1' | translate}}</h1>
      <h2>{{'promotion.prom1_h2' | translate}}</h2>
    </div>

  </div>

  <div class="right-content">

    <button class="cta-button active" data-toggle="modal" data-target="#deposit-modal">
      {{'shared.deposit_btn' | translate}}
    </button>
    <div class="info-cont" data-toggle="modal" data-target="#how-to-modal">
      <p>{{'promotion.how_to' | translate}}</p>
      <img src="/assets/base/images/infomation.png" alt="">
    </div>
  </div>

</div>


<app-quick-deposit></app-quick-deposit>


<div class="modal fade" id="how-to-modal" tabindex="-1" role="dialog" aria-labelledby="bet 1 000 TRX info" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content my-modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'promotion.modal_heading' | translate}}</h5>
        <button type="button" class="close my-modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="assets/rewards/X-modal.png" alt=""></span>
        </button>
      </div>
      <div class="modal-body">
          <p> 
            {{'promotion.modal_text' | translate}}
          </p>
      </div>
    </div>
  </div>
</div>