
.contents--promotion{
  max-width: 1390px;
  min-height: 640px;
  position: relative;
  top: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left-content{
  background-image: url('/assets/base/images/promotion-background.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: -260px -13px;
  .text-holder{
    position: absolute;
    width: 90%;
    bottom: 30px;
    h1,h2{
      text-shadow: 6px 10px 9px #000000;
      text-align: center;
    }
    h1{
      font-size: 35px;
      color: white;
      margin: 0;
      line-height: 1;
    }
    h2{
      font-size: 30px;
      color: #00c8fe;
      margin: 7px 0;
      line-height: 1;
    }
  }
}
.right-content{
  background-image: url('/assets/base/images/deposit-promotion-back.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  position: relative;
  button.cta-button{
    display: block;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    &::before{
      width: 201px;
      height: 85px;
      top: -17px;
      left: -25px;
    }
  }
  .info-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
    p{
      margin: 0;
      text-align: left;
      color: #00c8fe;
      text-shadow: 0 3px 0 #000000, 0 0 10px #000000;
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0 7px;
      font-size: 18px;
    }
    img{
      width: 38px;
      margin-left: 3px;
      transition: 0.2s;
    }
    &:hover{
      img{
        transform: scale(1.05);
      }
    }
  }
}

:host {
  width:100%;
}

.left-content,
.right-content{
  width: 45%;
  min-height: 500px;
  border-radius: 10px;
  position: relative;
  border: 1px solid #fd00f5;
  border-top: none;
}


// SIMPLE MODAL

.my-modal-content {
  background: url(../../../../assets/rewards/modal-back.png), rgba(0, 0, 0, 0.9);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
 
}
.my-modal-content .modal-header {
  border-bottom: none;
}
.my-modal-content .modal-title {
  color: #00c8fe;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 30px auto 20px auto;
  text-transform: uppercase;
}
.my-modal-content .my-modal-close {
  opacity: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.my-modal-content .modal-body {
  padding: 10px 20px;
  font-size: 1.125rem;
  text-transform: uppercase;
}
.my-modal-content .modal-body p {
  margin-bottom: 2rem;
  color: white;
  text-align: justify;
  padding: 0 10px;
}