

<div class="banner-container">

  <div class="banner-holder" [ngClass]="bannerIndicator === 1 ? 'show-banner' : 'hide-banner'">
    <!-- <p class="banner-text">Turn passion into <span>WINS</span> and earn TRON every 2 minutes for FREE!</p>
    <button class="cta-btn">PLAY GAME</button> -->
  </div>

  <!-- <div class="banner-dots">
    <span [ngClass]="bannerIndicator === 1 ? 'active' : ''" (click)="manualChange(1)"></span>
    <span [ngClass]="bannerIndicator === 2 ? 'active' : ''" (click)="manualChange(2)"></span>
    <span [ngClass]="bannerIndicator === 3 ? 'active' : ''" (click)="manualChange(3)"></span>
    <span [ngClass]="bannerIndicator === 4 ? 'active' : ''" (click)="manualChange(4)"></span>
    <span [ngClass]="bannerIndicator === 5 ? 'active' : ''" (click)="manualChange(5)"></span>
  </div> -->

</div>
