* {
  margin: 0;
}
.hamburger {
  display: none;
}
.shop-pagee {
  background: white;
}
.filter-overlay {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111111 100%);
  transition: 0.2s;
  opacity: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.filter-overlay-active {
  opacity: 1;
}

.menu {
  position: relative;
  width: 70%;
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 66px;
  margin-right: -80px;

  .nav {
    div {
      margin-right: 80px;
    }
    display: flex;
    align-items: center;
    p {
      outline: none;
      transition: 0.2s;
      margin: 0;
      color: black;
      cursor: pointer;
    }
    .my-cta {
      transition: 0.2s;
      cursor: pointer;
      background: linear-gradient(99.76deg, #fe173f 117.01%, #240b36 187.56%),
        linear-gradient(250.32deg, #eb2163 22.61%, #950552 85.16%);
      border-radius: 12px;
      border: none;
      padding: 0;
      border: 0;
      outline: 0;
      padding: 10px 41px;

      p {
        font-size: 20px;
        margin: 0;
        color: white;
      }
    }
    .my-cta:hover {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
    }
    .active {
      font-weight: 700;
    }
  }
  .logo {
    width: 78px;
    position: relative;
    cursor: pointer;
    img {
      width: 78px;
    }
    p {
      font-family: "True-Lies";
      font-size: 32px;
      color: #ff183f;
      transform: rotate(-5deg) translateY(100%);
      position: absolute;
      left: -60%;
      bottom: 0;
      width: 200px;
      text-align: right;
      margin: 0;
      -webkit-transform: rotate(-5deg) translateY(100%);
      -moz-transform: rotate(-5deg) translateY(100%);
      -ms-transform: rotate(-5deg) translateY(100%);
      -o-transform: rotate(-5deg) translateY(100%);
    }
    span {
      font-family: "True-Lies";
      color: black;
      margin-right: -30px;
    }
  }
}

//
.shop-section {
  min-height: 100vh;
  position: relative;
  margin-top: 150px;
  padding-bottom: 200px;
  .title {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 75%;
    margin-left: 12.5%;
    text-align: center;
    h1 {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 65px;
      /* identical to box height, or 164% */

      text-align: center;

      /* Gray 1 */

      color: #333333;
    }
  }
  .shop-header {
    position: relative;
    width: 75%;
    margin-left: 12.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .filter-featured {
      margin-bottom: 20px;
      width: 95%;
      display: flex;
      position: relative;
      .filter-title {
        position: relative;

        p {
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 25px;
          line-height: 30px;

          /* identical to box height */

          /* Gray 5 */

          color: #111111;
          opacity: 0.4;
        }
      }
      .filter-boxes {
        display: flex;
        width: 50%;
        > div {
          margin-left: 12.5%;
          .filter-box {
            cursor: pointer;
            background: rgb(51, 51, 51, 0);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
            transition: 0.2s;
            /*Gray5*/
            border: 1.5px solid #e0e0e0;
            box-sizing: border-box;
            border-radius: 5px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            &.filter-active {
              background: rgb(51, 51, 51, 0.8);
            }
          }

          p {
            display: inline-block;
            margin-top: 0%;
            width: 50px;
            margin-left: 40%;
            width: 100px;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: #111111;
            opacity: 0.4;
            line-height: 30px;
          }
        }
      }
    }
  }
  .shop-section-center {
    width: 75%;
    margin-left: 12.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    .box {
      box-shadow: (6px 8px 35px rgba(0, 0, 0, 0.15));
      cursor: pointer;
      overflow: hidden;
      margin: 0.75%;
      position: relative;
      background: white;
      width: 23.5%;
      height: 420px;
      margin-bottom: 1.5%;
      border-radius: 10px;
      padding: 1%;
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      &.sold-out {
        opacity: 0.7;
      }
      .txt {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 20%;
        //meno kolekcie
        .collection {
          max-width: 50%;
          position: absolute;
          left: 0px;
          bottom: 0px;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 10px;
          /* identical to box height, or 24px */

          color: #111111;
          opacity: 0.6;
        }
        //meno

        .name {
          height: fit-content;
          position: absolute;
          left: 0px;
          top: 10px;
          position: absolute;
          font-style: normal;
          font-weight: normal;

          font-family: True-Lies;
          font-size: 32px;
          color: #111111;
          span {
            font-family: True-Lies;
          }
        }

        .prize {
          height: fit-content;
          position: absolute;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          right: 0px;
          bottom: 0px;
          color: #30cece;
        }
        button {
          outline: none;
          cursor: pointer;

          border: 0;

          height: 32.5%;
          width: 85%;
          border-radius: 12px;
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 30px;
          color: white;
          margin: 0 auto;
          margin-top: auto;
          transition: 0.2s;
        }
      }
      .boximage {
        overflow: hidden;
        border-radius: 10px;
        background: #ebebeb;
        background-position: center;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 80%;
        img {
          transition: 0.3s;
          max-width: 360px;
          width: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: 0.2s;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          &.special {
            width: 80%;
            max-width: 260px;
          }
          &.team {
            width: 80%;
            max-width: 260px;
          }
          &.gif {
            opacity: 0;
          }
          &.still {
            opacity: 1;
          }
          &.racer {
            top: 55%;
          }
        }
      }
    }
    .box:hover {
      transform: scale(1.02);
      -webkit-transform: scale(1.02);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02);
      .boximage {
        img {
          opacity: 0;
          &.gif {
            opacity: 1;
          }
          &.still {
            opacity: 1;
          }
        }
      }
    }
  }
  .engage-next-anim {
    animation: engage-boxes 0.4s;
    -webkit-animation: engage-boxes 0.4s;
  }
  .disengage-next-anim {
    animation: disengage-boxes 0.4s;
    -webkit-animation: disengage-boxes 0.4s;
  }
  .engage-prev-anim {
    animation: engage-boxes 0.4s;
    -webkit-animation: engage-boxes 0.4s;
  }
  .disengage-prev-anim {
    animation: disengage-boxes 0.4s;
    -webkit-animation: disengage-boxes 0.4s;
  }
  @keyframes engage-boxes-left {
    0% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      opacity: 1;
    }
  }
  @keyframes disengage-boxes-left {
    0% {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
    }
  }
  @keyframes engage-boxes {
    0% {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      opacity: 1;
    }
  }
  @keyframes disengage-boxes {
    0% {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      -o-transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      opacity: 0;
    }
  }
  .pages {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    > div {
      position: relative;
      p {
        color: black;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
      }
      span {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
      }
      .leftspan {
        color: black;
      }
      .rightspan {
        color: #eb3349;
      }
    }
    button {
      background: none;
      outline: none;
      border: none;
      cursor: pointer;
      img {
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    }
    .clickPage {
    }
    .page-left {
      width: 10%;
    }
    .page-middle {
      width: 20%;
      position: relative;
      p {
        margin: 0;
        width: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    }
    .page-right {
      width: 10%;
    }
    .page-opacity {
      opacity: 0.4;
    }
    .arrow-animation {
      animation: arrow-animation 0.4s;
      -webkit-animation: arrow-animation 0.4s;
    }
    @keyframes arrow-animation {
      0% {
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
      50% {
        transform: translate(-50%, -30%);
        -webkit-transform: translate(-50%, -30%);
        -moz-transform: translate(-50%, -30%);
        -ms-transform: translate(-50%, -30%);
        -o-transform: translate(-50%, -30%);
      }
      100% {
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
      }
    }
  }
}
@media screen and (max-width: 1700px) {
  .shop-section {
    .shop-section-center {
      .boxes {
        .box {
          height: 300px;
          .boximage {
            img {
              width: 100%;
              max-width: 250px;
              &.special {
                top: 55%;
                width: 80%;
                max-width: 220px;
              }
              &.team {
                width: 80%;
                max-width: 220px;
              }
              &.racer {
                max-width: 300px;
              }
            }
          }
          .txt {
            .name {
              font-size: 21px;
            }
            .collection {
              font-size: 15px;
            }
            .racername {
              font-size: 26px;
            }
            .prize {
              font-size: 21px;
            }
            button {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1550px) {
  .shop-section {
    .title {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .shop-section-center {
      .boxes {
        .box {
          .txt {
            .name {
              font-size: 19px;
            }
            .collection {
              font-size: 14px;
            }
            .racername {
              font-size: 23px;
            }
            .prize {
              font-size: 19px;
            }
            button {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1350px) {
  .shop-section {
    .shop-header {
      .filter-mobile {
        width: 100%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 20px;

        position: relative;
        display: flex;
        .filter-tit {
          width: 50%;
          h2 {
            color: black;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
          }
        }
        .filter-img {
          width: 50%;
          position: relative;
          margin-left: auto;
          cursor: pointer;
          z-index: 2;
          img {
            top: 0px;
            right: 0px;
            width: 25px;
            height: 25px;
            transition: 0.2s;
            opacity: 1;
            position: absolute;
            &.filter-filled {
              opacity: 1;
            }
            &.filter-unfilled {
              opacity: 0;
            }
          }
        }
        .filter-content {
          display: flex;
          flex-direction: column;
          z-index: 2;
          overflow: hidden;
          position: absolute;
          width: 0px;
          height: 0px;
          right: 0px;
          top: 50px;
          transition: 0.2s;
          background: #ffffff;
          border-radius: 5px;
          -webkit-transition: 0.2s;
          -moz-transition: 0.2s;
          -ms-transition: 0.2s;
          -o-transition: 0.2s;

          h3 {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #333333;
          }

          .item-title {
            margin-bottom: 5px;
          }
          .item {
            cursor: pointer;
            display: flex;
            margin-top: 5px;
            p {
              font-family: Poppins;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: #333333;

              opacity: 0.4;
            }
            img {
              transition: 0.2s;
              position: absolute;
              opacity: 0;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              -webkit-transition: 0.2s;
              -moz-transition: 0.2s;
              -ms-transition: 0.2s;
              -o-transition: 0.2s;
            }
            .checkbox {
              position: relative;
              margin-left: auto;
              width: 20px;
              height: 20px;

              opacity: 0.4;
              border: 1.5px solid #333333;
              box-sizing: border-box;
              border-radius: 5px;
            }
          }
          .item-active {
            p {
              opacity: 1;
            }
            img {
              opacity: 1;
            }
            .checkbox {
              opacity: 1;
            }
          }
          button {
            margin-top: auto;
            width: 213px;
            height: 46px;
            border-radius: 5px;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            background: linear-gradient(
              99.76deg,
              #fe173f 117.01%,
              #240b36 187.56%
            );
          }
        }
        .filter-content-active {
          padding: 20px;
          width: 253px;
          height: 320px;
        }
      }
      .filter-mobile:hover {
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .shop-section {
    padding-bottom: 150px;
    .title {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 75%;
      margin-left: 12.5%;
      text-align: center;
      h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 65px;
        /* identical to box height, or 164% */

        text-align: center;

        /* Gray 1 */

        color: #333333;
      }
    }
    .shop-section-center {
      width: 75%;
      margin-left: 12.5%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .boxes {
        .box {
          width: 31%;
          margin: 1.16%;
          margin-bottom: 2.8%;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .navoverlay {
    z-index: 1;
    position: absolute;
    height: 0%;
    width: 100%;
    background: rgb(30, 30, 30, 0.9);
    transition: 0.2s;
  }
  .navoverlay-active {
    z-index: 1;
    position: fixed;

    height: 100%;
    width: 100%;
  }
  .hamburger {
    padding: 0;
    margin: 0;
    display: block;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    top: 52px;
    right: 0px;
    color: black;
    font-size: 40px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    i {
      color: black;
      padding: 0;
      margin: 0;
    }
  }
  .hamburgerclick {
    animation: hamburgerclick 0.2s;
    i {
      color: white;
    }
  }
  .close-menu {
    padding: 0px;
    margin: 0px;
    display: block;
    cursor: pointer;
    z-index: 0;
    position: absolute;
    top: 35px;
    right: 40px;
    color: white;
    font-size: 0px;
    transition: 0.2s;
  }
  @keyframes hamburgerclick {
    0% {
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
    }
    50% {
      transform: translateY(5px);
      -webkit-transform: translateY(5px);
      -moz-transform: translateY(5px);
      -ms-transform: translateY(5px);
      -o-transform: translateY(5px);
    }
    100% {
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
    }
  }
  .menu {
    width: 80%;
    margin-left: 10%;
    height: 100%;
    display: flex;
    justify-content: none;
    align-items: center;
    padding-top: 66px;

    .nav {
      transition: 0.2s;
      position: absolute;
      left: 0%;
      top: -200px;
      //height: 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
      div {
        margin-right: 0;
      }

      align-items: center;
      p {
        transition: 0.2s;
        margin: 0;
        color: white;
        cursor: pointer;
      }
      .my-cta {
        transition: 0.2s;
        cursor: pointer;
        background: linear-gradient(99.76deg, #fe173f 117.01%, #240b36 187.56%),
          linear-gradient(250.32deg, #eb2163 22.61%, #950552 85.16%);
        border-radius: 12px;
        border: none;
        padding: 0;
        border: 0;
        outline: 0;
        padding: 10px 41px;
        p {
          font-size: 20px;
          margin: 0;
        }
      }
      .my-cta:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
      }
      .active {
        font-weight: 700;
      }
    }
    .nav-active {
      transition: 0.5s;
      left: 15%;
      width: 70%;
      height: fit-content;
      top: 200px;
      z-index: 2;
      p {
        transition: 0.2s;
        margin: 0;
        color: white;
        cursor: pointer;
        font-size: 20px;
      }
      div {
        height: 20px;
        margin-top: 25px;
      }
      .my-cta {
        margin-top: 40px;
        transition: 0.2s;
        padding: 10px 36px;
        border: 0;
        outline: 0;
        background: linear-gradient(99.76deg, #fe173f 117.01%, #240b36 187.56%),
          linear-gradient(250.32deg, #eb2163 22.61%, #950552 85.16%);
        border-radius: 12px;
        color: white;
        cursor: pointer;
        font-size: 15px;
      }
    }
    .logo {
      img {
        width: 78px;
      }
      p {
        font-size: 25px;
      }
      span {
        font-size: 25px;
      }
    }
  }
  .shop-section {
    margin-top: 150px;

    .shop-section-center {
    }
  }
}
@media screen and (min-width: 1024px) {
  .shop-section {
    .shop-header {
      .filter-featured {
        .filter-boxes {
          > div {
            .filter-box:hover {
              background: rgb(169, 169, 169, 0.9);
            }
          }
        }
      }
    }
    .shop-section-center {
      .boxes {
        .box {
          .txt {
            button {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .shop-section {
    margin-top: 100px;
    padding-bottom: 150px;

    .title {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 75%;
      margin-left: 12.5%;
      text-align: center;
      h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 65px;
        /* identical to box height, or 164% */

        text-align: center;

        /* Gray 1 */

        color: #333333;
      }
    }
    .shop-header {
      width: 85%;
      margin-left: 7.5%;
    }
  }
}
@media screen and (max-width: 750px) {
  .shop-section {
    padding-bottom: 100px;
    .title {
      width: 75%;
      margin-left: 12.5%;
      text-align: center;
      h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 65px;
        /* identical to box height, or 164% */

        text-align: center;

        /* Gray 1 */

        color: #333333;
      }
    }

    .shop-header {
    }
    .title {
      margin-top: 150px;
      margin-bottom: 50px;
      width: 75%;
      margin-left: 12.5%;
      text-align: center;
      h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 65px;
        /* identical to box height, or 164% */

        text-align: center;

        /* Gray 1 */

        color: #333333;
      }
    }
    .shop-header {
      width: 95%;
      margin-left: 2.5%;
    }
    .shop-section-center {
      width: 95%;
      margin-left: 2.5%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
@media screen and (max-width: 640px) {
  .hamburger {
    margin-right: 3%;
  }
  .menu {
    width: 95%;
    margin-left: 2.5%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .shop-section {
    margin-top: 100px;
    padding-bottom: 100px;
    .shop-section-center {
      .boxes {
        .box {
          padding: 2%;
          height: 270px;
          width: 46%;
          margin: 2%;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          .boximage {
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }
          .txt {
            button {
              height: 45px;
              font-size: 14px;
              width: 100%;
              border-radius: 5px;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              -ms-border-radius: 5px;
              -o-border-radius: 5px;
            }
          }
        }
      }
    }
    .pages {
      .page-left {
        width: 20%;
      }
      .page-middle {
        width: 60%;
      }
      .page-right {
        width: 20%;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .shop-section {
    .shop-section-center {
      .boxes {
        .box {
          height: 240px;
          .boximage {
            img {
              top: 50%;
              transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
            }
          }
          .txt {
            .collection {
              font-size: 14px;
            }
            //meno

            .name {
              font-size: 16px;
            }

            .prize {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width: 400px) {
  .shop-section {
    .shop-section-center {
      .boxes {
        .box {
          height: 215px;

          .boximage {
            img {
              max-width: 120%;
              width: 200px;
              top: 50%;
              transform: translate(-50%, -50%);
              &.racer {
                max-width: 110%;
                top: 55%;
              }
            }
          }
          .txt {
            .name {
              top: 2px;
              font-size: 15px;
            }
            .collection {
              font-size: 11px;
            }
            .prize {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 2000px) {
  .shop-section {
    .shop-section-center {
      .boxes {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .box {
          height: 500px;
        }
      }
    }
  }
}
