* {
  margin: 0px;
}

.dissapear-right-animation {
  animation: dissapear-right 0.3s linear;
  -webkit-animation: dissapear-right 0.3s linear;
}
.dissapear-left-animation {
  animation: dissapear-left 0.3s linear;
  -webkit-animation: dissapear-left 0.3s linear;
}
.engage-right-animation {
  animation: engage-right 0.3s linear;
  -webkit-animation: engage-right 0.3s linear;
}
.engage-left-animation {
  animation: engage-left 0.3s linear;
  -webkit-animation: engage-left 0.3s linear;
}
.paging-img {
  width: 21px;
}
@keyframes dissapear-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes dissapear-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes engage-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes engage-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

.market-content {
  min-height: 100vh;
}
.market-back-div {
  position: sticky;
  height: 0px;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.bold {
  font-weight: bold;
}
.market-back {
  top: 0px;
  left: 0px;
  position: absolute;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("/assets/base/images/bundles/bundles-back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}
.content {
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  .left-content {
    width: 20%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .category-title-big {
      color: #ff183f;
      margin-left: -40px;
    }
    .category-title-second {
      opacity: 0.2;
    }
    .races-desc {
      margin-top: 30px;
    }
  }
  .right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    padding-bottom: 100px;
    width: 75%;
    .filter {
      height: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      .border-line {
        width: 1px;
        height: 150%;
        background: #e81c3e;
      }
      .category-title-fourth {
        transition: 0.3s;
        cursor: pointer;
        position: relative;
        span {
          position: absolute;
          top: -10%;
          right: 10%;
          transform: translate(60%, -60%);
          font-weight: 900;
          font-size: 12px;
          color: #ff183f;
          letter-spacing: 0.05em;
        }
        &::before {
          transition: 0.3s;
          content: "";
          position: absolute;
          width: 0%;
          background: rgba(255, 255, 255, 0.5);
          height: 1px;
          right: 45%;
          top: -2px;
        }
        &::after {
          transition: 0.3s;
          content: "";
          position: absolute;
          width: 0%;
          background: rgba(255, 255, 255, 0.5);
          height: 1px;
          left: 45%;
          bottom: -2px;
        }
        &.active {
          color: #e81c3e;
        }
      }
      .category-title-fourth:hover {
        &::before {
          width: 60%;
        }
        &::after {
          width: 60%;
        }
      }
    }
    .boxes {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .box {
        cursor: pointer;
        transition: 0.3s;
        overflow: hidden;
        border-radius: 10px;
        background: radial-gradient(
          103.39% 103.39% at 0% 0%,
          #797979 0%,
          rgba(46, 46, 46, 0) 100%
        );
        width: 30%;
        margin: 1.666%;
        height: 480px;

        .box-content {
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: space-between;
          height: 100%;
          width: 100%;
        }
        .box-image {
          width: 100%;
          height: 55%;
          position: relative;

          img {
            transition: 0.3s;
            width: 110%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            max-height: unset;
            max-width: unset;
            &.racer {
              top: 60%;
              opacity: 1;
              height: 120%;
              width: auto;
            }
            &.car {
              opacity: 1;
            }
            &.gif-racer {
              opacity: 0;
              top: 55%;
              height: 120%;
              width: auto;
            }
            &.gif-car {
              opacity: 0;
            }
          }
        }
        .box-text {
          text-align: center;
          .category-title-fifth {
            margin-top: 10px;
          }
        }
        .box-buttons {
          display: flex;
          justify-content: space-between;
          height: 15%;
          width: 100%;
          button {
            height: 100%;

            img {
              height: 65%;
              width: auto;
            }
            &.price {
              color: white;
              width: 100%;
              background: linear-gradient(
                  99.76deg,
                  #fe173f 117.01%,
                  #240b36 187.56%
                ),
                linear-gradient(250.32deg, #eb2163 22.61%, #950552 85.16%);
              img {
                margin-right: 5%;
              }
            }
          }
        }
      }
      .box:hover {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
        box-shadow: (0px 0px 15px rgba(255, 255, 255, 0.9));
        .box-image {
          img {
            &.gif-hover {
              opacity: 0;
            }
            &.nogif-hover {
              opacity: 0;
            }
            &.gif-racer {
              opacity: 1;
            }
            &.gif-car {
              opacity: 1;
            }
          }
        }
      }
    }
    .market-paging {
      margin-top: 30px;
      height: fit-content;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .category-title-fourth {
        font-weight: 300;
      }
      .page-left {
        width: 25%;
        justify-content: center;
        display: flex;
      }
      .page-middle {
        display: flex;
        width: 20%;
        justify-content: center;
      }
      .page-right {
        width: 25%;
        justify-content: center;
        display: flex;
      }
      button {
        border: none;
        height: fit-content;
        width: fit-content;
        background: transparent;
      }
      .page-opacity {
        opacity: 0.4;
      }
      .arrow-animation {
        animation: arrow-animation 0.3s;
        -webkit-animation: arrow-animation 0.3s;
      }
      @keyframes arrow-animation {
        0% {
          transform: translateY(0%);
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -ms-transform: translateY(0%);
          -o-transform: translateY(0%);
        }
        50% {
          transform: translateY(5px);
          -webkit-transform: translateY(5px);
          -moz-transform: translateY(5px);
          -ms-transform: translateY(5px);
          -o-transform: translateY(5px);
        }
        100% {
          transform: translateY(0%);
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -ms-transform: translateY(0%);
          -o-transform: translateY(0%);
        }
      }
    }
  }
}
.category-title-big {
  font-family: True-Lies;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 92px;
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
}
.category-title-first {
  font-style: normal;
  font-weight: normal;
  font-family: True-Lies;
  font-size: 43px;
  line-height: 45px;
}
.category-title-second {
  font-style: normal;
  font-weight: 900;
  font-size: 37px;
  line-height: 39px;
}
.category-title-third {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}
.category-title-fourth {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 28px;
  letter-spacing: 0.235em;
  text-transform: uppercase;
}
.category-title-fifth {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.3em;
  opacity: 0.9;
}
.races-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  opacity: 0.8;
}
.price-text {
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 31px;
}
@media screen and(max-width: 1700px) {
  .paging-img {
    width: 17px;
  }
  .category-title-big {
    font-size: 85px;
    line-height: 87px;
  }
  .category-title-first {
    font-size: 40px;
    line-height: 42px;
  }
  .category-title-second {
    font-size: 35px;
    line-height: 37px;
  }
  .category-title-third {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-fourth {
    font-size: 24px;
    line-height: 26px;
  }
  .category-title-fifth {
    font-size: 15px;
    line-height: 17px;
  }
  .races-desc {
    font-size: 18px;
    line-height: 20px;
  }
  .price-text {
    font-size: 28px;
    line-height: 28px;
  }
  .content {
    .right-content {
      .filter {
        width: 80%;
      }
      .boxes {
        .box {
          height: 400px;
        }
      }
    }
  }
}
@media screen and(max-width: 1550px) {
  .paging-img {
    width: 15px;
  }
  .content {
    .left-content {
      .category-title-second {
        margin-top: 30px;
        margin-bottom: 0px;
      }
    }
    .right-content {
      .boxes {
        .box {
          height: 350px;
        }
      }
    }
  }
  .category-title-big {
    font-size: 75px;
    line-height: 77px;
  }
  .category-title-first {
    font-size: 35px;
    line-height: 37px;
  }
  .category-title-second {
    font-size: 30px;
    line-height: 32px;
  }
  .category-title-third {
    font-size: 18px;
    line-height: 20px;
  }
  .category-title-fourth {
    font-size: 22px;
    line-height: 24px;
  }
  .category-title-fifth {
    font-size: 14px;
    line-height: 16px;
  }
  .races-desc {
    font-size: 17px;
    line-height: 19px;
  }
  .price-text {
    font-size: 26px;
    line-height: 28px;
  }
}
@media screen and(max-width: 1400px) {
  .content {
    .right-content {
      .boxes {
        .box {
          height: 330px;
        }
      }
    }
  }
  .category-title-big {
    font-size: 70px;
    line-height: 72px;
  }
  .category-title-first {
    font-size: 32px;
    line-height: 34px;
  }
  .category-title-second {
    font-size: 27px;
    line-height: 29px;
  }
  .category-title-third {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-fourth {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-fifth {
    font-size: 13px;
    line-height: 15px;
  }
  .races-desc {
    font-size: 15px;
    line-height: 17px;
  }
  .price-text {
    font-size: 24px;
    line-height: 26px;
  }
}
@media screen and(max-width: 1200px) {
  .content {
    .right-content {
      .filter {
        width: 95%;
      }
      .boxes {
        margin-top: 15px;
        .box {
          height: 310px;
        }
      }
    }
  }
  .category-title-big {
    font-size: 65px;
    line-height: 72px;
  }
  .category-title-first {
    font-size: 30px;
    line-height: 34px;
  }
  .category-title-second {
    font-size: 25px;
    line-height: 27px;
  }
  .category-title-third {
    font-size: 15px;
    line-height: 17px;
  }
  .category-title-fourth {
    font-size: 19px;
    line-height: 21px;
  }
  .category-title-fifth {
    font-size: 12px;
    line-height: 14px;
  }
  .races-desc {
    font-size: 14px;
    line-height: 16px;
  }
  .price-text {
    font-size: 22px;
    line-height: 24px;
  }
}
@media screen and(max-width: 1024px) {
  .paging-img {
    width: 13px;
  }
}

@media screen and (min-width: 2100px) and (min-height: 1081px) {
}
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content {
    width: 90%;
    .left-content {
      .category-title-big {
        margin-left: -10px;
      }
      .races-desc {
        margin-top: 15px;
      }
    }
    .right-content {
      .filter {
        width: 90%;
      }

      .market-paging {
        .page-left {
          width: 30%;
        }
        .page-middle {
          width: 40%;
        }
        .page-right {
          width: 30%;
        }
      }
    }
  }
  .category-title-big {
    font-size: 63px;
    line-height: 65px;
  }
  .category-title-first {
    font-size: 28px;
    line-height: 30px;
  }
  .category-title-second {
    font-size: 23px;
    line-height: 25px;
  }
  .category-title-third {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-fourth {
    font-size: 18px;
    line-height: 20px;
  }
  .category-title-fifth {
    font-size: 11px;
    line-height: 13px;
  }
  .races-desc {
    font-size: 13px;
    line-height: 15px;
  }
  .price-text {
    font-size: 20px;
    line-height: 22px;
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .content {
    .right-content {
      padding-bottom: 50px;
      margin-top: 12%;
      .boxes {
        .box {
          height: 255px;
        }
      }
    }
  }
  .category-title-big {
    font-size: 55px;
    line-height: 67px;
  }
  .category-title-first {
    font-size: 23px;
    line-height: 25px;
  }
  .category-title-second {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-third {
    font-size: 13px;
    line-height: 15px;
  }
  .category-title-fourth {
    font-size: 17px;
    line-height: 19px;
  }
  .category-title-fifth {
    font-size: 11px;
    line-height: 13px;
  }
  .races-desc {
    font-size: 13px;
    line-height: 15px;
  }
  .price-text {
    font-size: 18px;
    line-height: 20px;
  }
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  .content {
    .right-content {
      .boxes {
        .box {
          height: 240px;
        }
      }
    }
  }
  .category-title-big {
    font-size: 50px;
    line-height: 52px;
  }
  .category-title-first {
    font-size: 21px;
    line-height: 23px;
  }
  .category-title-second {
    font-size: 18px;
    line-height: 20px;
  }
  .category-title-third {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-fourth {
    font-size: 15px;
    line-height: 17px;
  }
  .category-title-fifth {
    font-size: 11px;
    line-height: 13px;
  }
  .races-desc {
    font-size: 12px;
    line-height: 14px;
  }
  .price-text {
    font-size: 17px;
    line-height: 19px;
  }
}
@media screen and(max-width: 640px) and (orientation: landscape) {
  .paging-img {
    width: 8.5px;
  }
  .content {
    .left-content {
      width: 23%;
    }
    .right-content {
      .filter {
        p {
        }
      }
      .boxes {
        .box {
          height: 190px;
        }
      }
    }
  }
  .category-title-big {
    font-size: 40px;
    line-height: 42px;
  }
  .category-title-first {
    font-size: 17px;
    line-height: 19px;
  }
  .category-title-second {
    font-size: 15px;
    line-height: 17px;
  }
  .category-title-third {
    font-size: 10px;
    line-height: 12px;
  }
  .category-title-fourth {
    font-size: 13px;
    line-height: 15px;
  }
  .category-title-fifth {
    font-size: 9px;
    line-height: 11px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
  }
  .price-text {
    font-size: 15px;
    line-height: 17px;
  }
}
@media screen and(max-width: 1024px) and (orientation: portrait) {
  .paging-img {
    width: 15px;
  }
  .content {
    width: 90%;
    flex-direction: column;
    .left-content {
      height: auto;
      width: 80%;
      margin: 0 auto;
      margin-top: 130px;
    }
    .right-content {
      margin-top: 10%;
      width: 100%;
      .filter {
        .border-line {
          height: 30px;
        }
      }
      .market-paging {
        .page-left {
          width: 25%;
        }
        .page-middle {
          width: 50%;
        }
        .page-right {
          width: 25%;
        }
      }
    }
  }

  .category-title-first {
    font-size: 28px;
    line-height: 30px;
  }
}

@media screen and(max-width: 640px) and (orientation: portrait) {
  .content {
    .left-content {
      width: 100%;
      margin-top: 80px;
      .category-title-big {
        margin-left: 0px;
      }
    }

    .right-content {
      margin-top: 10%;
      width: 100%;
      .filter {
        width: 100%;
        .category-title-fourth {
          letter-spacing: 0.15em;
        }
      }
      .boxes {
        margin-left: -1.5%;
        width: 103%;
        .box {
          height: 280px;
          width: 47%;
          margin: 1.5%;
        }
      }
    }
  }
  .category-title-big {
    font-size: 55px;
    line-height: 57px;
  }
  .category-title-first {
    font-size: 26px;
    line-height: 28px;
  }
  .category-title-second {
    font-size: 24px;
    line-height: 26px;
  }
  .category-title-third {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-fourth {
    font-size: 17px;
    line-height: 19px;
  }
  .category-title-fifth {
    font-size: 10px;
    line-height: 12px;
  }
  .races-desc {
    font-size: 13px;
    line-height: 15px;
  }
  .price-text {
    font-size: 20px;
    line-height: 22px;
  }
}

@media screen and(max-width: 350px) and (orientation: portrait) {
  .content {
    .right-content {
      .filter {
        .category-title-fourth {
          letter-spacing: 0.1em;
        }
      }
    }
  }

  .category-title-fourth {
    font-size: 16px;
    line-height: 18px;
  }
}
