
<div class="main-holder" [ngClass]="{'non-premium': myDriverOld?.is_paid_membership === false || !myDriverOld?.is_paid_membership}">
  <div class="top-text">
    <p class="heading">Daily tasks</p>
    <p class="text">Finish your daily tasks and earn your bonuses! Become premium member and earn 4x more</p>
  </div>

  <div class="non-premium-box">
    <img src="/assets/base/images/menu/lock-icon.svg" alt="Icon of lock - locked">
    <p>Unlock more Daily tasks by becoming a Premium member</p>
  </div>

  <div class="task-item item1" [ngClass]="{'active': task6}">
    <div class="text-holder" *ngIf="!task6">
      <p>0<span class="complete-num">/1</span> Deposit 1 000 IOI <span>for</span> 1 <img class="ioi-icon" src="/assets/base/images/curr-logos/nex/ioi-logo.png" alt=""></p>
    </div>
    <img class="locked-icon" src="/assets/base/images/menu/lock-icon.svg" alt="Icon of lock - locked">
    <div class="text-holder" *ngIf="task6">
      <p><img class="done-icon" src="/assets/base/images/tasks/done-icon.svg" alt=""> Deposit 100 IOI <span>for</span> 1 <img class="ioi-icon" src="/assets/base/images/curr-logos/nex/ioi-logo.png" alt=""></p>
    </div>
    <img *ngIf="!task6" class="task-icon clickable" src="/assets/base/images/tasks/item1.png" alt="" [routerLink]="['/other/wallet-control']" [queryParams]="{ controlType: 'deposit' }">
    <img *ngIf="task6" class="task-icon" src="/assets/base/images/tasks/item1-active.png" alt="">
  </div>
  <div class="task-item item2" [ngClass]="{'tutorial-high': tutorialStep === 1}">
    <div class="text-holder" *ngIf="!task0">
      <p>0<span class="complete-num">/1</span> Free race rookie <span>for</span> 1 <img class="ioi-icon" src="/assets/base/images/curr-logos/nex/ioi-logo.png" alt=""></p>
    </div>
    <div class="text-holder" *ngIf="task0">
      <p><img class="done-icon" src="/assets/base/images/tasks/done-icon.svg" alt=""> Free race rookie <span>for</span> 1 <img class="ioi-icon" src="/assets/base/images/curr-logos/nex/ioi-logo.png" alt=""></p>
    </div>
    <img *ngIf="!task0 && startTutorial === false" class="task-icon clickable" src="/assets/base/images/tasks/item2.png" alt="" [routerLink]="['/car/fuel-car/car_race_short_0']">
    <img *ngIf="task0 || startTutorial === true" class="task-icon" src="/assets/base/images/tasks/item2-active.png" alt="" [routerLink]="['/car/fuel-car/car_race_short_0']">
  </div>
  <div class="task-item item4" [ngClass]="{'active': task8}">
    <div class="text-holder"  *ngIf="!task8">
      <p>0<span class="complete-num">/1</span> Join Tournament "Expert IOI" <span>for</span> 1 <img class="ioi-icon" src="/assets/base/images/curr-logos/nex/ioi-logo.png" alt=""></p>
    </div>
    <div class="text-holder"  *ngIf="task8">
      <p><img class="done-icon" src="/assets/base/images/tasks/done-icon.svg" alt="">  Join Tournament "Expert IOI" <span>for</span> 1 <img class="ioi-icon" src="/assets/base/images/curr-logos/nex/ioi-logo.png" alt=""></p>
    </div>
    <img class="locked-icon" src="/assets/base/images/menu/lock-icon.svg" alt="Icon of lock - locked">
    <img *ngIf="!task8" class="task-icon clickable" src="/assets/base/images/tasks/item4.png" alt="" [routerLink]="['/car/fuel-car/classic_tournament_10']">
    <img *ngIf="task8" class="task-icon" src="/assets/base/images/tasks/item4-active.png" alt="">
  </div>
  <div class="task-item item5">
    <div class="text-holder" >
      <p><span class="complete-num"></span> Share IOI on socials. <br> Receive up to 100 IOI weekly<span>for</span> 1 <img class="ioi-icon" src="/assets/base/images/curr-logos/nex/ioi-logo.png" alt=""></p>
    </div>
    <img class="locked-icon" src="/assets/base/images/menu/lock-icon.svg" alt="Icon of lock - locked">
    <img class="task-icon" src="/assets/base/images/tasks/item5.png" alt="" (click)="showShareModal = true">
    <!-- <img class="task-icon" src="/assets/base/images/tasks/item5-active.png" alt=""> -->
  </div>
  <div class="task-item item6" [ngClass]="{'active': task1}">
    <div class="text-holder" *ngIf="task1">
      <p><img class="done-icon" src="/assets/base/images/tasks/done-icon.svg" alt=""> Invite two active referrals <span>for</span> 1 <img class="ioi-icon" src="/assets/base/images/curr-logos/nex/ioi-logo.png" alt=""></p>
    </div>
  <div class="text-holder" *ngIf="!task1" [routerLink]="['/other/affilate']">
    <p>0<span class="complete-num">/1</span> Invite two active referrals <span>for</span> 1 <img class="ioi-icon" src="/assets/base/images/curr-logos/nex/ioi-logo.png" alt="" [routerLink]="['/other/affilate']"></p>
    </div>
    <img class="locked-icon" src="/assets/base/images/menu/lock-icon.svg" alt="Icon of lock - locked">
    <img *ngIf="!task1" class="task-icon" src="/assets/base/images/tasks/item6.png" alt="" [routerLink]="['/other/affilate']">
    <img *ngIf="task1" class="task-icon" src="/assets/base/images/tasks/item6-active.png" alt="" [routerLink]="['/other/affilate']">
  </div>
  

  <div class="panels-holder">
    <div class="time-box my-cta-btn-back">
      <div class="inner">
        <p class="heading">Time left</p>
        <div class="time-holder without-day" *ngIf="endofday">
          <!-- <app-timer [value]="endofday" style="color:white"></app-timer> -->
          <app-timer-long [value]="endofday"></app-timer-long>
        </div>
      </div>
    </div>

    <div class="info-panel my-cta-btn-back">
      <div class="inner">
        <p class="heading">Your info</p>
        <div class="item-holder">
          <p class="desc">Your daily challenge</p>
          <p class="value"><span>{{task?.daily_tasks.length}}</span>/5</p>
        </div>
        <div class="item-holder rewards">
          <p class="desc">Your daily rewards</p>
          <p class="value">{{task?.daily_tasks.length}} <img src="/assets/base/images/curr-logos/nex/ioi-logo.png" alt=""></p>
        </div>

        <div class="claim-btn my-cta-btn-back hoverable" (click)="claimReward()" [ngClass]="{'claimed': rewardsClaimed === true}">
          <p>Claim rewards</p>
          <p>Rewards claimed</p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="tutorial-modal" [ngClass]="'step' + tutorialStep" *ngIf="startTutorial === true">
  <div class="modal-back" [ngClass]="{'inactive': tutorialStep !== 1}"></div>

  <div class="box-content only-cta content0">
    <img src="/assets/base/images/modal/tutorial-racer.png" alt="" class="racer-boi big">
    <div class="text-holder centered">
      <p class="heading">Skip tutorial</p>
      <p class="text">No worries, you can still turn the tutorial on in the settings anytime.</p>
    </div>
    <button class="my-cta-btn-back hoverable" (click)="skipModal()">{{'tutorial.skip_tutorial' | translate}}</button>
  </div>

  <div class="box-content content1">
    <img src="/assets/base/images/modal/tutorial-racer.png" alt="" class="racer-boi">
    <div class="text-holder">
      <p class="heading">Daily tasks</p>
      <p class="text">Start your daily tasks challenge and get 1 IOI every day for simply joining our races. Get Premium membership to get 4x more rewards in Daily tasks</p>
      <div class="pointing-line to-left"></div>
    </div>
    <div class="btns-holder">
      <button class="my-cta-btn-back hoverable" [routerLink]="['/car/fuel-car/car_race_short_0']">I want IOI</button>
      <p class="skip-text my-cta-btn-back" (click)="tutorialStep = 0">Skip the tutorial &gt;</p>
    </div>
  </div>

</div>

<!-- 
<div class="content-holder">
  <app-main-top-banner [page]="'d-tasks'"></app-main-top-banner>

  <div class="bot-container">
    <div class="progress-holder">
      <div class="timer">
        <h2><app-timer [value]="task.seconds_to_midnight" (onComplete)="getDailyTasks()"></app-timer></h2>
      </div>
      <div class="my-progress-bar">
        <p>{{task?.daily_tasks?.length}}/9</p>
        <div class="my-progress">
          <div [ngClass]="task?.daily_tasks?.length > 0 ? 'done' : ''"></div>
          <div [ngClass]="task?.daily_tasks?.length > 1 ? 'done' : ''"></div>
          <div [ngClass]="task?.daily_tasks?.length > 2 ? 'done' : ''"></div>
          <div [ngClass]="task?.daily_tasks?.length > 3 ? 'done' : ''"></div>
          <div [ngClass]="task?.daily_tasks?.length > 4 ? 'done' : ''"></div>
          <div [ngClass]="task?.daily_tasks?.length > 5 ? 'done' : ''"></div>
          <div [ngClass]="task?.daily_tasks?.length > 6 ? 'done' : ''"></div>
          <div [ngClass]="task?.daily_tasks?.length > 7 ? 'done' : ''"></div>
          <div [ngClass]="task?.daily_tasks?.length > 8 ? 'done' : ''"></div>
        </div>
      </div>
    </div>

    <div class="cards-holder">

      
      <div class="game-item free" [ngClass]="{'active': task0}">
        <div class="background"></div>
        <div class="card-content">
              <h2><span>Play a free</span> race to get 1 IOI </h2>
              <button class="play-button" [routerLink]="['/car/fuel-car/car_race_short_0']" *ngIf="!task0">DO IT <span>></span></button>
              <button class="play-button" *ngIf="task0">DONE <span>></span></button>
            </div>
      </div>
      
      <div class="game-item refferal" [ngClass]="{'active': task1}">
        <div class="background"></div>
          <div class="card-content">
            <h2><span>Make two</span> referrals to get 1 IOI</h2>
            <button class="play-button" *ngIf="!task1">DO IT <span>></span></button>
            <button class="play-button" *ngIf="task1">DONE <span>></span></button>
          </div>
        </div>
        
        <div class="game-item trx10" [ngClass]="{'active': task2}">
          <div class="background"></div>
          <div class="card-content">
            <h2><span>Play 10X a 10 TRX</span> game to get 1 IOI</h2>
            <button class="play-button" [routerLink]="['/car/fuel-car/car_race_short_10']" *ngIf="!task2">DO IT <span>></span></button>
            <button class="play-button" *ngIf="task2">DONE <span>></span></button>
          </div>
        </div>

        <div class="game-item trx100" [ngClass]="{'active': task3}">
          <div class="background"></div>
          <div class="card-content">
              <h2><span>Play 5X a 100 TRX</span> game to get 3 IOI </h2>
              <button class="play-button" [routerLink]="['/car/fuel-car/car_race_short_100']" *ngIf="!task3">DO IT <span>></span></button>
              <button class="play-button" *ngIf="task3">DONE <span>></span></button>
            </div>
          </div>

          <div class="game-item trx500" [ngClass]="{'active': task4}">
            <div class="background"></div>
            <div class="card-content">
            <h2><span>Play A 500 TRX</span> game 5X to get 5 IOI</h2>
            <button class="play-button" [routerLink]="['/car/fuel-car/car_race_short_500']" *ngIf="!task4">DO IT <span>></span></button>
            <button class="play-button" *ngIf="task4">DONE <span>></span></button>
          </div>
      </div>
      
      <div class="game-item trx1000" [ngClass]="{'active': task5}">
        <div class="background"></div>
        <div class="card-content">
            <h2><span>Play A 1000 TRX</span> game to get 1 IOI</h2>
            <button class="play-button" [routerLink]="['/car/fuel-car/car_race_short_1000']" *ngIf="!task5">DO IT <span>></span></button>
            <button class="play-button" *ngIf="task5">DONE <span>></span></button>
          </div>
        </div>
        
      <div class="game-item deposit" [ngClass]="{'active': task6}">
        <div class="background"></div>
        <div class="card-content">
          <h2><span>Deposit 1 000 TRX</span> to get 1 IOI</h2>
          <button class="play-button" data-toggle="modal" data-target="#deposit-modal" *ngIf="!task6">DO IT <span>></span></button>
          <button class="play-button" *ngIf="task6">DONE <span>></span></button>
        </div>
      </div>
      
      <div class="game-item gold-race" [ngClass]="{'active': task7}">
        <div class="background"></div>
        <div class="card-content">
          <h2><span>Play a  golden race</span> to get 5 IOI</h2>
            <button class="play-button" [routerLink]="['/car/fuel-car/car_race_24hrs_1000']" *ngIf="!task7">DO IT <span>></span></button>
            <button class="play-button" *ngIf="task7">DONE <span>></span></button>
        </div>
      </div>

      <div class="game-item tour" [ngClass]="{'active': task8}">
        <div class="background"></div>
        <div class="card-content">
            <h2><span>Play a tournament</span> to get 1 IOI</h2>
            <button class="play-button" [routerLink]="['/car/fuel-car/classic_tournament_10']" *ngIf="!task8">DO IT <span>></span></button>
            <button class="play-button" *ngIf="task8">DONE <span>></span></button>
        </div>
      </div>
        
    </div>
  </div>
</div> 
-->
<div class="winning-modal win-share-modal" *ngIf="showShareModal === true">
  <div class="modal-bg">
    <div class="win-head">
      <img src="./assets/base/images/xko.png" class="krizik" (click)="showShareModal = false;">

    </div>

    <div class="details">
      <h2>Share </h2>
      <h3>Share IOI  with your friends on social media and receive 1 IOI for free!</h3>
      <div class="share-that">
        <div class="share-item facebook">
          <fb-like url="https://beta.traderacemanager.com"></fb-like>
          <p>Share on Facebook</p>
        </div>

        <div class="share-item twitter">
          <tweet class="twitter-cont" url="https://beta.traderacemanager.com" text="{{affilateText}}"></tweet>
          <p>Share on Twitter</p>
        </div>
      </div>

    </div>
  </div>
</div>
