* {
  margin: 0px;
}
.dissapear-right-animation {
  animation: dissapear-right 0.3s linear;
  -webkit-animation: dissapear-right 0.3s linear;
}
.dissapear-left-animation {
  animation: dissapear-left 0.3s linear;
  -webkit-animation: dissapear-left 0.3s linear;
}
.engage-right-animation {
  animation: engage-right 0.3s linear;
  -webkit-animation: engage-right 0.3s linear;
}
.engage-left-animation {
  animation: engage-left 0.3s linear;
  -webkit-animation: engage-left 0.3s linear;
}
.paging-img {
  width: 21px;
}
@keyframes dissapear-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
}
@keyframes dissapear-right {
  0% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
@keyframes engage-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes engage-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

.main-holder {
  width: calc(100% - 40px);
  height: calc(100vh - 80px);
  padding: 40px 0px 40px 40px;
  display: flex;
  position: relative;
}
.affiliate-content {
  margin: 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &.referrals {
    justify-content: center;
  }
}

.content-header {
  height: 8.5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .menu-item {
    position: relative;
    height: 100%;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.05);
    border: 3px solid rgba(255, 255, 255, 0.4);
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    .item-image {
      display: flex;
      position: relative;
      img {
        width: 15px;
        margin-left: 1px;
      }
    }

    .active-border {
      position: absolute;
      width: calc(100% + 6px);
      left: -3px;
      height: 0px;
      bottom: -3px;
    }
    p {
      margin-left: 5%;
    }
    &.active-item {
      background: rgba(255, 255, 255, 0.2);
      border: 3px solid rgba(255, 255, 255, 0.4);
      .active-border {
        height: 4px;
      }
    }
  }
  .menu-item:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 3px solid rgba(255, 255, 255, 0.4);
  }
}
.content-center {
  width: 100%;
  margin-top: 4%;
  height: 65%;
  background: rgba(17, 17, 17, 0.6);
  .content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar-image {
      position: relative;
      height: 100%;
      width: 40%;
      margin-right: 10%;
      img {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: auto;
        max-height: 100%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        &.first {
          left: 15%;
        }
        &.second {
          left: 35%;
        }
        &.third {
          left: 55%;
        }
        &.fourth {
          left: 75%;
        }
      }
    }

    .content-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;
      height: 70%;
      .races-desc {
        width: 75%;
      }
      .abilities {
        width: 100%;
        height: 12%;
        display: flex;
        .ability {
          height: 100%;
          width: 30%;
          display: flex;
          margin-left: 5%;
          &.first {
            margin-left: 0%;
          }
          .flex-div {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .value {
            height: 100%;
            width: 45%;
          }
          .desc {
            height: 100%;
            width: 55%;
            background: rgba(255, 255, 255, 0.05);
          }
        }
      }
      .buy {
        transition: 0.3s;
        height: 12%;
        width: 35%;
      }
      .buy:hover {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
        box-shadow: (0px 0px 15px rgba(255, 255, 255, 0.9));
      }
    }
  }
}
.content-bottom {
  padding: 2.5%;
  width: 100%;
  margin-top: 2.5%;
  height: 20%;
  background: rgba(17, 17, 17, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .bottom-item {
    width: 15%;
    height: 60%;
    display: flex;
    .item-image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        max-height: 100%;
      }
    }

    .item-text {
      margin-left: 15%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &.link {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .copy-message:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .referrals-button {
    transition: 0.3s;
    width: 12.5%;
    height: 60%;
  }
  .referrals-button:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    box-shadow: (0px 0px 15px rgba(255, 255, 255, 0.9));
  }
}
.category-title-first {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  font-family: "Earth Orbiter";
}
.category-title-second {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  font-family: "Earth Orbiter";
}
.category-title-third {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.category-title-fourth {
  font-style: normal;
  font-weight: normal;
  font-family: "Earth Orbiter";
  font-size: 17px;
}
.category-title-fifth {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
}
.races-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.8;
}
@media screen and(max-width: 1700px) {
  .main-holder {
    width: calc(100% - 30px);
    padding: 30px 0px 30px 30px;
  }
  .paging-img {
    width: 17px;
  }
}
@media screen and(max-width: 1550px) {
  .main-holder {
    width: calc(100% - 20px);
    height: calc(100vh - 65px);
    padding: 20px 0px 20px 20px;
  }

  .category-title-first {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-second {
    font-size: 20px;
    line-height: 22px;
  }
  .category-title-third {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-fourth {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-fifth {
    font-size: 14px;
    line-height: 16px;
  }
  .races-desc {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and(max-width: 1400px) {
  .category-title-first {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-second {
    font-size: 18px;
    line-height: 20px;
  }
  .category-title-third {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-fourth {
    font-size: 10px;
    line-height: 12px;
  }
  .category-title-fifth {
    font-size: 10px;
    line-height: 12px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
  }
}
@media screen and(max-width: 1200px) {
  .main-holder {
    width: calc(100% - 13px);
    padding: 13px 0px 13px 13px;
    padding-bottom: 13px;
    padding-top: 13px;
  }
}
@media screen and(max-width: 1024px) {
  .content-header {
    .menu-item {
      .item-image {
        img {
          width: 10px;
        }
      }
    }
  }
  .content-holder {
    width: 100%;
  }
  .paging-img {
    width: 13px;
  }
  .main-holder {
    width: calc(100% - 10px);
    padding: 10px 0px 10px 10px;
  }
}

@media screen and (min-width: 2100px) and (min-height: 1081px) {
}
@media screen and(max-width: 1024px) and (orientation: landscape) {
  .category-title-first {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-second {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-third {
    font-size: 10px;
    line-height: 12px;
  }
  .category-title-fourth {
    font-size: 9px;
    line-height: 10px;
  }
  .category-title-fifth {
    font-size: 9px;
    line-height: 10px;
  }
  .races-desc {
    font-size: 8px;
    line-height: 10px;
  }
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  .main-holder {
    height: calc(100vh - 40px);
  }

  .content-header {
    .menu-item {
      .item-image {
        img {
          width: 8px;
        }
      }
    }
  }
  .category-title-first {
    font-size: 8px;
    line-height: 10px;
  }
  .category-title-second {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-third {
    font-size: 9px;
    line-height: 11px;
  }
  .category-title-fourth {
    font-size: 7px;
    line-height: 8px;
  }
  .category-title-fifth {
    font-size: 7px;
    line-height: 8px;
  }
  .races-desc {
    font-size: 6px;
    line-height: 8px;
  }
}
@media screen and(max-width: 640px) and (orientation: landscape) {
  .category-title-first {
    font-size: 6px;
    line-height: 8px;
  }
  .category-title-second {
    font-size: 10px;
    line-height: 12px;
  }
  .category-title-third {
    font-size: 7px;
    line-height: 8px;
  }
  .category-title-fourth {
    font-size: 5px;
    line-height: 6px;
  }
  .category-title-fifth {
    font-size: 5px;
    line-height: 6px;
  }
  .races-desc {
    font-size: 4px;
    line-height: 6px;
  }
}

@media screen and(max-width: 1024px) and (orientation: portrait) {
  .main-holder {
    min-height: 100vh;
    height: auto;
  }
  .affiliate-content {
    width: 100%;
    height: 900px;
    justify-content: unset;

    &.referrals {
      justify-content: unset;
    }
  }
  .content-header {
    min-height: 45px;
    height: 45px;
    width: 100%;

    overflow-x: scroll;
    justify-content: unset;
    .menu-item {
      width: 200px;
      min-width: 200px;

      margin-left: 15px;
      &.first {
        margin-left: 0px;
      }
    }
  }
  .content-center {
    height: 70%;
    .content {
      padding: 5%;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .avatar-image {
        height: 50%;
        width: 100%;
        margin-right: 0px;
      }

      .content-text {
        width: 100%;
        height: 45%;
      }
    }
  }
  .content-bottom {
    padding: 2.5%;
    width: 100%;
    margin-top: 2.5%;
    height: 15%;
    background: rgba(17, 17, 17, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .bottom-item {
      width: 30%;
      height: auto;
      display: flex;

      &.link {
        width: 50%;
      }
    }

    .referrals-button {
      transition: 0.3s;
      width: 30%;
      height: 30%;
    }
    .referrals-button:hover {
      transform: scale(1.01);
      -webkit-transform: scale(1.01);
      -moz-transform: scale(1.01);
      -ms-transform: scale(1.01);
      -o-transform: scale(1.01);
      box-shadow: (0px 0px 15px rgba(255, 255, 255, 0.9));
    }
  }
}

@media screen and(max-width: 640px) and (orientation: portrait) {
  .main-holder {
    min-height: 100vh;
    height: auto;
  }

  .category-title-first {
    font-size: 16px;
    line-height: 18px;
  }
  .category-title-second {
    font-size: 14px;
    line-height: 16px;
  }
  .category-title-third {
    font-size: 12px;
    line-height: 14px;
  }
  .category-title-fourth {
    font-size: 11px;
    line-height: 13px;
  }
  .category-title-fifth {
    font-size: 11px;
    line-height: 13px;
  }
  .races-desc {
    font-size: 10px;
    line-height: 12px;
    opacity: 0.6;
  }
}

//BACK BUTTON
.content-title {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 80px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  img {
    width: 21px;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.09em;
    font-family: "Earth Orbiter";
    font-weight: 900;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

@media screen and(max-width: 1700px) {
  .content-title {
    img {
      width: 17px;
    }
    p {
      font-size: 26px;
    }
  }
}
@media screen and(max-width: 1550px) {
  .content-title {
    height: 65px;
    img {
      width: 15px;
    }
    p {
      font-size: 22px;
    }
  }
}
@media screen and(max-width: 1024px) {
  .content-title {
    img {
      width: 13px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media screen and(max-width: 1024px) and (orientation: landscape) {
  .content-title {
    height: 40px;
  }
}
@media screen and(max-width: 640px) and (orientation: landscape) {
  .content-title {
    img {
      width: 8.5px;
    }
    p {
      font-size: 9px;
      margin-left: 5px;
    }
  }
}
@media screen and(max-width: 640px) and (orientation: portrait) {
  .content-title {
    img {
      width: 10px;
    }
    p {
      font-size: 17px;
    }
  }
}
