



<div class="main-holder">
    <div class="page-info"> 
        <div class="back" [routerLink]="['/race/start-race']">
          <p>&lt;</p>
        <p>{{'shared.back' | translate}}</p>
        </div>
        <div class="text-info">
        <h1>{{'affiliate.page_heading' | translate}}</h1>
        <p>{{'affiliate.page_info' | translate}}</p>
        </div>
        <div class="bonus-info">
            <div class="level-img-holder">
                <div class="level-img">
                    <img src="assets/base/images/avatars/avatar1.png" alt="" *ngIf="Affilate.affiliate_level === 1">
                    <img src="assets/base/images/avatars/avatar2.png" alt="" *ngIf="Affilate.affiliate_level === 2">
                    <img src="assets/base/images/avatars/avatar3.png" alt="" *ngIf="Affilate.affiliate_level === 3">
                    <img src="assets/base/images/avatars/avatar4.png" alt="" *ngIf="Affilate.affiliate_level === 4">
                </div>
                <div class="stars-holder">
                    <img src="/assets/base/images/avatars/level-star.svg" alt="">
                    <img src="/assets/base/images/avatars/level-star.svg" alt="" *ngIf="Affilate.affiliate_level > 1">
                    <img src="/assets/base/images/avatars/level-star.svg" alt="" *ngIf="Affilate.affiliate_level > 2">
                    <img src="/assets/base/images/avatars/level-star.svg" alt="" *ngIf="Affilate.affiliate_level > 3">
                </div>
            </div>
            <div class="top-info">
                <p>{{'affiliate.affiliate_level' | translate}}</p>
                <h5 *ngIf="isLevel === 1">{{"affiliate.rookie" | translate}}</h5>
                <h5 *ngIf="isLevel === 2">{{"affiliate.flash" | translate}}</h5>
                <h5 *ngIf="isLevel === 3">{{"affiliate.racer" | translate}}</h5>
                <h5 *ngIf="isLevel === 4">{{'affiliate.champion' | translate}}</h5>
            </div>
        </div>
    </div>


    <div class="affiliate-copy">
        <div class="level-img-holder">
            <div class="level-img">
                <img src="assets/base/images/avatars/avatar1.png" alt="" *ngIf="Affilate.affiliate_level === 1">
                <img src="assets/base/images/avatars/avatar2.png" alt="" *ngIf="Affilate.affiliate_level === 2">
                <img src="assets/base/images/avatars/avatar3.png" alt="" *ngIf="Affilate.affiliate_level === 3">
                <img src="assets/base/images/avatars/avatar4.png" alt="" *ngIf="Affilate.affiliate_level === 4">
            </div>
            <div class="stars-holder">
                <img src="/assets/base/images/avatars/level-star.svg" alt="">
                <img src="/assets/base/images/avatars/level-star.svg" alt="" *ngIf="Affilate.affiliate_level > 1">
                <img src="/assets/base/images/avatars/level-star.svg" alt="" *ngIf="Affilate.affiliate_level > 2">
                <img src="/assets/base/images/avatars/level-star.svg" alt="" *ngIf="Affilate.affiliate_level > 3">
            </div>
        </div>
        <div class="affiliate-copy-text">
            <div class="affiliate-link">
                <p>{{'affiliate.referral_link' | translate}}</p>
                <h5>{{myAfiilate}}</h5>
            </div>
            <div class="copy-icon" (click)="copyInputMessage()">
                <img src="assets/base/images/affiliate/copy-icon.png"alt="">
            </div>    
        </div>
    </div>

    <div class="affiliate-table">
        <div class="table-header table-row">
            <div class="table-cell"></div>
            <div class="table-cell"><p>{{"shared.level" | translate}}</p></div>
            <div class="table-cell"><p>{{"affiliate.invite_racers" | translate}}</p></div>
            <div class="table-cell"><p>{{"affiliate.invite_owners" | translate}}</p></div>
        </div>
        <div class="table-row">
            <div class="table-cell img-cell">
                <div class="avatar-img">
                    <img src="assets/base/images/avatars/avatar1-small.png" alt="">
                </div>
                <div class="stars-holder">
                    <img src="/assets/base/images/avatars/level-star.svg" alt="">
                </div>
            </div>
            <div class="table-cell"><p>Lvl.1</p></div>
            <div class="table-cell"><p>0.5 %</p></div>
            <div class="table-cell"><p>5% from every NFTs</p></div>
        </div>
        <div class="table-row">
            <div class="table-cell img-cell">
                <div class="avatar-img">
                    <img src="assets/base/images/avatars/avatar2-small.png" alt="">
                </div>
                <div class="stars-holder">
                    <img src="/assets/base/images/avatars/level-star.svg" alt="">
                    <img src="/assets/base/images/avatars/level-star.svg" alt="">
                </div>
            </div>
            <div class="table-cell"><p>Lvl.2</p></div>
            <div class="table-cell"><p>1 %</p></div>
            <div class="table-cell"><p>8% from every NFTs</p></div>
        </div>
        <div class="table-row">
            <div class="table-cell img-cell">
                <div class="avatar-img">
                    <img src="assets/base/images/avatars/avatar3-small.png" alt="">
                </div>
                <div class="stars-holder">
                    <img src="/assets/base/images/avatars/level-star.svg" alt="">
                    <img src="/assets/base/images/avatars/level-star.svg" alt="">
                    <img src="/assets/base/images/avatars/level-star.svg" alt="">
                </div>
            </div>
            <div class="table-cell"><p>Lvl.3</p></div>
            <div class="table-cell"><p>1.5 %</p></div>
            <div class="table-cell"><p>10% from every NFTs</p></div>
        </div>
        <div class="table-row">
            <div class="table-cell img-cell">
                <div class="avatar-img">
                    <img src="assets/base/images/avatars/avatar4-small.png" alt="">
                </div>
                <div class="stars-holder">
                    <img src="/assets/base/images/avatars/level-star.svg" alt="">
                    <img src="/assets/base/images/avatars/level-star.svg" alt="">
                    <img src="/assets/base/images/avatars/level-star.svg" alt="">
                    <img src="/assets/base/images/avatars/level-star.svg" alt="">
                </div>
            </div>
            <div class="table-cell"><p>Lvl.4</p></div>
            <div class="table-cell"><p>2 %</p></div>
            <div class="table-cell"><p>15% from every NFTs</p></div>
        </div>
    </div>


    <h5 class="ranks-heading">{{"affiliate.affiliate_ranks" | translate}}</h5>
    <div class="affiliate-ranks">

        <div class="rank-container">
            <div class="rank-img rank1">
                <img src="assets/base/images/avatars/avatar1.png" alt="">
            </div>
            <div class="rank-text">
                <h5>{{"affiliate.rookie" | translate}} <span class="stars-holder"><img src="/assets/base/images/avatars/level-star.svg" alt=""></span></h5>
                <p>{{"affiliate.rookie_text" | translate}}</p>
            </div>
        </div>

        <div class="rank-container">
            <div class="rank-img rank2">
                <img src="assets/base/images/avatars/avatar2.png" alt="">
            </div>
            <div class="rank-text">
                <h5>{{"affiliate.flash" | translate}} 
                    <span class="stars-holder">
                        <img src="/assets/base/images/avatars/level-star.svg" alt="">
                        <img src="/assets/base/images/avatars/level-star.svg" alt="">
                    </span>
                </h5>
                <p>{{"affiliate.flash_text" | translate}}</p>
            </div>
        </div>

        <div class="rank-container">
            <div class="rank-img rank3">
                <img src="assets/base/images/avatars/avatar3.png" alt="">
            </div>
            <div class="rank-text">
                <h5>{{"affiliate.racer" | translate}}
                    <span class="stars-holder">
                        <img src="/assets/base/images/avatars/level-star.svg" alt="">
                        <img src="/assets/base/images/avatars/level-star.svg" alt="">
                        <img src="/assets/base/images/avatars/level-star.svg" alt="">
                    </span>
                </h5>
                <p>{{"affiliate.racer_text" | translate}}</p>
            </div>
        </div>

        <div class="rank-container">
            <div class="rank-img rank4">
                <img src="assets/base/images/avatars/avatar4.png" alt="">
            </div>
            <div class="rank-text">
                <h5>{{"affiliate.champion" | translate}}
                    <span class="stars-holder">
                        <img src="/assets/base/images/avatars/level-star.svg" alt="">
                        <img src="/assets/base/images/avatars/level-star.svg" alt="">
                        <img src="/assets/base/images/avatars/level-star.svg" alt="">
                        <img src="/assets/base/images/avatars/level-star.svg" alt="">
                    </span>
                </h5>
                <p>{{"affiliate.champion_text" | translate}}</p>
            </div>
        </div>
    </div>
    

    <div class="bottom-section-wrapper">
        <div class="referral-program-wrapper">
            <h5>{{"affiliate.referral_program" | translate}}</h5>
            <div class="referral-program-boxes">
                <div class="referral-box">
                    <span class="border-maker">
                        <img src="assets/base/images/affiliate/champagne-glasses.png" alt="">
                        <div>
                            <h1>{{affMe?.total_affiliates_count}}</h1>
                            <p>{{"affiliate.partners" | translate}}</p>
                        </div>    
                    </span>
                </div>
                <div class="referral-box">
                    <span class="border-maker">
                        <img src="assets/base/images/affiliate/roulette.png" alt="">
                        <div>
                            <h1>{{affMe?.active_affiliates_count}}</h1>
                            <p>{{"affiliate.active" | translate}}</p>
                        </div>
                    </span>
                </div>
                <div class="referral-box">
                    <span class="border-maker">
                        <img src="assets/base/images/affiliate/money-bag.png" alt="">
                        <div>
                            <h1>{{affMe?.maintenance_level ? 'Yes' : 'No'}}</h1>
                            <p>{{"affiliate.maintenance" | translate}}</p>
                        </div>        
                    </span>
                </div>
            </div>

            <div class="copy-link-box" (click)="copyInputMessage()">
                <div class="affiliate-link">
                    <p>{{"affiliate.referral_link" | translate}}</p>
                    <h5>{{myAfiilate}}</h5>
                </div>

                <div class="copy-icon">
                    <img src="assets/base/images/affiliate/copy-icon.png"alt="">
                </div>   
            </div>
        </div>
        <div class="affiliate-transactions-wrapper">
            <h5>{{"affiliate.affiliate_transactions" | translate}}</h5>
            <div class="transactions-table">
                <div class="table-row table-header">

                    <div class="arrows" *ngIf="totalPages > 1">
                        <div class="arrow-left arrow-unactive" (click)="prevPage()" *ngIf="actualPage > 1">
                            &lt;
                        </div>
                        <div class="arrow-right arrow-active" (click)="nextPage()" *ngIf="actualPage < totalPages">
                            &gt;
                        </div>
                    </div>
                    <div class="table-cell">
                        <p><span>&gt;</span> {{"affiliate.referral" | translate}}</p>
                    </div>
                    <div class="table-cell">
                        <p>{{"shared.level" | translate}}</p>
                    </div>
                    <div class="table-cell">
                        <p>{{"shared.layout.reward" | translate}}</p>
                    </div>
                </div>

                <ng-container *ngIf="affilatesList?.length > 0">
                    <div class="table-row" *ngFor="let item of affilatesList;let i = index;">
                        <div class="table-cell"><p>{{ item.nickname }}</p></div>
                        <div class="table-cell"><p>Lvl.{{ item.level }}</p></div>
                        <div class="table-cell"><p>{{ item.total_rewards_ioi | number:'1.0-0':'fr' }} {{'shared.ioi' | translate}}</p></div>
                    </div>
                </ng-container>
          
                <ng-container *ngIf="affilatesList?.length === 0">
                    <h2 class="no-aff-msg">You dont have any affiliate players.</h2>
                </ng-container>
            </div>
        </div>
    </div>




</div>