.main-holder{
    width: calc(100% - 457px);
    padding-left: 40px;
  }
  
  p{
    font-size: 16px;
    line-height: 24px;
  }
  h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
  }
.page-info{
    margin: 30px 0;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .back{
        cursor: pointer;
        transition: .2s;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        text-align: center;
        min-height: 132px;
        background: linear-gradient(0deg, #111111, #111111);
        box-shadow: 0px 0px 80px #000000;
        border-radius: 20px;
        p{
            line-height: 20px;
            margin-bottom: 22px;
        }
    }
    .back:hover{
        transform: scale(1.1);
    }
    .text-info{
        max-width: 812px;
        margin: 0 20px;
    }
    .bonus-info{
        width: 448px;
        background: linear-gradient(0deg, #111111, #111111);
        box-shadow: 0px 0px 80px #000000;
        border-radius: 20px;
        min-height: 132px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        img{
            width: 64px;
            height: 64px;
        }
        .top-info{
            text-align: left;
            margin-left: 20px;
            p{
                margin: 0;
                margin-bottom: 10px;
            }
            h5{
                margin: 0;
            }
        }
        p{
            color: rgba(255, 255, 255, .4);
        }
    }
    }

    .affiliate-copy{
        width: 50%;
        margin: auto;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: #111111;
        box-shadow: 0px 0px 80px #000000;
        border-radius: 15px;
        padding: 40px;
        img{
            width: 120px;
            height: 120px;
            margin-bottom: 40px;
        }
    }

    .affiliate-copy-text{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .affiliate-link{
        max-width: 80%;
    }

    .copy-icon{
        transition: .2s;
        cursor: pointer;
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #111111;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        img{
            position: absolute;
            width: 50%;
            height: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .copy-icon:hover{
        transform: scale(1.07);
    }

    .affiliate-table{
        padding-top: 40px;
        width: 80%;
        margin: auto;
        .table-row{
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
        }
        p{
            margin: 0;
        }
        .table-cell{
            width: 20%;
            text-align: center;
            img{
                width: 40px;
                height: 40px;
                margin-right: 40px;
            }
        }
        .table-header{
            p{
                font-weight: 600;
            }
            margin-bottom: 34px;
        }
    }
    
    .ranks-heading{
        position: relative;
        z-index: 100;
        font-weight: 600;
        margin-top: 40px;
    }
    .affiliate-ranks{
        position: relative;
        z-index: 1;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .rank-container{
        width: 48.5%;
        height: 314px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 60px;
        background: #111111;
        box-shadow: 0px 0px 80px #000000;
        border-radius: 15px;
        margin-bottom: 34px;
        .rank-text{
            max-width: 75%;
            margin-left: 40px;
        }
        .rank-img{
            min-width: 100px;
        }
        h5{
            margin-bottom: 20px;
        }

    }

    .bottom-section-wrapper{
        margin-bottom: 28px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        h5{
            font-weight: 600;
        }
    }
    .referral-program-wrapper{
        width: 48.5%;
    }
    .affiliate-transactions-wrapper{
        width: 48.5%;
    }
    .referral-program-boxes{
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .referral-box{
        width: 32%;
        height: 280px;
        padding: 1px;
        border-radius: 15px;
        .border-maker{
            border-radius: 15px;
            h1{
                font-size: 30px;
            }
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            padding: 30px 25px;
            img{
                width: 60px;
                height: 60px;
            }
            p{
                margin: 0;
            }
            h1{
                margin: 0;
                margin-bottom: 5px;
            }
        }
    }
    .referral-box:nth-child(1){
        background:linear-gradient(162.34deg, #FFD945 0%, rgba(17, 17, 17, 0) 128.96%);
        .border-maker{
            background: linear-gradient(161.67deg, rgba(255, 226, 110, 0.6) -26.97%, rgba(36, 11, 54, 0) 139.17%), #111111;
        }
    }
    .referral-box:nth-child(3){
        background:linear-gradient(164.09deg, #6BC576 11.09%, rgba(0, 0, 0, 0) 120.56%);
        .border-maker{
            background: linear-gradient(161.67deg, rgba(110, 198, 119, 0.6) -26.97%, rgba(36, 11, 54, 0) 139.17%), #111111;
        }
    }
    .referral-box:nth-child(2){
        background:linear-gradient(162.34deg, #3CD6EE 0%, rgba(17, 17, 17, 0) 128.96%);
        .border-maker{
            background: linear-gradient(161.67deg, rgba(35, 207, 248, 0.6) -26.97%, rgba(36, 11, 54, 0) 139.17%), #111111;
    }
}
            
.copy-link-box{
    margin-top: 40px;
    height: calc(100% - 395px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
    background: #111111;
    box-shadow: 0px 0px 80px #000000;
    border-radius: 15px;
    h5{
        font-weight: 600;
    }
}      


.transactions-table{
    position: relative;
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #111111;
    box-shadow: 0px 0px 80px #000000;
    border-radius: 15px;
    padding: 0 44px;
    p{
        margin: 0;
        font-weight: 500;
    }
    .table-row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 21px;
    }
    .table-row:last-child{
        margin-bottom: 100px;
    }
    .table-header{
        font-weight: 300;
        opacity: 0.8;
        span{
            transform: rotate(90deg);
            display: inline-block;
        }
        margin-top: 45px;
        margin-bottom: 30px;
    }
    .table-cell{
        width: 30%;
    }
    .no-aff-msg{
        font-size: 16px;
        margin: 10px 0 40px;
    }
}

.arrows{
    cursor: pointer;
    transition: .2s;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    bottom: 20px;
    div{
        margin: 0 21px;
    }
}
.arrow-active{
    font-weight: 600;
    color: #FE173F;
}
.arrow-active:hover{
    transform: scale(1.1);
}
.arrow-unactive{
    opacity: .6;
}



















@media screen and (max-width: 1550px){
  p{
      font-size: 12px;
  }
  h1{
      font-size: 25px;
  }
  h5{
      font-size: 15px;
  }
  .main-holder{
    width: calc(100% - 380px);
    padding-left: 20px;
  }
  .text-info{
    max-width: 555px;
    margin: 0 10px;
    h1{
      font-size: 26px;
      margin: 5px 0 7px;
    }
    p{
      font-size: 13px;
    }
   }
  .page-info{
    margin: 0;
    padding-bottom: 20px;
    .back{
        min-height: 120px;
    }
    .bonus-info{
        min-height: 120px;
        width: 380px;
    }
  }
  .rank-container{
      .rank-img{
          min-width: 70px;
      }
      .rank-text{
          margin-left: 20px;
      }
  }
}

@media screen and (max-width: 1200px){
  .main-holder{
    width: calc(100% - 340px);
    padding-left: 13px;
  }
  .page-info{
    margin-top: 20px;
  }
  .text-info{
      max-width: 555px;
      h1{
        font-size: 20px;
      }
      p{
        font-size: 12px;
      }
  }
  .rank-container{
      padding: 30px;
  }
}

@media screen and (max-width: 1024px){

  .main-holder{
    width: 100%;
    padding: 30px 10px 0px 10px;
}
  .page-info{
    margin-top: 0;
    padding-bottom: 10px;
  }
}

@media screen and ( max-width: 800px )
{ 
  .text-info{
      order: 3;
      margin: 15px auto;
      text-align: center;
    }
}

@media screen and (max-width: 640px){

    .page-info{
    box-sizing: border-box;
    flex-wrap: wrap;
    .text-info{
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        order: 3;
        margin: 0;
    }
    }
    .back{
        box-sizing: border-box;
        padding: 0 10px;
        flex-basis: 23%;
        order: 1;
    }
    .bonus-info{
        flex-basis: 70%;
        order: 2;
    }
}


@media screen and (max-width: 1550px){
    .referral-box{
        .border-maker{
            h1{
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 1300px){
    .referral-box{
        .border-maker{
            h1{
                font-size: 16px;
            }
        }
    }

    .rank-container{
        height: 250px;
        display: flex;
    }
}

@media screen and (max-width: 730px){
    .bottom-section-wrapper{
        flex-direction: column;
    }
    .referral-program-wrapper{
        width: 100%;
        margin-bottom: 50px;
    }
    .affiliate-transactions-wrapper{
        width: 100%;
    }
    .affiliate-copy{
        width: 100%;
    }.copy-link-box{
        padding: 50px 20px;
    }
}

@media screen and (max-width: 560px){
    .bottom-section-wrapper{
        flex-direction: column;
    }
    .rank-container{
        width: 100%;
    }
    .affiliate-table{
        width: 100%;
        .table-cell{
            width: 30%;
            img{
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 420px){
    .referral-program-boxes{
        flex-direction: column;
    }
    .referral-box{
        margin-bottom: 30px;
        height: 240px;
        width: 100%;
        .border-maker{
            h1{
                font-size: 30px;
            }
            p{
                font-size: 18px;
            }
        }
        
    }
}
@media screen and (min-width: 2300px) and (min-height: 1300px){
    p{
        font-size: 19px;
    }
    h1{
        font-size: 39px;
    }
    h5{
        font-size: 24px;
    }
    .page-info{
        .back{
            padding: 0 30px;
            min-height: 160px;
            p{
                line-height: 20px;
                margin-bottom: 32px;
            }
        }
        .back:hover{
            transform: scale(1.1);
        }
        .text-info{
            max-width: 1200px;
            margin: 0 35px;
        }
        .top-info{
            margin-left: 35px;
        }
        .bonus-info{
            width: 500px;
            min-height: 160px;
            img{
                width: 76px;
                height: 76px;
            }
        }
    }
    .affiliate-copy{
        height: 400px;
        img{
            width: 140px;
            height: 140px;
        }
    }
    .copy-icon{
        width: 75px;
        height: 75px;
        img{
            width: 50%;
            height: 50%;
        }
    }
    .affiliate-table{
        padding-top: 80px;
        .table-cell{
            img{
                width: 55px;
                height: 55px;
            }
        }
    }
    .ranks-heading{
        margin-top: 70px;
        margin-bottom: 40px;
    }
    .rank-container{
        height: 350px;
        margin-bottom: 50px;
    }
    .referral-box{
        height: 315px;
        padding: 2px;
        .border-maker{
            img{
                width: 80px;
                height: 80px;
            }
        }
    }
}