<div class="main-holder">
  <div [routerLink]="['/race/start-race']" class="content-title">
    <img
      class="red-star"
      src="assets/base/images/icons/icon-back-red.svg"
      alt="red arrow"
    />
    <img
      class="blue-star"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <p>AFFILIATE</p>
  </div>
  <div class="affiliate-content">
    <div class="content-header">
      <div
        (click)="title = 'common'"
        [ngClass]="{ 'active-item': title === 'common' }"
        class="menu-item first"
      >
        <div class="item-image">
          <img
            class="red-star"
            src="assets/base/images/icons/star-red.svg"
            alt="red star"
          />

          <img
            class="blue-star"
            src="assets/base/images/icons/star-blue.svg"
            alt="blue star"
          />
        </div>
        <p class="category-title-first first">COMMON</p>
        <div class="active-border my-cta-btn-back"></div>
      </div>
      <div
        (click)="title = 'super'"
        [ngClass]="{ 'active-item': title === 'super' }"
        class="menu-item"
      >
        <div class="item-image">
          <img
            class="red-star"
            src="assets/base/images/icons/star-red.svg"
            alt="red star"
          /><img
            class="red-star"
            src="assets/base/images/icons/star-red.svg"
            alt="red star"
          />

          <img
            class="blue-star"
            src="assets/base/images/icons/star-blue.svg"
            alt="blue star"
          />
          <img
            class="blue-star"
            src="assets/base/images/icons/star-blue.svg"
            alt="blue star"
          />
        </div>
        <p class="category-title-first">SUPER</p>
        <div class="active-border my-cta-btn-back"></div>
      </div>
      <div
        (click)="title = 'epic'"
        [ngClass]="{ 'active-item': title === 'epic' }"
        class="menu-item"
      >
        <div class="item-image">
          <img
            class="red-star"
            src="assets/base/images/icons/star-red.svg"
            alt="red star"
          /><img
            class="red-star"
            src="assets/base/images/icons/star-red.svg"
            alt="red star"
          /><img
            class="red-star"
            src="assets/base/images/icons/star-red.svg"
            alt="red star"
          />

          <img
            class="blue-star"
            src="assets/base/images/icons/star-blue.svg"
            alt="blue star"
          /><img
            class="blue-star"
            src="assets/base/images/icons/star-blue.svg"
            alt="blue star"
          /><img
            class="blue-star"
            src="assets/base/images/icons/star-blue.svg"
            alt="blue star"
          />
        </div>
        <p class="category-title-first">EPIC</p>
        <div class="active-border my-cta-btn-back"></div>
      </div>
      <div
        (click)="title = 'legendary'"
        [ngClass]="{ 'active-item': title === 'legendary' }"
        class="menu-item"
      >
        <div class="item-image">
          <img
            class="red-star"
            src="assets/base/images/icons/star-red.svg"
            alt="red star"
          />
          <img
            class="red-star"
            src="assets/base/images/icons/star-red.svg"
            alt="red star"
          /><img
            class="red-star"
            src="assets/base/images/icons/star-red.svg"
            alt="red star"
          /><img
            class="red-star"
            src="assets/base/images/icons/star-red.svg"
            alt="red star"
          />
          <img
            class="blue-star"
            src="assets/base/images/icons/star-blue.svg"
            alt="blue star"
          /><img
            class="blue-star"
            src="assets/base/images/icons/star-blue.svg"
            alt="blue star"
          /><img
            class="blue-star"
            src="assets/base/images/icons/star-blue.svg"
            alt="blue star"
          /><img
            class="blue-star"
            src="assets/base/images/icons/star-blue.svg"
            alt="blue star"
          />
        </div>
        <p class="category-title-first">LEGENDARY</p>
        <div class="active-border my-cta-btn-back"></div>
      </div>
    </div>
    <div *ngIf="title === 'common'" class="content-center">
      <div class="content">
        <div class="avatar-image">
          <img
            src="assets/base/images/nft-racers/rookie-basic.png"
            alt="white non-nft avatar"
          />
        </div>
        <div class="content-text">
          <p class="category-title-second">Common</p>
          <p class="races-desc">
            As NON NFT avatar you will gain 3% of price from each NFT any of
            your affiliate member buy.
          </p>
          <div class="abilities">
            <div class="ability first">
              <div class="value my-cta-btn-back category-title-fourth flex-div">
                3 %
              </div>
              <div class="desc category-title-fifth flex-div">NFT</div>
            </div>
          </div>
          <button
            [routerLink]="['/car/nft-market']"
            class="buy my-cta-btn-back category-title-third"
          >
            Buy
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="title === 'super'" class="content-center">
      <div class="content">
        <div class="avatar-image">
          <img
            class="first"
            src="assets/base/images/nft-racers/white-trm.png"
            alt="white nft avatar"
          />
          <img
            class="second"
            src="assets/base/images/nft-racers/red-trm.png"
            alt="red nft avatar"
          />
          <img
            class="third"
            src="assets/base/images/nft-racers/blue-trm.png"
            alt="blue nft avatar"
          />
          <img
            class="fourth"
            src="assets/base/images/nft-racers/black-trm.png"
            alt="black nft avatar"
          />
        </div>
        <div class="content-text">
          <p class="category-title-second">SUPER</p>
          <p class="races-desc">
            Unique feature of NFT avatar is an affiliate bet turnover (ABT)
            earning you 1% of each affiliate member your link bring. You will
            also gain 10% of price from each NFT any of your affiliate member
            buy. What means your investment can be recuperated in a very short
            time.
          </p>
          <div class="abilities">
            <div class="ability first">
              <div class="value my-cta-btn-back category-title-fourth flex-div">
                1 %
              </div>
              <div class="desc category-title-fifth flex-div">Invite</div>
            </div>
            <div class="ability">
              <div class="value my-cta-btn-back category-title-fourth flex-div">
                10 %
              </div>
              <div class="desc category-title-fifth flex-div">NFT</div>
            </div>
          </div>
          <button
            [routerLink]="['/car/nft-market']"
            class="buy my-cta-btn-back category-title-third"
          >
            Buy
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="title === 'epic'" class="content-center">
      <div class="content">
        <div class="avatar-image">
          <img
            class="second"
            src="assets/base/images/nft-racers/bad-boy.png"
            alt="mrs rich nft avatar"
          />
          <img
            class="third"
            src="assets/base/images/nft-racers/lady-rich.png"
            alt="lady rich nft avatar"
          />
          <img
            class="fourth"
            src="assets/base/images/nft-racers/mrs-rich.png"
            alt="rich jr nft avatar"
          />
        </div>
        <div class="content-text">
          <p class="category-title-second">EPIC</p>
          <p class="races-desc">
            Unique feature of NFT avatar is an affiliate bet turnover (ABT)
            earning you 1,5% of each affiliate member your link bring. You will
            also gain 15% of price from each NFT any of your affiliate member
            buy. What means your investment can be recuperated in a very short
            time.
          </p>
          <div class="abilities">
            <div class="ability first">
              <div class="value my-cta-btn-back category-title-fourth flex-div">
                1.5 %
              </div>
              <div class="desc category-title-fifth flex-div">Invite</div>
            </div>
            <div class="ability">
              <div class="value my-cta-btn-back category-title-fourth flex-div">
                15 %
              </div>
              <div class="desc category-title-fifth flex-div">NFT</div>
            </div>
          </div>
          <button
            [routerLink]="['/car/nft-market']"
            class="buy my-cta-btn-back category-title-third"
          >
            Buy
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="title === 'legendary'" class="content-center">
      <div class="content">
        <div class="avatar-image">
          <img
            src="assets/base/images/nft-racers/mr-rich.png"
            alt="mr rich nft avatar"
          />
        </div>
        <div class="content-text">
          <p class="category-title-second">LEGENDARY</p>
          <p class="races-desc">
            Unique feature of NFT avatar is an affiliate bet turnover (ABT)
            earning you 2% of each affiliate member your link bring. You will
            also gain 20% of price from each NFT any of your affiliate member
            buy. What means your investment can be recuperated in a very short
            time.
          </p>
          <div class="abilities">
            <div class="ability first">
              <div class="value my-cta-btn-back category-title-fourth flex-div">
                2 %
              </div>
              <div class="desc category-title-fifth flex-div">Invite</div>
            </div>
            <div class="ability">
              <div class="value my-cta-btn-back category-title-fourth flex-div">
                20 %
              </div>
              <div class="desc category-title-fifth flex-div">NFT</div>
            </div>
            <div class="ability">
              <div class="value my-cta-btn-back category-title-fourth flex-div">
                18 %
              </div>
              <div class="desc category-title-fifth flex-div">APY</div>
            </div>
          </div>
          <button
            [routerLink]="['/car/nft-market']"
            class="buy my-cta-btn-back category-title-third"
          >
            Buy
          </button>
        </div>
      </div>
    </div>
    <div class="content-bottom">
      <div class="bottom-item">
        <div class="item-image">
          <img
            class="red-star"
            src="assets/base/images/icons/referrals-red.svg"
            alt="referral red icon"
          />
          <img
            class="blue-star"
            src="assets/base/images/icons/referrals-blue.svg"
            alt="referral blue icon"
          />
        </div>
        <div class="item-text">
          <p class="category-title-second red-box-detail">
            {{ affMe?.total_affiliates_count }}
          </p>
          <p class="category-title-second blue-box-detail">
            {{ affMe?.total_affiliates_count }}
          </p>
          <p class="races-desc">referrals</p>
        </div>
      </div>
      <div class="bottom-item">
        <div class="item-image">
          <img
            class="red-star"
            src="assets/base/images/icons/check-red.svg"
            alt="check red icon"
          />
          <img
            class="blue-star"
            src="assets/base/images/icons/check-blue.svg"
            alt="check blue icon"
          />
        </div>
        <div class="item-text">
          <p class="category-title-second red-box-detail">
            {{ affMe?.active_affiliates_count }}
          </p>
          <p class="category-title-second blue-box-detail">
            {{ affMe?.active_affiliates_count }}
          </p>
          <p class="races-desc">active</p>
        </div>
      </div>
      <div class="bottom-item">
        <div class="item-image">
          <img
            class="red-star"
            src="assets/base/images/icons/maintenance-red.svg"
            alt="maintenance red icon"
          />
          <img
            class="blue-star"
            src="assets/base/images/icons/maintenance-blue.svg"
            alt="maintenance blue icon"
          />
        </div>
        <div class="item-text">
          <p class="category-title-second red-box-detail">
            {{ affMe?.maintenance_level ? "Yes" : "No" }}
          </p>
          <p class="category-title-second blue-box-detail">
            {{ affMe?.maintenance_level ? "Yes" : "No" }}
          </p>
          <p class="races-desc">maintenance</p>
        </div>
      </div>
      <div class="bottom-item link">
        <p class="races-desc">Referral link:</p>
        <p
          (click)="copyInputMessage()"
          class="races-desc copy-message blue-box-detail"
        >
          {{ myAfiilate ? myAfiilate : dumbreferral }}
        </p>
        <p
          (click)="copyInputMessage()"
          class="races-desc copy-message red-box-detail"
        >
          {{ myAfiilate ? myAfiilate : dumbreferral }}
        </p>
      </div>
      <button class="referrals-button my-cta-btn-back category-title-third">
        My referrals
      </button>
    </div>
  </div>
</div>
