
.side-img{
    width: 930px;
    position: absolute;
    top: -1%;
    left: 0;
    transform: translateX(-70%);
}

.pagination{
    margin-top: 30px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.page-active{
    cursor: default;
    background: rgba($color: #ffffff, $alpha: 0.16);
}
.page-disabled{
    cursor: default;
}
.page-opacity{
    opacity: 0.6;
}
.pagebtn-l, .pagebtn-r{
    background: none;
    height: 30px;
    width: auto;
    img{
        height: 100%;
    }
}


@media screen and (max-width: 1700px){
    .side-img{
        width: 850px;
        transform: translateX(-67%);
    }
}

@media screen and (max-width: 1550px){
    .side-img{
        width: 700px;
    }
}

@media screen and (max-width: 1300px){
    .side-img{
        width: auto;
        max-width: unset;
        height: 130%;
        transform: translateX(-62%);
    }
}

@media screen and (max-width: 1024px){
    .side-img{
        height: 100%;
        transform: translateX(-57%);
        z-index: -1;
    }
}

@media screen and (max-width: 640px){
    .side-img{
        width: 400px;
        height: unset;
    }
}
@media screen and (max-width: 850px) and (orientation: landscape){
    .side-img{
        width: auto;
        height: 100%;
    }
}

@media screen and (max-width: 450px){
    .side-img{
        transform: translateX(-47%);
    }
}