<div class="lead-cont-holder">
  <img
    class="side-img"
    src="/assets/base/images/nft-racers/white-trm.png"
    alt=""
  />

  <div class="month-switchers">
    <button class="first my-cta-btn-back" (click)="setLastMonth(false)" [ngClass]="{'inactive': isLastMonth === true}"><span>Current</span></button>
    <button class="my-cta-btn-back" (click)="setLastMonth(true)" [ngClass]="{'inactive': isLastMonth === false}"><span>Last month</span></button>
  </div>

  <div class="table-content">
    <div class="table-row header">
      <div class="table-item small">
        <p>Place</p>
      </div>
      <div class="table-item">
        <p>Name</p>
      </div>
      <div class="table-item small">
        <p>Team</p>
      </div>
      <div class="table-item big">
        <p>Potentional win</p>
      </div>
      <div class="table-item last">
        <p>Points</p>
      </div>
    </div>

    <div
      class="table-row"
      *ngFor="let pl of players; let yy = index"
      [ngClass]="{ mine: pl.user_nickname === mydrvrData.nickname }"
    >
      <div class="table-item small">
        <p>{{ pl.player_position }}.</p>
      </div>
      <div class="table-item">
        <p>{{ pl.user_nickname }}</p>
      </div>
      <div class="table-item small">
        <p>{{ pl.team_name }}</p>
      </div>
      <div class="table-item big bold">
        <p>
          <img src="/assets/base/images/teams/reward-token.png" alt="" />
          {{ pl.potentional_win | number: "1.2-2":"fr" }}
        </p>
      </div>
      <div class="table-item bold last">
        <p>
          <img src="/assets/base/images/teams/reward-token.png" alt="" hidden />
          {{ pl.points | number: "1.0-1":"fr" }}
        </p>
      </div>
      <div class="mine-back my-cta-btn-back"></div>
    </div>

    <div
      class="table-row"
      *ngIf="
        isPageWithMe === false &&
        cachedLdrbrd?.player_position_overall != null &&
        actualPage < 1
      "
    >
      <div class="table-item small">
        <p>{{ cachedLdrbrd?.player_position_overall }}.</p>
      </div>
      <div class="table-item">
        <p>{{ mydrvr }}</p>
      </div>
      <div class="table-item">
        <p>{{ cachedLdrbrd?.team_name }}</p>
      </div>
      <div class="table-item big bold last">
        <p>
          <img src="/assets/base/images/teams/reward-token.png" alt="" />
          {{ cachedLdrbrd?.ioi_turnover | number: "1.1-1":"fr" }}
        </p>
      </div>
      <div class="mine-back my-cta-btn-back"></div>
    </div>
    <p class="category-title-second bold link">
      ONLY FOR PREMIUM MEMBERS.
      <span
        [routerLink]="['/teams/join-teams']"
        class="my-text-color category-title-second bold"
        >JOIN NOW!</span
      >
    </p>
    <div class="pagination">
      <button
        (click)="actualPage = actualPage - 1; getMyLeaderboard()"
        class="pagebtn-l"
        [disabled]="actualPage <= 1"
      >
        <img
          class="red-box-detail paging-img"
          [ngClass]="{
            'page-opacity': actualPage === 1
          }"
          src="/assets/base/images/icons/icon-back-red.svg"
          alt="red back icon"
        />
        <img
          class="blue-box-detail paging-img"
          [ngClass]="{
            'page-opacity': actualPage === 1
          }"
          src="/assets/base/images/icons/icon-back-blue.svg"
          alt="blue next icon"
        />
      </button>

      <button class="page page-active">{{ actualPage }}</button>
      <button
        (click)="actualPage = actualPage + 1; getMyLeaderboard()"
        class="page"
        *ngIf="actualPage + 1 < totalPages"
      >
        {{ actualPage + 1 }}
      </button>
      <button
        (click)="actualPage = actualPage + 2; getMyLeaderboard()"
        class="page"
        *ngIf="actualPage + 2 < totalPages"
      >
        {{ actualPage + 2 }}
      </button>
      <button
        (click)="actualPage = actualPage + 3; getMyLeaderboard()"
        class="page"
        *ngIf="actualPage + 3 < totalPages"
      >
        {{ actualPage + 3 }}
      </button>
      <button class="page page-disabled" *ngIf="actualPage + 4 < totalPages">
        ...
      </button>
      <button
        (click)="actualPage = totalPages; getMyLeaderboard()"
        class="page"
        *ngIf="actualPage < totalPages"
      >
        {{ totalPages }}
      </button>

      <button
        (click)="actualPage = actualPage + 1; getMyLeaderboard()"
        class="pagebtn-r"
        [disabled]="actualPage >= totalPages"
      >
        <img
          class="red-box-detail paging-img"
          [ngClass]="{
            'page-opacity': actualPage >= totalPages
          }"
          src="/assets/base/images/icons/icon-next-red.svg"
          alt="red back icon"
        />
        <img
          class="blue-box-detail paging-img"
          [ngClass]="{
            'page-opacity': actualPage === totalPages
          }"
          src="/assets/base/images/icons/icon-next-blue.svg"
          alt="blue next icon"
        />
      </button>
    </div>

    <div class="updated_at">
      <p>Last updated at: {{ updateTime | date: "medium" }}</p>
    </div>
  </div>
  <div class="ring-banner">
    <p class="category-title-second">MONTHLY</p>
    <p class="category-title-first">PRIZE</p>
    <img class="ring" src="/assets/base/images/home-page/ring.png" alt="Ring" />
    <p class="desc">for the top player each month until December</p>
    <button
      class="action-btn my-cta-btn-back"
      [routerLink]="['/teams/best-racers']"
    >
      Prize winners
    </button>
  </div>
</div>
