


<div class="main-panel">
  <div class="text-holder">
    <p>{{'rewards.buy_ioi_tokens' | translate}}</p>
  </div>
  <div class="input-holder" [ngClass]="{'inactive': myBalance?.game_wallet_trx < 100}">
    <p class="input-desc min">{{'rewards.min' | translate}}</p>
    <p class="input-desc max">{{'rewards.max' | translate}}</p>
    <div class="amount-ind">
      <p> <img [src]="'/assets/base/images/curr-logos/ioi-logo.png'" alt=""/>{{buying}}</p>
    </div>
    <input id="range-input--tokens" type="range" min="0" step="1" [max]="myBalance?.game_wallet_trx / 100" [(ngModel)]="buying"
      [ngModelOptions]="{standalone: true}" (change)="checkTokens()" />
  </div>
  <div class="pay-holder">
    <p>{{'rewards.pay' | translate}}</p>
    <div class="pay-amount">
      <p> <img [src]="'/assets/base/images/curr-logos/nex/trx-logo.png'" alt="" />{{buying * 100}} </p>
    </div>
  </div>
  <div class="btn-holder">
    <button class="buy-btn" data-toggle="modal" [ngClass]="{'active': buying > 0}" [disabled]="buying < 1" data-target="#payment-modal" *ngIf="myBalance?.game_wallet_trx > 99">{{'rewards.pay_now' | translate}} <span>></span></button>
    <button class="buy-btn" data-toggle="modal" data-target="#deposit-modal" *ngIf="myBalance?.game_wallet_trx < 100" (click)="noDeposit()">{{'rewards.pay_now' | translate}} <span>></span></button>
  </div>
</div>


<div class="modal fade" id="payment-modal" tabindex="-1" role="dialog" aria-labelledby="payment-modal" aria-hidden="true">

    <div class="modal-dialog my-modal-dialog" role="document">
      <div class="Mymodal modal-content ">

        <img src="/assets/base/images/icons/close-icon.svg" alt="" class="close-icon" data-dismiss="modal" aria-label="Close">

          <div class="top-text">
              <p class="heading">{{'modals.confirm_payment' | translate}}</p>
          </div>

          <div class="content-holder">

            <div class="pay-holder">
              <div class="item-holder">
                <p class="desc">{{'rewards.your_purchase' | translate}}</p>
                <div class="amount-holder">
                  <p><img src="/assets/base/images/curr-logos/nex/ioi-logo.png" alt=""> {{buying}}</p>
                </div>
              </div>

              <div class="item-holder payment">
                <p class="desc">{{'rewards.total_payment' | translate}}</p>
                <div class="amount-holder">
                  <p><img src="/assets/base/images/curr-logos/nex/trx-logo.png" alt=""> {{buying * 100}}</p>
                </div>
              </div>
            </div>

              <div class="join-btn" data-dismiss="modal" (click)="buyToken()">{{'rewards.pay_now' | translate}}</div>

          </div>

      </div>
    </div>

</div>



<div class="modal fade" id="crypto-modal">
  <!-- *ngIf="cryptoModal === true" -->
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content my-modal-content--tokens">
      <div class="modal-header">

        <h2>{{'modals.what_is_crypto' | translate}}</h2>

        <button type="button" class="close my-modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="assets/rewards/X-modal.png" alt=""></span>
        </button>
      </div>
      <div class="modal-body">


        <div class="edit-adress-wrap">
          <input class="transfer-text-input crypto-adress" type="text" placeholder="ENTER YOUR ADRESS HERE" [(ngModel)]="cryptoMtfrckr" [ngModelOptions]="{standalone: true}">
        </div>

        <a data-dismiss="modal" data-toggle="modal" class="confirm-modal-btn" data-target="#deposit-modal"><img
            src="/assets/base/images/paymant-confirm-btn.png" alt="" (click)="patchWallet()"></a>
      </div>
    </div>
  </div>
</div>
