


.main-panel{
    width: 100%;
    height: 128px;
    background: #111111;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03), 2px 3px 10px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    margin-top: 20px;
    margin-bottom: 15px;
    .text-holder{
        min-width: 225px;
        margin-right: 10px;
        p{
            margin: 0;
            font-size: 30px;
            color: white;
            font-weight: 600;
        }
    }
    .pay-holder{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 240px;
        margin: 0 10px;
        p{
            margin: 0 15px 0 0;
            font-size: 30px;
            color: white;
            font-weight: 600;
        }
        .pay-amount{
            background: #111111;
            box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03), 2px 3px 20px rgba(0, 0, 0, 0.2), inset -3px -3px 10px rgba(255, 255, 255, 0.03), inset 2px 3px 10px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            padding: 0px 15px 0 5px;
            p{
                color: #BE125A;
                font-size: 20px;
                margin: 0;
                img{
                    width: 41px;
                }
            }
        }
    }
    .btn-holder{
        margin-left: 10px;
        min-width: 170px;
        .buy-btn{
            background: #111;
            padding: 11px 34px;
            color: white;
            border: none;
            font-size: 18px;
            font-weight: 400;
            box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            transition: .15s;
            &.active{
              background: linear-gradient(250.32deg, #EB2163 22.61%, #950552 85.16%), #333333;
              cursor: pointer;
            }
            span{
                font-weight: 700;
            }
        }
    }
}

.input-holder {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 40px 0 10px;
    &.inactive{
      opacity: .4;
    }
    .input-desc {
        position: absolute;
        top: 32px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #ffffff;
        margin: 0;
        opacity: .2;
        text-transform: uppercase;
      &.min {
        left: 0;
      }
      &.max {
        right: 0;
      }
    }
    .amount-ind {
        position: absolute;
        top: -53px;
        left: 50%;
        transform: translateX(-50%);
        background: #111111;
        box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03), 2px 3px 20px rgba(0, 0, 0, 0.2), inset -3px -3px 10px rgba(255, 255, 255, 0.03), inset 2px 3px 10px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 0px 15px 0 5px;
        p{
            color: white;
            font-size: 20px;
            margin: 0;
            img{
                width: 41px;
            }
        }
    }
    #range-input--tokens {
      -webkit-appearance: none;
      margin: 10px 0;
      width: 100%;
      border-radius: 6px;
      display: block;
      position: relative;
      height: 10px;
      min-width: unset;
    }

    #range-input--tokens:focus {
      outline: none;
    }

    #range-input--tokens::-webkit-slider-runnable-track {
      height: 10px;

      cursor: pointer;
      animate: 0.2s;
      //background: #22ffff;
      background: #222222;
      border-radius: 6px;
      width: 100%;
      border:none!important;
      box-shadow:none!important;
    }

    #range-input--tokens::-webkit-slider-thumb {
      height: 60px;
      width: 60px;
      border-radius: 50px;
      background: transparent;
      cursor: pointer;
      -webkit-appearance: none;
      opacity: 1;
      margin-top: -24px;
      position: relative;
      background-image: url("/assets/base/images/tokens/range-btn.png");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    .button-img {
      position: absolute;
      bottom: -80px;
      left: -3px;
      cursor: pointer;
      &.add {
        right: -3px;
        left: unset;
      }
    }
  }

 
  
  h6 {
    font-size: 15px;
    color: white;
    span {
      color: #f901e5;
    }
  }
  
  .carousel-wrap {
    width: 80%;
    margin: 20px auto;
    padding-top: 20px;
    .carousel-card {
      max-width: 163px;
      max-height: 255px;
      margin: 30px auto;
      img {
        display: inline;
      }
    }
  }


  .modal.fade{
    background: rgba(17, 17, 17, 0.8);
  }
  .my-modal-dialog{
    max-width: 456px;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    .modal-content{
      padding: 30px 20px;
      background: #111111;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.6);
      border-radius: 20px;
      top: 50%;
      transform: translateY(-50%);
      .close-icon{
        position: absolute;
        top: 13px;
        right: 13px;
        padding: 5px;
      }
      .top-text{
        margin: 10px 0 30px;
        width: 100%;
        text-align: center;
        .heading{
          margin: 0;
          font-size: 22px;
          font-weight: 600;
          color: white;
        }
      }
      .content-holder{
        width: 100%;
        .pay-holder{
          .item-holder{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &.payment{
              margin-top: 25px;
            }
            .desc{
              font-size: 18px;
              color: white;
              font-weight: 400;
              margin: 0;
            }
            .amount-holder{
              background: #111111;
              box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03), 2px 3px 20px rgba(0, 0, 0, 0.2), inset -3px -3px 10px rgba(255, 255, 255, 0.03), inset 2px 3px 10px rgba(0, 0, 0, 0.5);
              border-radius: 10px;
              padding: 0px 15px 0 5px;
              p{
                color: white;
                font-size: 20px;
                margin: 0;
                img{
                  width: 41px;
                  transform: scale(1.2);
                }
              }
            }
          }
        }
        .join-btn{
          margin-top: 30px;
          color: #ffffff;
          font-size: 18px;
          text-shadow: none;
          text-transform: uppercase;
          font-weight: 400;
          transition: 0.3s;
          background: linear-gradient(250.32deg, #EB2163 22.61%, #950552 85.16%), #333333;
          box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          padding: 7px;
          text-align: center;
          width: 100%;
          cursor: pointer;
        }
      }
    }
  }


  @media (min-width: 2000px) {
    .carousel-wrap {
      .carousel-card {
        max-width: 223px;
        max-height: 345px;
        .my-card-cont--wallet {
          h4 {
            font-size: 34px;
            img {
              width: 63px;
            }
          }
          ul {
            li {
              width: 90%;
              font-size: 20px;
              img {
                width: 38px;
              }
            }
          }
        }
      }
    }
  }
  .my-modal-content--tokens {
    .deposit-warning {
      width: 100%;
      margin-top: 20px;
      h1,
      h2 {
        color: white;
        text-align: center;
        font-size: 17px;
      }
      h2 {
        color: #fd00f5;
      }
    }
    .modal-header {
      h2 {
        color: #fd00f5;
      }
    }
  }
  .my-modal-content--tokens.deposit-modal {
    height: 530px;
  }
  .modal-body {
    .crypto-adress {
      text-transform: none !important;
    }
  }
  
  .modal-body {
    .middle-part {
      display: flex;
      align-items: center;
      span {
        font-size: 14px;
        line-height: 33px;
  
        width: 75px;
        height: 33px;
        @media screen and (max-width: 640px) {
          width: 60px;
        }
      }
    }
    .qr-code {
      img {
        width: 180px;
        margin: 0 auto;
      }
    }
    .deposit-adress {
      text-align: center;
      .button {
        width: 115px;
        height: 46px;
        line-height: 46px;
        margin: 0 auto;
      }
      .transfer-text-input {
        width: 80%;
        margin: 20px 0 15px 0;
        text-align: center;
      }
    }
    .timer {
      text-align: center;
      p {
        margin: 15px;
      }
    }
    .final-ammount {
      p {
        margin-bottom: 10px;
        font-size: 22px;
        img {
          width: 40px;
          vertical-align: baseline;
        }
        img.qr-tron-logo {
          width: 20px;
        }
      }
    }
    .right-part {
      .available-balance {
        position: absolute;
        bottom: -30px;
        left: 0;
        color: #00c8fe;
        font-size: 0.9rem;
        span {
          color: white;
        }
      }
    }
  }
  .modal-body {
    .crypto-adress {
      text-transform: none !important;
    }
  }
  .edit-adress-wrap {
    width: 75%;
    margin: 10px auto;
  }
  .modal-header h2.deposti-header {
    font-size: 32px;
  }
  .ion-item {
    width: 100%;
    max-height: 36px;
    margin-top: 0.5rem;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    border-radius: 4px;
    --background: transparent;
    border: 1px solid #00c8fe;
    --padding-start: 0;
    .ion-select {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      min-height: 34px;
      min-width: 100%;
      box-sizing: border-box;
      color: #00c8fe;
      padding-left: 16px;
      --placeholder-color: #00ffff;
      --placeholder-opacity: 0.2;
      text-transform: none;
    }
  }
  
  @media only screen and (max-width: 640px) {
    .tokens-left {
      position: relative;
      top: unset;
      left: unset;
      a {
        margin: 0 auto;
      }
    }
    .top-part--tokens {
      margin-top: 10px;
    }
    .currency--tokens {
      right: unset;
      left: 50%;
      transform: translateX(-50%);
      top: 30px;
    }
  }
  .my-modal-dialog {
    .my-modal-content--tokens {
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center;
      border: 2px solid #fd00f5;
      height: 400px;
      .modal-body {
        width: 57%;
        @media screen and (max-width: 640px) {
          width: 100%;
        }
      }
    }
    .confirm-modal-btn {
      left: unset;
      transform: none;
      right: 4%;
      @media screen and (max-width: 640px) {
        left: 49.7%;
        transform: translateX(-50%);
        right: unset;
      }
    }
  }


@media screen and (max-width: 1650px){
    .main-panel{
        .text-holder{
            min-width: 195px;
            p{
                font-size: 24px;
            }
        }
        .pay-holder{
            min-width: 195px;
            p{    
                margin: 0 10px 0 0;
                font-size: 26px;
            }
            .pay-amount{
                padding: 0px 11px 0 1px;
                p{
                    font-size: 18px;
                    img{
                        width: 35px;
                    }
                }
            }
        }
        .btn-holder{
            min-width: 135px;
            .buy-btn{
                padding: 9px 26px;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 1550px){
    .main-panel{
        height: 98px;
        .input-holder{
            .amount-ind{
                top: -40px;
                padding: 0px 11px 0 1px;
                p{
                    font-size: 17px;
                    img{
                        width: 33px;
                    }
                }
            }
            #range-input--tokens::-webkit-slider-thumb{
                width: 50px;
                height: 50px;
                margin-top: -20px;
            }
            .input-desc{
                top: 27px;
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 1350px){
    .main-panel{
        .text-holder{
            min-width: 150px;
            p{
                font-size: 20px;
            }
        }
        .pay-holder{
            min-width: 155px;
            p{    
                margin: 0 7px 0 0;
                font-size: 20px;
            }
            .pay-amount{
                padding: 0px 8px 0 0px;
                p{
                    font-size: 15px;
                    img{
                        width: 30px;
                    }
                }
            }
        }
        .btn-holder{
            min-width: 123px;
            .buy-btn{
                padding: 8px 22px;
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 1350px){
    .main-panel{
        flex-wrap: wrap;
        height: unset;
        justify-content: center;
        .text-holder{
            margin: 0;
        }
        .input-holder{
            max-width: unset;
            width: 90%;
            margin: 50px 0 20px;
        }
        .buy-btn{
            margin: 15px 0;
        }
    }
}