.font {
  font-family: "Earth Orbiter";
}
.my-menu {
  margin: 70px 0 25px;

  background: #222222;
  width: 50%;
  display: flex;
  justify-content: space-between;
  .menu-item {
    width: 50%;

    cursor: pointer;
    height: 50px;
    position: relative;
    &.inactive {
      background: transparent;
      p {
        font-weight: 400;
      }
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      text-align: center;
      margin: 0;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
.empty {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  .my-cta {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 30px;

    color: white;
  }
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4%;
  max-width: 50px;
  height: 80px;
  background: #111111;
  cursor: pointer;
  &.inactive {
    cursor: default;
    p {
      color: #222222;
    }
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  p {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.table {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: white;
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 40px 5%;
  &.winner-table {
    .table-row {
      .table-item {
        width: 22%;
        &.small {
          width: 15%;
        }
        &.big {
          width: 28%;
        }
      }
    }
  }
  .table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
    background: rgba(17, 17, 17, 0.85);

    overflow: hidden;
    position: relative;
    &.header {
      margin-bottom: 1px;
      .table-item {
        &.small {
          p {
            white-space: nowrap;
          }
        }
        &::after {
          content: none;
        }
        p {
          font-weight: 600;
        }
      }
    }
    &.mine {
      background: #ffffff;
      .table-item {
        &.small {
          p {
            color: white;
          }
        }
        p {
          color: black;
        }
        .team-badge {
          p {
            color: white;
          }
        }
      }
    }
    .table-item {
      width: 18%;
      text-align: center;
      height: 40px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid rgba(255, 255, 255, 0.15);
      &.small {
        width: 15%;
      }
      &.big {
        width: 23%;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        z-index: 2;
      }
      &.last {
        border-right: none;
        &::after {
          content: none;
        }
      }
      &.btn-item {
        button {
          width: 80%;
          max-width: 130px;
          padding: 8px;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 16px;
        }
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        line-height: 40px;
        &.img-item {
          height: 100%;
          img {
            height: 100%;
            &.ticket {
              height: 70%;
            }
          }
        }
      }
      .team-badge {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.IOI {
          background: #00d1ff;
        }
        &.ALT {
          background: #00d481;
        }
        &.BTC {
          background: #eb2163;
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 11px;
          line-height: 1;
        }
      }
    }
  }
}

.main-holder {
  width: calc(100% - 457px);
  padding-left: 40px;
}

.winning-modal {
  position: fixed;
  background: rgba(17, 17, 17, 0.8);

  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  top: 0;
  left: 0;
  z-index: 1000002;
  .winner-back {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .winner-body {
    background: rgba(17, 17, 17, 0.8);
    padding: 20px 0 0 0;
    position: absolute;
    z-index: 2;
    width: 95%;
    max-width: 760px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .close-modal {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 10px;
      cursor: pointer;
      transition: 0.2s;
      z-index: 10;
      &:hover {
        transform: rotate(90deg);
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .table {
    padding: 25px 4.5%;
    .table-row {
      .table-item {
        height: 37px;
        p {
          font-size: 15px;
          line-height: 37px;
        }
        .team-badge {
          width: 20px;
          height: 20px;
          p {
            font-size: 9px;
          }
        }
      }
    }
  }
  .my-menu {
    .menu-item {
      height: 45px;
      p {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .main-holder {
    width: calc(100% - 380px);
    padding-left: 20px;
  }

  .my-menu {
    margin: 30px 0 20px;
  }
  .table {
    .table-row {
      .table-item {
        &.btn-item {
          button {
            font-size: 13px;
            padding: 6px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .main-holder {
    width: calc(100% - 340px);
    padding-left: 13px;
  }
  .table {
    padding: 20px 3.5%;
    .table-row {
      .table-item {
        height: 34px;
        p {
          font-size: 14px;
          line-height: 34px;
        }
      }
    }
  }
  .arrow {
    width: 3%;
    height: 70px;
    p {
      font-size: 22px;
    }
  }

  .my-menu {
    .menu-item {
      height: 40px;
      p {
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .main-holder {
    width: 100%;
    padding: 30px 10px 0px 10px;
  }
}

@media screen and(max-width: 1024px) and (orientation: landscape) and (min-height: 600px) {
  .table {
    min-height: 0;
    padding: 10px 4.5%;
    .table-row {
      .table-item {
        height: 35px;
        p {
          font-size: 13px;
          line-height: 15px;
        }
      }
    }
  }
}
@media screen and(max-width: 1024px) and (orientation: landscape) and (max-height: 599px) {
  .category-title-first {
    font-size: 12px;
    line-height: 14px;
  }
  .table {
    min-height: 0;
    padding: 10px 4.5%;
    .table-row {
      .table-item {
        height: 20px;
        p {
          font-size: 11px;
          line-height: 20px;
        }
        &.btn-item {
          button {
            font-size: 9px;
          }
        }
      }
    }
  }
}
@media screen and(max-width: 640px) and (orientation: landscape) {
  .table {
    min-height: 0;
    padding: 5px 2.5%;
    .table-row {
      .table-item {
        height: 18px;
        p {
          font-size: 9px;
          line-height: 18px;
        }
        &.btn-item {
          button {
            font-size: 7px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) and (orientation: portrait) {
  .my-menu {
    margin: 20px 0 25px;
    width: 100%;
    .menu-item {
      height: 36px;
      p {
        font-size: 13px;
      }
    }
  }
  .table {
    padding: 17px 3% 43px;
    min-height: 440px;
    .table-row {
      .table-item {
        height: 30px;
        width: 17%;
        &.small {
          width: 7%;
        }
        &.big {
          width: 29.5%;
        }
        p {
          font-size: 12px;
          line-height: 30px;
        }
        &.btn-item {
          button {
            font-size: 10px;
            padding: 1px;

            span {
              display: block;
            }
          }
        }
      }
    }
  }
  .arrow {
    width: 60px;
    height: 25px;
    top: unset;
    bottom: 0;
    transform: translateX(-50%);
    &.left {
      left: calc(50% - 30px);
    }
    &.right {
      left: calc(50% + 50px);
    }
  }
  .winning-modal {
    .winner-body {
      padding: 20px 0 10px;
      .close-modal {
        top: 10px;
        right: 10px;
      }
      .table-holder {
        padding: 30px 10px 15px;
        .my-row {
          p {
            font-size: 14px;
          }
          .my-position {
            .pos-box {
              width: 33px;
              height: 33px;

              .inner {
                p {
                  line-height: 33px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .my-menu {
    max-width: 420px;
    margin: 20px auto 25px;
    flex-wrap: wrap;
    width: 80%;
    .menu-item {
      width: 100%;
    }
  }
}

@media screen and (max-width: 400px) {
  .table {
    .header {
      div:first-child() {
        width: 25px;
      }
    }
    .table-row {
      .cell:first-child {
        width: 25px;
      }
      .placement {
        width: 25px;
        height: 25px;
        span {
          width: 25px;
          height: 25px;
          font-size: 8px;
        }
      }
    }
  }
}

@media screen and (min-width: 2300px) and (min-height: 1300px) {
  p {
    font-size: 19px;
  }
  h1 {
    font-size: 39px;
  }
  h5 {
    font-size: 24px;
  }

  .table {
    .placement {
      font-size: 19px;
      height: 45px;
      span {
        width: 45px;
        height: 45px;
      }
    }
  }
  .table {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 600px;
    .header {
      font-size: 19px;
    }
    .table-row {
      height: 65px;
      .table-item.small {
        height: 65px;
        p {
          line-height: 65px;
        }
      }
      img {
        width: 65px;
        height: 65px;
      }
    }
    .arrow-right,
    .arrow-left {
      font-size: 45px;
    }
  }

  .trans-menu {
    .menu-desc {
      p {
        font-size: 20px;
        padding-bottom: 20px;
      }
    }
    .menu-line {
      border: 5px solid #111111;
      .inner-line {
        height: 5px;
      }
    }
  }
}
