<app-main-top-banner [page]="'history'"></app-main-top-banner>

<div class="main-holder">
    <div class="trans-menu">
        <div class="menu-desc">
            <p class="join-team"[routerLink]="['/your-races/transactions']">{{'history.transactions' | translate}}</p>
            <p class="my-team active" [routerLink]="['/your-races/transactions/my-races']">{{'profile.races' | translate}}</p>
        </div>
        <div class="menu-line">
            <div class="inner-line my-cta-btn-back">&nbsp;</div>
        </div>
    </div>

    
    
    <div class="table">
        <div class="header table-row">
            <div>&#8203;</div>
            <div>{{'history.game' | translate}}</div>
            <div>{{'modals.amount' | translate}}</div>
            <div>{{'shared.win' | translate}}</div>
            <div>{{'history.date' | translate}}</div>
            <div>{{'leaderboard.winners' | translate}}</div>
        </div>
        <div class="table-row"  *ngFor="let trans of raceTransactions;let indexx = index;">
          <div class="cell">
            <div class="placement my-border-grad"><span>{{(indexx + 1)+10*(actualPage-1)}}</span></div>
          </div>
          <div class="cell"> <p>{{ 'race.type.' + trans.extras?.race_identifier | translate}}</p></div>
          <div class="cell"><p>{{trans.extras?.bet  | number:'1.2-2':'fr' }}</p></div>
          <div class="cell"><p>{{trans.delta  | number:'1.2-2':'fr' }}</p></div>
          <div class="cell"><p>{{trans.created_at | date:'short'}}</p></div>
          <div class="cell"><button class="my-low-gradient" (click)="getRaceWinner(trans.extras?.race_hash)" *ngIf="trans.extras?.game !== 'classic_tournament'">{{'leaderboard.winners' | translate}}</button></div>
        </div>


         
        <div class="arrow-right"  *ngIf="(totalPages > 1) && (actualPage < totalPages)"  (click)="nextPage()">
            &gt;
        </div>
        <div class="arrow-left"  *ngIf="(totalPages > 1) && (actualPage > 1)" (click)="prevPage()">
            &lt;
        </div>
    </div>

</div>
