<app-main-top-banner [page]="'history'"></app-main-top-banner>

<div class="main-holder">
    <div class="trans-menu">
        <div class="menu-desc">
            <p class="join-team"[routerLink]="['/your-races/transactions']">{{'history.transactions' | translate}}</p>
            <p class="my-team active" [routerLink]="['/your-races/transactions/my-races']">{{'profile.races' | translate}}</p>
        </div>
        <div class="menu-line">
            <div class="inner-line my-cta-btn-back">&nbsp;</div>
        </div>
    </div>

    
    
    <div class="table">
        <div class="header table-row">
            <div>&#8203;</div>
            <div>{{'history.game' | translate}}</div>
            <div>Type</div>
            <div>{{'modals.amount' | translate}}</div>
            <div>{{'history.date' | translate}}</div>
            <div>{{'leaderboard.winners' | translate}}</div>
        </div>
        <div class="table-row"  *ngFor="let trans of raceTransactions;let indexx = index;">
          <div class="cell">
            <div class="placement my-border-grad"><span>{{(indexx + 1)+10*(actualPage-1)}}</span></div>
          </div>
          <div class="cell"> <p>{{ 'race.type.' + trans.extras?.race_identifier + '_simple' | translate}}</p></div>
          <div class="cell"><p>{{trans.history_type === 'signup_race' ? 'Signup' : 'Win' }}</p></div>
          <div class="cell"><p>{{trans.delta  | number:'1.2-2':'fr' }}</p></div>
          <div class="cell"><p>{{trans.created_at | date:'short'}}</p></div>
          <div class="cell"><button class="my-low-gradient" (click)="getRaceWinner(trans.extras?.race_hash)" *ngIf="trans.extras?.game !== 'classic_tournament'">{{'leaderboard.winners' | translate}}</button></div>
        </div>

        <div class="empty" *ngIf="raceTransactions.length===0 && actualPage===1">
            <h2>{{'history.races_empty' | translate}}</h2>
            <button [routerLink]="['/race/all-races']" class="my-cta my-cta-btn-back hoverable">
                {{"start-race.join_race" | translate}}
            </button>
        </div>
         
        <div class="arrow-right"  *ngIf="(totalPages > 1) && (actualPage < totalPages)"  (click)="nextPage()">
            &gt;
        </div>
        <div class="arrow-left"  *ngIf="(totalPages > 1) && (actualPage > 1)" (click)="prevPage()">
            &lt;
        </div>
    </div>

</div>

<div class="winning-modal" *ngIf="showFinalModal === true">

    <div class="winner-back" (click)="showFinalModal = false"></div>
    
    <div class="winner-body">
        <img src="/assets/base/images/garage/red-close-cross.svg" alt="" class="close-modal" (click)="showFinalModal = false">

        <div class="table-holder">
            <div class="my-row header">
                <div>
                    <p>{{'leaderboard.position' | translate}}</p>
                </div>
                <div>
                    <p>{{'history.nick' | translate}}</p>
                </div>
                <div>
                    <p>{{'profile.team' | translate}}</p>
                </div>
                <div>
                    <p>{{'shared.prize' | translate}}</p>
                </div>
                <div>
                    <p>{{'shared.points' | translate}}</p>
                </div>
            </div>
            <div class="my-row" *ngFor="let item of winnersList;let i = index;">
                <div class="my-position">
                    <div class="pos-box my-border-grad">
                        <div class="inner">
                            <p>{{item.car_position_in_the_race}}</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>{{ item.nickname }}</p>
                </div>
                <div>
                    <p>{{ item.team ? item.team : 'NO'}}</p>
                </div>
                <div>
                    <p>{{ (item.amount ? item.amount : 0 ) | number:'1.2-2':'fr'}}</p>
                </div>
                <div>
                    <p>{{( item.points ? item.points : 0 ) | number:'1.2-2':'fr'}}</p>
                </div>
            </div>
        </div>

        <div class="arrow-right"  *ngIf="(totalPagesWinner > 1) && (actualPageWinner < totalPagesWinner)"  (click)="actualPageWinner = actualPageWinner + 1;getRaceWinner(atualUrl)">
            &gt;
        </div>
        <div class="arrow-left"  *ngIf="(totalPagesWinner > 1) && (actualPageWinner > 1)" (click)="actualPageWinner = actualPageWinner - 1;getRaceWinner(atualUrl)">
            &lt;
        </div>
    </div>

    <!-- <div class="modal-bg">
        <p class="close-modal" (click)="showFinalModal = false;">x</p>
  
        <div class="ledeboard-team-list-component details">
            <div class="sub-header-component">
                <button>{{'leaderboard.position' | translate}}</button>
                <button>{{'history.nick' | translate}}</button>
                <button>{{'profile.team' | translate}}</button>
                <button>{{'shared.prize' | translate}}</button>
                <button>{{'shared.points' | translate}}</button>
            </div>
  
  
            <div class="table">
                <div class="tab-team" *ngFor="let item of winnersList;let i = index;">
                    <div class="inner-tab">
                      <div class="item team-position">
                          <span class="position"
                            [ngClass]="'win-' + (i + 1)">&nbsp;</span>
                        </div>
                        <div class="item team-points">
                          <span class="points">{{ item.nickname }}</span>
                        </div>
                        <div class="item team-leader">
                          <span>{{ item.team ? item.team : 'NO'}}</span>
                        </div>
                        <div class="item team-rider">
                          <span>{{ (item.amount ? item.amount : 0 ) | number:'1.2-2':'fr'}}</span>
                        </div>
                        <div class="item team-rider" *ngIf="item.amount">
                          
                          <span>{{( item.points ? item.points : 0 ) | number:'1.2-2':'fr'}}</span>
                        </div>
                        <div class="item team-rider" *ngIf="!item.amount">
                          <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
  </div>