<div class="table">
  <div class="table-row header">
    <div class="table-item small"><p class="font">Position</p></div>
    <div class="table-item"><p class="font">Game</p></div>
    <div class="table-item"><p class="font">Type</p></div>
    <div class="table-item"><p class="font">Amount</p></div>
    <div class="table-item big"><p class="font">Date</p></div>
    <div class="table-item"><p class="font">Winners</p></div>
  </div>

  <div
    class="table-row"
    *ngFor="let trans of raceTransactions; let indexx = index"
  >
    <div class="table-item small my-cta-btn-back">
      <p>{{ indexx + 1 + 10 * (actualPage - 1) }}.</p>
    </div>
    <div class="table-item">
      <p>
        {{
          "race.type." + trans.extras?.race_identifier + "_simple" | translate
        }}
      </p>
    </div>
    <div class="table-item">
      <p>{{ trans.history_type === "signup_race" ? "Signup" : "Win" }}</p>
    </div>
    <div class="table-item">
      <p>{{ trans.delta | number: "1.2-2":"fr" }}</p>
    </div>
    <div class="table-item big">
      <p>{{ trans.created_at }}</p>
    </div>
    <div class="table-item last btn-item">
      <button
        class="my-cta-btn-back hoverable"
        (click)="getRaceWinner(trans.extras?.race_hash)"
        *ngIf="trans.extras?.game !== 'classic_tournament' && trans.extras?.game !==  'binary_vs_race_1'"
      >
        <span>Show</span> table
      </button>
    </div>
  </div>

  <div
    class="arrow right"
    *ngIf="totalPages > 1 && actualPage < totalPages"
    (click)="nextPage()"
  >
    <p>&gt;</p>
  </div>
  <div
    class="arrow left"
    *ngIf="totalPages > 1 && actualPage > 1"
    (click)="prevPage()"
  >
    <p>&lt;</p>
  </div>
  <div class="arrow right inactive" *ngIf="actualPage === totalPages">
    <p>&gt;</p>
  </div>
  <div class="arrow left inactive" *ngIf="actualPage === 1">
    <p>&lt;</p>
  </div>

  <div
    class="leaderboard-empty"
    *ngIf="raceTransactions.length === 0 && actualPage === 1"
  >
    <h2>{{ "history.transactions_empty" | translate }}</h2>
  </div>
</div>

<div class="winning-modal" *ngIf="showFinalModal === true">
  <div class="winner-back" (click)="showFinalModal = false"></div>

  <div class="winner-body">
    <img
      src="/assets/base/images/garage/red-close-cross.svg"
      alt=""
      class="close-modal"
      (click)="showFinalModal = false"
    />

    <div class="table winner-table">
      <div class="table-row header">
        <div class="table-item small"><p>Position</p></div>
        <div class="table-item big"><p>Nick</p></div>
        <div class="table-item"><p>Team</p></div>
        <div class="table-item"><p>Prize</p></div>
        <div class="table-item"><p>Points</p></div>
      </div>

      <div class="table-row" *ngFor="let item of winnersList; let i = index">
        <div class="table-item small my-cta-btn-back">
          <p>{{ item.car_position_in_the_race }}.</p>
        </div>
        <div class="table-item big">
          <p>{{ item.nickname }}</p>
        </div>
        <div class="table-item">
          <p>{{ item.team ? item.team : "NO" }}</p>
        </div>
        <div class="table-item">
          <p>{{ (item.amount ? item.amount : 0) | number: "1.2-2":"fr" }}</p>
        </div>
        <div class="table-item last">
          <p>{{ (item.points ? item.points : 0) | number: "1.2-2":"fr" }}</p>
        </div>
      </div>

      <div
        class="arrow right"
        *ngIf="actualPageWinner < totalPagesWinner"
        (click)="
          actualPageWinner = actualPageWinner + 1; getRaceWinner(atualUrl)
        "
      >
        <p>&gt;</p>
      </div>
      <div
        class="arrow left"
        *ngIf="actualPageWinner > 1"
        (click)="
          actualPageWinner = actualPageWinner - 1; getRaceWinner(atualUrl)
        "
      >
        <p>&lt;</p>
      </div>
      <div
        class="arrow right inactive"
        *ngIf="actualPageWinner === totalPagesWinner"
      >
        <p>&gt;</p>
      </div>
      <div class="arrow left inactive" *ngIf="actualPageWinner === 1">
        <p>&lt;</p>
      </div>
    </div>

    <!-- <div class="table-holder">
            <div class="my-row header">
                <div>
                    <p>{{'leaderboard.position' | translate}}</p>
                </div>
                <div>
                    <p>{{'history.nick' | translate}}</p>
                </div>
                <div>
                    <p>{{'profile.team' | translate}}</p>
                </div>
                <div>
                    <p>{{'shared.prize' | translate}}</p>
                </div>
                <div>
                    <p>{{'shared.points' | translate}}</p>
                </div>
            </div>
            <div class="my-row" *ngFor="let item of winnersList;let i = index;">
                <div class="my-position">
                    <div class="pos-box my-border-grad">
                        <div class="inner">
                            <p>{{item.car_position_in_the_race}}</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>{{ item.nickname }}</p>
                </div>
                <div>
                    <p>{{ item.team ? item.team : 'NO'}}</p>
                </div>
                <div>
                    <p>{{ (item.amount ? item.amount : 0 ) | number:'1.2-2':'fr'}}</p>
                </div>
                <div>
                    <p>{{( item.points ? item.points : 0 ) | number:'1.2-2':'fr'}}</p>
                </div>
            </div>
        </div> -->
  </div>
</div>
