html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  line-height: unset !important;
  font-family: "Oswald";
}
body img {
  vertical-align: unset;
}
body h1,
body h2,
body h3,
body a,
body p {
  color: #ffffff;
}
h1 {
  font-weight: 600;
  font-size: 36px;
}

:host {
  width: 100%;
}
.my-menu {
  bottom: 20px;
  border-radius: 10px;
  background: #222222;
  width: 40%;
  display: flex;
  position: relative;
  .menu-item {
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    position: relative;
    &.inactive {
      background: transparent;
      p {
        font-weight: 400;
      }
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      text-align: center;
      margin: 0;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
.container--reward {
  width: calc(100% - 457px);
  padding-left: 40px;
  position: relative;
  padding-bottom: 30px;
}
.my-modal-content--rewards .modal-header {
  border-bottom: none;
}
.my-modal-content--rewards .modal-title {
  color: #00c8fe;
  font-size: 32px;
  font-weight: 700;
  margin: 55px auto 20px auto;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .my-modal-content--rewards .modal-title {
    margin: 20px auto;
  }
}
.my-modal-content--rewards .my-modal-close {
  opacity: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.my-modal-content--rewards .modal-body {
  padding: 10px 20px;
  font-size: 1.125rem;
  text-transform: uppercase;
  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    width: 120px;
    height: 49px;
    line-height: 49px;
    display: block;
    font-size: 21px;
    margin: 0 auto 1rem;
    text-align: center;
  }
}
.my-modal-content--rewards .modal-body p {
  margin-bottom: 2rem;
  text-align: justify;
}

.my-modal-dialog {
  max-width: 1026px;
  .confirm-modal-btn {
    left: unset;
    right: 4%;
    transform: none;
  }
}

.page-info {
  margin: 30px 0 0;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .back {
    cursor: pointer;
    transition: 0.2s;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    text-align: center;
    min-height: 132px;
    background: linear-gradient(0deg, #111111, #111111);
    box-shadow: 0px 0px 80px #000000;
    border-radius: 20px;
    p {
      line-height: 20px;
      margin-bottom: 22px;
    }
  }
  .back:hover {
    transform: scale(1.1);
  }
  .text-info {
    max-width: 812px;
    margin: 0 20px;
  }
  .bonus-info {
    width: 448px;
    background: linear-gradient(0deg, #111111, #111111);
    box-shadow: 0px 0px 80px #000000;
    border-radius: 20px;
    min-height: 132px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    p {
      color: rgba(255, 255, 255, 0.4);
    }
    h5 {
      font-weight: 600;
    }
    .divident-pool,
    .nft-pool {
      padding: 0 20px;
    }
  }
}

.top-panels {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;
  .panel-item {
    width: 49%;
    .desc {
      font-weight: 600;
      font-size: 18px;
      color: white;
      text-align: left;
    }
    .inner-box {
      height: 274px;
      background: #111111;
      box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.7);
      border-radius: 20px;
      width: 100%;
      padding: 20px 0;
      position: relative;
      .box-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: 5px 20px;
        &:nth-child(even) {
          background-color: rgba(255, 255, 255, 0.03);
        }
        p {
          color: white;
          margin: 0;
          font-size: 18px;
        }
        .part1 {
          min-width: 83px;
          p {
            font-weight: 600;
            text-transform: uppercase;
            img {
              width: 40px;
            }
          }
        }
        .part2 {
          p {
            font-weight: 600;
          }
        }
        .sum {
          padding-right: 4%;
          p {
            font-weight: 400;
          }
        }
      }
      .info-desc {
        position: absolute;
        color: white;
        left: 20px;
        bottom: 10px;
        margin: 0;
      }
    }
  }
}

.earn-panel {
  .desc {
    font-weight: 600;
    font-size: 18px;
    color: white;
    text-align: left;
  }
  .inner-box {
    background: #111111;
    box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    width: 100%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    .box-item {
      width: 49%;
      height: 100%;
      .min-text {
        font-weight: 500;
        font-size: 18px;
        color: white;
        margin: 10px 0;
      }
      .main-text {
        font-weight: 300;
        font-size: 36px;
        color: white;
        margin: 25px 0 15px;
        span {
          font-weight: 600;
        }
      }
    }
  }
}

.flex-cont {
  display: flex;
  align-items: center;
  padding: 0 15px;
  width: 70%;
  .svg-item {
    min-width: 120px;
    width: 120px;
    height: 120px;
    font-size: 16px;
    position: relative;
    padding: 10px;
    border-radius: 50%;
    background: #111111;
    box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03),
      2px 3px 10px rgba(0, 0, 0, 0.6);
    svg {
      overflow: visible;
    }
    .donut-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      p {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        color: white;
        text-align: center;
        line-height: 50px;
        width: 100%;
        white-space: nowrap;
      }
    }
  }
  .donut-ring {
    stroke: transparent;
  }
  .donut-hole {
    fill: transparent;
  }
  .donut-segment {
    transform-origin: center;
    transition: 0.3s;
  }
  .segment-1 {
    fill: #ccc;
  }
  .segment-2 {
    fill: #fff;
  }

  .donut-text-1 {
    fill: white;
  }
  .donut-label {
    font-size: 0.28em;
    font-weight: 700;
    line-height: 1;
    fill: #000;
    transform: translateY(0.25em);
  }
  .donut-percent {
    font-size: 0.5em;
    line-height: 1;
    transform: translateY(0.5em);
    font-weight: bold;
    position: relative;
    bottom: -3px;
  }
  &.top {
    justify-content: space-around;
    margin: 40px 0 30px;
    .stat-item {
      width: 36%;
      &.small {
        width: 28%;
      }
    }
  }
  .stat-item {
    text-align: center;
    p {
      &.desc {
        font-size: 18px;
        font-weight: 400;
        opacity: 0.2;
      }
      margin: 0;
      color: #ffffff;
      font-weight: 500;
      font-size: 30px;
      letter-spacing: 1px;
      text-shadow: 0px 0px 50px rgba(255, 212, 60, 0.3);
    }
  }
  &.wins-percent {
    justify-content: center;
    margin: 10px 0;
    padding: 0;
    .text-holder {
      margin-left: 40px;
      p {
        color: white;
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        span {
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .my-menu {
    .menu-item {
      height: 45px;
      p {
        font-size: 15px;
      }
    }
  }
  .container--reward {
    width: calc(100% - 410px);
    padding-left: 30px;
  }
  .flex-cont {
    width: 95%;
    .stat-item {
      text-align: center;
      p {
        &.desc {
          font-size: 16px;
        }
      }
    }
    &.wins-percent {
      .text-holder {
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  p {
    font-size: 12px;
  }
  h1 {
    font-size: 25px;
  }
  .text-info {
    max-width: 555px;
    margin: 0 10px;
    h1 {
      font-size: 26px;
      margin: 5px 0 7px;
    }
    p {
      font-size: 13px;
    }
  }
  .container--reward {
    width: calc(100% - 380px);
    padding-left: 20px;
  }
  .page-info {
    margin: 0;
    padding-bottom: 20px;
    .back {
      min-height: 120px;
    }
    .bonus-info {
      min-height: 120px;
      width: 600px;
      h4 {
        font-size: 16px;
      }
      .divident-pool,
      .nft-pool {
        padding: 0 10px;
        img {
          width: 30px;
        }
      }
    }
  }

  .top-panels {
    .panel-item {
      .desc {
        font-size: 16px;
        margin-bottom: 10px;
      }
      .inner-box {
        height: 224px;
        .box-item {
          padding: 4px 15px;
          p {
            font-size: 16px;
          }
          .part1 {
            p {
              img {
                width: 35px;
              }
            }
          }
          .sum {
            padding-right: 3%;
          }
        }
      }
    }
  }
  .earn-panel {
    .desc {
      font-size: 16px;
      margin-bottom: 10px;
    }
    .inner-box {
      height: unset;
      padding: 17px;
      .box-item {
        .min-text {
          font-size: 16px;
          margin: 6px 0;
        }
        .main-text {
          font-size: 30px;
          margin: 20px 0 15px;
        }
      }
    }
  }

  .flex-cont {
    .svg-item {
      width: 100px;
      height: 100px;
      min-width: 100px;
    }
    .stat-item {
      p {
        &.desc {
          font-size: 14px;
        }
      }
    }
    &.wins-percent {
      .text-holder {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .my-menu {
    .menu-item {
      height: 40px;
      p {
        font-size: 14px;
      }
    }
  }
  .text-info {
    max-width: 555px;
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 12px;
    }
  }
  .container--reward {
    width: calc(100% - 340px);
    padding-left: 13px;
  }
  .page-info {
    margin-top: 20px;
  }

  .top-panels {
    .panel-item {
      .desc {
        font-size: 14px;
        margin-bottom: 7px;
      }
      .inner-box {
        height: 200px;
        .box-item {
          padding: 4px 12px;
          p {
            font-size: 14px;
          }
          .part1 {
            p {
              img {
                width: 32px;
              }
            }
          }
          .sum {
            padding-right: 2%;
          }
        }
      }
    }
  }
  .earn-panel {
    .desc {
      font-size: 14px;
      margin-bottom: 7px;
    }
    .inner-box {
      height: unset;
      padding: 15px;
      .info-desc {
        font-size: 14px;
      }
      .box-item {
        .min-text {
          font-size: 14px;
          margin: 4px 0;
        }
        .main-text {
          font-size: 26px;
          margin: 15px 0 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container--reward {
    width: 100%;
    padding: 0 20px;
  }
  .page-info {
    margin-top: 0;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 800px) {
  .text-info {
    order: 3;
    margin: 15px auto;
    text-align: center;
  }

  .earn-panel {
    width: 100%;
    margin: 15px auto;
    .inner-box {
      flex-wrap: wrap;
      height: unset;
      .box-item {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }
  .flex-cont {
    &.wins-percent {
      .text-holder {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .my-menu {
    margin: 20px 0 25px;
    width: 100%;
    .menu-item {
      height: 36px;
      p {
        font-size: 13px;
      }
    }
  }
  .page-info {
    box-sizing: border-box;
    flex-wrap: wrap;
    .text-info {
      box-sizing: border-box;
      flex-basis: 100%;
      max-width: 100%;
      order: 3;
      margin: 0;
    }
  }
  .back {
    box-sizing: border-box;
    padding: 0 10px;
    flex-basis: 23%;
    order: 1;
  }
  .bonus-info {
    flex-basis: 70%;
    order: 2;
  }

  .top-panels {
    flex-wrap: wrap;
    .panel-item {
      width: 100%;
      margin: 20px auto;
    }
  }
  .earn-panel {
    width: 100%;
    margin: 15px auto;
    .inner-box {
      flex-wrap: wrap;
      height: unset;
      .box-item {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .my-menu {
    flex-wrap: wrap;
    width: 80%;
    left: 10%;
    .menu-item {
      width: 100%;
    }
  }
  .flex-cont {
    flex-direction: column;
    .svg-item {
      margin-top: 30px;
      order: 2;
    }
    .text-holder {
      order: 1;
    }
  }
}

@media screen and (max-width: 450px) {
  .top-panels {
    .panel-item {
      margin: 12px auto;
    }
  }
  .earn-panel {
    margin: 10px auto;
  }
}

@media only screen and (max-width: 400px) {
}
