<div class="settings-content">
  <div class="boxes">
    <p class="category-title-first">USERNAME</p>
    <div class="item-box username">
      <img src="assets/base/images/icons/user.svg" alt="user icon" />
      <p class="category-title-second">{{ myDriver?.nickname }}</p>
    </div>
    <p class="category-title-first">EMAIL</p>
    <div class="item-box email">
      <img src="assets/base/images/icons/email.svg" alt="email icon" />
      <p class="category-title-second">{{ myDriver?.email }}</p>
    </div>
  </div>
  <div class="switchers">
    <div class="switch-holder">
      <p class="desc category-title-first">Newsletter</p>
      <p class="value">
        <span
          class="desc category-title-first"
          [ngClass]="{ active: newsEnabled === true }"
          >{{ "profile.off" | translate }}</span
        >
        <span class="info">
          <form method="#">
            <div class="switch">
              <input
                id="switch-3"
                type="checkbox"
                class="switch-input"
                [(ngModel)]="newsEnabled"
                [ngModelOptions]="{ standalone: true }"
                (change)="setNews($event)"
              />
              <label for="switch-3" class="switch-label">Switch</label>
            </div>
          </form>
        </span>
        <span
          class="desc category-title-first"
          [ngClass]="{ active: newsEnabled === false }"
          >{{ "profile.on" | translate }}</span
        >
      </p>
    </div>
    <div class="switch-holder">
      <p class="desc category-title-first">TWO STEP AUTHENTICATION</p>
      <p class="value">
        <span
          class="desc category-title-first"
          [ngClass]="{ active: authenabled === true }"
          >{{ "profile.off" | translate }}</span
        >
        <span class="info">
          <form method="#">
            <div class="switch">
              <input
                id="switch-4"
                type="checkbox"
                class="switch-input"
                [(ngModel)]="authenabled"
                [ngModelOptions]="{ standalone: true }"
                (change)="switchAuthenticator($event)"
              />
              <label for="switch-4" class="switch-label">Switch</label>
            </div>
          </form>
        </span>
        <span
          class="desc category-title-first"
          [ngClass]="{ active: authenabled === false }"
          >{{ "profile.on" | translate }}</span
        >
      </p>
    </div>

    <div class="switch-holder tutorial">
      <p class="desc category-title-first">
        {{ "profile.tutorial" | translate }}
      </p>
      <p class="value">
        <span
          class="desc category-title-first"
          [ngClass]="{ active: tutorialStarted === true }"
          >{{ "profile.off" | translate }}</span
        >
        <span class="info">
          <form method="#">
            <div class="switch">
              <input
                id="switch-5"
                type="checkbox"
                class="switch-input"
                [(ngModel)]="tutorialStarted"
                [ngModelOptions]="{ standalone: true }"
                (change)="switchTutorial()"
              />
              <label for="switch-5" class="switch-label">Switch</label>
            </div>
          </form>
        </span>
        <span
          class="desc category-title-first"
          [ngClass]="{ active: tutorialStarted === false }"
          >{{ "profile.on" | translate }}</span
        >
      </p>
    </div>

    <div class="switch-holder">
      <p class="desc category-title-first">Racer mode</p>
      <p class="value">
        <span
          class="desc category-title-first"
          [ngClass]="{ active: isManager === true }"
          >{{ "profile.off" | translate }}</span
        >
        <span class="info">
          <form method="#">
            <div class="switch">
              <input
                id="switch-6"
                type="checkbox"
                class="switch-input"
                [(ngModel)]="isManager"
                [ngModelOptions]="{ standalone: true }"
                (change)="changeManager()"
              />
              <label for="switch-6" class="switch-label">Switch</label>
            </div>
          </form>
        </span>
        <span
          class="desc category-title-first"
          [ngClass]="{ active: isManager === false }"
          >{{ "profile.on" | translate }}</span
        >
      </p>
    </div>
  </div>
</div>
