.panel-item{
  margin: 40px 0;
  border-radius: 10px;
  background-color: transparent;
  padding: 50px 32px 20px;
  .top-heading{
    font-size: 36px;
    font-weight: 600;
    margin-top: 7px;
    margin-bottom: 40px;
    color: white;
    text-align: center;
    width: 100%;
  }
}

.right-panel{
    width: 100%;
    position: relative;
    .settings-item{
      border-radius: 15px;
      padding: 1px;
      position: relative;
      z-index: 1;
      height: 77px;
      margin-bottom: 10px;
      .inner{
        width: 100%;
        height: 100%;
        padding: 15px 20px;
        border-radius: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        background: #111;
        .img-holder{
          width: 20px;
          text-align: center;
        }
        .text-holder{
          margin-left: 20px;
          p{
            margin: 0;
            font-size: 18px;
            color: white;
            font-weight: 400;
            &.desc{
              font-size: 14px;
              opacity: .2;
            }
          }
        }
      }
    }
    .switch-holder{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      p{
        margin: 0;
        color: white;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2;
        &.desc{
          margin: 10px 0 3px;
          font-weight: 300;
        }
        &.value{
          display: flex;
          justify-content: center;
          align-items: center;
          .desc{
            opacity: .2;
            &.active{
              opacity: 1;
            }
          }
        }
        &.crypto{
          position: relative;
          input{
            color: black;
            width: 90%;
          }
          .edit-icon{
            position: absolute;
            right: -10px;
            top: 0;
            cursor: pointer;
            width: 30px;
          }
        }
        .info{
          margin:  0 14px;
          .switch{
            position: relative;
            display: inline-block;
            .switch-input{
              display: none;
              &:checked + .switch-label::before{
                background: linear-gradient(110.49deg, rgba(235, 33, 99, 0.2) 29.92%, rgba(149, 5, 82, 0.2) 175.65%);
              }
              &:checked + .switch-label::after{
                left: 4px;
              }
            }
            .switch-label{
              display: block;
              width: 55px;
              height: 27px;
              margin: 0;
              text-indent: -150%;
              clip: rect(0 0 0 0);
              color: transparent;
              user-select: none;
              &::before,
              &::after{
                content: "";
                display: block;
                position: absolute;
                cursor: pointer;
              }
              &::before{
                width: 100%;
                height: 100%;
                content: "";
                border: 4px solid #111;
                background: linear-gradient(110.49deg, #EB2163 29.92%, #950552 175.65%);
                border-radius: 9999em;
                -webkit-transition: background-color 0.25s ease;
                transition: background-color 0.25s ease;
                box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.6), inset -6px 6px 6px rgba(0, 0, 0, 0.7);
              }
              &::after{
                content: '';
                top: 4px;
                left: 32px;
                width: 19px;
                height: 19px;
                z-index: 2;
                border-radius: 50%;
                background: white;
                -webkit-transition: left 0.25s ease;
                transition: left 0.25s ease;            
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    .resend-btn{
      position: absolute;
      bottom: 76px;
      /* right: 200px; */
      font-size: 12px;
      top: 10px;
      zoom: 80%;
      &::before{
        width: 220px;
        height: 80px;
        top: -14px;
        left: -37px;
      }
    }
  }

@media screen and (max-width: 640px){
  .panel-item{
    margin: 0;
    .top-heading{
      font-size: 24px;
    }
  }
  .right-panel{
    .settings-item{
      padding: 1px;
      height: 65px;
      .text-holder{
        margin-left: 15px;
        p{
          font-size: 15px;
          &.desc{
            font-size: 13px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px){
  .right-panel{
    .settings-item{
      .inner{
        padding: 11px 12px;
        .text-holder{
          margin-left: 11px;
          p{
            font-size: 13px;
            &.desc{
              font-size: 11px;
            }
          }
        }
      }
    }
  }
  .panel-item{
    padding: 40px 20px 20px;
  }
}

.shit-btn {
  transform: translateY(-50%);
    color: #ffffff;
    font-size: 18px;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s;
    background: linear-gradient(250.32deg, #EB2163 22.61%, #950552 85.16%), #333333;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 11px 65px;
    position: relative;
    top: 50px
}