<div class="how-to-content">
  <div class="how-to-back-div">
    <div class="how-to-back"></div>
  </div>
  <div class="video-section">
    <div class="video-content">
      <p class="category-title-first how-to-title">
        One time purchase, lifetime rewards
      </p>
      <div class="videos">
        <div class="left-video">
          <p class="category-title-first red">How to Play</p>

          <iframe
            width="100%"
            height="90%"
            src="https://www.youtube.com/embed/ZbHetDelJlI?loop=0&controls=0&showinfo=0&modestbranding=1&autohide=1"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <div class="right-video">
          <p class="category-title-first red">NFTS</p>
          <iframe
            width="100%"
            height="85%"
            src="https://www.youtube.com/embed/7KwojS-RnC8?loop=0&controls=0&showinfo=0&modestbranding=1&autohide=1"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <button (click)="scrollTop(gameplan)" class="action-btn">
        Show Gameplan
      </button>
    </div>
  </div>
  <div class="paralax-section">
    <p class="category-title-big">
      "Free to play with huge <br />
      rewards"
    </p>
  </div>
  <div class="gameplan-section" #gameplan>
    <div class="menu">
      <img
        (click)="contentMinus()"
        src="/assets/base/images/bundles/arrow-left.svg"
        alt="Arrow left"
      />
      <div class="menu-items">
        <div id="items" class="items">
          <div [ngClass]="{ unactive: content != 5 }" class="item">
            <button class="action-btn">Ranking</button>
          </div>
          <div [ngClass]="{ unactive: content != 6 }" class="item">
            <button class="action-btn">Leaderboard</button>
          </div>
          <div [ngClass]="{ unactive: content != 1 }" class="item">
            <button class="action-btn">Intro</button>
          </div>
          <div [ngClass]="{ unactive: content != 2 }" class="item">
            <button class="action-btn">NFT Cars</button>
          </div>
          <div [ngClass]="{ unactive: content != 3 }" class="item">
            <button class="action-btn">Non NFT Cars</button>
          </div>
          <div [ngClass]="{ unactive: content != 4 }" class="item">
            <button class="action-btn">Races</button>
          </div>
        </div>
      </div>
      <img
        (click)="contentPlus()"
        src="/assets/base/images/bundles/arrow-right.svg"
        alt="Arrow right"
      />
    </div>
    <div *ngIf="content === 1" class="content">
      <div class="text-holder intro">
        <p class="category-title-second">Intro</p>
        <p class="category-title-big red">GAMEPLAN</p>
        <p class="races-desc">Get NFT car and race for big rewards forever!</p>
        <br />
        <p class="races-desc">
          Trade Race Manager (TRM) is completely free to play model with
          possibility to maximize your profits with NFTs.
        </p>
        <br />
        <p class="races-desc">
          We give to our players <span class="red"> 1500 IOI Each day</span>!
          Become part of IOI Army and play TRM to enjoy unlimited rewards
        </p>
        <br />
        <p class="races-desc">
          Guaranteed prize pools up to
          <span class="red">10 IOI each 10 minutes</span> for NFT Holders and
          special NFT tournament for 100 IOI each day!
        </p>
        <br />
        <p class="races-desc">
          Races on free track take place every 2 minutes for Everybody with
          <span class="red">guaranteed prize pool of 0,28 IOI</span>
        </p>
        <br />
        <p class="races-desc">
          Free members can race with NON NFT car but receive
          <span class="red">only 0,1 IOI per WIN in TOP 3 spots</span> and do
          not receive any points for their effort - Join premium to get points!
        </p>
      </div>
      <img
        class="intro"
        src="/assets/base/images/how-to/black-trm-left.png"
        alt="NFT Avatar"
      />
    </div>
    <div *ngIf="content === 2" class="content">
      <div class="text-holder intro">
        <p class="category-title-second">Gameplan logic</p>
        <p class="category-title-big red">NFT CARS</p>
        <p class="races-desc">
          Your winning are based on the NFT car tier you own. There are several
          NFT car tiers ranging from common to legendary. In each tier there is
          special RARE NFT car that is received when you own every car from the
          tier for FREE! RARE NFT cars are adding multiplier to possible IOI win
          from every race.
        </p>
        <br />
        <p class="races-desc">
          Race takes place every 10 minutes and is completely free to play -
          Each race in 1 hour happening on a different track.
        </p>
        <br />
        <p class="races-desc">
          Races are free for NFT cars forever as well as for NON NFT cars but
          with the max win of 0,1 IOI for any of top 3 positions for NON NFT
          Car.
        </p>
        <br />
        <p class="races-desc">
          Winnings with each car in NFT races are calculated here:
        </p>
      </div>
      <div class="table-content">
        <div class="table">
          <div class="table-heading">
            <div class="table-item-small">
              <p class="category-title-third">NFT Car Tier</p>
            </div>
            <div class="table-item-medium">
              <p class="category-title-third">Win in IOI</p>
            </div>
            <div class="table-item-big">
              <p class="category-title-third">Rare NFT multiplier</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item-small">
              <p class="category-title-fourth">Common</p>
            </div>
            <div class="table-item-medium">
              <p class="category-title-fourth">0,33</p>
            </div>
            <div class="table-item-big">
              <p class="category-title-fourth red">x1,5</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item-small">
              <p class="category-title-fourth">Super</p>
            </div>
            <div class="table-item-medium">
              <p class="category-title-fourth">0,66</p>
            </div>
            <div class="table-item-big">
              <p class="category-title-fourth red">x2</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item-small">
              <p class="category-title-fourth">Epic</p>
            </div>
            <div class="table-item-medium">
              <p class="category-title-fourth">1,32</p>
            </div>
            <div class="table-item-big">
              <p class="category-title-fourth red">x2,5</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item-small">
              <p class="category-title-fourth">Legendary</p>
            </div>
            <div class="table-item-medium">
              <p class="category-title-fourth">1,98</p>
            </div>
            <div class="table-item-big">
              <p class="category-title-fourth red">x3</p>
            </div>
          </div>
        </div>
        <img
          class="nft"
          src="/assets/base/images/how-to/bugatti-left.png"
          alt="bugatti"
        />
      </div>
    </div>
    <div *ngIf="content === 3" class="content">
      <div class="text-holder intro">
        <p class="category-title-second">Gameplan logic</p>
        <p class="category-title-big red">NFT CARS</p>
        <p class="races-desc">
          Free members can race with NON NFT car but
          <span class="red">receive only 0,1 IOI per WIN in TOP 3 spots</span>
          and do not receive any points for their effort - Join premium to get
          points
        </p>
        <br />
        <p class="races-desc">
          Free track is playable every 2 minutes with win of 0,28 IOI
        </p>
        <p class="races-desc">- Both NON NFT and NFT cars can enter</p>

        <p class="races-desc">- Win is split between first 5 racers</p>
      </div>
      <div class="table-content non-nft">
        <div class="table">
          <div class="table-heading">
            <div class="table-item-small">
              <p class="category-title-third">NFT Car Tier</p>
            </div>
            <div class="table-item-medium">
              <p class="category-title-third">Win in IOI</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item-small">
              <p class="category-title-fourth">Non-NFT</p>
            </div>
            <div class="table-item-medium">
              <p class="category-title-fourth">0,1 for every position</p>
            </div>
          </div>
        </div>
        <img
          class="non-nft"
          src="/assets/base/images/how-to/blue-car-left.png"
          alt="bugatti"
        />
      </div>
    </div>
    <div *ngIf="content === 4" class="content">
      <div class="text-holder intro">
        <p class="category-title-second">Gameplan logic</p>
        <p class="category-title-big red">RACES</p>
        <p class="races-desc">
          Every 10 minutes for <span class="red">max win 10 IOI</span> - Entry:
          NFT cars + NON NFT cars
        </p>
        <br />
        <p class="races-desc">
          Every 2 minutes for <span class="red">max win 0,28 IOI</span> - Entry:
          NFT cars + NON NFT cars
        </p>
        <br />
        <p class="races-desc">
          Every day special
          <span class="red"
            >Tournament for guaranteed prize pool of 100 IOI</span
          >
          - Entry: NFT cars only
        </p>
        <br />
        <p class="races-desc">
          Tournament for NFT cars only every day for 100 IOI (7days a week) -
          top 3: 50, 30, 20
        </p>
      </div>
      <div class="table-content races">
        <div class="left-table">
          <p class="category-title-second red">NFT Cars</p>
          <div class="table">
            <div class="table-heading">
              <div class="table-item-small">
                <p class="category-title-third">Races</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-third">Depending on car</p>
              </div>
              <div class="table-item-big">
                <p class="category-title-third">Possible win in IOI</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">1st position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">100 %</p>
              </div>
              <div class="table-item-big">
                <p class="category-title-fourth red">0,33 - 5,94</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">2nd position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">50 %</p>
              </div>
              <div class="table-item-big">
                <p class="category-title-fourth red">0,165 - 2,97</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">3rd position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">20 %</p>
              </div>
              <div class="table-item-big">
                <p class="category-title-fourth red">0,066 - 1,188</p>
              </div>
            </div>
          </div>
        </div>
        <div class="right-table">
          <p class="category-title-second red">NON-NFT Cars</p>
          <div class="table non-nft">
            <div class="table-heading">
              <div class="table-item-small">
                <p class="category-title-third">NFT Car Tier</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-third">Win in IOI</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">Non-NFT</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">0,1 for every position</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="content === 5" class="content">
      <div class="text-holder intro">
        <p class="category-title-second">Seasons &</p>
        <p class="category-title-big red">Ranking</p>
        <p class="races-desc">Get premium and your place on the leaderboard!</p>
        <br />
        <p class="races-desc">
          Each month premium members are playing for
          <span class="red"> 2000 IOI</span> with their teams (TOP 3 teams) and
          1000 IOI for the overall best racers (TOP 10 racers) -
          <span class="red"> 3000 IOI Every month! </span>
        </p>
        <br />
        <p class="races-desc">
          Season takes 1 month (start is always the first day of the month) and
          resets at the last day of the month
        </p>
        <br />
        <p class="races-desc">
          You need Premium membership to get points for the season. Sooner you
          will get premium sooner you are legible for ranking system and IOI
          prize pool at the end of the season
        </p>
        <br />
        <p class="races-desc">
          With every race you win as premium member you receive points (check
          the point chart). By the end of the month first 10 racers form the
          leaderboard are legible for the
          <span class="red">prize pool of 1000</span> IOI based on their results
          throughout the season.
        </p>
      </div>
      <div class="table-content races points">
        <div class="left-table">
          <p class="category-title-second red">Points Chart</p>

          <div class="table">
            <div class="table-heading">
              <div class="table-item-small">
                <p class="category-title-third">Position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-third">Points</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">1st position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">2nd position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">18</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">3rd position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">15</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">4th position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">12</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">5th position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">10</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">6th position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">8</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">7th position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">6</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">8th position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">4</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">9th position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">2</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">10th position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">1</p>
              </div>
            </div>
          </div>
        </div>
        <img
          class="trophy"
          src="/assets/base/images/how-to/trophy-big.png"
          alt="trophy"
        />
      </div>
    </div>
    <div *ngIf="content === 6" class="content">
      <div class="text-holder intro">
        <p class="category-title-second">Gameplan logic</p>
        <p class="category-title-big red">LEADERBOARD</p>
        <p class="races-desc">
          1. Team leaderboard - Top 3 teams with the most points in the season -
          Winning <span class="red"> prize pool of 2000 IOI</span> at the end of
          the season
        </p>
        <br />
        <p class="races-desc">
          2. Racer leaderboard - Top 10 overall racers with the most points -
          Winning <span class="red">prize pool of 1000 IOI</span> at the end of
          the season
        </p>
        <br />
        <p class="races-desc">
          3. Racer of the season receive special NFT rings which is Entry for
          special end of the YEAR tournament for Ultra Rare NFT cars
        </p>
        <br />
      </div>
      <div class="table-content leaderboard">
        <div class="left-table">
          <p class="category-title-second red">NFT Cars</p>
          <div class="table">
            <div class="table-heading">
              <div class="table-item-small">
                <p class="category-title-third">Position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-third">Nr.1 Team - 1 000 IOI</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-third">Nr.2 Team - 700 IOI</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-third">Nr.3 Team - 300 IOI</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">1st position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">2nd position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">18</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">3rd position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">15</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">4th position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">12</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">5th position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">10</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">6th position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">8</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">7th position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">6</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">8th position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">4</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">9th position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">2</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-small">
                <p class="category-title-fourth">10th position</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">25</p>
              </div>
              <div class="table-item-medium">
                <p class="category-title-fourth">1</p>
              </div>
            </div>
          </div>
        </div>
        <div class="right-table">
          <p class="category-title-second red">NON-NFT Cars</p>
          <div class="table non-nft column">
            <div class="table-heading">
              <div class="table-item-big">
                <p class="category-title-third">Racer position by points</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-third">1st</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-third">2nd</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-third">3rd</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-third">4th</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-third">5th</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-third">6th</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-third">7th</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-third">8th</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-third">9th</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-third">10th</p>
              </div>
            </div>
            <div class="table-row">
              <div class="table-item-big">
                <p class="category-title-fourth">Win in IOI</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-fourth">300</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-fourth">200</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-fourth">130</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-fourth">100</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-fourth">70</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-fourth">60</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-fourth">50</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-fourth">40</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-fourth">30</p>
              </div>
              <div class="table-item-smallest">
                <p class="category-title-fourth">20</p>
              </div>
            </div>
          </div>
          <img
            class="ring"
            src="/assets/base/images/home-page/ring.png"
            alt="ring"
          />
        </div>
      </div>
    </div>
  </div>
</div>
