<div class="how-to-content">
  <div class="how-to-back-div">
    <div class="how-to-back"></div>
  </div>
  <div class="video-section">
    <div class="video-content">
      <p class="category-title-first how-to-title">
        One time purchase, lifetime rewards
      </p>
      <div class="videos">
        <div class="left-video">
          <p class="category-title-first red">How to Play</p>

          <iframe
            width="100%"
            height="90%"
            src="https://www.youtube.com/embed/ZbHetDelJlI?loop=0&controls=0&showinfo=0&modestbranding=1&autohide=1"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <div class="right-video">
          <p class="category-title-first red">NFTS</p>
          <iframe
            width="100%"
            height="90%"
            src="https://www.youtube.com/embed/7KwojS-RnC8?loop=0&controls=0&showinfo=0&modestbranding=1&autohide=1"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <button (click)="scrollTop(gameplan)" class="action-btn">
        Show Gameplan
      </button>
    </div>
  </div>
  <div class="paralax-section">
    <p class="category-title-big">
      "Free to play with huge <br />
      rewards"
    </p>
  </div>
  <div class="gameplan-section" #gameplan>
    <div class="menu">
      <div
        (click)="animation === false ? contentMinus() : null"
        class="arrow-div left"
      >
        <span></span>
        <img
          src="/assets/base/images/bundles/arrow-left.svg"
          alt="Arrow left"
        />
      </div>
      <div class="menu-items">
        <div id="items" class="items">
          <div [ngClass]="{ unactive: content != 4 }" class="item">
            <button class="action-btn">Ranking</button>
          </div>
          <div [ngClass]="{ unactive: content != 5 }" class="item">
            <button class="action-btn">Leaderboard</button>
          </div>
          <div [ngClass]="{ unactive: content != 1 }" class="item">
            <button class="action-btn">NFT Cars</button>
          </div>
          <div [ngClass]="{ unactive: content != 2 }" class="item">
            <button class="action-btn">Non NFT & Races</button>
          </div>
          <div [ngClass]="{ unactive: content != 3 }" class="item">
            <button class="action-btn">Winning system</button>
          </div>
        </div>
      </div>
      <div
        (click)="animation === false ? contentPlus() : null"
        class="arrow-div right"
      >
        <span></span>
        <img
          src="/assets/base/images/bundles/arrow-right.svg"
          alt="Arrow right"
        />
      </div>
    </div>

    <div *ngIf="content === 1" class="content">
      <div class="text-holder intro">
        <p class="category-title-second">Gameplan logic</p>
        <p class="category-title-big red gameplan-titles">NFT CARS</p>
        <p class="races-desc">
          Get NFT car and race for big rewards forever!
          <br />
          <br />
          Trade Race Manager (TRM) is completely free to play model with
          possibility to maximize your profits with NFTs. Your winning are based
          on the NFT car tier you own. There are several NFT car tiers ranging
          from common to legendary. In each tier there is special RARE NFT car
          that is received when you own every car from the tier for FREE! RARE
          NFT cars are adding multiplier to possible IOI win from every race.
          <br />
          <br />
          Race takes place every 10 minutes and is completely free to play.Each
          race in 1 hour happening on a different track.
          <br />
          <br />
          Races are free for NFT cars forever as well as for NON NFT cars but
          with the max win of 0,1 IOI for any of top 3 positions for NON NFT
          Car.
          <br />
          <br />
          Winnings with each car in NFT races are calculated here:
        </p>
      </div>
      <div class="image-holder">
        <img
          class="nft"
          src="/assets/base/images/how-to/bugatti-left.png"
          alt="bugatti"
        />
        <img
          class="nft-avatar"
          src="/assets/base/images/how-to/black-trm-left.png"
          alt="NFT Avatar"
        />
      </div>
    </div>
    <div *ngIf="content === 2" class="content">
      <div class="text-holder intro">
        <p class="category-title-second">Gameplan logic</p>
        <p class="category-title-big red gameplan-titles">NON NFT CARS</p>
        <p class="races-desc">
          Free members can race with NON NFT car but
          <span class="red">receive only 0,1 IOI per WIN in TOP 3 spots</span>
          and do not receive any points for their effort - Join premium to get
          points and be able to receive up to 10 spots.
          <br />
          <br />
          Free track is playable every 2 minutes with win of 0,28 IOI
          <br />
          - Both NON NFT and NFT cars can enter
          <br />
          - Win is split between first 5 racers
        </p>

        <p class="category-title-big red space">RACES</p>
        <p class="races-desc">
          Every 10 minutes - Entry: NFT cars + NON NFT cars
          <br />
          <br />
          Every 2 minutes - Entry: NFT cars + NON NFT cars
          <br />
          <br />
          Every day special
          <span class="red"
            >Tournament for guaranteed prize pool of 100 IOI</span
          >
          <br />
          <br />
          Entry: NFT cars only
          <br />
          <br />
          Tournament for NFT cars only every day for 100 IOI (7-days a week).
        </p>
      </div>
      <div class="image-holder">
        <img
          class="non-nft"
          src="/assets/base/images/how-to/blue-car-left.png"
          alt="bugatti"
        />
        <p class="category-title-second">Daily NFT Tournament</p>
        <div class="free-race-table nft-tournament small-space">
          <div class="table-heading">
            <div class="table-item">
              <p class="table-text text-font bold">POSITION</p>
            </div>
            <div class="table-item last">
              <p class="table-text text-font bold">REWARD</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">1st</p>
            </div>
            <div class="table-item last">
              <p class="table-text">50 &#36;IOI</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">2nd</p>
            </div>
            <div class="table-item last">
              <p class="table-text">30 &#36;IOI</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">3rd</p>
            </div>
            <div class="table-item last">
              <p class="table-text">20 &#36;IOI</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">4th</p>
            </div>
            <div class="table-item last">
              <p class="table-text">7 &#36;IOI</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">5th</p>
            </div>
            <div class="table-item last">
              <p class="table-text">6 &#36;IOI</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">6th</p>
            </div>
            <div class="table-item last">
              <p class="table-text">5 &#36;IOI</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">7th</p>
            </div>
            <div class="table-item last">
              <p class="table-text">4 &#36;IOI</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">8th</p>
            </div>
            <div class="table-item last">
              <p class="table-text">3 &#36;IOI</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">9th</p>
            </div>
            <div class="table-item last">
              <p class="table-text">2 &#36;IOI</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">10th</p>
            </div>
            <div class="table-item last">
              <p class="table-text">1 &#36;IOI</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="content === 3" class="content reward-system">
      <div class="table-title">
        <p class="table-title-text">Detailed reward system</p>
        <p class="table-title-text center">|</p>
        <p class="table-title-text red bold">Every 10-minute race</p>
      </div>
      <div class="free-race-table">
        <div class="table-heading">
          <div class="table-item table-text text-font">Position</div>
          <div class="table-item table-text text-font">NON-NFT</div>
          <div class="table-item table-text text-font">COMMON</div>
          <div class="table-item table-text text-font">COMMON RARE</div>
          <div class="table-item table-text text-font">SUPER</div>
          <div class="table-item table-text text-font">SUPER RARE</div>
          <div class="table-item table-text text-font">EPIC</div>
          <div class="table-item table-text text-font">EPIC RARE</div>
          <div class="table-item table-text text-font">LEGENDARY</div>
          <div class="table-item last table-text">LEGENDARY RARE</div>
        </div>
        <div class="table-row">
          <div class="table-item table-text">1st</div>
          <div class="table-item table-text">0,1 &#36;IOI</div>
          <div class="table-item table-text">1 &#36;IOI</div>
          <div class="table-item table-text">1,5 &#36;IOI</div>
          <div class="table-item table-text">2 &#36;IOI</div>
          <div class="table-item table-text">3 &#36;IOI</div>
          <div class="table-item table-text">4 &#36;IOI</div>
          <div class="table-item table-text">6 &#36;IOI</div>
          <div class="table-item table-text">8 &#36;IOI</div>
          <div class="table-item last table-text">12 &#36;IOI</div>
        </div>
        <div class="table-row">
          <div class="table-item table-text">2nd</div>
          <div class="table-item table-text">0,1 &#36;IOI</div>
          <div class="table-item table-text">0,5 &#36;IOI</div>
          <div class="table-item table-text">0,75 &#36;IOI</div>
          <div class="table-item table-text">1 &#36;IOI</div>
          <div class="table-item table-text">1,5 &#36;IOI</div>
          <div class="table-item table-text">2 &#36;IOI</div>
          <div class="table-item table-text">3 &#36;IOI</div>
          <div class="table-item table-text">4 &#36;IOI</div>
          <div class="table-item last table-text">6 &#36;IOI</div>
        </div>
        <div class="table-row">
          <div class="table-item table-text">3rd</div>
          <div class="table-item table-text">0,1 &#36;IOI</div>
          <div class="table-item table-text">0,3 &#36;IOI</div>
          <div class="table-item table-text">0,45 &#36;IOI</div>
          <div class="table-item table-text">0,6 &#36;IOI</div>
          <div class="table-item table-text">0,9 &#36;IOI</div>
          <div class="table-item table-text">1,2 &#36;IOI</div>
          <div class="table-item table-text">1,8 &#36;IOI</div>
          <div class="table-item table-text">2,4 &#36;IOI</div>
          <div class="table-item last table-text">3,6 &#36;IOI</div>
        </div>
        <div class="table-row">
          <div class="table-item table-text">4th (Premium)</div>
          <div class="table-item table-text">0,1 &#36;IOI</div>
          <div class="table-item table-text">0,2 &#36;IOI</div>
          <div class="table-item table-text">0,3 &#36;IOI</div>
          <div class="table-item table-text">0,4 &#36;IOI</div>
          <div class="table-item table-text">0,5 &#36;IOI</div>
          <div class="table-item table-text">0,6 &#36;IOI</div>
          <div class="table-item table-text">0,7 &#36;IOI</div>
          <div class="table-item table-text">0,8 &#36;IOI</div>
          <div class="table-item last table-text">0,9 &#36;IOI</div>
        </div>
        <div class="table-row">
          <div class="table-item table-text">5th (Premium)</div>
          <div class="table-item table-text">0,1 &#36;IOI</div>
          <div class="table-item table-text">0,2 &#36;IOI</div>
          <div class="table-item table-text">0,3 &#36;IOI</div>
          <div class="table-item table-text">0,4 &#36;IOI</div>
          <div class="table-item table-text">0,5 &#36;IOI</div>
          <div class="table-item table-text">0,6 &#36;IOI</div>
          <div class="table-item table-text">0,7 &#36;IOI</div>
          <div class="table-item table-text">0,8 &#36;IOI</div>
          <div class="table-item last table-text">0,9 &#36;IOI</div>
        </div>
        <div class="table-row">
          <div class="table-item table-text">6th (Premium)</div>
          <div class="table-item table-text">0,1 &#36;IOI</div>
          <div class="table-item table-text">0,2 &#36;IOI</div>
          <div class="table-item table-text">0,3 &#36;IOI</div>
          <div class="table-item table-text">0,4 &#36;IOI</div>
          <div class="table-item table-text">0,5 &#36;IOI</div>
          <div class="table-item table-text">0,6 &#36;IOI</div>
          <div class="table-item table-text">0,7 &#36;IOI</div>
          <div class="table-item table-text">0,8 &#36;IOI</div>
          <div class="table-item last table-text">0,9 &#36;IOI</div>
        </div>
        <div class="table-row">
          <div class="table-item table-text">7th (Premium)</div>
          <div class="table-item table-text">0,1 &#36;IOI</div>
          <div class="table-item table-text">0,2 &#36;IOI</div>
          <div class="table-item table-text">0,3 &#36;IOI</div>
          <div class="table-item table-text">0,4 &#36;IOI</div>
          <div class="table-item table-text">0,5 &#36;IOI</div>
          <div class="table-item table-text">0,6 &#36;IOI</div>
          <div class="table-item table-text">0,7 &#36;IOI</div>
          <div class="table-item table-text">0,8 &#36;IOI</div>
          <div class="table-item last table-text">0,9 &#36;IOI</div>
        </div>
        <div class="table-row">
          <div class="table-item table-text">8th (Premium)</div>
          <div class="table-item table-text">0,1 &#36;IOI</div>
          <div class="table-item table-text">0,2 &#36;IOI</div>
          <div class="table-item table-text">0,3 &#36;IOI</div>
          <div class="table-item table-text">0,4 &#36;IOI</div>
          <div class="table-item table-text">0,5 &#36;IOI</div>
          <div class="table-item table-text">0,6 &#36;IOI</div>
          <div class="table-item table-text">0,7 &#36;IOI</div>
          <div class="table-item table-text">0,8 &#36;IOI</div>
          <div class="table-item last table-text">0,9 &#36;IOI</div>
        </div>
        <div class="table-row">
          <div class="table-item table-text">9th (Premium)</div>
          <div class="table-item table-text">0,1 &#36;IOI</div>
          <div class="table-item table-text">0,2 &#36;IOI</div>
          <div class="table-item table-text">0,3 &#36;IOI</div>
          <div class="table-item table-text">0,4 &#36;IOI</div>
          <div class="table-item table-text">0,5 &#36;IOI</div>
          <div class="table-item table-text">0,6 &#36;IOI</div>
          <div class="table-item table-text">0,7 &#36;IOI</div>
          <div class="table-item table-text">0,8 &#36;IOI</div>
          <div class="table-item last table-text">0,9 &#36;IOI</div>
        </div>
        <div class="table-row">
          <div class="table-item table-text">10th (Premium)</div>
          <div class="table-item table-text">0,1 &#36;IOI</div>
          <div class="table-item table-text">0,2 &#36;IOI</div>
          <div class="table-item table-text">0,3 &#36;IOI</div>
          <div class="table-item table-text">0,4 &#36;IOI</div>
          <div class="table-item table-text">0,5 &#36;IOI</div>
          <div class="table-item table-text">0,6 &#36;IOI</div>
          <div class="table-item table-text">0,7 &#36;IOI</div>
          <div class="table-item table-text">0,8 &#36;IOI</div>
          <div class="table-item last table-text">0,9 &#36;IOI</div>
        </div>
        <div class="table-row">
          <div class="table-item table-text text-font">Activity Boost</div>
          <div class="table-item-long table-text text-font">Coming soon!</div>
        </div>
        <div class="table-row soon">
          <div class="table-item table-text">10 Daily Loggins</div>
          <div class="table-item-long">
            <span class="red table-text text-font bold">X1.5 BOOST</span>
          </div>
        </div>
        <div class="table-row soon">
          <div class="table-item table-text">20 Daily Loggins</div>
          <div class="table-item-long">
            <span class="red table-text text-font bold">X2.0 BOOST</span>
          </div>
        </div>
        <div class="table-row soon">
          <div class="table-item table-text">30 Daily Loggins</div>
          <div class="table-item-long">
            <span class="red table-text text-font bold">X3.0 BOOST</span>
            <span class="golden-text table-text text-font bold"
              >&#43; Premium Membership for 1 month for free</span
            >
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="content === 4" class="content">
      <div class="text-holder intro">
        <p class="category-title-second">Gameplan logic</p>
        <p class="category-title-big red gameplan-titles">Ranking</p>
        <p class="races-desc">
          Get <span class="red">premium</span> and your place on the
          leaderboard!
          <br />
          <br />
          Each month premium members are playing for
          <span class="red">2000 IOI</span> with their teams (TOP 3 teams) and
          1000 IOI for the overall best racers (TOP 10 racers) -
          <span class="red">3000 IOI Every month!</span>
          <br />
          <br />
          Season takes 1 month (start is always the first day of the month) and
          resets at the last day of the month
          <br />
          <br />
          You need Premium membership to get points for the season. Sooner you
          will get premium sooner you are legible for ranking system and IOI
          prize pool at the end of the season
          <br />
          <br />
          With every race you win as premium member you receive points (check
          the point chart). By the end of the month first 10 racers form the
          leaderboard are legible for the
          <span class="red">prize pool of 1000 IOI</span> based on their results
          throughout the season.
        </p>
      </div>
      <div class="image-holder ranking">
        <p class="category-title-second red">Points Chart</p>

        <div class="free-race-table ranking small-space">
          <div class="table-heading">
            <div class="table-item">
              <p class="table-text text-font bold">Position</p>
            </div>
            <div class="table-item last">
              <p class="table-text text-font bold">Points</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">1st position</p>
            </div>
            <div class="table-item last">
              <p class="table-text">25</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">2nd position</p>
            </div>
            <div class="table-item last">
              <p class="table-text">18</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">3rd position</p>
            </div>
            <div class="table-item last">
              <p class="table-text">15</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">4th position</p>
            </div>
            <div class="table-item last">
              <p class="table-text">12</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">5th position</p>
            </div>
            <div class="table-item last">
              <p class="table-text">10</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">6th position</p>
            </div>
            <div class="table-item last">
              <p class="table-text">8</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">7th position</p>
            </div>
            <div class="table-item last">
              <p class="table-text">6</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">8th position</p>
            </div>
            <div class="table-item last">
              <p class="table-text">4</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">9th position</p>
            </div>
            <div class="table-item last">
              <p class="table-text">2</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item">
              <p class="table-text">10th position</p>
            </div>
            <div class="table-item last">
              <p class="table-text">1</p>
            </div>
          </div>
        </div>

        <img
          class="trophy"
          src="/assets/base/images/how-to/trophy-big.png"
          alt="trophy"
        />
      </div>
    </div>
    <div *ngIf="content === 5" class="content">
      <div class="text-holder intro">
        <p class="category-title-second">Gameplan logic</p>
        <p class="category-title-big red gameplan-titles">LEADERBOARD</p>
        <p class="races-desc">
          1. Team leaderboard — Top 3 teams with the most points in the season -
          Winning <span class="red">prize pool of 2 000 IOI</span> at the end of
          the season.
        </p>
        <br />
        <p class="races-desc">
          2. Racer leaderboard — Top 10 overall racers with the most points -
          win a <span class="red">prize pool of 1 000 IOI</span> at the end of
          the season.
        </p>
        <br />
        <p class="races-desc">
          3. Racer of the season receives a special NFT ring which is an entry
          ticket to the special end of the YEAR tournament for
          <span class="red">Ultra Rare NFT cars.</span>
        </p>
        <p class="category-title-second space red">
          Racer leaderboard with 1 000 IOI WIN
        </p>
        <div class="free-race-table leaderboard-racer small-space">
          <img
            class="ring"
            src="/assets/base/images/home-page/ring.png"
            alt="ring"
          />
          <div class="table-heading">
            <div class="table-item first">
              <p class="table-text">Racer position by points</p>
            </div>
            <div class="table-item">
              <p class="table-text text-font bold">1st</p>
            </div>
            <div class="table-item">
              <p class="table-text text-font bold">2nd</p>
            </div>
            <div class="table-item">
              <p class="table-text text-font bold">3rd</p>
            </div>
            <div class="table-item">
              <p class="table-text text-font bold">4th</p>
            </div>
            <div class="table-item">
              <p class="table-text text-font bold">5th</p>
            </div>
            <div class="table-item">
              <p class="table-text text-font bold">6th</p>
            </div>
            <div class="table-item">
              <p class="table-text text-font bold">7th</p>
            </div>
            <div class="table-item">
              <p class="table-text text-font bold">8th</p>
            </div>
            <div class="table-item">
              <p class="table-text text-font bold">9th</p>
            </div>
            <div class="table-item last">
              <p class="table-text text-font bold">10th</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item first">
              <p class="table-text">Win in IOI</p>
            </div>
            <div class="table-item">
              <p class="table-text">300</p>
            </div>
            <div class="table-item">
              <p class="table-text">200</p>
            </div>
            <div class="table-item">
              <p class="table-text">130</p>
            </div>
            <div class="table-item">
              <p class="table-text">100</p>
            </div>
            <div class="table-item">
              <p class="table-text">70</p>
            </div>
            <div class="table-item">
              <p class="table-text">60</p>
            </div>
            <div class="table-item">
              <p class="table-text">50</p>
            </div>
            <div class="table-item">
              <p class="table-text">40</p>
            </div>
            <div class="table-item">
              <p class="table-text">30</p>
            </div>
            <div class="table-item last">
              <p class="table-text">20</p>
            </div>
          </div>
        </div>
      </div>
      <div class="image-holder leaderboard">
        <p class="category-title-second red big-table-title">
          TEAM BONUS 2 000 IOI
        </p>
        <div class="free-race-table leaderboard-team small-space">
          <div class="table-heading">
            <div class="table-item first">
              <p class="table-text text-font bold">Position</p>
            </div>
            <div class="table-item">
              <p class="table-text text-font bold">1. Team - 1 000 IOI</p>
            </div>
            <div class="table-item">
              <p class="table-text text-font bold">2. Team - 700 IOI</p>
            </div>
            <div class="table-item last">
              <p class="table-text text-font bold">3. Team - 300 IOI</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item first">
              <p class="table-text">1st position</p>
            </div>
            <div class="table-item">
              <p class="table-text">300</p>
            </div>
            <div class="table-item">
              <p class="table-text">200</p>
            </div>
            <div class="table-item last">
              <p class="table-text">100</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item first">
              <p class="table-text">2nd position</p>
            </div>
            <div class="table-item">
              <p class="table-text">200</p>
            </div>
            <div class="table-item">
              <p class="table-text">120</p>
            </div>
            <div class="table-item last">
              <p class="table-text">60</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item first">
              <p class="table-text">3rd position</p>
            </div>
            <div class="table-item">
              <p class="table-text">100</p>
            </div>
            <div class="table-item">
              <p class="table-text">85</p>
            </div>
            <div class="table-item last">
              <p class="table-text">50</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item first">
              <p class="table-text">4th position</p>
            </div>
            <div class="table-item">
              <p class="table-text">90</p>
            </div>
            <div class="table-item">
              <p class="table-text">70</p>
            </div>
            <div class="table-item last">
              <p class="table-text">30</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item first">
              <p class="table-text">5th position</p>
            </div>
            <div class="table-item">
              <p class="table-text">80</p>
            </div>
            <div class="table-item">
              <p class="table-text">60</p>
            </div>
            <div class="table-item last">
              <p class="table-text">20</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item first">
              <p class="table-text">6th position</p>
            </div>
            <div class="table-item">
              <p class="table-text">70</p>
            </div>
            <div class="table-item">
              <p class="table-text">50</p>
            </div>
            <div class="table-item last">
              <p class="table-text">10</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item first">
              <p class="table-text">7th position</p>
            </div>
            <div class="table-item">
              <p class="table-text">60</p>
            </div>
            <div class="table-item">
              <p class="table-text">40</p>
            </div>
            <div class="table-item last">
              <p class="table-text">10</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item first">
              <p class="table-text">8th position</p>
            </div>
            <div class="table-item">
              <p class="table-text">50</p>
            </div>
            <div class="table-item">
              <p class="table-text">30</p>
            </div>
            <div class="table-item last">
              <p class="table-text">10</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item first">
              <p class="table-text">9th position</p>
            </div>
            <div class="table-item">
              <p class="table-text">30</p>
            </div>
            <div class="table-item">
              <p class="table-text">25</p>
            </div>
            <div class="table-item last">
              <p class="table-text">10</p>
            </div>
          </div>
          <div class="table-row">
            <div class="table-item first">
              <p class="table-text">10th position</p>
            </div>
            <div class="table-item">
              <p class="table-text">20</p>
            </div>
            <div class="table-item">
              <p class="table-text">20</p>
            </div>
            <div class="table-item last">
              <p class="table-text">10</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
