<div class="content-holder">
  <div class="left-holder">
    <div class="curr-holder">
      <p class="common-heading">Transfer a currency</p>
      <div class="boxes-holder">
        <div
          class="box-item"
          [ngClass]="{ 'active': tokenSelected === 'ioi' }"
          (click)="selectIoi()"
        >
        <p><img src="/assets/base/images/icons/ioi-big.svg" alt=""> IOI</p>
          <img src="/assets/base/images/funds-box-back.png" alt="" class="back-img">
          <div class="active-border my-cta-btn-back"></div>
        </div>

        <div
          class="box-item"
          [ngClass]="{ 'active': tokenSelected === 'matic' }"
          (click)="selectMatic()"
        >
        <p><img src="/assets/base/images/icons/polygon-big.svg" alt=""> Polygon</p>
          <img src="/assets/base/images/funds-box-back.png" alt="" class="back-img">
          <div class="active-border my-cta-btn-back"></div>
        </div>

      </div>
    </div>

    <div class="amount-holder">
      <div class="info-box">
        <img
          src="/assets/base/images/menu/info-icon.svg"
          alt=""
          class="info-img"
        />
        <div class="inner-holder my-cta-btn-back">
          <h3>Transfer Detail</h3>
          <p class="top-desc">Our processes are completely secure and free</p>
          <div class="items-holder">
            <div class="info-item">
              <p class="value">0%</p>
              <p class="desc">No fees for the transaction</p>
            </div>
            <div class="info-item">
              <p class="value">IOI Wallet</p>
              <p class="desc">money go to your IOI Wallet account</p>
            </div>
            <div class="info-item">
              <p class="value">100%</p>
              <p class="desc">Our payments are 100% secure</p>
            </div>
          </div>
          <div class="btns-holder">
            <a target="_blank" href="https://www.ioi-wallet.com/" class="high"
              >Take me to IOI Wallet &gt;</a
            >
            <a target="_blank" href="https://www.coingecko.com/en/coins/ioi-token"
              >Check Coingecko.com &gt;</a
            >
          </div>
        </div>
      </div>
      <p class="common-heading">Amount</p>
      <div class="amount-input">
        <div class="inner">
          <input
            type="number"
            min="{{minAmount}}"
            [(ngModel)]="amount"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Enter the amount you want to transfer"
          />
          <p class="curr-desc" *ngIf="tokenSelected === 'matic'">Polygon</p>
          <p class="curr-desc" *ngIf="tokenSelected === 'ioi'">IOI</p>
        </div>
      </div>
      <div class="transfer-inputs">
        <div class="input-item left">
          <p class="common-heading">Send from</p>
          <div class="my-input bordered">
            <input
              type="text"
              [value]="'modals.transfer_modal.from_game' | translate"
              readonly
            />
          </div>
        </div>
        <div class="input-item">
          <p class="common-heading">Send to</p>
          <div class="my-input">
            <input
              type="text"
              [value]="'modals.transfer_modal.from_nitro' | translate"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-holder">
    <p class="common-heading">Your transfer summary</p>
    <div class="main-panel">
      <div class="inner">
        <div class="withdraw-info">
          <p class="text">You are transferring</p>
          <p class="value">
            <img *ngIf="tokenSelected === 'ioi'" src="/assets/base/images/icons/ioi-big.svg" alt="">
            <img *ngIf="tokenSelected === 'matic'" src="/assets/base/images/funds-box-back.png" alt="">
            <span *ngIf="amount > 0">{{ amount }}</span>
            <span *ngIf="amount < 1">0</span>
          </p>
          <p *ngIf="tokenSelected === 'matic'" class="desc">
            market value 1 Polygon = {{maticusdt}} USD
          </p>
          <p *ngIf="tokenSelected === 'ioi'" class="desc">
            market value 1 IOI = {{myBalance.ioi_usdt | number: "1.2-2":"fr"}}$
          </p>
        </div>
        <div class="summary-box">
          <div class="info-item crypto-adress">
            <div class="desc">
              <p>Transfer from | to</p>
            </div>
            <div class="text">
              <p *ngIf="nitroToGame === false">IOI Wallet | Game Wallet</p>
              <p *ngIf="nitroToGame === true">Game Wallet | IOI Wallet</p>
            </div>
          </div>
          <div class="info-item second">
            <div class="desc">
              <p>Currency you will receive</p>
            </div>
            <div class="text">
              <p *ngIf="tokenSelected === 'matic'" class="value">Polygon</p>
              <p *ngIf="tokenSelected === 'ioi'" class="value">IOI</p>
            </div>
          </div>
        </div>
        <button
          class="confirm-btn my-cta-btn-back hoverable"
          (click)="resolveTransfer()"
          [disabled]="tokenSelected.length < 1 || amount < 1"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
