


<div class="content-holder">
  <div class="left-holder">
    <div class="curr-holder">
      <p class="common-heading">Currency</p>
      <p class="desc-text">Choose a currency you want to transfer from your account</p>
      <div class="boxes-holder">
        <div class="box-item ioi" [ngClass]="{'active': tokenSelected === 'ioi'}" (click)="tokenSelected = 'ioi'">
          <div class="inner">
            <img src="/assets/base/images/tankovanie/ioi-token.png" alt="Logo of ioi token" class="curr-logo">
            <div class="text-holder">
              <ng-container *ngIf="myIoiBalance > 0">
                <p class="value">{{myIoiBalance | number:'1.0-2':'fr' }} IOI</p>
              <p class="dollars">&#36; {{(myIoiBalance * 0.4 | number:'1.0-2':'fr')}}</p>
              </ng-container>

              <ng-container *ngIf="myIoiBalance === 0">
                <p class="value">0 IOI</p>
                <p class="dollars">&#36; 0</p>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="soon-curs">
          <p class="mid-text">More currencies coming soon</p>
          <div class="box-item">
            <div class="inner">
              <img src="/assets/base/images/tankovanie/btc-token.png" alt="Logo of Bitcoin token" class="curr-logo">
              <div class="text-holder">
                <p class="value">Bitcoin</p>
                <p class="dollars">&#36; 1,235.12</p>
              </div>
            </div>
          </div>
          <div class="box-item">
            <div class="inner">
              <img src="/assets/base/images/tankovanie/eth-token.png" alt="Logo of Ethereum token" class="curr-logo">
              <div class="text-holder">
                <p class="value">Ethereum</p>
                <p class="dollars">&#36; 1,235.12</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="amount-holder">
      <p class="common-heading">Amount</p>
      <div class="amount-input my-cta-btn-back">
        <div class="inner">
          <input type="number" [(ngModel)]="amount" [ngModelOptions]="{standalone: true}" placeholder="Enter the ammount you want to transfer">
          <p class="curr-desc" *ngIf="tokenSelected === 'trx'">MATIC</p>
          <p class="curr-desc" *ngIf="tokenSelected === 'ioi'">IOI</p>
        </div>
      </div>
      <p class="common-heading">Internal transfer</p>
      <div class="transfer-inputs">
        <div class="input-item left">
          <div class="my-input bordered my-cta-btn-back">
            <input *ngIf="nitroToGame === false" type="text" [value]="'modals.transfer_modal.from_game' | translate"
              readonly>
            <input *ngIf="nitroToGame === true" type="text" [value]="'modals.transfer_modal.from_nitro' | translate"
              readonly>
          </div>
          <p class="destination-desc">Send from</p>
          <img (click)="nitroToGame = !nitroToGame" class="transfer-arrows" src="/assets/base/images/modal/transfer-arrows.svg" alt="Icon of arrows that switch origin and destination of transfer">
        </div>
        <div class="input-item">
          <div class="my-input">
            <input *ngIf="nitroToGame === true" type="text" [value]="'modals.transfer_modal.from_game' | translate"
              readonly>
            <input *ngIf="nitroToGame === false" type="text" [value]="'modals.transfer_modal.from_nitro' | translate"
              readonly>
          </div>
          <p class="destination-desc">Send to</p>
        </div>
      </div>
    </div>

  </div>
  <div class="right-holder">
    <p class="common-heading">Your transfer summary</p>
    <div class="main-panel">
      <div class="withdraw-info">
        <p class="text">You are transferring</p>
        <p class="value"><span *ngIf="amount > 0">{{amount}}</span> <span *ngIf="amount < 1">0</span>
          <span *ngIf="tokenSelected === 'trx'" class="value-desc">MATIC</span>
          <span *ngIf="tokenSelected === 'ioi'" class="value-desc">IOI</span>
        </p>
        <p *ngIf="tokenSelected === 'trx'" class="desc">market value 1 MATIC = 20 USD</p>
        <p *ngIf="tokenSelected === 'ioi'" class="desc">market value 1 IOI = 100 TRX</p>
      </div>
      <div class="summary-box">
        <div class="border-maker my-cta-btn-back"></div>
        <div class="info-item">
          <p class="desc">Transfer from | to</p>
          <p class="value" *ngIf="nitroToGame === true">IOI Wallet | Game Wallet</p>
          <p class="value" *ngIf="nitroToGame === false">Game Wallet | IOI Wallet</p>
        </div>
        <div class="info-item second">
          <p class="desc">Currency you will receive</p>
          <p *ngIf="tokenSelected === 'trx'" class="value">MATIC</p>
          <p *ngIf="tokenSelected === 'ioi'" class="value">IOI</p>
        </div>
      </div>
      <button class="confirm-btn my-cta-btn-back hoverable" (click)="resolveTransfer()" [disabled]="tokenSelected.length < 1 || amount < 1">Confirm</button>
    </div>
  </div>
</div>
