


<div class="content-holder">
  <div class="left-holder">
    <div class="curr-holder">
      <p class="common-heading">Deposit a currency</p>
      <div class="boxes-holder">

        <div class="box-item my-cta-btn-back hoverable" [ngClass]="{'inactive': tokenSelected !== 'ioi'}" (click)="tokenSelected = 'ioi'">
          <div class="inner">
            <img src="/assets/base/images/logo-blank.png" alt="Logo of ioi token" class="curr-logo">
            <div class="text-holder">
              <p class="curr-type">IOI <button class="arrow-btn my-text-color">&gt;</button></p>
              <ng-container *ngIf="myIoiBalance > 0">
                <p class="dollars">&#36; {{(myIoiBalance * 0.4 | number:'1.0-2':'fr')}}</p>
              </ng-container>
              <ng-container *ngIf="myIoiBalance === 0">
                <p class="dollars">&#36; 0</p>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="box-item my-cta-btn-back hoverable" [ngClass]="{'inactive': tokenSelected !== 'matic'}" (click)="tokenSelected = 'matic'">
          <div class="inner">
            <img src="/assets/base/images/curr-logos/MATICUSDT-logo.png" alt="Logo of matic token" class="curr-logo">
            <div class="text-holder">
              <p class="curr-type">MTC <button class="arrow-btn my-text-color">&gt;</button></p>
              <ng-container>
                <p class="dollars">&#36; 0</p>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="soon-curs">
          <div class="box-item">
            <p class="soon-text"><span>More currencies</span> coming soon</p>
          </div>
        </div>
      </div>
    </div>

    <div class="amount-holder">
      <div class="info-box">
        <img src="/assets/base/images/menu/info-icon.svg" alt="" class="info-img">
        <div class="inner-holder my-cta-btn-back">
          <h3>Deposit Detail</h3>
          <p class="top-desc">Our processes are completely secure and free</p>
          <div class="items-holder">
            <div class="info-item">
              <p class="value">0%</p>
              <p class="desc">No fees for the transaction</p>
            </div>
            <div class="info-item">
              <p class="value">&#36;0.4</p>
              <p class="desc">dollar per IOI Token</p>
            </div>
            <div class="info-item">
              <p class="value">100%</p>
              <p class="desc">Our payments are 100% secure</p>
            </div>
          </div>
          <div class="btns-holder">
            <a target="_blank" href="https://www.ioi-token.com/" class="high">Read more about token &gt;</a>
            <a target="_blank" href="https://www.coingecko.com">Check Coingecko.com &gt;</a>
          </div>
        </div>
      </div>
      <div class="selected-curr">
        <div class="desc">
          <p>Selected currency</p>
        </div>
        <div class="value">
          <p *ngIf="tokenSelected === 'matic'">MATIC</p>
          <p *ngIf="tokenSelected === 'ioi'">IOI</p>
        </div>
      </div>
      <p class="common-heading">Amount</p>
      <div class="amount-input">
        <div class="inner">
          <input type="number" min="100" [(ngModel)]="amount" [ngModelOptions]="{standalone: true}" placeholder="Enter the amount you want to transfer">
          <p class="curr-desc" *ngIf="tokenSelected === 'matic'">MATIC</p>
          <p class="curr-desc" *ngIf="tokenSelected === 'ioi'">IOI</p>
        </div>
      </div>
      <div class="transfer-inputs">
        <div class="input-item left">
          <div class="my-input bordered">
            <input type="text" [value]="'modals.transfer_modal.from_game' | translate" readonly>
          </div>
          <p class="destination-desc">Send from</p>
        </div>
        <div class="input-item">
          <div class="my-input">
            <input type="text" [value]="'modals.transfer_modal.from_nitro' | translate" readonly>
          </div>
          <p class="destination-desc">Send to</p>
        </div>
      </div>
    </div>

  </div>
  <div class="right-holder">
    <p class="common-heading">Your transfer summary</p>
    <div class="main-panel my-border-grad">
      <div class="inner">
        <div class="withdraw-info">
          <p class="text">You are transferring</p>
          <p class="value"><span *ngIf="amount > 0">{{amount}}</span> <span *ngIf="amount < 1">0</span>
            <span *ngIf="tokenSelected === 'trx'" class="value-desc">MATIC</span>
            <span *ngIf="tokenSelected === 'ioi'" class="value-desc">IOI</span>
          </p>
          <p *ngIf="tokenSelected === 'trx'" class="desc">market value 1 MATIC = 20 USD</p>
          <p *ngIf="tokenSelected === 'ioi'" class="desc">market value 1 IOI = 0.4$</p>
        </div>
        <div class="summary-box">
          <div class="info-item crypto-adress">
            <div class="desc">
              <p>Transfer from | to</p>
            </div>
            <div class="text">
              <p *ngIf="nitroToGame === true">IOI Wallet | Game Wallet</p>
              <p *ngIf="nitroToGame === false">Game Wallet | IOI Wallet</p>
            </div>
          </div>
          <div class="info-item second">
            <div class="desc">
              <p>Currency you will receive</p>
            </div>
            <div class="text">
              <p *ngIf="tokenSelected === 'matic'" class="value">MATIC</p>
              <p *ngIf="tokenSelected === 'ioi'" class="value">IOI</p>
            </div>
          </div>
        </div>
        <button class="confirm-btn my-cta-btn-back hoverable" (click)="resolveTransfer()" [disabled]="tokenSelected.length < 1 || amount < 1">Confirm</button>
      </div>
    </div>
  </div>
</div>
