



<div class="main-holder">
  <div class="langswitch"><app-lang-switcher></app-lang-switcher></div>
  <img src="/assets/base/images/logo.png" alt="Logo of traderacemanager" class="my-logo" [routerLink]="['/user/home']">
  
  <div class="form-holder">
    <h1 class="top-msg">{{'login.login' | translate}}</h1>
    <div class="register-text"><p>{{'login.register_text1' | translate}} <span [routerLink]="['/user/sign-up']">{{'login.here' | translate}}</span></p></div>
     
    <form class="panel" [formGroup]="reactiveForm">
      <div class="my-input" [ngClass]="{'filled': f.username.value !== '' && f.username.value !== undefined}">
        <input type="text" required formControlName="username"  id="cvewssd943" name="vewf43nivwe" autocomplete="false"/>
        <span class="input-placeholder">{{'login.e_mail' | translate}}</span>
      </div>
      <div class="my-input" [ngClass]="{'filled': f.password.value !== '' && f.password.value !== undefined}">
        <input [type]="show"
             formControlName="password" id="cvew943" name="vewnivwe" autocomplete="false"/>
             <span class="input-placeholder">{{'login.pass' | translate}}</span>
             <span (click)="show = 'text'" *ngIf="show === 'password'"><img src="/assets/base/images/pass-hidden.png"></span>
            <span (click)="show = 'password'" *ngIf="show === 'text'"><img src="/assets/base/images/pass-unhidden.png"></span>
   
      </div>
      <div class="my-input" *ngIf="gauthfired === true && metaSwitch === false">
        <input type="text" required [(ngModel)]="gkey" [placeholder]="'login.auth_key' | translate"
             [ngClass]="{ 'is-invalid': submitted  && gkey === '' }"
            [ngModelOptions]="{standalone: true}"/>
        
               </div>
      <div class="my-input" *ngIf="gfbfired === true && metaSwitch === false">
        <input type="text" required [(ngModel)]="gkey" [placeholder]="'login.auth_key' | translate"
             [ngClass]="{ 'is-invalid': submitted  && gkey === '' }"
            [ngModelOptions]="{standalone: true}"/>
        
               </div>
      <div class="forgot-pass"><a [routerLink]="['/user/forgot-password']">{{'login.forgot_pass' | translate}}</a></div>
   <!--   <div class="captcha-cont" *ngIf="disCap === false"><re-captcha formControlName="recaptchaReactive" class="speci-captcha"></re-captcha></div>
      <div class="captcha-cont" *ngIf="disCap === true"><re-captcha size="invisible" #invisible (resolved)="response = $event"></re-captcha></div>
   -->   
  
  </form>
      <button class="cta-button hoverable" (click)="submit()" 
      *ngIf="loading === false">{{'shared.log_in_btn' | translate}}</button>
         <button class="cta-button" *ngIf="loading === true" 
      disabled>{{'fuel_car.loading' | translate}}</button>
      <p *ngIf="msg">{{msg.message.content}}</p>
 


      <span class="or-x">{{'login.or' | translate}}</span>
   <!--   <button (click)="googleOauth()" class="google-login social-button"><img src="/assets/base/images/google.png">{{'login.google_login' | translate}}</button>
      <button (click)="facebookOauth()" class="fb-login social-button"><img src="/assets/base/images/facebook.png">{{'login.fb_login' | translate}}</button>
   -->
      <button class="fb-login social-button" (click)="metaSwitch = true"><img src="/assets/base/images/meta-logo.png">{{'login.metamask_login' | translate}}</button>
  </div>
</div>


<div class="meta-holder">
  <app-metamask-signup *ngIf="metaSwitch === true"></app-metamask-signup>
</div>