<div class="main-holder">
  <div class="login-back-div">
    <div
      [ngClass]="{wallet: walletSwitch === true || metaSwitch === true}"
      class="login-back"
    ></div>
  </div>
  <div class="back-btn" [routerLink]="'/user/welcome'">
    <img
      *ngIf="walletSwitch === false"
      src="assets/base/images/icons/icon-back-blue.svg"
      alt="blue arrow"
    />
    <img
      *ngIf="walletSwitch === true"
      src="assets/base/images/icons/icon-back-yellow.svg"
      alt="yellow arrow"
    />
    <p>Back</p>
  </div>
  <div class="login-content">
    <div
      [ngClass]="{'dissapear-top-animation': animation === 1, 'engage-top-animation': animation === 4, 'dissapear-bottom-animation': animation === 3, 'engage-bottom-animation': animation === 2}"
      *ngIf="walletSwitch === false && metaSwitch === false"
      class="center-content"
    >
      <form [formGroup]="reactiveForm">
        <div
          class="my-input"
          [ngClass]="{'filled': f.username.value !== '' && f.username.value !== undefined}"
          #username
        >
          <img
            src="/assets/base/images/user-icon.svg"
            alt=""
            class="icon trm"
          />

          <input
            type="text"
            required
            formControlName="username"
            id="cvewssd943"
            name="vewf43nivwe"
            autocomplete="false"
          />
          <span class="input-placeholder">{{'login.e_mail' | translate}}</span>
        </div>

        <div
          class="my-input"
          [ngClass]="{'filled': f.password.value !== '' && f.password.value !== undefined}"
          #password
        >
          <img src="/assets/base/images/lock-icon.svg" alt="" class="icon" />
          <input
            [type]="show"
            formControlName="password"
            id="cvew943"
            name="vewnivwe"
            autocomplete="false"
          />
          <span class="input-placeholder">{{'login.pass' | translate}}</span>
          <span
            class="eyeball"
            (click)="show = 'text'"
            [ngClass]="{'show': show === 'password'}"
            ><img src="/assets/base/images/pass-hidden.png"
          /></span>
          <span
            class="eyeball"
            (click)="show = 'password'"
            [ngClass]="{'show': show === 'text'}"
            ><img src="/assets/base/images/pass-unhidden.png"
          /></span>
        </div>

        <div
          class="my-input"
          *ngIf="gauthfired === true && metaSwitch === false"
        >
          <img src="/assets/base/images/lock-icon.svg" alt="" class="icon" />
          <input
            type="text"
            required
            [(ngModel)]="gkey"
            [placeholder]="'login.auth_key' | translate"
            [ngClass]="{ 'is-invalid': submitted  && gkey === '' }"
            [ngModelOptions]="{standalone: true}"
          />
        </div>

        <div class="my-input" *ngIf="gfbfired === true && metaSwitch === false">
          <img src="/assets/base/images/lock-icon.svg" alt="" class="icon" />
          <input
            type="text"
            required
            [(ngModel)]="gkey"
            [placeholder]="'login.auth_key' | translate"
            [ngClass]="{ 'is-invalid': submitted  && gkey === '' }"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
      </form>

      <div class="clickers-holder">
        <div class="regular-box">
          <p [routerLink]="['/user/sign-up']" class="register">Register</p>
          <p [routerLink]="['/user/forgot-password']">Forgot Password?</p>
        </div>

        <button class="cta-button" (click)="submit()" *ngIf="loading === false">
          {{'shared.log_in_btn' | translate}}
        </button>
        <button class="cta-button" *ngIf="loading === true" disabled>
          {{'fuel_car.loading' | translate}}
        </button>
      </div>

      <p class="or-text">{{'login.or' | translate}}</p>

     <!-- <button class="social-button" (click)=" switchToMetaMask()">
        <img src="/assets/base/images/meta-logo.png" />{{'login.metamask_login'
        | translate}}
      </button> -->
      <button class="social-button" (click)="switchToWallet()">
        <img src="/assets/base/images/wallet-logo.png" />

        Log in with Qorpo Wallet
      </button>
    </div>
    <div
      [ngClass]="{'engage-bottom-animation': animation === 2,'dissapear-bottom-animation': animation === 3}"
      *ngIf="walletSwitch === true && metaSwitch === false"
      class="center-content"
    >
      <form [formGroup]="reactiveForm">
        <div
          class="my-input"
          [ngClass]="{'filled': f.username.value !== '' && f.username.value !== undefined}"
          #username
        >
          <img
            src="/assets/base/images/icons/user-yellow.svg"
            alt=""
            class="icon trm"
          />

          <input
            type="text"
            required
            formControlName="username"
            id="cvewssd943"
            name="vewf43nivwe"
            autocomplete="false"
          />
          <span class="input-placeholder">{{'login.e_mail' | translate}}</span>
        </div>

        <div
          class="my-input"
          [ngClass]="{'filled': f.password.value !== '' && f.password.value !== undefined}"
          #password
        >
          <img
            src="/assets/base/images/icons/lock-yellow.svg"
            alt=""
            class="icon"
          />
          <input
            [type]="show"
            formControlName="password"
            id="cvew943"
            name="vewnivwe"
            autocomplete="false"
          />
          <span class="input-placeholder">{{'login.pass' | translate}}</span>
          <span
            class="eyeball"
            (click)="show = 'text'"
            [ngClass]="{'show': show === 'password'}"
            ><img src="/assets/base/images/icons/closed-eye-yellow.svg"
          /></span>
          <span
            class="eyeball"
            (click)="show = 'password'"
            [ngClass]="{'show': show === 'text'}"
            ><img src="/assets/base/images/icons/opened-eye-yellow.svg"
          /></span>
        </div>

        <div
          class="my-input"
          *ngIf="gauthfired === true && metaSwitch === false"
        >
          <img
            src="/assets/base/images/icons/llock-yellow.svg"
            alt="lock icon"
            class="icon"
          />
          <input
            type="text"
            required
            [(ngModel)]="gkey"
            [placeholder]="'login.auth_key' | translate"
            [ngClass]="{ 'is-invalid': submitted  && gkey === '' }"
            [ngModelOptions]="{standalone: true}"
          />
        </div>

        <div class="my-input" *ngIf="gfbfired === true && metaSwitch === false">
          <img
            src="/assets/base/images/icons/lock-yellow.svg"
            alt="lock icon"
            class="icon"
          />
          <input
            type="text"
            required
            [(ngModel)]="gkey"
            [placeholder]="'login.auth_key' | translate"
            [ngClass]="{ 'is-invalid': submitted  && gkey === '' }"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
      </form>

      <div class="clickers-holder">
        <div class="regular-box">
          <p [routerLink]="['/user/sign-up']" class="register">Register</p>
          <p [routerLink]="['/user/forgot-password']">Forgot Password?</p>
        </div>

        <button
          class="cta-button wallet"
          (click)="submit()"
          *ngIf="loading === false"
        >
          {{'shared.log_in_btn' | translate}}
        </button>
        <button class="cta-button wallet" *ngIf="loading === true" disabled>
          {{'fuel_car.loading' | translate}}
        </button>
      </div>

      <p class="or-text">{{'login.or' | translate}}</p>

      <button class="social-button wallet" (click)=" switchToMetaMask()">
        <img src="/assets/base/images/meta-logo.png" />{{'login.metamask_login'
        | translate}}
      </button>
      <button class="social-button wallet" (click)="switchToWallet()">
        Log in with E-Mail
      </button>
    </div>
    <div
      *ngIf="walletSwitch === true && metaSwitch === false"
      [ngClass]="{'engage-right-animation': animation === 2,'dissapear-right-animation': animation === 3}"
      class="wallet-info-text"
    >
      <p class="category-title-first">What is Qorpo Wallet?</p>
      <p class="desc-text">
        Qorpo Wallet is custom crypto wallet created by Qorpo s.r.o
      </p>
      <div class="wallet-images">
        <span
          (click)="openLink(' https://play.google.com/store/apps/details?id=ioi.wallet&hl=en&gl=US')"
          class="google"
          ><img
            class="google-logo"
            src="/assets/base/images/icons/google-play.png"
            alt="google-play logo"
        /></span>
        <span
          (click)="openLink('https://qorpo.finance')"
          class="wallet"
        >
          <img
            class="wallet-logo"
            src="/assets/base/images/wallet-logo.png"
            alt="IOI Wallet logo"
        /></span>
      </div>
    </div>
    <div
      [ngClass]="{'engage-top-animation': animation === 2,'dissapear-top-animation': animation === 3}"
      *ngIf="metaSwitch === true"
      class="center-content"
    >
      <app-metamask-signup (modalActive)="switchToMetaMask()">
      </app-metamask-signup>
    </div>
  </div>

  <!-- <img src="/assets/base/images/logo.png" alt="Logo of traderacemanager" class="my-logo" [routerLink]="['/user/welcome']"> -->

</div>
<app-loading-modal *ngIf="showLoadingModal === true"></app-loading-modal>
