<div class="main-holder">
  <div class="login-content">
    <div
      [ngClass]="{'dissapear-top-animation': animation === 1, 'engage-top-animation': animation === 4, 'dissapear-bottom-animation': animation === 3, 'engage-bottom-animation': animation === 2}"
      *ngIf="walletSwitch === false && metaSwitch === false"
      class="center-content"
    >

      <div class="form-logo-holder">
        <img src="/assets/base/images/trm2-logo.svg" alt="TradeRaceManager2 logo">
      </div>

      <form [formGroup]="reactiveForm">
        <div
          class="my-input"
          [ngClass]="{'filled': f.username.value !== '' && f.username.value !== undefined}"
          #username
        >
          <img
            src="/assets/base/images/user-icon.svg"
            alt=""
            class="icon trm"
          />

          <input
            type="text"
            required
            formControlName="username"
            id="cvewssd943"
            name="vewf43nivwe"
            autocomplete="false"
          />
          <span class="input-placeholder">{{'login.e_mail' | translate}}</span>
        </div>

        <div
          class="my-input"
          [ngClass]="{'filled': f.password.value !== '' && f.password.value !== undefined}"
          #password
        >
          <img src="/assets/base/images/lock-icon.svg" alt="" class="icon" />
          <input
            [type]="show"
            formControlName="password"
            id="cvew943"
            name="vewnivwe"
            autocomplete="false"
          />
          <span class="input-placeholder">{{'login.pass' | translate}}</span>
          <span
            class="eyeball"
            (click)="show = 'text'"
            [ngClass]="{'show': show === 'password'}"
            ><img src="/assets/base/images/pass-hidden.png"
          /></span>
          <span
            class="eyeball"
            (click)="show = 'password'"
            [ngClass]="{'show': show === 'text'}"
            ><img src="/assets/base/images/pass-unhidden.png"
          /></span>
        </div>

        <div
          class="my-input"
          *ngIf="gauthfired === true && metaSwitch === false"
        >
          <img src="/assets/base/images/lock-icon.svg" alt="" class="icon" />
          <input
            type="text"
            required
            [(ngModel)]="gkey"
            [placeholder]="'login.auth_key' | translate"
            [ngClass]="{ 'is-invalid': submitted  && gkey === '' }"
            [ngModelOptions]="{standalone: true}"
          />
        </div>

        <div class="my-input" *ngIf="gfbfired === true && metaSwitch === false">
          <img src="/assets/base/images/lock-icon.svg" alt="" class="icon" />
          <input
            type="text"
            required
            [(ngModel)]="gkey"
            [placeholder]="'login.auth_key' | translate"
            [ngClass]="{ 'is-invalid': submitted  && gkey === '' }"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
      </form>

      <div class="clickers-holder">
        <div class="regular-box">
          <p [routerLink]="['/user/sign-up']" class="register">Register</p>
          <p [routerLink]="['/user/forgot-password']">Forgot Password?</p>
        </div>

        <button class="cta-button" (click)="submit()" *ngIf="loading === false">
          {{'shared.log_in_btn' | translate}}
        </button>
        <button class="cta-button" *ngIf="loading === true" disabled>
          {{'fuel_car.loading' | translate}}
        </button>
      </div>

    </div>
  </div>

  <!-- <img src="/assets/base/images/logo.png" alt="Logo of traderacemanager" class="my-logo" [routerLink]="['/user/home']"> -->

</div>
<app-loading-modal *ngIf="showLoadingModal === true"></app-loading-modal>
