<div class="detail-content">
  <div class="detail-text">
    <p class="category-title-first">{{ assetInfo[0].name }}</p>
    <p class="category-title-second">About {{ assetInfo[0].name }}</p>
    <p
      class="races-desc"
      *ngIf="assetInfo[0].type === 'racer' && assetInfo[0].rank === 'low'"
    >
      {{ assetInfo[0].name }} is unique limited rare avatar in form of NFT. Each
      avatar is unparalleled way of owning IOI tokens. The main benefit is that
      you can use your NFTs in-game, buy, sell and trade on open markets as well
      as your NFT vehicles.
    </p>
    <p
      class="races-desc"
      *ngIf="assetInfo[0].type === 'racer' && assetInfo[0].rank === 'normal'"
    >
      {{ assetInfo[0].name }} is unique limited super rare avatar in form of
      NFT. Each avatar is unparalleled way of owning IOI tokens. The main
      benefit is that you can use your NFTs in-game, buy, sell and trade on open
      markets as well as your NFT vehicles.
    </p>
    <p
      class="races-desc"
      *ngIf="assetInfo[0].type === 'racer' && assetInfo[0].rank === 'height'"
    >
      {{ assetInfo[0].name }} is unique limited legendary avatar in form of NFT.
      Each avatar is unparalleled way of owning IOI tokens. The main benefit is
      that you can use your NFTs in-game, buy, sell and trade on open markets as
      well as your NFT vehicles.
    </p>
    <p
      class="races-desc"
      *ngIf="
        assetInfo[0].type === 'car' &&
        assetInfo[0].rare === undefined &&
        assetInfo[0].name != 'TESLA' &&
        assetInfo[0].collection != 'Special edition'
      "
    >
      {{ assetInfo[0].name }} is unique limited car. Each car is unparalleled
      way of owning IOI tokens, staking and APY. The main benefit is that you
      can use your NFTs in-game, buy, sell and trade on open markets. The new
      era of NFTs in your pocket.
    </p>
    <p
      class="races-desc"
      *ngIf="assetInfo[0].type === 'car' && assetInfo[0].rare === true"
    >
      {{ assetInfo[0].name }} is highly limited with unique abilities. Each car
      is unparalleled way of owning IOI tokens, staking and APY. The main
      benefit is that you can use your NFTs in-game, buy, sell and trade on open
      markets. The new era of NFTs in your pocket.
      <br />
      <br />
      - You can unlock this car by buying all cars from its collection.
    </p>
    <p
      class="races-desc"
      *ngIf="assetInfo[0].type === 'car' && assetInfo[0].name === 'TESLA'"
    >
      {{ assetInfo[0].name }}, one of a kind special limited edition NFT. With
      Tesla you are able to join TESLA COMPETITION and NFT Tournament happening
      everyday for 100 IOI. Tesla does not have APY or Staking function. Win
      rate in regular races is 0.1 IOI per race.
    </p>
    <p
      class="races-desc"
      *ngIf="
        assetInfo[0].type === 'car' &&
        assetInfo[0].collection === 'Special edition'
      "
    >
      {{ assetInfo[0].name }} is unique limited car. Each car is unparalleled
      way of owning IOI tokens. The main benefit is that you can use your NFTs
      in-game, buy, sell and trade on open markets. The new era of NFTs in your
      pocket.
      <br />
      <br />
      Special edition NFTs are minted once and never again in very limited
      quantity with attributes as Common tier NFT without staking. You can use
      your Special edition NFT in all types of races and tournaments.
    </p>
    <p
      class="races-desc"
      *ngIf="assetInfo[0].type === 'special' && assetInfo[0].name === 'Ring'"
    >
      Ring is a special price that you can win every month by being the best
      racer. It is also a ticket to biggest yearly tournament where you can win
      the trophy.
    </p>
    <p
      class="races-desc"
      *ngIf="assetInfo[0].type === 'special' && assetInfo[0].name === 'Trophy'"
    >
      Trophy is a special price that you can win every year. If you want to win
      this trophy, you need at least one ring from monthly tournaments.
    </p>
    <div class="text-buttons">
      <button
        [routerLink]="['/other/deposit-nft']"
        [queryParams]="{ nftId: assetInfo[0].id, nftType: assetInfo[0].type }"
        class="buy first category-title-fourth my-cta-btn-back"
      >
        &#43; Deposit
      </button>
      <!-- <button
        [routerLink]="['/other/withdraw-nft']"
        [queryParams]="{ nftId: assetInfo[0].id, nftType: assetInfo[0].type }"
        class="buy category-title-fourth my-cta-btn-back"
      >
        Withdraw
      </button> -->
      <button
        [routerLink]="['/other/transfer-nft']"
        [queryParams]="{ nftId: assetInfo[0].id, nftType: assetInfo[0].type }"
        class="buy category-title-fourth my-cta-btn-back"
      >
        Transfer
      </button>
    </div>
  </div>
  <div class="detail-image">
    <img
      *ngIf="assetInfo[0].type === 'car'"
      class="car-gif"
      [src]="'/assets/base/images/nft-cars/' + assetInfo[0].image + '.png'"
      [alt]="assetInfo[0]['alt']"
    />

    <img
      *ngIf="assetInfo[0].type === 'racer'"
      class="racer"
      [src]="'assets/base/images/nft-racers/' + assetInfo[0].image + '.png'"
      [alt]="assetInfo[0]['alt']"
    />
    <img
      *ngIf="assetInfo[0].type === 'track'"
      class="track"
      [src]="
        'assets/base/images/home-page/' + assetInfo[0].image + '-small.png'
      "
      [alt]="assetInfo[0]['alt']"
    />
    <img
      *ngIf="assetInfo[0].type === 'special'"
      class="special"
      [src]="'assets/base/images/home-page/' + assetInfo[0].image + '.png'"
      [alt]="assetInfo[0]['alt']"
    />
  </div>
  <div *ngIf="assetInfo[0]['type'] === 'car'" class="detail-abilities cars">
    <div class="titles">
      <p class="ability-title category-title-second">Abilities</p>
    </div>
    <div *ngIf="assetInfo[0]['type'] === 'car'" class="ability-boxes">
      <div class="ability-box cars first">
        <div class="ability-content">
          <img
            class="red-star"
            src="assets/base/images/market/value-red.svg"
            alt="buy icon"
          />
          <img
            class="blue-star"
            src="assets/base/images/market/value.svg"
            alt="buy icon"
          />
          <div class="ability-text">
            <p class="category-title-third">
              {{ assetInfo[0]["price"].toLocaleString() }} IOI
            </p>
            <p class="races-desc">IOI value</p>
          </div>
        </div>
      </div>
      <div *ngIf="assetInfo[0]['ability1']" class="ability-box cars">
        <div class="ability-content">
          <img
            class="red-star"
            src="assets/base/images/market/value-red.svg"
            alt="buy icon"
          />
          <img
            class="blue-star"
            src="assets/base/images/market/value.svg"
            alt="buy icon"
          />

          <div class="ability-text">
            <p class="category-title-third">{{ assetInfo[0]["ability1"] }}%</p>
            <p class="races-desc">Race winnings</p>
            <p class="races-desc-smaller">(Average per day)</p>
          </div>
        </div>
      </div>
      <div *ngIf="assetInfo[0]['ability2']" class="ability-box cars">
        <div class="ability-content">
          <img
            class="red-star"
            src="assets/base/images/market/value-red.svg"
            alt="buy icon"
          />
          <img
            class="blue-star"
            src="assets/base/images/market/value.svg"
            alt="buy icon"
          />

          <div class="ability-text">
            <p class="category-title-third">
              {{ assetInfo[0]["ability2"].toLocaleString() }}%
            </p>
            <p class="races-desc">MAX Race winnings</p>
            <p class="races-desc-smaller">(Per day)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="titles">
      <p class="category-title-second">Races Access</p>
    </div>
    <div class="races-access">
      <div class="races-box-small my-simple-grad my-border-color">
        <img
          class="check-icon"
          src="/assets/base/images/icons/check-icon.svg"
          alt="Check icon"
        />
        <p class="races-desc">FREE</p>
      </div>
      <div class="races-box-small my-simple-grad my-border-color">
        <img
          class="check-icon"
          src="/assets/base/images/icons/check-icon.svg"
          alt="Check icon"
        />
        <p class="races-desc">PRIZEPOOL</p>
      </div>
      <div class="races-box-small my-simple-grad my-border-color">
        <img
          class="check-icon"
          src="/assets/base/images/icons/check-icon.svg"
          alt="Check icon"
        />
        <p class="races-desc">TOURNAMENT</p>
      </div>
      <div class="races-box my-simple-grad my-border-color">
        <img
          class="check-icon"
          src="/assets/base/images/icons/check-icon.svg"
          alt="Check icon"
        />
        <p class="races-desc">SPECIAL RACES</p>
      </div>
    </div>
  </div>
  <div *ngIf="assetInfo[0].type === 'racer'" class="detail-abilities">
    <p class="ability-title category-title-second">Abilities</p>
    <div *ngIf="assetInfo[0].type === 'racer'" class="ability-boxes">
      <div
        *ngIf="assetInfo[0].collection != 'Special'"
        class="ability-box cars first"
      >
        <img
          class="red-star"
          src="assets/base/images/market/value-red.svg"
          alt="buy icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/value.svg"
          alt="buy icon"
        />
        <div class="ability-text">
          <p class="category-title-third">
            {{ assetInfo[0].price.toLocaleString() }} IOI
          </p>
          <p class="races-desc">IOI value</p>
        </div>
      </div>

      <div class="ability-box cars">
        <img
          class="red-star"
          src="assets/base/images/market/investment-red.svg"
          alt="ability icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/investment.svg"
          alt="ability icon"
        />

        <div class="ability-text">
          <p class="category-title-third">{{ assetInfo[0].ability2 }} %</p>
          <p class="races-desc">Affiliate reward</p>
        </div>
      </div>
      <div *ngIf="assetInfo[0].ability3" class="ability-box cars">
        <img
          class="red-star"
          src="assets/base/images/market/investment-red.svg"
          alt="ability icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/investment.svg"
          alt="ability icon"
        />

        <div class="ability-text">
          <p class="category-title-third">
            {{ assetInfo[0].ability3 }}
          </p>
          <p class="races-desc">APY</p>
        </div>
      </div>
    </div>
    <div
      *ngIf="assetInfo[0].type === 'track'"
      class="ability-boxes racers-more-boxes"
    >
      <div class="ability-box tracks first">
        <img
          class="red-star"
          src="assets/base/images/market/value-red.svg"
          alt="buy icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/value.svg"
          alt="buy icon"
        />
        <div class="ability-text">
          <p class="category-title-third">
            {{ assetInfo[0].price.toLocaleString() }}
          </p>
          <p class="races-desc">IOI value</p>
        </div>
      </div>
      <div class="ability-box tracks">
        <img
          class="red-star"
          src="assets/base/images/market/investment-red.svg"
          alt="ability icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/investment.svg"
          alt="ability icon"
        />

        <div class="ability-text">
          <p class="category-title-third">{{ assetInfo[0].bet }} IOI</p>
          <p class="races-desc">bet</p>
        </div>
      </div>
      <div class="ability-box tracks">
        <img
          class="red-star"
          src="assets/base/images/market/investment-red.svg"
          alt="ability icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/investment.svg"
          alt="ability icon"
        />

        <div class="ability-text">
          <p class="category-title-third">{{ assetInfo[0].ability1 }}</p>
          <p class="races-desc">race period</p>
        </div>
      </div>
      <div class="ability-box tracks">
        <img
          class="red-star"
          src="assets/base/images/market/investment-red.svg"
          alt="ability icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/investment.svg"
          alt="ability icon"
        />

        <div class="ability-text">
          <p class="category-title-third">
            {{ assetInfo[0].ability2 }}
          </p>
          <p class="races-desc">skill</p>
        </div>
      </div>
    </div>
    <div *ngIf="assetInfo[0].type === 'special'" class="ability-boxes">
      <div class="ability-box special first">
        <img
          class="red-star"
          src="assets/base/images/market/value-red.svg"
          alt="buy icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/value.svg"
          alt="buy icon"
        />
        <div class="ability-text">
          <p class="category-title-third">{{ assetInfo[0].ability2 }}</p>
          <p class="races-desc">time period</p>
        </div>
      </div>
      <div *ngIf="assetInfo[0].ability2" class="ability-box special">
        <img
          class="red-star"
          src="assets/base/images/market/investment-red.svg"
          alt="ability icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/investment.svg"
          alt="ability icon"
        />

        <div class="ability-text">
          <p class="category-title-third">{{ assetInfo[0].ability1 }} IOI</p>
          <p class="races-desc">ticket</p>
        </div>
      </div>
    </div>
  </div>
</div>
