* {
  margin: 0;
  padding: 0;
}
h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  &.name-font {
    margin-top: -15px;
    font-family: True-Lies;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 65px;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
  }
}
h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}

h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  color: #868686;
}
.detail {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
}
.detail-header {
  display: flex;
  .back-btn {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 50px;
    background: #222222;
    width: 200px;
    p {
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
    }
  }
  .back-btn:hover {
    p {
      color: white;
    }
  }
}
.detail-content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  .detail-text {
    padding: 50px 35px 40px 35px;
    height: 500px;
    background: #222222;
    border-radius: 15px;
    width: 39%;
    display: flex;
    flex-direction: column;
    .text-title {
      margin-top: 40px;
    }
    .text-info {
      margin-top: 20px;
    }
  }
  .detail-image {
    overflow: hidden;
    height: 500px;
    background: #222222;
    border-radius: 15px;
    width: 39%;
    display: flex;
    flex-direction: column;
    position: relative;
    .owned {
      position: absolute;
      top: 15px;
      right: -1px;
      padding: 1px;
      border-radius: 15px 0px 0px 15px;
      .inner-owned {
        border-radius: 15px 0px 0px 15px;
        height: 100%;
        width: 100%;
        padding: 5px;
        background: rgba(34, 34, 34, 0.6);
      }
      .owned-text {
        color: white;
        margin-right: 20px;
        margin-left: 10px;

        span {
          margin-left: 5px;
          font-size: 19px;
          font-weight: 600;
        }
      }
    }
    .rare {
      width: 140px;
      padding: 1px;
      position: absolute;
      left: 0px;
      bottom: 0px;
      border-radius: 0px 15px 0px 0px;
      -webkit-border-radius: 0px 15px 0px 0px;
      -moz-border-radius: 0px 15px 0px 0px;
      -ms-border-radius: 0px 15px 0px 0px;
      -o-border-radius: 0px 15px 0px 0px;
      .inner-rare {
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 8px;
        border-radius: 0px 15px 0px 0px;
        -webkit-border-radius: 0px 15px 0px 0px;
        -moz-border-radius: 0px 15px 0px 0px;
        -ms-border-radius: 0px 15px 0px 0px;
        -o-border-radius: 0px 15px 0px 0px;
        background: rgba(34, 34, 34, 0.6);
        img {
          width: 15px;
        }
      }
    }
    .image {
      height: 90%;
      position: relative;
      img {
        position: absolute;
        width: 480px;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        &.ring {
          width: 280px;
        }
      }
      .gif {
        top: 50%;
        opacity: 0;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
      }
    }
    .show-animation {
      animation: showanimation 6.5s linear;
      -webkit-animation: showanimation 6.5s linear;
    }
    @keyframes showanimation {
      0% {
        opacity: 0;
        z-index: -1;
      }
      5% {
        opacity: 1;
        z-index: 1;
      }
      95% {
        opacity: 1;
        z-index: 1;
      }

      100% {
        opacity: 0;
        z-index: -1;
      }
    }
    .image-button {
      position: relative;
      padding: 20px;
      text-align: right;
      z-index: 3;
      button {
        transition: 0.2s;
        position: relative;
        padding: 1px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        width: 231px;
        height: 50px;
        .btn-background {
          box-sizing: content-box;

          width: 100%;
          height: 100%;
          background: rgba(34, 34, 34, 1);
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
        }
        .inner-btn {
          top: 0px;
          left: 0px;
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          text-align: center;
          align-items: center;
          display: flex;
          border-radius: 10px;

          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          .btn-img {
            width: 20%;
            img {
              margin-left: 10px;
            }
          }
          .btn-text {
            width: 80%;
            p {
              color: white;
            }
          }
        }
      }
    }

    .button-animation {
      background: red;
      animation: btnanimation 6s linear;
      -webkit-animation: btnanimation 6s linear;
      height: 100%;
    }
    @keyframes btnanimation {
      0% {
        width: 0%;
      }

      100% {
        width: 100%;
      }
    }
  }
  .detail-abilities {
    height: 500px;
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.lessthanthree {
      justify-content: unset;
      .ability-box {
        margin-top: 10px;
      }
    }

    .inner-ability {
      position: relative;
      height: 100%;
      width: 100%;
      background: rgba(34, 34, 34, 0.6);
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      display: flex;
      display: row;
      justify-content: center;
      .ability-content {
        width: 95%;
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        width: 90%;
        .ability-image {
          position: relative;
          width: 40%;
          img {
            width: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
          }
        }
        .ability-text {
          position: relative;
          width: 60%;
        }
      }
    }
    .ability-title {
      height: 10%;
    }
    .ability-box {
      height: 28%;
      border-radius: 15px;
      padding: 1px;
    }
    .moreboxes {
      height: 20%;
    }
  }
}
.detail-button {
  display: flex;
  margin-top: 20px;
  button {
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    width: 174px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    img {
      display: inline;
      padding-right: 10px;
    }
    h4 {
      display: inline;
    }
  }
  button:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
  }
}
@media screen and (max-width: 1300px) {
  h2 {
    font-size: 33px;
    &.name-font {
      font-size: 45px;
    }
  }
  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 15px;
  }
  p {
    font-size: 15px;
    line-height: 18px;
  }
  .detail-content {
    flex-wrap: wrap;
    .detail-text {
      width: 49%;
    }
    .detail-image {
      width: 49%;
    }
    .detail-abilities {
      width: 100%;
      justify-content: unset;
      height: 160px;
      flex-wrap: wrap;
      flex-direction: row;

      .ability-title {
        width: 100%;
        margin-top: 20px;
        height: 20%;
      }
      .ability-box {
        margin-left: 1%;
        width: 24%;
        height: 80%;
      }
      .box1 {
        margin-left: 0%;
      }
    }
  }
  .detail-button {
    margin-top: 40px;
  }
}
@media screen and (max-width: 800px) {
  h2 {
    font-size: 30px;
    &.name-font {
      font-size: 40px;
    }
  }
  h3 {
    font-size: 17px;
  }

  h4 {
    font-size: 15px;
  }
  p {
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (max-width: 640px) {
  .detail-content {
    flex-direction: column;

    .detail-text {
      width: 100%;
      height: auto;
    }
    .detail-image {
      margin-top: 20px;
      width: 100%;

      .image-button {
        text-align: center;
        button:hover {
          box-shadow: none;
        }
      }
    }
    .detail-abilities {
      height: auto;
      .ability-title {
        margin-bottom: 10px;
      }
      .ability-box {
        width: 48%;
        height: 141px;
        margin-left: 0%;
        margin: 1%;
      }
    }
  }
  .detail-button {
    justify-content: center;
  }
}
@media screen and (max-width: 400px) {
  .detail-content {
    .detail-image {
      height: 420px;
    }
    .detail-abilities {
      .ability-box {
        width: 100%;
        height: 120px;
        margin: 0%;
        margin-top: 10px;
      }
    }
  }
}
