<div class="detail-content">
  <div class="detail-text">
    <p class="category-title-first">{{ displayArray[0]["name"] }}</p>
    <p class="category-title-second">About {{ displayArray[0]["name"] }}</p>
    <p
      class="races-desc"
      *ngIf="
        displayArray[0]['type'] === 'racer' && displayArray[0]['rank'] === 'low'
      "
    >
      {{ displayArray[0]["name"] }} is unique limited rare avatar in form of
      NFT. Each avatar is unparalleled way of owning IOI tokens. The main
      benefit is that you can use your NFTs in-game, buy, sell and trade on open
      markets as well as your NFT vehicles.
    </p>
    <p
      class="races-desc"
      *ngIf="
        displayArray[0]['type'] === 'racer' &&
        displayArray[0]['rank'] === 'normal'
      "
    >
      {{ displayArray[0]["name"] }} is unique limited super rare avatar in form
      of NFT. Each avatar is unparalleled way of owning IOI tokens. The main
      benefit is that you can use your NFTs in-game, buy, sell and trade on open
      markets as well as your NFT vehicles.
    </p>
    <p
      class="races-desc"
      *ngIf="
        displayArray[0]['type'] === 'racer' &&
        displayArray[0]['rank'] === 'height'
      "
    >
      {{ displayArray[0]["name"] }} is unique limited legendary avatar in form
      of NFT. Each avatar is unparalleled way of owning IOI tokens. The main
      benefit is that you can use your NFTs in-game, buy, sell and trade on open
      markets as well as your NFT vehicles.
    </p>
    <p
      class="races-desc"
      *ngIf="
        displayArray[0]['type'] === 'car' &&
        displayArray[0]['rare'] === undefined
      "
    >
      {{ displayArray[0]["name"] }} is unique limited car. Each car is
      unparalleled way of owning IOI tokens, staking and APY. The main benefit
      is that you can use your NFTs in-game, buy, sell and trade on open
      markets. The new era of NFTs in your pocket.
    </p>
    <p
      class="races-desc"
      *ngIf="
        displayArray[0]['type'] === 'car' && displayArray[0]['rare'] === true
      "
    >
      {{ displayArray[0]["name"] }} is highly limited with unique abilities.
      Each car is unparalleled way of owning IOI tokens, staking and APY. The
      main benefit is that you can use your NFTs in-game, buy, sell and trade on
      open markets. The new era of NFTs in your pocket.
    </p>
    <p class="races-desc" *ngIf="displayArray[0]['type'] === 'track'">
      Track NFTs are introducing investment model for real hardcore owners. You
      will receive percentage of each game played on your NFT property!<br /><br />
      Become a track owner - a real NFT whale investor and earn 3% from price
      pool of each game played on your track. Tracks will be sold exclusively
      through special event auctions! For more info follow our social media!
      Good luck.
    </p>
    <p
      class="races-desc"
      *ngIf="
        displayArray[0]['type'] === 'special' &&
        displayArray[0]['name'] === 'Ring'
      "
    >
      Ring is a special price that you can win every month by being the best
      racer. It is also a ticket to biggest yearly tournament where you can win
      the trophy.
    </p>
    <p
      class="races-desc"
      *ngIf="
        displayArray[0]['type'] === 'special' &&
        displayArray[0]['name'] === 'Trophy'
      "
    >
      Trophy is a special price that you can win every year. If you want to win
      this trophy, you need at least one ring from monthly tournaments.
    </p>
    <div
      *ngIf="displayArray[0]['collection'] != 'Special'"
      class="text-buttons"
    >
      <button
        [routerLink]="['/other/deposit-nft']"
        [queryParams]="
          displayArray[0]['type'] === 'car'
            ? {
                nftId: displayArray[0]['position'] + 1,
                nftType: displayArray[0]['type']
              }
            : {
                nftId: displayArray[0]['id'],
                nftType: displayArray[0]['type']
              }
        "
        class="buy category-title-fourth my-cta-btn-back"
      >
        &#43; Deposit
      </button>
      <button
        [routerLink]="['/other/withdraw-nft']"
        [queryParams]="
          displayArray[0]['type'] === 'car'
            ? {
                nftId: displayArray[0]['position'] + 1,
                nftType: displayArray[0]['type']
              }
            : {
                nftId: displayArray[0]['id'],
                nftType: displayArray[0]['type']
              }
        "
        class="buy category-title-fourth my-cta-btn-back"
      >
        Withdraw
      </button>
      <button
        [routerLink]="['/other/transfer-nft']"
        [queryParams]="
          displayArray[0]['type'] === 'car'
            ? {
                nftId: displayArray[0]['position'] + 1,
                nftType: displayArray[0]['type']
              }
            : {
                nftId: displayArray[0]['id'],
                nftType: displayArray[0]['type']
              }
        "
        class="buy category-title-fourth my-cta-btn-back"
      >
        Transfer
      </button>
    </div>
  </div>
  <div class="detail-image">
    <img
      *ngIf="displayArray[0]['type'] === 'car' && displayArray[0]['gif']"
      class="car-gif"
      [src]="'/assets/base/images/nft-cars/' + displayArray[0]['gif'] + '.gif'"
      [alt]="displayArray[0]['alt']"
    />
    <img
      *ngIf="displayArray[0]['type'] === 'car' && !displayArray[0]['gif']"
      class="car-gif"
      [src]="
        '/assets/base/images/nft-cars/' + displayArray[0]['image'] + '.png'
      "
      [alt]="displayArray[0]['alt']"
    />
    <img
      *ngIf="displayArray[0]['type'] === 'racer'"
      class="racer"
      [src]="
        'assets/base/images/nft-racers/' + displayArray[0]['image'] + '.png'
      "
      [alt]="displayArray[0]['alt']"
    />
    <img
      *ngIf="displayArray[0]['type'] === 'track'"
      class="track"
      [src]="
        'assets/base/images/home-page/' +
        displayArray[0]['image'] +
        '-small.png'
      "
      [alt]="displayArray[0]['alt']"
    />
    <img
      *ngIf="displayArray[0]['type'] === 'special'"
      class="special"
      [src]="
        'assets/base/images/home-page/' + displayArray[0]['image'] + '.png'
      "
      [alt]="displayArray[0]['alt']"
    />
  </div>
  <div class="detail-abilities">
    <p class="ability-title category-title-second">Abilities</p>
    <div *ngIf="displayArray[0]['type'] === 'car'" class="ability-boxes">
      <div
        *ngIf="displayArray[0]['collection'] != 'Special'"
        class="ability-box cars first"
      >
        <img
          class="red-star"
          src="assets/base/images/market/value-red.svg"
          alt="buy icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/value.svg"
          alt="buy icon"
        />
        <div class="ability-text">
          <p class="category-title-third">{{ displayArray[0]["price"] }} IOI</p>
          <p class="races-desc">IOI value</p>
        </div>
      </div>
      <div class="ability-box cars cars">
        <img
          class="red-star"
          src="assets/base/images/market/investment-red.svg"
          alt="ability icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/investment.svg"
          alt="ability icon"
        />

        <div class="ability-text">
          <p class="category-title-third">
            {{ displayArray[0]["ability1"] }} IOI
          </p>
          <p class="races-desc">daily stake</p>
        </div>
      </div>
      <div class="ability-box cars">
        <img
          class="red-star"
          src="assets/base/images/market/investment-red.svg"
          alt="ability icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/investment.svg"
          alt="ability icon"
        />

        <div class="ability-text">
          <p class="category-title-third">{{ displayArray[0]["ability2"] }}%</p>
          <p class="races-desc">ROI</p>
        </div>
      </div>
    </div>
    <div *ngIf="displayArray[0]['type'] === 'racer'" class="ability-boxes">
      <div
        *ngIf="displayArray[0]['collection'] != 'Special'"
        class="ability-box cars first"
      >
        <img
          class="red-star"
          src="assets/base/images/market/value-red.svg"
          alt="buy icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/value.svg"
          alt="buy icon"
        />
        <div class="ability-text">
          <p class="category-title-third">{{ displayArray[0]["price"] }} IOI</p>
          <p class="races-desc">IOI value</p>
        </div>
      </div>

      <div class="ability-box cars">
        <img
          class="red-star"
          src="assets/base/images/market/investment-red.svg"
          alt="ability icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/investment.svg"
          alt="ability icon"
        />

        <div class="ability-text">
          <p class="category-title-third">{{ displayArray[0]["ability2"] }}</p>
          <p class="races-desc">NFT</p>
        </div>
      </div>
      <div *ngIf="displayArray[0]['ability3']" class="ability-box cars">
        <img
          class="red-star"
          src="assets/base/images/market/investment-red.svg"
          alt="ability icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/investment.svg"
          alt="ability icon"
        />

        <div class="ability-text">
          <p class="category-title-third">
            {{ displayArray[0]["ability1"] }}
          </p>
          <p class="races-desc">APY</p>
        </div>
      </div>
    </div>
    <div
      *ngIf="displayArray[0]['type'] === 'track'"
      class="ability-boxes racers-more-boxes"
    >
      <div class="ability-box tracks first">
        <img
          class="red-star"
          src="assets/base/images/market/value-red.svg"
          alt="buy icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/value.svg"
          alt="buy icon"
        />
        <div class="ability-text">
          <p class="category-title-third">{{ displayArray[0]["price"] }}</p>
          <p class="races-desc">IOI value</p>
        </div>
      </div>
      <div class="ability-box tracks">
        <img
          class="red-star"
          src="assets/base/images/market/investment-red.svg"
          alt="ability icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/investment.svg"
          alt="ability icon"
        />

        <div class="ability-text">
          <p class="category-title-third">{{ displayArray[0]["bet"] }} IOI</p>
          <p class="races-desc">bet</p>
        </div>
      </div>
      <div class="ability-box tracks">
        <img
          class="red-star"
          src="assets/base/images/market/investment-red.svg"
          alt="ability icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/investment.svg"
          alt="ability icon"
        />

        <div class="ability-text">
          <p class="category-title-third">{{ displayArray[0]["ability1"] }}</p>
          <p class="races-desc">race period</p>
        </div>
      </div>
      <div class="ability-box tracks">
        <img
          class="red-star"
          src="assets/base/images/market/investment-red.svg"
          alt="ability icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/investment.svg"
          alt="ability icon"
        />

        <div class="ability-text">
          <p class="category-title-third">
            {{ displayArray[0]["ability2"] }}
          </p>
          <p class="races-desc">skill</p>
        </div>
      </div>
    </div>
    <div *ngIf="displayArray[0]['type'] === 'special'" class="ability-boxes">
      <div class="ability-box special first">
        <img
          class="red-star"
          src="assets/base/images/market/value-red.svg"
          alt="buy icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/value.svg"
          alt="buy icon"
        />
        <div class="ability-text">
          <p class="category-title-third">{{ displayArray[0]["ability2"] }}</p>
          <p class="races-desc">time period</p>
        </div>
      </div>
      <div *ngIf="displayArray[0]['ability2']" class="ability-box special">
        <img
          class="red-star"
          src="assets/base/images/market/investment-red.svg"
          alt="ability icon"
        />
        <img
          class="blue-star"
          src="assets/base/images/market/investment.svg"
          alt="ability icon"
        />

        <div class="ability-text">
          <p class="category-title-third">
            {{ displayArray[0]["ability1"] }} IOI
          </p>
          <p class="races-desc">ticket</p>
        </div>
      </div>
    </div>
  </div>
</div>
