<div class="stats-holder">
  <p class="box-heading w-padd">{{ "shared.stats" | translate }}</p>
  <div class="info-icon">
    <img src="/assets/base/images/menu/info-icon.svg" alt="" />
    <div class="info-bubble">
      <div class="img-holder">
        <img src="/assets/base/images/icons/inner-info-icon.png" alt="" />
      </div>
      <p>{{ "start-race.stats_desc" | translate }}</p>
    </div>
  </div>
  <div class="stats-cont">
    <div class="shiny-dummy my-border-grad stats-dummy">
      <div class="inner"></div>
    </div>
    <div class="stat-item">
      <div class="top-part">
        <p class="value">
          {{ myCarsvals | number: "1.2-2":"fr" }}
          <span class="desc">{{ "shared.ioi" | translate }}</span>
        </p>
        <p class="bot-desc">
          {{ "start-race.your_garage_value" | translate }}
        </p>
      </div>
      <div class="bottom-part">
        <div class="my-item">
          <p class="value" style="margin-bottom: 5px">{{ dailyReward }} IOI</p>
          <p class="desc">{{ "start-race.daily_reward" | translate }}</p>
          <div class="line"></div>
        </div>
        <div class="my-item">
          <p class="value">{{ carBonus }}%</p>
          <p class="desc">{{ "start-race.apy" | translate }}</p>
        </div>
      </div>
    </div>

    <div class="stat-item">
      <div class="top-part">
        <p class="value" *ngIf="myLdrbrd?.team_name">
          {{ "profile.team" | translate }} {{ myLdrbrd?.team_name }}
        </p>
        <p class="value" *ngIf="!myLdrbrd?.team_name">-</p>

        <p class="bot-desc">{{ "start-race.your_team" | translate }}</p>
      </div>
      <div class="bottom-part">
        <div class="my-item">
          <p class="value">{{ myDriverOld?.is_paid_membership }}</p>
          <p class="desc">{{ "start-race.membership" | translate }}</p>
          <div class="line"></div>
        </div>
        <div class="my-item">
          <p class="value">
            {{ myRewards?.team_bonus | number: "1.2-2":"fr" }}
          </p>
          <p class="desc">{{ "start-race.dividends" | translate }}</p>
        </div>
      </div>
    </div>

    <div class="stat-item">
      <div class="top-part">
        <p class="value">{{ "start-race.leaderboard" | translate }}</p>
        <p class="bot-desc" *ngIf="myDriverOld?.is_paid_membership !== 'Free'">
          {{ "start-race.leaderboard_placement" | translate }}
        </p>
        <p class="bot-desc" *ngIf="myDriverOld?.is_paid_membership === 'Free'">
          Available for premium members
        </p>
      </div>
      <div class="bottom-part">
        <div class="my-item">
          <p class="value" *ngIf="myDriverOld?.is_paid_membership !== 'Free'">
            {{ myLdrbrd?.team_position ? myLdrbrd?.team_position : "-" }}/3
          </p>
          <p class="value" *ngIf="myDriverOld?.is_paid_membership === 'Free'">
            -
          </p>
          <p class="desc">{{ "profile.t_position" | translate }}</p>
          <div class="line"></div>
        </div>
        <div class="my-item">
          <p class="value" *ngIf="myDriverOld?.is_paid_membership !== 'Free'">
            {{
              myLdrbrd?.player_position_overall ? myLdrbrd?.team_position : "-"
            }}
          </p>
          <p class="value" *ngIf="myDriverOld?.is_paid_membership === 'Free'">
            -
          </p>
          <p class="desc">{{ "leaderboard.my_position" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
