.main-holder{
  width: calc(100% - 457px);
  padding-left: 40px;
}
p{
  font-size: 16px;
}
h6{
  font-size: 20px;
}
h1{
  font-weight: 600;
  font-size: 36px;
}
.page-info{
  margin: 30px 0 0;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .back{
      cursor: pointer;
      transition: .2s;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      text-align: center;
      min-height: 132px;
      background: linear-gradient(0deg, #111111, #111111);
      box-shadow: 0px 0px 80px #000000;
      border-radius: 20px;
      p{
          line-height: 20px;
          margin-bottom: 22px;
      }
  }
  .back:hover{
      transform: scale(1.1);
  }
  .text-info{
      max-width: 812px;
      margin: 0 20px;
  }
  .bonus-info{
    width: 448px;
    background: linear-gradient(0deg, #111111, #111111);
    box-shadow: 0px 0px 80px #000000;
    border-radius: 20px;
    min-height: 132px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    p{
        color: rgba(255, 255, 255, .4);
    }
    h5{
      font-weight: 600;
    }
    .divident-pool, .nft-pool{
      padding: 0 20px;
    }
  }
}

.team-menu{
  width: 100%;
  margin: 20px 0;
  .menu-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      margin: 0;
      font-size: 18px;
      text-align: center;
      color: #FFFFFF;
      display: block;
      width: 50%;
      padding-bottom: 15px;
      cursor: pointer;
    }
  }
  .menu-line{
    width: 100%;
    background: #252525;
    border: 4px solid #111111;
    box-sizing: border-box;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    .inner-line{
      border-radius: 10px;
      width: 50%;
      height: 4px;
      position: relative;
      left: 0;
    }
  }
}

.level-container{
  width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #111111;
  box-shadow: 0px 0px 80px #000000;
  border-radius: 15px;
  text-align: center;
  padding: 45px 30px 25px 30px;
  p{
    margin: 0;
  }
  .fw-bold{
    margin: 10px 0;
  }
  .stars{
    margin-top: -15px;
  }
}
.text-gray{
  opacity: .6;
}
.progress-bar-wrapper{
  width: 100%;
  margin-top: 10px;
}
.fw-bold{
  font-weight: 600;
}
.my-bar{
  width: 100%;
  height: 10px;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #111111;
  position: relative;
  .inner-bar{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    border-radius: 5px;
  }
}
.progress-bar-info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.stars{
  position: relative;
  z-index: 20;
  margin: 0 -5px;
  img{
    margin: 0 5px;
    width: 20px;
  }
}
.levels-wrapper{
  position: relative;
  width: 90%;
  margin: auto;
  z-index: 1;
}
.levels-wrapper-heading{
  text-align: center;
  margin-top: 70px;
  margin-bottom: 140px;
}
.level{
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .level-info{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .level-text{
      max-width: 400px;
      p{
        margin-bottom: 0;
      }
    }
  }
  .text-left{
    justify-content: flex-start;
  }
  .level-video{
    position: relative;
    width: 40%;
    background: #111111;
    box-shadow: 0px 0px 80px #000000;
    border-radius: 15px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &.img1{
      background-image: url('/assets/base/images/tokens/img1.jpg');
    }
    &.img2{
      background-image: url('/assets/base/images/tokens/img2.jpg');
    }
    &.img3{
      background-image: url('/assets/base/images/tokens/img3.jpg');
    }
    &.img4{
      background-image: url('/assets/base/images/tokens/img4.jpg');
    }
    img{
      transition: .2s;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      cursor: pointer;
    }
  }
}
.middle-line{
  position: absolute;
  height: 95%;
  left: 50%;
  top: 110px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .line-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    margin-bottom: -10px;
  }
  .line{
    height: 100%;
    width: 2px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 92%, rgba(255,255,255,0) 100%);
    z-index: 2;
    border-radius: 10px;
  }
}

.level-goal{
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  .stars{
    margin-top: 10px;
    img{
      width: 50px;
    }
  }
  .goal-number{
    width: 150px;
    padding:1px;
    text-align: center;
    border-radius: 10px;
    .border-maker{
      border-radius: 10px;
      display: block;
      width: 100%;
      height: 100%;
      padding: 20px 0;
      background-color: rgba(17, 17, 17, .7);
      h6{
        margin: 0;
      }
    }
  }
}
.dark-container{
  background: #111111;
  box-shadow: 0px 0px 80px #000000;
  border-radius: 10px;
}

.level-goal{
  .locked{
    background: none;
  }
}

.divident-pool-info{
  margin-bottom: 110px;
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
}

.panel-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 46%;
  .img-holder{
    min-width: 182px;
    position: relative;
    .desc{
      position: absolute;
      font-size: 18px;
      font-weight: 600;
      color: white;
      bottom: -50px;
      left: 0;
      width: 100%;
      text-align: center;
    }
    .inner-circle{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #111111;
      box-shadow: inset -3px -3px 10px rgba(255, 255, 255, 0.03), inset 2px 3px 10px rgba(0, 0, 0, 0.6);
      p{
        margin: 0;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .text-holder{
    margin-left: 15px;
    p{
      color: white;
      font-size: 18px;
      font-weight: 400;
      margin: 0;
    }
  }
}

.divident-text{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.util-sec{
  width: 790px;
  height: 300px;
  position: relative;
  margin: 150px auto 0;
  z-index: 1;
  .token-heading{
    text-align: center;
  }
  .sec-heading{
      padding: 110px 0 0 0;
  }
  .svg-holder{
      position: absolute;
      &.svg1{
          top: 30%;
          left: 222px;
          .path-text{
              left: -40px;
              top: 4px;
              transform: translate(-81%, -50%);
          }
          svg{
              path{
                  transition: 1.6s;
              }
          }
      }
      &.svg2{
          top: 27.5%;
          right: 222px;
          .path-text{
              right: -11px;
              top: 12px;
              transform: translate(100%, -50%);
          }
          svg{
              path{
                  transition: 1.2s;
              }
          }
      }
      &.svg3{
          bottom: 31%;
          left: 245px;
          .path-text{
              left: -10px;
              bottom: 0px;
              transform: translate(-100%, 50%);
          }
          svg{
              path{
                  transition: 1.8s;
              }
          }
      }
      &.svg4{
          bottom: 28.5%;
          right: 221px;
          .path-text{
              right: -15px;
              bottom: 5px;
              transform: translate(100%, 50%);
          }
          svg{
              path{
                  transition: .8s;
              }
          }
      }
      svg{
          path{
              display: none;
              stroke-linecap: round;
              stroke-dasharray: 550;
              stroke-dashoffset: 550;
              transition: 1.5s;
              &.line1{
                  display: block;
              }
          }
      }
      &.svg2,
      &.svg4{
          svg{
              path{
                  stroke-dashoffset: -550;
              }
          }
      }
      .path-text{
          position: absolute;
          p{
              margin-bottom: 5px;
              &.heading{
                  font-weight: 600;
                  letter-spacing: 10px;
              }
          }
      }
  }
  .dummy-holder{
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
      max-width: 790px;
      width: 100%;
      height: 400px;
      .static{
          width: 30%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 1;
          transition: .3s;
          z-index: 5;
      }
  }
  #dummyToken{
      .token-img{
          opacity: 0;
      }
  }
  &.visible{
      .svg-holder{
          svg{
              path{
                  stroke-dashoffset: 0 !important;
              }
          }
      }
      #dummyToken{
          .token-img{
              opacity: .6;
              &.static{
                  opacity: 1;
              }
          }
      }
  }
}


.want-more{
  padding: 40px 0;
  margin-top: 80px;
  margin-bottom: 30px;
  width: 100%;
  background: linear-gradient(0deg, #111111, #111111), linear-gradient(270.47deg, #111111 -10.88%, rgba(17, 17, 17, 0.5) 44.41%, #111111 98.57%, #000000 98.57%);
  box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.03), 2px 3px 10px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  p{
    max-width: 575px;
    margin: 0;
  }
  h5{
    margin-bottom: 30;
  }
}








@media screen and (max-width: 1550px){
  p{
      font-size: 12px;
  }
  h1{
      font-size: 25px;
  }
  .main-holder{
    width: calc(100% - 380px);
    padding-left: 20px;
  }
  .team-menu{
    .menu-desc{
      p{
        font-size: 17px;
        padding-bottom: 10px;
      }
    }
  }
  .text-info{
    max-width: 555px;
    margin: 0 10px;
    h1{
      font-size: 26px;
      margin: 5px 0 7px;
    }
    p{
      font-size: 13px;
    }
   }
  .page-info{
    margin: 0;
    padding-bottom: 20px;
    .back{
        min-height: 120px;
    }
    .bonus-info{
        min-height: 120px;
        width: 600px;
        h4{
          font-size: 16px;
        }
        .divident-pool, .nft-pool{
          padding: 0 10px;
          img{
            width: 30px;
          }
        }
    }
  }
}

@media screen and (max-width: 1200px){
  .main-holder{
    width: calc(100% - 340px);
    padding-left: 13px;
  }
  .page-info{
    margin-top: 20px;
  }
  .team-menu{
    margin: 12px 0;
    .menu-desc{
      p{
        font-size: 15px;
      }
    }
  }
  .text-info{
      max-width: 555px;
      h1{
        font-size: 20px;
      }
      p{
        font-size: 12px;
      }
  }
}

@media screen and (max-width: 1024px){

  .main-holder{
    width: 100%;
    padding: 30px 10px 0px 10px;
}
  .page-info{
    margin-top: 0;
    padding-bottom: 10px;
  }
}

@media screen and ( max-width: 800px )
{ 
  .text-info{
      order: 3;
      margin: 15px auto;
      text-align: center;
    }
}

@media screen and (max-width: 640px){

.page-info{
  box-sizing: border-box;
  flex-wrap: wrap;
  .text-info{
      box-sizing: border-box;
      flex-basis: 100%;
      max-width: 100%;
      order: 3;
      margin: 0;
  }
}
.back{
    box-sizing: border-box;
    padding: 0 10px;
    flex-basis: 23%;
    order: 1;
}
.bonus-info{
    flex-basis: 70%;
    order: 2;
}
  .team-menu{
    .menu-desc{
      p{
        font-size: 14px;
        padding-bottom: 6px;
      }
    }
  }
}


@media screen and (max-width: 900px){
  h5{
    font-size: 16px;
  }
  h6{
    font-size: 16px;
  }
  .divident-pool-info{
    flex-direction: column;
    .panel-item{
      margin: auto;
      width: 90%;
      margin-bottom: 50px;
      .img-holder{
        order: 2;
      }
      .text-holder{
        order: 1;
      }
    }
    .divident-text{
      margin: auto;
      width: 90%;
    }
  }
  .level-goal{
    .stars{
      img{
        width: 30px;
      }   
    }
    .goal-number{
      width: 100px;
    }
  }


  .util-sec{
    width: 640px;
    .svg-holder{
        &.svg1{
            left: 180px;
        }
        &.svg2{
            right: 180px;
        }
        &.svg3{
            left: 190px;
        }
        &.svg4{
            right: 165px;
        } 
    }
  }
}

  @media screen and (max-width: 700px){

    .level{
      flex-direction: column;
      .level-video{
        width: 80%;
        margin-bottom: 50px;
        margin: auto;
        order: 2;
      }
      .level-info{
        order: 1;
        background-color:rgba($color: #111111, $alpha: .7);
        width: 80%;
        margin: 40px auto;
        .level-text{
          max-width: none;
        }
      }
    }

    .level-container{
      width: 90%;
    }


    .util-sec{
      width: 100%;
      .svg-holder{
          &.svg1{
              left: 252px;
              .path-text{
                left: -10px;
                bottom: 41px;
                transform: translate(-100%, -50%);
            }
          }
          &.svg2{
              right: 222px;
          }
          &.svg3{
              left: 245px;
              .path-text{
                  left: -10px;
                  bottom: 2px;
              }
          }
          &.svg4{
              right: 221px;
              .path-text{
                right: -11px;
                bottom: 11px;
                transform: translate(100%, 50%);
              }
          }
          svg{
              path{
                  &.line1{
                    display: none;
                  }
                  &.line2{
                      display: block;
                  }
              }
          }     
        }
    }
}


@media screen and (max-width: 630px){
  .util-sec{
    width: 100%;
    .svg-holder{
        &.svg1{
          left: 37%;
          top: 37%;
        }
        &.svg2{
          right: 33%;
          top: 33.5%;
        }
        &.svg3{
          bottom: 34%;
          left: 35%; 
        }
        &.svg4{
          right: 35%;
          bottom: 30.5%;
        }
      }
      .token-img{
        min-width: 159px;
      }
  }
  .divident-pool-info{
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px){
  .util-sec{
    width: 100%;
    .svg-holder{
        &.svg1{
          left: 31%;
        }
        &.svg2{
          right: 27%;
        }
        &.svg3{
          left: 29%; 
        }
        &.svg4{
          right: 33%;
          .path-text{
            right: 0px;
            transform: translate(107%, 50%);
          }
        }
      }
      .token-img{
        min-width: 159px;
      }
  }
  .divident-pool-info{
    margin-bottom: 50px;
  }
}


@media screen and (max-width: 500px){
  .util-sec{
    width: 100%;
    .svg-holder{
        &.svg1{
          left: 35%;
        }
        &.svg2{
          right: 30%;
        }
        &.svg3{
          left: 36%;
          bottom: 35%; 
        }
        &.svg4{
          right: 31%;
          bottom: 32.5%;
        }
      }
  }

  .panel-item{
    margin: 20px 0;
    flex-direction: column;
    .text-holder{
      order:1;
    }
    .img-holder{
      order: 2;
    }
  }
  .level-goal{
    .stars{
      img{
        width: 25px;
      }
    }
  }
}

@media only screen and (max-width: 400px){
  .team-menu{
    .menu-desc{
      p{
        font-size: 12px;
        padding-bottom: 5px;
      }
    }
  }

  .util-sec{
    width: 100%;
    .svg-holder{
        &.svg2{
            .path-text{
              right: 34px;
              top: 18px;
              transform: translate(143%, -50%);
          }
        }
        &.svg1{
          .path-text{
            left: 40px;
            bottom: 28px;
            transform: translate(-126%, -50%);
          }
        }
      }
  }
}

@media screen and (min-width: 2300px) and (min-height: 1300px){
  p{
      font-size: 19px;
  }
  h1{
      font-size: 39px;
  }
  h5{
      font-size: 24px;
  }
  
  .team-menu{
    .menu-desc{
      p{
        font-size: 20px;
        padding-bottom: 20px;
      }
    }
    .menu-line{
      border: 5px solid #111111;
      .inner-line{
        height: 5px;
      }
    }
  }

  .page-info{
    .back{
        padding: 0 30px;
        min-height: 160px;
        p{
            line-height: 20px;
            margin-bottom: 32px;
        }
    }
    .back:hover{
        transform: scale(1.1);
    }
    .text-info{
        max-width: 1200px;
        margin: 0 35px;
    }
    .top-info{
        margin-left: 35px;
    }
    .bonus-info{
        width: 500px;
        min-height: 160px;
        h4{
          font-size: 24px;
        }
        img{
          width: 65px;
          height: 65px;
        }
    }
  }
  .level-container{
    margin-top: 40px;
    width: 1000px;
    padding: 50px 30px 50px 30px;
    .level-image{
      margin-bottom: 20px;
     img{
       width: 160px;
     }
     .stars{
       img{
         width: 30px;
       }
     }
    }
  }
  .levels-wrapper{
    .level{
      .level-video{
        width: 35%;
      }
      .level-info{
        width: 35%;
      }
    }
  }
}