.main-holder {
  width: calc(100% - 457px);
  padding-left: 40px;
}
p {
  font-size: 16px;
}
h6 {
  font-size: 20px;
}
h1 {
  font-weight: 600;
  font-size: 36px;
}
.page-info {
  margin: 30px 0 0;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .back {
    background: #222222;
    cursor: pointer;
    transition: 0.2s;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    text-align: center;
    min-height: 132px;
    border-radius: 20px;
    .arrow {
      font-size: 26px;
      font-weight: 500;
    }
    p {
      line-height: 20px;
      margin-bottom: 22px;
    }
  }
  .back:hover {
    transform: scale(1.1);
  }
  .text-info {
    max-width: 812px;
    margin: 0 20px;
  }
  .bonus-info {
    width: 224px;
    background: #222222;
    border-radius: 15px;
    border-radius: 20px;
    min-height: 132px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    p {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */

      text-align: center;

      /* Šedé pismo */

      color: #868686;
    }
    h4 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 0;
      span {
        color: #30cece;
      }
    }

    .divident-pool,
    .nft-pool {
      padding: 10px;
    }
    .divident-pool2 {
      border-left: 1.5px solid #333333;
      padding-left: 10px;
    }
  }
}
//REWORK START
.my-menu {
  bottom: 20px;
  border-radius: 10px;
  background: #222222;
  width: 40%;
  display: flex;
  position: relative;
  .menu-item {
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    position: relative;
    &.inactive {
      background: transparent;
      p {
        font-weight: 400;
      }
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      text-align: center;
      margin: 0;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
.content {
  * {
    margin: 0;
  }
  width: 92.5%;
  margin-left: 7.5%;
  margin-top: 20px;

  .level {
    background: #222222;
    border-radius: 15px;
    height: 461px;
    padding: 30px;
    > div {
      margin: 20px;
    }
    .level-left {
      display: flex;
      width: 50%;
      background: #111111;
      border-radius: 10px;
      .avatar {
        width: 40%;
        position: relative;
        img {
          position: absolute;
          left: 50%;
          top: 55%;
          transform: translate(-50%, -50%);
          max-width: 420px;
        }
      }
      .text {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        .referal {
          p {
            color: #868686;
            font-weight: 500;
            font-size: 16px;
          }
        }
        .link {
          width: 90%;
          display: flex;
          p {
            font-weight: 600;
            font-size: 15px;
            word-break: break-all;
          }
          img {
            width: 25px;
            height: 30px;
            margin-left: 5px;
            cursor: pointer;
          }
        }
      }
    }
    .level-right {
      width: 50%;
      padding: 30px;
      .account-level {
        margin-top: 50px;
        p {
          font-weight: 600;
          font-size: 18px;
        }
      }
      .title {
        margin-top: 30px;
        margin-bottom: 10px;
        p {
          text-align: center;
        }
      }
      .level-number {
        margin-top: 5px;
        display: flex;
        .left {
          text-align: left;
          width: 50%;
        }
        .right {
          text-align: right;
          width: 50%;
        }
      }
      .note {
        margin-top: 10px;
      }
    }
  }
  .how-to-reach {
    margin-top: 80px;

    .space {
      margin-top: 25px;
    }
    .text {
      display: flex;
      border-radius: 15px;
      background: #222222;
      width: 60%;
      height: 100%;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      .rank-star {
        padding: 1px;

        position: relative;
        width: 25%;

        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        .inner-rank-star {
          width: 100%;
          height: 100%;
          background: rgba(34, 34, 34, 0.6);
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
        }
        .rank-star-content {
          width: 100%;
          position: absolute;
          text-align: center;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          h3 {
            font-size: 18px;
          }
          img {
            margin: 0px 2.5px 10px 2.5px;
          }
        }
      }
      .rank-text {
        padding: 10% 7.5% 0% 7.5%;
        width: 75%;
      }

      p {
        font-size: 16px;
        line-height: 24px;

        color: #868686;
      }
      h2 {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 20px;
      }
    }
    .image {
      width: 40%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
    }
    .image-first {
      background-image: url("/assets/base/images/tokens/img1.png");
    }
    .image-second {
      background-image: url("/assets/base/images/tokens/img2.png");
    }
    .image-third {
      background-image: url("/assets/base/images/tokens/img3.png");
    }
    .image-fourth {
      background-image: url("/assets/base/images/tokens/img4.png");
    }
    .first-row {
      height: 308px;
      display: flex;
      .text {
        margin-right: 12.5px;
      }
      .image {
        margin-left: 12.5px;
      }
    }
    .second-row {
      height: 308px;
      display: flex;
      flex-direction: row-reverse;
      .text {
        margin-left: 12.5px;
      }
      .image {
        margin-right: 12.5px;
      }
    }
  }
  .dividend-section {
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 40px;
    background: #222222;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    .dividend {
      display: flex;
      flex-direction: row;

      .dividend-left {
        height: 400px;
        width: 50%;
        border-right: 1px solid #333333;
        padding: 60px 40px 0px 10px;
        p {
          margin-top: 20px;
          font-size: 16px;
          line-height: 24px;

          /* Šedé pismo */

          color: #868686;
        }
      }
      .dividend-right {
        height: 400px;
        width: 50%;
        padding: 5px 30px 0px 30px;
        .circle-content {
          .donut-segment {
            stroke-linecap: round;
          }
          height: 50%;
          display: flex;
          .circle {
            width: 30%;
            .circle-image {
              width: 188px;
              height: 175px;
              position: relative;
              .circle-bigger {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 82.5%;
                height: 82.5%;
                background: #111111;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
              }
              .circle-lower {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 73.5%;
                height: 73.5%;
                background: #222222;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
              }
              .svg-item {
                height: 100%;
                width: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                .donut-red {
                  display: block;
                }
                .donut-blue {
                  display: none;
                }
                .text-holder {
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  text-align: center;
                  width: 100%;
                  p {
                    font-size: 16px;
                    font-weight: 600;
                    margin: 0;
                  }
                }
                .circle-bigger {
                  position: absolute;
                  left: 0;
                  top: 0%;
                  width: 100%;
                  height: 100%;
                  background: #111111;
                }
                .circle-lower {
                  position: absolute;
                  left: 0;
                  top: 0%;
                  width: 50%;
                  height: 50%;
                  background: #222222;
                }
              }
            }
          }
          .circle-text {
            width: 70%;
            padding: 50px 30px 0px 70px;
            p {
              font-size: 16px;
              line-height: 24px;

              color: #ffffff;
            }
          }
        }
        .want-more {
          padding: 1px;
          border-radius: 15px;
          height: 50%;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
          .inner-want-more {
            position: relative;
            width: 100%;
            height: 100%;
            background: rgba(34, 34, 34, 0.6);
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            padding: 25px 50px 0px 50px;
            text-align: center;
            h2 {
              font-weight: 600;
              font-size: 20px;
            }
            p {
              margin-top: 15px;
            }
          }
        }
      }
    }
    .token {
      height: 600px;
      padding-top: 50px;
      h2 {
        border-top: 1px solid #333333;
        padding-top: 50px;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
      }
      .token-content {
        position: relative;
        margin: 0 auto;
        width: 1000px;
        height: 100%;

        h3 {
          font-weight: 600;
          font-size: 16px;
        }
        p {
          font-size: 16px;
        }
        img {
          width: 45%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
        }
        .fix {
          position: absolute;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          p {
            margin-top: 10px;
          }
        }
        .left-up {
          left: 18%;
          top: 21%;
        }
        .left-down {
          left: 19%;
          bottom: 15%;
        }
        .right-up {
          right: -7%;
          top: 15.5%;
        }
        .right-down {
          right: 10%;
          bottom: 20%;
        }
      }
    }
  }
}
//REVORK END

.level-container {
  width: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #111111;
  box-shadow: 0px 0px 80px #000000;
  border-radius: 15px;
  text-align: center;
  padding: 45px 30px 25px 30px;
  .inner-level-img {
    width: 160px;
    height: 135px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    img {
      position: absolute;
      top: 2%;
      left: 50%;
      transform: translateX(-50%);
      width: 98%;
    }
  }
  p {
    margin: 0;
  }
  .fw-bold {
    margin: 10px 0;
  }
  .stars {
    margin-top: -15px;
  }
}
.text-gray {
  opacity: 0.6;
}
.progress-bar-wrapper {
  width: 100%;
  margin-top: 10px;
}
.fw-bold {
  font-weight: 600;
}
.my-bar {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #111111;
  position: relative;
  .inner-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    border-radius: 5px;
  }
}
.progress-bar-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.stars {
  position: relative;
  z-index: 20;
  margin: 0 -5px;
  img {
    margin: 0 5px;
    width: 20px;
  }
}
.levels-wrapper {
  position: relative;
  width: 90%;
  margin: auto;
  z-index: 1;
}
.levels-wrapper-heading {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 140px;
}
.level {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .level-info {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .level-text {
      max-width: 400px;
      p {
        margin-bottom: 0;
      }
    }
  }
  .text-left {
    justify-content: flex-start;
  }
  .level-video {
    position: relative;
    width: 40%;
    background: #111111;
    box-shadow: 0px 0px 80px #000000;
    border-radius: 15px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &.img1 {
      background-image: url("/assets/base/images/tokens/img1.jpg");
    }
    &.img2 {
      background-image: url("/assets/base/images/tokens/img2.jpg");
    }
    &.img3 {
      background-image: url("/assets/base/images/tokens/img3.jpg");
    }
    &.img4 {
      background-image: url("/assets/base/images/tokens/img4.jpg");
    }
    img {
      transition: 0.2s;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }
}
.middle-line {
  position: absolute;
  height: 95%;
  left: 50%;
  top: 110px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .line-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    margin-bottom: -10px;
  }
  .line {
    height: 100%;
    width: 2px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 92%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: 2;
    border-radius: 10px;
  }
}

.level-goal {
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  .stars {
    margin-top: 10px;
    img {
      width: 50px;
    }
  }
  .goal-number {
    width: 150px;
    padding: 1px;
    text-align: center;
    border-radius: 10px;
    .border-maker {
      border-radius: 10px;
      display: block;
      width: 100%;
      height: 100%;
      padding: 20px 0;
      background-color: rgba(17, 17, 17, 0.7);
      h6 {
        margin: 0;
      }
    }
  }
}
.dark-container {
  background: #111111;
  box-shadow: 0px 0px 80px #000000;
  border-radius: 10px;
}

.level-goal {
  .locked {
    background: none;
  }
}

.divident-pool-info {
  margin-bottom: 110px;
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
}

.panel-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 46%;
  .img-holder {
    min-width: 182px;
    position: relative;
    .desc {
      position: absolute;
      font-size: 18px;
      font-weight: 600;
      color: white;
      bottom: -50px;
      left: 0;
      width: 100%;
      text-align: center;
    }
    .inner-circle {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #111111;
      box-shadow: inset -3px -3px 10px rgba(255, 255, 255, 0.03),
        inset 2px 3px 10px rgba(0, 0, 0, 0.6);
      p {
        margin: 0;
        color: white;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .text-holder {
    margin-left: 15px;
    p {
      color: white;
      font-size: 18px;
      font-weight: 400;
      margin: 0;
    }
  }
}

.divident-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1700px) {
  .my-menu {
    .menu-item {
      height: 45px;
      p {
        font-size: 15px;
      }
    }
  }
  .content {
    .dividend-section {
      .token {
        .token-content {
          width: 800px;
          .fix {
            p {
              margin-top: 8px;
            }
          }
          .left-up {
            left: 16.5%;
            top: 26%;
          }
          .left-down {
            left: 17%;
            bottom: 21%;
          }
          .right-up {
            right: -16%;
            top: 22%;
          }
          .right-down {
            right: 7%;
            bottom: 24%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .content {
    .level {
      background: #222222;
      border-radius: 15px;
      height: 400px;
      padding: 15px;
      > div {
        margin: 10px;
      }
      .level-left {
        .avatar {
          img {
            max-width: 350px;
          }
        }
      }
    }
    .dividend-section {
      padding: 15px;
      .dividend {
        .dividend-right {
          padding: 0px 10px 0px 10px;
          .circle-content {
            .circle-text {
              width: 70%;
              padding: 30px 10px 0px 100px;
            }
          }
        }
      }
      .token {
        height: 550px;
        padding-bottom: 20px;
        h2 {
          padding-top: 80px;
        }
        .token-content {
          width: 600px;
          padding-bottom: 20px;
          .fix {
            p {
              margin-top: 3px;
            }
          }
          .left-up {
            left: 14%;
            top: 31%;
          }
          .left-down {
            left: 14%;
            bottom: 24%;
          }
          .right-up {
            right: -30%;
            top: 28%;
          }
          .right-down {
            right: 0%;
            bottom: 27%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1150px) {
  .content {
    .level {
      background: #222222;
      border-radius: 15px;
      height: 400px;
      padding: 15px;
      > div {
        margin: 10px;
      }
      .level-left {
        .avatar {
          img {
            max-width: 350px;
          }
        }
      }
    }
    .how-to-reach {
      .first-row {
        height: 350px;
      }

      .second-row {
        height: 350px;
      }
    }
    .dividend-section {
      .dividend {
        .dividend-right {
          padding: 0px 10px 0px 10px;
          .circle-content {
            .circle-text {
              padding: 10px 0px 0px 100px;
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
      .token {
        height: 500px;
        padding-bottom: 20px;
        h2 {
          font-size: 15px;
          padding-top: 50px;
        }
        .token-content {
          h3 {
            font-weight: 550;
            font-size: 14px;
          }
          p {
            font-size: 13px;
          }
          width: 500px;
          padding-bottom: 60px;
          .fix {
            p {
              margin-top: 0px;
            }
          }
          .left-up {
            left: 12%;
            top: 31.5%;
          }
          .left-down {
            left: 14%;
            bottom: 27%;
          }
          .right-up {
            right: -32%;
            top: 29%;
          }
          .right-down {
            right: 0%;
            bottom: 28%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1550px) {
  .my-menu {
    margin: 30px 0 20px;
  }

  p {
    font-size: 12px;
  }
  h1 {
    font-size: 25px;
  }
  .main-holder {
    width: calc(100% - 380px);
    padding-left: 20px;
  }
  .text-info {
    max-width: 555px;
    margin: 0 10px;
    h1 {
      font-size: 26px;
      margin: 5px 0 7px;
    }
    p {
      font-size: 13px;
    }
  }
  .page-info {
    margin: 0;
    padding-bottom: 20px;
    .back {
      min-height: 120px;
    }
    .bonus-info {
      min-height: 120px;
      width: 300px;
      h4 {
        font-size: 16px;
      }
      .divident-pool,
      .nft-pool {
        padding: 0 10px;
        img {
          width: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .my-menu {
    .menu-item {
      height: 40px;
      p {
        font-size: 14px;
      }
    }
  }
  .main-holder {
    width: calc(100% - 340px);
    padding-left: 13px;
  }
  .page-info {
    margin-top: 20px;
  }
  .text-info {
    max-width: 555px;
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-holder {
    width: 100%;
    padding: 30px 10px 0px 10px;
  }
  .page-info {
    margin-top: 0;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 800px) {
  .text-info {
    order: 3;
    margin: 15px auto;
    text-align: center;
  }
  .content {
    width: 90%;
    margin-left: 5%;

    .level {
      display: flex;
      flex-direction: column;
      background: #222222;
      border-radius: 15px;
      height: auto;
      padding: 30px;
      > div {
        margin: 0px;
      }
      .level-left {
        height: 450px;
        display: flex;
        width: 100%;
        background: #111111;
        border-radius: 10px;
        .avatar {
          width: 40%;
          position: relative;
          img {
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translate(-50%, -50%);
            max-width: 420px;
          }
        }
        .text {
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          .referal {
            p {
              color: #868686;
              font-weight: 500;
              font-size: 16px;
            }
          }
          .link {
            width: 90%;
            display: flex;
            p {
              font-weight: 600;
              font-size: 15px;
              word-break: break-all;
            }
            img {
              width: 25px;
              height: 30px;
              margin-left: 5px;
              cursor: pointer;
            }
          }
        }
      }
      .level-right {
        width: 100%;
        padding: 30px;
        .account-level {
          margin-top: 0px;
          p {
            font-weight: 600;
            font-size: 18px;
          }
        }
      }
    }
    .how-to-reach {
      margin-top: 80px;
      .space {
        margin-top: 25px;
      }
      .text {
        display: flex;
        border-radius: 15px;
        background: #222222;
        width: 100%;
        height: 50%;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        .rank-star {
          padding: 1px;

          position: relative;
          width: 25%;

          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
          border-radius: 15px;
          .inner-rank-star {
            width: 100%;
            height: 100%;
            background: rgba(34, 34, 34, 0.6);
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
          }
          .rank-star-content {
            width: 100%;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            h3 {
              font-size: 18px;
            }
            img {
              margin: 0px 2.5px 10px 2.5px;
            }
          }
        }
        .rank-text {
          padding: 10% 7.5% 0% 7.5%;
          width: 75%;
        }

        p {
          font-size: 16px;
          line-height: 24px;

          color: #868686;
        }
        h2 {
          margin-bottom: 20px;
          font-weight: 600;
          font-size: 20px;
        }
      }
      .image {
        width: 100%;
        height: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
      }
      .image-first {
        background-image: url("/assets/base/images/tokens/img1.png");
      }
      .image-second {
        background-image: url("/assets/base/images/tokens/img2.png");
      }
      .image-third {
        background-image: url("/assets/base/images/tokens/img3.png");
      }
      .image-fourth {
        background-image: url("/assets/base/images/tokens/img4.png");
      }
      .first-row {
        height: 600px;
        display: flex;
        flex-direction: column;
        .text {
          margin-right: 0px;
        }
        .image {
          margin-left: 0px;
          margin-top: 10px;
        }
      }
      .second-row {
        height: 600px;
        display: flex;
        flex-direction: column;
        .text {
          margin-left: 0px;
        }
        .image {
          margin-right: 0px;
          margin-top: 10px;
        }
      }
    }
    .dividend-section {
      .dividend {
        .dividend-right {
          padding: 10px 10px 0px 10px;
          .circle-content {
            .circle-text {
              padding: 10px 0px 0px 100px;
              p {
                font-size: 12px;
              }
            }
          }
          .want-more {
            .inner-want-more {
              padding: 15px;
            }
          }
        }
      }
      .token {
        height: 500px;
        padding-bottom: 20px;
        h2 {
          font-size: 15px;
          padding-top: 50px;
        }
        .token-content {
          h3 {
            font-weight: 550;
            font-size: 14px;
          }
          p {
            font-size: 13px;
          }
          width: 450px;
          padding-bottom: 60px;
          .fix {
            p {
              margin-top: 0px;
            }
          }
          .left-up {
            left: 11%;
            top: 33.5%;
          }
          .left-down {
            left: 12.5%;
            bottom: 28%;
          }
          .right-up {
            right: -15%;
            top: 31%;
            width: 120px;
          }
          .right-down {
            right: -5%;
            bottom: 30%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .my-menu {
    margin: 20px 0 25px;
    width: 100%;
    .menu-item {
      height: 36px;
      p {
        font-size: 13px;
      }
    }
  }
  .content {
    margin-top: 5px;
    width: 94%;
    margin-left: 3%;
    .level {
      .level-left {
        padding: 20px;
        flex-direction: column;
        .avatar {
          width: 100%;
          height: 70%;
          img {
            width: 335px;
          }
        }
        .text {
          width: 100%;
          height: 30%;
        }
      }
      .level-right {
        padding: 20px 10px 20px 10px;
      }
    }
    .how-to-reach {
      margin-top: 30px;
      .image {
        height: 300px;
      }
      .how-title {
        font-size: 20px;
      }
      .first-row {
        height: auto;
        .text {
          height: auto;
          .rank-text {
            padding: 40px 10px 40px 10px;
          }
        }
      }
      .second-row {
        height: auto;
        .text {
          height: auto;
          .rank-text {
            padding: 40px 10px 40px 10px;
          }
        }
      }
    }
    .dividend-section {
      .dividend {
        flex-direction: column;
        .dividend-right {
          height: auto;
          width: 100%;
          padding: 0px 10px 0px 10px;

          .circle-content {
            flex-direction: column;
            .circle {
              width: 100%;
              .circle-image {
                margin: 0 auto;
              }
            }

            .circle-text {
              height: auto;
              width: 100%;
              text-align: center;
              padding: 0px 30px 0px 30px;
              p {
                font-size: 12px;
              }
            }
          }
          .want-more {
            margin-top: 20px;
          }
        }
        .dividend-left {
          height: auto;
          padding: 20px 20px 20px 20px;
          width: 100%;
          border-right: none;
          border-bottom: 1px solid #333333;
        }
      }
      .token {
        height: 450px;
        padding-bottom: 20px;
        h2 {
          font-size: 15px;
          padding-top: 50px;
        }
        .token-content {
          height: 300px;
          img {
            width: 60%;
          }
          h3 {
            font-weight: 550;
            font-size: 14px;
          }
          p {
            font-size: 13px;
          }
          width: 320px;
          padding-bottom: 100px;
          .fix {
            p {
              margin-top: 0px;
            }
          }
          .left-up {
            left: 12%;
            top: 23%;
          }
          .left-down {
            left: 12%;
            bottom: 15%;
          }
          .right-up {
            right: -24%;
            top: 15%;
          }
          .right-down {
            right: -15%;
            bottom: 18%;
          }
        }
      }
    }
  }
  .page-info {
    box-sizing: border-box;
    flex-wrap: wrap;
    .text-info {
      box-sizing: border-box;
      flex-basis: 100%;

      max-width: 80%;
      order: 3;
      margin: 0 auto;
    }
  }
  .back {
    box-sizing: border-box;
    padding: 0 10px;
    flex-basis: 23%;
    order: 1;
  }
  .bonus-info {
    flex-basis: 70%;
    order: 2;
  }
}
@media screen and (max-width: 450px) {
  .content {
    .dividend-section {
      .token {
        height: 400px;
        padding-bottom: 20px;
        h2 {
          font-size: 15px;
          padding-top: 50px;
        }
        .token-content {
          img {
            width: 60%;
          }
          h3 {
            font-weight: 550;
            font-size: 14px;
          }
          p {
            font-size: 13px;
          }
          width: 200px;
          margin-bottom: 40px;
          .fix {
            p {
              margin-top: 0px;
            }
          }
          .left-up {
            left: 15%;
            top: 28%;
            width: 100px;
          }
          .left-down {
            left: 17%;
            bottom: 18%;
            width: 100px;
          }
          .right-up {
            right: -45%;
            top: 24%;
            width: 100px;
          }
          .right-down {
            right: -45%;
            bottom: 26%;
            width: 100px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 16px;
  }
  .divident-pool-info {
    flex-direction: column;
    .panel-item {
      margin: auto;
      width: 90%;
      margin-bottom: 50px;
      .img-holder {
        order: 2;
      }
      .text-holder {
        order: 1;
      }
    }
    .divident-text {
      margin: auto;
      width: 90%;
    }
  }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 630px) {
  .divident-pool-info {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
  .my-menu {
    flex-wrap: wrap;
    width: 80%;
    left: 10%;
    .menu-item {
      width: 100%;
    }
  }
  .divident-pool-info {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
}

@media only screen and (max-width: 400px) {
}

@media screen and (min-width: 2300px) and (min-height: 1300px) {
  p {
    font-size: 19px;
  }
  h1 {
    font-size: 39px;
  }
  h5 {
    font-size: 24px;
  }
  .page-info {
    .back {
      padding: 0 30px;
      min-height: 160px;
      p {
        line-height: 20px;
        margin-bottom: 32px;
      }
    }
    .back:hover {
      transform: scale(1.1);
    }
    .text-info {
      max-width: 1200px;
      margin: 0 35px;
    }
    .top-info {
      margin-left: 35px;
    }
    .bonus-info {
      width: 500px;
      min-height: 160px;
      h4 {
        font-size: 24px;
      }
      img {
        width: 65px;
        height: 65px;
      }
    }
  }
}
